[2020-11-07 11:24] shekhar-rajak commented on #485
Different hardware system  and system config can behave differently, not sure where to benchmark memory & time .

[2020-11-07 21:01] tcnghia commented on #166
@u2bo @MichaelCade I confirmed that `kind build node-image --type bazel` will work after bazelbuild/rules_docker#1155 is fixed. This is what I do:
1. checkout K8s source code at 1.19 or later.
2. apply these changes https://github.com/tcnghia/kubernetes/compare/master...tcnghia:use-arm64-rules-docker  (or you can also create a patched rules_docker yourself based on the change here  https://github.

[2020-11-08 04:57] sayboras opened #1919 "kind delete cluster didn't remove docker network"
Hi :wave:,

Just a question on `kind delete cluster` behavior. Currently, this command didn't remove docker network (e.g. kind), just curious what could be the reason. Thanks.

For your context, I am using kind extensively as part of local development. Few CNIs ( e.g. cilium, calico) make changes to networking stack, hence removing existing kind cluster without removing docker netwrok will leave s

[2020-11-08 05:05] sayboras commented on #1919
Further checking the code, it seems like multiple kind clusters will use the same `kind` network, so it's making sense not to remove :facepalm:.

[2020-11-08 05:05] #1919 closed

[2020-11-08 07:13] BenTheElder commented on #1918
/triage duplicate
/close
https://github.com/kubernetes-sigs/kind/issues/1300

[2020-11-08 07:13] #1918 closed

[2020-11-09 07:50] yashvardhan-kukreja commented on #1905
I would like to pick this up

[2020-11-09 07:51] yashvardhan-kukreja commented on #1905
/assign

[2020-11-09 07:52] yashvardhan-kukreja commented on #1905
@BenTheElder @aojea should I proceed working on this? Seems like a nice issue to me

[2020-11-09 07:54] yashvardhan-kukreja commented on #1905
I am thinking something on the lines of this:

[code]
Keeping the multiple images separated by commas

[2020-11-09 07:55] yashvardhan-kukreja commented on #1905
@SataQiu ,  I am thinking something on the lines of this, let me know if this look good enough to you:

[code]
Keeping the multiple images separated by commas

[2020-11-09 13:10] yashvardhan-kukreja commented on #1905
@SataQiu That's how the above PR will add the functionality:

**Usage:**
Provide multiple images as comma-separated or just provide a single image without commas **(backwards compatibility)**

- Multiple image names provided (all images present locally):
[code]
- Multiple image names provided (all images are not present locally):
[code]
- One image name provided without commas (backwards compatibi

[2020-11-09 18:23] csantanapr commented on #1918
Hi @BenTheElder I just found out that `--config` can take stdin
It would be good to add this to the help, it only indicates a file path
[code]

[2020-11-10 08:07] u2bo commented on #166
@tcnghia
follow your config and get some error build field
[code]

[code]

[2020-11-10 09:02] u2bo commented on #166
@tcnghia use your config build and get some error. it's sames like kubelet file not output ?
[code]

[2020-11-10 17:49] BenTheElder commented on #1918
I haven't seen this explicitly mentioned in similar tools (e.g. kubectl
create -f) ... 🤷‍♂️
If there's a good pattern for this with examples, PRs welcome.
Otherwise expanding upon this in
https://kind.sigs.k8s.io/docs/user/configuration/ might be a good place.

On Mon, Nov 9, 2020 at 10:23 AM Carlos Santana <notifications@github.com>
wrote:

[2020-11-10 18:33] shreyagr opened #1921 "Getting logs out of the kind cluster or on a node"
Hi,

I have been using kind for some time now to be able to  create clusters locally. Now I have a ton of logs that multiple services i deploy to kind log. I want these Console logs to be streamed out of the cluster somehow. Is there any solution for this?

Some way to possibly create a dump of logs on the host machine or even the kind node possibly?

[2020-11-10 19:00] tcnghia commented on #166
@u2bo I created a `.travis.yml` here to build the node image https://github.com/tcnghia/playground/blob/master/.travis.yml . If you like you can clone that file and add a step to push the built image to your own repository.  Obviously, this isn't officially supported.

@vielmetti I've sent PR https://github.com/bazelbuild/rules_docker/pull/1671  to rules_docker.  Once that merges & releases, if yo

[2020-11-10 22:21] BenTheElder commented on #1921
`kind export logs` will dump the logs (check `kind help` for more commands, or see our docs...)

streaming log options are not going to be kind specific, there are loads of logging agents for kubernetes, most of them should work fine with kind if  you want to use one.

[2020-11-10 22:21] #1921 closed

[2020-11-10 22:22] BenTheElder commented on #1699
https://github.com/kubernetes/kubernetes/pull/95382

[2020-11-11 03:16] u2bo commented on #166
thanks very much. can you share your image?

[2020-11-11 06:18] tcnghia commented on #166
@u2bo docker.io/tcnghia/kindest-arm64-node:1.19.3 should work

[2020-11-11 10:05] ormergi opened #1922 "etcd timeout errors on DinD setup using Prow"
**What happened**:
We use KinD with DinD setup using Prow on our CI environment for end-to-end tests with Kubevirt.
And occasionally encounter `etcdserver: request timed out` errors when we try to create
a cluster object (e.g: CSR, Secret, Kubevirt VM)

We tried what suggested on this issue https://github.com/kubernetes-sigs/kind/issues/717 which also suggests to increase `fs.inotify.max_user_watc

[2020-11-11 10:09] oshoval commented on #1922
Please see
https://github.com/kubernetes/kubernetes/issues/70082#issuecomment-433604939
I suspect our HD is slow

[2020-11-12 03:10] vielmetti commented on #166
Bazel's rules_docker has been updated, at https://github.com/bazelbuild/rules_docker/pull/1671 Thanks @tcnghia for that update. That PR is not in the 0.15.0 release of November 2, 2020, but I'd expect it to land in 0.15.1 whenever that comes out. The rules_docker releases are at https://github.com/bazelbuild/rules_docker/releases

I'll need some help navigating kubernetes/kubernetes to get this up

[2020-11-12 04:51] tcnghia commented on #166
Thanks @vielmetti. The main issue I saw when trying to build with latest rules_docker is the latest breaking change from rules_python, which rules_docker depends on.

@BenTheElder I could send a PR for a Travis workflow to build for arm64 (and may be s390x) node images without cross-building. Would that be useful? I believe Travis is free for OSS up to a quota. Also, can you please add references

[2020-11-12 07:25] aojea commented on #166
https://github.com/kubernetes/community/pull/5300

[2020-11-12 21:49] BenTheElder commented on #1922
you can try the hacks outlined in https://github.com/kubernetes-sigs/kind/issues/845

you should also check #303 as a general rule when trying to do kind in kubernetes, but disk speed is probably just your host. etcd is pretty I/O bound.

[2020-11-13 00:28] #1892 closed

[2020-11-13 01:18] BenTheElder commented on #1891
Had a lot going on, haven't really been developing for a bit, some time away / distracted, code reviews ...

Anyhow, I took a look at this once I started developing again, and it's https://github.com/kubernetes-sigs/kind/pull/1818/commits/17a322c21a12d46b66906071a1c8c2eff48a2d49#r522547960

PR coming. Sorry about that.

[2020-11-13 02:03] BenTheElder commented on #1922
Note that kind's own CI runs in DIND on Prow. We run on fast GCE PD SSD nodes though (because all of CI does, for better build performance etc.).

Based on related issues: https://github.com/etcd-io/etcd/blob/master/Documentation/faq.md#what-does-the-etcd-warning-apply-entries-took-too-long-mean

Even if your disk is itself fast enough for etcd., it may not be fast enough if you run N binpacked ki

[2020-11-13 02:03] #1922 closed

[2020-11-13 08:10] #1891 closed

[2020-11-13 14:15] yashvardhan-kukreja commented on #1574
I would like to take this up, as there doesn't seem any PR resolving/referencing to this issue.

[2020-11-13 14:15] yashvardhan-kukreja commented on #1574
/assign

[2020-11-13 15:22] neolit123 commented on #1574
Note that the kubelet will not allow a node to self apply node-role labels if the NodeRestriction admission plugin is running.

[2020-11-13 15:45] yashvardhan-kukreja commented on #1574
Yes, I have dealt with that.
the labels are being applied by the control plane node only.

[2020-11-13 18:47] howardjohn opened #1927 "Random failures of `kind` command"
This is a very, very rare problem, but I figured I would open anyways

**What happened**:

Ran this command
[code]

It failed.

Build logs: https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1327320345169891328#1:build-log.txt%3A151

**What you expected to happen**:

Cluster creation succeeds. If does need to fail, it should emit some logging

**How to reproduce it (as mi

[2020-11-13 19:00] howardjohn commented on #1927
[code]

Looks like it dies in 100ms or so

Its plausible, but I am not sure what would be doing this. Any idea to get more visibility here?

[2020-11-13 19:03] BenTheElder commented on #1927
Possibly the init system in either your dind setup or the host, IIRC Kubernetes will only kill a pod not one process but those could kill a process. You could check the system logs (dmesg etc.) if you can get onto the machine.

----

I mean if you trace the binary at -v 9 it should not be possible to run without any output even if an error is encountered, a returned error would be logged, and a pa

[2020-11-13 20:08] howardjohn commented on #1927
Oh we are actually for what its worth this is on 0.9.0, I ran the command in the wrong env

[2020-11-13 20:54] BenTheElder commented on #1891
In theory this is actually fixed at head ... `make build && bin/kind create cluster`

[2020-11-15 18:57] ormergi commented on #1922
Hi Ben,
Thanks so much for responding :)

The disks on our CI nodes running healthy, no SSD though.
Is it possible to fetch etcd metrics directly form etcd pods so we could get more details?

This is great! we are defiantly going to try that.
So if I understand correctly we need to patch kind-config.yaml and mount in memory `emptyDir` on the Prow job pod yaml?
Is there something we need to configu

[2020-11-15 18:58] BenTheElder commented on #1905
As discussed in the PR, the original request usage is for multiple arguments, which seems the most obvious and idiomatic way to handle this. In general something like this should be preferred over in-band signaling cramming multiple things into one argument.

I don't see a compelling reason for the images to be contained in a single argument.

[2020-11-15 19:10] BenTheElder commented on #1922
Healthy or not, they may not have enough IOPS / throughput for N clusters / builds / ... at once. This is a fairly common problem with prow, versus a build environment where you have one job to a machine (e.g. one jenkins runner per VM), when you bin-pack jobs/pods you can allocate for CPU, RAM, disk space, ... but not I/O.

You should be able to curl the metrics endpoint I think.

That, or manage

[2020-11-16 19:46] BenTheElder commented on #1922
Should add: if in-memory etcd is the successful route for you, please let us know. We're considering what a native feature for this and other "no persistence but faster" storage hacks might look like.

[2020-11-17 08:49] dblas opened #1928 "Multi machines kind cluster"
Hello all,
I didn't find exactly what I'm looking for in the issues.
I saw the complex network documentation as a draft but that didn't answer my question and I wonder why there is no trial at all on this subject. Or, is it so obvious that any one considers it useless to talk about it?

What's about configuring kind's nodes that spread over several physical machines as we use to do it with a class

[2020-11-17 20:16] AkihiroSuda opened #1929 "[Podman] cluster cannot be created due to `create session key: operation not permitted`"
**What happened**:
`$ sudo -i KIND_EXPERIMENTAL_PROVIDER=podman ~/gopath/bin/kind create cluster` failed

**What you expected to happen**:
It should work

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

**Anything else we need to know?**:

It works fine with Docker.

**Environment:**

- kind version: (use `kind version`):  `kind v0.10.0-alpha go1.15.5 linux/amd64`

[2020-11-17 21:53] BenTheElder commented on #1929
cc @amwat @aojea

[2020-11-17 21:56] BenTheElder commented on #1928
There are lots of other kubernetes deployment tools, kind is built for creating local test clusters. Currently multi-machine is just completely out of scope for the use case.

If you want a multi-machine production deployment there's plenty of mature options in SIG Cluster lifecycle (e.g. kops),

[2020-11-17 21:56] #1928 closed

[2020-11-17 21:57] BenTheElder commented on #1928
also kind is also *not* intended to be production grade :grimacing:
https://kind.sigs.k8s.io/docs/user/configuration/#api-server

I would be extremely skeptical of "containerized" kubernetes in production regardless of the tool, but it is doubly not the intended use of this project

[2020-11-17 22:04] BenTheElder commented on #1929
sounds similar to https://github.com/kinvolk/kube-spawn/issues/326
/area provider/podman
also https://github.com/containers/podman/issues/7013#issuecomment-660646089 is interesting.

I don't currently have a podman development environment spun up, will punt to @amwat / @aojea for now.

[2020-11-17 22:50] aojea commented on #1929
@giuseppe @mheon does this rings a bell?

[2020-11-17 22:51] mheon commented on #1929
I have never seen that one before - I'm assuming this is with the `runc` runtime?

[2020-11-17 23:12] Danny-m08 opened #1930 "Allow docker runtime option"
**What would you like to be added**:
Would it be possible for an option that would allow the user to use docker container runtime as the kubernetes container runtime as opposed to CRI?
**Why is this needed**:
I think this would be useful in avoiding the additional overhead of loading images on the the cluster container. If we can mount the docker.sock to the cluster then it should have access to t

[2020-11-17 23:23] BenTheElder commented on #1930
It won't work, which is why it's not implemented. The runtime needs to be "in the node".

- kubelet must have a consistent filesystem view with the runtime
- kubelets (plural) cannot share a runtime (so you'd only have one cluster and no multi-node)

Once we're shipping it within the node, you're not using the one on the host, so we run the one that works best for us as a provisioning tool. As an

[2020-11-17 23:23] #1930 closed

[2020-11-17 23:25] BenTheElder commented on #1930
In the future the recommendation instead of loading is a local registry. We're also going to roll out some other optimizations to loading for those that still use loading (like load multiple images at once natively, maximum deduplication).

If you want a cluster running on the host machine without containerization you can just use `kubeadm`, but to ship containerized kubernetes we cannot use the h

[2020-11-17 23:26] BenTheElder commented on #1929
Yes this is runc / containerd "inside" the "node" container.

[2020-11-18 15:26] hazelnutsgz opened #1933 "How to use local image when constructing .yaml file?"
The thing here is that I want to utilize the locally built image in my yaml file to create&deploy the pod. But I find that the kind master cannot read the docker images on my host machine.(ErrImagePull), I was wondering how to make ```kind``` be aware of the local image on the disk of host machine.

Thanks.

[2020-11-18 17:01] BenTheElder commented on #1933
Basically we can't share the host filesystem but you can either use a local registry or https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

[2020-11-18 17:01] #1933 closed

[2020-11-18 17:48] marshtompsxd opened #1934 "How to bypass `kind-external-load-balancer` and send req directly to apiserver in HA mode?"
Hello Kind developers!
I am using a HA kind cluster and I want to send create/get/list req to some **specific** control plane node (for some testing purpose) **bypassing the load-balancer**.
My cluster has 3 cp nodes and 2 worker nodes:
[code]

and there is also a `kind-external-load-balancer` in my cluster:
[code]
And here is what I get when using `kubectl get nodes`
[code]

I used `client-go` to

[2020-11-18 18:11] BenTheElder commented on #1934
#### A bit about kind api server networking:

If your test is running inside docker or the cluster you can access the nodes via `node-name:6443`

If you're on the host, you may need your own proxy process / container if you're on macOS / windows.
If you're on linux, the node IPs are reachable directly, and the api-server is on 6443 on each.

----

In what way ...? As in you can't reach these addre

[2020-11-18 18:13] BenTheElder commented on #1934
The loadbalancer is a totally seperate non-kubernetes process. It can't enforce anything.

It sounds like what you're saying is client-go is using the KUBECONFIG configured server endpoint anyhow, in which case this is really a client-go question and I don't know the answer, I always configure this via KUBECONFIG or in cluster credential, not like this.

If this is in fact a client-go question, yo

[2020-11-18 18:20] marshtompsxd commented on #1934
Hello @BenTheElder . Thank you for the reply.

I am running the client on MacOS.

This is what I did.
I print some logs in the `Create`, `Delete`, `Get` method in `k8s.io/apiserver/pkg/storage/cacher/cacher.go` liek below:
[code]
I assume that these methods are the real handlers for the create/delete/get requests.
Then I use the clients connected to cp1 to create/delete/get the `demo-pod` and I th

[2020-11-18 18:24] marshtompsxd commented on #1934
It seems to me that the client chooses to use the loadbalancer anyhow even if I specify the cp nodes.

[2020-11-18 19:33] BenTheElder commented on #1934
Your client must be getting that address from somewhere, you could edit the `server` field in a KUBECONFIG file / copy as an alternative.

https://github.com/kubernetes/client-go is the right issue tracker for client-go usage, kind isn't doing anything to your client.

[2020-11-18 19:33] #1934 closed

[2020-11-18 19:41] BenTheElder commented on #1543
this is in the registry guide but not in anything integrated yet.
it's always something ... right now investigating performance regressions in kubernetes startup. made some improvements but we took a bad hit since kind was started.

[2020-11-19 08:22] meyskens commented on #1718
/remove-lifecycle stale

[2020-11-20 19:24] vincepri opened #1938 "Consider using a default file path when --config="""
**What would you like to be added**:
Currently, when kind creates a cluster with `kind create cluster` and the `config` flag is not specified, or is an empty string, the code https://github.com/kubernetes-sigs/kind/blob/65a3f36d6d46e5469bc56573d8de68427da7d5b1/pkg/internal/apis/config/encoding/load.go#L36-L37 creates an empty Config and calls `SetDefaultsCluster`.

This is a good fallback for lots

[2020-11-20 19:28] BenTheElder commented on #1938
ooh this is a great bug haha.

do we know what client-go/kubectl do here? this makes sense to me but we do
try to match the behavior 1:1

On Fri, Nov 20, 2020 at 11:24 AM Vince Prignano <notifications@github.com>
wrote:

[2020-11-20 19:34] vincepri commented on #1938
If we follow the `--kubeconfig` example, we could default to an environment variable, instead of hardcoding a path based on some convention, that would allow the use case above and retain similarities with kubectl

[2020-11-20 19:44] BenTheElder commented on #1938
I had a brain fart and thought this was about KUBECONFIG for a second (I read this in my inbox only).. 🙃

This is an interesting idea

[2020-11-20 19:50] vincepri commented on #1938
Happy to contribute something after we reach some agreement on the outcome we'd like

[2020-11-21 01:45] BobyMCbobs opened #1939 "No DNS resolution with Kind running in rootful Podman"
**What happened**:
I'm running Kind in rootful Podman and am having issues pulling images.
It appears that there's no DNS working.

**What you expected to happen**:
- containers to be able to pull
- DNS to resolve

**How to reproduce it (as minimally and precisely as possible)**:
1. Bring up a Pod
[code]

2. Show Pod info
[code]

3. ping a domain from an existing Pod
[code]

4. ping an address fro

[2020-11-21 01:46] BobyMCbobs commented on #1939
/assign @aojea

[2020-11-21 23:01] aojea commented on #1939
I can' t reproduce it in my Fedora 32 and podman  podman 2.1.1.

[code]

 usual suspects are firewalld ot iptables mode
https://kind.sigs.k8s.io/docs/user/known-issues/#fedora32-firewalld

[2020-11-22 01:21] BobyMCbobs commented on #1939
@aojea, I installed a fresh copy of Fedora Silverblue 33 in Boxes.
Downloaded _kind_ (applied a setuid for root on it) and _kubectl_.
Brought up the cluster and went through the original steps in this ticket but was unable to replicate my issue.
I haven't tweaked any system settings.

It appears to be using _nftables_ also:

[code]

[2020-11-22 06:10] BobyMCbobs commented on #1939
OK I found the issue @aojea.

There's an interference with my _firewalld_ config.
After `systemctl disable --now firewalld`, things appear to be working now:

[code]

I'll review my _firewalld_ configuration.

[2020-11-22 07:46] BenTheElder commented on #1939
Sounds like https://kind.sigs.k8s.io/docs/user/known-issues/#fedora32-firewalld but with podman as well

[2020-11-22 09:52] aojea commented on #1939
/close
Thank for verifying ... _iptables and DNS... it's always iptables and DNS ..._ :rofl:

[2020-11-22 18:17] morozzArt opened #1941 "Multiple kind cluster on one host"
Hi! I'm trying an experiment. I want to run two kind on my laptop, but each kind must be in its own docker container. With this, I'm trying to simulate multiple hosts.

However, my clusters don't see each other (I can't ping from one to the control-plane other)

My steps:

1. create a Docker network 15.0.0.0/29
2. run two Docker containers on this network
3. attach to each container
4. Create a ki

[2020-11-22 19:36] BobyMCbobs commented on #1939
@BenTheElder

@aojea

Thank you for following up, I wasn't sure that this was a duplicate issue - sorry about that.

I switched to _iptables_ as per the _known-issues_ page. Working fine now!

[2020-11-23 19:57] BenTheElder commented on #1941
Do you mean that each kind node is a container (that's accurate), or are you trying to run kind inside docker in docker

If the latter, may I ask why? kind can create multiple clusters against one docker runtime (`kind create cluster --name=cluster2`), and you'll avoid a lot of headaches.

[2020-11-23 23:02] shinebayar-g commented on #99
Thanks for the links!

[code]

Can this configuration extended to support port range instead of 1:1 mapping?

Another question: Is `kubectl port-forward` working for anyone on WSL2? I cannot access anything even i started port forwarding..

[2020-11-24 08:08] morozzArt commented on #1941
Yes, docker in docker. For educational purposes only. My ultimate goal is to run two clusters under the control of istio.

Could you give me some tips on how to solve my problem, please?

[2020-11-24 19:51] BenTheElder commented on #1941
I highly highly recommend eliminating the docker in docker layer, it should be pretty superfluous but it's why they can't see each other.

If you create two clusters on one host without this they can see each other and you can run istio, the istio project does this in CI.

If you absolutely must keep the docker in docker layers, you'll need to configure the networks all the way down to the node (b

[2020-11-24 20:01] BenTheElder commented on #99
For new features please file a new feature request issue. My notifications are a tire fire and I can more easily triage open issues (looking through the issue tracker) than keeping up with all the discussions on closed issues (going through broken spammed to death kubernetes GitHub notifications)

Much of the format of the config is based on the kubernetes CRI API to give us a common featureset we

[2020-11-24 20:16] shinebayar-g commented on #99
Yeah, thanks for the response. On Linux NodePort should work without this right.. I'm on Windows .. so this was life saver.

[2020-11-26 06:22] rentseen opened #1943 "secret not generated after creating service account"
when I create a service account, with:
`kubectl create serviceaccount test`
and check it with:
`kubectl get sa/test -o yaml`
I got:
[code]
But it is expected to exist a secret, like described in [doc](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/):
[code]

Does any one know why? Maybe kind cluster won't start token controller by default?

[2020-11-26 21:25] voltbit commented on #1401
For example, testing a system that spreads and balances instances on multiple AZs/regions can lead to many nodes. To test a config with just 3 AZs and 3 nodes per AZ you get to a 10 node Kind cluster.

[2020-11-27 00:04] maxguru opened #1945 "[btrfs] Failed to create cluster with http://localhost:10248/healthz connection refused, timed out waiting for the condition"
**What happened**:
- cloned kind repo on Gentoo
- built and ran kind using `make build && bin/kind create cluster`
- control-plane failed to start

[code]

**What you expected to happen**:
- control-plane should have started

**How to reproduce it (as minimally and precisely as possible)**:
- `git clone git@github.com:kubernetes-sigs/kind.git kind-repo`
- `cd kind-repo`
- `make build && bin/kind c

[2020-11-27 02:22] AkihiroSuda commented on #1797
/remove-lifecycle stale

[2020-11-27 05:46] BenTheElder commented on #1945
Please check the known issues page in the docs.

You can obtain more logs for us to debug with `kind create cluster --retain` and then `kind export logs`.

Can you share `docker info`?

Basically from the logs so far we know API server didn't come up healthy. There are any number of possible causes. The only known kind bug is related to ZFS (should be fixed at HEAD) but there are known broken envi

[2020-11-27 05:52] BenTheElder commented on #1943
kind configures / bootstraps kubernetes with kubeadm, largely with defaults, it should generally exhibit default kubernetes behavior.

I'm not familiar with this controller.

[2020-11-28 08:09] rentseen commented on #1943
It behaves normally after I recreating a new cluster

[2020-11-28 08:09] #1943 closed

[2020-11-28 08:24] rentseen commented on #1943
Thanks a log, Ben.

It behaves normally after I recreating a new cluster : )

Before recreating cluster, I checked the args of apiserver and controller manager related to service account, but nothing weird found. Further more, I checked the log of controller manger and found some network problems, like:
[code]
Have no idea why, but problem is resolved anyway = =

[2020-11-30 03:54] infa-ddeore opened #1946 "import docker images from host machine first instead of downloading from internet every time"
**What would you like to be added**:
it looks like kind's docker image downloads k8 related docker images whenever it starts, instead can it get the image from host machine, if not found then download from internet? it will save bandwidth and also will be useful with slower or no internet connection

**Why is this needed**:
save bandwidth
useful with slower or no internet connection i.e. user will

[2020-11-30 04:08] BenTheElder commented on #1946
You can do this manually. It's not super feasible to do automatically just yet. In the future we may be able to do some magic with containerd mirrors. If it were feasible we'd be doing it already.

See previously:
https://github.com/kubernetes-sigs/kind/issues/1933
https://github.com/kubernetes-sigs/kind/issues/1930#issuecomment-729274124

[2020-11-30 04:09] BenTheElder commented on #1946
https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

[2020-11-30 04:09] #1941 closed

[2020-11-30 04:22] infa-ddeore commented on #1946
thx for the quick reply, I do it manually now but not that great experience, will do the same until kind has something :-)

[2020-11-30 04:22] #1946 closed

[2020-11-30 20:12] BenTheElder commented on #1939
We might need to update the known issues page.

I'm pretty certain I have iptables-nft working on my corp workstation, but I'm not sure if firewalld etc. are involved actually. (it's dockerd on ~debian).

[2020-12-01 06:41] balibebas opened #1947 "Removal/Uninstall instructions"
**What would you like to be documented**:

How to uninstall.

**Why is this needed**:

Because I did a `brew uninstall kind` and I've still got clusters laying around when I restart my Docker engine.

[2020-12-01 06:47] balibebas commented on #1947
Fixed it:

[code]

Not sure if Homebrew supports hooks or whatever but it'd be nice to do some clean-up on uninstall. Also, as a passing observation, the CLI syntax of using `--name` flag to access clusters feels a little wonky. Would've preferred just entering the cluster name without the need to specify name when deleting a cluster, e.g. `kind delete cluster local`.

[2020-12-01 06:47] #1947 closed

[2020-12-01 06:47] BenTheElder commented on #1947
you can use normal docker cleanup tools (e.g. delete containers) or the more convenient ~ `kind delete clusters --all && docker network rm kind`

[2020-12-01 06:49] BenTheElder commented on #1947
I agree, but it's even wonkier to retrofit later. The pattern comes from `kubectl --namespace`, `minikube --profile`, etc.
Allowing other commands like `kind load docker-image` to default the name while also allowing specifying it is easier with the `--name` flag versus an argument (how would that work??).

FWIW we also support setting `KIND_CLUSTER_NAME` currently instead if you just want to spec

[2020-12-01 06:51] balibebas commented on #1947
It's all good. I find the `kubectl -n` syntax a little wonky too. But I'm sure it's there for a reason. 😸

[2020-12-01 06:55] BenTheElder commented on #1947
er, and:

@cblecker contributed the homebrew packaging (hi christoph! thanks again!), I'm not super familiar with this either, or how idiomatic that would be in homebrew.

That said, it's not too different to cleanup from other tools using docker, usually you'd do e.g. `docker compose up` ... `docker compose down`, I sort of doubt uninstalling e.g. compose tears down all running environments. And

[2020-12-01 07:40] aojea commented on #1939
hi @BobyMCbobs , I just found your blog https://blog.calebwoodbine.com/kind-on-fedora-33/ and I KIND should be independent of the iptables backend, it should work for iptables-nft (nftables) and iptables-legacy,.
Previous issues were with docker, because it is incompatible with firewalld as you can see in the known issues

https://kind.sigs.k8s.io/docs/user/known-issues/#fedora32-firewalld

But if

[2020-12-01 11:24] aojea commented on #1929
podman 2.1.1 works for me
Testing podman from master fails due to this https://github.com/containers/podman/issues/8444
[code]
, but it goes through the phase

✗ Starting control-plane 🕹️

@AkihiroSuda is it possible that the failure is related to use cgroupsv2?

[2020-12-01 19:42] BenTheElder commented on #1895
Mirroring and/or switching registries going forward is still on the table. We can't do a mirror of existing imagds to k8s.gcr.io due to the promotion process and one tag one image though.

I've applied to the docker OSS program.

[2020-12-02 08:44] BobyMCbobs commented on #1939
@aojea,
Thank you for following up.

`iptables-legacy-save` output:

[code]

Finally `iptables-nft-save output` outputs:

[code]

A fresh [Fedora Silverblue 33 ISO](https://download.fedoraproject.org/pub/fedora/linux/releases/33/Silverblue/x86_64/iso/Fedora-Silverblue-ostree-x86_64-33-1.2.iso) will render the same results to my testing. Set up is same instructions as my post and the steps in this

[2020-12-02 08:48] aojea commented on #1939
@dcbw @squeed it seems that the cni plugins are using the legacy iptables instead of the nft version, that is the same one used by firewalld, causing the environment to fail ^^^
Do the CNI plugins check the iptables version to use? how can we sync it with firewalld?

[2020-12-02 09:51] squeed commented on #1939
Hmm. CNI binaries just use whatever `/bin/iptables` they find - how are you packaging them?

[2020-12-02 09:58] BenTheElder commented on #1939
does firewalld use iptables-nft? or just nft directly?

kind is doing ~the same update-alternatives trick from kube-proxy, counting
the rules in iptables and iptables-nft and selecting the one with the most
rules.

*docker* injects rules inside the container using the host iptables.
podman I have no idea, but I'm guessing it doesn't do that, so we don't
have anything to go on and default to legacy

[2020-12-02 11:08] aojea commented on #1939
They CNI plugin package come from fedora repos, podman just use them for the network iirc

[2020-12-02 12:12] prankul88 opened #1949 "Show Timestamp of created kind cluster"
**What would you like to be added**:
Would be helpful if `kind get clusters` can show the age of the created cluster. / Or we can add an option like `-o wide` to get more info.

For eg like,

[code]

**Why is this needed**:
This can provide a better experience to the end user.

Note: Apologies if I might be missing something if this thing can be acheived through some other command.

[2020-12-02 15:17] hawk29 commented on #1740
I am sorry but a newbie question. I have come across the same issue using docker-desktop. I have downloaded and installed the latest docker-desktop but to no avail. Is there a release where this will be embedded for end-users or do we have to compile on our own?
Client:
 Debug Mode: false
 Plugins:
  scan: Docker Scan (Docker Inc., v0.3.4)

Server:
 Containers: 86
  Running: 80
  Paused: 0
  Stopp

[2020-12-02 17:54] BenTheElder commented on #1945
Will reopen when we have more details. As-is this is not actionable for ~one week now.
Sorry for your trouble. If you get time again sometime please share more debug logs and environment details.

[2020-12-02 18:50] BobyMCbobs commented on #1939
@BenTheElder, here's the _FirewallBackend_ section from my _/etc/firewalld/firewalld.conf_ file

[code]

However, there isn't an _nftables_ program installed - so I believe it's using _iptables-nft_ since it's installed

[2020-12-02 20:02] raphaelauv opened #1950 "failed to generate kubeadm config content: failed to get kubernetes version from node: file should only be one line, got 2 lines"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
run
[code]

**Environment:**
kind v0.9.0 go1.15.5 linux/amd64
docker 19.03.14
ubuntu 20.04.1 LTS

Thank you

[2020-12-02 20:05] #1950 closed

[2020-12-02 20:06] BenTheElder commented on #1950
you can get the fix now by cloning kind from master and running `make build`, then `bin/kind` will be the updated binary, which you can place into path etc.

there's also a `make install` target, but it mostly works well if you have `$GOPATH/bin` in your `$PATH`.

[2020-12-02 20:47] raphaelauv commented on #1950
thank you

[2020-12-02 21:49] s3rj1k opened #1951 "Docker support is deprecated in k8s 1.20, how does this affect Kind?"
Docker support in the kubelet is now deprecated for k8s 1.20, how does this affect Kind?

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#deprecation

[2020-12-02 21:52] BenTheElder commented on #1951
It doesn't affect KIND at all, the nodes run containerd inside docker, if you're using KIND you've already tested not using dockershim.

[2020-12-02 21:55] BenTheElder commented on #1951
basically we can run kubernetes *in* docker without running kubernetes *on* docker, and we already do 🙃

[2020-12-03 01:11] BenTheElder commented on #1951
https://github.com/kubernetes-sigs/kind/pull/1952

[2020-12-03 01:12] BenTheElder commented on #1951
https://kind.sigs.k8s.io/ done

[2020-12-03 01:12] #1951 closed

[2020-12-03 02:45] BenTheElder commented on #1939
Discussed more with Antonio -- There's two potential issues here:
- We need everything on the host to line up and use `iptables-legacy` or `iptables-nft` (this is hopefully "just" a configuration issue on your machine)
- Once the host is lined up, the node tries to detect which to use, but podman isn't writing any rules (reasonably) so we don't currently detect what the host is using and default t

[2020-12-03 06:18] maxguru commented on #1945
I'm sorry for the delay.

I looked at known problems but I don't see anything immediately obvious.

The `docker info` info seems to be already dumped with `kind create cluster --retain`.

See [345396429.tar.gz](https://github.com/kubernetes-sigs/kind/files/5634024/345396429.tar.gz).

[2020-12-03 07:33] BenTheElder commented on #1945
It looks like you're running on btrfs, I'm not surprised to see that isn't working.

Kubernetes etc. are rarely used on these COW filesystems versus overlayfs on e.g. ext4.

and indeed there's a rather large panic in the `kubelet.log` starting with:

[2020-12-03 07:41] BenTheElder commented on #1945
We do make a best effort to support it, but I don't think any of the maintainers use btrfs / have a test env handy and Kubernetes CI definitely doesn't run on it.

https://github.com/kubernetes-sigs/kind/commit/d198c7af5b12176c97408c46ee74e4baece4638f

I thought this was sufficient, apparently not 😞

[2020-12-03 07:47] BenTheElder commented on #1945
Actually, it looks like we're not passing `/dev/mapper` based on the inspect.json in your log export so the check to mount that must be broken.

You can manually configure this as a possible workaround while we work on fixing the check.

[code]

like:
[code]

[2020-12-03 07:58] BenTheElder commented on #1945
Did you configure docker at all? It's really strange that you have storage driver = overlay2 while backing filesystem = btrfs.

https://docs.docker.com/storage/storagedriver/select-storage-driver/#supported-backing-filesystems

btrfs : btrfs is supported, overlay2/overlay support xfs, ext4.

The overlay2 but actually btrfs is tripping up our check to mount /dev/mapper, but I'm surprised this is ev

[2020-12-03 08:48] daixiang0 opened #1954 "TokenRequest feature not enabled by default"
**What happened**:

TokenRequest feature does not work.

[code]

**What you expected to happen**:

TokenRequest feature works.

**How to reproduce it (as minimally and precisely as possible)**:

- enable TokenRequest feature with following config:
[code]

- refer to https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/examples/kubernetes/README.md

- the agent is failed:
[code]

[2020-12-03 09:02] daixiang0 commented on #1954
Easily use this to test:
[code]

[2020-12-03 09:21] BenTheElder commented on #1954
This is due to kubeadm defaults IIRC. We could enable it but we'd be deviating from the defaults which we usually don't do.

https://github.com/istio/istio/blob/e02690fbfb8bda564582b27d22d9e8e6e00422a5/prow/config/trustworthy-jwt.yaml#L1-L13

[2020-12-03 09:27] daixiang0 commented on #1954
Why I do not see those configs at Kubeadm or Kubernetes side?

[2020-12-03 09:28] s3rj1k commented on #1951
@BenTheElder Great news. Thanks!

[2020-12-03 09:50] BenTheElder commented on #1954
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection (upstream docs mention you must set these flags)

regarding kubeadm see e.g.:
https://jpweber.io/blog/a-look-at-tokenrequest-api/
https://github.com/linkerd/linkerd2/issues/3260

[2020-12-03 09:54] BenTheElder commented on #1954
I had a brief discussion with @howardjohn about enabling this by default previously, but didn't get to following up with kubeadm upstream about if it makes sense to do there. cc @neolit123

[2020-12-03 15:13] howardjohn commented on #1954
I think I saw a pr about enabling this by default in kubeadm. Perhaps it's not merged or only in 1.20 though

[2020-12-03 15:17] neolit123 commented on #1954
hello,

normally features will get enabled in kubeadm by default when they graduate to Beta (feature gates' default values become "true" at that point). enabling Alpha features in kind by default before that may work, but i would not recommend it.

https://github.com/kubernetes/enhancements/issues/542

in the case of:

these features are already Beta so the above two lines are redundant.

for:

pr

[2020-12-03 15:37] neolit123 commented on #1954
ok, that is true. i confused bound vs non-bound tokens.
(the overall state of TokenRequest* features is confusing).

the flags mentioned here are required:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

kubeadm started adding these flags in 1.20, but we have no plans to backport this change to older releases after discus

[2020-12-03 17:27] BenTheElder commented on #1954
Do you have a link to the discussion with sig-auth?

Even if kubernetes won't cherry pick it, I'd be interested in understanding
exactly why, so we can consider "backporting" some consistent flags in kind
across versions. This one has come up pretty frequently with users.

On Thu, Dec 3, 2020 at 7:38 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-12-03 18:01] neolit123 commented on #1954
exactly why

the change to add the flags to kubeadm was made in here for 1.20:
https://github.com/kubernetes/kubernetes/pull/93258
the same PR moved TokenRequest and TokenRequestProjection to GA.

this PR (planned for .21, moves BoundServiceAccountTokenVolume to Beta) also has related discussion around usage and upgrade:
https://github.com/kubernetes/kubernetes/pull/95667

while TokenRequestProjec

[2020-12-03 18:15] BenTheElder commented on #1954
kind only supports kubernetes 1.13+* at the moment, so we could set the flags in kind config consistently across all versions. Even if it is a "breaking change" it would be one when upgrading kind rather than when choosing kubernetes version, so that's fine given we're still alpha at the moment.

I've gotten more pings about this feature than most, they're just scattered. Interest is increasing as

[2020-12-03 18:19] BenTheElder opened #1956 "document using tls certs to authenticate image pulls"
**What would you like to be documented**:

using a config patch like:
[code]

To enable authenticated image pull using certificates

**Why is this needed**:

Users were used to doing this with dockershim.

We should also look into enabling this better upstream, having a host dir would be convenient https://github.com/containerd/containerd/pull/4138/files#r402472668

[2020-12-03 18:19] howardjohn commented on #1954
FWIW Istio will either break or give a lot of warning messages if its not enabled, which may account for some demand

[2020-12-03 18:20] BenTheElder commented on #1956
This should go in https://kind.sigs.k8s.io/docs/user/private-registries/

see: https://kind.sigs.k8s.io/docs/contributing/getting-started/
/help
/good-first-issue

[2020-12-04 00:36] #1567 closed

[2020-12-04 00:47] maxguru commented on #1945
I'm a bit confused. Are we talking about btrfs storage driver or something else? Because my rootfs is btrfs. I didn't mess with changing the default storage driver in docker. So /var/lib/docker is on a btrfs formatted partition. I guess that's what 'backing fllesystem' means.

I've been running docker containers like this for a long time and didn't have any issues before. Should I move it to ext4?

[2020-12-04 00:52] BenTheElder commented on #1945
So usually when docker is on `btrfs` backing filesystem it will use the `btrfs` driver, or at least that's the documented behavior which kind is expecting. I'm trying to figure out if your system is configured otherwise or if docker's docs are misleading, I didn't expect to see overlay driver on btrfs.

If this is working fine we shouldn't make you change your environment config! We should improve

[2020-12-04 00:57] maxguru commented on #1945
My rootfs used to be ext4. I moved it over to btrfs a while back. I didn't realize I needed to change anything.

[2020-12-04 06:32] BenTheElder commented on #1945
Ohh interesting. This may have confused docker into using overlay on btrfs even though their docs don't show that to be supported. It seems it works though?

So we should maybe still alter the check in kind for auto-mounting /dev/mapper 😅

[2020-12-04 08:12] maxguru commented on #1945
Right, it was working fine for maybe a year except the issue with kind. I recreated /var/lib/docker and it seems to have switched to btrfs storage driver. Kind works now without the special config file.

[2020-12-04 16:52] liggitt commented on #1954
Other than the general policy not to backport features (which is a good policy), my main hesitation is that prior to 1.20, this was a beta feature. Would backporting the flags cause problems for someone setting up a GA-only clusters (like we do for the ga-only conformance job at https://github.com/kubernetes-sigs/kind/blob/master/hack/ci/e2e-k8s.sh#L120-L121)

[2020-12-04 19:28] BenTheElder commented on #1954
Good point.

Worst case though we'd set the flag again to empty/unset via a patch in the GA-only mode to clear it (IIRC kubeadm has these as a map, so last patch will win and be the only flag definition).

OTOH, 1.20 is almost here, we've been discussing shipping a kind release immediately following so the default cluster at least would pick this up anyhow.

[2020-12-04 19:33] BenTheElder opened #1961 "document loadbalancer"
**What would you like to be documented**:

It's possible to use a loadbalancer rather effectively on linux by installing metallb.

On mac/windows we should explain the limitations (namely that you can't currently access it cleanly from the host due to docker containers not being routable, only via port forwards), and point to alternatives (like the ingress guide).

It may also be useful to have a

[2020-12-04 19:36] BenTheElder commented on #1961
We have a link in https://kind.sigs.k8s.io/docs/user/resources/#how-to-use-kind-with-metalllb currently, but we should get something upstream and vet that it works with current kind + metallb

cc @mauilion

Also check this out https://www.thehumblelab.com/kind-and-metallb-on-mac/ !
This trick should probably be in there .. cc @ codyde

[2020-12-05 03:05] balibebas commented on #411
Docker for Mac users can use TapTun with MetalLB.

[2020-12-05 03:06] balibebas commented on #411
Docker for Mac users can use TapTun with MetalLB. Here's an example that we know still works on macOS as of at least Catalina: https://github.com/AlmirKadric-Published/docker-tuntap-osx

[2020-12-05 03:10] balibebas commented on #411
Docker Desktop on macOS users can use TapTun with MetalLB. Here's an example that feedback shows still works on macOS as of at least Catalina: https://github.com/AlmirKadric-Published/docker-tuntap-osx

[2020-12-05 03:14] balibebas commented on #411
Docker Desktop on macOS users can use TunTap with MetalLB. Here's an example that feedback shows still works on macOS as of at least Catalina: https://github.com/AlmirKadric-Published/docker-tuntap-osx

I've also seen some interesting solutions using `dnsmasq`. K3s with k3d also ships with its own load balancer which can be adjusted at cluster creation time and multiple clusters are supported.

[2020-12-05 12:25] BenTheElder commented on #411
see #1961, which also brings up tuntap.
we're going to start by writing down the existing options.

[2020-12-05 12:29] BenTheElder commented on #411
The k3d "loadbalancer" implementation ([1]) is more or less the same thing KIND is doing is doing in HA mode. You still need to manually specify port mapping at cluster creation time, which is more or less analagous to https://kind.sigs.k8s.io/docs/user/configuration/#extra-port-mappings

Without something like tuntap there isn't a good way to have arbitrary mappings at runtime on mac / windows, s

[2020-12-05 13:48] knabben commented on #1956
/assign @knabben

[2020-12-06 02:30] huoqifeng opened #1963 "Add resource awareness for node"
**What would you like to be added**:
Resources awareness of a container node comes from the host, it's not same as the resources limited by the cgroup. There is a PR tracked in `cadvisor` to discuss how to hack it https://github.com/google/cadvisor/pull/2699, I recently find a project `lxcfs` https://github.com/lxc/lxcfs which seems meet all the requirements.

**Why is this needed**:
With this imp

[2020-12-06 07:22] BenTheElder commented on #1963
It's not clear to me that lxcfs is actually a reasonable approach here, or that kind is a good approach to running things with serious resource management (e.g. most users probably have swap enabled which would ordinarily cause kubelet to refuse to run).

The system reserved approach seems possibly acceptable

[2020-12-06 12:40] balibebas commented on #411
I found a good tutorial for getting `EXTERNAL-IP` to assign dynamically from a.pool using MetalLB on Mac. It's using TunTap and works on macOS 11. Because Linux is (and should be) the primary development platform, this gives as least some reprieve to those feeling the pain on macOS: https://www.thehumblelab.com/kind-and-metallb-on-mac/

[2020-12-06 14:30] huoqifeng commented on #1963
I agree https://github.com/lxc/lxcfs did not handle SWAP precisely, and I agree kind does not serious depends on resources awareness today. But I think it's a good feature for users who use kind that he/she can also uses metrics server against kind cluster -- isn't it cool to experiment more functions on kind? Right, maybe, more options need be explored for right approach...

[2020-12-06 20:44] BenTheElder commented on #1963
Sure but *experimenting* is possible without agreeing to ship something in the project 😅

I commented upstream about another approach.

[2020-12-06 21:34] BenTheElder commented on #411
I haven't had a chance to try this yet myself but it looks good! Previously https://github.com/kubernetes-sigs/kind/issues/1961#issuecomment-738977020, also reached out to OP on twitter 😅

https://twitter.com/Codydearkland/status/1334946807202238464?s=19 🧵

I think at the very least this option needs to be referenced in our docs #1961

[2020-12-07 11:35] squeed commented on #1939
This is, sadly, a common battle in this world, since there is no kernel-level flag that indicates which mode of iptables is in use. The "official" API is: where does `/sbin/iptables` symlink.

When we need to run iptables in a container, we generally bind-mount `/` to `/host` and then chroot. We then patch things up in the dockerfile with a simple script.

For example, see https://github.com/opens

[2020-12-07 20:03] pohly commented on #1333
Did we agree to implement something which embeds a unique ID in a non-standard kubelet data directory? After the comment about loopfs I wasn't sure anymore.

As pointed out in https://github.com/kubernetes/kubernetes/issues/92664, the CSI tests must then be configured to use the modified data directory.

[2020-12-07 21:21] BenTheElder commented on #1939
Interesting approach, thanks. I'm not sure how comfortable I'd be having kind always bind mount `/` into the container ... 🤔

The kubernetes approach is pretty nice, but requires some existing rules of some sort in the namespace unfortunately 😞

[2020-12-07 21:55] squeed commented on #1939
I just realized this is all moot - we're talking about CNI plugins executed by podman on the real node to bring up the kind "node" containers. Not the CNI executed by containerd / cri-o inside the kind nodes.

Scanning the issue, I suspect it's because we have some bits inside the CNI plugins that tweak iptables, and the node in question has firewalld with raw nftables.  We support iptables-nft, b

[2020-12-07 21:55] BenTheElder commented on #1333
I think it's a bit of an awkward layering issue, but something we should probably still consider.
It's technically possible to do already via kubeadm config patches.

[2020-12-07 22:27] BenTheElder commented on #1939
Fedora seems to be pushing for firewalld / nft to be the default going forward, is there any hope for fixing this?

As is we point users to:
https://kind.sigs.k8s.io/docs/user/known-issues/#fedora32-firewalld
(should probably be renamed "firewalld nft" ...)

[2020-12-08 09:27] squeed commented on #1939
Definitely! We probably just need to teak the "default" CNI configuration used by podman.

[2020-12-08 11:29] mtaivalj opened #1966 "Kind 0.9.0 does not support docker volumes"
In kind tool codebase there is utility code making hostpaths absolute when external mounts are declared for kind nodes via configuration. This blocks using docker created volumes, which are easibly provisioned via e.g. docker-compose. Also it bounds the host for kind tool to the kind nodes making portability issues when host needs to be changed. Please implement support for docker volumes also in

[2020-12-08 12:01] msscaroso commented on #1949
/assign

[2020-12-08 12:06] msscaroso commented on #1949
/assign @msscaroso

[2020-12-08 19:12] pplanel opened #1968 "[zfs] [dupe] Timeout starting control-plane"
**What happened**:
cluster not created

**What you expected to happen**:
cluster created

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to

**Environment:**

- kind version: (use `kind version`):
`kind v0.9.0 go1.15.2 linux/amd64`

- Kubernetes version: (use `kubectl version`):
[code]
- Docker version: (use `docker info`):
[code]
- OS (e.g. from `

[2020-12-08 20:21] BenTheElder commented on #1968
Please provide more information per the bug template. We can't take any action just based on control plane startup timing out, this could mean any number of things are wrong with your host.

[2020-12-08 20:24] BenTheElder commented on #1966
yes

yes. This is not supported and was never supported.

No? You should use generally relative paths in your configuration, and then when the particular *container* is running _at runtime_ kind will resolve it to an absolute path, _because docker requires this_.

No, kind is intended to _leverage_ docker to create clusters. It's not intended to compete with docker compose.
The only reason kind ev

[2020-12-08 20:26] BenTheElder commented on #1966
They're called "[extra mounts](https://kind.sigs.k8s.io/docs/user/configuration/#extra-mounts)" for a reason, they are to support extra [bind mounts](https://docs.docker.com/storage/bind-mounts/).

You should not need volumes, and using volumes by absuing the way extraMounts is imiplemented is *not* supported in any version of kind.

[2020-12-08 20:28] BenTheElder commented on #1949
Please see the contributor guide https://kind.sigs.k8s.io/docs/contributing/getting-started/

In particular, we'd really appreciate a discussion of what this will look like and how it might be implemented etc. *before* sending a PR, so we can discuss what we'd like do here and how it will be supported before you spend a lot of time writing the code and we spend time trying to review it.

I think t

[2020-12-08 20:37] BenTheElder commented on #1966
The additional missing context: lack of support for relative paths in config in previous versions actually meant that your kind configs _were not_ portable, you had to do something like generate them with a script.

By adding the relative path resolution, this allowed you to have a static config in some repo for testing it that *is* portable because the paths in the config are relative.

see the o

[2020-12-08 20:38] BenTheElder commented on #1966
The relative path config is working as intended. However I'll keep an eye on this for comments as to why we might need a *different* feature with named volumes instead.

[2020-12-08 20:39] BenTheElder commented on #1954
@daixiang0 @howardjohn 1.20 comes out today, is updating kind to 1.20 sufficient for your needs?

[2020-12-08 20:48] aojea opened #1969 "Kubelet: invalid configuration: cgroup-root ["kubelet"] doesn't exist"
**What happened**:

Running a node-image built with kind `92f54895`, in github actions, using kind 0.9.0 makes kubelet fail to start with the following error:

Dec 07 19:16:44 ovn-control-plane kubelet[994]: goroutine 1 [running]:

**How to reproduce it (as minimally and precisely as possible)**:

I've tried to reproduced it locally without success:
[code]

The failing job with the errors and logs

[2020-12-08 20:48] pplanel commented on #1968
Okay, I edited the original post. thanks.

[2020-12-08 20:58] BenTheElder commented on #1968
ah, this is the ZFS bug, sorry about that.

you'll have to install kind from HEAD, we've got a patch for that in but not released yet.

clone the repo then from the repo run `make build` and then the binary is in `bin/kind`, you don't need any special tools installed, just bash/make/git. you can copy the binary into your path.

I don't know how arkade manages versions, but we'll have a release soo

[2020-12-08 20:59] BenTheElder commented on #1968
dupe of https://github.com/kubernetes-sigs/kind/issues/1719

[2020-12-08 20:59] #1968 closed

[2020-12-09 01:10] daixiang0 commented on #1954
@BenTheElder 1.20 is too new for me, i do not have a plan to upgrade it now, so I want docs with more details about those things.

[2020-12-09 08:04] Napoleon0621 commented on #1945
@BenTheElder Hi Ben,
I'm trying to create a multi-node cluster and had that same timeout error during "Joining worker nodes" stage.
It seems that it has less to do with btrfs, because I can successfully create a cluster with 5 nodes, but failed at larger scale, ex.10 nodes.
The error message is almost the same with maxguru's, except for I did had a time delay range from hundred ms to thousand ms.

[2020-12-09 08:45] Haim-Bi opened #1970 "After docker-windows restart extraPortMappings not binding"
**What happened**:
After install kind using kind create cluster  --config config.yaml
[code]

everything is working as expected.
once i restarted the KinD container or restarted docker-desktop
the ports are not bind anymore.

**What you expected to happen**:
The port will be bind as configured.

**How to reproduce it (as minimally and precisely as possible)**:
Create new KinD cluster with extraPor

[2020-12-09 09:50] msgNlswmr opened #1971 "nginx-controller "Pending": 1 node(s) didn't match node selector"
**What happened**:
Hello,

currently I'm learning kubernetes via kind and fail to setup an ingress controller. I use this tutorial as reference:
https://kind.sigs.k8s.io/docs/user/ingress/#using-ingress

In the end, I can't access the pods from localhost.

I assume the kubernetes object
https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/kind/deploy.yaml
doesnt

[2020-12-09 15:32] fentas commented on #1954
I would also rather stay close to our systems, which run 1.18

[2020-12-09 15:35] howardjohn commented on #1954
I am not sure what the problem is. If you want to stay close to your systems - this feature is not enabled by default in these versions either. If you are enabling this flag in prod why is it an issue to configure it in kind?

[2020-12-09 16:03] tao12345666333 commented on #1971
nodeSelector:
        ingress-ready: 'true'
        kubernetes.io/os: linux
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Equal

It has node selector and toleration, you can change it.

[2020-12-09 18:46] BenTheElder commented on #1954
@daixiang0 you can enable it with the config here: https://github.com/kubernetes-sigs/kind/issues/1954#issuecomment-737775492

If that's not sufficient kind would be willing to host a docs page about this feature. I can't speak for kubernetes.io and this is not their issue tracker 😅

John makes a good point. It is rather simple to enable the flags ...

[2020-12-09 18:51] BenTheElder commented on #1970
Can you debug more about what is and isn't working here?
Otherwise this just sounds like a bug in docker, kind is only responsible for telling docker to do the mapping, docker is responsible for actually binding ports 🤷‍♂️

[2020-12-09 18:52] BenTheElder commented on #1970
These are mapped to -p https://docs.docker.com/config/containers/container-networking/

This bug does not exist when using docker on other platforms as far as I can tell. I don't know that we can do anything about this here.

[2020-12-09 18:54] BenTheElder commented on #1971
Did you create your cluster following the config in the docs? It must have the correct label which requires the kind config.

cc @amwat

[2020-12-09 18:58] BenTheElder commented on #1945
@Napoleon0621 please file a distinct issue in the future so we can keep bug tracking organized.

If you're failing at a certain node count you likely just don't have enough resources to support this many. IOPs is one that frequently bites people that otherwise have plenty of ram and cpu. You can try putting etcd in memory (search the issue tracker) but eventually any machine will run out of IO and

[2020-12-09 19:06] Haim-Bi commented on #1970
It looks like after the docker-desktop restart, the pods up time is still counting like there was no reset. Is KinD keeps it persist?

After redeploy the pods again everything is working.

[2020-12-09 19:09] BenTheElder commented on #1970
Kind uses persistent storage for pods yes.

[2020-12-09 19:13] Haim-Bi commented on #1970
Thanks.
Redeploy my deployment fixed that for me.
I'm closing this issue.

Thanks very much!

[2020-12-09 19:13] #1970 closed

[2020-12-09 20:38] Sh4kE opened #1972 "Upgrading underlying kubernetes version"
Is there a way to update the kind cluster to a newer kubernetes version without losing all config?
I couldn't find anything in the docs concerning this.

I'm currently running the kindest/node:v1.19.1 and want to upgrade to kindest/node:v1.20.0

[2020-12-09 23:28] BenTheElder commented on #1972
Not natively, no. You can run a kubeadm upgrade across the nodes if you're connected to the internet and want to do some hacking, but this is not a supported feature.

The intention is for users to re-create the cluster and test software from a clean repeatable state, we optimize for cluster creation speed.

[2020-12-09 23:28] #1972 closed

[2020-12-09 23:48] BenTheElder commented on #1970
I wonder if the deployment is stuck in some other way such as using cached DNS results for the node IPs?
It's still possible something is broken here, but it's not clear _where_.

[2020-12-10 05:08] Haim-Bi commented on #1970
Yes agreed. I will continue investigating this.
And update once i got something.

Thanks

[2020-12-10 05:55] maxguru commented on #1945
I was able to bring up 10 node cluster without any issues myself.

[2020-12-10 08:08] BarrieShieh opened #1974 "Pull image shows dial tcp: lookup registry-1.docker.io on 172.19.0.1:53: no such host"
**What happened:**
Hi,
I use kind to create a local cluster. My machine is behind the proxy, and when I start a deployment, the pod logs shows that can not dial tcp: lookup registry-1.docker.io 172.19.0.1:53: on  no such host. I  have already set the env in /etc/systemd/system/docker.service.d/http-proxy.conf and /etc/systemd/system/docker.service.d/https-proxy.conf. I used minikube to create the

[2020-12-10 08:39] BenTheElder commented on #1974
if you pass proxy environment variables to `kind` binary it will correctly pass them to the node and handle them, we have to inject things to `no_proxy`, however even when we've done that we wouldn't be injecting dockerhub to no_proxy, that's up to you?

[2020-12-10 08:44] BenTheElder commented on #1974
you've set proxy settings *for the host docker* by configuring those files, but we need proxy configuration for the kind nodes and their *nested* container runtime.

when you run the `kind` command it reads the proxy environment variables and respects those, configure the nodes to respect those, with additional endpoints internal to the cluster added to no_proxy.

these environment variables seem

[2020-12-10 10:00] msgNlswmr commented on #1971
@tao12345666333 thanks for pointing out
@BenTheElder You got me therem, thanks! I was scrolling to fast.

[2020-12-10 10:00] #1971 closed

[2020-12-10 10:09] aojea commented on #1969
We have a repro and a job to test we don´t regress https://github.com/kubernetes-sigs/kind/pull/1965#issuecomment-742420305

[2020-12-10 14:20] BarrieShieh commented on #1974
Hi,
I want to use the proxy for the nested container, not bypass the proxy. Sorry for the confusing. Because the server in my company cannot connect to the Internet directly. Every traffic has to go through the HTTP proxy. So as the traffic in the nested container. So the no_proxy might not helping. Is there any documentation of how to configure nested container also using HTTP proxy to pull image

[2020-12-10 14:58] fentas commented on #1954
Ah, I understood this issue that enabling this feature gates within kind wouldn't work.
I also tried
[code]
and it didn't work.
But if it should work I'll dig deeper. : )

[2020-12-10 15:08] fentas commented on #1954
Interestingly enough `api-server` received the feature gate parameter
[code]

but I am still seeing
[code]

[2020-12-10 15:28] fentas commented on #1954
Ok did some digging around.
Found this: https://github.com/kubeflow/manifests/issues/959#issuecomment-593289634

[code]
is missing for this to work / tested manually and it worked. : )
Is there an easy way to say `kind` to set these for me? :+1:

[2020-12-10 19:46] BenTheElder commented on #1971
great! 😅

[2020-12-10 19:48] BenTheElder commented on #1974
You just need to set the environment variables when calling kind. I.E. in your shell.

the no_proxy is not causing this, it's set to no_proxy traffic between the internal components of the cluster.

[2020-12-10 19:51] BenTheElder commented on #1954
Yeah, the featuregate is not actually disabled for most versions (been in beta a while), but the feature requires setting these flags to *actually* function. The featuregate functionality in kind should work but isn't necessary here.

`kubeadm` only defaults to setting those flags in 1.20+, https://github.com/kubernetes-sigs/kind/issues/1954#issuecomment-737775492 has the kind config you need to p

[2020-12-11 03:30] BarrieShieh commented on #1974
Thanks for the tips. I used command `HTTP_PROXY=http://10.177.241.67:3128 HTTPS_PROXY=http://10.177.241.67:3128 kind create cluster --name staging --config ./kind_config`. And it's working. But for the internal traffic, it will shows 404 error like blueprint-prometheus-opera-prometheus does not exist.  I have to add no_proxy when I add a new services to the cluster, and add port mapping to the con

[2020-12-11 19:00] msscaroso commented on #1949
@BenTheElder  I think it is safe to assume `kind get clusters` should keep returning the same output as it is today, cause it is a breaking change and the benefits doesn't seem to justify the trouble of doing it.

So, apparently, formatting flags are the way to go.

Have you thought about it already? Any paths you'd like to explore?

@prankul88 idea `-o wide` is simple and makes sense to follow `k

[2020-12-11 19:05] BenTheElder commented on #1974
👍

Internal to the cluster? We inject no_proxy for all the things we can predict (like the service namespace, node IP range, pod IP range, service VIP range), but we can't predict your pod / service names. If you use a more qualified name it should match (e.g. `blueprint-prometheus-opera-prometheus.svc`) https://github.com/kubernetes-sigs/kind/blob/c4dd799081a105edf5b0e61ca9fd86c9fb83fbe2/pkg/clus

[2020-12-11 19:37] msscaroso commented on #1949
Maybe `kind get clusters -l`?

The current behavior isn't changed:
[code]

And then with the -l (long) flag:

[code]

(Still thinking about the flag design. I know you mentioned about discussing how it is going to be actually implemented, but I'm not there yet)

[2020-12-12 00:16] BenTheElder commented on #1969
This really doesnt make sense. `git diff HEAD..v0.9.0 -- ./pkg/cluster/internal/providers/docker/` is only network changes.

The image changed, yes. But changing kind binary versions shouldn't affect it, we basically haven't changed how we run nodes (except network setup) 🤔

[2020-12-12 00:17] BenTheElder commented on #1969
I've been comparing the container `inspect.json`s from the various CI results. Nothing shows up.

[2020-12-12 06:26] BenTheElder commented on #1969
I can't repro locally:
[code]

[2020-12-12 15:35] aojea commented on #1969
There are similar issues in kubernetes , it has to be related to groups

https://github.com/kubernetes/kubernetes/issues/75832
https://github.com/kubernetes/kubernetes/issues/49281
https://github.com/kubernetes/kubernetes/issues/92175

[2020-12-12 18:08] paolomainardi opened #1975 "coredns CrashLoopBackOff on Ubuntu 20.04"
**What happened**:

[code]

**What you expected to happen**:

Coredns should work.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
[code]
[code]

**Environment:**

- kind version: `kind v0.9.0 go1.15.2 linux/amd64`
- Kubernetes version:
[code]
- Docker version:
[code]

- OS:

[code]

[2020-12-13 00:37] BenTheElder commented on #1975
I run kind on ubuntu regularly, can you share the coreDNS logs and any details about your networking environment?

[2020-12-13 00:40] BenTheElder commented on #1969
those issues reference this flag but I'm not sure they're really related.

[2020-12-13 23:57] paolomainardi commented on #1975
Hi @BenTheElder sure, i guess it's something related to the network where i am attached, because in another network now is working fine, i have to double check it and i'll come back here.

[2020-12-14 06:02] garysdevil opened #1976 "Pod Pending,how to solve it"
kind v0.9.0 go1.15.2 linux/amd64

![image](https://user-images.githubusercontent.com/41293784/102045820-f07e2900-3e14-11eb-90aa-11ce5e8cbfd6.png)

![image](https://user-images.githubusercontent.com/41293784/102045860-04c22600-3e15-11eb-8250-b9742b411a90.png)

[2020-12-14 10:27] BenTheElder commented on #1976
I can't tell just from this. You'll have to debug more yourself.

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/

[2020-12-14 12:49] rosti commented on #166
Hi @BenTheElder & @munnerz , I created a patch over the weekend that adds the ability to generate a node image from the released k8s binary tar balls. Specifically, I wanted to avoid the need of recompiling Kubernetes on ARM just to generate a node image for kind clusters, but instead rely on the official binaries.

The workflow looks like this:
[code]

Are you folks interested in a PR?

[2020-12-14 16:17] aojea commented on #1975
Coredns can not have a loopback address as resolver or it will fail to run
https://github.com/coredns/coredns/issues/2391

[2020-12-14 16:18] alandixon opened #1977 "Documentation bug in "using-wsl2.md""
Sorry, not really a bug, but the best label fit available.

Documentation bug in kind/site/content/docs/user/using-wsl2.md
(https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/user/using-wsl2.md)

At the bottom of the document in the paragraph "Helpful Tips for WSL2"
Your proposed approach "wsl distro --shutdown" throws an error: "/bin/bash: distro: command not found".

<strike>Y

[2020-12-14 17:41] tcnghia commented on #166
@rosti your PR would close https://github.com/kubernetes-sigs/kind/issues/381 I believe

[2020-12-14 18:12] ormergi commented on #1922
Hi @BenTheElder
After we run with our KIND setup on CI with etcd in memory I can confirm that there is a significant improvement in the cluster overall performance and the time it takes for us to create it, etcd is healthy and we no longer see the `..operation took too long`  warnings in the logs.
Please let me know if I could help somehow with the native feature for this that you mentioned.

I wo

[2020-12-14 18:16] BenTheElder commented on #1977
Would you mind sending a PR? WSL2 support is fully community maintained, none of the maintainers are using it currently.

[2020-12-14 18:33] BenTheElder commented on #1975
@aojea good point, though that resolv.conf is inside the node container though, docker already does not pass through a loopback resolver from the host and the kind image is responsible for changing it to not-loopback* inside the container.

That shouldn't happen, but it's not clear why it happens.

[2020-12-14 20:31] BenTheElder commented on #1895
I totally misread this and then went OOO. I'm not clear if we should move forward on this approach, particularly these constraints:

[code]

Given kind does not currently even control a blog or press releases (versus the kubernetes project at large), the last two points here we should already be more or less compliant on.

On the plus side: I've not heard any user concern about this yet, which mig

[2020-12-14 22:05] rosti commented on #381
@BenTheElder should kind fetch files directly from the release tar? Isn't it more flexible WRT workflow and possible future changes (e.g. somebody decides to use xz instead of gzip, or the paths in the tar file change)?

I've got a patch implementing the following workflow:
[code]

But I can extend it to use the tar ball directly if you insist on that.

[2020-12-14 22:05] rosti commented on #381
/remove-lifecycle stale

[2020-12-14 22:06] rosti commented on #166
Thanks @tcnghia , moved the discussion over to #381

[2020-12-14 22:24] BenTheElder commented on #166
@rosti thanks -- I'd like to more generally re-do the UX for building node images to allow more control over the sources (and indeed have started on that), I'd be OK with this but only if people understood that it's a stop-gap measure and the interface *will* be changing. (`--type` was already going to quietly be removed as the result of upstream build changes 🙃 ).

Also, I'm not sure we'd release

[2020-12-14 22:27] BenTheElder commented on #381
I think most users are not going to want to even deal with wget and downloading isn't the challenging part.

They'll just want to specify a release or CI version, OR specify their source URL | directory.

The k8s release may not do this without warning, there are other consumers and the release format is "an API".
I will personally raise another stink if SIG release goes to break this again withou

[2020-12-14 22:35] BenTheElder commented on #381
aside: as a more immediate measure, I'm sure you could get a lot of kudos from people with arm macs in the coming weeks if you publish an image like this to dockerhub or similar :+))

we're obviously going to need a more permanent solution, but as it stands we've grown a backlog reviewing features due to the bug / support load 😞

I hope to improve that soon, I've just sunk some time into https://k

[2020-12-14 22:43] BenTheElder commented on #1969
so I wasn't testing with 1.20 though (kubernetes HEAD is a bit ahead of that), probably not related but something to confirm.

[2020-12-15 02:28] zhlhahaha commented on #166
Hi, Ben I am happy to provide help. Please feel free to tell me.

[2020-12-15 09:22] SimonHarrisonSH opened #1978 "Use only LTS base images"
**What would you like to be added**:
Please only use Ubuntu LTS as the base for the node images

**Why is this needed**:
The base Dockerfile appears to track the Ubuntu releases. This means that anyone who is using kind where older versions of k8s are required, will have issues when if they customise the node image and perform any apt operations, as they will fail when the release goes out of supp

[2020-12-15 11:10] aojea commented on #1969
I´ve added more verbosity to the CI  job and we have more info

[code]

[2020-12-15 14:49] aojea commented on #1978
how older?
and what kind of dependencies are those that are not present in the new releases?

[2020-12-15 14:50] aojea commented on #1977
/good-first-issue
/help wanted
@alandixon should I assign it to you?

[2020-12-15 14:54] aojea commented on #1969
ok, we are pregressing, it turns out is not an issue with the kind version that creates the cluster, it fails with all :smile:

https://github.com/kubernetes-sigs/kind/runs/1557595731?check_suite_focus=true

[2020-12-15 15:34] alandixon commented on #1977
Hi Benjamin,
Sorry, PR?
Alan

On Mon, 14 Dec 2020 at 18:17, Benjamin Elder <notifications@github.com>
wrote:

[2020-12-15 15:36] alandixon commented on #1977
Ah yes, good idea, assign it to me, I didn't think of that!

On Tue, 15 Dec 2020 at 14:50, Antonio Ojea <notifications@github.com> wrote:

[2020-12-15 15:43] aojea commented on #1977
/assign @alandixon

[2020-12-15 17:18] aojea commented on #1945
/close

I think that the original problem was solved, we can open new ones to have the issues organised so user can look for the information

[2020-12-15 17:28] danpawlik commented on #1929
I got similar issue on Fedora 33 with podman 2.2.1 with kind node v.1.19.0 with kind binary in v0.9.0.
So I built new kind binary base on commit 'e36bf401e3d979' and the issue disappear.

[code]

[2020-12-15 22:08] BenTheElder commented on #1978
Customizing the node image is not really something we actively support at the moment. If you are doing it, you're free to build your own custom images anyhow though.

We don't even necessarily stick to ubuntu, we've switched between ubuntu and debian.

*kubernetes* users should not be depending on the host packages.

[2020-12-15 22:10] BenTheElder commented on #1977
Er sorry for the jargon / acronym! Pull request, a patch on GitHub 😅
If not, we can get to it ourselves eventually as well, docs are important! Currently chasing #1969

[2020-12-15 22:12] BenTheElder commented on #1975
this definitely smells like a bug in kind but it's going to be hard to reproduce, the image appears to be the default image in 0.9 so that should have all the correct logic built-in to handle replacing 127.0.0.1 correctly. something funny is up.

[2020-12-15 22:37] BenTheElder commented on #1969
fix inbound :-)

[2020-12-15 22:54] rosti commented on #381
I uploaded 1.18.13, 1.19.5, and 1.20.0 images [here](https://hub.docker.com/r/rossgeorgiev/kind-node-arm64).

P.S. Docker on M1 Macs seems to be a long way off, plus I think that it wouldn't be that big deal to recompile Kubernetes from source there as it is for Raspberry Pi 4 (hence this effort).

[2020-12-15 22:59] rosti commented on #166
For now I won't be sending a PR for my node image generation patch as Ben has intentions to revamp the image generation code and add this capability in a different manner.

In the meantime I have uploaded my images to [Docker Hub](https://hub.docker.com/r/rossgeorgiev/kind-node-arm64) (see the overview there for details).

[2020-12-16 02:38] garysdevil commented on #1976
Give me some idears?
![image](https://user-images.githubusercontent.com/41293784/102297373-1e38ae80-3f8a-11eb-998e-8d41f86271c9.png)
![image](https://user-images.githubusercontent.com/41293784/102297533-66f06780-3f8a-11eb-9605-3d6c090a92c7.png)

[2020-12-16 05:58] BenTheElder opened #1981 "ship stargz snapshotter"
**What would you like to be added**:

Consider shipping stargz /crfs support in containerd by default for faster image pulls with images that support it.

https://github.com/containerd/stargz-snapshotter

**Why is this needed**:

Potential user experience improvements. Faster CI.

cc @mattmoor @AkihiroSuda

NOTE: we're probably not shipping much more in the way of features in 2020, we've lost a lo

[2020-12-16 06:29] BenTheElder commented on #1976
that error is transient and not an issue. it's not related to your pod either. all of the cluster pods are running except your test-pod.

is there any indication that this is actually kind related, or just general kubernetes usage?

This link above is a guide to debugging kubernetes applications.
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application/

At a glance it looks to

[2020-12-16 06:33] BenTheElder commented on #1938
I've thought about this, and I'm concerned for the impact on all the projects shipping `kind` in their development scripts etc.

Suddenly for some users they will get unexpected behavior and probably lose a lot of time debugging why things don't work on a "default" cluster that isn't actually default. This impacts reproducibility and would effectively force everyone to always specify a config to a

[2020-12-16 07:09] AkihiroSuda commented on #1981
cc @ktock

[2020-12-16 07:11] AkihiroSuda commented on #1981
We can save the image size if we just add an installer script in the image.

[2020-12-16 09:02] #1929 closed

[2020-12-16 11:30] garysdevil commented on #1976
I can run successfully in real kubernetes cluster. I don't know why now, There is no error when I do 'kubectl describe the pod'.
![image](https://user-images.githubusercontent.com/41293784/102342715-9a57e400-3fd4-11eb-8ba2-2f0346a16b5f.png)

[2020-12-16 14:33] mattmoor commented on #1981
re: image size

I did just open https://github.com/containerd/stargz-snapshotter/issues/200, one thing I noticed was that estargz doesn't expose compression level like `compress/gzip` does, and I wonder how practical that would be to add.

[2020-12-16 15:18] mattmoor commented on #1981
Totally ack this, but to take a devil's advocate position here: Yes, KinD is larger, but as estargz proliferates the net download users should see would be dramatically smaller.

### On a meta note

Part of why I want to push on the tooling side of this is that I don't think folks will switch unless we make it trivial or even thoughtless.  I'd like to push on this as the future default for github.

[2020-12-17 13:26] knabben commented on #1956
/close

[2020-12-17 14:17] SimonHarrisonSH commented on #1978
We have some legacy branches of code that use older k8s api features. Simplest is to just use the older node images.

I guess we'll have to. It does seem a bit foolish using non-LTS base images though. Even Ubuntu agree - their 'latest' appears to track LTS.

[2020-12-17 17:40] vincepri commented on #1938
What about falling back to a well defined environment variable instead? Like today you could export `KUBECONFIG` to route `kubectl` (or other tools respecting that variable) to a config.

If we'd add some support for a `KINDCONFIG` environment variable, or similar, we could keep the current fallback.

We could log out when we're using a configuration file, and say where it's coming from for exampl

[2020-12-17 19:57] Sayeed42 opened #1983 "Cannot create cluster"
**What happened**:
The command `kind create cluster` failed, with the following output:
![image](https://user-images.githubusercontent.com/57699207/102536384-89ac7a00-4077-11eb-8b7b-d72ee9aaa0ee.png)

**What you expected to happen**:
Successful creation of a cluster.

**How to reproduce it (as minimally and precisely as possible)**:
`kind create cluster`

**Environment:**

- kind version: (use `ki

[2020-12-17 21:50] BenTheElder commented on #1983
That error means docker can't create containers, your docker install is broken.

[2020-12-17 21:53] BenTheElder commented on #1983
See:
https://stackoverflow.com/questions/31667160/running-docker-container-iptables-no-chain-target-match-by-that-name

https://github.com/moby/moby/issues/16816

https://bobcares.com/blog/iptables-no-chain-target-match-by-that-name-docker/

[2020-12-17 21:53] #1983 closed

[2020-12-17 21:56] BenTheElder commented on #1938
KUBECONFIG isn't really equivalent though because it doesn't change the objects created, and it applies equally to all commands.

I think even if we log something people are very bad about sharing relevant logs when filing bugs, and it'll still be a surprising behavioral change.

What are you looking to set in default config, actually?
A lot of these things are candidates for *the* default config,

[2020-12-17 21:59] BenTheElder commented on #1978
It isn't foolish if the images are not even meant to be mutated, ubuntu provides these for a reason, using :latest otoh is often pretty foolish, it's not a meaningful tag.

These images are meant to contain everything. Kubernetes doesn't even have LTS.

What are you installing, exactly?

[2020-12-17 22:02] BenTheElder commented on #1978
Kind provides prebuilt images at the latest patch version for every Kubernetes minor version that will function correctly under that version of kind. Eventually we have to make changes that will no longer support especially old minor versions.

Kubernetes the project does not support older patch releases, further fixes and support only go into future patch releases.

Many of the minor versions kin

[2020-12-17 22:13] BenTheElder commented on #1976
Does the secret exist?
It's not an error for a pod to be waiting on a secret.

[2020-12-18 07:30] justicezyx opened #1984 "[Question] Clarify dependency between docker and kind on mac"
Docker itself cannot launch a local image:
[code]

Which suggests the image is not built for linux VM (as part of the docker on mac underlying infrastructure).
But the local Kind cluster actually can execute the image:

[code]

I thought Kind uses the same underlying VM as the docker on mac?
Am I wrong?

[2020-12-18 10:34] BenTheElder commented on #1984
Can you tell us more about the environment and your image?

That docker error can also mean e.g. it was a shell script missing the shebang.

The kind cluster is in the same VM, though the image will run under containerd inside the kind node container inside the VM.

[2020-12-18 10:36] BenTheElder commented on #1984
Is it possible you updated the image in the registry to fix something? When you create a kind cluster and then run the image the node runtime (containerd) will have to pull the image and if you delete the cluster that storage is gone so when you create it again and create the pod again it will pull again.

When you docker run repeatedly it won't pull repeatedly.

[2020-12-18 18:16] Sayeed42 commented on #1983
Okay, even if the command `kind create cluster` works, when I try to execute `kind create cluster --config kind-cluster.yaml` it fails to join worker nodes. So, what should I do now?
![image](https://user-images.githubusercontent.com/57699207/102646604-57138780-4132-11eb-86af-d846d16b43e6.png)
Contents of `kind-cluster.yaml` :
[code]

[2020-12-18 18:21] violetbingzhe opened #1985 "Is there any work that try to integrate kind with a network emulator?"
Hello, I am trying to use kind to emulate a Kubernete cluster. But I also want to emulate the physical network between the cluster nodes. For example, using Mininet (http://mininet.org/) to connect the node containers and setup network topology, bandwidth, latency, queue size, etc.

I am wondering if you've noticed any ongoing work. If not, I may want to work on a solution, and it would be helpful

[2020-12-18 22:46] tallaxes commented on #1740
@hawk29 - that would be a question to WSL2 maintainers; as far as I can tell it is not included in any recent releases. (And I don't see _any_ PR merging activity at microsoft/WSL2-Linux-Kernel - so maybe they just don't accept contributions ...)

FWIW, in [tallaxes/WSL2-Linux-Kernel](https://github.com/tallaxes/WSL2-Linux-Kernel/) fork I have configured [GitHub Action](https://github.com/tallaxes

[2020-12-19 03:14] garysdevil commented on #1976
I have not mounted volume of secret, I am a little confused that how to check the existence of secret? Show pod yaml and 'kubectl get secret --all-namespaces' below:
![image](https://user-images.githubusercontent.com/41293784/102679428-d2387480-41ea-11eb-8899-65bf3012de8a.png)

[2020-12-19 11:33] paolomainardi commented on #1975
It happened again today, the same network of the other time, which has nothing strange in it.

CoreDNS logs:

[code]

Network dump:

[code]

CoreDNS configmap:

[code]

[2020-12-19 17:34] BenTheElder commented on #1975
That appears to be your host resolv.conf, that's fine, what is the one inside the nodes? Can you inspect the docker network as well?

Can you describe more about what occurs when this happens? You switch networks in some way on the host and then create a cluster which fails or?

[2020-12-19 17:36] BenTheElder commented on #1975
We should also check the node container logs, there's some code in the entry point that tweaks etc/resolv.conf. it seems like perhaps that's failing somehow.

[2020-12-19 17:44] BenTheElder commented on #1975
What *should* be happening:
- docker grabs your host resolv.conf when creating the node container

Because we use a user defined docker network:
- docker replaces the nameserver with one on loopback (note: container looopback is not host loopback)
- docker injects sockets and iptables rules to implement a listener inside the container. This goes back to dockerd and generally does resolution on the

[2020-12-20 11:43] aojea opened #1986 "RFC: Implement plugin architecture"
**What would you like to be added**:

A new plugin architecture, so new features can be added out of the core, allowing the project to experiment without impacting the stability.

**Why is this needed**:

The [project main goal and is testing Kubernetes, and stability and performance are critical for this](https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/design/principles.md),

[2020-12-20 11:43] aojea commented on #1986
/assign @BenTheElder @neolit123

[2020-12-20 13:02] ntoofu commented on #1461
I encountered the same problem. `kind` requires iptables to support `comment` match, so I have enabled `CONFIG_NETFILTER_XT_MATCH_COMMENT` in my kernel config to resolve the problem.

Most distributions probably enable it by default, but in the case of distributions like Gentoo Linux, you should configure it properly.

[2020-12-21 06:34] BenTheElder commented on #1986
Why should we add the complexity of a plugin model in kind?
You are free to implement additional commands in external binaries today?

[2020-12-21 06:35] BenTheElder commented on #1986
We've done the plugin model in other projects in the org for sure, but they've had more concrete justification as to why they would just be kind-port-forward.

[2020-12-21 06:36] BenTheElder commented on #1461
I imagine that's kube-proxy in upstream Kubernetes requiring this. Kind inherets all upstream host requirements except swap disabled which we allow (though it causes issues).

[2020-12-21 06:36] #1984 closed

[2020-12-21 07:40] aojea commented on #1986
I can't see the complexity on the kubectl model, it looks for a binary with a specified name format and it just use it, that is why I'm proposing it , it sounds quite simple ... maybe there are something else I can't see

I can identify some profile of users that are less technical and want to focus more in the app development that will use them, I see a parallelism with `kind` and `vagrant` here,

[2020-12-21 14:19] tao12345666333 commented on #1986
I understand that this is indeed a use case.  If we choose a plugin model similar to kubectl, it seems that we can organize some commands/tools together for use instead of expanding the core.

[2020-12-21 16:08] fgimenez opened #1988 "kind fails to create a cluster"
**What happened**:
`kind create cluster` fails, full log here https://gist.github.com/fgimenez/a88d7b6194cab0837f7a19ae0f8fafc1 and output of `kind export logs` here [log.tar.gz](https://github.com/kubernetes-sigs/kind/files/5725270/log.tar.gz)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Already tried https://kind.sigs.k8s.io/docs/user/k

[2020-12-21 16:20] neolit123 commented on #1986
an early plugin model in the project timeline is often a good idea. the maintainers can defer to it.
i've seen it being inevitable in some cases too.

it's a pity that golang's native plugin model doesn't work very well, but what kubectl is doing is an OK workaround.

[2020-12-21 19:47] knabben commented on #1956
@BenTheElder can you close this one?

[2020-12-22 02:41] tao12345666333 commented on #1956
#1962 has been merged

/close

[2020-12-22 02:41] #1956 closed

[2020-12-22 11:55] raphaelauv commented on #1988
maybe try to check this -> https://github.com/kubernetes-sigs/kind/issues/1950

[2020-12-22 14:14] fgimenez commented on #1988
@raphaelauv thanks for the suggestion, but still same error with a binary built from the tip of master:
[code]

[2020-12-22 15:12] desagar opened #1989 "MacOS volume mount for /var/lib/containerd does not work"
I am trying to make a number of large Docker images downloaded to my KinD cluster survive beyond the life of the cluster, so that when re-creating the cluster, it doesn’t result in the images being re-downloaded.  On Linux, I was able to get this to work very well by adding an `extraMount` of a host directory onto the containerPath `/var/lib/containerd` on my Kind node. When the cluster is deleted

[2020-12-22 20:11] dvaldivia opened #1990 "After some time kubernetes stops scheduling Pods all together"
**What happened**:

Often after some time has passed the kubernetes cluster inside Kind stops scheduling pods all together, the pod doesn't even show as `Pending` it simply doesn't show, the solution commonly is to delete the kind cluster and create it again.

**What you expected to happen**:

If I delete a pod it should be re-scheduled (if it's a statefulset or deployment)

**Anything else we nee

[2020-12-22 21:17] aojea commented on #1990
you'll need to provide a bit more of information ... if you can reproduce it again, maybe you can upload the `kind export logs` folder

[2020-12-22 22:59] justicezyx commented on #1984
I tried to reproduce the issue, but it seems gone.

I believe your assessment is likely the cause. Thanks!

[2020-12-23 08:49] fgimenez commented on #1988
Duplicate of #1945

[2020-12-23 08:49] #1988 closed

[2020-12-23 18:34] dvaldivia commented on #1990
Here are the logs

https://www.icloud.com/iclouddrive/0YMS6NdwhcXXzuUJFc7l_o3Fg#kind-logs

[2020-12-23 18:35] dvaldivia commented on #1990
@aojea I've tried to debug this before, but no logs in k8s explains why the pods are not scheduling at all

[2020-12-23 18:49] aojea commented on #1990
it seems that the control-plane node starts with one ip
[code]

and it changes later
[code]

the controllers try to connect to the new IP
[code]

but the apiserver is still listening in the 172.18.0.3

are you doing upgrades or restarting containers?

[2020-12-23 18:57] dvaldivia commented on #1990
sometimes I restart the computer, some other times I do `apt upgrade` so maybe that's what causing it.

Do you think there's a way to fix it without deleting the kind cluster?

[2020-12-23 19:50] aojea commented on #1990
restart should work,  ... `apt upgrade` better not doing it, I don't know what can happen ...

[2020-12-23 20:48] cheslijones opened #1991 "Accessing app running in Kind cluster in WSL2"
I've been playing with `kind` the past few days to manage clusters in Docker Desktop given `minikube` doesn't work inside of WSL2 for the time being.

The problem I'm running into is I can't access the running web app through the ingress controller. I can access it using `port-fowrward` when I do `skaffold dev --port-forward`, but that really isn't helpful.

The documentation for `kind` has a sect

[2020-12-23 21:24] dvaldivia commented on #1990
Whenever I reach this hiatus state I've tried restarting the machine without much success, so perhaps it's a bad idea to do `apt upgrade`, I'll keep an eye and see if this happens again without `apt upgrade`.

Thanks for the help understanding this problem

[2020-12-23 21:55] BenTheElder commented on #1989
On Linux these are a simple bind mount internally, but on mac if you mount to the host it has to translate the syscalls from Linux to Darwin and move data in and out of the VM, it might be possible to make work by changing the snapshotter to native using containerd config patches, alternatively it sounds like you just want to persist this directory so you could bind mind to an absolute path on mac

[2020-12-23 21:58] BenTheElder commented on #1986
Adding plugins is thorny when a project's commands are not final as they live in the same namespace.

Third party command clearly don't when you don't implement this.

I've implemented the exec model in kubetest and it's not that hard but there we have clear answers to namespacing (each vendor supplies their deployer, and then only testers need unique names), and we have a specific contract from t

[2020-12-23 22:10] BenTheElder commented on #1991
kind can't enable port mappings after the cluster is started because of limitations in docker (docker port forwards must be done at container creation time aka our nodes), I don't think minikube can do this unless you use the VM driver and not the kic/docker driver based in kind. Otherwise we can point you to kubectl port-forward which doesn't make a lot of sense for us to reimplement currently.

[2020-12-23 22:15] BenTheElder commented on #1991
Note below the kubectl command you pasted from the guide it says:

Because we can only tell docker to forward a given port to a specific node container we need to schedule ingress nginx onto the matching node, which we do with a label.

That's because you deployed nginx, instead of the ingress. This is working as intended and the networking is working correctly which is great! You're very close to

[2020-12-23 22:18] BenTheElder commented on #1990
@aojea this seems like a kindnetd bug, shouldn't we just get the pod restarted?

[2020-12-23 22:22] BenTheElder commented on #1945
@aojea this is not really fixed, we need a more intelligent check for mounting mapper, even if docker doesn't officially list this as supported it seems to happen to multiple users AND continue working otherwise.

[2020-12-23 22:23] BenTheElder commented on #1988
Do you also have a btrfs backing filesystem but not btrfs storage driver in docker?

[2020-12-23 22:38] desagar commented on #1989
Thanks @BenTheElder I did come across that yesterday and tried it by docker execing into the kind-control-plane container and updating /etc/containerd/config.toml to set snapshotter="native", and then restarting containerd using systemctl.

When I do `ctr image pull k8s.gcr.io/kube-apiserver:v1.19.1`, I get the same error during image unpacking:
[code]

Also, I'm not quite sure what you mean by "y

[2020-12-23 22:47] cheslijones commented on #1991
https://kind.sigs.k8s.io/docs/user/ingress/
Yes, I linked to documentation and the section I tried.

I guess I'm confused by the documentation. For a WSL2 implementation with `ingress-nginx` do you just ignore the WSL2 documentation and just use the Ingress documentation? A combination of both? But that is why I just have a plain `nginx` because I was referring to the WSL2 documentation.

I'll kee

[2020-12-23 23:09] aojea commented on #1990
kindnetd is working ok, it is restarts and works ok, I just copied the log to highlight that something is happening in the container, that is reporting different hostIP and PodIP, despite is a hostnetwork container ... is not kindnetd for sure ;)

[2020-12-24 08:12] fgimenez commented on #1988
Exactly, btrfs is the default filesystem on fedora33, but the moby-engine package is configured to use the overlay2 storage driver here https://src.fedoraproject.org/rpms/moby-engine/blob/master/f/docker.sysconfig#_6

[2020-12-24 22:56] YatinShah opened #1992 "failed to create cluster: unable to decode config: yaml: unmarshal errors:"
I get following errors when running config file listed under
  line 4: field featureGates not found in type v1alpha4.Cluster
  line 6: field runtimeConfig not found in type v1alpha4.Cluster

config.yaml=>
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
#cluster wide featureGates, enable for all components ..
featureGates:
  "EphemeralContainers": true
runtimeConfig:
  "api/all": "true"
networking

[2020-12-25 01:52] BenTheElder commented on #1992
Your kind version is too old. The docs are for the current release.

[2020-12-25 01:52] #1992 closed

[2020-12-25 02:05] BenTheElder commented on #1991
The WSL2 docs are correct, you did access a service ... The nginx service. The same technique could be used for a different service, just create a different service object using the nodeport pointed at your application. The only kind specific bit is using the nodeport + extraPortMapping technique to deal with docker networking portably.

The nginx service here is just an example, when you received

[2020-12-25 02:48] BenTheElder commented on #1989
That's too bad re: native snapshotter.

It depends on the mount path you specify and how your docker for mac is configured. Some mounts like your $HOME on the host are setup so the VM / docker for mac do some special "passthrough" between the host and the containers inside the VM. This is NOT a trivial bind mount since it crosses the VM boundary.

A mount with hostpath /foo on the other hand may i

[2020-12-25 02:52] BenTheElder commented on #1981
Kind is generally expected to work fully offline / airgapped.
I'm not sure how helpful this would be to many users versus just bundling it.

That's not my understanding at all. My understanding is that estargz enables lazy pulling *at the cost* of potentially _larger_ images, but improved latency because of lazy pulling. And of course the kind image will be larger and downloading it is often a maj

[2020-12-25 04:01] Aisuko opened #1993 "[Bug Report]: Kind get nodes command can not work for the multiple clusters by parameter name"
**What happened**:

[code]

[code]

**What you expected to happen**:

`kind get nodes` can work for `current-context` or can relate to a specific cluster name with the parameter `--name`

**How to reproduce it (as minimally and precisely as possible)**:

  In my situation, I create two clusters and aim to load the docker-image to the second cluster's node.

[code]

**Anything else we need to know?

[2020-12-25 04:02] BenTheElder commented on #1988
Thanks for confirming! Yeah definitely keeping https://github.com/kubernetes-sigs/kind/issues/1945 until we get a chance to alter the detection for this case (I'm OOO until early Jan but this one should be a fairly small patch)

In the meantime the config workaround in that issue should work.

I wonder why the storage driver isn't being left to docker to decide in that RPM.

[2020-12-25 06:26] Aisuko commented on #1993
Oh it's my fault, I should use the `name` configuration by Kind rather than the kubeconfig context.

[2020-12-25 06:26] #1993 closed

[2020-12-25 14:27] #1991 closed

[2020-12-25 19:07] aojea commented on #1945
is this related @BenTheElder ?
https://github.com/kubernetes/kubernetes/issues/95826

[2020-12-25 19:33] afreisinger commented on #1523
Hi @farzadmf

How do you solve the issue about Connection refused on socat terminal ?

[2020-12-25 21:03] farzadmf commented on #1523
Hey @afreisinger , it's been a while on this issue, 🙂. TBH, I'm not sure if I was even able to solve the issue!

I'll try to remember and let you know if something comes to mind.

[2020-12-26 00:01] BenTheElder commented on #1993
Deriving from KUBECONFIG context is an interesting thought, but indeed currently you must specify it to kind. There's a KIND_CLUSTER_NAME env alternatively to the flag.

[2020-12-26 00:25] BenTheElder commented on #1945
@aojea the kubernetes PR could be an issue but the problem here is this https://github.com/kubernetes-sigs/kind/issues/1945#issuecomment-737728387

we currently detect when to mount /dev/mapper based on docker's storage driver. we need to detect based on the backing filesystem as well (which is more annoying to parse it's like a list of status objects IIRC ...)

[2020-12-26 00:28] BenTheElder commented on #1990
can it retain the old container / pod IP when the host changes?
presumably if the pod failed and the sandbox were recreated it would become consistent again?

also: do we really need that check? we should probably just get the host IP and not care if pod IP is consistent? ... we don't support people running this image with arbitary manifests 🤷‍♂️

[2020-12-26 11:52] vvetu commented on #745
Thanks, super helpful!!!
Just a little more info. You also need to create the pool and match it with the storageclass.
`kubectl apply -f "https://raw.githubusercontent.com/rook/rook/${ROOK_VERSION}/cluster/examples/kubernetes/ceph/pool-test.yaml"`

[2020-12-28 11:00] deecasas commented on #1437
this one worked for me, thank you!

[2020-12-28 19:26] aojea commented on #1986
I used the name `plugins` as in the `kubectl` model, for developers are just external and independent binaries, but seems that users find them useful and I feel that this can fill the gap with docs and improve the project UX

[2020-12-29 10:10] gunadhya commented on #1977
Hi @aojea, I'd like to fix this documentaion bug.

[2020-12-29 10:19] aojea commented on #1977
@gunadhya go for it, worse case we have 2 PRS ...

[2020-12-29 13:40] aojea commented on #1990
it seems so, honestly, the kubelet -> CRI -> CNI is a big drama right now ... there are some patches in kubelet addressing these inconsistencies in 1.21, at least in RedHat we have this as a TODO to fix soon

that is what happened, it paniced and when it restarted it was correct

I think we do need it, this saved us before and here too, the problem with removing the check is that you don't have an

[2020-12-29 13:48] aojea commented on #1985
This is not a current goal of the project and is difficult to implmenet beause the network depends on the container provider, currently we support Docker that uses `libnetwork` model and podman that uses the `CNI` model.

However, it can be done, you have more details here
https://gist.github.com/aojea/00bca6390f5f67c0a30db6acacf3ea91#example-multiple-network-interfaces-and-multi-home-nodes
and ex

[2020-12-29 14:04] aojea commented on #1978
/close
There is always a trade off between the stability of LTS distros and being able to use latest features, i.e iptables is a good example of how modern distros are switching to nftables and causing issues with old ones.

I agree with Ben we shouldn't depend on images OS versions, I would love also if we can be distroless :)

There is the possibility of creating and maintaining custom images, I

[2020-12-29 14:04] #1978 closed

[2020-12-29 14:15] aojea commented on #1977
is there any person using WSL that can confirm what is the right command?
This issue says that `--shutdown` doesn't accept any argument https://github.com/microsoft/WSL/issues/4539

[2020-12-29 22:51] alandixon commented on #1977
The fix is in my original comment.
This was assigned to me but I was completely unable to push the change back up - it kept giving me an error.
I followed the instructions about signing the CNCF CLA etc. but gave up when that didn't work - it all seemed a bit much for a tiny doc change.
Sorry, I should have unassigned myself earlier - @gunadhya feel free to take this.

[2020-12-29 23:04] aojea commented on #1977
Thanks Alan

[2020-12-29 23:13] alandixon commented on #1977
After all that, I got it wrong anyway :(
Running `wsl -?` to see the available commands gives
[code]
i.e. it's `--terminate` to shutdown a specific distro, not `--shutdown`

[2020-12-29 23:38] aojea commented on #1977
why does this work then?
https://github.com/kubernetes-sigs/kind/pull/1994#issuecomment-752096678

[2020-12-30 22:06] xh3b4sd commented on #1401
This issue should not have been closed. Letting people name their nodes should not be rocket science. There are probably a lot of people who want to have control over node names so I do not understand why this is still not solved. Feels like one of these issues in vsCode where 15 million user-working-hours went down the drain because a hand full of people decided it is not reasonable to adjust the

[2020-12-31 01:57] micarlise commented on #1961
I would be interested in working on this.  Having just recently figured out getting load balancers to work using metallb and exposing them on mac,

I would be interested in adding these to the KinD doc site:

- exposing nodeports to the host
- getting past pending-ip for loadbalancer services
- exposing services to the host on mac.

[2020-12-31 10:34] aojea commented on #1961
/assign @micarlise
That sounds great to me

[2020-12-31 20:15] BenTheElder commented on #1401
See all previous discussion 🤷‍♂️

No workloads should depend on node names. We're not interested in expending our resources to enable non portable options when the portable solution exists (node labels and selectors), we'll have native support for labeling in config in the next release. Lots of much bigger cluster providers don't support this and none of them need to.

[2020-12-31 20:19] #1977 closed

[2020-12-31 20:21] BenTheElder commented on #1990
I mean if we can detect they don't match and one of the two sources is correct just switch to exclusively using the correct source..?

[2020-12-31 22:26] aojea commented on #1990
That is a bug in the kubelet , if is a host network pod, the pod IP and the host IP must be the same ... However, hostip is a long standing issue for sig-network, and it has to reviewed with the dual stack effort

[2020-12-31 23:56] nadenf commented on #1401
[AWS is proposing to support it](https://github.com/aws/containers-roadmap/issues/781) and it is the one of the most popular requests.

We use node labels/selectors everyday but they are not a replacement for this especially when it comes to testing.

[2021-01-03 10:49] fpetkovski commented on #1966
I will add my use case to this issue instead of opening a new one.

We would like to use kind to run a very large php application locally. Since PHP is an interpreted language, the php files source files need to be mounted inside a running php container. On MacOS, the native file synchronization between the host and a docker container is significantly slower than it is on linux. This makes bind mo

[2021-01-04 16:36] vincepri commented on #1938
I was mostly interested to place a default cluster config on a machine. When using `kind create cluster`, we could try to look in a predefined default path if a valid config exists, otherwise proceed with the current behavior

[2021-01-05 01:05] micarlise commented on #1961
PR #1996

[2021-01-05 03:05] BenTheElder commented on #1966
If you're already using NFS then an NFS volume at the Kubernetes level seems like the cleanest approach instead of adding mounts to the kind nodes?

NFS volumes should work now.

[2021-01-05 03:11] BenTheElder commented on #1401
https://github.com/aws/containers-roadmap/issues/781 is about having names based on the node group be tagged on the ec2 instances, not about user control of individual node names. The behavior described there is precisely what tools like kind do: given a set of nodes names are assigned automatically based on other parameters.

That issue is also about the AWS side of things, the node objects at th

[2021-01-07 10:31] fpetkovski commented on #1966
Interesting, I didn't think of this possibility but we can try it out. Thanks

[2021-01-09 15:51] chriscardillo opened #1998 "kind cluster status unhealthy"
Hello and thank you for this amazing tool to learn k8s with a local cluster!

I have just installed kind successfully, created a cluster, and added the context to kubectl, but when I run `kubectl get componentstatuses`, I am seeing that the `controller-manager` and the `scheduler` are both have a status of `Unhealthy`.

Here is the series of commands (and their outputs) I am running on Ubuntu 20.0

[2021-01-09 21:00] BenTheElder commented on #1998
Componentstatus is deprecated and depended on insecure ports, kubeadm disabled these upstream and we agree. You can use the components' healthz instead.

[2021-01-09 21:00] #1998 closed

[2021-01-09 21:01] BenTheElder commented on #1998
https://github.com/kubernetes/enhancements/issues/553#issuecomment-692121215 for reference

[2021-01-09 21:32] chriscardillo commented on #1998
Thank you!

[2021-01-09 23:15] adds68 opened #1999 "Manjaro Linux: failed to create cluster: failed to init node with kubeadm"
**What happened**:
I tried 'kind create cluster' on Manjaro linux, but the control plane failed to start.

**What you expected to happen**:
A kind k8s cluster to be created successfully

**How to reproduce it (as minimally and precisely as possible)**:
Run 'kind create cluster' on Majaro 20.2

**Anything else we need to know?**:
[code]

**Environment:**

- kind version: (use `kind version`):

[2021-01-10 10:43] BenTheElder commented on #1999
iptables-nft?
Are you running firewalld?
https://kind.sigs.k8s.io/docs/user/known-issues/

I don't have easy access to a manjaro environment, can you run `kind create cluster --retain; kind export logs; kind delete cluster` and upload the logs?

[2021-01-10 17:39] adds68 commented on #1999
Hi there, no there is no running firewall on Manjaro by default, it did look through those common issues as i do remember hitting weird docker issues on Fedora, but none of those seemed to be obvious to me.

Not a problem, i've zipped up the logs produced here:
[kind-logs.zip](https://github.com/kubernetes-sigs/kind/files/5793025/kind-logs.zip)

Thanks!

[2021-01-11 09:58] Ruminateer opened #2000 "problem in docs"
**What happened**:
I was following <https://kind.sigs.k8s.io/docs/user/configuration#nodes>.
I wanted to specify the image, and I added the image digest as the doc instructed. Then I got the following error
[code]
I removed the image digest and the cluster creation succeeded.

Here is `myconfig.yaml`.
[code]

Not sure if it is the problem with my docker, my docker seems up-to-date.

**Environment:

[2021-01-11 10:00] #2000 closed

[2021-01-11 10:05] Ruminateer commented on #2000
ok I see what's wrong.

[2021-01-11 11:49] Xtigyro opened #2001 "Simplification Wrapper"
**What would you like to be added**:

A soft wrapper that simplifies further the overall usage of kind - as a separate project.

E.g. - https://github.com/Xtigyro/kindadm.
If considered good enough - I'll be extremely happy to transfer the repo (for better visibility) to `kubernetes-sigs`.

**Why is this needed**:

Enabling easier adoption of kind for local testing by developers.

[2021-01-11 16:59] desagar commented on #1989
Thanks for the ideas/suggestions. I think by paths shared to the VM, you are referring to the paths set up under "File Sharing" in Docker for Mac. I tried with a path that is outside that, and kind seems to mount it, but it behaved the same way. However, I was able to get the following workaround to work, and wanted to drop it here for anyone else who may try to do this - in summary, rather than m

[2021-01-11 16:59] #1989 closed

[2021-01-11 22:30] adds68 commented on #1999
I had a quick scan of the logs and found these from kubelet:

[code]

[2021-01-12 12:11] ricosega opened #2002 "Services timeouts after restart"
**What happened**:
After restarting docker or the system, it starts to fail returning timeout errors.
We have currently 2 services pointing to different nginx returning foo and bar, so :
 ```curl localhost/bar``` returns bar
 ```curl localhost/foo``` returns foo

After restart both of them returns:
[code]
This both services are an example but whatever it was working before it stops with same kind

[2021-01-12 23:13] BenTheElder commented on #1986
I'd be inclined to revisit this when we declare the project 1.0 / aren't planning to expand functionality upstream.

Until then I think it shouldn't be a major blocker for projects to create tools without any native support in kind and this will confuse some users about what things are actually in kind and supported by us / create conflict with future native features.

[2021-01-12 23:13] #1986 closed

[2021-01-12 23:14] BenTheElder commented on #1985
https://github.com/kubernetes-sigs/kind/issues/1780 <-- see some discussion here in addition to above comment.

I dont think we're currently prepared to host this, but please discuss in that issue.

[2021-01-12 23:14] #1985 closed

[2021-01-12 23:20] BenTheElder commented on #2001
while I believe projects like this are useful to users, there are multiple tools in this space and I don't think we're prepared to endorse any of them by moving them upstream or to participate in them ourselves.

I appreciate you reaching out though!

[2021-01-12 23:20] #2001 closed

[2021-01-12 23:22] BenTheElder commented on #1990
but kindnetd does not depend on actually having the IP for the pod? we just need to know what the IP is for generating the rules, if we can detect the real IP that's enough ...?

[2021-01-12 23:28] BenTheElder commented on #1976
sorry I can't tell from these screenshots. we can attempt to debug the kind cluster if you upload logs from it (`kind export logs`) but to me this looks like maybe an issue with kubernetes or your pod, while kindnetd had an error early on that happens in all kubernetes components sometimes and it is behaving normally later in the logs, the other pods would be not healthy if it wasn't.

please cros

[2021-01-12 23:31] BenTheElder commented on #2002
First thing to know is that the kind project does NOT provide support for external CNI. we leave it possible to do, but we just don't have the bandwidth to support these currently.

Ok a few things about this:
- InitConfiguration is only read by kubeadm when doing `kubeadm init` which only happens on the first controlplane nodes, so all of the per-node patch entries are useless
- except for the no

[2021-01-13 01:24] BenTheElder commented on #1999
taking a look at these now, those logs are both normal:
- we're still using the flag for now, it's *deprecated* but not removed _yet_, we've already started configuring it without the flag but the flag is still present in most images. not an issue
- kubeadm's model is such that kubelet is ~crash looping under systemd with that error until kubeadm writes the config file, so you get a lot of noise l

[2021-01-13 01:30] BenTheElder commented on #1999
This log twoards the end of the kubelet logs is a problem:

This looks like the cgroupsmanager in kubelet is unhappy checking that the necessary cgroups are present.

For Kuberntes v1.19 you must be running with cgroupsv1 and certain cgroups should be mounted, on most systems they are by default.

[2021-01-13 07:27] BenTheElder commented on #1989
That's a clever solution! 👍
AIUI that actually should even work pretty portably, if being a tad clunky ...

I will ping back this issue when if/when we settle on anything else within the project.

[2021-01-13 07:28] BenTheElder commented on #1998
thanks for understanding! this one definitely bites 😞  but we try to stick with upstream closely.

[2021-01-13 07:39] aojea commented on #1990
yeah, we need the HostIP (that has to be the same as the NodeIP) ... the PodIP check is only to verify that is a pod using hostNetwork:true

[2021-01-13 08:47] aojea commented on #1976
@garysdevil can you export the cluster logs with `kind export logs`  and upload them as a tarball?

[2021-01-13 16:08] chriscardillo commented on #1998
Well for what it's worth, now that I know other ways to check my cluster's health, it's super convenient to run it on kind. :+1:

[2021-01-13 17:37] BenTheElder commented on #1726
cc @neolit123
/assign

[2021-01-13 20:21] giulio-giunta commented on #1458
Hello,
I have tried several times to create a cluster, but without success
![kind-create-cluster](https://user-images.githubusercontent.com/56529931/104505781-57d9f500-55dc-11eb-8f82-f00a46e05835.png)

I also tried to create a container out of the kindest/node:v1.20.0 image that I pulled from Docker Hub, but it trew an error, as shown in the picture below:
![docker-run-kindestNode](https://user-im

[2021-01-13 21:41] violetbingzhe commented on #1780
Hello, I am planning to integrate kind with a network emulator, Mininet, in particular. Thanks for @aojea to implement traffic control. But I may need more than this: I would want to setup the network topology like in a datacenter (e.g. fattree topology), and run various network routing protocol.

I've got some basic understanding on how Kind implement, and I have two plans to do the implementatio

[2021-01-13 21:51] aojea commented on #1780
You have more details in this link about how to setup complex scenarios with KIND https://gist.github.com/aojea/00bca6390f5f67c0a30db6acacf3ea91

I suggest you to start with 1), start small and iterate, you can always move from 1) to 2) later ... I don't discard that as soon as you start to be more familiar with the environment and the problematic you'll have new options ;)

[2021-01-13 21:56] violetbingzhe commented on #1780
Thank you @aojea !! For 1), could you please provide some hints on which files I need to modify? I found things like [this discussion](https://stackoverflow.com/questions/52647072/my-kubernetes-cluster-ip-address-changed-and-now-kubectl-will-no-longer-connect), does this look complete?

[2021-01-13 22:04] aojea commented on #1780
You have a  detailed description of the modifications needed here
https://gist.github.com/aojea/00bca6390f5f67c0a30db6acacf3ea91#example-multiple-network-interfaces-and-multi-home-nodes

[2021-01-13 22:09] adds68 commented on #1999
Thanks for the detailed explanations of the logs, i learnt something new :smile:

Also thanks for taking time to read through the log files, i did some searching on the cgroups issues and it seems manjaro has support for both v1/v2 of cgroups, which you can turn off by setting `systemd.unified_cgroup_hierarchy=0`. However after testing this it seems the issues is still persisting.

Do you have any

[2021-01-14 12:18] hatzhang opened #2003 "Kind ingress using Bitnami's nginx-ingress image"
Hi

I am following [kind ingress](https://kind.sigs.k8s.io/docs/user/ingress/)'s instructions to set up ingress. For some reason, i need to install nginx-ingress using [bitnami's helm](https://bitnami.com/stack/nginx-ingress-controller/helm) .
But when following the manual to the end, and trying the example ingress, it can't be accessed from host.
So how to resolve this?

NAME

[2021-01-14 12:46] aledbf commented on #2003
@hatzhang the ingress-nginx example you see in the kind docs is a static manifest yaml. Such manifest is generated with a script from the official chart. Not sure exactly what is done by the bitnami chart, but you can install the chart with the next values.yaml file:

[code]

[2021-01-14 13:04] hatzhang commented on #2003
@aledbf   So, if this applied correct, i should have Nodeport type service? Did the following, not working yet. My Kind is in wsl2. If use contor as the manual said, access localhost/bar from browser will work though.

$ helm upgrade nginx-ingress -f values.yaml bitnami/nginx-ingress-controller --dry-run --debug
$ kubectl get svc
NAME                                                     TYPE

[2021-01-14 13:15] aledbf commented on #2003
That is not right. Can you uninstall the chart? Also, please test following the steps from the docs, to check it works.

[2021-01-14 14:17] hatzhang commented on #2003
@aledbf  After check helm show values bitnami/nginx-ingress-controller, i removed 'controller:' and indents of other lines, and i got a Nodeport, but still not working, wonder why

$ kubectl get svc
NAME                                                     TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)                                 AGE
bar-service                                              C

[2021-01-14 14:39] aledbf commented on #2003
Liek I mentioned, the values I posted are from the official helm chart. Did you test the static manifest to check it works as expected?

[2021-01-14 15:38] cheslijones opened #2004 "WSL2: "Connection refused" setting up ingress"
Windows 10 + Docker Desktop + WSL2 Integration. `kind` is installed in WSL2.

Per the [documentation for Ingress controllers](https://kind.sigs.k8s.io/docs/user/ingress/):

[code]
This creates the cluster `kind-kind` successfully with the following output:
[code]
I got to spin up [my test web app](https://github.com/cheslijones/tls-dev-k8s) (basically`create-react-app`) with `skaffold dev` and I g

[2021-01-14 18:04] venkatrayapudi opened #2005 "Support for Apple M1"
I tried installing kind on the new macbook M1 and got below error. I am able to run docker containers on this machine.
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.19.1) 🖼
 ✓ Preparing nodes 📦
 ✓ Writing configuration 📜
 ✗ Starting control-plane 🕹️
ERROR: failed to create cluster: failed to init node with kubeadm: command "docker exec --privileged kind-control-plane kubeadm

[2021-01-14 18:04] venkatrayapudi opened #2006 "Support for Apple silicon M1"
I tried installing kind on the new macbook M1 and got below error. I am able to run docker containers on this machine.
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.19.1) 🖼
 ✓ Preparing nodes 📦
 ✓ Writing configuration 📜
 ✗ Starting control-plane 🕹️
ERROR: failed to create cluster: failed to init node with kubeadm: command "docker exec --privileged kind-control-plane kubeadm

[2021-01-14 19:35] neolit123 commented on #2006
if the node image is for AMD64 it will likely just crash on an architecture that is not supported - i.e. ARM64.

[2021-01-14 19:36] neolit123 commented on #2005
/kind duplicate
/close

https://github.com/kubernetes-sigs/kind/issues/2006

[2021-01-14 19:36] #2005 closed

[2021-01-14 19:52] venkatrayapudi commented on #2006
Please note that I have the docker tech preview version installed and able to spin up docker instances on macbook M1. The problem is with kind only.

[2021-01-14 21:10] violetbingzhe commented on #1780
@aojea I followed the steps to modify the IP. I am struggling with one step: "When creating the cluster we must add the loopback IP address of the control plane to the certificate SAN (the apiserver binds to "all-interfaces" by default)". Could you please advise how to modify Kind's configuration to modify the certificate SAN (I can't quite find which func in Kind is related to the certificate SAN

[2021-01-14 21:18] aojea commented on #1780
it has to be patched in kubeadm, in the kind config, replace `my-loopback` with the apiserver loopback address
[code]

I really don't know if is possible to modify it after the installation and how to do it

[2021-01-14 22:19] BenTheElder commented on #2006
the docker image you're running is AMD64, the pre-built kind images are not multi-arch yet and it will not be trivial to do so.

I'm working on ARM support this quarter, there's an existing bug tracking this #166

[2021-01-14 22:19] #2006 closed

[2021-01-14 22:19] BenTheElder commented on #2006
if you see #166 you can see about obtaining or building an image in the meantime.

[2021-01-14 22:23] BenTheElder commented on #2004
Can you narrow down what settings specifically are breaking access to the API server?

Nothing in that config should break it, but I don't have access to this environment to debug it.

From the host the apiserver is just a docker portforward from a random port on the host to 6443 inside the node, that should work everywhere, and adding more ports should not interfere.

There's a `kind get kubeconf

[2021-01-14 22:27] BenTheElder commented on #1999
If I were maintaining manjaro I probably wouldn't be thrilled about a report from kind given the hacks going, but if you perhaps try `kubeadm` directly on the host that might be instructive.

I _suspect_ something with your environment is making kubelet uhappy with the cgroups heirarchy and under normal circumstances kind only adds more _groups_ it doesn't mount additional subsystems etc., which w

[2021-01-14 22:30] BenTheElder commented on #1975
I wonder if maybe during network switch docker is clobbering the resolv.conf, and it's propagating to coreDNS?

If that's the case, we could maybe solve this by ensuring we periodically fix the resolv.conf the way we do in the entrypoint with a background task (or more complex we could try to inotify watch for changes).

[2021-01-14 22:36] BenTheElder commented on #1860
this one is not the worst thing ever but it should definitely happen eventually. when we finish sorting out the cgroups in the entrypoint I'm going to try to take a moment to port the dind fixes including CGROUP_PARENT and this.

[2021-01-15 00:02] manuasir opened #2007 "Getting empty reply from server when trying to request from one pod to another within the cluster"
**What happened**:
      I'm currently in an EKS environment, using a private node group (three private subnets within the VPC where I connect to through a VPN). After setting up the IC, everything seems to work fine. When connecting to the VPC, the requests to my services behind the LB work. There is no loss, I use `curl` for testing purposes and all the requests are able to resolve successfully.

[2021-01-15 00:04] manuasir commented on #2007
This issue was moved to the correct repo. My apologies.

[2021-01-15 00:04] #2007 closed

[2021-01-15 03:37] hatzhang commented on #2003
@aledbf  Thanks a lot. There are some differences about bitnami nginx ingress's values.  It went well with the following spec:

[code]

[2021-01-15 03:37] #2003 closed

[2021-01-15 09:20] ricosega commented on #2002
At the end we tried with Kind CNI plugin and starting it without any kind-config file and it works.
It seems that after restarting docker service or kind itself there is some problem with Calico which causes this network problem.

[2021-01-15 09:20] #2002 closed

[2021-01-15 09:48] garysdevil commented on #1976
I dont know how to upload it into github issues, I sent it to you by email.

[2021-01-15 17:37] violetbingzhe commented on #1780
Thank you @aojea. The following somehow did not work for me. So I finally chose "plan 3", to just delete the eth0 on kind container, and put veth into the namespace assigning the same IP address. It looks work now :)

[2021-01-15 18:16] rflorenc opened #2008 "failed to lock config file: open /var/run/kubernetes/admin.kubeconfig.lock"
**What happened**:
[code]

**What you expected to happen**:
kind create cluster succeeds.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
`sudo chown -Rv $USER:docker /var/run/kubernetes` fixed the issue.

Is this a known issue? Should something be added to the docs meanwhile?
Haven't seen this issue in CentOS7, Fedora 32, or MacOSx.

[2021-01-15 19:26] BenTheElder commented on #2008
This is most likely because your `KUBECONFIG` is set to point to that file but you don't have permission over that location as your current user. It is not a bug, it is your environment. The same issue will happen with any of the `kubectl` commands that modify kubeconfig e.g. setting the current context.

The KUBECONFIG locking behavior comes from the official kubernetes client behavior, this is n

[2021-01-15 19:33] BenTheElder commented on #2008
An additional option: If you want to still have the `/var/run/kubernetes/admin.kubeconfig` cluster details available to tools that only read while creating and deleting kind clusters you can do:

[code]

This is a highly unusual need though, the reason you would need to do it this way is kubeconfig clients that may write are expected to lock all files in the list before reading and then writing (a

[2021-01-15 19:39] BenTheElder commented on #2002
Thanks for following up! That's good to know. Calico might be interested in the bug 🤔

[2021-01-15 21:18] rflorenc commented on #2008
Yep, this happened after a couple of `local-up-cluster.sh` runs.
Thanks for the thorough explanation - makes sense.

Feel free to close the "issue".

[2021-01-15 23:48] #2008 closed

[2021-01-16 05:49] Tiberivs commented on #1461
I encountered the same problem with running `kind` on Gentoo Linux. I discovered that `kind-proxy` requires
[code]

I think it is not exhaustive list of course, but may be helpful for someone.

[2021-01-17 16:37] yogeek opened #2009 "How to use kind behind a HTTP proxy with NTLM authentication (and not get ErrImagePull)"
**What happened**:

I have CNTLM configured to authenticate to my coporate proxy and Redocks (pointing to CNTLM) acting as a transparent proxy on an Ubuntu machine.

I would like my kind cluster to be able to pull public images without error.

I created a kind cluster with HTTP_PROXY env vars set :

I tried to simply `kind create cluster` and `kubectl run test --image nginx -n default` but it ende

[2021-01-18 06:21] BenTheElder commented on #2009
You can't use a proxy on loopback, this isn't going to work with docker in general. Every container has it's own loopback interface, which is not the same as the host's, so the kernel is not going to route traffic between them.

You need to have your proxy on some other address that is routable from the node containers + pods.

[2021-01-18 06:27] BenTheElder commented on #2009
alternatively: you can try to something like this: https://medium.com/@saniaky/configure-docker-to-use-a-host-proxy-e88bd988c0aa, but as long as you specify the proxy address as 127.0.0.1 or anything in that /8 it won't route between containers and other containers or containers and the host.

another approach might be running the proxy as a container attached to the kind docker network and passin

[2021-01-18 09:52] #1718 closed

[2021-01-19 08:09] BenTheElder commented on #1648
Sorry we haven't gotten to this yet. I was reminded when I saw that the latest is it's officially deprecated and going away https://github.com/kubernetes/kubernetes/pull/97171

[2021-01-19 12:23] sirdarckcat commented on #182
fyi https://github.com/kubernetes/minikube/issues/6404 got it working

[2021-01-19 14:20] aojea commented on #182
I think that this may fix it https://github.com/kubernetes-sigs/kind/pull/1995

[2021-01-19 23:40] BenTheElder commented on #845
Circling back because this came up again today: I experimented with tempfs + the unsafe no fsync flag late last year and didn't see measurable improvements on my hardware (couple different dev machines), YMMV, this still doesn't seem to be a clear win even when persistence is not interesting, it depends on the usage and hardware.

[2021-01-20 01:14] #1969 closed

[2021-01-20 03:59] BenTheElder commented on #2003
Thanks @aledbf !

[2021-01-20 04:00] BenTheElder commented on #1969
@aojea can you confirm this is resolved in your the downstream environment?

[2021-01-20 05:01] BenTheElder commented on #182
This is indeed fixed at HEAD, and will work in the next release (soon!), you can test it now by running the following from your cloudshell:

[code]

[2021-01-20 05:01] BenTheElder commented on #182
thanks @aojea @sirdarckcat :-)

[2021-01-20 05:01] #182 closed

[2021-01-20 05:04] BenTheElder commented on #182
<img width="808" alt="Screen Shot 2021-01-19 at 9 04 02 PM" src="https://user-images.githubusercontent.com/917931/105129419-e1d10480-5a99-11eb-93ff-e6a61a45a903.png">

[2021-01-20 05:32] AkihiroSuda opened #2013 "regression: entrypoint is broken on cgroup v2"
**What happened**:

`fix_cgroup()` change in https://github.com/kubernetes-sigs/kind/pull/1995/files broke cgroup v2

**What you expected to happen**:
It should work

**How to reproduce it (as minimally and precisely as possible)**:

Minimal repro:
[code]

**Environment:**

- kind version: (use `kind version`): 26637e29987e1759f0bfb6025f335396960c8565 (Jan 19, 2021)
- Ubuntu 20.10, cgroup v2
- mob

[2021-01-20 05:36] BenTheElder commented on #2013
perhaps we should check for v1/v2 and split the paths?
we don't have v2 in CI and this change fixed a number of v1 platforms.

[2021-01-20 05:45] BenTheElder commented on #2013
I'm also actually not sure if Kubernetes even has any cgroupsv2 CI at all yet, last I checked someone decided that meant we had to use fedora VMs ... which we didn't have a GCE VM image handy for. AFAIK SIG Node never sorted that out.

[2021-01-20 06:02] BenTheElder commented on #1614
this should be fixed in the next release, namely the technique injected into the kind entrypoint is in the upstream entrypoint and improved now.

[2021-01-20 06:02] #1614 closed

[2021-01-20 06:02] AkihiroSuda commented on #1969
Which k/k commit is related to this?

[2021-01-20 06:14] AkihiroSuda commented on #2013
PR: https://github.com/kubernetes-sigs/kind/pull/2014

[2021-01-20 08:03] aojea commented on #845
for CIs like github actions there is a measurable difference when running the e2e test suite :)

[2021-01-20 09:36] BenTheElder commented on #1969
@AkihiroSuda this was a regression in a different iteration of the entrypoint / cgroups changes in this repo IIRC, not Kubernetes version or the kind binary.

[2021-01-20 09:39] BenTheElder commented on #1969
aside: github adds a lot of visual noise when an issue is referenced in a commit, it will add an event to the issue every time any form of the commit is pushed/merged in any fork, including people merging in forks etc.

in kubernetes/kubernetes commits doing this are actually banned by automation.
https://github.com/kubernetes/test-infra/blob/55dab213bff9ed663013072c14f17c19dc9c625f/prow/plugins/i

[2021-01-20 09:50] AkihiroSuda commented on #1969
Sorry for noises :bow:

[2021-01-20 09:54] BenTheElder commented on #1969
No worries, more of an FYI than anything, I think kind is small enough to not have major issues with it anyhow, but I've seen it get pretty out of hand on Kubernetes issues 🙃

That comment / code covers some other fun ones, the most ridiculous one on github's part IMHO is `@user` in commits actually causing an email to the user under the same circumstances (~push/merge in any fork) for users with

[2021-01-20 10:26] #2013 closed

[2021-01-20 10:52] 2327 opened #2015 "kind and OIDC plugin"
Hello.

Is kind support OIDC plugin?
I tried gangway and dex. I receive 500 when gangway requests from kind token for user access.

[2021-01-20 14:49] juusujanar commented on #1975
Doesn't seem to be Ubuntu-specific issue, as I have the same issue on Fedora 33 (with cgroups v2). Wanted to run Kind for the first time. Using same image as OP `kindest/node:v1.19.1@sha256:98cf5288864662e37115e362b23e4369c8c4a408f99cbc06e58ac30ddc721600`

I collected as much information about the environment, logs, configuration etc as I could and put them in this gist: https://gist.github.com/ju

[2021-01-21 00:37] BenTheElder commented on #1976
I don't see this but my inbox is also rather high volume, the attach uploads UI is at the bottom of the comment UI, but also just "drag and drop" works:

<img width="833" alt="Screen Shot 2021-01-20 at 4 36 35 PM" src="https://user-images.githubusercontent.com/917931/105258000-b869b480-5b3d-11eb-96df-883e53dac0b1.png">

[2021-01-21 00:39] BenTheElder commented on #2015
We don't _actively_ support OIDC in particular, but it should work fine similar to another kubeadm cluster, modulo the general networking quirks of running in docker on various platforms.

I'm pretty certain other users have enabled OIDC.

[2021-01-21 00:42] BenTheElder commented on #2015
See this thread in slack.k8s.io / kuberntes.slack.com: https://kubernetes.slack.com/archives/CEKK1KTN2/p1607097891225700

---

Also in general we have more community members with wide range of experience using extensions like this available in our slack, the #kind channel has ~2400 members, I don't think nearly as many people respond to github 🤔

Perhaps we should update our contact guide ...

---

[2021-01-21 00:43] BenTheElder commented on #2015
note: closing this to manage the tracker as this has a response, but will respond to further comments

[2021-01-21 00:43] #2015 closed

[2021-01-21 00:44] BenTheElder commented on #2009
Hope that helps, will respond to further comments but closing this out now as I think we've answered what we can for now, and the loopback issue is definitely the root cause / not something we can change on our end, it's just linux networking.

[2021-01-21 00:44] #2009 closed

[2021-01-21 04:51] AkihiroSuda opened #2016 "show `docker logs` automatically on early error"
**What would you like to be added**:

`kind create cluster` should run `docker logs <CONTAINER>` automatically on early error

**Why is this needed**:
Mostly for showing `entrypoint` errors to the user.

[2021-01-21 05:48] BenTheElder commented on #2016
Hmm:

Errors visible in the node container logs are pretty rare for end users, right now for users wishing to debug the error we point to `kind create cluster --retain; kind export logs` which captures much more info, generally enough to find the actual root cause.

 Unless you're specifically working on kind itself (in which case you probably know how to grab these easily with docker) I'm not sur

[2021-01-21 06:03] AkihiroSuda commented on #2016
Error output introduced in #1935 might be helpful

`docker logs` doesn't show so many logs.
Showing kubeadm errors require `journalctl`.

[2021-01-21 09:57] aojea commented on #1990
@BenTheElder I´ve downgraded it to a warning with the dual-stack changes
https://github.com/kubernetes-sigs/kind/pull/692/commits/791df83faaf1f3dfdee1d11c1127a8a1c337950b

[2021-01-21 13:21] versuchs-kaninchen opened #2018 "Kind multi-cluster setup"
Hi all,

I had a question on how to setup connectivity for the API Servers of two different kind clusters?
[code]

I am using Istio (dw this is not important) that configures the clusters to reach each other through localhost such as `https://127.0.0.1:49288` but understandably the connection refuses as this is querying the localhost of the kind node.

How can I get this out of the kind node and i

[2021-01-21 18:39] yogeek commented on #2009
@BenTheElder thanks for you help

Indeed ! Sorry about that but I forgot to edit my snippet : before your answer, I continued my tests and I changed the "http_proxy" to point to my host (`172.17.0.1:3128`, corresponding to the `docker0` interface, which is pingable by my containers), on which CNTLM is running. For the container to be able to contact the CNTLM on the host IP, I also had to use the

[2021-01-21 19:13] BenTheElder commented on #2009
We need it to be respected in the nested runtimes etc, which kind can handle, but only if you make it aware of the proxy (by exporting it), currently this seems to be the "standard" for proxy settings.

[2021-01-21 19:28] timmyers opened #2019 "Issues with `0.9.0` images and `port-forward`"
**What happened**:

Since upgrading to `0.9.0`, and using the new images, have been experiencing issues with port forwarding resulting in errors like

[code]

**What you expected to happen**:

Port forwarding continue to works as expected.

**How to reproduce it (as minimally and precisely as possible)**:

Port forwarding into a container and trying to access it with `0.9.0` and `kindest/node:v1.1

[2021-01-21 21:19] timmyers commented on #2019
This seems to happen in a rather subtle timing scenario.  If I try to open a connection to the forwarded pod before it has opened its listener, it will fail as expected `connect: connection refused`.

My code keeps retrying in this case.  If it tries to make a connection very soon after the pod is listening, I get the above issue.  If I wait a little while after the pod has started listening, ever

[2021-01-21 22:49] BenTheElder commented on #2019
https://github.com/kubernetes-sigs/kind/issues/1723 previous issues with port forward

can you give an example image? these are also different kubernetes versions.

We're finally preparing to release 0.10.0 after some bug fixes landed (not related to this), what happens if you use the default image from HEAD?

[2021-01-21 22:51] BenTheElder commented on #2016
#1935 is not landed yet, but that may be fair enough then.

nearly all of it is irrelevant though, especially for e.g. multi-node.

no, kind invokes kubeadm, not systemd, and when invoking it fails the output is displayed. it's generally not the root cause though.

similarly if container creation fails or containers terminate early, usually the error requires more info than the container logs.

[2021-01-21 22:56] BenTheElder commented on #2018
The API servers are all on the `kind` network, so they have connectivity.

If you want to connect to the API server from within the clusters / docker, you need to use the kubeconfig from `kind get kubeconfig --internal`, this is because in order to expose the apiserver to the host we use a docker port forward, and because `127.0.0.1` is local to each container as you mentioned.

the node component

[2021-01-21 22:58] BenTheElder commented on #2018
also to be explicit: you don't need to make any changes to kind, the application(s) just need to use the correct details for contacting the server from within docker rather than the host.

ideally applications should support this because it's analogous to having a cluster in a private network / data center with an external address for the API via a jump-box / loadbalancer / ... and an internal end

[2021-01-21 22:58] #2018 closed

[2021-01-22 00:29] BenTheElder opened #2021 "[meta]: release v0.10.0"
This is way overdue, and has largely been blocked on finishing out the cgroups entrypoint fixes / myself and others being in and out intermittently due to the holidays. These fixes are finally in and seem to be working reliably on all platforms.

There are so many other features we should ship, but they can wait for another release, HEAD looks like a safe upgrade target right now with a number of

[2021-01-22 01:02] BenTheElder commented on #1966
I've thought about this some more, and I think the next API revision should support volumes, but NOT by breaking the behavior of v1alpha4. We can require relative paths to contain a path separator (at minimum `./`) in v1alpha5 to be resolved, and otherwise leave the value as-is.

I've thought of other use cases for this feature, and I think the difference between `foo` and `./foo` being mountable

[2021-01-22 01:04] BenTheElder commented on #1834
I think I have a more elegant solution for the next revision: we can support node `extraMount` entries that clash with automatically provided volumes by simply taking the extraMount instead of the volume we would have used, while allowing volumes there https://github.com/kubernetes-sigs/kind/issues/1966

Then you can create a docker volume as you see fit and mount it to /var without the awkward vo

[2021-01-22 01:42] BenTheElder commented on #1175
it would be helpful to know more about how docker behaves here, e.g. does it try to merge these settings? If I add proxy details to docker but then I pass the http_proxy env to a container, what value is use?

[2021-01-22 01:50] BenTheElder commented on #1938
Sorry I failed to actually post back my thoughts here :(

I think this feature is actually potentially a tad dangerous and here's why:

Security of the docker socket, chosen KUBECONFIG directory, etc. are all up to the user, admittedly the kubeconfig + kind is probably risky in practice but that's true for *lots* of clusters and something already created that we benefit from compatibility with ...

[2021-01-22 01:51] BenTheElder commented on #1873
I've not heard back anything further here, but AFAICT this is an issue on redhat's end with spec compatibility and won't be something we can resolve ourselves.

I'm going to leave this open for now in the hope that anyone else running into this issue finds the discussion here.

[2021-01-22 01:54] BenTheElder opened #2023 "v1alpha5 API design"
We should add a new API revision in order to make some improvements, here is what I have in mind:

1. dual-stack network configuration (a good reason for people to upgrade 🙃 ) #692 #1275
2. `extraMounts` should only resolve paths to absolute if they contain a path separator https://github.com/kubernetes-sigs/kind/issues/1966
   - I.E. bare filenames / directories will need to go from `foo` to `./f

[2021-01-22 03:20] BenTheElder commented on #2023
We should also start labeling when support for a field was introduced in https://kind.sigs.k8s.io/docs/user/configuration/ and ensure all fields are in that doc.

[2021-01-22 03:53] BenTheElder opened #2024 "[meta]: v0.11.0 priority tracking"
For v0.11.0 we want to try something new to help keep our releases on track and communicate expectations better; this issue will track explicitly the priorities maintainers are aiming at for v0.11.0.

1. @BenTheElder, @munnerz: The first thing is actually going to ship as the last v0.10.0 "feature" but we haven't mentioned it publicly yet and it's relevant here: We need to expand the maintainer se

[2021-01-22 04:54] BenTheElder opened #2026 "label required version for config options, and other compatibility details"
**What would you like to be documented**:

https://kind.sigs.k8s.io/docs/user/configuration/ should surface what the minimum version of kind is for each config field, any differences in behavior, and the minimum apiVersion for the field.

The versions would probably look best as some sort of marker (table?) below each heading, but we should try some things to see what works best to effectively com

[2021-01-22 08:47] BenTheElder commented on #2024
\# 1 progress:

- [x] add to OWNERS for kind repo root https://github.com/kubernetes-sigs/kind/pull/2025
- [x] invite to owners for https://github.com/kind-ci/
- [ ] peribolos PR to add to repo administrators for kind repo
- [ ] docker registry access
- [ ] github.com/kubernetes/k8s.io GCB/GCS/GCR access for kind subproject
- [x] github.com/kubernetes/test-infra [OWNERS for kind repo jobs](https:/

[2021-01-22 13:17] neolit123 commented on #2023
i like this.

[2021-01-22 17:10] bostrt opened #2027 "Unable to load image using Podman"
**What happened**: Unable to load image using Podman provider:

[code]

**What you expected to happen**: Be able to load image without any workaround (mentioned below).

**How to reproduce it (as minimally and precisely as possible)**:

1. Fresh install Fedora 33
2. Install podman (no docker)
3. clone and build kind
4. build an image using `podman build`
5. check the image exists `podman images`
6

[2021-01-22 18:38] timmyers commented on #2019
It seemed that basically any release associated with `0.9.0` failed and with `0.8.1` worked.  I tested these ones specifically:

Failed:
[code]

Passed:
[code]

[2021-01-22 18:56] BenTheElder commented on #2027
The docker command is docker specific and supposed to be replaced with a generic command but it's unimplemented. The docker-image command will always read from docker and changing that would be breaking behavior for those with both installed.

You can use `kind load image-archive` and `podman save` until the new command is implemented.

The podman driver is still considered experimental and unstab

[2021-01-22 19:01] BenTheElder commented on #2019
cc @aojea this is probably related to the downstream CRI changes?

[2021-01-22 19:25] bostrt commented on #2027
Many thanks! I'll give the manual podman step a try and fallback to using docker otherwise.

I'm happy to close this since podman driver is still quite new if you wish.

[2021-01-22 19:34] timmyers commented on #2019
Are there any tagged releases of this easily available to test out?

[2021-01-22 19:39] BenTheElder commented on #2027
I think we don't actually have a tracking issue for the command, but let me file a new one for that and link back here and tag it for v0.11.0 (v0.10.0 cutting is in progress today). We have some existing discussion in a PR but it didn't wind up making it back into the issue tracker I think.

[2021-01-22 19:57] BenTheElder commented on #2021
I've been working on https://github.com/kubernetes-sigs/kind/issues/2024#issuecomment-765242518 with @munnerz, but next will start the image builds.

[2021-01-22 19:58] timmyers commented on #2019
Running with the default image using `https://kind.sigs.k8s.io/dl/latest/kind-darwin-amd64` (`kindest/node:v1.20.2@sha256:8f7ea6e7642c0da54f04a7ee10431549c0257315b3a634f6ef2fecaaedb19bab`) had the same issue.

[2021-01-22 20:34] aojea commented on #2019
your kubectl versions seems too old
[code]

[2021-01-22 20:47] timmyers commented on #2019
Sorry I should have mentioned I am doing the actual port-forwading in code with `k8s.io/client-go/tools/portforward`, same as is it is done by up to date `kubectl` source.

I did just try updating to `kubectl v1.19.7` just to make sure and re-ran my tests, since it is used for some other setup, but no change.

[2021-01-22 21:15] timmyers commented on #2019
Right now I am adding a delay of 10 seconds between setting up the port-forward connection and making any requests to it.  That seems to work by getting around some odd timing window but is obviously a workaround.

[2021-01-22 21:55] BenTheElder commented on #2021
building images @ 575467a0eaf
- v1.14.10: `sha256:3fbed72bcac108055e46e7b4091eb6858ad628ec51bf693c21f5ec34578f6180`
- v1.15.12:
- v1.16.15:
- v1.17.11:
- v1.18.
- v1.19.
- v1.20.2: this is already pushed and current / the new default image

[2021-01-22 23:08] BenTheElder commented on #2021
collecting info for release notes

[2021-01-23 00:15] BenTheElder commented on #2021
https://github.com/kubernetes-sigs/kind/releases/tag/v0.10.0

[2021-01-23 00:15] #2021 closed

[2021-01-23 01:28] BenTheElder commented on #2019
https://github.com/kubernetes-sigs/kind/issues/2019#issuecomment-765638766 there are now :-)
https://github.com/kubernetes-sigs/kind/releases/tag/v0.10.0

but I'd expect the issue to be in the images as you discovered, something in cri-containerd most likely.

[2021-01-23 01:53] micahhausler opened #2030 "Support configurability in base image sources"
## What would you like to be added

The kind node base image today trusts multiple independent supply chains. Currently the [`Dockerfile`](https://github.com/kubernetes-sigs/kind/blob/v0.10.0/images/base/Dockerfile) is based on Docker hub's Ubuntu container image ([`FROM ubuntu:20.10`](https://github.com/kubernetes-sigs/kind/blob/v0.10.0/images/base/Dockerfile#L22)), uses [Canonical's packages](ht

[2021-01-23 07:15] jordansissel commented on #1961
First time `kind` user (hi!) today, checking in here to report success!

I followed the docs on https://kind.sigs.k8s.io/docs/user/loadbalancer/ (from #1996), and I was successfully able to get `kind` to use my docker network subnet:

[code]

I honestly don't know what metallb is, but the docs, as-is, helped me copy-paste my way to success (LoadBalancer having an address accessible from the docker

[2021-01-23 20:09] felipecrs commented on #1861
Socat could be useful for this.

[2021-01-24 09:11] #1042 closed

[2021-01-24 10:23] aojea commented on #1778
/remove-lifecycle stale

[2021-01-24 12:19] afbjorklund commented on #1778
I have added a similar story for minikube, we are hoping for podman v3....

https://github.com/kubernetes/minikube/issues/10237

[2021-01-25 09:02] BenTheElder commented on #1726
We should strongly consider this in v0.11.0, see also https://github.com/kubernetes/kubernetes/pull/96594 for some excitement around kind's (poor) behavior with cgroups v1 currently ...

[2021-01-25 09:09] BenTheElder commented on #2030
TLDR: A resounding +1

---

The longer context ...

I see the rough proposal around binaries getting a little tricky for multi-arch (one env per hash per arch maybe? ugh), but I do think that we should be checking these AND that these should be configurable.

I think there might need to be a bit of "you ~break it~ replace the sources, you bought it" though 🙃

As we develop kind we frequently pick

[2021-01-25 09:12] BenTheElder commented on #2030
I'd actually further add that while `kind build node-image` supports supplying an arbitrary base image, there's a tacit assumption that it's relatively equivalent in contents / functionality to the current default, but the flag exists both for quicker iteration of minor changes _and_ to enable this sort of "we must supply our own trusted image".

I know a few users at my employer would like better

[2021-01-25 09:17] BenTheElder commented on #1961
Thanks for the feedback! 🎉

Heh, that's great ❤️

If you want to know what metallb is, check the first link in the description at the top of the new doc (links to: https://metallb.universe.tf/), I think that has the right details. Basically it's a baremetal loadbalancer project for kubernetes that amongst other things implements `type: LoadBalancer` without necessarily being in a hosted cloud.

I

[2021-01-25 09:17] #1961 closed

[2021-01-25 09:19] BenTheElder commented on #1961
and if you haven't seen, check the release notes https://github.com/kubernetes-sigs/kind/releases/tag/v0.10.0#user-content-contributors and https://github.com/kubernetes-sigs/kind/releases/tag/v0.10.0#user-content-new-features

[2021-01-25 09:21] BenTheElder commented on #1181
I think maybe we should just add a user guide page for this and it can eventually reference the shinier guide we want later. Even just a basic pointer to what the shell scripts we have now do / what CI is doing is probably worth getting a rough page up for sooner rather than later.

[2021-01-25 09:39] BenTheElder commented on #398
Circling back to this:

- PSP is officially deprecated in the coming Kubernetes v1.21.0
- PDB: actually not all that up on PDB, unclear on this one
- metric-server: seems to be necessary, unless you want to use the prometheus adapter instead (which seems overkill for kind imo)
- dashboard: we've had ~0 requests in kind, I think there is also a lot of alternatives in this space now.

PVC on the oth

[2021-01-25 09:41] BenTheElder commented on #398
i don't love the insecure TLS that seems to be in use so far here, but I think we should evaluate how "heavy" this is to ship by default for those that aren't using it (memory, cpu, node image size...), and at the very least get a doc up somewhere similar to the loadbalancer guide we just added.

[2021-01-25 09:42] BenTheElder commented on #1543
let's fold this back into #1213, we do communicate in this way with the external registry script and the "how do we do this" is solved, what's not solved is "OOTB registry w/o using a bash script".

[2021-01-25 09:42] #1543 closed

[2021-01-25 09:44] BenTheElder commented on #1954
Kind ships with Kubernetes v1.20.2 default in kind v0.1.0, which should mean this is finally on by default in kind for the default.

I'm not sure we should backport it further, https://github.com/kubernetes-sigs/kind/issues/1954#issuecomment-738891835

[2021-01-25 09:46] BenTheElder commented on #1614
v0.10.0 is shipped with aforementioned entrypoint changes. there's some additional tweaks to make it work in more environments as well.

[2021-01-25 09:55] BenTheElder commented on #1927
One thing that may improve this is #1614, in kind v0.10.0+ the remaining thing to do is tweak DIND setups to similarly handle the cgroups better (IIRC istio has it's own image implementing docker in docker, as does kubernetes, neither of which have the cgroups fixups).

[2021-01-25 09:59] BenTheElder commented on #166
/assign
Tiny update: multi-arch support is both in v0.11.0 priority tracking (a new attempt we're making at communicating the maintainer focus) #2024, and in my Q1 objectives.

We wound up needing to focus on wrapping up some fixes in v0.10.0, but that's out now. Otherwise I'm working on an unrelated KEP for Kubernetes build, but in between that actually starting work on the kind multi-arch story.

[2021-01-25 10:01] BenTheElder commented on #1778
I expect revamped image loading to land in v0.11.0 (just started the cycle for that), I'm not sure we should block on windows / mac support.

We also have some limited CI for podman now, which is good.

[2021-01-25 10:04] BenTheElder commented on #1530
This is not true now! (and may not have been before??) @AkihiroSuda has vagrant base cgroupsv2 CI now
https://github.com/kubernetes-sigs/kind/blob/21c1d2e5b25e71234f3b30eceae97f03df98787a/.github/workflows/cgroup2.yaml#L12

Perhaps we can hack something up now to test that docker desktop + kind on macOS works cc @amwat

https://github.com/docker-practice/actions-setup-docker

[2021-01-25 10:07] BenTheElder commented on #1275
this is explicitly a priority for v0.11.0 #2024

[2021-01-25 10:09] BenTheElder commented on #1374
we're going to need to do this again soon 🙃
tempted to automate this ...

[2021-01-25 10:30] mitar commented on #706
Yep, having a kind Docker image which one could just use as a GitLab service would be great.

[2021-01-25 15:37] nicks commented on #1543
:+1:

[2021-01-25 17:23] mitar commented on #620
I think this issue should be reopen. I do not see/find any documentation how to use kind as a **GitLab service**, only how to use Docker-in-Docker GitLab service to deploy kind to it. This is slightly different. Ideally, one could deploy kind as a service (so a sidecar container) to the main job container, and then run inside the main job container kind in "configure only" way to finish the setup

[2021-01-25 17:27] mitar commented on #1882
I think for this you would need to:
* Be able to run Kind as a GitLab service (https://github.com/kubernetes-sigs/kind/issues/620)
* Service should be able to be persisted across GitLab jobs: https://gitlab.com/gitlab-org/gitlab/-/issues/15153

If you use your own runners, you can probably escape the abstractions provided by GitLab and for example create a kind cluster directly on the host by expo

[2021-01-25 18:11] BenTheElder commented on #620
We have another repo dedicated to CI services with community supplied examples, as many as we can actually running against the repo
https://kind.sigs.k8s.io/docs/user/resources/#using-kind-in-ci

We don't do support for CI services here, and we couldn't enable them here due to org policies even if we wanted to.

[2021-01-25 18:13] BenTheElder commented on #620
We don't support this, and won't be supporting this.
There's too much we need to coordinate after the entrypoint is started and too many fiddly flags to get right running the image, sometimes with changes depending on the host etc.

[2021-01-25 18:15] BenTheElder commented on #620
If it were just a simple docker run the binary wouldn't exist. As it stands it's a single ~7MB statically linked binary. You can always run a service that invokes the binary against the host socket (potentially using your own simple custom image with the binary + docker cli), but that would be documented in the CI examples project.

[2021-01-25 19:15] mitar commented on #620
Thank you for your comments. Very helpful.

[2021-01-25 20:30] BenTheElder commented on #620
I just checked and the .gitlab-ci.yml is using the dind service currently, but I think an example with this approach would be welcome. we've relied pretty heavily on user contributions for platforms like gitlab far, it could use more attention around "best practices" etc 😞

amusingly the gitlab "badge" there is a static example badge ... we must have missed that previously 🔥

[2021-01-25 21:12] mitar commented on #620
Yes, but based on your comments above I do not think using it as a service is possible. Currently you can set only very basic configuration of the image used in the service: https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#available-settings-for-services

I think at least mounting external files should be needed. But you said that:

So if it is not possible to get to `docker run` you

[2021-01-25 21:14] mitar commented on #620
Oh, you are talking about using host's Docker socket? Yes, that could be documented. Sadly I am not in position to do that because my target is gitlab.com and not local runner. We could open an issue in examples repository soliciting somebody to provide such example.

[2021-01-25 23:08] micahhausler commented on #2030
A hash per $ARCH makes sense to me.

Yep, that is my thinking as well. I will ensure that docs are updated appropriately

[2021-01-26 01:46] dragonly opened #2034 "Add more options for export command"
**What would you like to be added**:
Add more options for `export` command, such as exporting config maps.

**Why is this needed**:
We are using kind as a e2e testing environment in developing TiDB Operator. What always makes us upset is that when something bad happens, we can only exports logs and stuck there. For example, the log says that some config file is missing, but without the configmap w

[2021-01-26 04:15] BenTheElder commented on #2034
Is there a reason not to dump your configmaps using tooling that just works using KUBECONFIG?

The logs kind exports are largely not something you can get from the Kubernetes API (node level files that depend on the provider) but your configmaps should be dumpable portably?

[2021-01-26 07:11] mitar opened #2035 "Drop requirement on docker client"
**What would you like to be added**:

I would suggest that kind should not need a `docker` CLI tool but should embed one and be able to talk directly to `docker.sock`. I do not think there is really a reason to use `docker` CLI tool.

**Why is this needed**:

Just to have Docker images running `kind` smaller because they would not need `docker` CLI tool but just access to `docker.sock`.

[2021-01-26 08:13] BenTheElder commented on #2035
Kind also supports podman and the docker client library dependency chain will make kind significantly harder to embed in test applications.

Currently the user must supply a functioning podman or docker install, that's it.

The images containing docker cli + kind should not be substantially smaller than docker + kind importing the client as the docker cli is a relatively thin layer over the client

[2021-01-26 08:14] BenTheElder commented on #2035
Our primary use case is also not running in a docker image, and the kind binarh is very tiny to deliver on its own by having minimal dependencies and binary bloat.

When you mount the docker socket to the container you can also mount the docker binary.

[2021-01-26 08:32] BenTheElder commented on #2035
see: https://github.com/moby/moby/issues/39302#issuecomment-702406292

While the tone of the comment is a bit much, this part is a major issue -- when using the docker CLI there is substantial compatibility across versions and we can sanely support them. Similarly we can do this for podman across small breaking changes. Currently there is not even a supported client tagging compatibility at all, t

[2021-01-26 16:57] llhuii opened #2036 "Add a shorter timeout instead of default 30 seconds for kindnetd listing nodes to speed up control-plane ready"
**What would you like to be added**:
Add a timeout for https://github.com/kubernetes-sigs/kind/blob/21c1d2e5b25e71234f3b30eceae97f03df98787a/images/kindnetd/cmd/kindnetd/main.go#L107
Else kindnet would be timed out for 30 seconds in first time leading 30-seconds slower for control-plane node to be ready
**Why is this needed**:
I have a ci using kind to deploy k8s environment, I want to make contro

[2021-01-26 16:59] llhuii commented on #2036
Hi, @BenTheElder, if this's ok to you, I would be happy to submit a pull request for this.

[2021-01-26 22:14] aojea commented on #2036
@llhuii what do you mean exactly, that if the control-plane takes more than 30 seconds in start this will add an additional 30 seconds?

[2021-01-27 02:55] llhuii commented on #2036
Hi, @aojea, because the default i/o timeout is 30 seconds, want to make it shorter(e.g. 1 seconds).
kindnet logs:
```I0127 02:08:57.810964       1 main.go:111] Failed to get nodes, retrying after error: Get https://10.96.0.1:443/api/v1/nodes: dial tcp 10.96.0.1:443: i/o timeout```
This timeout occurs very frequently in my environment.

[2021-01-27 03:10] llhuii commented on #2036
1. kindnetd and kubeproxy are created simultaneous by kubelet.
2. kindnetd tries to connect API server before the iptable rules are set by kubeproxy, so it will be stuck at default socket io timeout (which is 30 seconds, PS I'm not sure that this 30 timeout is set by client-go or golang net).

[2021-01-27 03:39] llhuii commented on #2036
Another workaround I found is to add a `nc`  initContainer into default-cni.yaml to test k8s API:
[code]

[2021-01-27 03:56] llhuii commented on #2036
Also another way to cheat to speed up node ready:
[code]

[2021-01-27 05:58] BenTheElder commented on #1974
I think anything remaining is at most a dupe of #1175

[2021-01-27 05:58] #1974 closed

[2021-01-27 05:59] #1954 closed

[2021-01-27 06:09] BenTheElder opened #2038 "unified image loading"
As discussed when podman has come up previously I don't think we should continue making unique image loading commands, instead we should:

- support podman + docker + tarball in a single `kind load image`
- for each image argument, we should:
   - check for a file first if it looks like a path / check if the file exists
   - check docker
   - check podman

 For checking docker vs podman, we can po

[2021-01-27 06:13] BenTheElder commented on #2027
I filed https://github.com/kubernetes-sigs/kind/issues/2038 to outline what I _think_ we should do next regarding this, let's track there for now.

I'd like to see something ship in the next release, the podman support seems to be stabilizing, but this is a missing spot still.

With #2038 I think we can solve this in a way that works well for scripts that are using docker or podman interchangeably

[2021-01-27 06:13] #2027 closed

[2021-01-27 06:16] BenTheElder commented on #1999
we have cgroupsv2 CI now with kubernetes 1.20, kind v0.10.0 ships 1.20.2 by default along with some improved cgroups handling, but if a required cgroup is not mounted we can't do much about that.

[2021-01-27 09:13] aojea commented on #2036
I see, thanks, so there are 3 points of improvement:
1. kube-proxy dependency, so kindnet depends on the apiserver virtual api, that has to be configured by kube-proxy, if kindnet is deployed before kube-proxy it has to timeout, restart and then it can use the apiserver virtual ip
I think that we should implement the same logic that kube-proxy, allow to configure the apiserver host so we can use t

[2021-01-27 09:53] mitar commented on #2035
Thanks for explaining the issues here. I thought docker lib is easier to use.

[2021-01-27 09:53] #2035 closed

[2021-01-27 10:26] chiyiliao opened #2039 "Cannot create cluster through puppet"
**What happened**:
When I execute "kind create cluster" to create cluster manual, it can be successful.
But when execute "kind create cluster" in puppet script, it occur error!

**What you expected to happen**:
kind should create cluster through puppet without error.

**How to reproduce it (as minimally and precisely as possible)**:

- Step1: create a file 'kind.pp':
-----------------------

class

[2021-01-27 11:57] joesonw opened #2040 "Is it possible to access kind CLI inside docker"
I'm running kind cluster on a mac.

And I have a gitlab-runner container running on the same mac.

Is it possible to for me to load images into kind inside docker with Docker In Docker?

Or has it to be on the host machine?

[2021-01-27 12:00] aojea commented on #2038
and adding the methods to the provider interface?
If a new provider doesn´t support it, it just throw an error

[code]

[2021-01-27 12:05] llhuii commented on #2036
Ok, I am glad to take 2.

[2021-01-27 14:07] neolit123 commented on #2039
under puppet, if you pass --retain to "create" kind will keep the node containers running.
what are the contents of `/kind/version`?

you can get that using something like `docker exec kind-control-plane cat /kind/version`

[2021-01-27 16:58] llhuii commented on #2036
I found two ways to implement the 2nd improvement:
1.  write the cni placeholder to `/etc/cni/net.d/10-kindnet.conflist` before this line https://github.com/kubernetes-sigs/kind/blob/21c1d2e5b25e71234f3b30eceae97f03df98787a/images/kindnetd/cmd/kindnetd/main.go#L97-L99
2.  add the placeholder by node.Command before this line https://github.com/kubernetes-sigs/kind/blob/21c1d2e5b25e71234f3b30eceae97

[2021-01-27 17:07] timmyers commented on #2019
No surprises here but I am seeing the issue in the new release and these images as well:
[code]

[2021-01-27 17:30] aojea commented on #2036
If we wait for kindnet we still have to wait for kubelet to create the kindnet pod.
If the goal is that kubelet set it status to ready ASAP it has to be 2,
what do you think @BenTheElder ?

[2021-01-27 18:13] aojea commented on #2019
Can you paste a gist with a reproducer?

[2021-01-28 01:24] chiyiliao commented on #2039
The contents of /kind/version is v1.19.1
The cluster only can be create by hand, it will failed when create by puppet.
puppet version is 5.3.2

[2021-01-28 03:14] BenTheElder commented on #2040
I don't recommend running kind in docker in docker, however it is possible to do, including loading images.

However, you're going to want the image reading portion to talk to the docker with the images, and the writing portion must talk to the kind nodes and the docker running that.

If your images are in the docker-in-docker then proceed as normal, running the kind binary there against that sock

[2021-01-28 03:15] BenTheElder commented on #2038
No, because we shouldn't need a provider instance. Even if I use docker to build some image (maybe I'm using a project that uses buildkit / buildx) I should be able to load it into my podman cluster smoothly, and vice versa.

[2021-01-28 03:21] BenTheElder commented on #2039
please upgrade to kind v0.10.0, this bug is already fixed.
FYI this means your docker CLI is throwing a warning.

https://github.com/kubernetes-sigs/kind/issues/1288

[2021-01-28 03:21] #2039 closed

[2021-01-28 03:21] joesonw commented on #2040
@BenTheElder Thank you for the detailed explanation. My understanding is that `kind load image` solely talks to `docker.sock`, does it talk to the `kind nodes` (kind-control-plane, kind-worker)?

[2021-01-28 03:23] BenTheElder commented on #2039
(If I had to guess: the puppet user doesn't have permission to read the DOCKER_CONFIG)

[2021-01-28 03:25] BenTheElder commented on #2040
`kind load docker-image` needs to talk to the docker daemon on which the nodes are running.
it then talks to the container runtime *inside* the nodes over this connection.
it also needs to check the image ID from the docker daemon for the desired image against the present images on the nodes, and then potentially save and stream in the image.

if your image is in one daemon and the nodes are in an

[2021-01-28 03:27] BenTheElder commented on #2040
so without docker in docker: if I `kind create cluster` and then I `docker build -t foo:bar ...` I can `kind load docker-image foo:bar`.

but if I ran kind in docker-in-docker and built the image on the host / outer docker, I'd need to `docker save` against the host docker and then pass that along to `kind load image-archive` on the inner docker-in-docker.

[2021-01-28 03:28] joesonw commented on #2040
@BenTheElder I see. Thanks. I'll give it a shot.

[2021-01-28 03:34] BenTheElder commented on #2035
Thanks for understanding!

I think it's pretty easy to use *if* you have full control over the version of docker you're targeting and don't mind fighting with the dependencies a bit (though docker also ships using an out of support version of go still ...). It doesn't support modules yet and has generally been a notoriously painful dependency for us in the kubernetes/kubernetes main project, we're

[2021-01-28 04:09] mitar commented on #2035
This is why I would also like to eliminate docker cli. :-)

[2021-01-28 05:39] chiyiliao commented on #2039
It works, puppet can create cluster after upgrade to kind v0.10.0
Thank you very much.

[2021-01-28 05:41] chiyiliao commented on #2039
I'm not sure, I don't see relative message in system log.

[2021-01-28 07:11] BenTheElder commented on #2039
Docker is printing something to stderr when used by the puppet user, it's probably not important (which is why we fixed just ignoring it), but you might want to look. You could probably add and log some other docker call to your puppet setup (I don't use puppet, so I'm not sure exactly how).

[2021-01-28 10:14] aojea commented on #2038
That is great, and is easy to implement https://github.com/kubernetes-sigs/kind/pull/2041

I like the piping approach and leverage other tools like  https://github.com/containers/skopeo to deal with the whole image format thing

[2021-01-28 12:56] mflendrich commented on #197
I'd like to request availability of `kindest/node` images for pre-release versions of Kubernetes (alpha, beta).

We intend to utilize kind for regression testing against multiple versions of Kubernetes. Being able to include the upcoming Kubernetes version (which is available as an alpha/beta build) in our tests would shorten our feedback loop by weeks/months.

cc @shaneutt

[2021-01-28 18:24] BenTheElder commented on #197
Currently you'll need to build your own, we have documentation for this in user guide.
In the near future we will offer builds that don't require building Kubernetes from source but will result in slightly larger images.

[2021-01-28 19:26] BenTheElder commented on #303
FYI the cgroups changes (a modified / enhanced version of what is outlined in @jieyu's post above, thanks!) in the KIND entrypoint are in kind v0.10.0+ images, but you still have your docker-in-docker setup to contend with.

[2021-01-29 05:22] optimus-kart commented on #1990
I am hitting this issue after restarting the host machine. is there any workaround for this?

[2021-01-30 14:52] hadrabap opened #2045 "multi-node: Kubernetes cluster does not start after Docker re-assigns node's IP addresses after (Docker) restart"
Kind Kubernetes cluster does not survive Docker restart. It seems that docker assigns new IPs to containers on each start-up. The KIND nodes however have original IP addresses specified in the generated configuration files causing kubernetes services unable to talk to each other. The most affected ones are scheduler and controller.

**What happened**:

Kubernetes starts in broken state even though

[2021-01-30 18:37] lcostea opened #2046 "[Docker Desktop - Mac] custom apiServerAddress doesn't work, goes to 127.0.0.1"
**What happened**:
Using a configuration like this:
[code]
where 192.168.1.231 is my local IP address, to start a cluster, in kubeconfig I get 127.0.0.1 and a dynamic port. When I try to `kubectl get pods` I get:
`The connection to the server 127.0.0.1:55001 was refused - did you specify the right host or port?`

**What you expected to happen**:
To have the api server working on my local IP, so I

[2021-01-30 20:06] BenTheElder commented on #2046
Is that your entire configuration? Because that snippet alone is invalid.
https://kind.sigs.k8s.io/docs/user/configuration/

[2021-01-31 09:00] markush81 commented on #2045
Just wanted to open the same thing, my information is as follows

**Environment:**
- macOS Big Sur 11.1
- Docker 0.10.2
- kind v0.10.0 go1.15.7 darwin/amd64

**Kind setup**

[code]

After creating it the inspect of the related docker network shows

[code]

After a reboot of the whole machine/ or a docker restart it usually comes to the situation that the IPs have changed

[code]
 "Containers": {

[2021-01-31 11:14] lcostea commented on #2046
This is the configuration:
[code]
The command to create the cluster:
[code]

You can see it in this repo: https://github.com/lcostea/argocd-config/blob/master/docs/2-add-external-clusters.md (number 2)

[2021-01-31 12:12] hadrabap commented on #2045
OKi, I've realized that `kind` creates its own docker network. Thank you @markush81!

I've patched `kind` Docker provider so it (currently) generates sequential IP addresses for each node and forces them with `docker ... --ip XXX`.

This seems to solve the issue. Docker reuses the IPs after restart.

Take a look at [my branch](https://github.com/hadrabap/kind/tree/docker-container-ip).

I'll try t

[2021-01-31 13:45] aojea commented on #2045
/assign

custom IP allocation was discussed before and it not easy to implement, check that you can have multiple cluster created at same time ...

It will be interesting to understand what is the root cause, we switched to dns in most parts to allow restarts ... can this be a kubernets limitation or are we missing something?

[2021-01-31 14:12] serrodcal opened #2047 "Horizontal Pod Autoscale does not scale pods"
**What happened**: It seems like Horizontal Pod Autoscale (a.k.a HPA) doesn't work because the current resource utilisation is unknown:

[code]

**What you expected to happen**: HPA should work fine

**How to reproduce it (as minimally and precisely as possible)**: Apply the following YAML

[code]

Generate load with:

[code]

**Anything else we need to know?**: I'm not sure about the reason the H

[2021-01-31 16:21] hadrabap commented on #2045
So, I've implemented simple mechanism which:

1. Gets network address from `kind` Docker network
2. Obtains all already assigned IP addresses in that network
3. Sequentially generates IP addresses for the network and if it is not found in the assigned IP list then it is used.

The mechanism has however one disadvantage: it fills possible gaps. But it works even for subsequent additional cluster cr

[2021-01-31 17:41] llhuii commented on #2036
#2048 for this

[2021-01-31 19:14] lcostea commented on #2046
Created this gist with additional info: https://gist.github.com/lcostea/3a19e731a9f0e13f5e1a1541bfe6f9cb

It seems that the label `desktop.docker.io/ports/6443/tcp` is missing. I couldn't find anywhere any reference to the ip I used `192.168.1.231`.

I could dig more on how to workaround this, but I ran out of ideas.

Good thing is that https://github.com/docker/for-mac/issues/4541 seems will get

[2021-01-31 19:29] hadrabap commented on #2045
I think this is Docker related. The kubernetes cluster itself uses DNS but it will not get there as kubeadm is launched by systemd with configuration files using IPs only. These files are generated by `kind` during installation. Thats why the cluster works after installation because the IPs are already assigned by Docker. After the restart new IPs are assigned unless the containers were originally

[2021-01-31 21:04] serrodcal commented on #2047
I've tried [this example](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/) and it doesn't work either.

[2021-02-01 05:49] BenTheElder commented on #2047
root cause is a dupe of: https://github.com/kubernetes-sigs/kind/issues/1963 https://github.com/kubernetes-sigs/kind/issues/398

one of these is easy, but only insecurely.
the other (actually limiting node resources) is ... challenging to do cleanly. We've had a long chat with cAdvisor / SIG node about this, you can find some of it following through from the issues above. For the moment you're goi

[2021-02-01 05:50] BenTheElder commented on #2046
if it is indeed https://github.com/docker/for-mac/issues/4541 we already merged https://github.com/kubernetes-sigs/kind/pull/1785 so ... 🤔

[2021-02-01 05:52] BenTheElder commented on #2045
not strictly.

this is a bug in https://github.com/kubernetes-sigs/kind/blob/461ad5201ed19f3b3f80b41fe56802c015c45cc9/images/base/files/usr/local/bin/entrypoint#L255

[2021-02-01 05:53] BenTheElder commented on #2045
Actually, docker does not guarantee this unless you create a network that excludes the chosen IPs from the auto-allocated range.
In order to do that we need to predict how much users need for kind versus containers alongside kind, and it generally complicates things. Even then it's only best effort, and not guaranteed. Docker does not provide guaranteed static IP allocation.

You can see more on t

[2021-02-01 05:54] BenTheElder commented on #2045
This also smells like a bug somewhere between kubeadm and kind, there's no reason I shouldn't be able to put the APIserver behind DNS and have components respect that.

[2021-02-01 06:00] BenTheElder commented on #1963
there's discussion in https://github.com/google/cadvisor/pull/2699 and in SIG Node slack. There's significant pushback against having any way to tell cAdvisor what the actual host limits are w/o relying on auto-detection and against letting cAdvisor read it from the cgroup.

To a certain extent it may still be possible to implement a bad version of this by setting a computed system-reserved at the

[2021-02-01 07:11] ktock commented on #1981
Aiming to make this happen, we started discussion about changes necessary on Stargz Snapshotter's side at https://github.com/containerd/stargz-snapshotter/issues/253.

[2021-02-01 07:47] lcostea commented on #2046
In https://github.com/docker/for-mac/issues/4541#issuecomment-748273314 they say the label is gone, so it looks like the fix from https://github.com/kubernetes-sigs/kind/pull/1785 stopped working for 20.10 version. At least that's my understanding and running docker inspect confirmed no such label `desktop.docker.io/ports/6443/tcp` is present

[2021-02-01 07:58] serrodcal commented on #2047
Wow, interesting conversations...

I'm not familiar with the internal stuff of Kubernetes but is there any chance of add a page in [https://kind.sigs.k8s.io/](https://kind.sigs.k8s.io/) to try to collect and give a guide to the user about this? I mean, in the same way the Ingress Controller...

It's true if you want provide K8s as minimal as possible, maybe the metrics are not in the scope. But, o

[2021-02-01 10:05] hadrabap commented on #2045
I hope I understand it better now. Let me summarize and please correct me if I'm wrong:

1. Kind installs cluster with all it initializations and introduces IP addresses into `/kind/` and `/etc/kubernets/` directories.
2. Each time the cluster starts the entrypoint tries to manage the IP addresses somehow.

What I've found is that the second step does something silly. Originally I made myself a sh

[2021-02-02 04:45] pirate-pete commented on #1200
Hey @iscacwb, is there a way to make this work on a Mac? Or do you happen to have a new solution?

[2021-02-02 05:18] BenTheElder commented on #2047
That's been brought up in #398, for #1963 I don't think we have a great answer yet.

I recommend having something else (perhaps a simple script) scale up your app predictable for testing, instead of relying on HPA, since the goal is to test your app, not HPA. This can give you more repeatable testing anyhow.

Few apps consume the metrics directly in my experience.

It's less that "metrics are not

[2021-02-02 05:18] #2047 closed

[2021-02-02 05:19] BenTheElder commented on #2046
Are you able to roll back or switch to the fixed version? From https://github.com/docker/for-mac/issues/4541#issuecomment-766694535 it seems this is being fixed upstream.

[2021-02-02 05:20] BenTheElder commented on #2040
closing this for now, but will keep an eye out for further comments ...

[2021-02-02 05:20] #2040 closed

[2021-02-03 06:06] #2030 closed

[2021-02-03 07:24] BenTheElder commented on #2045
Yeah I think that's pretty much it.

We could  maybe fix 2) from the first list by regenerating the certs potentially (bit of a headache + at bootup `kind` binary orchestrated this between nodes)

I think we could also take some additional approaches re: the second list:

3. setting aside etcd, there are the node IPs (not a problem, core components are not listening on these, the nodes just need t

[2021-02-03 07:44] BenTheElder commented on #2045
And to further clarify: the entrypoint IP update is intended to handle places where we bind to an IP in addition to the node reporting it's IP via kubelet. That intention should be fine, because certs should also be signed for the hostname and the hostname should be correctly mapped to the new IP. So the problem with that approach is things still connecting to IPs instead of domains, if we can fix

[2021-02-03 07:47] aojea commented on #2045
do we know exactly which components are failing or ALL the component are failing?
kubelet nodes registration? apiserver, controller-manager,

@neolit123 do you have the case in kubeadm of people switching IPs on their cluster once installed?

[2021-02-03 22:22] adds68 commented on #1999
Sadly still no luck with 1.20 :(

[2021-02-03 22:25] maxant opened #2050 "[xfs?] kind create cluster fails on centos8 docker 20.10.3 with timeout"
**What happened**:
I installed kind v0.10.0 go1.15.7 linux/amd64 on a centos8 server running containerd and docker daemon.
I run `./kind -v 9 create cluster --wait 10m` but after 2 minutes I get a timeout error, see below.

**What you expected to happen**:
No timeout error.

**How to reproduce it (as minimally and precisely as possible)**:

    ./kind -v 9 create cluster --wait 10m

wait... and th

[2021-02-03 23:44] BenTheElder commented on #2050
sounds like containerd is failing to run, I bet the overlay is not working on top of xfs/device mapper. we don't commonly see people using xfs for kubernetes.

on a hunch you can try:

[code]

And with/without this the containerd logs would be helpful. You can run `kind export logs` after `kind create cluster --retain` and upload the directory here for lots more debug info.

[2021-02-03 23:46] BenTheElder commented on #2050
see also the warning from docker re: xfs + devicemapper:

You should probably consider moving to a supported docker configuration.

[2021-02-04 07:23] podusowski opened #2051 "kindnet: Ability to turn off the IP masquerade?"
Hi,
do you have any plans for adding an option for turning off the IP masquerading for specific subnets or be willing to accept such PR? Something like ip-masq-agent already does with `nonMasqueradeCIDRs` or by it's default configuration:

Why I need it?
I'm setting up a testing environment for the telco solution were we use Multus to setup multiple NICs so we basically have multuple subnets in ou

[2021-02-04 07:47] BenTheElder commented on #2051
Not currently, no.

And you're not using multis-CNI?
You can disable kindnetd and use your own currently (though we don't actively support any of the alternatives).

You can also pick a different CIDR for the pod / service subnets if you want to use non-private ranges in kind.

[2021-02-04 07:59] podusowski commented on #2051
Ah yes, I can disable kindnet all together and use something else. I'll give it a shot, thank you!

[2021-02-04 07:59] #2051 closed

[2021-02-04 12:34] ledroide commented on #1210
Hello @BenTheElder . Would you know some documentation about this way of configuring feature-gates, and starting since which kubernetes version ? I can't find it

[2021-02-04 13:46] vipseixas opened #2053 "Error creating cluster under WSL2"
**What happened**:
The same symptoms of #1288, kindest/node container is exiting during "Writing configuration" stage.

**How to reproduce it (as minimally and precisely as possible)**:
Just tried to create the cluster:

Creating cluster "wslkind" ...
DEBUG: docker/images.go:58] Image: kindest/node:v1.20.2@sha256:8f7ea6e7642c0da54f04a7ee10431549c0257315b3a634f6ef2fecaaedb19bab present locally
 ✓ E

[2021-02-04 17:43] BenTheElder commented on #2053
The maintainers don't use / have WSL2 (and it seems we can't get it in CI easily) but we have a guide from the community here in the docs: https://kind.sigs.k8s.io/docs/user/using-wsl2/

Does your setup match the guide?

[2021-02-04 19:29] krish7919 opened #2054 "Add an example on how to run kind from another Go program for UT"
I am trying to spin up kind during my UT setup, and it is unclear so far how to set this up.

The options to create the cluster are in a an `internal` package and the other option is to pass an `io.Reader` interface. This is very unfriendly, esp when I was expecting this will be a few minutes worth of effort.

Are there any plans to provide a proper Go API?

[2021-02-04 19:41] BenTheElder commented on #2054
The ClI only uses the public APIs with the same "unfriendly" restrictions as any other user, there are public APIs to supply the public config API type, this is a standard Kubernetes pattern to split a versioned component API into the public versions and the internal intermediate version that converts between them and is passed to implementation as a singular type.

We have a real go API 🙃

[2021-02-04 19:42] BenTheElder commented on #2054
https://github.com/kubernetes-sigs/kind/tree/master/pkg/apis/config

https://github.com/kubernetes-sigs/kind/tree/master/pkg/cluster

https://pkg.go.dev/sigs.k8s.io/kind/pkg/cluster#CreateWithV1Alpha4Config

[2021-02-04 19:45] BenTheElder commented on #2054
You can see usage of the API (modulo this one option as the CLI must instead provide the text and let the internals handle multiple API versions using a different option) in the CLI packages (also importable) under cmd/, with directories structured to match the commands

[2021-02-04 20:55] krish7919 commented on #2054
Yeah, I wanted to avoid the file creation and copy, but I guess there is on way around it.

[2021-02-04 21:20] BenTheElder commented on #2054
https://pkg.go.dev/sigs.k8s.io/kind/pkg/cluster#CreateWithV1Alpha4Config ?

You don't need a file, you can do this purely in memory with the actual data structure.

[2021-02-05 09:02] hatzhang opened #2055 "Self generated CA certificate not be respected, got x509: certificate signed by unknown authority when pull image"
My harbor is using a self generated CA to do self certificate signing. And i can trust it on my local machine, and the docker pull command will work. But if will fail when inside Kinds' k8s cluster. I copied the CA into Kinds' container, and did a update-ca-certificates, and verified the ssl handshake worked using openssl s_client, but crictl won't work. So what is the correct way to trust a self

[2021-02-05 09:12] hatzhang opened #2056 "Can Kind on DockerDesktop support linux/windows mixed k8s cluster?"
Though the manual said not. But if Kind is based on DockerDesktop, and DockerDesktop support linux/windows mixed containers to run simultaneously either with Swarm mode or with Windows container mode with some experimental feature turned on. So maybe this can work? Another question might be does Kind support create k8s cluster accross physical/virtual machines.

[2021-02-05 11:26] krish7919 commented on #2054
Got it. Thanks!

I didn't go through the source properly before.

[2021-02-05 11:26] #2054 closed

[2021-02-05 11:31] krish7919 commented on #2054
To make life easier for anyone in the future, this is what I have done (still untested):

##### Initialize the logging infra for kind:

[code]

##### Start the cluster:

[code]

##### Stop the cluster:

[code]

[2021-02-05 17:24] BenTheElder commented on #2056
Windows nodes that are containers are not possible, windows containers don't work like Linux containers and you can't run "docker in docker" style tricks in them. It is not possible for us to support KIND style windows nodes.

kind is for local test clusters and does not support creating clusters across machines, for that there are many production cluster tools under SIG cluster lifecycle.

[2021-02-05 17:26] BenTheElder commented on #2056
https://github.com/kubernetes-sigs/kind/issues/410

https://kind.sigs.k8s.io/
https://kind.sigs.k8s.io/docs/contributing/project-scope/

[2021-02-05 17:26] #2056 closed

[2021-02-05 17:28] BenTheElder commented on #2004
There's also https://github.com/kubernetes-sigs/kind/issues/2046, docker desktop had a regression surfacing port forwards on mac at least 🤔
There's an upstream fix coming for that.

[2021-02-05 17:57] BenTheElder commented on #2055
https://github.com/kubernetes-sigs/kind/issues?q=is%3Aissue+x509+certificate+is%3Aclosed++image+pull

https://github.com/kubernetes-sigs/kind/issues/1010#issuecomment-587973432

The missing bit is restarting containerd, IIRC go doesnt dynamically load cert bundles after startup.

[2021-02-05 22:45] BenTheElder commented on #2055
also instead of copying it at runtime, just use https://kind.sigs.k8s.io/docs/user/private-registries/#use-a-certificate and it will work with `kind create cluster --config=` and no further manual steps

[2021-02-05 22:45] #2055 closed

[2021-02-05 22:50] BenTheElder commented on #2054
thanks for sharing! and sorry for the terse responses ... lot going on lately.

you can also provide a nil and we'll simply not log if you don't care about the logs, without the source-code verbosity of adapting it to your preferred logging solution.

We know some people want the logs, so we have the interface patterned after `klog` (kubernetes's log package based on `glog`) without actually pulli

[2021-02-06 01:59] BenTheElder commented on #2019
or alternatively we probably want the containerd logs for the node with the forward, these can be dumped by `kind export logs`.

we'll be rolling forward to the latest containerd constantly, but we've worked with upstream before to fix issues like this. @aojea and I have been pretty busy, so any work making this trivially reproducible or diagnosing it helps!

[2021-02-06 02:00] BenTheElder commented on #1938
cc @kubernetes-sigs/kind-maintainers

[2021-02-06 02:03] BenTheElder commented on #1689
see more here on why the "ipam" approach is not super tenable: https://github.com/kubernetes-sigs/kind/issues/2045#issuecomment-772296375

[2021-02-06 02:18] BenTheElder commented on #1487
I think we should try to make sure libtirpc is updated and document how to setup an NFS provisioner, I'm not sure if this is in scope to have in the default setup, but it's certainly in scope to put a guide on the site.

[2021-02-06 03:05] vincepri commented on #1938
@BenTheElder Feel free to close if that's not a great idea, I agree it has implications that's why I opened an issue to chat about it :)

[2021-02-06 07:10] AkihiroSuda opened #2058 "[master] kube-proxy doesn't start up due to "apply caps: operation not permitted" error"
**What happened**:

The kube-proxy pod doesn't start up

**What you expected to happen**:
Should start.

**How to reproduce it (as minimally and precisely as possible)**:

Set up
[code]

Result:
[code]

**Anything else we need to know?**:

Possibly related to https://github.com/containerd/containerd/pull/4717

**Environment:**

- kind version: (use `kind version`): acac774fe522f16ca81eda69027e86ae

[2021-02-06 07:23] AkihiroSuda commented on #2058
Maybe we can avoid hitting this issue by updating the parent Docker (and Podman) to support `CAP_PERFMON CAP_BPF CAP_CHECKPOINT_RESTORE`, but it will probably take a few years to get packaged for end users.

So, I guess we will need to write a wrapper script for runc to eliminate unsupported caps?
Or do we want to modify containerd to ignore unsupported caps?

[2021-02-06 08:15] BenTheElder commented on #2058
Hmm can't repro in our CI or my local dev. That's fun.

I'm not sure if that's reasonable on the containerd side. We generally only ask for changes that have a legitimate use orthogonally to KIND.

In which case:

Seems likely.

[2021-02-06 08:46] BenTheElder commented on #2058
previously: https://github.com/kubernetes-sigs/kind/issues/1906, https://github.com/moby/moby/issues/41562
similar but crun / cri-o: https://github.com/cri-o/cri-o/issues/4478

[2021-02-06 08:51] BenTheElder commented on #2058
seems we have a bit of a chicken and egg issue here 😞
https://github.com/moby/moby/pull/41563

This will be fun for us, since as you said it will be some time before that reaches users.

[2021-02-06 08:52] BenTheElder commented on #2058
as for repro: my test hosts are not yet on kernel 5.8+ which your https://github.com/opencontainers/runc/commit/6dfbe9b helpfully points out is when these were introduced.

[2021-02-06 09:05] AkihiroSuda commented on #2058
Aside from kind, minikube and k3d will need this fix.

I'm thinking of modifying `GetAllCapabilities()` to parse the `CapEff` field in `/proc/self/status`.
https://github.com/containerd/containerd/blob/v1.5.0-beta.1/oci/spec_opts.go#L784-L800