[2018-09-13 00:13] BenTheElder opened #4 "setup new repo"
- [x] transfer history from [kubernetes/test-infra/kind](https://github.com/kubernetes/test-infra/tree/master/kind) - https://github.com/kubernetes-sigs/kind/pull/1
- [x] setup `dep` / vendor deps - https://github.com/kubernetes-sigs/kind/pull/2
- [x] setup scripts for managing deps and `BUILD` files -  https://github.com/kubernetes-sigs/kind/pull/3
- [x] setup `WORKSPACE` / fix `bazel build //:ki

[2018-09-13 21:07] BenTheElder opened #5 "implement command for log dumping"
- This is critical to kubetest integration, and will really help with debugging
- @Katharine's work could use particular log dumping for the special coverage output files

/kind feature
/priority important-soon

[2018-09-13 21:09] BenTheElder opened #6 "support executing commands on nodes"
We should have a command like `kind exec [--cluster=foo] nodename command args` that allows executing a command on a node by name. Then users can list nodes with `kubectl get no` and run commands against them with `kind exec foo-node ...`

This will be helpful for things like allowing prototyping of coverage dumping for https://github.com/kubernetes-sigs/kind/issues/5 without leaking quite as many

[2018-09-13 21:10] BenTheElder commented on #4
/kind cleanup
/kind documentation
/priority important-soon

[2018-09-13 22:31] neolit123 opened #7 "support all the kubeadm config flavors in templates"
the kubeadm configuration is moving fast and ever changing.
it was `v1alpha2` in 1.11 and in 1.12 it would be `v1alpha3`.
even more changes are planned for `v1beta1` in 1.13.

based on a parseable `kuberentes-version` flag of sorts, kind would have to pick the right template to construct a kubeadm config.

for ref:
https://github.com/kubernetes-sigs/kind/blob/130a7fe9212c3fba6fc84d785759785218ce51

[2018-09-13 23:16] BenTheElder commented on #7
Definitely, thanks for filing this.

We know the Kubernetes version from `/kind/version` (a regular text file containing `gitVersion` for the kubernetes installed at build time) [in the node image](https://github.com/kubernetes-sigs/kind/blob/master/docs/node-image.md#design), the value of which is supplied to the template as an arg. We probably want to supply a parsed version of this to the templ

[2018-09-13 23:30] neolit123 commented on #7
understood, just had a look how the version is passed to the template.

[2018-09-21 03:55] BenTheElder opened #21 "Adopt kubernetes API tooling"
`pkg/cluster/config/...` should adopt Kubernetes's API tooling to automatically generate deep copy and other API tooling.

To do this we need to vendor the generators and add them to `hack/update-generate.sh`

Marking this help wanted, if anyone wants to take this on feel free to contact me for help. I'll tackle this myself eventually.
/priority important-soon
/kind cleanup
/help

[2018-09-21 03:58] BenTheElder opened #22 "switch docker graph to volume"
We're using a tmpfs currently because it was convenient and fast, but long term we really ought to test switching to a volume which will allow us to handle larger images on the nodes etc more gracefully.

To do this we need to create & label the volume when provisioning nodes with a name keyed by the cluster + node, then clean up any volumes labeled with the cluster in cluster teardown.

/kind cle

[2018-09-21 06:31] BenTheElder opened #23 "improve logging"
- [x] make log level configurable
- [x] improve differentiation between print, info, debug etc.
  - we should use print & friends for normal user level info
  - use info for debug-ish details like "running this command"
  - use debug for trace-ish level details
  - use warn & error as appropriate
- [x] revisit structured logging
- [x] look at adding "quiet" modes to all commands

/kind cleanup
/as

[2018-09-22 01:41] BenTheElder opened #26 "install a default storage class"
without this, many of the e2e tests will not work correctly.

/priority important-soon
/kind feature
/assign

[2018-09-22 05:34] #26 closed

[2018-09-22 06:58] BenTheElder opened #28 "First class image side-loading support"
This will be very useful for CI tasks. Currently this is achievable by adding image archives to a node image in `/kind/images/` but we should support this first-class.

cc @munnerz @sebastienvas

/kind feature
/priority important-longterm

/assign

[2018-09-22 07:11] BenTheElder opened #29 "add retries to image pulls"
(base) image pulling can flake builds (and probably cluster creation) ... let's add configurable retries to image pulling to avoid this.

/priority important-soon
/kind feature
/assign

[2018-09-22 07:15] BenTheElder opened #30 "pre-pull images that are not part of the build"
When we build Kubernetes we are able to preload built images into the `kind` node image, a typical kubernetes build does not actually build important relatively fixed images like `etcd` though, we should look at querying kubeadm for these at build time and pre-pulling them.

Possibly we can use https://github.com/google/containerregistry to pull these directly into the built image without docker.

[2018-09-25 07:11] BenTheElder commented on #30
running in the default image:
[code]
Checking upstream, these are ~ mapped by kubernetes version, not config, so we should be able to pre-pull them at build time easily, we probably want to pull `.*etcd.*` and `.*pause.*`

ref: https://github.com/kubernetes/kubernetes/blob/69da1f83995f0fa1e555dfacef9e97abc63b9333/cmd/kubeadm/app/constants/constants.go#L376

[2018-09-25 07:13] BenTheElder opened #34 "correct mounts"
- [x] drop / make read-only unnecessary system mounts [1] we do this partially now, but we need to make sure we've covered everything, and still have cgroups for dind.
- [x] we need to `mount --make-shared` certain mounts to fix mount propogation

/kind bug
/priority important-soon
/assign

\[1]: https://www.freedesktop.org/wiki/Software/systemd/ContainerInterface/

[2018-09-25 07:14] BenTheElder commented on #29
we do at least try to pre-pull once before running, which will also pull. I've also worked on avoiding flakes in K8s CI more broadly by tuning DNS, which looks to be working so far and is not specific to `kind`.

ref: https://github.com/kubernetes/test-infra/issues/9555

[2018-09-25 07:48] Lion-Wei commented on #21
Hi, Benjamin. I think I can help. :smile:

[2018-09-25 07:48] Lion-Wei commented on #21
/assign

[2018-09-25 07:53] BenTheElder commented on #21
Awesome!

Yeah unfortunately you have to separately request membership in the other kubernetes orgs like this one, it's pretty easy though ref: https://github.com/kubernetes/org/issues/110

I'll consider this taken for now, thanks! :-)
/lifecycle active

[2018-09-25 13:40] neolit123 commented on #30
etcd, pause and coredns versions are hardcoded in a constants file. their version is bumped on each release. the control plane version in 1.11 was mapped to the `stable-1.11` endpoint, in 1.12 we moved to `stable-1` (this needs a cherry pick enhancement).

[2018-09-25 15:30] BenTheElder commented on #7
Counting the PR above and discussion here as making it active for now :-)
Trying out the active label for tracking in this repo.

On Tue, Sep 25, 2018, 06:25 Lubomir I. Ivanov <notifications@github.com>
wrote:

[2018-09-25 15:45] BenTheElder commented on #30
Excellent, thanks! For the control plane in `docker` and `bazel` builds we have locally built images, but not in `apt`. For all of them we don't have pause, DNS, etcd since those aren't built in k8s.

[2018-09-25 15:50] neolit123 commented on #7
ok, makes sense :+1:

[2018-09-26 18:26] BenTheElder opened #38 "add a blocking e2e presubmit"
This repo should  have a presubmit that actually builds an image and spins up a cluster, running some very basic smoke tests. As other issues are fixed we should consider expanding it to something like the non-serial conformance tests.

- [x] create an e2e presubmit
- [x] let it "soak"
- [x] make it blocking

/priority important-soon
/assign

[2018-09-26 22:26] BenTheElder opened #39 "add environment diagnostics"
we should have a number of checks when kind fails, to help diagnose issues in the environment, ideally this can also be invoked by another command, some rough ideas:
- [ ] check if there are existing containers tagged with the current cluster when creating
- [ ] more gracefully handle lack of cluster artifacts when deleting
- [ ] gracefully handle incompatible docker / lack of docker
- [ ] base im

[2018-09-27 02:34] BenTheElder commented on #34
https://github.com/kubernetes-sigs/kind/pull/40 took care of shared mounts I think

[2018-09-27 02:34] BenTheElder commented on #29
/lifecycle active

[2018-09-27 02:34] BenTheElder commented on #4
/lifecycle active

[2018-09-27 02:35] BenTheElder commented on #38
A non-blocking e2e presubmit was added in https://github.com/kubernetes/test-infra/pull/9591

[2018-09-27 03:58] #29 closed

[2018-09-27 04:32] BenTheElder opened #42 "wait for CNI to be ready"
or more generally, the e2e tests need the node to be in the ready state, we should either block `kind create` on this, or give a separate command to block on readiness.

I think probably making `kind create` block on this with some flag to toggle it is the way to go.

/kind bug
/priority important-soon
/assign

[2018-09-27 06:10] BenTheElder commented on #7
https://github.com/kubernetes/kubernetes/pull/68922 merged but kind is currently broken and we'll need to wait for it to be synced out by the publishing bot

[2018-09-27 06:17] BenTheElder opened #43 "figure out why create is broken after https://github.com/kubernetes/kubernetes/pull/68890"
/priority critical-urgent
/assign

I've pinned down CI failures to after https://github.com/kubernetes/kubernetes/pull/68890 merged and I can replicate this locally, but I'm not sure why this broke `kind` just yet. This reliably breaks cluster up.

This changed how some of the static pods are handling DNS, before this they would have used host DNS instead of cluster DNS. I'm not actually sure how

[2018-09-27 06:44] BenTheElder commented on #43
As far as I can tell this change means if there is a cluster DNS configured on the kubelet, critical static system pods will now use it.

- kubeadm does set a cluster dns
- it's obviously not actually running initially since everything is just starting to boot ..?
- there won't be any fallback servers as far as I can tell

https://github.com/kubernetes/kubernetes/blob/e9fe3f77e9b1810dea6a0918feb1f

[2018-09-27 14:30] neolit123 commented on #7
i need to figure out what is the best way vendor `pkg/util/version` in the manifest list e2e that i'm doing too, because i homebrew a semVer in there.

the code has to live in `k/kubeadm` for this test.

[2018-09-27 14:50] BenTheElder commented on #43
Specifically the api server talks to itself via `localhost` rather than an IP, per the logs. My suspicion is that it's not using /etc/hosts and is doing a lookup, which fails since it's pointed at a DNS service that doesn't exist yet...

[2018-09-27 16:55] BenTheElder commented on #43
update:
[code]
works fine.

moving one commit forward to:
[code]
breaks `kind create`.

This seems to confirm that it's related to the DNS policy change.

[2018-09-28 04:44] BenTheElder commented on #43
found it here: https://github.com/kubernetes/kubernetes/issues/69195

work around is here: https://github.com/kubernetes-sigs/kind/pull/45

[2018-09-28 14:49] neolit123 commented on #7
looking into this right now with pseudo version checks.
do we have to vendor `util/version` in the kind tree at this point?

[2018-09-28 20:18] #7 closed

[2018-09-28 22:03] BenTheElder commented on #43
well we know why, and have a work around. upstreaming improvements now...

[2018-09-28 22:03] #43 closed

[2018-09-29 00:30] BenTheElder commented on #43
Filed https://github.com/kubernetes/kubernetes/pull/69238

[2018-09-29 00:31] BenTheElder commented on #7
Thanks again! fixed in https://github.com/kubernetes-sigs/kind/pull/46

Will probably follow up with revisiting the templates a bit, but we do have support now :-)

[2018-09-29 22:40] BenTheElder commented on #38
/lifecycle active

[2018-09-30 22:47] BenTheElder commented on #5
/assign
/lifecycle active

[2018-09-30 22:59] BenTheElder commented on #34
Did some debugging of the mounts in #49, I think that will be the remainder of what we need for fixing this.

[2018-09-30 23:01] BenTheElder commented on #38
I will make it blocking this week, likely will switch to the podutils first to ensure we have working status links on the PRs first. Hopefully that should be straightforward now.

[2018-09-30 23:02] BenTheElder commented on #21
@Lion-Wei has this, we still can't assign but I can remove-help (oops! done now) :-)

[2018-10-03 04:03] mitar opened #52 "Cannot talk to cluster inside dind container"
I am trying to use it on GitLab CI which uses DIND. I am trying to setup cluster inside a Docker container. I have tried the following:

[code]

Inside container:

[code]

[2018-10-03 04:08] BenTheElder commented on #52
Hmm, we're running kind in our DIND setup, I've not tried it in this particular fashion yet though.
/assign

[2018-10-03 04:13] BenTheElder commented on #52
er if I'm reading this correctly, you installed a new version of docker _after_ starting a dind container? that seems like a bad idea. investigating locally with a dind container

[2018-10-03 04:33] BenTheElder commented on #52
So the problem here appears to be is the network connection from your linked container to kind, the cluster is actually running but you can't talk to it, since it's actually running over in the `dind` container.

In our CI we do it like:

[code]

But with your setup it appears to be more like:
[code]

Would it be possible for you to avoid the `dind` container if you can already run docker containe

[2018-10-03 04:37] mitar commented on #52
So I am using `--link` just for debugging purposes. Otherwise I am targeting [Docker executor](https://docs.gitlab.com/runner/executors/docker.html).

[2018-10-03 04:41] BenTheElder commented on #52
Thanks, taking a look.

[This job](https://k8s-testgrid.appspot.com/conformance-providerless#kind,%20master%20(dev)) runs `kind` in a docker-in-docker pod on kubernetes to run the conformance tests, so `kind` in docker in docker is definitely a supported use case, however we are also mounting some things to the pod (read only `/lib/modules` and `/sys/fs/cgroup`) ...

When you run in the docker exe

[2018-10-03 04:45] BenTheElder commented on #52
I think the docker executor is actually a thin layer over kubernetes, cc @munnerz who I believe was involved here...

It looks like we can mimic our pod setup if needed, per:
https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-runners-docker-section

One of our actual pods looks like this: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-conformanc

[2018-10-03 04:45] mitar commented on #52
So currently I run dind as a service container, and then I have my main container in which I would like to run my tests on the kubernetes cluster. I have done this setup in the past for using regular Docker images/containers and it works well.

[See a bit about this here as well](https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#use-docker-in-docker-executor).

[2018-10-03 04:48] BenTheElder commented on #52
Have you done it while talking to a networked service running over in the dind container before? We should just need to fix up:
- a line in the kubeconfig that currently points to `localhost:some-port` as where the kubernetes API server is running
- possibly tell kubeadm that it needs to sign the server certs for some other IP / host depending on the setup details

I can't tell from these details

[2018-10-03 04:53] mitar commented on #52
Oh, I remember. I think I had issues with that in the past. The issue was that from outside, I can see only the dind container, and not any network behind it. So I had to publish ports in Docker containers running through dind, so that they got available on the dind container. So dind container is like host, and you do not have access directly to containers behind.

[2018-10-03 05:08] BenTheElder commented on #52
Yes exactly, it may be possible to forward ports from the dind container but it might be tricky to manage, and we'd need to possibly add some small feature to kind to inform it of the expected address  instead of localhost.

Alternatively, if you can run your other code + `kind` within a container or host running docker (eg dind), it will be a bit simpler. We know this works.

If we can get to the

[2018-10-03 05:15] mitar commented on #52
OK. So I do not know about gitlab.com CI, but on our private GitLab instance I discovered that it seems I am given `docker.sock` mounted into my container from host, I guess. (I have some thoughts about such setup and security of it, but I will not complain at the moment.) So I can simply have one Docker container inside which I do everything. I do the following (in an image with Go and Docker cli

[2018-10-03 05:39] mitar opened #53 "SIGSEGV error"
If control plane Docker container already exists, SIGSEGV is reached:

[code]

I am not familiar with Go, but SIGSEGV should never happen, no?

[2018-10-03 05:49] BenTheElder commented on #52
I think you just need your second container to use `--network=host` when creating it, I think I've got this setup replicated locally and that works for me.

[2018-10-03 05:52] BenTheElder commented on #52
from within a `dind` container I first tried what I think was your setup and confirmed the issue (still not the same network, but I can see the "cluster" running), then I created another container from within the `dind` container with:
`docker run -it --network=host -v /var/run/docker.sock:/var/run/docker.sock ubuntu /bin/bash`

and proceeded to install docker + kubectl, copy the kind config over

[2018-10-03 05:58] BenTheElder commented on #52
Also:

Absolutely! Any dind solution should be a major security concern, including this one. Please be careful.

`kind` and friends are cheap, fast, and work in situations where nested VMs are not available; but any current docker in docker solution is effectively ~root on the host regardless of whether the docker socket is passed due to needing either the socket (in which case they can create arb

[2018-10-03 06:00] BenTheElder commented on #53
it should not, this is a bad bug.

My apologies, `kind` is still a bit alpha, I've held off cutting any releases while I finish arranging the config and qualifying it for these kinds of bugs.

I know exactly where this bug is from that trace, I introduced it very recently (~ last day). This will be an easy fix thankfully.
This also relates to #39.

[2018-10-03 06:02] BenTheElder commented on #53
Also relates to #23, in general the logging is somewhat atrocious at this point. I've been drafting a plan / PR to clean this up throughout the whole tool...

/kind bug
/priority important-soon
/assign

[2018-10-03 06:28] BenTheElder commented on #53
/lifecycle active
A PR to fix this is out in #54.

[2018-10-03 07:36] BenTheElder commented on #52
Are you sure `--network=host` is not doable? it should work if we're talking about another container in the dind. It should be the network of the dind container, not the actual host network.
EG it looks like `network_mode = "host"` will tell an executor to do this.
https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-runners-docker-section

The certificates may not match if

[2018-10-03 07:45] mitar commented on #52
So currently I am not using dind anymore, but Docker socket from the host. So the container in which I am already runs. I could try to create another container inside and then go inside it and so on, but to me it looks like the issue is somewhere else because the container runs and I can ping it (it is jut not on localhost), but no ports besides 10250 are open in the container.

[2018-10-03 08:02] BenTheElder commented on #52
There should be one randomly allocated port (allocated by docker) open on the container forwarding to the secure API server port (6443), and the exported kubeconfig will match `localhost:${THE_PORT}`. If you run a process on the same level as the docker daemon it should be able to talk to it. 10250 is probably the random port from that session.

If you run something in an adjacent container that c

[2018-10-03 08:14] mitar commented on #52
So something else is wrong. So I am connecting directly to the container, bypassing Docker port mapping. Connecting to 6443 does not work. 10250 is port on which kubelet is listening. But why there are no other things running correctly in the container.

[2018-10-03 08:16] mitar commented on #52
I managed to get it working with the following:

[code]

[2018-10-03 08:28] mitar commented on #52
So while I was able to make this work, it would be great if this would work also no gitlab.com. It would be useful to try it there as well.

[2018-10-03 08:28] mitar commented on #52
And thanks for all this work and thank you for all the help.

[2018-10-03 15:31] #53 closed

[2018-10-03 21:54] mitar commented on #52
OK, as a note to my future self and others. I had issues running Docker inside my own privileged container so that I could run kind inside, and the reason was that I wanted to use `overlay2` on top of `overlay2` already. The solution was to define `VOLUME /var/lib/docker` so that Docker files went directly to host's volume and not overlay inside the container.

[2018-10-03 22:04] BenTheElder commented on #52
Yes exactly, I tried to mention this above but failed I think. `kind` does something like this for it's own docker in docker on the "node"s for the same reason :upside_down_face:

Doing that has worked flawlessly for dind in our CI at least. overlay fs don't stack, but it works fine if you just make sure the docker graph `(/var/lib/docker`) is a volume for any dind containers.

I'll be sure to add

[2018-10-03 22:54] mitar opened #55 "Unstable cluster"
When running it locally on my machine the cluster seems much more unstable than on our CI. So now cluster is created inside a privileged container, but then I am getting strange errors:

[code]

[code]

[code]

[2018-10-03 23:32] BenTheElder commented on #55
Can you provide more details about how you're running this?

Creating the cluster locally should not require anything more than:
- have docker running
- `kind create`

I've tested regularly both on docker for mac and on docker-ce on linux. Currently it doesn't depend on any recent or advanced functionality. Sticking it in another layer of docker will likely make things less debuggable.

[2018-10-03 23:35] mitar commented on #55
So I am running inside a Docker container to simulate how my CI (gitlab) works. So it seems it just dies after some time. I am running it [more or less like this](https://github.com/kubernetes-sigs/kind/issues/52#issuecomment-426550163).

So I am not sure what to inspect when this errors start happening? I can exec into `kind-1-control-plane`?

[2018-10-03 23:39] BenTheElder commented on #55
right now `docker exec kind-1-control-plane journalctl > logs.txt` works, but I'm working on a nice `kind` command for this soon... stuck on go1.11 upgrade issues for kubernetes/kubernetes right now, xref https://github.com/kubernetes/test-infra/pull/9695

[2018-10-03 23:42] BenTheElder commented on #55
Those errors look like the API server is not actually running or the networking is not pointing at it correctly again. It's not clear from that output what else is going on beyond that yet.

`docker exec` (not the prettiest since the container names are technically not really exposed yet) can get you onto the "node" after which normal debian debugging tools should generally work (`ps`, `journalctl

[2018-10-03 23:52] mitar commented on #55
OK, it is failing even if I run it directly on my laptop/host.

[2018-10-04 00:01] mitar commented on #55
See log: [log.txt](https://github.com/kubernetes-sigs/kind/files/2444414/log.txt)

[2018-10-04 00:34] BenTheElder commented on #55
Can you provide more details about your laptop/host? Docker version? Any special network settings?

I think we'll need the API server logs as well. That will be in a location like `/var/log/containers/kube-apiserver-kind-1-control-plane.*.log` Again, I'll be adding a tool to collect these shortly.. :grimacing:

[2018-10-04 01:24] BenTheElder opened #56 "normalize CLI"
IE make all commands fit the form: `kind [verb] [noun]`

We should do this to match [`clusterctl`](https://github.com/kubernetes-sigs/cluster-api/tree/master/clusterctl), `kubectl`, `kops`, etc...

/kind cleanup
we should prioritize this to avoid breaking users that start to depend on the CLI...
/priority important-soon
/lifecycle active
/assign

FYI @mitar @Lion-Wei @m1093782566 @munnerz @spiffxp

[2018-10-04 03:02] mitar commented on #55
`Docker version 18.06.1-ce, build e68fc7a`. Host is Ubuntu 18.04 personal laptop. No fancy configuration or network settings.

[2018-10-04 16:08] mitar commented on #55
Sure. It seems pretty reproducible on my side, so once you get things going, feel free to ping me and I can retry.

[2018-10-07 23:25] kkimdev opened #57 "Failed to create cluster: failed to apply overlay network: exit status 1"
Hi I tried running kind and encountered the following errors.  Full log attached at the bottom.

Notable lines:
- Error processing tar file(exit status 1): write /usr/local/bin/kube-controller-manager: no space left on device
- [WARNING ImagePull]: failed to pull image [k8s.gcr.io/kube-controller-manager-amd64:v1.11.3]: exit status 1
- [WARNING ImagePull]: failed to pull image [k8s.gcr.io/etcd-amd

[2018-10-08 15:58] BenTheElder commented on #57
This is almost definitely: https://github.com/kubernetes-sigs/kind/issues/22, the current tradeoffs use memory too heavily for docker for Windows / docker for Mac. Even after that issue is closed though most likely we need to recommend that users increase the docker VM / hypervisor memory allocation. At least on docker for Mac the default is too small to fit much of a cluster.

The "out of disk" i

[2018-10-08 16:27] fabriziopandini opened #58 "Add pre-pulled images during build"
I would like to add some pre-pulled images (e.g. weave, core-dns) on the node image in order to make kubeadm init faster.

If the idea is fine, I'm happy to contribute it but I need a little bit of guidance in order make this feature good citizen of kind. From what I can see:
- This feature could be implemented as new bits, that gets triggered if the user pass a path where pre-pulled images are st

[2018-10-08 16:36] kkimdev commented on #57
Oh I see.  Thanks! =D

[2018-10-08 18:00] kkimdev commented on #57
Increased the ram to 2gb and now it runs smoothly :)

[2018-10-08 18:00] #57 closed

[2018-10-08 18:57] neolit123 commented on #57
2GB is indeed required for smooth operations in kubeadm.
ref https://github.com/kubernetes/kubeadm/issues/1052

currently we don't have warnings or system checks as this requires a bunch of OS specific calls that we don't want to include (yet).

one option was to print a message at startup "make sure you have <these-system-reqs>".

[2018-10-08 19:03] BenTheElder commented on #57
Thanks @neolit123 this seems like something I should add to #39

Also, I'm not sure why I chose to allow image-sideloading to fail. Other errors do cause early exit on cluster create.

[2018-10-08 20:54] #56 closed

[2018-10-08 21:07] BenTheElder commented on #58
I'd definitely like to see this! This relates to #30 I think, as well as #28.

#30 should actually cover specifically etcd and dns images, which I do intend to add into the existing Bits implementations, IE at build time we should just always pull these too. (The `apt` provider should also pull kubernetes standard images as if we'd built them too).

For any nonstandard images, I'm still debating h

[2018-10-08 21:09] BenTheElder commented on #58
I think maybe we should not do `[]Bits` as it will make it complicated to handle EG bits that provide the same paths?

I think side-loaded images could probably be handled specially via another mechanism, possibly the same one used for side-loaded test images, at at least for core-dns and etcd we can ask the kubernetes we've just built what versions of those to pull (via kubeadm) and always pull t

[2018-10-09 00:05] #22 closed

[2018-10-09 01:02] BenTheElder commented on #38
there are _two_ blocking e2e presubmits now

[2018-10-09 01:02] #38 closed

[2018-10-09 01:03] BenTheElder commented on #21
this is sorta done. cc @munnerz
thanks again @Lion-Wei!

[2018-10-09 01:04] BenTheElder commented on #6
/priority backlog

I think maybe the right pattern is to support listing the nodes instead and continuing to guarantee hostname == node name? hmm

[2018-10-09 07:29] mitar opened #61 "unable to load kernel module "configs""
On Linux Ubuntu 18.04 I am getting the following error/warning:

[code]

The reason is that the modules directory on the host looks like this:

[code]

kind mounts modules directory into the Docker image, but not also `build` subdirectory.

[2018-10-09 07:32] BenTheElder commented on #61
FWIW that warning should just be a warning, we intentionally ignore
preflight complaints from kubeadm.

On Tue, Oct 9, 2018, 00:29 Mitar <notifications@github.com> wrote:

[2018-10-09 07:48] BenTheElder commented on #55
Still getting to this. The volume change may(?) help. I expect to get more of the tooling improvements around debugging in tomorrow hopefully...

[2018-10-09 07:51] Lion-Wei commented on #21
@BenTheElder Be my guest, and I'd like shoulder more works in this repo. : )

[2018-10-09 07:54] BenTheElder commented on #21
/assign @Lion-Wei
😄

[2018-10-09 12:29] neolit123 commented on #61
is that the actual issue here?

here is the validator code for reference:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/kernel_validator.go#L219

the kernel module that kubeadm cannot find can be used to obtain information of how the kernel was built while that same kernel is running. instead of a module it also looks for the configuration as a file written on di

[2018-10-09 14:46] mitar commented on #55
I tried with yesterda's version and there was not much difference.

BTW, I am noticing it is using aufs inside, not ovelray2. Is there a way to control this? It might be the reason.

[2018-10-09 14:50] mitar commented on #61
The `.config` file is located under `/usr/src/linux-headers-4.15.0-36-generic/.config` which is not mounted above (see the symlink). I am not sure where exactly is kube searching for this file though. But in my case it is under `/lib/modules/4.15.0-36-generic/build/.config`.

[2018-10-09 21:07] mitar opened #62 "Allow mounting host host directories to kind nodes"
It seems there is no way to request some host volumes to be mounted inside the kind container. So then pods cannot access those host volumes through `hostPath`. This is useful for us to bring testing data in.

[2018-10-09 21:09] BenTheElder commented on #62
definitely, this relates to #28, mostly we need to think about how best to expose this. cc @munnerz

[2018-10-09 22:03] BenTheElder commented on #62
There is not, that sort of thing would create some interesting stability guarantees, eg at some point I think we may want to move to a docker client library instead of `exec`ing `docker` at which point any option to hook it with arbitrary args would no longer work.

I'd like to avoid breaking changes going forward as much as possible, so I'd like to think about how exactly we expose options like t

[2018-10-09 23:59] BenTheElder commented on #61
I don't think a cluster per se needs this, kubeadm wants to read it to validate the kernel a bit.

[2018-10-10 00:18] neolit123 commented on #61
linux user space is fun, ambiguity.

these are unchecked:

see:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/kernel_validator.go#L176-L182

not at all. in fact i'm seeing reports from Ubuntu 18.x users all the time and nobody reports this.
so @mitar i suggest you just copy the config to one of the above folders to silence the warning.

seems like something is wr

[2018-10-10 02:48] mitar commented on #61
I would not really claim that it does not matter how this works on Ubuntu, because many people use it. Especially the new LTS version of it.

If this is not important, I would suggest this is silenced, or at least prefixed with a message that any potential following errors do not matter.

It should not be that a well-behaved program is issuing unnecessary warnings.

So which exactly files are chec

[2018-10-10 02:58] neolit123 commented on #61
it already works for other including me, so there has to be something specific to your setup.

the list of locations is defined here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/kernel_validator.go#L176-L182

kubeadm cannot possibly handle all the different crazy distro flavors in terms of where they decide to store a certain kernel config file, but if you thin

[2018-10-10 07:32] mitar commented on #61
I think you do not know how kind works. So kind runs kube inside a Docker container. For this kernel detection to work, it has to mount necessary stuff from the host. Because detection happens inside of the Docker container. Currently, it mounts [`/lib/modules`](https://github.com/kubernetes-sigs/kind/blob/e992304c427439b6a05a9850df82a4483daa0c18/pkg/cluster/node.go#L63) into the Docker container,

[2018-10-10 07:37] neolit123 commented on #61
well in that case kind should probably just map the `/boot/config...` file to silence the warning.

[2018-10-10 07:42] mitar commented on #61
I am glad that you agree. :-)

[2018-10-10 17:58] BenTheElder commented on #55
There's not an option now, but we can and should configure this.

it won't if you already have a copy unless you do `go get -u sigs.k8s.io/kind`, otherwise it should.

[2018-10-10 18:00] BenTheElder commented on #61
Unfortunately you cannot actually silence these warnings, you can only tell kubeadm to ignore them AFAICT, which we do. We could not give kubeadm's output of course, but I think that might be somewhat less helpful.

I'll look more into mounting `/boot` for this particular issue.

[2018-10-10 18:41] neolit123 commented on #61
as we've discussed already the warning can be just ignored...

historically the validation code comes from node_e2e and were added by Random Liu.
then kubeadm became a consumer when preflight was introduced and the node_e2e switched to something else leaving kubeadm the only consumer. then the package moved to `cmd/kubeadm`.

i have some arguments against kubeadm needing to check for IKCONFIG sani

[2018-10-10 19:34] mitar opened #63 "Documentation: how to enable alpha features"
I am trying to use `PodPreset` from `settings.k8s.io/v1alpha1` but it seems that kube through kind does not support that. This is probably just a question of enabling those experimental features, but it is unclear how does one do that?

[2018-10-10 22:05] mitar opened #64 "Documentation: how to run something before kubelet"
I would like to run `docker login` before `kubelet` gets started so that it can find and use docker config file with credentials. I have not found in documentation a way to do so.

[2018-10-11 02:37] BenTheElder commented on #61
That sounds sane to me, shall we file an issue to discuss this upstream in
kubeadm?

On Wed, Oct 10, 2018, 11:41 Lubomir I. Ivanov <notifications@github.com>
wrote:

[2018-10-12 14:18] fabriziopandini commented on #58
/close
in favour of #28 and #30

[2018-10-12 14:18] #58 closed

[2018-10-17 22:12] BenTheElder commented on #64
sorry I missed this, it is possible but is intentionally not documented as I don't know that the config for it is in the right shape yet so it's still a power-user / alpha feature. the node lifecycle hooks cover this.

[2018-10-17 22:15] BenTheElder commented on #63
this is not currently possible _unless_ you override the kubeadm config template, which is probably a bad idea and will be broken soon, still discussing with @munnerz strategies for better exposing access to the kubeadm config.

We can add specific knobs for things like this, which may limit what can be configured but also explicitly allows us to support them including across kubeadm versions (NOT

[2018-10-17 23:00] mitar commented on #63
I ended up simply doing this:

[code]

So I just patch the config and it detects the change and auto-reloads.

[2018-10-18 19:30] neolit123 commented on #63
all kubeadm wrappers are facing similar issues.
one way of allowing some flexibility from kind would be to instead of template allow the user to also pass the kubeadm config yaml directly.

from there it would be up to the user to match the kubeadm version and the contents of the config.

[2018-10-18 19:39] BenTheElder commented on #63
We *can* do that, but then kind won't work unless they're careful with their yaml. I have yet another fix in the works that requires specifying things in the kubeadm yaml, user provided config will be missing necessary fields.

[2018-10-23 04:34] BenTheElder opened #70 "Create user guides"
xref: https://github.com/kubernetes/test-infra/issues/9181

/assign
/priority important-soon

[2018-10-23 08:08] ensonic opened #71 "Is this related to https://github.com/bsycorp/kind"
Since your project looks newer (by a few days), maybe pick a distinct name? Or at least disambiguate?

[2018-10-23 09:45] neolit123 commented on #71
ANAT - all names are taken.
there are literally hundreds of projects sharing names in github.

"this project is not the same https://github.com/bsycorp/kind, but it has a similar scope"

the "open source way" of solving that would be for the smaller project ideas to merge into the larger project and for the smaller project to eventually disappear.

kubernetes-sigs/kind would see a lot more work, w

[2018-10-23 14:24] BenTheElder commented on #71
I was not aware of https://github.com/bsycorp/kind. This project was in incubation in a directory of https://github.com/kubernetes/test-infra for a while. That is unfortunate...

I see now the readme there mentions https://github.com/kubernetes/test-infra/tree/master/dind, this repo is that cleaned up / rewritten and moved to it's own repo. @munnerz suggested the name as part of cleaning it up som

[2018-10-23 14:30] munnerz commented on #71
Yep, echoing what @BenTheElder says I think this is an unfortunate clash.

We'd started referring to this as 'kind' in Slack chats for quite a long time before anything moved into the public repos, and I think as a result we've ended out landing on the same name 🙈

It seems both projects do have a similar scope, although not identical by any means.

+1 to having a section comparing alternatives -

[2018-10-23 20:51] amwat opened #72 "Rename kind CLI to kindly"
It would be awesome to have the commands be like `kindly create cluster`  :smile:

/woof

[2018-10-23 21:10] BenTheElder commented on #72
hmmmm. @munnerz
xref: #71
/shrug

We have a fair bit of link juice headed this way, renaming would also break all of the go imports, but we can consider it :upside_down_face:

[2018-10-23 21:11] BenTheElder commented on #23
I've done most of this
/lifecycle active

[2018-10-23 22:02] BenTheElder opened #73 "convert more commands to use the status package"
`kind build node-image` and `kind build base-image` are good candidates for this
/assign
/priority backlog
/kind enhancement

[2018-10-23 22:29] neolit123 commented on #72
what a majestic doggo.

[2018-10-24 21:06] BenTheElder commented on #72
I've been informed offline that this was a joke with amusing timing :^)

[2018-10-24 21:06] #72 closed

[2018-10-24 21:07] BenTheElder commented on #62
/priority backlog
I definitely intend to support this

[2018-10-24 21:09] BenTheElder opened #76 "remove kubeadm config template override"
... in favor of allowing _patching_ it with [`kustomize`](https://sigs.k8s.io/kustomize).

This will let us more readily make changes to the kubeadm config template without downstream users falling behind. xref #68

/assign
/lifecycle active
Quick demo of what that might look like here: https://gist.github.com/BenTheElder/194029a852362da53efe6f87b57f2cbf

[2018-10-24 21:09] BenTheElder commented on #76
/kind cleanup
cc @munnerz

[2018-10-25 21:40] BenTheElder commented on #76
I wrote the code to wrap kustomize for patching, just pending on https://github.com/kubernetes-sigs/kustomize/pull/511 first. PRing soon.

[2018-10-26 04:02] BenTheElder commented on #62
/assign
/lifecycle active
I'll file a PR after https://github.com/kubernetes-sigs/kind/pull/77, also going to clean up the node lifecycle stuff a bit along with it.

[2018-10-26 04:07] BenTheElder opened #78 "Create development guide(s)"
we should have documentation with details for developing kind
/assign
/priority important-soon
/kind documentation

[2018-10-26 04:07] BenTheElder opened #79 "Create user guide(s)"
we should have documentation with details for:
- common usage
- known issues and workarounds
- power user features

/assign
/priority important-soon
/kind documentation

[2018-10-26 04:08] BenTheElder commented on #4
Closing this out, moved usage / developer guides to their own tracking issues

[2018-10-26 04:08] #4 closed

[2018-10-26 04:10] BenTheElder opened #80 "Improve usage of Kubernetes API tooling for config"
... to make the internals more idiomatic

/kind cleanup
/priority important-longterm
xref: https://github.com/kubernetes-sigs/kind/issues/21
/assign
/assign @munnerz

[2018-10-26 04:10] BenTheElder commented on #80
@munnerz mind outlining what exactly you had in mind? I have a few thoughts but you have more experience here :-)

[2018-10-26 04:12] BenTheElder commented on #21
Thanks again for the work on this, opened a new issue to track any remaining cleanup work.

[2018-10-26 04:12] #21 closed

[2018-10-26 04:14] BenTheElder commented on #39
/assign
The "cluster already exists" / "no cluster exists" for create and delete would be nice to get into our first release.

[2018-10-26 04:48] BenTheElder commented on #64
I'll document this in the user guides xref: https://github.com/kubernetes-sigs/kind/issues/79

[2018-10-26 04:49] BenTheElder commented on #61
We no longer hook the kubeadm output directly to stdout, so this is now benign + not spamming the output.

[2018-10-26 04:49] #61 closed

[2018-10-26 04:50] mitar commented on #55
Any progress on logging?

[2018-10-26 04:51] BenTheElder commented on #63
So we're adding support for patching the config (#77), but we should probably add some kubeadm-api-version independent knobs for a few highly desirable config features like this one.

[2018-10-26 04:52] BenTheElder commented on #63
/assign
/priority important-longterm
/kind feature

[2018-10-26 04:52] BenTheElder commented on #63
this should also go in #70

[2018-10-26 05:35] BenTheElder commented on #55
I put this on the backburner to make a few more breaking changes prior to putting up an 0.1.0, but I found something else to debug that was causing instability on a few machines I know about: local disk space!

The kubelet can see how much space is left on the disk that the docker graph volume is on and will start evicting everything if it's low.

I expect to have this in soon though, #77 and #75

[2018-10-26 15:52] liztio opened #82 "Data Race in latest version"
[code]

[2018-10-26 16:43] BenTheElder commented on #82
/assign
/kind bug
I'm guess a mutex on the spinner should solve this.
I might rewrite how this works anyhow, what we really want is an updating status that pushes down below other output and we're doing that by abusing the spinner and other output's writers a little bit.

[2018-10-26 22:56] BenTheElder commented on #76
this is gone! #77

[2018-10-26 22:56] #76 closed

[2018-10-27 00:16] BenTheElder commented on #82
This is https://github.com/briandowns/spinner/pull/65

[2018-10-27 00:44] #82 closed

[2018-10-27 00:48] BenTheElder commented on #82
please let me know / re-open if you continue to see this. I cannot replicate after that patch.

[2018-10-29 13:23] thatsk opened #84 "windows kind not able to generate"

[2018-10-29 20:14] BenTheElder commented on #84
Could you provide more details? Not able to generate what?
It's been maybe two weeks but I've booted kind on windows before.

[2018-10-30 09:29] warmchang opened #85 "Update the docker version to maximum validated version 18.06"
Looks like kubernetes support the maximum validated docker is 18.06 now:
https://github.com/kubernetes/website/pull/10299
https://github.com/kubernetes/test-infra/pull/9444
https://github.com/kubernetes/kubernetes/pull/68495
https://kubernetes.io/docs/setup/cri/#docker

So we can update the docker version to 18.06 in images/base/Dockerfile. :smiley:
https://github.com/kubernetes-sigs/kind/blob/c00

[2018-10-30 16:18] BenTheElder commented on #85
/cc @munnerz
Probably we should also consider switching to an Ubuntu base image too so that:
- we can use newer systemd without hacks
- we don't circularly depend on an image from k/k
- we can use the Ubuntu guides for install
... But still use the Debian package logic we have setup.

I think the 18.04 image should be small enough.

This docker version was the main reason for using debian-base. We

[2018-10-30 16:51] neolit123 commented on #85
validated by k8s consumers and contributors.
AFAIK sig-node will no longer do that validation process they were doing for previous releases.

[2018-10-31 02:14] warmchang commented on #85
The PR https://github.com/kubernetes/test-infra/pull/9444 in project test-infra added Docker 18.06 to the CI tests.

And an other PR https://github.com/kubernetes/test-infra/pull/9379 from BenTheElder upgraded docker in bootsrap to 18.06 (Please ignore the comment and issue 6187 has been fixed.):

![image](https://user-images.githubusercontent.com/13084624/47761735-8a95bc80-dcf4-11e8-8ee3-07f85c61

[2018-10-31 11:30] neolit123 commented on #85
yes, i saw these when they merged, we do have 18.06 test signal.
but it's not the same sig-node validation.

[2018-10-31 12:06] neolit123 commented on #28
the pause image has a bit of a special case in terms of the kubelet:
https://github.com/kubernetes/kubeadm/issues/1186#issuecomment-433383514

[2018-10-31 13:04] warmchang commented on #85
ok, i understand.

[2018-11-02 17:21] vincepri opened #88 "Homebrew formula"
After kind is released it'd be great to have a homebrew formula for macOS users to use to install kind. Definitely a nice to have :)

[2018-11-02 17:21] vincepri commented on #88
/kind feature

[2018-11-02 18:39] BenTheElder commented on #88
SGTM, cc @munnerz 👍

We definitely need to think more about releases and versioning, this would be great to have when we figure that out.

[2018-11-07 23:07] alejandrox1 commented on #79
Hi, Benjamin. Could I help out with this?

[2018-11-07 23:59] BenTheElder commented on #30
Fixed in https://github.com/kubernetes-sigs/kind/pull/89, will push new images.

[2018-11-07 23:59] #30 closed

[2018-11-08 00:30] BenTheElder commented on #79
Sure, that would be great! PRs are always welcome :-)
I hope to get to this soon, but may not. Trying to get some other key fixes in.

[2018-11-08 00:31] BenTheElder commented on #34
I'm going to call this done for now. I think we covered it pretty well for now.

[2018-11-08 00:31] #34 closed

[2018-11-08 08:34] AkihiroSuda opened #94 "Question: comparison with kubeadm-dind-cluster?"

[2018-11-08 10:21] BenTheElder commented on #85
Done in https://github.com/kubernetes-sigs/kind/pull/89

[2018-11-08 10:21] #85 closed

[2018-11-08 13:58] neolit123 commented on #94
one would be, dind-cluster is written in bash, while kind is written in go. :)

[2018-11-08 18:40] BenTheElder commented on #94
We should probably document some kind of comparison, I kinda loathe these things because it's hard to write a fair, objective one that brings up all useful points... there are tradeoffs with any Kubernetes setup.

/assign

[2018-11-08 21:02] BenTheElder commented on #94
Please re-open or file another issue if you have further questions. I'm going to hold off documenting anything further until `kind` has a proper support & release model in place, discussing this more today with @munnerz.

[2018-11-08 21:02] #94 closed

[2018-11-09 02:05] AkihiroSuda commented on #94
Thanks!

[2018-11-09 03:08] BenTheElder commented on #84
Please re-open when you are able to provide more details.

[2018-11-09 03:08] #84 closed

[2018-11-09 19:56] cdrage commented on #82
@BenTheElder Are you still getting this error?

Seem's that even I've been encountering it (even with your patch).

When I run my particular code *without* race, it passes.

To replicate:

[code]

[2018-11-11 11:51] nilebox opened #99 "Support exposing additional ports to be used for NodePort services"
`kind` currently only exposes a single Docker port to the host machine (Kubernetes API server).
As a result, It is impossible to access other services running inside the cluster.

In `minikube` NodePort is a solution for that.
`minikube` exposes all ports on a VM's IP address:
[code]
that just print a VM IP address + port that you can query via
[code]
This is also useful for testing Ingress contro

[2018-11-12 21:40] BenTheElder commented on #99
Supporting extra ports makes sense, note though that you can access (TCP) services via `kubectl port-forward`:
https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/
UDP is not yet supported by kubernetes for this though.

I think we'd need to gate exposing extra ports on the node container behind some config, `kind` nominally supports running multiple

[2018-11-12 21:42] BenTheElder commented on #99
Er, and I'm on the fence as to if this should be a flag or be in config. I'd like to keep the flag surface from exploding, but it seems like this might be commonly used enough to put in both with the flag overriding.

cc @munnerz @neolit123

[2018-11-12 23:45] neolit123 commented on #99
+1 for config only.

`ExposedPortRanges []strings`
per cluster.

hm, if multiple clusters are supported better expose settings for them in the config?

pseudo tree:
[code]

[2018-11-13 00:16] BenTheElder commented on #99
one config file per cluster currently, though I suppose we could require named configs within a single file, that seems clunky though and there's no guarantee that all of the clusters in the config exist.

when we add preflight checks we can scan for existing clusters by inspecting the labeled containers and we can label metadata like this that needs to be known.

[2018-11-13 21:26] alejandrox1 opened #103 "Build node-image using apt build type fails"
Trying to build the `node-image` using the `apt` type fails:
[code]

The problems seems to be that during the build process, `kind` tries to save the required images to a temporary directory of the type `/tmp/kind-node-imageXXXXXXXXX/bits/images`:
https://github.com/kubernetes-sigs/kind/blob/6177a98223feedc7b8ab2e860b2311cb1f739acf/pkg/build/node/node.go#L368-L369

Extracting the output from the `

[2018-11-13 21:46] BenTheElder commented on #103
So this directory is missing on the host AFAICT, we should add an os.MkdirAll()

https://github.com/kubernetes-sigs/kind/blob/6177a98223feedc7b8ab2e860b2311cb1f739acf/pkg/build/node/node.go#L368-L369

->
something like:
[code]
Thanks for reporting and looking into this!

[2018-11-14 01:04] BenTheElder commented on #70
/lifecycle active

[2018-11-14 01:05] BenTheElder commented on #70
ref: https://github.com/kubernetes-sigs/kind/pull/104

[2018-11-14 01:09] #103 closed

[2018-11-14 05:48] luxas opened #107 "Use ComponentConfig"
See my talk on how to do it, but you probably already know ;)
https://sched.co/FuKB
Sample repo: https://github.com/luxas/sample-config

[2018-11-14 18:18] BenTheElder commented on #107
Yeah! Definitely one of the reasons I used go, we should get around to fixing this :-)
/assign @munnerz

[2018-11-14 19:17] BenTheElder opened #109 "consider using klog for logging"
I think https://github.com/kubernetes/klog is the way forward for the ecosystem, and after some experimenting I think structured logging makes the most sense for server / syslog type logs, not debugging a CLI.

I don't love glog/klogs's line formatting, but it seems like the way forward to integrate in the ecosystem.

cc @munnerz

[2018-11-14 20:03] font opened #110 "Support insecure-registries for container runtime running inside of kind container"
The host that is running `kind` to set up kind clusters may want to create container images to be pulled by the container runtime (docker/containerd daemons) running inside of the `kind-<name>-control-plane` containers e.g. `kind-1-control-plane`. To simplify this, it would be great to have a way to easily configure the container runtime running inside the kind containers with `insecure-registries

[2018-11-14 20:37] BenTheElder commented on #110
SGTM, looks like both [cri-o](https://github.com/kubernetes-sigs/cri-o/blob/master/docs/crio.conf.5.md#crioimage-table) and [containerd](https://github.com/containerd/cri/blob/master/docs/registry.md) support this as well so if we want to use those inside the container in the future this can still be supported.

We can add a config option to specify a list of insecure registries and write it throu

[2018-11-14 21:08] font opened #111 "Use container IP address in server field in kubeconfig for kind cluster"
When working with multiple clusters such as with https://github.com/kubernetes-sigs/federation-v2, we provide the cluster info to the federation controller running in one of the clusters, to talk to all the other clusters. That cluster info comes from the kubeconfig provided by the user. The current `kind create cluster` command will create a kubeconfig with the `server` field using `localhost` as

[2018-11-14 21:25] font opened #112 "kind create cluster creates same kubeconfig user name for each cluster"
When creating multiple clusters with `kind create cluster --name <name>` the kubeconfig for each cluster specifies the same user name of `kubernetes-admin`. This becomes a problem when trying to use multiple kubeconfigs in `KUBECONFIG` because the user name overlaps with each of the configs. For example:

[code]

Instead each auth user name should include the `--name` of the kind cluster when spec

[2018-11-14 21:28] font opened #113 "Add option to specify kubeconfig when creating kind clusters"
The `kind create cluster` command creates a `~/.kube/kind-config-<name>` kubeconfig file to access that kind cluster. When working with multiple clusters, you end up with multiple of these files. Could we add an option to the `kind create cluster` command (e.g. `--kubeconfig`) so that the user can provide a file to use for all the kubeconfigs such as `~/.kube/config`. I've also filed #112, which w

[2018-11-14 21:45] munnerz commented on #111
On OSX at least, it's not possible to access the docker container network 😞

If we want to make this configurable, there's 3 options I can think of:

- Add a boolean/toggle to the kind Config type
- Add a flag to `kind create cluster` to toggle the behaviour
- Add a new `kind get kubeconfig` to grab a kubeconfig for an existing cluster, and add a flag to *that*

Not sure what's most desirable here

[2018-11-14 21:49] BenTheElder commented on #113
We've also debated just writing to this in the first place like most deployers, cc @Katharine @munnerz @justinsb

We can definitely add a `--kubeconfig` as well
/assign

[2018-11-14 21:50] BenTheElder commented on #112
/assign
/kind bug
/priority important-soon

[2018-11-14 21:50] BenTheElder commented on #113
/kind feature
/priority important-soon

[2018-11-14 21:52] BenTheElder commented on #111
Each cluster has a different port for the API server so it should still be possible for them to talk to each other (?), the reason for localhost is that windows / mac do not support anything else as far as I know, because the container network is actually in a light VM.

[2018-11-14 21:56] BenTheElder commented on #111
It's also possible that using a single network bridge will be problematic in the future, once we get multiple nodes. Using localhost and a random port makes things pretty portable.

Can federation support keying off of the address + port instead of just the address instead?

It would be quite easy to create a kubeconfig with the container IP address when on linux, but so far I've preferred keeping

[2018-11-15 01:02] BenTheElder commented on #39
/lifecycle active

[2018-11-15 01:03] BenTheElder commented on #23
xref: #109

[2018-11-15 02:11] font commented on #111
On Linux, I don't think it's possible while using `localhost` because `127.0.0.1` is not routable from one container to another i.e. across the network bridge.

We key off of the entire server field so we include the port. It's just that using `localhost:<port_for_other_kind_cluster_api_server>` returns a connection refused error because the local container (referred to by using `localhost`) is no

[2018-11-15 13:30] neolit123 commented on #107
BTW, the codecs in api-machinery are bound to json-iter and do not support strict unmarshalling. json-iter supports it except that it's options are hardcoded.

so if there is a plan for a switch to unmarshaling from codecs instead of plain yaml.UnsmarshalStrict, possibly yaml.UnmarshalStrict has to be moved as a pre-step before decoding.

[2018-11-15 20:36] font commented on #113
Yeah I think that would be consistent with most other tools. Then the `--kubeconfig` option could be used to implement the existing default behavior i.e. separate `kind-config-<name>` files.

[2018-11-15 21:39] BenTheElder commented on #113
Yeah, I just dislike that this seems racy (writing to the shared file) but it seems to be done by like, every other deployer in existence, so I guess that's OK.

We'd also have to consider if deleting the cluster should remove those then, since before we were going to just implement deleting the file.

[2018-11-16 12:44] luxas commented on #80
This is basically solved by #107

[2018-11-16 12:55] luxas opened #117 "Multiple node support?"
Don't know if this has been discussed yet. But it'd be nice to be able to bootstrap joining "nodes" in more docker containers, like kubeadm-dind-cluster does :smile:. WDYT?

[2018-11-16 12:56] aledbf commented on #117
@luxas is present in the [todo list](https://github.com/kubernetes-sigs/kind/blob/9bdf57ffe1f2b07e6015564b1019310eb28537a1/docs/todo.md)

[2018-11-16 15:08] rimusz opened #118 "Dynamic volume provisioning support"
Dynamic volume provisioning support would be handy to have to test apps which need persistence.

[2018-11-16 20:30] BenTheElder commented on #118
So we do have a default storage class (host-path), though I haven't really tested it out yet. This is required for some conformance tests.

https://github.com/kubernetes-sigs/kind/blob/4d7dded365359afeb1831292cd1a3a3e15fff0b2/pkg/cluster/const.go#L21-L31

[2018-11-16 20:31] BenTheElder commented on #118
I _think_ we just need to document this
/kind documentation

If not, I'll update this issue with what else is required and follow-up.
/help
/priority important-longterm

[2018-11-16 21:13] alejandrox1 commented on #118
I can document this and test it out

[2018-11-17 01:50] font opened #119 "Add versioning to kind"
This issue is to track adding a `version` option/sub-command that displays the `kind` version. This would help in debugging to know what version a user is working with and to support released versions of kind.

[2018-11-17 01:58] font opened #120 "Add versioned releases for kind"
As other projects begin to depend on `kind` for dev and CI testing, it will be useful to have versioned releases for `kind` instead of having those projects rely on `master` using `go get sigs.k8s.io/kind` or running extra commands to `git checkout` a specific SHA (no branches or tags currently exist). That way if there is ever a new default behavior that other project maintainers are not expectin

[2018-11-17 02:33] BenTheElder commented on #120
see https://github.com/kubernetes-sigs/kind/pull/81 and docs/todo.md

this is intended, the reason a release doesn't exist yet is:
- still possibly making breaking changes leading up to the first release
- we're working out how we want to handle versioning

#81 also adds the version subcommand for https://github.com/kubernetes-sigs/kind/issues/119

/cc @munnerz
/lifecycle active
/assign

[2018-11-17 02:33] BenTheElder commented on #119
/cc @munnerz
/lifecycle active
/assign

https://github.com/kubernetes-sigs/kind/pull/81 has this, it just hasn't gone through yet while we finish sorting out how we want to handle the actual versions

[2018-11-17 09:04] rimusz commented on #118
yes, I there is default storage class, but it doesn’t work for dynamic volumes prisioning, deployments get stuck waiting for PVCs

[2018-11-17 09:12] BenTheElder commented on #118
Ok, thanks.
We'll need to look into options for providing something more suitable. Any
ideas @davidz627 ?

On Sat, Nov 17, 2018, 01:04 Rimas Mocevicius <notifications@github.com
wrote:

[2018-11-17 15:56] neolit123 commented on #107
[code]

validation happens at `#1`.

[2018-11-17 17:08] neolit123 commented on #107
commented: https://github.com/kubernetes/community/pull/2354#issuecomment-439631806
i think that was the KEP thread.

[2018-11-17 18:44] BenTheElder commented on #107
Hmm, I think we should teach the decoder to handle strict instead then, our homebrew GVK thing works OK if not being the best thing to maintain long term. It seems like everyone will benefit from a strict option as discussed here now by @neolit123 and co. https://github.com/kubernetes/community/pull/2354#issuecomment-439633827

[2018-11-19 17:53] luxas commented on #107
@BenTheElder @neolit123 Please redirect discussion to actionable, generic work items of the upcoming `k8s.io/component` repo you'll utilize. https://docs.google.com/document/d/1nZnzJD9dC0xrtEla2Xa-J6zobbC9oltdHIJ3KKSSIhk/edit
Thanks!

[2018-11-19 19:32] BenTheElder commented on #118
We're inherently not on a cloud provider (these clusters are locally like
minikube etc.) - is NFS the only option? Could we write one that handed out
"local disks" that are just dirs or docker volumes or something..?

I'm not the most experienced with stateful Kubernetes yet, admittedly, but
it seems like we could come up with something. 🤔

On Mon, Nov 19, 2018, 11:26 David Zhu <notifications@gith

[2018-11-19 19:55] msau42 commented on #118
Sorry can someone explain some context to me? Is this for testing only, or do we actually want to run real production workloads?  If it's testing only, there's a hostpath dynamic provisioner that uses the new volume topology feature to schedule correctly to nodes.  However, it doesn't handle anything like capacity isolation or accounting.

I forgot, someone at rancher was working on this project.

[2018-11-19 20:20] BenTheElder commented on #118
Just testing. If anyone uses this project for production workloads they're
crazy 😆

I'll try to look around for that, if you remember or have any other ideas
that would be appreciated though. I wonder if minikube or kinvolk have
tried to sort this out yet as well.

On Mon, Nov 19, 2018, 11:55 Michelle Au <notifications@github.com wrote:

[2018-11-19 20:51] msau42 commented on #118
I found it @yasker https://github.com/rancher/local-path-provisioner

[2018-11-20 10:34] rimusz commented on #118
also https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume

[2018-11-20 13:57] rimusz commented on #118
OK, been messing with storage:
1) https://github.com/kubernetes-incubator/external-storage/tree/master/nfs fails to work in `kind`
2) https://github.com/rancher/local-path-provisioner / https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume nothing good went for there as well.

I go luck with https://github.com/MaZderMind/hostpath-provisioner
1) deleted default storage c

[2018-11-20 14:54] rimusz commented on #119
can with `kind` versioning different kubernetes versions be supported?

[2018-11-20 17:40] BenTheElder commented on #119
Different Kubernetes versions are supported today by using `--image`s with different versions. I will document this further soon.

[2018-11-20 18:37] yasker commented on #118
@rimusz What the issue with https://github.com/rancher/local-path-provisioner? Just curious.

[2018-11-20 19:37] rimusz commented on #118
it did not work for me, PV did not get created, so I did not spend too much time digging why.
`hostpath-provisioner` worked for me straight away :-)

[2018-11-20 19:40] yasker commented on #118
@rimusz Weird... If you got time, can you open an issue with the log? You can see how to get the log using `kubectl -n local-path-storage logs -f local-path-provisioner-d744ccf98-xfcbk`(as seen in the doc). Though if you don't have time, I totally understand.

[2018-11-21 04:46] BenTheElder commented on #5
After significantly redesigning, this will be out in #123.

[2018-11-21 04:46] BenTheElder commented on #6
docker exec works fine enough for now, node name == hostname. we also have the node lifecycle hooks, though those are a bit more questionable. hopefully nobody depends on them yet though.

[2018-11-21 04:46] #6 closed

[2018-11-21 04:48] BenTheElder commented on #55
So after absurd delay (I'm sorry!) I finally filed a PR with an initial implementation, after rewriting it a few times inbetween other refactors. see #123.

There've been a lot of other changes to kind though.

[2018-11-21 04:54] BenTheElder commented on #71
I'm still not sure what else to do here. The name is widely in use at this point and I don't have any better ideas. FWIW while the repo is possibly newer, the project predates the repo, it graduated out of [test-infra](https://github.com/kubernetes/test-infra) over to here.

I'm open to suggestions but for now I'm closing this. We're starting to write more documentation and will outline comparison

[2018-11-21 04:54] #71 closed

[2018-11-21 04:54] mitar commented on #55
Thanks. I am currently busy with some other projects, so maybe after this gets merged in I can try to see if this makes it easier to debug issues with kind on my machine (or even, maybe issues are gone with other updates).

[2018-11-21 04:59] BenTheElder commented on #117
Hmm it seems you're not a member of kubernetes-sigs yet @fabriziopandini, if you join I'm happy to assign you as well :-)

Roughly, we discussed the need to:
- add better support internally for taking actions across a topology of nodes
- add support for more nodes
- add support for tracking / recording the statuses of nodes (my initial thought: place a status record file in each node container, bu

[2018-11-21 05:06] BenTheElder commented on #112
this seems to be https://github.com/kubernetes/kubeadm/issues/416, looking into options...

[2018-11-21 05:19] BenTheElder commented on #55
If you do get some time, I'll be happy to poke around the logs and see if I can find anything. The implementation also needs some improvement still but it should provide at least some useful information.

No rush if you don't have time though, apologies again for the large delay in getting this out. Getting things very stable and very debuggable is a major priority.

[2018-11-21 09:30] rimusz commented on #118
@yasker next time when I get free cycles I will look to `local-path-provisioner` again.
But when `kind` supports multi-node then we need something else.

[2018-11-21 13:40] msau42 commented on #118
Oh if you are currently only supporting single node, then the intree hostpath provisioner should have worked fine.  It's the same one that localup.sh uses

[2018-11-21 14:16] vasrem opened #124 "Kind is not able to start containers when userns-remap is enabled on the Docker daemon"
Kind is not able to start containers when `userns-remap` is enabled on the Docker daemon. The error that occurs is the following:
[code]

[Here](https://docs.docker.com/engine/security/userns-remap/#user-namespace-known-limitations) it  says that this is the correct behaviour.

A solution could be that we add the flag `--userns=host` in the `docker run` commands that start the containers and conta

[2018-11-21 17:01] BenTheElder commented on #124
/kind bug
/assign

[2018-11-21 17:35] nirmoy opened #126 "Failed to create cluster using kind-example-config"
I get below error when running
kind create  cluster  --config=docs/kind-example-config.yaml
Creating cluster 'kind-1' ...
 ✓ Ensuring node image (kindest/node:v1.12.2) 🖼
 ✓ [kind-1-control-plane] Creating node container 📦
WARN[18:33:06] LifecycleHook failed, continuing ...          error="exit status 126" node=kind-1-control-plane phase=preBoot
 ✓ [kind-1-control-plane] Fixing mounts 🗻
 ✓ [kind-1-

[2018-11-21 18:30] BenTheElder commented on #126
uh oh, thanks for reporting! we should also add that the example config is meant to show the fields rather than be used. creating a cluster does not require a config file unless you want to do advanced things.

/kind bug
/assign
/lifecycle active

[2018-11-21 18:54] neolit123 commented on #117
that's great news.
i wash i was part of your meeting to get a better context.

adding state on disk is usually not the best of options, but it depends of what type of node status we want to store. we also have https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm#ClusterStatus

we can definitely share our thoughts after working on the kubeadm ComponentConfig for some many releases.

[2018-11-21 19:34] alejandrox1 commented on #126
Tracked this down and the issue is due to the fact that `kind` installs kubeadm v1.12.2 which by default uses api version `v1alpha3`.

[code]
and in [`v1alpha3`](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#sig-cluster-lifecycle):

In the future, the exampl kind config file will definetely fail as [Kubernetes v.1.13 will get rid of `v1alpha2`](https://kubernetes.io/docs/r

[2018-11-21 19:37] BenTheElder commented on #126
Yes, it's going beta in Kubernetes 1.13, which we will switch to soon there. Once this is stable it will work across versions, what happened here is we upgraded the default kubernetes version but forgot to update the example config to work with it.

[2018-11-21 19:40] BenTheElder commented on #117
yes, it was fairly unplanned, in the future I'd love to meet with you and others about this.

well only "on disk" within the node containers, so it will be cleaned up and be associated with them, it's not so different compared to say, the logs.

It needs to have the status of the node even before we've run kubeadm, from my understanding of @fabriziopandini's intent there.

I hoped so! I really wan

[2018-11-21 19:45] BenTheElder commented on #112
I [asked in #sig-cluster-lifecycle](https://kubernetes.slack.com/archives/C13J86Z63/p1542777463422000),  so far I don't think there's an answer for this. Following up...

[2018-11-21 20:20] neolit123 commented on #117
so it will also be read the same way as the logs, i guess.

interested to find out what status such files would hold.

:+1:

[2018-11-21 21:49] #126 closed

[2018-11-21 22:05] BenTheElder commented on #118
Ah, yeah currently only a single-node, and it should indeed look like `hack/local-up-cluster.sh`'s default storage, but multi-node will happen in the near future I suspect, an implementation exists but is not in currently and may take a bit.

[2018-11-21 22:07] BenTheElder commented on #124
we discussed this further via slack, and kind also needs a fix to the build to chown the tarballs at build time it looks like, will file a fix for that later today.

[2018-11-22 07:03] BenTheElder commented on #120
discussed an updated strategy for this today with @munnerz, I want to get this + #119 next week ideally.

[2018-11-22 07:05] BenTheElder commented on #124
the tarball change is in, but we've not pushed images built with it yet. locally built images should work `kind build node-image --type=apt && kind create cluster --image=kindest/node:latest`, but we still need to get #125.

[2018-11-22 14:31] vasrem commented on #124
I updated the PR. It seems that `kind` doesn't work for docker daemon storage-driver different than `overlay2`. At least tested for `overlay` and `btrfs` and it doesn't work. Maybe this should be listed as a different Issue or in the documentation if you are not going to support these drivers. :)

[2018-11-22 18:12] luxas commented on #117
xref this on ComponentConfig for configuring all this topology stuff ;) https://docs.google.com/document/d/1nZnzJD9dC0xrtEla2Xa-J6zobbC9oltdHIJ3KKSSIhk/edit

Overall the direction of the thread sounds great to me!

[2018-11-23 07:02] fabriziopandini commented on #117
/assign
I will followup with dedicated issue for each topic asap; this issue remains as a umbrella for general discussion for multi-node

[2018-11-23 07:05] fabriziopandini commented on #62
+1 noted

[2018-11-23 14:54] fabriziopandini opened #130 "Improve config for multi node scenario"
as per https://github.com/kubernetes-sigs/kind/issues/117#issuecomment-440531457, one of the step for implementing multi node support is to improve Kind config in order to support the concept of topology: how many control-plane nodes should be in the cluster? how many worker nodes? should I add an external-load balancer? add an external-etcd?

A first high level idea for the new config design is s

[2018-11-23 14:57] fabriziopandini opened #131 "Introduce actions"
as per https://github.com/kubernetes-sigs/kind/issues/117#issuecomment-440531457, one of the required steps for implementing multi node support is to add better support for taking actions across a topology of nodes.

The rationale behind the need of "actions" dependent on "topology of nodes", is that different nodes in the cluster require different actions to be executed after creating the contain

[2018-11-23 15:00] fabriziopandini opened #132 "Keep track of cluster status"
Enabling multi-node support in kind and introducing actions creates the need of knowing not only the "cluster spec", but also the "cluster status" because e.g.
- it is necessary to keep track of the IP address assigned to the container created for the control-plane in order to join nodes
- it is necessary to keep track of the IP address assigned to the container created for the external etcd balan

[2018-11-23 15:00] fabriziopandini commented on #132
/assign

[2018-11-23 15:02] fabriziopandini opened #133 "Define how flags / cli / configuration should look for multi node"
Multi node is going to increase complexity of the config options available in kind (see https://github.com/kubernetes-sigs/kind/issues/130).

It should be defined how this will impact on  flags / cli, considering at least following categories of users/use cases:
- "beginner": just give me a working, single node cluster.
- "intermediate": give me a working cluster with more than one node with some

[2018-11-23 15:06] neolit123 commented on #132
+1 for

[2018-11-23 15:11] fabriziopandini opened #134 "External load balancer"
Multi node scenario might require an external load balancer in front of control-plane instances (if more than one should be deployed in a cluster)

A possible solution is to use an HAProxy container to be created in addition to the cluster nodes, but other solutions could be considered as well.

The HAProxy solution, even if simple, introduces a "dependency" from a component not currently included

[2018-11-23 15:14] fabriziopandini opened #135 "External ETCD"
Multi node might include scenarios with an external etcd.

A possible solution is to use an etcd container to be created in addition to the cluster nodes.

This raises the same questions/options discussed in https://github.com/kubernetes-sigs/kind/issues/134

opinions?
/assign

[2018-11-26 12:49] senthilrch opened #136 "overlay network cannot be applied when host is behind a proxy"
### Environment
Host OS: RHEL 7.4
Host Docker version: 18.09.0
Host go version: go1.11.2
Node Image: kindest/node:v1.12.2

### kind create cluster
[code]

Code below in pkg/cluster/context.go is trying to extract k8s version using kubectl version command in order to download the version-specific weave net.yaml. The code is not ok:-
[code]
Why is the output of kubectl version command, base64 encode

[2018-11-26 14:56] alejandrox1 commented on #136
Hi @senthilrch , thank you for filling this issue.
Could you run `kind create cluster --loglevel debug` and put the output of this command in a [gist](https://gist.github.com/) ?

As for your uestion about installing weave net, you can read more about it [here](https://www.weave.works/docs/net/latest/kubernetes/kube-addon/).

[2018-11-26 18:15] BenTheElder commented on #136
Yep, as @alejandrox1 noted, the base64 encoding is from their guide. The reason for this is to pass it as an HTTP query parameter to weave so that their site can serve the appropriate weave version based on your Kubernetes version.

In the future we might use fixed weave versions, but this is the correct and normal way to install it per their upstream documentation.

It would be this verbatim, but

[2018-11-26 19:46] BenTheElder commented on #133
In no particular order CCing some others for their thoughts on this: @neolit123 @liztio @munnerz

I think roughly the plan outlined above makes a lot of sense, if we go this route we should group the flags by "usage level" in the CLI help text.

[2018-11-26 23:09] BenTheElder commented on #132
+1 for 2):
1) the host is something we have less control over and want to avoid leaving anything behind on if we can
2) we use 2) for tracking pretty much everything else related to the node except for 3)
3) I don't think anything suitable exists for 3), labels, ports etc are all at container creation time.

[2018-11-26 23:12] BenTheElder commented on #124
Yes, we should do that. btrfs is not going to work well I think, the others we might be able to fix / work around ... Originally it avoided this by using a tmpfs for the dind docker storage which avoided a lot of this but cost RAM :+)
So far `kind` is only tested with the default drivers on docker for mac, and docker-ce for debian + ubuntu, so I haven't made any claims there yet.

[2018-11-26 23:41] #5 closed

[2018-11-27 05:31] senthilrch commented on #136
It is happening repeatedly. I'll get the debug log gist and add it here.

On Mon, 26 Nov 2018 at 23:45, Benjamin Elder <notifications@github.com>
wrote:

[2018-11-27 06:17] senthilrch commented on #136
https://gist.github.com/senthilrch/70eb56cfeee38e311c13f6898791121a

The host in which I am creating the kind cluster is behind a proxy. Perhaps that's the reason it fails. Will kind honor http_proxy and https_proxy env variables set on the host?

[2018-11-27 07:49] fabriziopandini commented on #130
/lifecycle active

[2018-11-27 20:01] BenTheElder commented on #136
Ah, that's almost definitely it!

`kind` does nothing special regarding proxies, the rest of the bringup only works because everything else (besides the overlay network config and its images) is pre-packed into the node image and doesn't need to go out to the internet.

We can either try to get these packed into the image ahead of time (which is probably quite doable, and possibly desirable, but m

[2018-11-27 20:02] BenTheElder commented on #136
/kind bug
/priority important-soon

[2018-11-27 20:04] BenTheElder commented on #135
I've previously mentioned this to Fabrizio, but I'd like to maintain the status quo that all artifacts necessary to create a cluster are contained in a node-image snapshot, external etcd could be compatible with this via grabbing the etcd image from the node, but it might be a bit ugly.

I think this should probably be optional, with the default not being external etcd.

[2018-11-29 00:45] BenTheElder commented on #119
done in #140
will loop back with details on kubernetes versions

[2018-11-29 00:45] #119 closed

[2018-11-29 00:45] BenTheElder commented on #120
https://github.com/kubernetes-sigs/kind/releases/tag/0.0.1, with binaries for linux amd64 and darwin amd64, if someone needs another architecture I'm happy to update, but it's unlikely to work elsewhere except possibly windows (we don't have very active testing there, and I'm unsure if it works currently)

[2018-11-29 00:46] #120 closed

[2018-11-29 01:52] neolit123 commented on #134
so if HAProxy is installed, but disabled by default on the default node image and we have control of what we can execute on such a node we can set this node as an external LB.

one problem here is that the node-image is pretty big and i don't think it should use it for just this purpose, but for testing it seems like an option to consider as well.

i think we should start estimating RAM usage for

[2018-11-29 02:02] BenTheElder commented on #134
how big is a haproxy install, exactly?

I've requested that we try to keep things versioned within that image. This means that eg our first release has two artifacts:
- `kind` CLI binaries
- a pinned image used by those binaries, which we can never change because we pin it by the sha.

for the default usage, absolutely everything is stable in this case (well except weave, but that's a bug not a pa

[2018-11-29 02:06] BenTheElder commented on #135
well the CLI already performs actions over the nodes via the exec tooling, we just need to properly select them by node type and mange them a little better ref #131

`kind` pretty much does this during part of bring-up currently, so this should be doable.

Funny, I did originally consider `kind` being a cluster API implementation, but it seemed goofy that all the existing tooling would require fir

[2018-11-29 02:30] BenTheElder commented on #135
Interesting. We'd still need like, a second `kind` cluster or something as far as I can tell... I don't think any local cluster implementation should depend on another cluster first :^)

[2018-11-29 02:32] neolit123 commented on #134
this page tells me 1MB for the DEB of recent haproxy:
https://ubuntu.pkgs.org/18.10/ubuntu-main-amd64/haproxy_1.8.13-2build1_amd64.deb.html

oh, copy on write, of course. i forgot about this magic.
i see the the CNI plugins are part of the base image so its seems like the right place for it.

[2018-11-29 02:41] neolit123 commented on #135
so the alternative route there, i see as kind being a provider implementer of the cluster api, while the CLI being something like clusterctl. so the controllers and machine actuators would need to feed into docker nodes.

but i'm having difficulties envisioning this properly.
maybe @justinsb and @roberthbailey have already though about this. :)

and...i mean, the cluster api running it's machines

[2018-11-29 06:09] roberthbailey commented on #135
Right now there are two ways to create a cluster using clusterctl and the clusterapi: 1) use a bootstrap and pivot the management of the cluster into the cluster or 2) use a "management" cluster and leave the management of the cluster in place for the target cluster.

For the first option, the default bootstrap cluster is minikube, but you can point clusterctl at any existing cluster and use that

[2018-11-29 06:30] BenTheElder commented on #88
We do have a minimal test release out, so this might actually be viable in the not incredibly distant future. :-)

[2018-11-29 22:54] BenTheElder commented on #135
Thanks for the input @roberthbailey

It sounds to me like for the moment it's most reasonable that `kind` might be experimented with as a cluster for use as a bootstrap cluster, but bringing `kind` itself up with the cluster API probably is not, which is pretty much what I expected.

kind sits closer to the minikube space, and we're not bringing that up with the cluster API either.

[2018-11-30 07:07] BenTheElder commented on #79
this is done! or at least, there are guides, we will continue to enhance them

thanks @alejandrox1!! :-)

[2018-11-30 07:07] #79 closed

[2018-12-04 13:58] fabriziopandini commented on #131
/lifecycle active

[2018-12-04 18:48] vincepri opened #148 "Cluster doesn't restart when docker restarts"
When docker restarts or stop/start (for any reason), the kind node containers remain stopped and aren't restarted properly. When I tried to run `docker restart <node container id>` the cluster didn't start either.

The only solution seems to recreate the cluster at this point.

/kind bug

[2018-12-05 01:34] BenTheElder commented on #148
Isn't this standard behavior with docker containers? (remaining stopped?)

kind does not run any daemon to mange the cluster, the commands create / delete "nodes" (containers) and run some tasks in them (like `kubeadm init`), they're effectively "unmanaged".

`docker restart` is not going to work, because creating a container is not just `docker run`, we need to take a few actions after creating t

[2018-12-05 01:40] neolit123 commented on #148
+1 to this question.

docker restart in this case will act like a power grid restart on a bunch of bare metal machines.
so while those bare metal machines might come back up, not sure if we want to support this for kind.
for that to work i think some sort of state has to be stored somewhere...

[2018-12-05 02:08] vincepri commented on #148
I've been using kind locally (using Docker for Mac) and when docker reboots or stops, the cluster has to be deleted and recreated. I'm perfectly fine with it, just thought this might be something we should look into.

The use case was to keep the cluster around even after I reboot or shut down my machine / docker.

[2018-12-05 02:11] BenTheElder commented on #148
Thanks for clarifying - this is certainly a hole in the usability but I'd hoped that clusters would be cheap enough to [create, use, delete] regularly.

This might be a little non-trivial to resolve but is probably do-able.
/priority backlog
/help

[2018-12-05 19:35] timothysc opened #152 "Add user stories"
Before we dive too deep into execution lets outline some of the concrete user stories.

/cc @kubernetes/sig-cluster-lifecycle

[2018-12-05 19:50] rimusz commented on #152
I have implemented for helm charts testing if that is what you are looking for:
https://github.com/rimusz/charts/tree/master/test
https://github.com/jfrog/charts/tree/master/test
https://github.com/keel-hq/keel/tree/master/.test

all these are part go the testing pipeline run in circles/travisci

Also an example in https://github.com/helm/chart-testing/tree/master/examples/kind

[2018-12-05 20:24] timothysc commented on #152
Right now we're planning to outline the following user stories.

- kubeadm user stories
    - local developer
    - advanced developer (HA)
    - CI signal
- cluster-api stories
    - bootstrap integration
- K8s integrator
    - CI automation tooling
...

[2018-12-05 22:03] BenTheElder commented on #152
@munnerz @Katharine if you get some time, might helping provide a few details for your existing usage?

[2018-12-06 01:39] #42 closed

[2018-12-06 03:20] BenTheElder commented on #152
Maybe docs/design/* -> docs/design/user-stories/* ? Open to suggestions, but probably somewhere within docs/*

[2018-12-06 09:07] BenTheElder commented on #28
/lifecycle active
FYI @liztio

[2018-12-06 15:22] neolit123 commented on #133
random thoughts:

--control-plane-nodes number of control-plane nodes
--external-etcd to create and extenal-etcd cluster

while we can create replicas based on a template, there has to be a way to configure parameters for them - i.e. passing a template, or a ConfigMap (like proposed in the multi-node PR).

while passing a number of certain node types may satisfy the basic use case, soon after the

[2018-12-06 18:37] BenTheElder commented on #148
I think I know how we can do this effectively, but I have no idea what to call the command that will fit with the rest of the CLI 🙃

cc @munnerz

Something like `kind restart cluster` maybe?

[2018-12-06 18:42] vincepri commented on #148
`restart` seems it fits well with the other create/delete cluster commands, what's the idea you had? Wondering if it actually fits the `restart` word or it's something more.

[2018-12-06 19:26] BenTheElder opened #153 "support multiple CRI within the nodes"
We should theoretically be able to support:
- docker
- cri-o
- containerd

and other similar container runtimes if someone has one they want, _within_ the "node" containers.

Considerations:
- should we install all of these in the base image? at what versions
- we need some plumbing to select which one to use, inform kubeadm etc depending on the first point

@runcom was going to look into cri-o ht

[2018-12-06 19:32] BenTheElder opened #154 "support multiple container engines on the host"
<strike>#151 should bring initial support for `podman` via @rhatdan</strike>

~This should mostly be a drop in replacement.~ (it's not... podman has quirks)

We should further clean up the code base a bit to help with this sort of thing. We've mostly but not quite isolated the container runtime functionality.

/assign
/assign @rhatdan

/kind feature
/kind cleanup
/priority important-longterm

rela

[2018-12-06 19:36] BenTheElder commented on #148
It should roughly be:
- list the containers matching the cluster name
- for each ...
  - docker {re}start
  - run the pre-boot fixes (mounts)
  - signal the entrypoint to boot
- optionally `--wait` for the control-plane like create

It'll look similar to create but skip a lot of steps and swap creating the containers for list & {re}start

We can also eventually have a very similar command like `ki

[2018-12-06 19:51] vincepri commented on #148
I like that approach, and the node restart also sounds nice and could cover other use cases.

[2018-12-06 22:49] garethr opened #155 "No Windows binaries for release"
The current release https://github.com/kubernetes-sigs/kind/releases/tag/0.0.1 doesn't have available Windows binaries.

[2018-12-06 22:59] BenTheElder commented on #155
yes, I didn't actually get a chance to test code-as-released on windows yet. kind isn't regularly seeing usage on windows at the moment to my knowledge so it's been on the back-burner.

I'll test it out tonight and if there are no issues update the release with windows binaries.

/kind bug
/assign
/priority important-soon

[2018-12-06 23:06] garethr commented on #155
@BenTheElder thanks. I'll do my best to give it some usage and report any issues I find.

[2018-12-06 23:57] xstevens opened #156 "kubectl cannot communicate with new cluster"
I was trying out KIND on macOS. The cluster seems to startup fine and there's no indication of errors in the logs. However, kubectl cannot communicate with the server using the generated kubeconfig.

[code]

Here's a log of shell commands:

https://gist.github.com/xstevens/f43236505e7849d4079f8204c4a3f52b

[2018-12-07 00:20] BenTheElder commented on #156
`kind export logs` will give us logs to look at, it does look like the cluster came up fine initially at least from what you posted.

/assign

[2018-12-07 00:22] BenTheElder commented on #156
how much RAM does your docker daemon have configured?

docker for mac being low on RAM or disk space in the hyperkit vm is usually why something like this happens, that's something we need to cover more in the docs and maybe try to detect.

[2018-12-07 00:43] xstevens commented on #156
I killed the previous cluster and tried 4 CPU / 4GB RAM for Docker and ended with the same result.
[code]

Attaching the export logs.
[kubelet.log](https://github.com/kubernetes-sigs/kind/files/2655457/kubelet.log)
[journal.log](https://github.com/kubernetes-sigs/kind/files/2655458/journal.log)
[kubernetes-version.txt](https://github.com/kubernetes-sigs/kind/files/2655459/kubernetes-version.txt)
[

[2018-12-07 00:58] BenTheElder commented on #156
Thanks! looks like disk space from the kubelet log:
[code]

If you EG build kubernetes (or kind node images) often, it will eat up all of the space in the docker for mac disk, something like `docker system prune` usually helps.

[2018-12-07 01:14] xstevens commented on #156
Cleared up my images with prune and removed some other old ones. Works now, thanks!

[2018-12-07 01:14] #156 closed

[2018-12-07 16:04] alejandrox1 commented on #156
@BenTheElder I can help on the docs and possibly add some logging to make this type of issues easier to diagnose, if you haven't already started.

[2018-12-07 16:06] alejandrox1 commented on #107
@BenTheElder @munnerz is there any chance that I could help with this? :-)

[2018-12-07 19:10] BenTheElder commented on #107
currently we aren't configuring things covered by k8s.io/component directly (potentially kubeadm is). we'll adopt it when we configure them.

[2018-12-08 01:38] BenTheElder commented on #70
Suffice to say, we have these now! We will continue to improve them. Thanks to @alejandrox1 in particular

[2018-12-08 01:38] #70 closed

[2018-12-08 01:43] BenTheElder commented on #80
/lifecycle active
We've definitely made progress here. WDYT @munnerz?

[2018-12-08 02:30] BenTheElder commented on #109
@alejandrox1 FYI you should not reference issues from commits, because github will reference them across forks. so when someone merges your PR to another fork github will try to close it here :grimacing:

The UX for those references is a bit wonky and has been a problem across the project.

[2018-12-08 03:00] alejandrox1 commented on #109
@BenTheElder :+1: won't happen again.
Should I amend the commit on #115 ?

[2018-12-08 05:02] tao12345666333 commented on #153
In my opinion, we don't need to install all of these in the base image.

We can have multiple types of base image by image tag. And choose one by a flag called `CRI` or others.

[2018-12-08 06:35] BenTheElder commented on #109
That would be great 🙂

Also don't worry about it though, just a note. We have a few issues in k8s that get spammed & closed with this very badly 😅

[2018-12-08 06:38] BenTheElder commented on #153
If we have a CRI flag it would have to just be in the base image, which might make `kind create cluster` less intuitive to select a CRI for most users since they'd need a node image built from a base image with the CRI.

There are some trade-offs with how many images we need to build and maintain, UX, image size, etc.

[2018-12-08 07:01] tao12345666333 commented on #153
Yes.

If they are all installed to the base image, the image will become bigger.

I am very happy to participate in this.

[2018-12-08 15:15] neolit123 commented on #107
kind is already doing parts of the componentconfig spec:
https://github.com/kubernetes-sigs/kind/tree/master/pkg/cluster/config

[2018-12-08 16:12] neolit123 opened #161 "write a kubetest deployer for kind"
@BenTheElder not sure if a tracking issue already exists for this (tried searching for it).
i can try helping with the initial work for a deployer.

/assign
/kind feature
/priority important-soon

[2018-12-08 18:53] BenTheElder commented on #161
Thanks, one did not and that would be great!

I had something sketched out but never got it done. Two ideas from that:

- fetch a binary release for the platform and stick it in `$HOME/.kubetest/kind/$binary` so we can call it from kubetest.
  - checksum (sha256) of the binary there would let us avoid re-downloading when it is already downloaded. We could pre-download in the kubetest CI image too

[2018-12-09 16:38] munnerz commented on #80
Yep I think this can be closed off now! 🎉

/close

On Fri, 7 Dec 2018 at 17:43, Benjamin Elder <notifications@github.com>
wrote:

[2018-12-09 16:38] #80 closed

[2018-12-10 09:52] fabriziopandini commented on #134
@BenTheElder it is time to start implementing external load balancer

If I got it right solutions discussed above are:
1. Use ha proxy image for external external load balancing nodes
2. Use kind default image, start docker in docker, start haproxy using docker in docker (eventually pre-loaded)

1 is simplest, and probably with less footprint, but 2 address the foundament requirement keeping thing

[2018-12-10 12:22] fabriziopandini commented on #111
@BenTheElder @font
Currently I'm working on multi node and I want to be sure my effort is compliant with federation test requirements

What I'm proposing for multi-node is to
- always use IP:6443 as API server address for "infra-docker" communication. This allows multiple cluster but gets out of the way random port for node join/API server load balancing
- only when copying the kubeconfig on the h

[2018-12-10 12:45] fabriziopandini commented on #161
@neolit123 @BenTheElder
Might be a silly question, but are there some documents about how kubetest could be configured / how kubetest parameters will flow down to kind?

I ask this because IMO those info are the key requirements for designing kind UX for CI use case; more specifically I'm thinking at:
- how can I specify cluster Config/a desired cluster topology
- how can I specify a complex test

[2018-12-10 15:06] neolit123 commented on #111
i think we should make the random port a UX knob.

[2018-12-10 15:11] fabriziopandini commented on #132
@BenTheElder @neolit123 quick update after some progress on multi-node

There is two type of info which should be part of status.
- runtime info: IP, random ports reserved for containers.
  current working is to get runtime info from `docker inspect` (instead of extending config)
- config: node role and control plane hooks should be available after create
  current save config.Node into nodes (use

[2018-12-10 15:18] neolit123 commented on #132
we might have to extend the config actually. kind has plans to be non-docker centric and i have no idea what is the state of other CRIs for the same use case.

current save config.Node into nodes (use container filesystem)

so i wonder what file format are we going to save to the FS?

[2018-12-10 15:43] neolit123 commented on #161
i don't know if such a document exists.

looking at my experience with k-a, we have to store the config scenarios "somewhere" as we cannot expose the whole config or actions as CLI flags from jobs to be passed to the kind kubetest deployer.

in the case of k-a the configs were stored in the k-a repo and we were binding test-infra (kubeadm image) to a specific version of k-a. in my view this is pro

[2018-12-10 17:20] luxas commented on #107
That's very cool, thanks @fabriziopandini. Do you think there's anything more that needs to be done yet or is this initially done?

[2018-12-10 19:01] fabriziopandini commented on #107
@luxas after https://github.com/kubernetes-sigs/kind/pull/147 merge there will be internal/external config, conversions, defaulting, scheme that is what required for implementing multi-node.
Let's do a pair code review afterwards to see if something is missing/could be improved

[2018-12-10 21:11] luxas commented on #107
Sounds good @fabriziopandini!

[2018-12-11 03:00] vielmetti opened #166 "Support arm64"
Device under test is a Packet c1.large.arm 96-core arm64 machine running Ubuntu 18.04.

[code]

[2018-12-11 03:04] vielmetti commented on #166
Looking at https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/context.go#L196-L206 where the code errors out, there's a TODO for logging from @BenTheElder .

[2018-12-11 03:17] vielmetti commented on #166
Looks like the underlying reason is that kindest/node is not multiarchitecture.

[code]

[2018-12-11 03:36] tao12345666333 commented on #166
Yes, now we only hava `amd64` architecture image.  https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile#L28-L33

[2018-12-12 03:18] neolit123 commented on #166
/priority important-longterm
/kind feature

[2018-12-12 03:18] neolit123 commented on #161
/lifecycle active

[2018-12-12 16:32] BenTheElder commented on #111
--raw makes sense, BUT, we need the random port outside the container to handle docker for mac / windows and I'd rather minimize code paths because CI should match local usage for reproducibility as much as possible..

[2018-12-12 16:45] neolit123 commented on #161
@BenTheElder

i started implementing the deployer interface yesterday and this is pretty much the only flag for now.

i have a number of questions, but the few major ones are:
1) where to store the configs?
2) would the config allow actions and test scenarios (cc @fabriziopandini ) my assumption is that this is our plan?
3) i need a tutorial for testing the deployer locally. i can build the new ku

[2018-12-12 16:56] neolit123 commented on #161
re: `test-cmd`:

to me it seems that `test-cmd` can be considered as an alternative to a deployer:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml#L18-L42
in the above `scenario=kubernetes_e2e` case it is used to call a bash script.

the current kind periodics on the other hand do `scenario=execute` and also pass a bash

[2018-12-12 17:57] fabriziopandini commented on #161
@neolit123 there is no plan defined yet
my personal opinion is that actions should be kept separated by config, so you can combine actions-plans and cluster topologies (vs being forced to duplicate one of the two if both conflate in the same config file).
If this will be the choice that gets move consensus, I assume that  actions-plans will be  provided by dedicated flags like e.g. `--action []str

[2018-12-13 02:33] neolit123 commented on #148
/lifecycle active
thanks @tao12345666333

[2018-12-13 12:43] xoblite opened #168 "Support for Raspberry Pi?"
_<Nb. I have not yet investigated this further, but just thought I'd post this in the meanwhile in case someone else has already looked into it...>_

When trying to install kind on a (freshly updated) Raspberry Pi 3A+ I get the following output:

[code]

Any thoughts?

- Raspbian Stretch Linux 4.14.79-v7+ #1159 SMP armv7l
- go version go1.7.4 linux/arm
- Docker version 18.09.0, build 4d60db4

[2018-12-13 13:12] zoobab opened #169 "Make a Dockerfile to build the kind binary"
Make a Dockerfile to build the kind binary.

[2018-12-13 13:58] zoobab opened #170 "Run a cluster as a docker run oneliner"
Hi,

I quickly tested if it was possible to run kind inside a docker container with my modded version on DinD (zoobab/dind), and I could successfully run a cluster in there.

I will try to make a first version to run Kind as a docker oneliner, like:

$ docker run --privileged kind

[2018-12-13 14:07] alejandrox1 commented on #168
Hi @xoblite , out of the bag, you should upgrade Go 1.11+.
`strings.Builder` was introduced in Go 1.10, `eq.URL,Hostname` inGo 1.8 (i think), etc.

[2018-12-13 14:09] alejandrox1 commented on #168
Hi @xoblite , out of the bag, you should upgrade Go 1.11+.
`strings.Builder` was introduced in Go 1.10, `req.URL,Hostname` inGo 1.8 (i think), etc.

/triage needs-information

[2018-12-13 15:47] neolit123 commented on #169
hi, is this a feature request or something you would like to work on?

[2018-12-13 16:48] BenTheElder commented on #168
This is also #166

[2018-12-13 16:51] BenTheElder commented on #169
Building the kind binary is just "go build", I don't think we need to maintain a special dockerfile for this. We can just use the upstream go image to accomplish this.

[2018-12-13 16:56] BenTheElder commented on #170
We *could* do this very easily, it's not clear how useful this is.

Nesting your cluster in another layer of docker makes it harder to work with. We do run kind on Kubernetes clusters for example, but it does not look like this.

Can you elaborate on why we should do this and what the usage looks like?

[2018-12-14 15:55] tao12345666333 commented on #169
I also agree that we don't need to maintain a special dockerfile for this.

[2018-12-14 19:04] bmcstdio opened #172 "Bump the deafult version to v1.13.1."
It would be awesome if the default version could be bumped to v1.13.1, now that it has been released.

[2018-12-14 19:05] bmcstdio commented on #172
/kind feature

[2018-12-15 03:35] BenTheElder commented on #172
/assign
/priority important-soon

[2018-12-16 00:38] BenTheElder opened #174 "Introduce timeouts to exec"
there are many commands we make that should not run indefinitely before timing out, while some other like pull might be allowed to. we should consider extending our exec shim to handle timeouts properly.

thinking a bit more about the right way to do this, I think the shim may need a little redesign to better separate things that can be set before / after starting the command

/assign
/priority im

[2018-12-16 00:40] BenTheElder opened #175 "create a known issues guide"
there are some known issues that are not written down and distinct from things we may be attempting to patch, we should track things users may run into (eg issues with docker installed via snap).

/assign
/priority important-soon

[2018-12-16 01:34] BenTheElder opened #176 "Introduce a logging shim"
related to #23, but distinct - we should introduce a minimal logging shim interface / package, with a default instance. This will let consumers of the libraries shim the logging to their preferred package or even just dev/null it. Same goes for the status output.

We don't need anything fancy here, probably just a couple of levels like Info, Debug, Warning, Error with printf ... we can shim it to

[2018-12-16 08:05] fabriziopandini commented on #134
/lifecycle active

[2018-12-16 08:06] fabriziopandini commented on #117
/lifecycle active

[2018-12-16 09:02] traceypooh opened #177 "current kubernetes version CVE"
looks like v1.12.2 is being installed.  bump to v1.12.3 or v1.13?
[code]

[2018-12-16 11:52] BenTheElder commented on #177
/assign

[2018-12-16 11:57] BenTheElder commented on #177
`kind` is also intended to be used with locally built images against arbitrary v1.11+ Kubernetes, and the default images provided were initially meant to be a convenience, but with emerging use cases besides the local development of Kubernetes mean we should be on top of this better!

working on an image update now.

/cc @munnerz - I think this is our first use case for release branches and a cher

[2018-12-16 12:14] BenTheElder opened #178 "add flag for controlling the listen address"
we need a way to both allow some users (EG on gitlab CI) to bind to 0.0.0.0:port to the container:api-server and others to (new more secure default?) bind only to localhost. xref #177

this flag could also allow setting a non-random API server port

the design probably needs some more thought

/cc @munnerz
/assign
/kind feature
/priority important-soon

[2018-12-16 12:47] BenTheElder opened #180 "create a patch release with updated image"
... see #177, the default image in kind 0.0.1 is affected by CVE-2018-1002105, we should look at creating an 0.0.2 release that merely updates the default.

in the meantime i'm updating the release info with how to use the new default image instead by manually setting `--image` and pointing to this issue to track a new release

/priority important-soon
cc @munnerz

[2018-12-16 12:55] BenTheElder commented on #177
fixed with a 1.12.3 upgrade in #179, I also updated the release notes for 0.0.1 with instructions for using the new image rather than the default. we will look into an 0.0.2 in #180

[2018-12-16 12:55] #177 closed

[2018-12-16 12:55] BenTheElder commented on #177
Thank you for reporting this!

[2018-12-16 20:47] BenTheElder opened #181 "kustomize integration is broken on windows"
... due to the fake filesystem paths:

[code]

This is likely a very simple fix.

/kind bug
/priority important-soon
/assign

[2018-12-16 20:50] BenTheElder commented on #155
I finally got to some testing post-KubeCon -- it looks like the fake filesystem for the kutomize integration needs a work-around for windows, xref https://github.com/kubernetes-sigs/kind/issues/181

I'll get a fix in and be sure the next release does have windows binaries :-)

We'll have to look at windows + docker CI at some point, not sure what the best option is there. Maybe we can get windows

[2018-12-16 20:58] fabriziopandini commented on #134
@BenTheElder yes. In the draft per I'm using a kind node that simply runs ha proxy

[2018-12-16 20:59] traceypooh commented on #177
wow, that was _fast_, thanks!

[2018-12-17 00:07] matti commented on #170
not sure if I understand this, but wouldn't something like this be faster than `go get` (which requires go) for a quick (throwaway) cluster?

[2018-12-17 00:13] matti opened #182 "google cloud shell support"
[code]

[2018-12-17 00:31] BenTheElder commented on #170
We have CLI binaries available on the [releases](https://github.com/kubernetes-sigs/kind/releases) page with the intention of avoiding `go get`, FWIW.

[2018-12-17 00:33] BenTheElder commented on #134
OK, but to clarify that is neither 1) not 2) though. It's basically 2) but drop running it in another layer of docker. (?)

[2018-12-17 01:12] neolit123 commented on #181
`fakeDir = C:\\` is OK, i guess.

[code]

should be:
[code]

to handle spaces in paths.

[2018-12-17 01:16] BenTheElder commented on #177
We try 😅

Everything* is in a "node image" snapshot so upgrading to arbitrary versions is pretty straightforward if you have a Kubernetes dev environment. We build (but don't push yet) new ones against Kubernetes in CI.

* Not the overlay network yet.

We actually do this (roughly speaking) regularly to run kind on Kubernetes's (the project's) own Kubernetes based CI :-)
I touched on that a little

[2018-12-17 04:02] vincepri commented on #176
This use case might be covered if we decided to switch to [klog](https://github.com/kubernetes/klog/) which supports `logr` and others output.

[2018-12-17 05:30] BenTheElder commented on #176
We actually have an open PR / issue for switching to klog but ran into some issues with that. I think maybe kind can actually provide an even smaller and more easily replaced interface, and I'd also like to dissallow things like `klog.Fatal()` from entering the codebase. Our code should not cause applications to exit.

I'm also not super convinced that these frameworks are suited as well to CLI vs

[2018-12-17 06:06] BenTheElder commented on #181
Can confirm, even `Y:\\` works on my windows 10 box, and I certainly don't have a Y drive :-)

I'll do a little more tinkering off and on and try to submit a patch sometime tomorrow.

[2018-12-17 08:03] matti commented on #170
Yeah, but still downloading releases is an extra step vs just docker run..

Not to mention that usually binary releases have all kind of problems like "not availabe for windows", "not :latest" (like currently)

[2018-12-17 14:16] neolit123 commented on #170
too many layers...we do have to end up in a host eventually.
not running kind in a container by default gets my +1.

[2018-12-17 16:05] vincepri commented on #176
I think `klog` might be valuable especially when using `kind` as a library. I agree that Fatal() or Panic() shouldn't be allowed. That could be disallowed in CI or through PRs / contribution guidelines.

[2018-12-17 17:49] garethr commented on #155
Thanks! @BenTheElder https://www.appveyor.com/ is often used I think.

[2018-12-17 23:48] BenTheElder commented on #170
So how we ship and version things is something I've put a lot of thought into getting right, it is important for testing usage that we ship reliable, stable releases with clear upgrade paths. Particularly for supporting against Kubernetes at HEAD which is a key end-goal.

we ship via `go` for that for now - `go get sigs.k8s.io/kind && kind ...`

shipping via docker run would mean either:
- always

[2018-12-17 23:50] BenTheElder commented on #170
We _might_ officially do something like this someday, but I don't think we can do it well right now.

`kubectl` is similarly a go binary you will likely want to install to actually do anything with `kind` - I think our one binary and one "node" image is the most widely usable and maintainable target for now.

[2018-12-18 14:34] matti commented on #170
Agreed. Once binary downloads are always automated and available (including master), then I don't see any reason to maintain docker images.

[2018-12-18 18:17] ivanayov opened #185 "Kind not added to PATH for MacOS"
Hi,

I follow the instructions to install with  `go get sigs.k8s.io/kind` and have `-bash: kind: command not found`, so have to manually run from source code.

[2018-12-18 18:31] alejandrox1 commented on #185
Hi @ivanayov could you provide us with more info?

Could you provide the output of `go env` and `go version` along with the specific steps you followed to run `kind`?

[2018-12-18 18:59] BenTheElder commented on #185
The binary should be at `$(go env GOPATH)/bin/kind`
Most go developers have `PATH=${PATH}:$(go env GOPATH)/bin` or something similar.

I think the upstream go docs used to cover this better, https://golang.org/doc/install#testing just touches on the fact that binaries go in your "workspace" at `./bin`, with the default workspace (GOPATH) being `$HOME/go` unless you've set `$GOPATH` to something el

[2018-12-19 19:32] kris-nova opened #186 "Return meta information about the cluster"
Right now the call to `context.Create` only returns a possible `error`

[code]

If you drill down in to the logic contained in the method you find that we eventually reach `provisionControlPlane`

[code]

In the `provisionControlPlane` method there is valuable information being lost such as the ephemeral port that the container has listening for the API server.

If using KIND to write a unit test,

[2018-12-19 19:47] neolit123 commented on #178
exposing even the most useful flag on the CLI, would then leave the question of "why aren't other useful flags exposed too"?

my vote goes for "config only" for everything, networking too.

also kind can support stdin pipes, which renders the argument of "we cannot write temp files in our build, that's why we need flags" invalid.

[2018-12-19 19:53] BenTheElder commented on #186
Definitely! The library use-case is not the most well supported right now, but it's certainly something we want to enable. 😅

Returning a new type in context.Create SGTM.

We'll probably need to rework this a bit when something like #164 merges but we can figure that out then.

😄
/kind feature
/priority important-soon
/assign @kris-nova
/assign

[2018-12-19 20:18] kris-nova commented on #186
Okay! I opened up #187

It doesn't break any of the method signatures just ends up adding some exported values to both the `Context` and the `createContext`

[2018-12-19 20:33] alejandrox1 commented on #186
I believe kind is a subproject of sig-testing but its own channel in slack called `kind`

[2018-12-19 20:59] BenTheElder commented on #186
Yes, this is a #sig-testing project, but there is a #kind channel now on the Kubernetes slack.

Will take a look at the PR :-)

[2018-12-19 21:09] BenTheElder commented on #178
@kris-nova A PR for this would be most welcome!

---

@neolit123 There definitely is a lower bar to entry for flags though, and it's useful to be able to set eg "name" independently of the config so you can re-use configs.

The listening port seems like the kind of thing you'd want to create many times over with otherwise unique configs.

IMO, the biggest advantage to config is being able to versi

[2018-12-19 21:24] neolit123 commented on #178
the stdin pipe approach can still be used for this.
not as UX friendly that's for sure.

it shouldn't.

something else to note is that kubeadm currently still exposes the `--apiserver-advertise-address` (and bind port) flags but these make sense only in single-control-plane scenarios. in HA scenarios the ControlPlaneEndpoint in the ClusterConfig should be used instead and that's only available fro

[2018-12-19 21:43] BenTheElder commented on #178
In either case I think Kris currently just needs this to be exposed in the library rather than flags etc. -- we can always tweak the flags etc. before the next release. Allowing this to be configured is a no-brainer.

We should probably do:
- default is `localhost` w/ an ephemeral port assigned
- the address and/or the port can be overridden

---

We should make trade-offs towards UX friendly when

[2018-12-19 21:49] #186 closed

[2018-12-19 21:52] BenTheElder commented on #111
for random port see #178, we should allow setting the address as well, we'll set a random port if you don't specify a port.

[2018-12-19 21:59] BenTheElder opened #188 "ARM64 CI"
per discussion in #kind slack, we should setup some CI with openlab to get `kind` on arm64 xref #166

@dims was able to get arm64 working, but we'll need some set this up to keep it working once that goes in, as the maintainers do not have access to suitable arm machines to test on otherwise.

/assign
/kind feature
/priority important-longterm

[2018-12-19 22:16] BenTheElder opened #189 "fix or eliminate the spinner"
the "spinner" / status in our CLI does not work properly in some shells (eg very narrow ones) since it just uses `\r` to rewrite the line.

https://github.com/nsf/termbox-go looks like one promising option for TUI

/priority important-soon
/assign

[2018-12-20 18:13] #181 closed

[2018-12-20 20:48] BenTheElder commented on #155
Windows should be usable at HEAD again, though the instructions for `export KUBECONFIG` won't work in cmd.exe of course, will open another issue for that.

I think the next release will wind up being sometime in Q1, as we have some major changes in flight (multi-node!).

We're aiming for a "V1ish" release in terms of forward compatibility by the end of Q1 / the Kubernetes 1.14 release and I defini

[2018-12-20 20:50] BenTheElder opened #191 "improve instructions for windows"
The CLI in particular should output valid instructions for setting KUBECONFIG on Windows ideally, this might be a bit tricky as technically you could also be in bash on windows, and this may open a whole can of worms to detect correctly :-)

/kind feature
/priority important-longterm
/help

xref #155 #190

[2018-12-29 07:43] BenTheElder commented on #189
/lifecycle active
I'm hacking on this.

[2019-01-02 21:51] chuckha commented on #185
/lifecycle active

[2019-01-02 21:51] chuckha commented on #185
/assign

[2019-01-02 22:50] #185 closed

[2019-01-02 23:27] chuckha opened #197 "Build and release `kindest/node:VERSION` on kubernetes release"
Right now the node image that `kind` uses is published by hand by @BenTheElder or @munnerz. It would be good to get this into the release pipeline somehow so that when a new version of kubernetes is published we also get a new node image for `kind` to use. The tooling exists, it's just a matter of getting the image pushed to the correct place. See the tooling at https://github.com/kubernetes-sigs/

[2019-01-03 00:16] BenTheElder commented on #189
debating which option to go with and continuing to intermittently look at options :-)

[2019-01-03 00:17] BenTheElder commented on #180
we're going to just roll forward instead, there's enough to do.

[2019-01-03 00:17] #180 closed

[2019-01-03 10:21] neolit123 commented on #197
i guess, i'm only -1 only on the anago approach.

this overlaps with the work by the k8s-infra-team, so if they manage to do the above soon the kind image can be on CNCF ground, otherwise dockerhub seems like a viable option for 1.0.

[2019-01-03 14:38] neolit123 commented on #189
termbox seems very good and it does things properly by tapping into OS APIs.
but seems like an overkill for a spinner, unless kind has plans for `curses` like UI.

some solutions i can think of:
1) always place the spinner alone on a line, this will (mostly) ensure that `\r` works, but will increase the number of lines.
2) break input strings into 80 characters lines and place a spinner on the las

[2019-01-03 18:30] BenTheElder commented on #189
Yeah termbox is not the right solution here unless we want to reimplement a LOT more, it's meant to control the whole buffet always.

For spinning we can use some different escape sequences with trade-offs.

The general issue is around how terminals handle line wrapping, lines that are too long (which can be very short when someone is demoing and has their terminal enlarged 😉) will break to anothe

[2019-01-03 18:31] BenTheElder commented on #189
We do already do 1) but we can't prevent that single line from wrapping to more

2) assumes 80 chars and thin terminals can be less than that, plus character width is not constant

3) we do have a mode like this already when not on a TTY. That's the eliminate option.

[2019-01-03 18:57] BenTheElder commented on #197
Ditto w/ @neolit123 on anago per our previous discussion, I don't think Kubernetes the core project should be in the business of releasing SIG subprojects just yet, we can ensure we publish images for each release by other means.

For now if anyone really wants them today, they can check out a k8s release tag and build an "unnoficial image" with the same tools we use.

I'm also ambivalent on docke

[2019-01-03 19:18] chuckha commented on #197
cross posting a few communication links

email to steering committee about this
https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/ASZGGcvJQts

CNCF slack discussion about this
https://cloud-native.slack.com/archives/C08PSKWPN/p1546470742035300

k8s-infra slack message about this
https://kubernetes.slack.com/archives/CCK68P2Q2/p1546528406005400

tracking issue
https://github.com/kube

[2019-01-08 01:32] BenTheElder opened #200 "pre-load CNI"
... IE weave, the images and the manifest, so that we can finally run clusters offline / air-gapped

I've started on this.
/assign
/priority important-soon

[2019-01-08 02:54] alejandrox1 commented on #191
Can I take this? Need something cool to get back from the holiday slump :smiley:

[2019-01-08 03:57] BenTheElder commented on #191
Sure.

I think we might need some tricky business for this one, depending on what shell the user is in. Can't just use POSIX :(

[2019-01-08 21:08] #130 closed

[2019-01-09 02:30] BenTheElder opened #205 "support for custom CNIs"
this could potentially even be the default.

more generally we should look into suporting multiple other CNI
while low-prio, it is something we should _eventually_ be doing, for sure

/priority important-longterm
/kind feature

[2019-01-09 07:34] BenTheElder commented on #189
I was prepared to remove this today, but @Katharine made an excellent suggestion to simply move the spinner to the end of the line and rewrite _just_ the spinner with `\b` * `len(spinner_frame)`, after some quick experimentation I think this route is worth going.

NB: there's some fun VT100 behavior around when the output is exactly `terminalWidth + 1`, where it will eat one character. if we do: `

[2019-01-10 08:36] phisco commented on #118
confirm @rimusz solution is working for me too

[2019-01-10 12:19] alexellis opened #208 "Binary release cadence"
Hi folks,

I wrote a blog post on the heels of KubeCon Seattle explaining what KinD is and how it can be used for testing with Kubernetes. I wanted to write a follow-up but wasn't sure if `go get` is still the preferred installation method?

There is a binary 0.1 release but it looks out of date to me vs. master (I may be wrong)

What would you recommend here? It would be ideal if people didn't ne

[2019-01-10 15:54] danielepolencic commented on #55
I'm experiencing the same error:

[code]

If you let me know what I should do, I can try to debug it.

[2019-01-10 16:17] metalmatze commented on #136
Within the last 1-2 weeks Kind broke for me with the same error (I believe).

[code]
I didn't change anything on my system and simply do a `git pull origin master && go install` every now and then. I'm running on ArchLinux if that's helpful information.

[2019-01-10 17:31] BenTheElder commented on #208
/assign

I've been slightly hesitant to publish binaries I know I'll outright break compatibility with, but that should clear up as we finish fleshing out multi-node.

I want to make another change or two to the v1alpha2 API today and then get another release out.

The overall release cadence should pick up, and the intention is to stop making breaking changes if at all possible by the Kubernetes

[2019-01-10 17:33] BenTheElder commented on #136
@metalmatze is it possible that you're behind a proxy as well? we've not fixed that yet.

[2019-01-10 17:34] BenTheElder commented on #118
exciting! perhaps we should ship this by default then :-)

[2019-01-10 21:56] BenTheElder commented on #136
hmm. I don't think we've made any functional changes to this step in that time frame. FWIW making this step not depend on the internet is very high on my todo :confused:

other known issues I've seen that can cause similar problems:
- low disk / memory (kubelet will evict workloads, even core components if these get too low)
- btrfs underlying /var/lib/docker causes issues

[2019-01-11 03:12] davidewatson commented on #55
Fwiw, I struggled with this problem today. Initially, I tried increasing the amount of memory given to Docker (on MacOS) as well as freeing which I thought ought to be enough disk space.

Then, after finding this issue, I ran `docker system prune` and I was able to create and use a `kind` cluster. 🎉 Thanks for the tip @BenTheElder!

[2019-01-11 04:47] BenTheElder opened #211 "correctly check KUBECONFIG when deleting clusters"
This check is incomplete:
https://github.com/kubernetes-sigs/kind/blob/2b270a02556671be069c19c38a404a1eaf5951a9/pkg/cluster/context.go#L382-L385

Per [the official docs], `KUBECONFIG` may contain multiple paths. The current naive check is insufficient.

NOTE: this only affects wether we give help text or not, so it is not critical. But we should do the correct thing.

/priority backlog
/help

[the

[2019-01-11 04:48] BenTheElder commented on #208
/priority important-soon

[2019-01-11 06:17] dixudx commented on #188
@lubinsz You might help on this?

[2019-01-11 06:18] BenTheElder commented on #188
note that we will need to fix #166 first, however that is very doable. Dims previously made a quick patch that worked, but we haven't PRed anything yet.

[2019-01-11 07:10] lubinsz commented on #188
@BenTheElder @dixudx
Let me check it.

[2019-01-11 11:06] neolit123 commented on #211
/assign

[2019-01-11 11:07] manparvesh commented on #211
Hi, can I work on this issue?

[2019-01-11 11:08] neolit123 commented on #211
/unassign
sure @manparvesh

[2019-01-11 11:08] manparvesh commented on #211
@neolit123 thanks, I will assign it to myself
/assign

[2019-01-11 11:09] manparvesh commented on #211
Oh, I can't do that. Can you please assign me this issue?
I am not sure how this works

[2019-01-11 11:10] neolit123 commented on #211
you are not a member of the kubernetes-sigs organization so you cannot be assigned.
just sent a PR, thanks.

/lifecycle active

[2019-01-11 11:10] manparvesh commented on #211
Oh I understand. I will send a PR.
Thanks

[2019-01-11 13:19] dims commented on #188
@lubinsz see my previous patch in https://github.com/kubernetes-sigs/kind/issues/166#issuecomment-448766016

[2019-01-11 16:33] #211 closed

[2019-01-11 16:34] BenTheElder commented on #211
Thanks for the PR :-) this check should be much better when the user uses multiple KUBECONFIG 🎉

For future reference there is an edgecase now around partial match where the file name later for some reason becomes a directory and is referenced in `KUBECONFIG`, but this case seems pretty unlikely...

We could get arbitrarily complex with this check  (what about if there's a different equivalent pat

[2019-01-11 23:06] BenTheElder commented on #208
I want to get a release in early next week, I'm unhappy with the fact that the current mid-refactor config API is not fully respected by the implementation in some known ways, I'd like to get that patched before releasing again, but not much more since we already have some fairly substantial changes since the last alpha.

[2019-01-12 22:25] jimangel opened #216 "`kind get clusters` should return exit code 1 if no clusters exist"
<fresh install of kind / no clusters>
- `kind get clusters`
- `echo $?`

Result: 0
Expected Result: 1

This would help with config management tools (if response code == 1; then create cluster). Also open to alternative suggestions if there's a better way.

[2019-01-12 22:36] alejandrox1 commented on #216
Hi @jimangel , non-zero exit codes denote that an error occurred and having no kind clusters in your machine is not an error.
A better way to check if you have a kind cluster running is to read the output from `kind get clusters` if there is a cluster then you will get a non-empty string back indicating the number of clusters.

[2019-01-12 22:38] BenTheElder commented on #216
Hmm what does kubectl / kops etc do in this case?

Not at a computer currently but will try to find out later. I would have thought lack of output would suffice or inspecting if the Kubeconfig exists and there are indeed nodes?

We may also want some kind of structured output option in the future. 🤔

[2019-01-12 22:41] neolit123 commented on #216
i concur with @alejandrox1 's comment; it's not a CLI error.

yes, machine readable output (e.g. JSON) should be the preferred way to handle such scenarios.

[2019-01-12 22:49] alejandrox1 commented on #216
With kubectl, if for example you're trying to list nodes, the cli hangs and eventually errors out:
[code]
The again the cli is making a requests which fails.

Something closer to this issue would be listing the available contexts:
[code]

[2019-01-12 22:52] jimangel commented on #216
Great points! I also like the idea of checking if the kubeconfig exists since that would be unique with the name. Thanks @BenTheElder

+1

[2019-01-12 22:52] #216 closed

[2019-01-12 22:57] BenTheElder commented on #216
SGTM, let me know how that goes!
It might also be worth trying to query something like kubectl get no if the config does exist, the node names are also currently guaranteed to match the container name and the container's host name, which I believe we've documented somewhere and I'd like to keep true.

[2019-01-13 01:01] alejandrox1 commented on #191
So I've been looking up into this. I'll add some more documentation and will focus mostly on using kind in powershell. Git bash seems to more or less work as expected and the command prompt itself behaves very much like powershell.

Please tell me if there is some other type of environment that you think should be tested :-)

[2019-01-13 01:11] BenTheElder commented on #191
I think cmd.exe and powershell are indeed the main targets, but I'm not really a windows developer, let's start there and look for feedback in the future :-)

[2019-01-14 16:50] achanda opened #217 "Creating multi-node clusters"
Documentation around config to create multi-node clusters is not very clear. I tried this
[code]
But that still created a single node cluster. What did I miss in the config?

[2019-01-14 17:02] idealhack commented on #217
I think we're not there yet :) https://github.com/kubernetes-sigs/kind/issues/117

[2019-01-14 17:05] BenTheElder commented on #217
Ah that's the wrong format, we really need to bring back strict parsing @neolit123 :(

We do have multi node! But the config format is now
[code]
(On my phone, will point you to pkg/cluster/config/v1alpha1 for the full format for now)

[2019-01-14 17:06] BenTheElder commented on #217
We definitely need more docs here. Will PR today

[2019-01-14 17:07] BenTheElder commented on #117
We have this now ref #164, thanks to @fabriziopandini :-)

[2019-01-14 17:07] #117 closed

[2019-01-14 17:07] BenTheElder commented on #217
/assign
/kind documentation

[2019-01-14 17:08] BenTheElder commented on #217
/priority important-soon
/lifecycle active

[2019-01-14 17:16] BenTheElder commented on #136
Huh. I can't spot anything relevant in there 🤔 the plot thickens 🙃

I think this week I'll take a stab at pre-loading the CNI images and using
a fixed manifest which should help avoid this sort of issue entirely 🤞

On Mon, Jan 14, 2019, 05:25 Matthias Loibl <notifications@github.com wrote:

[2019-01-14 18:09] achanda commented on #217
I found this example in the src, this seems to work fine.
[code]
Except that running it prints
[code]

[2019-01-14 18:18] BenTheElder commented on #217
ah yeah, you'll have to drop those and use a single control-plane node for now.

I meant to remove those roles from the API, the external etc and external load balancer have not landed yet, we cannot do HA currently. That will be coming, it's been done previously and worked well.

[2019-01-14 18:18] BenTheElder commented on #217
some of the HA code is there but not that part, it's only partially implemented. I think probably I want to get a release out today so we'll drop the unimplemented parts from the API and put them back when we have the rest of the code..

[2019-01-14 19:41] neolit123 commented on #217
@BenTheElder

@luxas is currently having a different approach fro that here:
https://github.com/kubernetes/kubernetes/pull/72883

it exposes the strict deserializer in apimachinery, while the decoder is on the component-config side.
once this PR makes it in, we can adapt it in kind, kubeadm, etc.

[2019-01-15 04:06] BenTheElder opened #219 "drop v1alpha1"
we should not support alpha APIs indefinitely. we should get to at least a beta endstate quickly and drop support for alpha APIs, as such I'd kinda like to just support one API version ...

[2019-01-15 07:51] luxas commented on #217
kubernetes/kubernetes#72883

Yes, I hope that this will go in fairly soon. Folks sounded more optimistic about this approach in the SIG API Machinery Slack yesterday, so :)

[2019-01-15 07:54] luxas commented on #219
In kubeadm we've always supported two external versions at a time, and that's worked really well. So the user may read the older config in the newer binary, and conversion happens automatically internally.
e.g.
0.0.1 -- **v1alpha1 (preferred)**
0.1.0 -- v1alpha1 and **v1alpha2 (preferred)**
0.2.0 -- v1alpha2 and **v1alpha3 (preferred)**
0.3.0 -- v1alpha3 and **v1beta1 (preferred)**
etc.

[2019-01-15 08:18] luxas commented on #208
You can always do an intermediate 0.1.0 release or something. I'd advocate for releasing fairly often while things change much, before starting to talk about stability. This also overlaps with k8s.io/component-base as said, and I hope that will become more stable over the coming weeks as well.

[2019-01-15 08:32] BenTheElder commented on #208
Expect another alpha release tomorrow (with windows support and
multi-node!), it slipped today.

The aggressive pace to stable is intentional, building CI etc around
unstable APIs / CLIs is not fun.
Being stable & reproducible is a core goal. By k8s 1.14 users should be
able to build on kind and not worry about breaking changes.

On Tue, Jan 15, 2019 at 12:18 AM Lucas Käldström <notifications@gith

[2019-01-15 11:51] neolit123 commented on #219
having learned from kubeadm and how k8s does its deprecation policies i'd say it's too early for beta of the api.

in a beta state each field that has to be removed has to be held in a deprecated state for ` 9 months or 3 releases`:
https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api

i think it's on the safe side to hold the alpha state for as long as p

[2019-01-15 13:18] munnerz opened #220 "Accessing node's docker daemon API directly from host"
I've been trying to improve our e2e test times, and have found one of the slowest parts is the juggling/compression/decompression we do of image bundles.

For reference, we currently:

* `docker load` images from Bazel->host docker
* then `docker save` to a single .tar.gz containing multiple images
* `docker cp` to copy that .tar.gz into the kind container
* `docker exec -- docker load` to load th

[2019-01-16 02:02] BenTheElder commented on #219
so FWIW these APIs are essentially 100% different, because the single -> multi node support changes.

I also think we shoot ourselves in the foot, so to speak, to go full blown deprecation policy when the tool is < 1.0. I'd like to get us to a supportable 1.0 / beta grade quickly, and I consider the entire released binary in 0.1 to be alpha with no real policies in place yet. Once we do a little m

[2019-01-16 02:03] BenTheElder commented on #219
there are also exceedingly low users for the v1alpha1 config, keeping it around risks that number increasing :wink:

[2019-01-16 02:45] alejandrox1 opened #224 "Errors running kind on windows"
Using Windows 10 Home on x86, I was able to successfully download and create a binary using `go get sigs.k8s.io/kind`. However, running `kind create cluster` in a normal command prompt or powershell session errors out:
[code]

This error (The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elevated to connect) seems to indicate t

[2019-01-16 02:52] BenTheElder commented on #224
This sounds like docker for windows is misconfigured / installed. I do not run kind as an administrator on windows 10. Will check my setup later tonight.

[2019-01-16 02:53] BenTheElder commented on #224
I've run into https://github.com/docker/toolbox/issues/636#issuecomment-322786800, IIRC I had to re-enable hyperV

[2019-01-16 03:04] alejandrox1 commented on #224
@BenTheElder do you have Docker desktop installed or are you using the Docker toolbox ?
If i remeber correctly,  Docker toolbox uses oracle's virtualbox instead of hyperV. Is there any chance this could be a problem?

[2019-01-16 03:17] tao12345666333 commented on #219
I hope that we can continue to release the version.

And add some docs for describe the API version supported, like [cri-tools](https://github.com/kubernetes-sigs/cri-tools#current-status)'s docs.

## Current Status

Version matrix:

| Kubernetes Version | cri-tools Version | cri-tools branch |
|--------------------|-------------------|------------------|
| 1.13.X             | v1.13.0           |

[2019-01-16 03:31] alejandrox1 commented on #224
Also, Docker seems to work. All Docker commands work as expected.

[2019-01-16 03:40] BenTheElder commented on #224
I have docker desktop. (https://docs.docker.com/docker-for-windows/install/), can you `docker run ..` ? that first output you pasted looks exactly like "docker is installed but the daemon is not running"

[2019-01-16 03:43] BenTheElder commented on #219
Thanks, we're trying to keep kind upgrades smooth, this particular one may
be a bit bumpy because the first one was very early. I am indeed keeping
the v1alpha1 in this release (currently building one!) but I think after we
have a release with v1alpha2 we should maybe move on as the v1alpha1 config
is missing too much functionality (cannot express multi node at all for
one).

On Tue, Jan 15, 2019

[2019-01-16 04:09] BenTheElder commented on #224
can we get `kind export logs` for the stuck cluster? also what docker version etc? are you using docker toolbox or docker desktop yourself?

[2019-01-16 04:20] BenTheElder commented on #219
release will be #226, does contain v1alpha1

[2019-01-16 04:39] #208 closed

[2019-01-16 05:20] BenTheElder commented on #208
Binaries are now up at https://github.com/kubernetes-sigs/kind/releases/tag/0.1.0, we will strive to release more often going forward, this was quite a large release. 😅

[2019-01-16 05:31] BenTheElder commented on #197
@munnerz and I have been looking into this more. We think we can set up jobs based on kubernetes/kubernetes git tags to publish new images.

[2019-01-16 12:42] rimusz opened #228 "use of multi-node clusters is not documented"

[2019-01-16 13:08] alejandrox1 commented on #228
Thank you for filing this issue @rimusz . We fell behind in documentation during the holidays but this is a work in progress. We will get some updates to all the docs as very soon and any help is welcomed.

[2019-01-16 13:19] rimusz commented on #228
even some simple example for the start would be good :-)
if I understand correctly that will be done via config file?

[2019-01-16 13:31] neolit123 commented on #228
multi-node is WIP still and shouldn't be exposed to users yet.
once we have it working we can add some basic documentation.

/kind documentation
suggested rename for the ticket title "Document usage of multi-node clusters".

[2019-01-16 13:37] neolit123 commented on #219
in reality, 1.0 does not need to be beta.

we should hold to alpha as much as possible, because a beta API means the API is stable, a subject to minor amends and ready for v1.

on the advertisement side (beta vs alpha), consumers nowadays are not scared to use pre-alpha state even. just look at the cluster-api all big players have jumped that train.

be a bit bumpy because the first one was very e

[2019-01-16 13:53] neolit123 commented on #224
cc

[2019-01-16 13:56] rimusz commented on #228
gotcha

[2019-01-16 15:17] tao12345666333 commented on #220
SGTM. :+1:  We can add `DOCKER_HOST` environment variable to node's dockerd.

[2019-01-16 16:54] tedyu opened #229 "Failed to build kubernetes on Mac"
On Mac, 'kind build node-image' failed with:
[code]
Here is my OS:
[code]
The kubernetes source is as of commit fdfd88588596c5d35c6d62e0b8658f05f3e165c9

Docker version 18.09.0, build 4d60db4

[2019-01-16 17:02] BenTheElder commented on #229
Signal Kill in this context usually means that docker for Mac ran out of memory, can you try increasing the memory allocation? https://github.com/kubernetes-sigs/kind/blob/master/docs/user/README.md#creating-a-cluster shows how to.

[2019-01-16 17:19] tedyu commented on #229
Increasing memory of docker solves the problem.

Thanks

[2019-01-16 17:19] #229 closed

[2019-01-16 18:33] BenTheElder commented on #229
Awesome, glad to hear it! Maybe we should mention this somewhere in the docs for building as well. Thoughts @alejandrox1 ?  :thinking:

[2019-01-16 18:39] idealhack commented on #229
+1 on this should be documented.

I had once seen a PR trying to fix a similar issue on `k/k` but seems not adding at the right place, so it just got rotten.

[2019-01-16 20:36] alejandrox1 commented on #229
@BenTheElder I'm definitely for adding this types of errors - supporting a local dev/testing environment for various systems would be nice. If we get enough users it may even be nice to pull this from the user docs into a series of runbooks.
I'll work on work on adding this to the docs and will try to replicate it (I have just the Mac for the job!).

[2019-01-17 22:44] BenTheElder commented on #118
Very cool, I haven't managed to dig too deep into this yet (just starting to look more now) - is it feasible to adapt to multi-node at all? (I'd guess not so much...)
If not, perhaps we should check in documentation / example config for how to do this in the user guide(s).

[2019-01-17 22:44] BenTheElder commented on #118
I do really think we should try to offer a solution to this, and FWIW I think single-node clusters will be most common, but multi-node exists in limited capacity now and will be important for some CI scenarios.

[2019-01-18 19:46] #217 closed

[2019-01-19 02:46] BenTheElder commented on #228
Fixed in #232

[2019-01-20 14:30] #224 closed

[2019-01-20 16:45] pablochacin commented on #99
In order to make the `NodePort` ports available to the host machine, it is not enough to export them when launching the control node's container by means of the `--export` argument. Exportin only make the ports available to other containers, not to the host machine.

It would be necessary also to bind them to ports in the host machine using the `-p` option. However, the port range used by default

[2019-01-20 17:28] neolit123 opened #234 "Transition from fmt.Errorf() to pkg/errors"
the codebase includes a number of fmt.Errorf() calls.
kubeadm and the cluster-api already have moved to using the [pkg/errors](https://godoc.org/github.com/pkg/errors/) package instead.
this package is already vendored in kind.

examples:
[code]

note: splitting this into more than one PR might be easier to manage.
e.g at least one for /cmd and one for /pkg.

/kind cleanup
/priority important-long

[2019-01-21 02:45] idealhack commented on #234
/assign

[2019-01-21 10:24] munnerz commented on #234
🤔 `pkg/errors` in the golang stdlib (as linked) does not contain a `Wrap` function, only the `New` function (and the `New` functions docs recommend using `fmt.Errorf` for formatting of errors).

I'm assuming this should be `github.com/pkg/errors` instead?

[2019-01-21 10:32] neolit123 commented on #234
the link in OP includes:
https://godoc.org/github.com/pkg/errors#Wrap
https://godoc.org/github.com/pkg/errors#Wrapf
...

[2019-01-21 10:46] idealhack commented on #234
The link has been edited, @munnerz you saw the link 14 hours ago? 😅

[2019-01-21 19:51] BenTheElder commented on #224
Yeah sorry about that!

I am going to work more on making offline work viable, but it does require pre-pulling some things.

Small note: the node images are indeed quite large, but there's not much we can do here.

The bulk of the binary size is Kubernetes, docker. We can make the image """smaller""" by not pre-loading anything, but then _Every_ startup has to download all of it (eg etcd)

When bu

[2019-01-21 19:52] BenTheElder commented on #224
k8s on low bandwidth is somewhat brutal due to the binary / image size, I'm interested in ideas but short of fixing that upstream somehow (which also might be interesting!), I think our best route is to try to minimize re-downloading. I plan to fix that this week.

[2019-01-21 20:00] andy9775 commented on #99
I support this feature as well, however, @nilebox a temporary workaround is to use `alpine/socat` to bind the ports from kind to your host if you need something right now

[2019-01-21 20:11] BenTheElder commented on #234
The link was wrong and I fixed it and pinged Lubomir out of band to let him
know I'd edited it in an attempt to avoid cluttering the issue with
comments about the link 🤣

On Mon, Jan 21, 2019 at 2:58 AM James Munnelly <notifications@github.com>
wrote:

[2019-01-22 07:33] BenTheElder commented on #161
forgot to mention, there is a rough MVP merged now (thanks!) but we need to follow up with:
- using a stable release binary
- proper support for kubernetes from source
- plumbing through config

[2019-01-22 12:47] neolit123 commented on #161
how should we do that?

do we simply need to always download the latest kind amd64 binary for linux from github?
or should we expose a "kind-release-tag" flag to the deployer to support?

e.g.
`--kind-release-tag=latest` means latest release tag.
`--kind-release-tag=0.1.0` means a fixed tag.

we already can clone k/k per job, so what else is needed to satisfy "kubernetes from source"?
my understan

[2019-01-22 22:16] BenTheElder commented on #161
I think the sanest and most performant thing for now is something like:
- use a fixed tag, PR to kubetest to upgrade
- download the binary at that tag that matches the host OS
- checksum the binary
- on future runs detect the downloaded binary and match the expected checksum, if it doesn't match then download again

We can stick it in something like `$HOME/.kubetest/kind/kind-$OS-amd64`

for perio

[2019-01-22 22:53] BenTheElder commented on #161
yes, but only when we update.

locally it will cache, for CI we can rig something where we already obtain that binary and stick it in the expected location.

ah, we should do this in --build instead of --up though probably

thanks!

[2019-01-23 00:07] BenTheElder opened #244 "create recurring subproject meeting"
After reaching out to SIG-Testing, SIG-Cluster-Lifecycle, and #kind members via slack and SIG meetings, we've decided to set up a recurring meeting on Mondays at 11AM PST.

We'll need to sort out zoom and meeting invites. @munnerz and I can host.

/assign @spiffxp
/priority important-soon

[2019-01-23 04:17] BenTheElder opened #245 "certify conformance"
/lifecycle active
/assign

Filed for v1.13 here with a 1.13.2 cluster (using the default image with kind `0.1.0`) https://github.com/cncf/k8s-conformance/pull/451

[2019-01-23 15:50] neolit123 commented on #161
ack.

ack.

this is tricky. --build accepts only certain [values](https://github.com/kubernetes/test-infra/blob/aa1397ee7a4bd0b322309433b422f30976a2a7fa/kubetest/build.go#L57) and there is not way to plug `kind build` into that, as far as i can tell.

perhaps this is worth of adding custom flags to the kind deployer only:

`--kind-build-note-image`, where if passed it will build based on the fetch

[2019-01-23 23:47] alexmt commented on #136
I'm facing the same issue. In my case apply overlay network fails because cloud.weave.works is not resolvable from `kind-1-control-plane` container.  Any help would be very appreciated.

[2019-01-24 00:08] alexmt commented on #136
Upgraded docker from 18.09 to 18.09.1 and problem went away 🎉.

[2019-01-24 01:16] BenTheElder commented on #136
Huh, I wonder if there was a regression in docker somehow. What docker distribution are you using?

[2019-01-24 05:44] andy9775 opened #246 "Mounting volumes"
Hey All, I was trying to figure out a way to mount a volume to a pod running in a kind cluster for local development and I was curious if kind allows this? I don't see anything in the documentation or any issues raised.

[2019-01-24 05:48] BenTheElder commented on #246
this will be a hostpath mount + #62

we should be in good shape to add #62 now.

#118 is also semi related

[2019-01-24 08:18] idealhack commented on #234
With these three PRs merged, I don't think we have any `fmt.Errorf()` left in `/cmd` or `/pkg` now, except `/pkg/build/base/sources/images_sources.go` which was generated by go-bindata.

[2019-01-24 08:23] #234 closed, assigned to idealhack

[2019-01-24 08:34] BenTheElder commented on #161
we could map --build=bazel -> --type=bazel, --build=quick-release -> default kind build (make/bash/docker), and just not support apt on the kind end, or values that kind doesn't know about.
we'd only do this when the kind deployer flag was set or something... 🤔

CI jobs generally stick to those two options.

it may be ugly to hook, but that's actually one of the things that will help drive a bette

[2019-01-24 11:51] metalmatze commented on #136
Interesting. For me it works since 10 days ago and I just checked that I'm on Docker 18.09.1 as well. I should have checked the version when it didn't work.
FWIW I looked at the Arch packages for Docker and the timeline of their releases pretty much adds up with that suspicion!

18.09.1 was pushed on Jan 10th:
https://git.archlinux.org/svntogit/community.git/commit/?h=packages/docker&id=0b11ffde10

[2019-01-24 12:01] fabriziopandini commented on #133
According to feedbacks/latest PR merged:
1. "beginner": use kind create cluster as of today > done
2. "intermediate": expose flags to change the number of nodes > https://github.com/kubernetes-sigs/kind/pull/247
3,4. "intermediate": expose flags to trigger "well-known" config > not a priority, use 5 instead
5. "advanced": use following --config path flags to get full control > done
6. moving to a

[2019-01-24 12:06] fabriziopandini commented on #132
@neolit123 @neolit123 Considering how multi-node shaped out I think we can greatly simplify this:
1. The cluster topology can be made discoverable by adding a node-role label at node creation
2. All the ports internally to the cluster are now pinned to well-known values, so already easily discoverable today
3. All the Kubernetes settings are reflected into the kubeadm-config file, that is already

[2019-01-24 15:48] #132 closed

[2019-01-24 16:07] lukasheinrich commented on #246
hi @BenTheElder I haven't seen many updated on #62 but happy to hear it's close. Is there a roadmap what needs to happen for #62?

[2019-01-24 16:31] BenTheElder commented on #246
We were just discussing in slack 🙃, this should be pretty straightforward now, I intend to open a PR for this.

[2019-01-24 16:35] lukasheinrich commented on #246
can't wide, will this automatically enable #28 or does this need a separate PR?

[2019-01-24 16:39] andy9775 commented on #246
Is there a plan to support different types of volumes as well? e.g. NFS

Also, as soon as it's ready I'd be happy to test

[2019-01-24 18:19] alexmt commented on #136
@BenTheElder ,  was running dind container `docker:18.09-dind` in kubernetes. After I've changed image to `docker:18.09.1-dind` issue got resolved.

[2019-01-24 18:54] BenTheElder commented on #132
thanks! :-)

[2019-01-24 19:01] BenTheElder commented on #136
Thanks for confirming, I'm going to file another issue to create a "known issues" section in our docs and highlhight this as one of the first ones!

[2019-01-24 19:02] BenTheElder commented on #175
https://github.com/kubernetes-sigs/kind/issues/136#issuecomment-457170199 <-- this should be one of the first known issues, image pulls with this dind version are known to not work, upgrading fixes it.

[2019-01-24 23:00] alejandrox1 commented on #175
May be also adding these:
* https://github.com/kubernetes-sigs/kind/issues/229#issuecomment-454857614 - failure to build node image
* https://github.com/kubernetes-sigs/kind/issues/156#issue-388448705 - kind cluster not responding due to not enough storage being available

These are briefly mentioned in the user-docs but may be it would be better to go a bit more in depth in a "known issues guide.

[2019-01-24 23:17] alejandrox1 commented on #78
Lost track of this but will resume updating it.
I'll start this time by digging though the hack dir.
/assign

[2019-01-25 13:31] neolit123 commented on #136
i wonder what was fixed.

[2019-01-25 19:21] BenTheElder commented on #245
Done! :tada: https://landscape.cncf.io/selected=kind

[2019-01-25 19:21] #245 closed

[2019-01-26 18:39] pablochacin commented on #99
I have confirmed that `NodePort`services are exposed to the host by means of kind node's  addresses in the docker bridge network. No additional configuration is required.

[2019-01-27 14:44] neolit123 commented on #161
sending update that fixes some TODOs in the kind deployer later today.

[2019-01-28 18:03] BenTheElder commented on #244
actually being tracked here: https://github.com/kubernetes/community/issues/3139

[2019-01-28 20:39] pablochacin commented on #99
Acccordig to previous comment, this feature can be implemented in a similar way to `minikube`s `services` [command](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/service/service.go#L103-L136)

[code]

[2019-01-28 21:40] BenTheElder commented on #99
@pablochacin the bridge network should work on linux, but mac / windows will be trickier.

[2019-01-28 23:58] neolit123 opened #252 "proposal for handling complicated node actions and scenarios like upgrades"
decided to drop some comments post the meeting today.
i think we can land on a compromise for upgrades and similar complicated scenarios exposing the following commands on the CLI.

- a command to execute a command on a clusterX, nodeY.
this was already proposed some time ago?
(optionally a command to execute a whole bash script).
- a command to copy files from host to clusterY, nodeX.
- a command

[2019-01-29 01:18] neolit123 commented on #219
after the meeting today.

something else to consider about the quick drop of alpha and going beta is: multi-cluster and how do we want the config to look like. on the kubeadm side we don't really need this, but i though that there is generic interest for it.

like i've mentioned it seems quite scary to move that quick.
but we can try...

[2019-01-29 13:52] neolit123 commented on #246
seems like a duplicate of #62
we should probably fold the tickets.

[2019-01-29 13:53] neolit123 commented on #220
/kind design
/priority important-longterm

[2019-01-29 13:53] neolit123 commented on #219
/kind design

[2019-01-29 14:45] wolfedale opened #253 "Consider using external addons"
I noticed that k8s cluster created by `kind` don't have any additional addons, for example there is no ingress, nginx or default backend. Somehow I need to test my ingress (nginx/traefik) and I'm wondering if it make sense to add this kind of option to the `kind`. Of course we can leave it as it is, but then I would need to execute my `ingress` configuration files each time I will create new clust

[2019-01-29 14:59] neolit123 commented on #253
by allowing commands on nodes we can achieve that.
i have a proposal for that in this ticket:
https://github.com/kubernetes-sigs/kind/issues/252

[2019-01-29 17:23] BenTheElder commented on #253
Today in SIG-cluster-lifecycle there is discussion of a potential shared addon management solution https://github.com/kubernetes/enhancements/pull/746 (currently ongoing)

I think in the meantime we can try to document and make it easier to install these things without necessarily committing to shipping one built-in yet.

I'm thinking about ways we can make this faster and easier without bundling

[2019-01-29 18:53] pablochacin commented on #99
@BenTheElder I'll  educate on these platforms, as don't use them.

[2019-01-29 21:59] alanjcastonguay opened #254 "Error on extra/unknown on command line"
I super-frequently (at least once a week) delete my default cluster "1" by running a command like `kind delete cluster experiment-1548200336` without `--name`.

Right now it seems any extra command line terms are completely ignored, as in `kind get kubeconfig-path foo bar baz`

Recommend quality of life enhancement: Make presence of extra/unknown terms an error instead of letting them pass silentl

[2019-01-29 22:28] fabriziopandini opened #255 "Define "unkind""
As discussed in kind meeting the 29th of January (see https://github.com/kubernetes-sigs/kind/issues/252 for @neolit123 notes), it is necessary to define how to extend kind for supporting additional use cases like e.g. "use kind for upgrade tests" or "use kind for kubeadm development".

Even if details about the possible solutions for the aforementioned use cases are not yet defined, there is a ge

[2019-01-29 22:32] fabriziopandini opened #256 "use kind for upgrade tests (deep dive)"
Upgrade testing is a well known pain point
- the current solution implemented in Kuberentes e2e test grid is unreliable, hard to debug in case of a problem, hard to maintain across releases
- CI testing for other workloads (e.g. add-ons/applications) against Kubernetes upgrades is even more complex
- upgrades complexity slow down dev/test iterations done by kubeadm maintainers and blocks new contr

[2019-01-29 22:44] BenTheElder commented on #254
/kind bug
/assign
/priority important-soon

thanks for reporting! I'd totally forgotten about this, with recent enough cobra+pflag we should be able to set the number of positional args to handle this.

[2019-01-29 22:51] neolit123 commented on #252
i would say instead of "kubeadm development" this is more about enabling a couple of useful tools in kind that anybody can use and we can also use them for tests as kubeadm developers.

[2019-01-29 23:08] neolit123 commented on #254
unnamed args are a can of worms with Cobra...

this is the CLI i would definitely go for:
[code]

[2019-01-30 08:35] pablochacin commented on #252
@neolit123

I have also this use case.

[2019-01-30 08:49] pablochacin commented on #255
I'm confused about this statement. I was expecting that non-core o more accurately "use case specific" code should live out-of tree in the project that brings this requirement (For example in `kubeadm`) or as individual projects.

What I think is important within kind project is to provide the capability to use `kind` as a library and be able to customize its behavior by means of custom actions. A

[2019-01-30 11:01] inercia commented on #255
I was wondering wether it is really necessary to have some external binaries. Do we really need that level of customization? Because interfacing with those external tools would bring some complexity to the acrhitecture...

I think most users would have enough with some mechanism for 1) running some shell commands in containers 2) copying stuff to/from containers. These things could either a) ovewr

[2019-01-30 11:13] inercia commented on #252
Besides the already mentioned use cases about testing updates or running e2e tests, I would also like to expose a couple of use cases we are interested in for using this project:

1) testing a custom k8s distribution based in `kubeadm`. For example, we will run some tests for checking that the control plane is started auitomatically by a systemd unit that starts `kubeadm`. This will require some l

[2019-01-30 14:28] neolit123 opened #257 "pin Docker to 18.09"
kubeadm moved to recommending 18.09:
https://github.com/kubernetes/kubernetes/pull/73457/files

logging an issue to see if there are objections:
https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile#L75

[2019-01-30 15:16] BenTheElder commented on #257
Doesn't this break CRI detection for older kubernetes?

[2019-01-30 16:21] timothysc commented on #256
There are probably multiple ways we can do pieces in an incremental fashion, that may be beneficial to kind.

I think a reasonable end user story that kind may want to support would be:

"To allow for the CI upgrade scenario(s) for folks creating custom k8s integrations on such as operators."
As a k8s-integrator, I would like to leverage a tool in CI that allows me to test my integrations piece (A

[2019-01-30 16:49] neolit123 commented on #257
on the kubeadm side, not if we`--ignore-preflight-errors=all`, which is pretty much the case, still.
technically kubeadm has a support matrix for Docker.

but yes, older kubeadm binaries will not recognize 18.09 or even 18.06. problem here is that the Docker file needs to be "templated" the same way we handle different kubeadm config versions.

[2019-01-30 17:30] BenTheElder commented on #257
And that won't cause any other issues? I hadn't had a chance to dig into this yet.

I'd like to avoid that, kind should support the 3 current kubernetes versions + master branch at minimum and not be dependent on image features to work.

Another option might be dropping down to containerd so we aren't yet another CI task depending on dockershim, but I think having docker available is probably most

[2019-01-30 17:37] runcom commented on #153
@mrunalp ptal as well

[2019-01-30 18:18] neolit123 commented on #257
i'm not even using 18.x on my VMs yet.

[2019-01-30 19:54] neolit123 commented on #255
absolutely, this is what i proposed in https://github.com/kubernetes-sigs/kind/issues/252
if we think about nodes over the internet one just needs `ssh` and `scp`. for kind we need the same over containers.

[2019-01-30 22:47] neolit123 commented on #257
so we had a chat about this today at the kubeadm office hours.
we decided to enable support for 18.09 in 1.14 but still keep 18.06 as the default in docs and everywere.

[2019-01-30 22:48] neolit123 commented on #257
/remove-priority important-longterm

[2019-01-31 02:00] BenTheElder commented on #252
er do you mean that you are users of kind in the context of yourselves running a distribution of kubernetes, or that you want to distribute via kind?

2. ) is definitely supported.
3. ) yeah, see eg #28. plan to add something soon but this is also pretty trivial to do today

1.) is still the trickiest from our POV, I think we'll be looking more into that for #255.

I don't really like this one bec

[2019-01-31 02:06] tao12345666333 commented on #257
For the time being, there will be no big problem.
The following is the version of the software I am using.

[code]

If there is a very abnormal situation, I will feedback. :laughing:

[2019-01-31 02:07] BenTheElder commented on #252
so stop short of running init, installing the CNI etc.? create the container, do fixup, start systemd / docker, leave kubelet crashlooping? but still generate kubeadm config?

----

Also want to point out: most of the things mentioned in the OP are just `docker cp`  / `docker exec` etc. The node names == host names == container names so discovering which containers to copy to/from should be trivia

[2019-01-31 02:08] BenTheElder commented on #255
`docker cp $NODE_NAME`, `docker exec $NODE_NAME`

[2019-01-31 02:11] BenTheElder commented on #255
Ideally yes, in this case we it's odd.

So for _kubernetes_ the project, it makes sense to do EG kubeaedm upgrade testing. We need a place for that code. But it will not be generally supported for kind users to upgrade their nodes, that's absolutely not something we should support. The point of ""unkind"" is to have kubeadm-project CI glue that we _do not_ support for re-use. Which is why it shoul

[2019-01-31 02:12] BenTheElder commented on #257
Thanks. I do remember we at least saw some dind issues with 18.09 ref #136

[2019-01-31 02:34] BenTheElder commented on #244
[we mostly have one but it has some hiccups that need sorting out]

[2019-01-31 02:38] BenTheElder commented on #200
explored options for this further, I think I know which is best but need to implement and verify first... thanks @justinsb !

[2019-01-31 02:43] BenTheElder commented on #189
bumping out of active, I did investigate this, but I'm punting the actual changes for a bit.

[2019-01-31 02:43] BenTheElder commented on #39
this work is now stale, will come back to it later

[2019-01-31 03:01] neolit123 commented on #252
something in those lines, yes.

or leave it stopped, kubeadm will restart the service.

that is true.

it's just the `docker cp/exec`:
- binds to docker
crictl would have been great here except it lacks copy TMK.
- docker is not kind cluster/node aware only container name aware.
mostly a UX inconvenience.

but  `docker cp/exec` is definitely *the* backup plan here.

i think it's currently possible

[2019-01-31 03:13] neolit123 commented on #255
whatever this ends up being, i'm not fond of the name `unkind`. :)

[2019-01-31 06:59] BenTheElder commented on #256
[we're discussing on slack https://kubernetes.slack.com/archives/CEKK1KTN2/p1548917656593500]

I think this is doable, maybe even in the main tool, but I hesitate to blow the project scope so quickly and I want to have a well thought out design before we go implementing this. We already have a fair bit of technical debt hiding in the code to go pay down.

[2019-01-31 07:00] BenTheElder commented on #255
yeah, `kinder` might be a better name (`kind` cli , `kinder` extras cli, `kindest` image registry / image tags)

[2019-01-31 07:11] BenTheElder commented on #219
If we can just avoid exploding kind's core scope and focus on provisioning local clusters with container nodes ... I think we can handle this. Multi-cluster looks like multi-config.

The single cluster config is in pretty good shape. I think we need to split out the non-k8s nodes (load balancer) so the fields don't have disjoint sub-fields, but otherwise I think it's in a fairly shippable state.

[2019-01-31 07:47] BenTheElder commented on #136
so docker itself supports HTTP_PROXY / HTTPS_PROXY https://docs.docker.com/network/proxy/ 🤔
we could just blindly pass through these values from the host at node creation time... 🤔

[2019-01-31 09:40] inercia commented on #252
The workflow we are currently developing for our next release is

1) `cloud-init` or someone else writes some `kubic-init` config file (not a kubeadm config) with the kubeadm token, if this is a seeder or a reguar worker, the certificates hashes and any other relevant information.
2) some systemd unit starts a `kubic-init` service (it could be in a container) that loads that config, checks if we r

[2019-01-31 12:16] pablochacin commented on #252
I'm copying here a comment I made to the slack channel, with some minor edits

[2019-01-31 12:21] pablochacin commented on #252
On a second reading, my use case is similar, but maybe not identical. However, having the freedom to start initialize the nodes from the actual provisioning could be also beneficial.

[2019-01-31 14:20] neolit123 commented on #136
it makes sense, especially if it's a fix.

[2019-02-01 01:00] neolit123 opened #259 "figure out how to handle --name flag for clusters"
currently for cluster `delete` and `create` the `--name` flag defaults to `1`.
while the cluster name ends up being as `1` in the cluster list, the nodes are prefixed with `kind-1-`.

figure out a plan how to handle the name on the user side. some options.
- default cluster names to `kind-1` for `delete` and `create`
for kind the UX must be as simple as possible so defaulting to a cluster name mak

[2019-02-01 17:54] mauilion commented on #259
However this works out it would be awesome to expose it as an env var. I frequently use tooling like direnv.net to set the configuration of the kubeadm-dind stuff and would very much like to persist this to the kind project.

[2019-02-01 21:53] BenTheElder commented on #259
can you use `kind create cluster --name=$KIND_NAME` ?

the "name" is just use to differentiate creating multiple instances from a config (or the default config) we've kept almost everything else in config files for now.

we're leaning towards not using many unversioned flags.

[2019-02-01 22:36] neolit123 commented on #259
i will possibly send a PR for the initial changes tomorrow.

[2019-02-04 00:40] BenTheElder commented on #246
deduping with #62, even if it is _slightly_ different since #62 is originally just hostPath focused. I have a  something to PR ~tomorrow that isn't exactly targeting this specifically but will enable this.

[2019-02-04 00:40] #246 closed

[2019-02-04 00:40] BenTheElder commented on #246
will update #62 to cover this

[2019-02-04 00:42] BenTheElder commented on #62
[Using this to track volumes as well IE #246]

Multi-node is pretty solidly landed, experimenting with this again currently. This is actually active again, apologies for the delay.

[2019-02-04 00:50] BenTheElder commented on #161
We still have plenty of room to iterate on this, but I'm happy to call this done for now, thanks for the PRs @neolit123!

[2019-02-04 00:51] #161 closed

[2019-02-04 00:51] BenTheElder commented on #161
We should document this somewhere, not sure where yet, will open another issue here to track for now, but possibly those docs should live eg in the upstream e2e test docs, or test-infra.

[2019-02-04 00:53] BenTheElder opened #262 "document kubetest integration"
https://github.com/kubernetes-sigs/kind/issues/161#issuecomment-460105113

We have integration now, but it's not really documented. Possibly pointers could live in the upstream developer e2e test docs as hack/local-up-cluster.sh does currently and/or some docs could live in test-infra.

We should also at least point to those docs from kind's own docs once they exist, but the full contents may not

[2019-02-04 00:58] neolit123 commented on #262
i cannot find any docs about `hack/local-up-cluster.sh` in k/k and k/test-infra. but if there is an exact location e.g. file/folder i guess can help.

[2019-02-04 01:01] BenTheElder commented on #262
The main docs I know of for k/k devel are actually in k/community, in particular I think this is the canonical e2e doc: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md

[2019-02-04 01:08] BenTheElder opened #263 "build new images"
Since we don't have #197 we should push & upgrade the default image to 1.13.3 for the 0.2 release.
Long term we should definitely get #197

[2019-02-04 01:16] neolit123 commented on #262
ok, i forgot about those.

i think we might want to start on the docs only after we have jobs using the deployer.
my work on `kubeadm-kind-<branch-name>` is starting next week.

[2019-02-04 03:44] BenTheElder commented on #259
fixed in #260, thanks!

[2019-02-04 03:44] #259 closed

[2019-02-04 18:31] dims opened #265 "Document commands for running kind+kubetest"
note on slack from @BenTheElder
[code]

[2019-02-04 20:07] neolit123 commented on #191
/assign

[2019-02-04 20:10] neolit123 commented on #265
hm, i think we already have this tracked here:
https://github.com/kubernetes-sigs/kind/issues/262

[2019-02-04 20:13] neolit123 opened #266 "document how to use HA"
mostly document how to to use the config for HA at this point.
/assign
/kind documentation
/priority important-soon

[2019-02-04 20:31] BenTheElder commented on #265
yep, thanks for filing, de-duping with #262 :-)

[2019-02-04 20:31] #265 closed

[2019-02-04 22:01] neolit123 commented on #252
i'm going to close this ticket.
we should use google docs and separate tickets for tracking use cases.

[2019-02-04 22:01] #252 closed

[2019-02-05 11:10] pablochacin opened #269 "Make external load balancer config optional"
Presently, if multiple `control-plane` replicas are specified, it is mandatory to specify an `external-load-balancer` node in the configuration. However, this node configuration can have only one replica and the `image` parameter is optional, therefore, it would be trivial for the `create cluster` command to provide the necessary values for launching an external load-balancer if needed.

Forcing t

[2019-02-05 11:47] pablochacin opened #270 "Configure nodes to use a proxy server"
In order to solve #136 the `HTTP_PROXY` and `HTTPS_PROXY` environment variables should be passed from the host machine to the node container as suggested [here](https://github.com/kubernetes-sigs/kind/issues/136#issuecomment-459248404).

[2019-02-05 11:48] pablochacin commented on #136
I opened  issue #270 for implementing this.

[2019-02-05 12:22] aad opened #271 "remove the reference about k8s.gcr.io/debian-base"
the base has been switched to ubuntu (https://github.com/kubernetes-sigs/kind/commit/4d9a99fef477712bd293c2a1aae5a0f953de4b57) but there are still reference of debian-base in
- https://github.com/kubernetes-sigs/kind/blob/master/docs/design/base-image.md and
- https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile#L15-L19

[2019-02-05 13:07] neolit123 commented on #269
i will have a stab at this today.
/assign
/kind design
/priority important-soon

[2019-02-05 16:24] neolit123 commented on #269
but the `image` field is valid if we want to support a custom LB, i guess?

[2019-02-05 17:54] endzyme commented on #136
I also have the same issue when connected to a VPN client. I havent' dug into this but the same VPN client messes with my docker networking (for future time travelers experiencing the same `failed to create cluster: failed to apply overlay network: exit status 1`)

[2019-02-05 18:57] pablochacin commented on #269
Actually the only reason not to remove the node definition is to been able to specify the load balancer. However, this could be a cluster parameter lile `load-balancer-image`

[2019-02-05 19:03] foolusion opened #273 "Allow configurable docker network for kind cluster nodes"
It would be nice to be able to specify the network that the cluster uses.

[2019-02-05 19:03] BenTheElder commented on #269
I think we should nest it at least like this so we can add other load balancer fields under a subsection if necessary later:
[code]
But you could also imagine more generally setting some control plane details:
[code]

[2019-02-05 19:04] BenTheElder commented on #273
/kind feature
/priority important-longterm
/assign

[2019-02-05 19:07] pablochacin commented on #269
Adding it nested under controlPlane makes sense.

[2019-02-05 19:47] pablochacin commented on #270
/assign
/remove-help

[2019-02-06 05:43] BenTheElder commented on #271
thanks for reporting! will definitely get this cleaned up, those docs could also do with a general update. will probably follow up after finishing #268

[2019-02-06 06:05] BenTheElder commented on #270
I think initially we can just pass through the values of this from the host to each container at container create time.

Eventually I think I'd like to refactor that out into the context and make it possible to override (for the library case), but I'll do that as part of a larger cleanup of create options I've been hacking on that will land later...

[2019-02-06 07:11] BenTheElder commented on #136
@floreks hmm took a quick peek, nothing leapt out 😞
we do run kind extensively inside a docker in docker (not the standard image though) setup for k8s CI.

We have seen kubelet continually evicting the API server in a few cases due to low disk / memory but I didn't see that in the logs.

@endzyme I suspect some variant on #270 may help. I am also further exploring #200.

[2019-02-06 07:13] BenTheElder commented on #62
[apologies, turns out the config format for this is tricky and very coupled to docker ... stay tuned ...]

The docker client library is imo, even worse for this. Evaluating options to make this better than literally plumbing through extra user provided flags to the container creation.

[2019-02-06 07:16] BenTheElder commented on #220
[we've discussed this one previously out-of-band, still mulling how to best handle it, listening to any and all input..]

[2019-02-06 07:18] BenTheElder commented on #109
https://github.com/kubernetes/klog/tree/master/klogr needs investigating

[2019-02-06 07:19] BenTheElder commented on #39
I beleive @neolit123 added the "existing cluster name" check

[2019-02-06 10:20] floreks commented on #136
@BenTheElder Thanks for the hint. After investigating more, I have seen that `kubelet` was constantly being killed with `SIGKILL (9)`. I have checked `dstat --top-oom` and it showed that whole control plane is constantly being killed by the system.

[2019-02-06 11:03] pablochacin commented on #270
Agree on both ideas.

I was also thinking that eventually the environment could also be part of the config file, but I cannot think about specific use case that justifies it.

[2019-02-06 14:08] neolit123 commented on #109
i'm mostly -1 on structured logging for kind at this point.
due to the scope of the project, i doubt it will face the need for structured logging.

also, the current logr usage in e.g. C-API seems a bit underwhelming and i don't see obvious benefits.

[2019-02-06 16:24] pablochacin opened #276 "Discuss Extended Provisioning use cases"
The objective of this issue is to discuss the requirements from use cases beyond the current "one shot" create/delete cluster which is the main focus of the `kind`. These use cases include, for example, the provisioning of additional nodes to an existing cluster, as well as a fine grained control on the node bootstrap process.

Such use cases are therefore likely to be addressed as part of the cre

[2019-02-06 21:27] BenTheElder commented on #136
@floreks is your pod:
- privileged
- using a volume of some sort for /var/lib/docker (eg emptyDir)

in addition to resource requests?

[2019-02-06 21:29] BenTheElder commented on #109
we can use it without stuctured logging
mainly my concern is improving the library use case. I have also been thinking about your point about logging to a file though... :thinking:

[2019-02-06 21:40] neolit123 commented on #109
mainly my concern is improving the library use case

but there might be no benefits from using logr if we are not using it with structures.

i was talking about Ilya from Weave about this recently in a PR review as k/k has a similar problem in a lot of places.

front end and back end should have a single point of connection in terms of logging.
this is the point where the front end decides to whic

[2019-02-06 21:44] BenTheElder commented on #109
realistically though they will want control over EG how much logging, /shrug
most ecosystem projects are klog/glog including kubeadm, cluster-api, etc. right?

The benefit is seamlessly integrating with their stacks. we don't depend heavily on logging anyhow.

[2019-02-06 21:52] neolit123 commented on #109
well logrus has that, so i don't think that's a problem comparing klog vs logrus.

that is true.
we can easily make a switch to klog and hardcode klog in the backend too.

[2019-02-07 04:30] mauilion opened #278 "provide an option to bring up a cluster without a cni installed."
This option will enable the user to deploy their choice of cni in advance of kind supporting a variety of cni implementations.

[2019-02-07 04:31] mauilion commented on #205
https://github.com/kubernetes-sigs/kind/issues/278

[2019-02-07 04:31] mauilion commented on #205
Regard #278

[2019-02-07 04:39] BenTheElder commented on #278
/assign
/kind feature

[2019-02-07 08:05] floreks commented on #136
@BenTheElder Security context is set to allow privileged execution. I am using official [docker:dind](https://hub.docker.com/_/docker) image and docker itself is running in the container. I did not have to mount anything when running it locally and it was working correctly. Only when running in a k8s environment there is an issue.

Here is my test yaml:
[code]

[2019-02-07 16:48] neolit123 commented on #278
we should bring the CNI topic on monday.

my proposal ATM is the following:
- add optional skip of the CNI phase in kind.
- let the user call `kubectl apply` their preferred plugin.

related topic is enabling offline support for a set of CNI plugins.
my proposal there is:
- we could bundle images and manifests for the top 3 - flannel, weave, callico (as per the kubeadm survey)
or decide to only bu

[2019-02-07 19:22] BenTheElder commented on #278
-1 on shipping all 3 unless they are small, our images are big.

I've been working on a rough design for alternate images, and looking at other options for pre-loading / caching (eg a local image mirror).

The additional thing to skipping the overlay apply step in kind is we also need to skip the node readiness check / `--wait` will be unsupported, but this is likely an acceptable tradeoff for app

[2019-02-07 19:25] BenTheElder commented on #136
so our actual podspec is ~ the contents of the `pod_spec` field in this prowjob (a few things get added for git checkout, environment variables...):
<details>

[code]
</details>

[2019-02-07 19:31] BenTheElder commented on #109
there is more discussion about logging ongoing it seems.. but I think we should align with the ecosystem for easiest embedding. I imagine the cluster-api would appreciate this.

[2019-02-07 19:33] neolit123 commented on #109
the only consumers that will suffer from klog being in the backend would be those that want to vender kind as a backend but use a different logger for their frontend.

[2019-02-07 19:41] neolit123 commented on #278
i think they are roughly 5-10 MB.

that is true.

flannel is a step ahead on the Windows front.
but the functionally is lacking documentation and windows images and node selectors are missing in their official manifests.

in fact i just had to patch their 0.11.0 manifest a couple of days ago.

[2019-02-07 19:42] BenTheElder commented on #278
er docker for windows != windows images, still linux images. (we only support linux containers for now.... windows nodes may be interesting someday)

[2019-02-07 19:44] neolit123 commented on #278
ah, my confusion. windows containers are out of scope for now.
also quite crazy due to the image sizes.

[2019-02-07 19:59] mitar commented on #64
I do not see that this has been documented as part of #79?

[2019-02-07 20:01] mitar commented on #63
Has there been any change to this since I last looked at this? (I am doing one update on our codebase using kind and I wonder if I can remove changes in my fork.)

[2019-02-07 20:01] mitar commented on #62
Looking forward to this. For now we have to use a fork to pass those arguments through.

[2019-02-07 20:02] BenTheElder commented on #64
It was not, which is why this is still open.

It's also an open question if we want to commit to running user commands on the nodes as opposed to saying "we provide kubernetes, use the kubernetes tools to do this and don't depend on contents of the node image" (EG use [image pull secrets](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/) which are CRI independe

[2019-02-07 20:05] mitar commented on #55
I have tried today new updated version and I have still the same issues as I had when I opened this issue. Creating a cluster on my laptop is unstable. Sometimes it does not even create it. Sometimes it does, but it is not really working.

Attaching an exported log if it helps.

[664736857.zip](https://github.com/kubernetes-sigs/kind/files/2842499/664736857.zip)

[2019-02-07 20:09] mitar commented on #64
In this particular case though, `docker login` is a documented and supported Kubernetes feature. :-) (See [here](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#log-in-to-docker).)

[2019-02-07 20:11] BenTheElder commented on #55
Thanks, looks like eviction thresholds -> evicting API server. I'm going to go poke a SIG-Node expert about thoughts on us just setting the thresholds to the limits.

[2019-02-07 20:27] mitar commented on #55
I cannot determine why sometimes cluster creation itself does not work. If I run `kind create --loglevel debug cluster` it always succeeds, if I run `kind create cluster` it fails with:

[code]

Not sure why with debug logging it works (in the sense that it starts the container, then it is unstable as logs attached above show).

[2019-02-07 20:33] neolit123 commented on #55
could you please provide your complete system spec.

but debug vs non-debug could mean memory corruption or hitting some sort of a resource cap.

[2019-02-07 20:36] mitar commented on #55
It is very reproducible (tried multiple times).

Docker otherwise runs perfectly.

I think I have pretty standard specs:

[code]

[code]

16 GB memory, 4 core Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz. Enough disk space.

Not sure what other specs should be relevant.

[2019-02-07 20:40] BenTheElder commented on #55
This is due to the api server being evicted by kubelet during bringup, which is visible in the kubelet logs.

We just need to tune the eviction limits, had a chat with a SIG-Node expert just now to confirm that this is sane :^)

[2019-02-07 20:45] mitar commented on #55
But why debugging logging influences if a cluster gets created or not?

[2019-02-07 20:55] neolit123 commented on #55
we don't override e.g. `pod-eviction-timeout` for the CM from kubeadm because the default is sufficient for the regular use case - 5 minutes.

try clearing your images and try again.
related?
https://github.com/kubernetes-sigs/kind/issues/156#issuecomment-445088354

[2019-02-07 21:17] BenTheElder commented on #55
it shouldn't be, it's racy though. I can't tell from that kubelet log which threshold is being passed, but one of the eviction thresholds is being passed and the api server is being evicted, that will prevent bootup.

[2019-02-07 21:18] BenTheElder commented on #55
also @neolit123 system spec is in the log zip. I would guess it's the memory threshold.

[2019-02-07 21:24] BenTheElder commented on #64
That's not true, kubernetes makes zero guarantees about which CRI is used and what can be run on nodes, you're supposed to run things on top of kubernetes instead.

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#log-in-to-docker

note that it says (emphasis mine)

and then the next step is to set that credential up on the cluster instead:
https://kubernetes.i

[2019-02-07 21:26] mitar commented on #64
Sure, but using `kind` on the laptop to quickly setup a cluster is one of use cases, no? So it should also be easy to setup access to private images, no?

[2019-02-07 21:27] BenTheElder commented on #64
Correct, but we can do that w/o the user running "docker login" on the kind node, the first link covers one of the ways to do that which works correctly today, and is supported on _any_ kubernetes cluster.

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-secret-in-the-cluster-that-holds-your-authorization-token

[2019-02-07 21:31] BenTheElder commented on #63
a kubeadm config patch in the kind config + https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#ClusterConfiguration `featureGates` should cover this.

[2019-02-07 23:44] Arvinderpal opened #280 "IPv6 Support"
Kubernetes currently lacks IPv6 CI support. Some work has been done to add such support via DinD here (https://github.com/kubernetes/test-infra/pull/7529). However, similar support in KinD is very desirable.

Furthermore, there is an effort in the community to bring dual-stack support to kubernetes (https://github.com/kubernetes/enhancements/pull/648). Having an IPv6 CI in place will greatly aid t

[2019-02-08 00:26] BenTheElder commented on #280
We are tracking / discussing 1.) in #205 / #278 FYI.

In general I would love to see this 🙃

[2019-02-08 00:42] neolit123 commented on #280
kubeadm _should be_ ready for this, but don't quote me on that. we had some recent PRs that fixed some IPv4 assumptions last cycle.

but we don't have test signal for IPv6, so /shrug

[2019-02-08 01:27] Arvinderpal commented on #280
Hi @BenTheElder @neolit123
Here is one approach https://github.com/kubernetes-sigs/kind/pull/281
Please have a look. It's just a wip that I thought I share to get early feedback. I'm sure there are a multitude of ways we could go about doing this. :)

[2019-02-08 01:32] Arvinderpal commented on #280
Hmm. Looks like I need to sign the CLA before you guys can look at the PR above :(
I'll try to get this resolved asap with my company.

[2019-02-08 13:19] burf2000 opened #282 "improve error messaging for create cluster""
Hi there

I have set up a new Ubuntu server 16.04, installed Go, Golang and Docker however everytime I run
`go get sigs.k8s.io/kind && kind create cluster`

I get
**Error: could not list clusters: failed to list nodes: exit status 1**

What am I missing as I am new to Kubernetes

[2019-02-08 13:26] neolit123 commented on #282
we might have to pipe a better message.

could you please add  `--log-level=debug` and try again?

[2019-02-08 13:27] neolit123 commented on #282
/priority awaiting-more-evidence

[2019-02-08 13:29] burf2000 commented on #282
kind create cluster --log-level=debug

Error: unknown flag: --log-level

[2019-02-08 13:44] neolit123 commented on #282
what is the output of the following commands:

`docker version`

`docker run hello-world`

[2019-02-08 13:45] burf2000 commented on #282
sudo docker version
[sudo] password for burf2000:
Client:
 Version:           18.09.1
 API version:       1.39
 Go version:        go1.10.6
 Git commit:        4c52b90
 Built:             Wed Jan  9 19:35:23 2019
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18.09.1
  API version:      1.39 (minimum version 1.12)
  Go vers

[2019-02-08 13:47] neolit123 commented on #282
there shouldn't be a need for sudo.

and how about calling the problem command:
[code]

[2019-02-08 13:48] burf2000 commented on #282
That was my issue, thank you I followed https://docs.docker.com/install/linux/linux-postinstall/ and removed the need for Sudo

[2019-02-08 13:51] neolit123 commented on #282
i guess we still have to improve the message here.
could you please rename this issue to e.g. "improve error messaging for create cluster"
thanks.

/assign

[2019-02-08 13:52] neolit123 commented on #282
also `sudo kind create cluster` works fine for me.

[2019-02-08 13:53] burf2000 commented on #282
If I did sudo kind it could not find the command randomly

[2019-02-08 13:55] neolit123 commented on #282
do you mean that you had to pass the full path to the kind binary?

/remove-priority awaiting-more-evidence
/priority important-soon
/kind bug

[2019-02-08 13:56] neolit123 commented on #282
that's possibly because you have to do:
`go install sigs.k8s.io/kind` and have the GOPATH/bin folder in path.

[2019-02-08 15:59] burf2000 commented on #282
If I do  **sudo kind create cluster**
I get **sudo: kind: command not found**

[2019-02-08 17:23] BenTheElder opened #284 "node level DNS may need override"
cc @floreks

TLDR floreks had kind in dind on kubeadm, in which case the kind "node" DNS was not configured in a working way. We may need to allow DNS to be overridden at the node level to fix EG mage pulling

[2019-02-08 21:17] BenTheElder commented on #271
/assign

[2019-02-08 21:19] BenTheElder commented on #62
I did some more looking yesterday, what we can do to start is mimic the format used by Kubernetes CRI to describe container mounts, which is of course quite reasonable.
/priority important-soon

[2019-02-08 23:04] rohansingh commented on #220
I haven't thought it through entirely, but it would be interesting if the Docker endpoint was exposed as a service in `kube-system` or similar. That would ensure that if you can `kubectl port-forward`, you can reach the Docker endpoint.

Not sure how to implement this in practice.

[2019-02-09 22:48] #270 closed

[2019-02-09 22:51] BenTheElder commented on #136
https://github.com/kubernetes-sigs/kind/pull/275 just merged to pass through HTTPS_PROXY and HTTP_PROXY from the host to the nodes, thanks @pablochacin!

We should be getting the 0.2 release soon with this change, but right now you can obtain it by building from the current master branch sources.

hopefully this should resolve this issue, I am finalizing the design for handling CNIs as well, plan

[2019-02-09 23:44] alejandrox1 commented on #175
Should we close this? #287 addresses this issue.

[2019-02-09 23:54] BenTheElder commented on #175
yes, thank you!

[2019-02-09 23:54] #175 closed

[2019-02-10 01:47] BenTheElder commented on #172
Oops forgot to close this, we're currently at 1.13.2 and will bump the default to 1.13.3  (or current latest) at the next release 😅
Additionally we're looking to automated image publishing to ease switching versions.

[2019-02-10 01:47] #172 closed

[2019-02-11 08:45] matthyx commented on #136
Thanks @BenTheElder I now have a new issue:
`Error: failed to create cluster: failed to init node with kubeadm: exit status 1`

You can find the full debug log [here](https://pastebin.com/xWr2DZ5M).

[2019-02-11 10:09] pablochacin commented on #136
@matthyx  from the log I see that the proxy has been set to `http://127.0.0.1:3129/`  This is `localhost` in the host machine, but inside the kind node container this address is the container's loopback (not the host's loopback). Therefore, you should set your proxy to an address witch is reachable from the kind node container.

[2019-02-11 10:34] matthyx commented on #136
Ok, I feel so stupid indeed... so after setting the proxy to something reachable from containers, I get the following (full log [here](https://pastebin.com/hmTj41nv)):
`ERRO[11:30:05] failed to apply overlay network: exit status 1`

[2019-02-11 19:17] BenTheElder commented on #284
cc @alejandrox1 I think we should probably add something about DNS mismatch to the known-issues.
In short:
- DNS from the host environment will propagate to the kind "nodes"
- If the host DNS is not appropriate for the nodes (EG DNS in an outer Kubernetes cluster dind pod) then this will cause a problem

Work around for the pod case is to configure the outer dind pod DNS to use upstream resolvers

[2019-02-11 20:47] BenTheElder commented on #62
We discussed this in today's meeting, triaging to the next minor release ideally, and following Kubernetes CRI for how to describe this.

[2019-02-11 21:01] pablochacin commented on #136
@matthyx you set the proxy to `172.17.01.` which is the address of the docker bridge on your host machine, so I guess you are running your proxy locally on the host machine. What I've found is that by default in my machine the firewall is set so that no traffic is allow from inside docker containers to the host. I had to turn of the firewall to make it work. I'm pretty much sure this is default be

[2019-02-11 21:15] mitar commented on #64
So I do not want to argue here too much. Just wanted to explain the use case here. So the issue with secrets is that you have to modify your pod file to use them. So if in your cluster you use Docker login then for testing you cannot just test with same pod files.

[2019-02-11 21:16] mitar commented on #55
BTW, any ETA on this? Asking so that I can better plan my work (should I wait for this so that I can develop on my laptop, or should I invest time into deploying kind somewhere else so that I can work there).

[2019-02-11 21:37] neolit123 commented on #219
i can take the task of removing the old config for 0.2.
one question: this leaves us with only support for v1alpha2 and converters - are we OK with that?

[2019-02-11 21:38] BenTheElder commented on #219
let's hold this until we get v1alpha3 (probably with host path and re thought loadbalancer / networking config ... hope to propose soon)

[2019-02-11 21:38] BenTheElder commented on #263
/lifecycle active
doing this now

[2019-02-11 21:38] neolit123 commented on #219
ok!

[2019-02-11 22:23] BenTheElder commented on #263
images have been pushed, also updated the release notes

[2019-02-11 22:23] #263 closed

[2019-02-12 03:13] BenTheElder commented on #55
I just filed the PR. It needs more testing but it should also be possible to do this with a patch targeting the KubeletConfiguration on a recent cluster with:
[code]

[2019-02-12 03:15] mitar commented on #55
I can test this out if you help me a bit how to do so? I just do `go get -u <path to git branch somehow`?

[2019-02-12 03:19] BenTheElder commented on #55
it should be possible to install with this
[code]

[2019-02-12 04:41] mitar commented on #55
I can confirm that it works for me. Thanks so much!

[2019-02-12 05:03] mitar commented on #55
Things do work, but I am seeing some strange events in my case:

[code]

Not sure why it wants to free 300 GB of images.

[2019-02-12 05:06] mitar commented on #55
I do have 197.6GB of images and 44.61GB in local volumes on my laptop. Maybe it is trying to empty that? But that is on my host, not inside Docker inside kind.

[2019-02-12 05:09] BenTheElder commented on #55
ah so, kubelet inside docker can see which disk the storage is on and find the resource usage. It can find that back through the mounts etc.

[2019-02-12 05:11] mitar commented on #55
Can we disable those attempts at garbage collection?

[2019-02-12 05:19] BenTheElder commented on #55
Yes we can tune that threshold too 👍

[2019-02-12 05:22] BenTheElder commented on #55
`imageGCHighThresholdPercent: 100` in addition to https://github.com/kubernetes-sigs/kind/pull/293#issuecomment-462619454

[code]

[2019-02-12 05:23] mitar commented on #55
I think the correct content is:

[code]

[2019-02-12 05:24] BenTheElder commented on #55
correct yaml is updated, that role is a single node in a list of nodes, the `nodes` key was missing 😅

[2019-02-12 05:33] mitar commented on #55
This didn't work. But I tried:

[code]

Not sure why we would not just leave those values on 0?

[2019-02-12 05:34] BenTheElder commented on #55
yep, those make sense. disk management is not going to work well in kind right now. thanks for testing!

[2019-02-12 07:09] matthyx commented on #136
@pablochacin thanks for the suggestion, I have just checked and my proxy works from inside docker, as confirmed by a small Dockerfile like:
[code]

[2019-02-12 11:39] pablochacin commented on #136
I'm not following here @matthyx  This is a Docker file, right? It is applied at build time, the issue you have is at run time. Not sure if this two situations are comparable. What I suggest you is to start a container with ubuntu, and from inside the container try an update:
[code]

[2019-02-12 13:06] matthyx commented on #136
Yes, this works:
[code]

However, I have reached IT and it seems our corporate proxy (which requires a local cntlm for AD authentication) uses an old protocol for the man in the middle... and for this reason we cannot upgrade our Docker past 18.06.1-ce
Do you think we could be hitting the same issue here?

[2019-02-12 18:22] #55 closed

[2019-02-12 18:23] BenTheElder commented on #55
🤞 please re-open or file a new bug if this continues. Apologies for the long time frame on these early issues, we're getting things better spun up now 😅