[2019-02-12 19:31] mitar commented on #55
No worries. It was a perfect timing for when I needed this working.

[2019-02-13 00:32] neolit123 commented on #257
let's close the docker related tickets and decide to upgrade once upstream moves as well.
/close

[2019-02-13 00:32] #257 closed

[2019-02-13 10:53] matthyx commented on #136
Some updates on this. I have the privilege to work with extremely bright people here, and the problem seems to lie on TLS negotiation (although not 1.3) because our proxy policy hasn't been updated in a while, and none of the algorithm proposed by the go tls client is supported atm...

We're working with network and security to update this policy, and I will keep you posted if that solves our prob

[2019-02-13 15:20] #271 closed

[2019-02-13 19:40] Arvinderpal commented on #278
Please correct me if I'm wrong here, but the primary purpose of kind today is to support running of CNCF conformance tests on kind created clusters. CNCF tests however appear to be network plugin agnostic, so having in built support for many CNIs does not address this primary goal.

Having said that, as a plugin developer, I would love to use kind for e2e testing of my plugin. Here, IMO, the burde

[2019-02-13 23:40] BenTheElder commented on #278
So let me clarify some things then :upside_down_face:

It's _initially_ meant for testing Kubernetes proper, initially we only ran the conformance tests. The scope is expanded at this point to include testing things on top of Kubernetes.

To be clear again, we're talking about tests run by Kubernetes the project, not the CNCF.

Yes and no. The burden should be on you to test your plugin, but for e

[2019-02-13 23:42] BenTheElder commented on #278
The mechanism by which the default is shipped should probably work for building a custom image with a different default CNI ideally, but our "official" usage will need to pick _something_.

So far weave seems to work widely without kernel modules etc. so we're using that.

[2019-02-14 17:59] timothysc commented on #256
@BenTheElder Do you have a planning document which outlines what your major goals are also who the stakeholders are?

As mentioned in the grooming docs, SCL projects go through a planning session where we duke out what we consider important for a cycle is, what the priorities are, and who plans to work on them.  I know you are currently working hard trying to get to a 1.0 release.

But...
- Who ar

[2019-02-14 18:27] BenTheElder commented on #255
So far the primary use case we've agreed to for this is #256. Let's solve that one instead, and better document what the project scope is in our docs as opposed to just the initial scope ... (working on that).

[2019-02-14 18:27] #255 closed

[2019-02-14 19:04] BenTheElder commented on #256
Thanks, I agree. We're starting to do this at the meetings now that we have that setup properly.

I think we got off on the wrong foot on this one and should do upgrade testing with kind eventually. xref: https://github.com/kubernetes-sigs/kind/issues/255#issuecomment-463737008

The current description is probably not the way to go though, this needs more thought / design.

   solution for the "bu

[2019-02-14 21:38] BenTheElder commented on #28
Rough design I didn't finish implementing:
[code]
- implicitly load to all nodes if `--nodes` is unset
- load to specific nodes if `--nodes` is a comma separated list of node of names

`kind load docker-image` should pipe `docker save image/name` on the host to loading on each of the nodes, IE essentially be `kind load image-archive <(docker save image)`.

[2019-02-15 00:39] BenTheElder opened #303 "document how to run kind in a kubernetes pod"
xref: #284
additionally these mounts are known to be needed:
[code]
[code]
thanks to @maratoid

/kind documentation
/priority important-longterm

We probably need a new page in the user guide for this.

[2019-02-15 07:09] fabriziopandini commented on #256
@BenTheElder great to hear that!
You can count on my help both for eliminating tech debt and for working on what comes next!
Feel free to assign me to issues or to ping me on slack

[2019-02-15 07:15] BenTheElder commented on #256
Thanks, will do 😀
I plan to go through and file a fresh round of tracking issues soon. Today I added a draft of writing down scoping etc. more with @munnerz and @neolit123 and looked more at borrowing from CRI to lower coupling.

Expect to see a doc about saner build, up, test, down etc. orchestration (IE not using kubetest) tomorrow as well, just finished a draft I think 😅

[2019-02-15 12:21] bart0sh opened #305 "go get sigs.k8s.io/kind fails to install kind"
Running ```go get sigs.k8s.io/kind``` produces this error on my system:
[code]

System info:
 * openSUSE 42.3 (x86_64)
 * go version go1.11.5 linux/amd64
 * Docker 17.09.1-ce

[2019-02-15 12:48] bart0sh opened #306 "kind create cluster fails to create cluster on default install"
Running ```kind create cluster``` just after  ```go get sigs.k8s.io/kind``` install produces this error:

[code]

System info:
* openSUSE 42.3 (x86_64)
* go1.11.2 linux/amd64
* Docker 17.09.1-ce

Debug output:
[code]

[2019-02-15 13:42] neolit123 commented on #305
please show all your GO* environment variables.
this can happen if you have a leftover go setup somewhere.

[2019-02-15 13:47] bart0sh commented on #305
Thank you!

GOROOT was pointing to old go installation. everything worked after relogin.

[2019-02-15 13:47] neolit123 commented on #306
can you try fetching a kubelet log before it does the `rm`?

[2019-02-15 13:47] bart0sh commented on #305
/close

[2019-02-15 13:47] #305 closed

[2019-02-15 14:10] bart0sh commented on #306
the log is quite big. 2 errors I've noticed that may help to investigate this:
[code]

They're continuously repeated at the end of the log.

[2019-02-15 14:17] neolit123 commented on #306
not sure what might be causing that.

[2019-02-15 14:21] bart0sh commented on #306
It also complains about absent certificates:
[code]

[2019-02-15 14:23] bart0sh commented on #306
I'm running it on a real hardware if it matters, no VM involved.

[2019-02-15 15:00] padiazg commented on #110
Please, take in account also that there is the possibility of using a private registry with self signed certificates, and to use this you need also put the corresponding CA certificate in place.
Ex: `/etc/docker/certs.d/<registry-ip>/ca.crt`

Also take in account that we can use a private registry as a proxy, and that must be configured in daemon.json too.
Ex:
[code]

We are using two private regi

[2019-02-15 15:01] pablochacin commented on #306
@bart0sh are you by any chance using a `btrfs` partition? I had some weird issues because the volumes that `kind`mounts are not updated properly in the docker-in-docker.

[2019-02-15 15:12] padiazg commented on #306
Same here
* RedHat EL 7
* Docker version 18.09.0, build 4d60db4
* go version go1.11.5 linux/amd64

I'm in a restricted network, and need to specify proxy to reach the internet, can that be the problem?

How can I get some logs to figure out what's wrong, besides --loglevel?

[2019-02-15 15:16] neolit123 commented on #306
latest master branch contains a patch by @pablochacin that passes HTTP*_PROXY env variables to nodes:
https://github.com/kubernetes-sigs/kind/pull/275/files

[2019-02-15 15:24] bart0sh commented on #306
I'm also behind the proxy. all proxy variables are set correctly, but kind refuses to create a cluster.

[2019-02-15 15:25] bart0sh commented on #306
ah, the fix is not released yet.

[2019-02-15 15:26] neolit123 commented on #306
well if you build the binary from master it should be there.
`go get...` does that, no?

[2019-02-15 15:31] BenTheElder commented on #306
`go get -u sigs.k8s.io/kind` will get the latest (note the u for update). The latest should have support for proxies.

[2019-02-15 15:33] bart0sh commented on #306
just to be sure I've rebuilt it from master. It didn't help.

[2019-02-15 15:33] bart0sh commented on #306
any suggestions how to debug it?

[2019-02-15 15:38] BenTheElder commented on #306
`kind create cluster --retain` // don't delete the broken nodes
`kind export logs` // dump various debug logs

[2019-02-15 15:40] BenTheElder commented on #306
I'm pretty sure there are two different issues here. One is the proxy, which should be fixed at head (supports HTTP_PROXY and HTTPS_PROXY).

The other is not known yet. Have you checked https://kind.sigs.k8s.io/docs/user/known-issues/ ?

[2019-02-15 15:52] bart0sh commented on #306
just checked it, thanks. Neither of those issues seem to be my case. ext4 partitions, plenty of disk space and memory,  no "failed to apply overlay network" message on the console, no "failed to build images" message either. See debug output above.

[2019-02-15 16:07] BenTheElder commented on #306
The stats bit is expected and ignorable for now.
The certs bit is odd, I don't think I've seen that before. Sounds like kubeadm isn't populating a cert signed for the "node ip"... That shouldn't happen. It should be signed for that by default and we additionally add localhost 🤔

[2019-02-15 16:08] BenTheElder commented on #306
I think we need to additionally set which addresses to NOT proxy

[2019-02-15 16:17] BenTheElder commented on #306
Can you share `docker info` and your proxy envs?

[2019-02-15 16:27] bart0sh commented on #306
sure:
[code]

I can't show internal IP and host names here, sorry. However, I'm pretty sure proxy settings are ok as I'm running kubeadm on this host almost on daily basis and it works just fine, e.g. I'm able to create master with it and debug kubeadm issues.

btw, I've upgraded docker. It didn't help to solve the issue.

[2019-02-15 16:28] bart0sh commented on #306
Can cgroup driver cgroupfs be the reason of the issue?

[2019-02-15 16:31] neolit123 commented on #306
try setting `systemd` as the driver on the host.
but for the docker in the nodes this might need a patch in kind.

[2019-02-15 16:42] bart0sh commented on #306
I've changed cgroup driver to system. It didn't help. I still see this in the kubelet log:
[code]

I'll try to add NO_PROXY to pkg/cluster/nodes/create.go the same way as HTTP_PROXY and HTTPS_PROXY.

[2019-02-15 16:54] bart0sh commented on #306
that helped. I've patched kind as I explained above and added 172.17.0.0/16 to NO_PROXY:
[code]

[2019-02-15 16:55] bart0sh commented on #306
let me know if you want me to send a patch. It's pretty trivial:
[code]

[2019-02-15 16:56] BenTheElder commented on #306
Please do! 😀

[2019-02-15 17:07] bart0sh commented on #306
@BenTheElder done. please, merge

[2019-02-15 17:14] padiazg commented on #306
Just downloaded the last version as suggested, and now it works. Thanks a lot!!

[code]

[2019-02-15 17:14] bart0sh commented on #306
It's should probably be explained somewhere how to find the address/network to put into NO_PROXY. Is there better way then what I did?
[code]

[2019-02-15 17:27] BenTheElder commented on #306
@bart0sh the docker network IPs should not be proxied, we can document a command to obtain these.

[2019-02-15 17:31] rohansingh commented on #220
Having thought about this more, shouldn't it already be possible to run a privileged `socat` container that exposes the local Docker socket as a service?

[2019-02-15 18:11] BenTheElder commented on #306
Thanks all! Will update the docs and make sure this is highlighted in the next release.. (soon!)

[2019-02-15 18:34] BenTheElder commented on #220
possibly, there's a few odd things here including:
- it's probably going to be slower to use this docker than using the docker that the docker runs in
- security :yikes:
- multi-node? which node do we expose? minikube doesn't have this problem
Especially with regard to multi-node I think #28 / other options for making image loading & caching faster will pan out better than this.

[2019-02-15 18:47] rohansingh commented on #28
@BenTheElder That seems very reasonable to me. I'm happy to do a first-pass on the implementation if nobody else is; being able to load images is a blocker for my use case.

[2019-02-15 18:48] stevesloka commented on #28
I should have posted here @rohansingh but I just about have a PR ready to solve this.

[2019-02-15 19:40] Arvinderpal commented on #278
Thanks for the clarifications! :) What you said sounds perfect!
I incorrectly used "conformance tests" and "CNCF tests" interchangeably but really meant to say conformance tests everywhere.

[2019-02-15 20:01] BenTheElder commented on #278
Understood, thanks!
A lot of these things are confusing so I just wanted to make sure we were 100% on the same page :sweat_smile:

I'm also planning to remove that note from the README / homepage today, we're using kind for much more than just testing kubernetes with the conformance tests, some rough scoping has been added to https://kind.sigs.k8s.io/docs/contributing/project-scope/ but needs more

[2019-02-16 01:04] #28 closed

[2019-02-16 02:42] BenTheElder commented on #28
#309
https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

[2019-02-16 02:45] rohansingh commented on #28
Thanks again @BenTheElder and @stevesloka. This is invaluable for the "local clusters on developer machines" use case.

[2019-02-16 02:53] BenTheElder commented on #28
I hope it will make CI better as well!

kind uses a similar technique internally to load Kubernetes and avoid needing to push images when testing from Kubernetes source, so far that has been great 😄

[2019-02-16 07:27] BenTheElder commented on #306
@bart0sh `docker network inspect bridge` will print out the subnet range, unfortunately it looks like no_proxy doesn't support subnets or wildcards for IPs...
all IPs in the subnet could be placed in no_proxy, but that's a bit unwieldy.

[2019-02-16 09:32] bart0sh commented on #306
@BenTheElder I believe Docker supports ranges in NO_PROXY. see my [above comment](
https://github.com/kubernetes-sigs/kind/issues/306#issuecomment-464121144) for details.

[2019-02-16 09:37] bart0sh commented on #306
@BenTheElder Another place where we need to configure proxy is a docker daemon. Otherwise it refuses to pull images. It couldn't pull weave-net image and weave-net pods were stuck in LoopBackOff state.

I briefly looked at the code yesterday and I think the way to do it is to generate systemd drop-in with proxy settings for docker service before docker starts on the node, somewhere in pkg/cluster/

[2019-02-16 09:58] bart0sh commented on #306
@BenTheElder Here I how Docker docs suggest to configure proxy for docker daemon: https://docs.docker.com/config/daemon/systemd/#http-proxy

We should also consider setting both lower and upper case variables as some programs don't respect upper case *_PROXY vars.

[2019-02-17 11:02] hjacobs commented on #136
Just to confirm the problem from my side persists even after Docker upgrade (I don't have any HTTP proxy):

I get this error with [Docker 18.06.1 from the official Ubuntu 18.04 LTS repository](https://packages.ubuntu.com/bionic/docker.io):
[code]

The problem persists for me after upgrading to `docker-ce` 18.09.2~3-0~ubuntu-bionic (I followed the [Docker CE instructions](https://docs.docker.com/in

[2019-02-17 16:03] clkao commented on #148
for the impatient, this seems to work for now after docker restarts:

`docker start kind-1-control-plane && docker exec kind-1-control-plane sh -c 'mount -o remount,ro /sys; kill -USR1 1'`

`FixMounts` has a few mount --make-shared, not sure if they are really required.

[2019-02-17 20:54] BenTheElder commented on #148
The make shared may not be required anymore, those are related to mount propagation functionality in kubelet / storage. It looks like with a tweak to how docker runs on the nodes we might not need those.

We should check with `hack/local-up-cluster.sh` (IE @dims) on this as well, they have it still as well.
https://github.com/kubernetes/kubernetes/blob/07a5488b2a8f67add543da72e8819407d8314204/hack

[2019-02-18 03:08] BenTheElder commented on #136
@hjacobs can you update with `go get -u sigs.k8s.io/kind`? the cluster name suggests that you're on on an old version, I suspect your API server is getting evicted, which we've patched around in #293.

[2019-02-18 03:09] BenTheElder commented on #136
the next release will contain this fix, but in the meantime it can be installed from the current source 😬

[2019-02-18 06:30] ntfrnzn commented on #99
In order for Kind to be truly useful as a development tool it will have to support exposing in-cluster services to development tools. IMO this concept is a "must-have"

With minikube it's usually done with nodeport services, as per the title of this issue.  I understand the the simple nodeport analogy doesn't work very well, and that to fake the nodeport functionality involves either a massive & p

[2019-02-18 07:21] BenTheElder commented on #99
For what it's worth, kind is already used as a development tool for a number of projects 🙃
This will certainly be very nice for many use cases, and we'd like to see it, but there are a lot of other things to finish along the way and this can definitely be added on top of the rest.

NodePorts work today and actually make a lot of sense, they're just only accessible from within the docker network. R

[2019-02-18 16:22] ntfrnzn commented on #99
A CCM provider is just as complex, didn't mean to suggest otherwise, but isolates/separates the complexity.

[2019-02-18 16:45] BenTheElder commented on #99
The problem with an actual CCM (besides complexity) is that we test at least 4 versions of Kubernetes (3 supported branches + master branch development), the CCM currently only supports -1/+0 version skew.
https://kubernetes.io/docs/setup/version-skew-policy/#kube-controller-manager-kube-scheduler-and-cloud-controller-manager.

Additionally to my knowledge nobody has built a CCM without depending

[2019-02-18 18:06] pablochacin commented on #99
@BenTheElder

The main reason I haven't moved forward is because, honestly, I don't see any use case on which using `kubectl port-forward` doesn't work

Maybe you recall I brought this use case because I wanted to use `kind`  as development platform for the gardener project and needed to access services deployed in the cluster from the host. Recently, [they did it](https://github.com/gardener/gard

[2019-02-18 20:12] BenTheElder commented on #99
[noting that we discussed this a bit more in today's meeting, but the path forward is still not certain..]

[2019-02-18 20:47] hh commented on #188
https://github.com/WorksOnArm/cluster/issues/154 gives us access to Packet hardware.
How would we like it configured?

- Running k8s?
This would allow us to specify this cluster to run kind jobs and fit into sig-testings usual approach to testing.

- running docker only
We would need to ssh in, run kind + test, + cleanup.

/cc @dvn-ii

[2019-02-18 20:56] BenTheElder commented on #188
I think running docker / SSH only is the most well understood path currently, we can treat these similar to a node or cadvisor e2e job, and put credentials in Prow to access them.

Long term it might be interesting to be able to run prowjobs on these machines directly, but that will require more work to maintain the cluster and it will take figuring out how we want to handle distributing other cre

[2019-02-18 22:16] hh commented on #188
When trying to kind build, we note that docker-ce and friends are not available directly from the same repos:

[code]

Probably need some debugging:

[code]

Version check:

[code]

[2019-02-18 23:09] devaii commented on #188
It looks like the issue is due to the `ARCH` variable in the base-image is hard-coded to `AMD64`.

See: https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile#L29
It looks like the ARCH  variable is used later for the CNI plugin tarball, as well.

I am working on a patch.

[2019-02-19 03:05] BenTheElder commented on #188
Yeah, there's a bunch of places marked TODO for handling this because I wasn't sure where / how to plumb it through, I think using runtime.GOARCH should be fine, Dims's previous patch is here: https://github.com/kubernetes-sigs/kind/issues/188#issuecomment-453514226

[2019-02-19 03:13] dims commented on #188
@BenTheElder unfortunately the paste with patch expired

[2019-02-19 03:36] ntfrnzn commented on #99
After experimenting a bit with `kubectl port-forward` and with the docker link socat approaches, I find they work for all my immediate purposes. Many thanks for the tips, and apologies if I seemed uncharitable.

The external socat container that connects to nodeports is a little closer to the load-balancer idea than is port-forward. It might be reasonable to automate the creation of such external

[2019-02-19 04:21] BenTheElder commented on #62
Fixed in https://github.com/kubernetes-sigs/kind/pull/313

Quick example usage here: https://github.com/kubernetes-sigs/kind/pull/313#issuecomment-464967105

Will document more as we finish fleshing it out.

[2019-02-19 04:21] #62 closed

[2019-02-19 05:46] BenTheElder commented on #276
[this has been discussed a bitin meetings and on slack so far, for anyone interested]

[2019-02-19 07:12] mitar commented on #62
Awesome! Thanks!

[2019-02-19 07:14] BenTheElder commented on #62
Sorry for the delay again, this has worked for a while but there was some debate about the best way to borrow from the upstream CRI concepts (vendor vs copy etc.).. we came to agreement in today's meeting so it's in now 😅

[2019-02-19 07:41] mitar commented on #62
No worries. I have been using a fork in meantime. This is now the last thing which required a fork for me. Which is great. I will test this out soon.

[2019-02-19 07:49] BenTheElder commented on #62
Great!
I think we will need some UX improvements (relative paths?) but it's a start 😅

[2019-02-20 06:13] BenTheElder opened #321 "kubernetes master branch is broken"
https://testgrid.k8s.io/conformance-kind#kind,%20master%20(dev)%20%5Bnon-serial%5D&show-stale-tests=

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel/9814

this commit range: https://github.com/kubernetes/kubernetes/compare/b8b143410...ee50d4784

most likely something with: https://github.com/kubernetes/kubernetes/pull/73452

/kind bug
/assign
cc @ne

[2019-02-20 06:14] BenTheElder commented on #321
working on replicating locally ...

[2019-02-20 06:35] BenTheElder commented on #321
Can replicate, `error execution phase control-plane-join/etcd: control-plane-join phase invoked with an invalid data struct`

[2019-02-20 06:37] BenTheElder commented on #321
hmm also:

[2019-02-20 06:53] BenTheElder commented on #321
testing with: `kind create cluster --loglevel=debug --image=kindest/node:latest --config=$HOME/kind-basic.yaml --retain`

`kind-basic.yaml` is what we use in the kind e2e presubmits:
[code]

the generated config for this looks like:
[code]

[2019-02-20 07:23] BenTheElder commented on #321
with this patch to kubernetes:
[code]
I get this output:

[code]
the type it is attempting to assert to is:
[code]

[2019-02-20 07:35] BenTheElder commented on #321
bugfix from @neolit123 (who already tracked this down earlier 😅) is here: https://github.com/kubernetes/kubernetes/pull/74277

[2019-02-20 12:20] bart0sh commented on #306
@BenTheElder please, reopen this issue as we're still not done yet. See my comments above for further details.

[2019-02-20 12:32] neolit123 commented on #321
our type assertion patterns could use some unit testing.

[2019-02-20 16:10] BenTheElder commented on #321
If you can manage to expose them somewhere you can compile time assert like `var _ interfaces.Foo = &bar{}` IMHO that's the best way to keep it safe 😅

[2019-02-20 16:26] BenTheElder commented on #321
We have a passed run now after the upstream fix. Thanks Lubomir!

[2019-02-20 16:26] #321 closed

[2019-02-20 16:48] rohansingh commented on #220
So after trying to use the new `load` command from #28, I feel like there's still a legitimate use-case for having access to the Docker API.

My workflow is very similar to what @munnerz originally described, with loading images from Bazel to the host Docker for local development. This uses [rules_docker](https://github.com/bazelbuild/rules_docker), which has a [fast-loading mechanism](https://git

[2019-02-20 17:44] timothysc opened #323 "Support github submission templates"
See - https://github.com/kubernetes-sigs/cluster-api/tree/master/.github/ISSUE_TEMPLATE

as Example

[2019-02-20 17:47] BenTheElder commented on #323
/sig contributor-experience
/priority important-soon
/assign

[2019-02-20 17:52] timothysc opened #324 "RFE: Support for a phased breakdown of different operations, specifically create"
Currently today kind executes a series of implicit steps as part of operations such as `create`.  The purpose of this issue is to make those steps explicit and well-defined ~= `kubeadm phases` such that both developers and consumers can execute different steps as needed for their testing.

/cc @kubernetes/sig-cluster-lifecycle

[2019-02-20 18:02] BenTheElder commented on #324
Making them well defined is the tricky part, as we've added features like HA or proxy support the required steps have changed.

An immediate alternative with even more control to iterate on kubeadm phases was suggested at the kind meeting with @fabriziopandini @neolit123 to support creating nodes but stopping short of any kubeadm provisioning etc.

[2019-02-20 18:20] BenTheElder commented on #220
Other than the rules_bazel case exposing docker on a port is generally not great and won't be faster than using the host and loading.

We also may not continue to use docker vs say containerd inside the container long term, it sounds like the community (SIG Node primarily) is moving toward CRI only, using something like `kind load ...` lets us continue to keep this working even then and solves the

[2019-02-20 18:23] BenTheElder commented on #220
I wonder if we can find a work around for the rules_bazel case. I'm not keen on making the availability of the node docker user facing and for other use cases people definitely should prefer building on the host daemon.

[2019-02-20 18:30] rohansingh commented on #220
Makes sense, especially considering the push to be less Docker-centric.

I'm trying to figure out why `tag` is an additional step as well. Maybe it's to cover the case where no new layers actually had to be loaded? I'm guessing adding a `kind tag` command is not on the table? ;)

[2019-02-20 18:30] timothysc commented on #324
FWIW not all phases need to be at the same level and can go through promotion, so supportability is also explicit.

[2019-02-20 18:47] BenTheElder commented on #220
Not sure :-) I wonder if we can extend the rules to be aware of some fast-ish loading mechanism.

To be clear: we also use the bazel rules in https://github.com/kubernetes/test-infra so I also have this use case. I just want to see if we can avoid awkward dependencies and exposing dockerd on any sort of network :scream:

[2019-02-20 18:47] BenTheElder commented on #220
@munnerz might be able to hack up some more shiny rules to leverage the archive loading :thinking:

[2019-02-20 18:50] BenTheElder commented on #324
Right. Thinking more in terms of how to actually break it down internally at this point.

We will need some more refactor to clean up interdependencies between the creation steps (which we absolutely should do).

We should start by identifying what steps would be helpful.

As far as I could tell the most helpful thing would be to have control over the kubeadm steps, for which a way to provision bu

[2019-02-20 18:56] rohansingh commented on #220
Awesome. Should we have a separate issue for this specific use-case?

[2019-02-20 20:00] fabriziopandini commented on #324
@BenTheElder I agree? Stopping before init/join is already a well defined use case and having a short term solution in please will be great
I'm going to send a PR for this

[2019-02-20 20:25] aojea commented on #118
https://github.com/rancher/local-path-provisioner is working for me in a kind multi node cluster

[2019-02-20 20:36] rohansingh commented on #220
Alright, I was able to modify the approach taken by `rules_docker` to do an incremental load via `kind load image-archive`, and even apply the correct tags. Seems to work!

[2019-02-20 22:14] rohansingh commented on #118
I can confirm that rancher/local-path-provisioner works for me as well, with no modification.

[2019-02-20 22:24] BenTheElder commented on #118
Excellent! Thank you for investigating and confirming, with #62 in we should be able to actually back this with a directory on the real host as well :smile:

[2019-02-20 23:09] BenTheElder commented on #220
Awesome! I think this would be worth documenting somewhere, I also wonder if we can do it with changing the rules via some shim pretending to be docker and forwarding to kind 🤔

[2019-02-20 23:16] rohansingh commented on #220
Yeah, it's totally doable. To clarify, I didn't actually modify any `rules_docker` source or fork it. Just copied and modified the incremental loader script and [the `incremental_load` function](https://github.com/bazelbuild/rules_docker/blob/master/container/layer_tools.bzl#L110) from `layer_tools`.

This alternate implementation can then be used by other rules to actually run the loader.

For co

[2019-02-21 12:51] rimusz commented on #118
yup https://github.com/rancher/local-path-provisioner worked for me this time as well:
I updated it's storage class with annotation `storageclass.kubernetes.io/is-default-class: "true"`
[code]
Then:
[code]
Result:
![screenshot 2019-02-21 12 45 56](https://user-images.githubusercontent.com/5215395/53170142-426a1500-35d7-11e9-872e-6c46109956f5.png)

[2019-02-21 16:59] rohansingh commented on #276
I think the "local clusters on developer machines" fits into extended provisioning. While `kind create` itself is pretty lightweight, a developer might load a large number of objects and images into the cluster.

Restoring such a cluster can be expensive, so it would be ideal to leave it running indefinitely and have it potentially survive restarts, upgrades, etc.

[2019-02-21 22:09] aojea commented on #278
Regarding the different CNI plugins it's important to mention that some of them can fail because inside the container we don't have the folder `/proc/sys/net/bridge`.
Seems that weave made it optional since 1.9.0 https://github.com/weaveworks/weave/issues/2789 and don't have any problem with it.
I was investigating more about this topic and I've found this issue https://github.com/lxc/lxd/issues/5

[2019-02-21 23:40] neolit123 commented on #278
if the container shares a kernel with the host and if `br_netfilter` is loaded this will affect the container.
same applies to `net.bridge.bridge-nf-call-iptables=1`

do you happen to know which CNI plugins will fail for the lack of this folder inside the container?

so in terms of weave, calico and flannel the part of bringing up the cluster works.
which is good, but we still need to run conforma

[2019-02-22 04:16] mitar commented on #189
I would vote for just removing the spinner. Spinners tend to make CI logs long and sometimes hard to read because CI tries to render logs in "smart" ways breaking terminal assumptions.

[2019-02-22 04:23] BenTheElder commented on #189
FWIW In CI there should already be no spinner unless the CI allocates a fake TTY, in which case this it would probably be working as intended. We do tty detection for toggling the spinner and log formatting (though I dislike the current no-tty formatting especially, just haven't gotten to that yet).

Locally it's nice to have enough feedback from the CLI to know that the tool is not hung, the alte

[2019-02-22 04:26] figo opened #328 "document kubernetes behavior with image side loading and :latest tag"
steps to reproduce:
1) build a container with tag: `latest`,
2) then load into kind, no error reported:
`kind load docker-image ###:latest`
3) then deploy pod to kind, check pod status, it getting image Pull Error.

it works well with other numeric tag as i tested.
thanks to @BenTheElder to point it out.

[2019-02-22 04:29] mitar opened #329 "More unstable cluster"
So now I am running kind on our CI (GitLab) and I am noticing more than I would hope instability. What we do is create a kind cluster and then create a namespace, in the namespace few pods, run some jobs (one job takes generally around and hour or so) inside the namespace, cleanup the namespace, and repeat with another namespace. We do this few times. I use Python Kubernetes client.

What happens

[2019-02-22 04:32] mitar commented on #189
You can just output a dot every 30 seconds or so and it shows that it is not hung.

[2019-02-22 05:15] BenTheElder commented on #329
hmm while looking into causes I see your comment here :^) https://github.com/kubernetes/kubernetes/issues/66689#issuecomment-463097073

[2019-02-22 05:36] mitar commented on #329
Yes. :-) I have such waiting. But it does not really resolve it. I thought it is just a race condition, but in fact it seems it just does not create properly the namespace. I am guessing some core service dies or something.

[2019-02-22 06:05] BenTheElder commented on #328
This is a Kubernetes feature, and we should document it and how to work around:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#container-v1-core

(emphasis mine on `Defaults to Always if :latest tag is specified`)

[2019-02-22 06:06] BenTheElder commented on #328
/kind documentation
/priority important-soon

work arounds are:
- don't use a `:latest` tag
- specify `imagePullPolicy: IfNotPresent` or `imagePullPolicy: Never` on your container(s)

[2019-02-22 08:26] aojea commented on #278
I just hit the problem yesterday with one "containerization" of the neutron OpenStack service that's using an openvswitch agent and checks for this value. I think that you are right and we'll find out later with the conformance testing, I just thought that it was important to mention to avoid other people spending time troubleshooting the problem  :sweat_smile:

same applies to `net.bridge.bridge-

[2019-02-22 08:34] pablochacin commented on #200
@BenTheElder if you have already an idea about this issue. I can help implementing it.

[2019-02-22 08:48] mitar commented on #329
So I watch all events and print them out. I am noticing during a run of my CI such events unrelated to what I am doing in our tests:

[code]

Not sure why would new node be registered in the middle of CI? Maybe because it died before and now it was recreated?

Also, I have an example situation which is a showcase of this issue, and I would like just to make sure it is not something I am doing wron

[2019-02-22 10:05] unguiculus commented on #118
While [rancher/local-path-provisioner](https://github.com/rancher/local-path-provisioner) generally seems to support multi-node clusters, volumes always seem to be mounted using `root` as group irrespective of a specified security context.

See https://github.com/rancher/local-path-provisioner/issues/7

[2019-02-22 10:07] rimusz commented on #118
I was able to reproduce `rancher/local-path-provisioner` security context issue too.

[2019-02-22 16:24] neolit123 commented on #278
given the top 3 most popular plugins (survey results) already work, i'd say we consider this only once support for another plugin is requested that faces the problem.

[2019-02-22 20:01] BenTheElder commented on #200
thanks @pablochacin, I'm finally putting the finishing touches on the PR, but in case I somehow don't get it in today due to more prow fires:

- add default CNI manifests and images list to pkg/build/node
- install these to well-known paths in the kind node images
- load them at cluster up if present, fallback to our current CNI isntall mechanism if not

[2019-02-22 22:10] kargakis commented on #329
@mitar are you reusing the same cluster for all tests or each test gets its own cluster? If things start hanging then the first thing to look at is the api server. You should be able to jump in the control plane container and start looking around at the different containers. Also it would be useful to track your machines resources if you deploy kind for a long period of time.

[2019-02-22 22:26] kargakis commented on #62
I guess for most testing environments this is not going to be a problem (because AFAIK most envs care about a 1 master + 1 worker setup) but fwiw this is not going to work with multiple workers, right?

[2019-02-23 00:39] BenTheElder commented on #200
filed https://github.com/kubernetes-sigs/kind/pull/331

[2019-02-23 00:49] BenTheElder commented on #205
After https://github.com/kubernetes-sigs/kind/pull/331 it will be pretty straightforward to load an alternative CNI with a custom image at least, we still need to do #278 as well which should be pretty straightforward, will put that in the next minor milestone after 0.2 tentatively.

[2019-02-23 01:04] mitar commented on #329
So there is a series of tests inside one CI run. And cluster is made only once per CI run.

I cannot really jump into "CI run" because it is running on GitLab workers. So maybe there is some resource starvation or anything, but it would be useful if that would be somehow reported or something. Or made so that core systems are never removed. I would understand and easier debug if my test pods gets

[2019-02-23 02:04] #200 closed

[2019-02-23 02:19] neolit123 commented on #191
with this PR the CLI prints shell instructions for Windows:
https://github.com/kubernetes-sigs/kind/pull/326

should the docs include these Windows shell instructions here?
https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/user/quick-start.md#interacting-with-your-cluster

[2019-02-23 02:49] yasker commented on #118
@unguiculus @rimusz Unfortunately, fsGroup support is something outside of local path provisioner's control.

 The `hostpath` type PV doesn't support security context. It has to be root for the volume to be written in. See https://github.com/kubernetes/minikube/issues/1990 and https://unofficial-kubernetes.readthedocs.io/en/latest/concepts/storage/volumes/#hostpath

At the end of https://github.co

[2019-02-23 02:50] BenTheElder commented on #191
yeah, at least they should link to another section with them, I'm not sure if we want to detail every shell inline there 🤔

[2019-02-23 02:51] BenTheElder commented on #191
(note this issue is almost solve, but I want to track which issues would be good to see if we're having them at all. if we're not we should aim to write more well-scoped issues...)

[2019-02-23 03:14] BenTheElder commented on #118
I wonder if we can borrow ideas from minikube's storageclass addons? surely they've found a work around.

[2019-02-23 03:26] msau42 commented on #118
@yasker could you amend the hostpath provisioner to use the local PV type? Local PV supports fsgroup

[2019-02-23 04:36] BenTheElder commented on #136
Should be _actually_ fixed now, additionally new node images do not require pulling the overlay image at all.

[2019-02-23 04:37] BenTheElder commented on #136
https://github.com/kubernetes-sigs/kind/pull/322
And
https://github.com/kubernetes-sigs/kind/pull/331

[2019-02-23 04:37] #136 closed

[2019-02-23 06:43] BenTheElder commented on #110
I think certs can be injected using #62

[2019-02-23 08:24] matthyx commented on #136
I will test on Monday since I don't have our corporate proxy at home... thanks for the update!

[2019-02-23 13:41] BenTheElder opened #336 "jobs are broken on kubernetes master (build)"
https://github.com/kubernetes/kubernetes/pull/73930 added cross build support, which shuffled some things around. WIP fix in #335

/kind bug
/priority critical-urgent
/assign

[2019-02-23 15:48] alejandrox1 commented on #336
Seems to have worked: tested it on #320 and #337
/close

[2019-02-23 15:48] #336 closed

[2019-02-23 18:21] BenTheElder commented on #336
Thanks!

[2019-02-23 21:25] BenTheElder opened #340 "RFC: v1alpha3 config proposal"
I've been thinking for a while now about how to improve the ergonomics of our config and extend it for more use cases. I intend to bring this up at the next meeting. Proposal is as follows:

----

# Proposed changes

## Rename the `Config` type to `Cluster`

### Rationale
This is more precise, it specifically configures a kind cluster, whereas some of the sub objects configure nodes etc. Additiona

[2019-02-23 21:25] BenTheElder commented on #340
/priority important-soon
/assign
cc @neolit123 @fabriziopandini @munnerz @pablochacin

[2019-02-23 21:48] neolit123 commented on #340
support for multi-cluster topology e.g. clusters sitting behind a load balancer a load balancer would have been fun, but out of scope so the change SGTM.

SGMT, but this drops eventual load-balancer configurations if we want to support such even.
probably not anytime soon.

doesn't matter that much. slightly less friendly UX config wise.

someone might complain about this eventually and file the r

[2019-02-23 22:03] BenTheElder commented on #340
Thanks for the comment @neolit123

We could probably still do this by having cluster objects set the name metadata and having another object reference them by name?

This does seem out of scope for now though. Kubernetes has no concepts for this AFAIK.

probably not anytime soon.

Those settings can go under `networking` at the top level? (and we will be allowing setting eg the port)

_very_ sligh

[2019-02-23 22:10] BenTheElder commented on #329
Definitely agree on the core systems never being removed, unfortunately there are some Kubernetes limitations there where core workloads can be rescheduled, k8s is designed to have reserved overhead but we can't fully do that in kind right now.

I spent some time looking at another user's logs with some similar issues but we haven't pinned it down yet.

We need to debug and solve this as much as t

[2019-02-23 22:12] BenTheElder commented on #244
I'm going to call this done on our end. It's not completely smooth yet, but with have a recurring meeting and agenda listed under SIG Testing.

[2019-02-23 22:12] #244 closed

[2019-02-23 22:14] BenTheElder commented on #133
Related: https://github.com/kubernetes-sigs/kind/issues/340

We should discuss this again on Monday. @neolit123 had some interesting points about possibly moving some of the flags we already have into config.

[2019-02-23 22:15] BenTheElder commented on #329
This may be related: https://github.com/kubernetes-sigs/kind/issues/303

[2019-02-23 22:23] neolit123 commented on #256
@BenTheElder

with the proposal you and @munnerz made that third parties should preferably consume the backend of kind and create a separate CLI, the kubeadm project is convinced that this is the right thing to do short term.

long term we could have integration of phases and more CLI commands in kind that well help with kubeadm testing.

at this point we are leaning towards creating a new CLI too

[2019-02-23 22:28] neolit123 commented on #340
we might also want to move retain and wait as part of the plan for this config.

there are definitely multi-cluster topologies in products out there, yet this seems out of scope for the project. extarnal pivoting / tooling can be done to support such a scenario (if someone needs this).

yes, they can.

true.

yes, this can work if there is demand.

sounds good.

i don't have a strong preference on

[2019-02-23 22:31] BenTheElder commented on #256
@neolit123 can you add this to the agenda for Monday and I'll try to come prepared to discuss.

Definitely want to unblock this ASAP 🙏

Also agree on long term goal with phases and supporting upgrades built-in...
I'm currently (as in right now) drafting a plan to re-arrange how create is coupled internally to make this easier to implement re-entrantlty (IE today create is all one-shot, you can't r

[2019-02-23 23:01] neolit123 commented on #256
ok, i have added it as an agenda item.

we have roughly one month, so there is time.

I'm currently (as in right now) drafting a plan to re-arrange how create is coupled internally to make this easier to implement re-entrantlty (IE today create is all one-shot, you can't run some phases and then run more even if we did expose it externally).

:+1:

the way kubetest2 is shaping, it will be a big im

[2019-02-23 23:53] ixdy commented on #336
follow-up PR https://github.com/kubernetes/kubernetes/pull/74467 is going to restore the old filenames.

[2019-02-24 09:59] fabriziopandini commented on #340
@BenTheElder thanks for keeping me in this loop!
The list of proposed changes SGTM; some comments / additional questions:

**Rename the `Config` type to `Cluster`**
Great to see moving cluster setting in a separated set of fields; this is consistend with kubeadm config / cluster api, and it was also in the original [issue](https://github.com/kubernetes-sigs/kind/issues/130) for multinode config in

[2019-02-24 10:28] fabriziopandini commented on #256
**kind vs kinder**
My personal concern is to avoid fragmentation in the ecosystem and confusion in user, and as a consequence, my personal opinion is that we should agree on a split of responsibilities between kind and kinder. eg.:
- kind is for CI (as it is already great for this and it is going to support kubeadm upgrade soon)
- kinder is for developers (it won't be recommended for users and wil

[2019-02-24 17:17] BenTheElder commented on #340
Instead, given that we are dropping the replicas field, it si now possible to name nodes according to the order in the config, and this makes this process more predictable / more evident in the logs

As a user needing to schedule a workload to a machine with that nodeport available, I'm supposed to predict the node name...?

There needs to be a mechanism to pin workloads to the right node with the

[2019-02-24 17:27] neolit123 commented on #340
Instead, given that we are dropping the replicas field, it si now possible to name nodes according to the order in the config, and this makes this process more predictable / more evident in the logs

how about requiring a node name only if `nodePorts: ....` is set?

[2019-02-24 17:34] BenTheElder commented on #340
I'm not sure we should require one ever (we can always autogenerate) or that name should be the mechanism to pin. Extra user supplied node labels could work maybe (that we apply at the end of cluster up).

[2019-02-24 19:19] pablochacin commented on #340
### Dropping replicas
I'm not comfortable with the idea of dropping the replica number. For me, It make sense to have a role with some common attributes, such as the image, and then easily change the number.  I find having to add/remove entries in the node list much more inconvenient.

I've been digging into the code this weekend  to understand what it would take to create a new node role and I ha

[2019-02-24 19:47] pablochacin opened #344 "RFC: Refactor role specific logic"
I have been reviewing the code to understand what it would take to implement a new node role. The initial motivation is to implement a node type for exposing `NodePort` services addressing #99. However the proposal in RFC is generic and could help experimenting with other node roles in general.

Presently the knowledge about the different node roles scattered in many places of the code.  The main

[2019-02-24 20:50] BenTheElder commented on #340
How many entries are we talking about? kind doesn't really "scale" beyond a handful of nodes? (at least not without a pretty beefy machine, since they're all on the same host).

If you're only setting the image and the role then copying / removing is only 2 lines per node, that seems like a pretty small burden. The other fields don't work well with repeated nodes and the repeated node logic compli

[2019-02-24 21:09] BenTheElder commented on #344
Refactor the logic logic? +1
This particular form? -1

Being generic comes with a cost, and I don't think we should take on that cost for node types. How many more node types are we going to add?

We are moving to have `workers`, and `control planes` as the two reasonable user facing types, and then internal / implicit nodes (`load-balancer` and eventually `external-etcd`).  Adding maybe one or tw

[2019-02-24 21:15] BenTheElder commented on #344
For this specific abstraction outlined:

 - `ProvisionOrder int`,  `Dependencies NodeRole[]` -- Provision order and interdependency is absolutely logic that belongs internal to `Create` and not anywhere else. Putting the provision order as an int in a role type is going to be complex to track, and will require refactoring for each new type anyhow. This will lead to "oops we had `ProvisionOrder: 1`

[2019-02-24 22:18] BenTheElder opened #345 "document offline clusters"
xref: https://github.com/kubernetes-sigs/kind/pull/331#issuecomment-466668764

We should also think about how to start breaking up some of these things into seperate advanced guides to keep the quick start focused. unsure on this one, but https://github.com/kubernetes-sigs/kind/issues/303 will be a good one to split out

/kind documentation
/priority important-soon

[2019-02-24 22:30] mitar commented on #329
Rescheduled to where? If this is one node cluster, where would it go? :-)

[2019-02-24 22:39] BenTheElder commented on #329
re-created on the same node.

some of these (like daemonsets) are expected to change I think...

RE: https://github.com/kubernetes-sigs/kind/issues/303, I think these mounts may fix some of the issues with repeated nesting. The other user seemed to have tracked it down to the host systemd killing things in their environment. I can't replicate this yet (not enough details, doesn't happen in my envi

[2019-02-24 23:04] mitar commented on #329
Hm, would there be anything in the log if hosts kills a container?

[2019-02-24 23:42] BenTheElder commented on #154
There's now a `container` package with `docker` as a subset, and we're working on plumbing through optional arguments to the cluster better, I expect to get limited podman support based on these pretty soon.

[2019-02-24 23:43] BenTheElder commented on #154
We're also targeting CRI functionality explicitly: https://kind.sigs.k8s.io/docs/design/principles/#target-cri-functionality

[2019-02-25 07:23] matthyx commented on #136
@BenTheElder doesn't seem to work better... I did `go get -u sigs.k8s.io/kind` to update to latest, and then `kind create cluster --loglevel debug` which resulted in the same failure.

You can read the debug logs [here](https://pastebin.com/0iBy4LmX).

[2019-02-25 07:47] BenTheElder commented on #136
hey @matthyx, can you run with `kind create cluster --retain --loglevel debug` and then run `kind export logs` after?

I suspect this is something else with your environment, at the latest source zero internet connectivity should be required after pulling the "node" image. (which I and one other user have been able to verify).

[2019-02-25 07:49] matthyx commented on #136
Should I open another issue once I have the logs?

[2019-02-25 08:21] BenTheElder commented on #329
You may see a signal handler log in the pod / container logs IIRC, I haven't first-hand seen this occur yet. It would not be normal on a "real" cluster.

Another user with issues: https://github.com/kubernetes-sigs/kind/issues/136#issuecomment-466898626

I will spend some time later this week looking at how to improve debug-ability and bring this up in our subproject meeting tomorrow. If it's rela

[2019-02-25 08:27] pablochacin commented on #340
The point is not the number of nodes, but having to edit the files. There was a proposal for adding command line flags for setting the number of replicas, which would not be possible under this format.

Maybe we should separate the role (template) from the replica. This would still allow generic settings and per-replica settings.

I think that making this decision considering current situation is

[2019-02-25 08:29] matthyx commented on #136
I think this is good now... looking at the logs before sending them, I have noticed that:
[code]

And so I decided to give it a try by unsetting all my *_proxy env variables and suddently it worked! I can finally enjoy kind on my pro workstation.

Thanks a lot @pablochacin and @BenTheElder !

[2019-02-25 08:43] pablochacin commented on #344
I agree, I don't like it much. That's why I started playing with the idea of dependencies

The check can be done at compile time as the dependencies references `NodeRoles` that must be defined somewhere.

I had an initial idea of resolution that results in a provisioning ordering which is not more complex than an standard technical interview exercise.

The whole idea of refactoring was to move som

[2019-02-25 09:07] BenTheElder opened #347 "document / update known proxy related issues"
We should document somewhere:
- kind's behavior W.R.T. *_PROXY environment variables
- probably also that you may need to set / unset these
/kind documentation

[2019-02-25 09:25] BenTheElder commented on #340
That's not what the PR does, it creates flags per role that set a number of _all default value_ nodes. Doing that is totally possible under this, it would just set the node list to contain N nodes of each role, as opposed to setting it to one entry per role with the replicas set. It won't really be affected by this.

I would expect that changing the number of configured nodes involved editing the

[2019-02-25 11:12] DazWorrall commented on #340
To clarify, this is about configuring the container runtime (e.g. #277)?

[2019-02-25 14:24] aojea commented on #278
I['m able to launch kubernetes IPv6 single and multinode clusters](https://github.com/kubernetes-sigs/kind/pull/348) but it turns out that[ weave doesn't support IPv6](https://github.com/weaveworks/weave/issues/19).
I've checked other CNI plugins:

- [ ] [Flannel doesn't support IPv6](https://github.com/coreos/flannel/issues/248)
- [x]  [Calico supports IPv6](https://www.projectcalico.org/enable-i

[2019-02-25 16:33] BenTheElder commented on #278
I'm pretty sure calico's manifests at least do not support ARM, and it requires installing an etcd to the cluster. 🤔

CNI can be hacked around by modifying what is in the image in the short term, at boot we read the manifest etc. from the node image.

[2019-02-25 16:35] BenTheElder commented on #278
Btw https://github.com/kubernetes-sigs/kind/issues/205#issuecomment-466597250

[2019-02-25 16:38] neolit123 commented on #278
the calico CNI supports ARM64, but not ARM(32).

with the golang ease of mutli-arch, in theory it's easier to add support for another arch, compared to adding ipv6 support.

[2019-02-25 16:50] BenTheElder commented on #278
@neolit123 I see the binaries but not the images / manifest. I hope we wouldn't need to ship those ourselves. Their guide for Kubernetes still requires amd64.

[2019-02-25 16:56] BenTheElder commented on #278
Hmm this is worth referencing from a purely CNI on arm (not k8s) POV: https://community.arm.com/tools/b/blog/posts/understanding-and-deploying-overlay-networks

[2019-02-25 16:58] neolit123 commented on #278
they are lacking a schema v2 mutli-arch docker manifest linked from their k8s manifest.

the the multi-arch images do exist: e.g. `calico/node:v3.3.3-arm64`.

[2019-02-25 17:01] lwr20 commented on #278
No need for a separate etcd if you use the Calico manifest that runs using the kubernetes api as a datastore (stores its data in CRDs).  At present that also means using host-local IPAM, but that's getting fixed soon...

[2019-02-25 17:04] neolit123 commented on #278
@lwr20 https://docs.projectcalico.org/v3.3/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml

seems to point to images such as `calico/node:version`, but the image doesn't seem to be schemav2 with multi-arch images.

but images such as `calico/node:version-arm64` do exist.

are there plans to support a multi-arch manifest anytime soon?

[2019-02-25 17:37] BenTheElder commented on #110
We're injecting a dockerd systemd dropin for proxy settings now, I think we can look at something similar for insecure registries. Something like kind config containing a list of these registries -> write dropins on the nodes. See also https://github.com/kubernetes-sigs/kind/issues/340

[2019-02-25 17:50] alejandrox1 opened #349 "Go modules error while building base image"
Tried building the base image from the latest on master and I keep getting the following error:
[code]

Had to do `export GO111MODULE=on` and run `hack/update-deps.sh` to build kind.
Running on ubuntu 18.04, Go version 1.11.5.

[2019-02-25 17:53] BenTheElder commented on #349
Where is your checkout located and do you have a gopath? You should not need to do that unless it's outside of gopath.

[2019-02-25 18:07] alejandrox1 commented on #349
I'm trying to build from `$GOPATH/sigs.k8s.io/kind`. Tried building the base image with `GO111MODULE` on and off.

[2019-02-25 18:19] lachie83 opened #350 "docs(quick-start): Broken kind-example-config link"
The link to the kind-example-config is broken here - https://kind.sigs.k8s.io/docs/user/quick-start/#configuring-your-kind-cluster.

[2019-02-25 18:20] lachie83 commented on #350
Here is the source - https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/user/quick-start.md#configuring-your-kind-cluster

[2019-02-25 18:32] neolit123 commented on #349
@alejandrox1 try with latest master
i sent patch for that yesterday.

[2019-02-25 18:38] alejandrox1 commented on #350
/assign

[2019-02-25 18:40] lwr20 commented on #278
I'm told that calico images went schema v2 from calico v3.4

So https://docs.projectcalico.org/v3.5/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml should be multi-arch.

And I think it is:
[code]

[2019-02-25 18:41] alejandrox1 commented on #349
Thank you @neolit123 !
Guess I didn't actually have the latest, missing just that PR of yours.
/close

[2019-02-25 18:41] #349 closed

[2019-02-25 19:11] BenTheElder commented on #340
@DazWorrall the options in `networking` outlined currently are cluster-wide settings for the API server, but we can add more fields for other networking features.

[2019-02-25 19:57] alejandrox1 opened #351 "Improve kind as a library for loading images"
kind's load command wraps the `docker save` command to save a container image as a tar archive and
https://github.com/kubernetes-sigs/kind/blob/2c5195712b0b0edbe06d5ca5e777ab97d11cb029/cmd/kind/load/docker-image/docker-image.go#L103-L122

The `loadImage` function provides a good API for using kind as a library, however, this leaves the user to "docker save" any container image. My proposal is to d

[2019-02-25 20:11] #344 closed

[2019-02-25 21:46] yasker commented on #118
@msau42 seems local PV doesn't create the directory automatically...

[2019-02-25 21:48] msau42 commented on #118
Oh that's right. I guess you would have to deploy the provisioner as a DaemonSet so it can create a directory beforehand.

[2019-02-25 22:45] alejandrox1 commented on #78
#341  covers the utility scripts in `/hack/*.sh`.

After that is merged, will continue to cover `/hack/{build,ci,release}`

[2019-02-25 23:13] yasker commented on #118
@BenTheElder Seems Minikube wrote it's own provisioner for host path, and relax the permission on the directory. https://github.com/kubernetes/minikube/blob/a7485e738f912828268cf2196a21b8e1ea6fc61d/pkg/storage/storage_provisioner.go#L60

@msau42 I realized I may not need to deploy the provisioner as DaemonSet if I choose to create the directory beforehand. I should able to create a job/pod to crea

[2019-02-26 02:04] yasker commented on #118
@BenTheElder @unguiculus @rimusz @msau42 Alright, Local Path Provisioner v0.0.3 has been released and the issue with security context should be fixed.

[2019-02-26 04:40] BenTheElder opened #353 "add godoc redirects at api versions"
[kind.sigs.k8s.io/v1alpha2](https://kind.sigs.k8s.io/v1alpha2) should have docs for that apiVersion :D

we can do this with a link or redirect to godoc for that package :-)

/kind documentation

[2019-02-26 05:14] BenTheElder commented on #256
[we discussed this in today's meeting]

TLDR was roughly:

- we can continue to develop the actual upgrade logic either out of tree or move to something roughly like `kind alpha upgrade` (`kind experimental upgrade`??), punting that decision to @neolit123 & @fabriziopandini

- we will also need some amount of logic to orchestrate the tests against this, the hope is to do this under kubetest2 soon

[2019-02-26 05:16] BenTheElder commented on #256
Regarding kubetest2 specifically, since it came up, I am about to start on the kind deployer after I finish going through some more of my review backlog. It's still extremely early but the direction seems promising for this `kind` of work 😉, it should be possible to vendor kubetest2 and build a deployer from another repo even if we need...

Once it matures a bit more I'll consider a formal request

[2019-02-26 05:57] BenTheElder commented on #306
@bart0sh FYI with prow you can re-open with
/reopen
sorry, I just found this in my notification backlog...

[2019-02-26 05:58] BenTheElder opened #354 "handle lowercase _proxy variables"
see previous discussion: https://github.com/kubernetes-sigs/kind/issues/306

[2019-02-26 05:59] BenTheElder commented on #306
but actually the issue in this original issue should be fixed by everything necessary to boot a cluster now being in the image, I opened a new issue to track the lowercase envs

[2019-02-26 05:59] #306 closed

[2019-02-26 06:39] BenTheElder commented on #351
imo this should go in pkg/ (see comments on the PR) 👍

thanks for looking at this

[2019-02-26 09:15] tao12345666333 commented on #350
/assign  open a PR #355

[2019-02-26 16:51] #350 closed

[2019-02-26 17:06] BenTheElder commented on #350
Thanks @tao12345666333!

[2019-02-27 07:37] #328 closed

[2019-02-27 07:39] BenTheElder commented on #328
@tao12345666333 documented this 🙏
https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

[2019-02-28 15:06] munnerz commented on #220
@rohansingh do you have a link/repo containing your current implementation of `rules_kind`, or some of the macros you've built so far? I'd love to have a play with incremental loading of bazel built docker images into kind 😄 it'd make our development workflow much faster!

[2019-03-01 18:10] akutz commented on #136
Hi @bentheelder,

I'm also interested in helping with this issue as it relates to support for air gapped testing. I'm currently in-flight back to Austin, and I thought I'd get some Kind-based dev-work done. However, without a good internet connection things are just not working. I finally got past the above error, but now, due to a flaky network, the node is never ready due to the inability to ini

[2019-03-01 18:11] BenTheElder commented on #136
hey @akutz -- on the latest code in master airgapped clusters should work, the CNI does not need to be pulled, is it possible you're using an older version?

[2019-03-01 21:14] rohansingh commented on #220
@munnerz It's currently part of a closed-source repo but it's in its own workspace. I'll try to break it out into something public in the coming week.

[2019-03-04 11:52] brauner commented on #278
If you need this feature, please reply to
https://lkml.org/lkml/2018/11/7/681
and point out that you need it. We kernel people are way more likely to merge stuff like that if users reply and point out that they need it and ask for progress. :)

[2019-03-05 06:36] LalatenduMohanty opened #359 "kind create cluster fails with docker 1.13.1 on CentOS"
` kind create cluster ` is failing on CentOS 7.5 host along with docker and go 1.12.
[code]
With debug logs

[code]
[code]

[2019-03-05 07:15] LalatenduMohanty commented on #359
Things started working after I installed Docker CE

[code]

[2019-03-05 10:52] aojea commented on #205
I think that one simple solution to this problem can be adding a new field `CNI` under the `networking` struct in the new v1alpha3 API #340
This CNI field should be a string pointing to a remote or local manifest, if this field is empty we continue using current implementation.

[code]
For air-gapped environment, we can deliver manifests for each plugin that uses a local registry #110 avoiding to

[2019-03-05 17:45] BenTheElder commented on #359
Hmm Docker 1.13.1 is two years old now, we definitely don't have coverage going that far back.

[2019-03-05 17:47] BenTheElder commented on #359
I'm going to lean towards more strongly suggesting that users use an up to date docker installation for now.

I'm not sure if we can afford to actively support older releases, we should at the very least document this as a known issue though.

[2019-03-05 18:51] neolit123 commented on #205
or make the CNI field accept a mount path too...
something to note is that some plugins have more than one YAML file.

we don't have to ship the images as long as the custom CNI process is document in kind.
also a custom registry seems like an overkill for this.

also, we have to keep in mind that custom CNI falls under advanced testing use cases and making this easy to use from kind shouldn't be

[2019-03-05 18:56] neolit123 commented on #359
+1 we cannot guarantee that all distro flavors and their support matrix for docker works with kind.
18.06.1 is currently recommended.

/close

[2019-03-05 18:56] #359 closed

[2019-03-07 02:15] dims opened #361 "build node-image --type make failure on Arm64"
Please apply the patch in PR:
https://github.com/kubernetes/kubernetes/pull/75058

Then try this:
[code]

Looks like there is some disconnect with the names of the containers

[2019-03-07 02:15] dims commented on #361
@BenTheElder Any suggestions?

[2019-03-07 02:39] BenTheElder commented on #361
Yeah that looks like a mismatch between the image tags, will look further when I'm not on mobile.

[2019-03-07 08:07] mitar opened #362 "Enabling kernel monitor for kind"
I am looking into how to enable kernel monitor for kind cluster so that I could get and log events from kernel. I suspect this could help debug stability issues. But I have problems finding a standard way to do this?

https://kubernetes.io/docs/tasks/debug-application-cluster/monitor-node-health/#kernel-monitor

[2019-03-07 17:32] hjacobs opened #363 "Next release?"
The current 0.1 release does not work for me yet and I'm eagerly waiting for the next release. Building from source is not an option for me as an "end user" :smirk:

What would be the ETA for the next binary release? Thanks!

[2019-03-07 17:35] BenTheElder commented on #363
Optimistically sometime next week, few more changes in flight. 🤞
The next release should offer some major improvements 😅

[2019-03-07 17:36] BenTheElder commented on #362
We don't run NPD at all. I'm not sure that this actually makes sense given the shared kernel. You'd basically just want to run the NPD on the host.

[2019-03-07 17:36] hjacobs commented on #363
Thanks for the quick response, looking forward to it! :clap:

[2019-03-07 17:47] neolit123 commented on #362
this is the daemon-set you want to deploy for `node-problem-detector`
https://github.com/kubernetes/node-problem-detector/blob/v0.1/node-problem-detector.yaml

it loads this kernel monitor config:
https://github.com/kubernetes/node-problem-detector/blob/v0.1/config/kernel-monitor.json

i haven't tested this, but -1 on bundling this (or any similar app) with kind.

[2019-03-07 21:48] mitar commented on #362
Why not? It could help debug kind? Especially if logs would be stored together with exported kind logs.

[2019-03-07 22:38] fabriziopandini opened #365 "nodes.BootstrapControlPlaneNode does not return the expected node"
Before the latest refactor, BootstrapControlPlaneNode were always the first control plane in alphabetical order, now this is not true anymore

I'm working with a cluster with two control-plane nodes, and the `/kind/kubeadm.conf` is not created on the first control-plane node `kind-control-plane` as expected, but instead, it is created on `kind-control-plane2`.

From a quick check, the order now is

[2019-03-07 22:52] fabriziopandini commented on #365
Ok, I found, control plane nodes are sorted, but in the order is desc (instead of asc as before)
Sending a fix, because I think asc is more intuitive

[2019-03-07 23:24] #365 closed

[2019-03-08 06:34] BenTheElder commented on #362
The NPD isn't really designed for a shared kernel, I don't think it will help. It's meant for stuff like catching disk corruption IIRC.

[2019-03-08 07:12] mitar commented on #362
OK, I think I see that this is not needed to be bundled with kind because it is really easy to deploy it afterwards. I was just not familiar enough with how to do this when I opened this issue.

But I do still think it is useful to have it with kind. I am hoping to catch OOM killings of processes and I hope that by having events being visible in Kubernetes logs I can easier correlate any issues du

[2019-03-08 07:12] #362 closed

[2019-03-08 07:15] mitar commented on #362
Moreover, I think that [such checks for kubelet restarts](https://github.com/kubernetes/node-problem-detector/blob/master/config/systemd-monitor-counter.json#L27-L42) could also work well with kind and are not bound to the whole host. It could help get more useful logging messages to debug issues I have in #329 where it seems like kubelet gets killed and restarted, but while that is happening clus

[2019-03-10 20:35] fabriziopandini opened #369 "Publish node images for v.1.13.4, v1.14.0-beta.1"
Ideally, there should be a kindest/node-images for each alpha, beta, rc, minor, major.
It will be great to get this automatically triggered...

[2019-03-10 20:36] fabriziopandini commented on #369
PS. if I could help in managing image publication, let me know

[2019-03-10 21:04] BenTheElder commented on #369
I can publish these, automation is tracked in https://github.com/kubernetes-sigs/kind/issues/197

/assign
/priority important-soon

[2019-03-10 21:14] BenTheElder commented on #354
This should be a very easy change, see [the nodes package](https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/nodes/node.go), `NeedProxy` and `SetProxy` methods, Ideally these should be refactored to:
- move the proxy environment variable strings & detection into the common function
  - return a private struct with proxy metadata
  - make both `NeedProxy` and `SetProxy` use this metho

[2019-03-10 21:17] BenTheElder commented on #353
/good-first-issue

See [the site source code](https://github.com/kubernetes-sigs/kind/tree/master/site)

A redirect page should be placed in /static for each API version to link to the https://godoc.org/ page matching that version, E.G. https://godoc.org/sigs.k8s.io/kind/pkg/cluster/config/v1alpha2

A [meta-refresh](https://en.wikipedia.org/wiki/Meta_refresh) should do, it would be nice to place s

[2019-03-10 21:20] BenTheElder commented on #189
So to summarize where we are now:
- the output has been reformatted a bit, a terminal of somewhat less than 50 characters wide should be plenty
- the spinner is a little more robust now
- since the beginning the spinner supports a non-spinning fallback in CI when no TTY is detected

I'm closing this for now as I haven't seen further issues with recent versions, and we've received some positive fee

[2019-03-10 21:20] #189 closed

[2019-03-10 21:21] BenTheElder commented on #118
I would like to see a solution ship by default in 0.3. I will try to do some more testing with Local Path Provisioner soon, thank you @yasker 🙏

[2019-03-10 21:27] BenTheElder commented on #109
let's look at https://github.com/go-logr, we could use zap or klog as the default backend but leave our global logr.Logger instance swappable in our own tiny log package. Consumers could wire up their logging backend to logr.

[2019-03-10 21:28] BenTheElder commented on #363
/assign

[2019-03-11 06:03] tao12345666333 commented on #353
/assign

[2019-03-11 14:38] aojea commented on #354
/assign

[2019-03-11 15:50] aojea commented on #205
@neolit123 thanks, the mount path works with the current version using the `extraMounts` option and overwriting the `/kind/manifests/default-cni.yaml` file

[code]

[2019-03-11 18:02] BenTheElder commented on #219
/lifecycle active
will happen with #340

[2019-03-11 21:32] #353 closed

[2019-03-12 17:25] dims commented on #188
we still need CI, https://github.com/kubernetes-sigs/kind/pull/358 works well!

[2019-03-12 22:49] BenTheElder commented on #219
done in https://github.com/kubernetes-sigs/kind/pull/373

[2019-03-12 22:49] #219 closed

[2019-03-12 22:49] BenTheElder commented on #340
initial version done in https://github.com/kubernetes-sigs/kind/pull/373

will follow up to add the networking struct

[2019-03-13 01:14] neolit123 commented on #282
going back to this ticket.

i'm a bit confused what we are trying to document: sudo vs PATH.
adding binaries to PATH is something that should be known to all users and the paths vary between OSes. also Windows handles super users in a different way. not sure we want to document these aspects.

/close
/unassign

please, reopen if i'm missing something.

[2019-03-13 01:14] #282 closed

[2019-03-13 01:18] neolit123 commented on #191
do we still need to track this?

[2019-03-13 01:19] neolit123 commented on #269
/unassign
alpha3 will support this.

[2019-03-13 01:19] neolit123 commented on #262
might as well wait for kubetest2 TBH.

[2019-03-13 01:21] neolit123 commented on #266
will add a small config example for HA somewhere under here, once alpha3 is done:
https://kind.sigs.k8s.io/docs/user/quick-start/#configuring-your-kind-cluster

[2019-03-13 01:24] neolit123 commented on #133
i think the ideas to support some of the flags such as `--num-x-nodes` on the default kind CLI is running outdated. i'm suggesting to close this ticket?

[2019-03-13 01:25] neolit123 commented on #133
/unassign

[2019-03-13 02:08] tao12345666333 commented on #266
#373 has been merged. :+1:
Maybe we can add config example for HA.

[2019-03-13 02:09] neolit123 commented on #266
will do tomorrow. :+1:

[2019-03-13 02:09] tao12345666333 commented on #266
+1

[2019-03-13 09:42] aojea opened #377 "Errors running kind on windows 7 using docker toolbox"
I was trying to use ` kind` on Windows 7 with Docker-toolbox and I've found the following issues that I think makes this combination hard or very difficult to support:

1. [Docker is not mapping ports to localhost](https://github.com/docker/for-win/issues/204), so you have to locate your docker VM IP to access the port forwarded
[code]

2. `kind` uses privileged containers and remount directories,

[2019-03-13 11:13] neolit123 commented on #377
this seems like a viable fix to me. thank you.
the rest looks like things we need to document.

/kind documentation
/priority important-longterm

[2019-03-13 14:02] swachter opened #379 "using kind with gitlab kuberenetes executor fails"
I try to create a kind cluster for integration test in a gitlab-ci job. Cluster creation fails:

[code]

In the dumped logs there are two entries that may give a clue on the reason.

In `docker.log`:

[code]

In `kubelet.log`:

[code]

[2019-03-13 14:04] swachter commented on #379
This is the complete content of the dumped logs:

[code]

[2019-03-13 15:56] bouk opened #380 "Make kind load docker-image only load if the image is not already on the nodes"
Currently `kind load docker-image` always tars up the image and sends it, even if the nodes already contains the exact image. To make image loading faster, Kind should look at the image ID and only load over the image if the nodes don't have it yet.

[2019-03-13 15:57] neolit123 commented on #379
please pass `--loglevel=debug` to `kind create ....` and show the log from the terminal.

[2019-03-13 15:58] BenTheElder commented on #379
The git / dockerd is not an issue.

Kubelet not seeing a config file initially is normal, with kubeadm you let systemd crashloop kubelet until the config file is written.

Which executor are you using? Can you run kind create cluster with --loglevel=debug?

[2019-03-13 16:02] BenTheElder commented on #377
So FWIW I use [docker desktop](https://www.docker.com/products/docker-desktop) and haven't had issues. It's been a while since I ran on windows which might explain the patching regression.

[2019-03-13 16:12] swachter commented on #379
This is the debug output:

[code]

[2019-03-13 16:21] swachter commented on #379
We use the Kubernetes Executor (https://docs.gitlab.com/runner/executors/kubernetes.html#exposing-varrundockersock) with the docker.sock exposed from the node to the Kubernetes runner and then in turn to the Kubernetes Executor pod.

[2019-03-13 16:28] aojea commented on #377
It seems that different docker implementations on the OSs are another factor to take into account, docker desktop vs docker toolbox are totally different.

I`ve run ` kind` in my mac with docker desktop and worked too, I'm not confident that's going to work with docker toolbox in Mac.

I think that having a supportability table like this in the docs will  help the users

| Operating System  | Dock

[2019-03-13 16:34] BenTheElder commented on #380
So the tar loading on the node should more or less skip reading images that are already present, for large enough images skipping the tar on the host after checking may still speed up a bit though.

/kind feature
/priority important-longterm

[2019-03-13 18:51] BenTheElder commented on #269
this is done.

[2019-03-13 18:51] #269 closed

[2019-03-13 21:45] BenTheElder opened #381 "support building node images from release tarballs"
We should implement `kind build node-image --type=release-tar /path/to/release.tar` and use this for CI testing to dedupe building the binaries etc.

/kind feature
/priority important-soon
/assign

[2019-03-14 05:21] WStasW opened #385 "Cluster on reboot"
I am running kind cluster on linux machine (16.04), and it works fine from every single aspect, however. When i restart linux, or docker in general I seem to be unable to restart the cluster, and have to make it from scratch all over again. I guess the issue could be connected to this thread https://github.com/kubernetes-sigs/kind/issues/148

Is there like a work around? would be cool to have some

[2019-03-14 05:53] BenTheElder commented on #385
this is https://github.com/kubernetes-sigs/kind/issues/148

[2019-03-14 05:56] BenTheElder commented on #379
ahh, I remember some previous issues with this. We need docs for it.

see also https://github.com/kubernetes-sigs/kind/issues/303 though that assumes docker-in-docker as opposed to mounting the host socket.

[2019-03-14 06:09] WStasW commented on #385
ahw cool, what is the status on this issue ?

[2019-03-14 06:24] tao12345666333 commented on #385
Sorry for delay, I am implementing this feature.

/assign

[2019-03-14 06:51] swachter commented on #379
Thanks for that information! As of now I see 3 possibilities for running kind in a gitlab-ci build stage:

1. Use the node docker via the host socket (this is my current attempt).
2. Add docker-in-docker as a service to the build stage pod, i.e. dind runs in a separate container in the build pod. Docker is addressed via tcp://localhost:2375/
3. Use a build stage image that is derived from the dind

[2019-03-14 06:58] fabriziopandini commented on #340
@BenTheElder with latest changes we are loosing the possibility to create a cluster with an external load balancer and a single control-plane node.
This is useful for the use case when you want to test adding control-plane plane nodes at a later stage.
(There are workarounds, but I wanted to let you know because probably it is quite simple to restore this capability)

[2019-03-14 10:01] aojea commented on #354
@BenTheElder PR was merged, can we close it?

[2019-03-14 16:06] neolit123 commented on #354
/close

[2019-03-14 16:06] #354 closed

[2019-03-14 16:07] neolit123 commented on #385
/close
duplicate of https://github.com/kubernetes-sigs/kind/issues/148

[2019-03-14 16:07] #385 closed

[2019-03-14 17:28] BenTheElder commented on #340
@fabriziopandini that is a great point, thanks! We can definitely make this possible again :+1:

[2019-03-14 17:28] BenTheElder commented on #262
SGTM

[2019-03-14 19:50] BenTheElder commented on #379
I'm not quite familiar enough with gitlab to know which is preferable unfortunately, perhaps @munnerz is.

I think 2.) mostly works but either requires scheduling your workload that talks to the cluster as a container in that dind, or fixing up the network + kubeconfig to properly point at the cluster since the network will be inside that dind. 1.) may have similar issues.

3.) sounds more like wh

[2019-03-15 09:55] swachter commented on #379
I successfully followed option 3. Thank you for your help!

For reference:

I created a Docker image based on dind, added kubectl, helm, kind, and a saved kind node image that is preloaded with some images (tiller, postgres, openfaas). After I added the two mounts mentioned in #303 the setup worked. A tricky part was that the docker daemon had to be started manually in the job script because gitla

[2019-03-15 09:55] #379 closed

[2019-03-15 15:18] Kuqd commented on #178
Hello there !

Any news on this ? Do you need a hand  or @kris-nova got this covered ?

Thanks !

[2019-03-15 15:37] BenTheElder commented on #178
Hi! We're been planning more networking options as part of the v1alpha3 API, I implemented most of it already and have a second PR on the way 😅

[2019-03-16 01:51] BenTheElder commented on #191
I think we're in pretty good shape now.

[2019-03-16 01:51] #191 closed

[2019-03-18 16:13] BenTheElder commented on #154
Currently working on moving more of the flags (ports) behind abstractions borrowed from CRI.
I'd like to isolate all knowledge of docker / podman style flags to pkg/container/... by the next milestone, at which point we should be able to do podman support properly with it's own implementation of all functionality.

[2019-03-18 19:19] akutz opened #387 "Kind, DinD, and bind mounts"
Please note for the purposes of this issue, assume that all commands are executed from a local clone of https://github.com/kubernetes/cloud-provider-vsphere.

I'm trying to figure out how to make Kind's `extraMounts` feature work when running in Docker-in-Docker (DinD). The following works:

[code]

However, when I try to launch Kind from inside the first container I receive the following error:
[

[2019-03-18 19:26] akutz commented on #387
Wow. So I just ran `make integration-test` locally and it failed with the same. It used to work. I wonder if trying to get it working with DinD borked something, because this gets **real** weird:

[code]

A directory? And yet...

[2019-03-18 19:40] akutz commented on #387
Okay, I seem to have had some look by removing the `type: File` in the `kind-config.yaml`. I'm going to try this in a fresh environment and if it works I'll close the issue.

[2019-03-18 19:56] akutz commented on #387
I’m closing the issue. Once again it was an ID-10-T error. I originally gave it the wrong local host path, and so it created directories for the missing files, and then subsequent attempts just used the same path and gave the error.

My fault for having the same project cloned twice on my local host. I had moved it out of the GOPATH and neglected to remove the original copy.

[2019-03-18 19:56] #387 closed

[2019-03-19 08:03] neolit123 opened #388 "consider skipping cluster validation from `kind get kube-config`"
currently `kind get kubeconfig-path` checks if a cluster with `--name x` exists before returning the kubeconfig path. this is not a bug, as the command can also be used as a validator.

in this discussion:
https://kubernetes.slack.com/archives/CEKK1KTN2/p1552940528530500
it was proposed that this command can just return the path even if a cluster doesn't exists and don't fail. commands such as `ki

[2019-03-19 08:06] neolit123 commented on #388
unless there are objections i will send a PR for this?

[2019-03-19 09:46] tao12345666333 commented on #388
https://github.com/kubernetes-sigs/kind/blob/fae116145c4cd7885bb334d286a9a9080d91490e/cmd/kind/get/kubeconfigpath/kubeconfigpath.go#L56-L63

Is this part? I agree.
Thanks. :heart:

[2019-03-19 10:18] neolit123 commented on #388
@tao12345666333 yes, that's the code.

[2019-03-19 18:30] BenTheElder commented on #363
slipped again :(, but on the plus side this is the last thing in the milestone: https://github.com/kubernetes-sigs/kind/pull/390

[2019-03-19 18:30] BenTheElder commented on #363
https://github.com/kubernetes-sigs/kind/milestone/4 just needs the network options, need to test it a bit more and get it reviewed and then we're ready to ship 0.2 with v1alpha3 :crossed_fingers:

[2019-03-19 18:34] #388 closed

[2019-03-20 11:52] aojea opened #391 "update CNI version"
Seems that[ kubernetes bump the CNI version](https://github.com/kubernetes/kubernetes/pull/75455/files) to [0.7.5 ](https://github.com/containernetworking/plugins/releases )to deal with some portmap bugs, it also fixes the Docker IPv6 problem.

I think that we should do the same https://github.com/kubernetes-sigs/kind/blob/0c1210661b5c796eb8953d5dc3b158661e6236cb/images/base/Dockerfile#L80

[2019-03-20 12:31] #340 closed

[2019-03-20 13:43] aojea commented on #391
/assign

[2019-03-20 14:34] aojea commented on #380
/assign

[2019-03-20 15:35] BenTheElder commented on #363
#390 is in, will upgrade the images and start writing release notes :-)

[2019-03-20 15:35] BenTheElder commented on #391
any breaking changes for older kubernetes?

[2019-03-20 15:36] BenTheElder commented on #369
/lifecycle active

[2019-03-20 16:06] aojea commented on #391
this update installs the latest CNI plugins, it doesn't affect Kubernetes per se, only the network plugins that use the standard CNI plugins.
In the `kind` case it's good because `weave` seems to use the standard ` portmap` plugin and this version address some issues with it

[2019-03-20 16:46] #391 closed

[2019-03-20 16:49] rohansingh commented on #380
I'm not sure if this should be a separate issue, but I think `kind` should also only load layers that are not already present on any given node. Here's an example of that kind of incremental load logic:
https://github.com/bazelbuild/rules_docker/blob/master/container/incremental_load.sh.tpl

I'm using that internally to wrap `kind load image-archive` and only providing layers that are missing in a

[2019-03-20 16:57] rohansingh commented on #380
Here's the key insight from that script, by the way:

[2019-03-20 17:06] BenTheElder commented on #369
I published 1.13.4 for https://github.com/kubernetes-sigs/kind/pull/394, we still need automation for the rest. I think at least https://github.com/kubernetes-sigs/kind/issues/381 will make it easier / cheaper to consume the existing non-kind CI builds.

[2019-03-20 17:29] BenTheElder commented on #369
not sure how we want to handle the betas etc. ideally this should be consistent and automated.

[2019-03-20 18:52] BenTheElder commented on #178
this is in config now in #390

[2019-03-20 18:52] #178 closed

[2019-03-20 19:11] #266 closed

[2019-03-20 19:47] BenTheElder commented on #363
it's out https://github.com/kubernetes-sigs/kind/releases/tag/0.2.0

[2019-03-20 19:47] #363 closed

[2019-03-21 06:30] dims commented on #110
fyi, federation folks are using this right now https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/create-clusters.sh

[2019-03-21 07:30] jdolitsky commented on #118
Using `kind` for the first time tonight (..wow and thank you) and I came across this issue-

Just wanted to confirm that rancher/local-path-provisioner does indeed successfully and dynamically provision volumes with a fresh install of both kind and local-path-provisioner.

Had to make a few tweaks after install in order to toggle the default storage class:
[code]

I was then able to install the [H

[2019-03-21 13:47] mikkeloscar commented on #284
I just hit this issue when trying to run https://github.com/kubernetes-incubator/metrics-server in a `kind` cluster.

The metrics server tries to go to the kubelets via the node hostname and fails:

[code]

Would be nice if we could configure CoreDNS to resolve the node names.

[2019-03-21 13:49] h0tbird commented on #110
Alternatively you can also do something like this:
[code]

[2019-03-22 07:25] joejulian commented on #118
volumes are not being automatically provisioned because kube-controller-manager doesn't have `--enable-hostpath-provisioner` set

[2019-03-22 12:18] aojea commented on #280
Google doc with a proposal to support IPb6 and Dual stack clusters in kind https://docs.google.com/document/d/17e3TWWLfnIZrsVxpln9wNi4x0JVn2oHIHDYjaeENdVE/edit?usp=sharing

[2019-03-22 20:18] hjacobs opened #398 "Resource Metrics API (metrics-server)"
The [metrics-server](https://github.com/kubernetes-incubator/metrics-server) should be installed out of the box to enable `kubectl top ..` and tools like [kube-ops-view](https://github.com/hjacobs/kube-ops-view). I tried to install the metrics-server, but it did not work for me, it just logs errors like:

[code]

[2019-03-22 20:24] BenTheElder commented on #398
Our out of the box install is currently kubeadm + cni. I'd want to know why kubeadm doesn't configure it by default first 🤔

[2019-03-22 20:37] hjacobs commented on #398
I really want to replace my local Minikube environment with kind and the Metrics API is essential for this to happen :smile:

I would also be fine with the Metrics API being an "addon" which can be easily enabled via `kind` CLI --- Minikube does it like this with the old (deprecated) "heapster" name: https://github.com/kubernetes/minikube/blob/master/docs/addons.md

[2019-03-22 22:40] neolit123 commented on #398
try the manifests from here:
https://github.com/luxas/kubeadm-workshop/tree/master/demos/monitoring

but kubeadm is not bundling metrics support, because the kubeadm cluster is a minimal viable one - i.e. no addons except kube-proxy and a DNS server.

/triage support

[2019-03-23 08:57] hjacobs commented on #148
:+1: for the new `restart cluster` command!

[2019-03-23 09:21] hjacobs commented on #398
@neolit123 thanks for the hint, but that manifest (which runs the old v0.2.1 of metrics server btw) also did not work for me. The error from metrics server:

[code]

I'm confused on what the correct way to fix this is: apparently the old version of metrics server (v0.2.1) is still the way to go? The flags differ between the current (v0.3.1) and the old version (v0.2.1), also not sure if I need to

[2019-03-23 14:18] amwais commented on #148
The `restart cluster` command will make kind the top of his class. Without it, it's a painful process to build test envs upon since restarting the whole process means re-downloading all the docker images from scratch, a lengthy process.

[2019-03-23 14:23] tao12345666333 commented on #148
I will sent a PR next week. (

[2019-03-23 14:32] amwais commented on #148
Looking forward! Is there any ticket for that, for tracking purposes?

[2019-03-23 14:57] tao12345666333 commented on #148
not yet. I will update to the progress here.

[2019-03-25 12:41] pbalogh-sa opened #400 "Provisioning in volume plugin "kubernetes.io/host-path" is disabled"
Hello,

I tried to deploy postgresql (with helm) with PersistentVolumeClaim as backend and the PersistenVolumeClaim is still pending state:
[code]
And PersistentVolume doesn't exist.

kubectl get events related line
[code]

How can I enable provisioning in volume plugin?

Kind version: 0.3.0-alpha
kubectl version:
[code]

[2019-03-25 13:12] aojea commented on #400
I guess #397 fix this

[2019-03-25 15:43] josdotso opened #401 "Support for stdin config"
Is there some way other than shell hacks to do stdin config?

This didn't work for me:
[code]

[2019-03-25 15:49] BenTheElder commented on #118
https://github.com/kubernetes-sigs/kind/pull/397 will enable the kubernetes built in host-path provisioner, but for multi-node we probably still want local-path-provisioner. today we meet about kind 0.3 planning :sweat_smile:

[2019-03-25 15:52] BenTheElder commented on #401
there is not currently, but this would be pretty easy to add.

[2019-03-25 15:58] swachter commented on #284
I had a similar problem where a pod in kind cluster could not resolve github.com. The reason seems to be that the default DNS server (8.8.8.8) is blocked in our network. After I added an /etc/docker/daemon.json to the kind node image with a dns entry including our dns the pod could resolve github.com.

[2019-03-25 16:04] BenTheElder commented on #284
@mikkeloscar that's an interesting problem, I wonder why metrics-server is using hostnames rather than going via the node IP :thinking:

@swachter that's a good workaround, FYI though instead of editing etc/docker/daemon.json on the kind nodes for this you should be able to use one of these more portable options:

https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/
https://

[2019-03-25 16:07] BenTheElder commented on #284
for metrics server https://github.com/kubernetes-incubator/metrics-server/issues/184#issuecomment-449200019 :thinking:

[2019-03-25 16:20] BenTheElder commented on #118
should be fixed for out of the box clusters (thanks @joejulian !), re-opening to track for for multi-node clusters

[2019-03-25 21:31] BenTheElder commented on #400
https://github.com/kubernetes-sigs/kind/pull/397 is in, this should be enabled. Note that this isn't ideal for multi-node,  https://github.com/kubernetes-sigs/kind/issues/118 tracks the broader dynamic PV issue

[2019-03-25 21:31] #400 closed

[2019-03-25 21:45] BenTheElder commented on #148
tentatively tracking for 0.3

[2019-03-25 21:47] BenTheElder commented on #118
/remove-help
/assign
/lifecycle active

[2019-03-25 21:52] aojea commented on #401
/assign

[2019-03-25 22:00] hjacobs commented on #363
@BenTheElder thanks! The new release works for me and I already created my first issue (#398) :smile:

[2019-03-26 08:08] pbalogh-sa opened #403 "Persistent Volume Claims with a subPath cause to a "no such file or directory" error"
In case of PVC with subpath causes an "no such file or deirectory" error

[code]

[code]

Kind version: 0.3.0-alpha
kubectl version
[code]

[2019-03-26 08:54] aojea commented on #403
This seems related https://github.com/kubernetes/minikube/issues/2256
I guess that the solution is to fix this https://github.com/kubernetes-sigs/kind/issues/118

[2019-03-26 09:48] pbalogh-sa commented on #403
thanks @aojea , it works

[2019-03-26 09:48] #403 closed

[2019-03-26 10:00] tao12345666333 opened #405 "docker readiness timeout may be too low on overloaded machines"
sometimes there has a panic, when using kind to create a HA cluster.

[code]

maybe the channel has been closed.

https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/internal/create/nodes.go#L96-L135

/cc @BenTheElder

[2019-03-26 10:15] neolit123 commented on #405
@tao12345666333
can you please share your config file and the system specification?

/kind-bug
/priority important-soon

[2019-03-26 10:22] aojea commented on #405
I hit the same issue several times, mainly when using a large number of nodes

The problem is that the current timeout is set to 30 seconds
https://github.com/kubernetes-sigs/kind/blob/f5fe35507a94031d8bf5221da61c179da98a32e0/pkg/cluster/internal/create/nodes.go#L161

Bumping the value solved the problem to me but I thought that was a problem of slowness in my local environment.

Should we bump th

[2019-03-26 10:23] neolit123 commented on #405
that might be it, it's also fairly slow on my machine as well.
let's wait on @BenTheElder to comment.

[2019-03-26 10:28] tao12345666333 commented on #405
The config file:

[code]

The system info:

[code]

[2019-03-26 21:10] BenTheElder commented on #405
do you experience this with single node clusters? I think the issue is partly that 5 nodes should need something like 10GB ram so running that many nodes is swapping like crazy.

[2019-03-26 21:11] BenTheElder commented on #405
we might need an arbitrarly large timeout for this, but we do want some sort of timeout to prevent CI hanging 🤔

what did you all need to bump it to? I suspect it will grow as your containers are increasingly swap backed. (IE if you added more nodes to an overloaded machine)

[2019-03-26 21:43] aojea commented on #405
why don´t implement a simple backoff algorithm with the max_number of retries equal to the number of nodes / constant (2 per example) ?

[2019-03-26 21:52] BenTheElder commented on #405
possibly we should not do that because it's not actually related to the number of nodes, it's related to how overloaded your machine is. there's probably a better option 🤔

[2019-03-26 21:53] BenTheElder commented on #405
we also don't want actual failures to take excessively long.

[2019-03-26 22:30] BenTheElder opened #406 "racy / panicking channel usage"
on my laptop with pr #404.
[code]

issue https://github.com/kubernetes-sigs/kind/issues/405
[code]
/kind bug
/priority critical-urgent
/assign

[2019-03-26 22:32] BenTheElder commented on #405
we have more similar panics, split that out to #406, using this issue to track the docker timeout.

we may actually just have to do the backoff algorithm, but I suspect we have a more general problem with the behavior when users create more nodes than will reliably fit on their machine (which also may be helped by trying to lighten the load)

[2019-03-27 02:58] #406 closed

[2019-03-27 03:00] BenTheElder commented on #405
Should not panic anymore at least. Timeout still needs thought / changes.

What values are working for your usage?

[2019-03-27 03:01] tao12345666333 commented on #405
[code]

In fact, my intention to mention the issue is the problem of panic, not the timeout, although this is also a problem. :smile_cat:

[2019-03-27 03:04] tao12345666333 commented on #405
+1

I change it to 50s, it works fine for me.
(But the appearance of timeout is random, when timeout is 30s.

[2019-03-27 06:49] aojea commented on #405
I'm working with timeout 60 sec without problems since last week

[2019-03-27 09:31] tao12345666333 commented on #148
I have sent a PR #408 .

[2019-03-27 14:18] mgdevstack opened #409 "node-image build failure due to unavailability of kubeadm build artifact"
Building node-image is getting failed as `kubeadm` build artifact is not getting copied from the container to host machine.
**Note: Observed failure on MacOS but same is getting succeeded from Ubuntu.**

Is there any way we can find the root cause of the issue?

Following are the logs from system (MacOS)
[code]

note:
-- `make` is successfully building all necessary binaries.
-- `kind build node-i

[2019-03-27 14:34] mgdevstack commented on #409
Docker Version: 2.0.0.3 (31259) Stable
MacOS: 10.13.6 (17G3025)
K8S src: master
kind version: 0.3.0-alpha

[2019-03-27 14:38] cyriltovena opened #410 "Support Windows "nodes" (not hosts, which are supported)"
Since 1.14 Kubernetes provides stable windows nodes. It would be great to be able to run also windows nodes on KIND allowing fast development and testing for windows containers.

# Possible implementation

Obviously as of today only windows support both linux and windows containers so this feature should only be focused for the windows version of KIND.

Since [LCOW](https://docs.microsoft.com/en-u

[2019-03-27 14:49] neolit123 commented on #410
the first prerequisite would be that kubeadm has to support Windows nodes propertly:
https://github.com/kubernetes/kubeadm/issues/1393

we have this tracked for 1.15, but some help from SIG Windows will be required.

/priority backlog
/kind feature

[2019-03-27 15:20] BenTheElder commented on #410
Another issue is that our CI is not Windows capable currently, and the images would have to be built from Windows.

As-is our Windows-as-a-host support is mainly trying hard not to break it (due to resources). I think @neolit123 is the only active contributor working from Windows. I occasionally test from a personal machine.

Last I checked the kernel version compatibility issue would make this tr

[2019-03-27 15:32] Kuqd commented on #410
I'm fine with that just putting this out there basically.

Le mer. 27 mars 2019 à 11:20, Benjamin Elder <notifications@github.com> a
écrit :

--
Cyril Tovena

[2019-03-27 15:46] BenTheElder commented on #409
https://github.com/kubernetes/kubernetes/issues/75679

https://github.com/kubernetes/kubernetes/pull/75670

[2019-03-27 16:32] mgdevstack commented on #409
Thanks for pointing @BenTheElder. Seems issue due to k/k.
I'll keep track and would close this if building artifacts are fixed.

[2019-03-27 17:46] jteng opened #411 "Load balancer external-ip pending"
I deploy the same deployment and expose it via the same `kubectl expose deployment supervisor-deployment --type=LoadBalancer --name=supervisor-service` command, in docker-desktop, a service is created successfully with external-ip assigned, but in kubernetes-admin@kind cluster, the service is created with external-ip pending forever.

here is the output from kubectl get svc on docker-desktop:
`sup

[2019-03-27 18:08] BenTheElder commented on #411
kind does not support type=LoadBalancer currently, load balancers are cloud provider specific. see #99 for some discussion around this.

[2019-03-27 19:06] BenTheElder commented on #409
that issue should be fixed with the latest k/k changes, does updating work for you?

[2019-03-27 19:11] mgdevstack commented on #409
No, even after having the latest updates from kubernetes/kubernetes#75679, It's not working. (same issue of artifact)

Basically `Kind` is a super important Conformant tool available which allows having multi-node cluster. ASAP this problem is resolved, I'll be happy to extend work with this cluster.

[2019-03-27 19:14] BenTheElder commented on #409
that looks suspect

[2019-03-27 19:23] BenTheElder commented on #409
so that particular output seems to be coming from https://github.com/kubernetes/kubernetes/blob/a7966022d78bce63fa8212ea2519c99f49c2570e/build/common.sh#L298-L300

on my mac `which ip` returns no result, what is `ip` on your machine??

[2019-03-27 19:27] mgdevstack commented on #409
From log, its obvious that few binaries are getting build into darwin and few into linux but `kubeadm` is expected to be present inside `dockerized/bin/linux/amd64/kubeadm` leading to error

Generated binaries at my end are -
/go-workspace/src/k8s.io/kubernetes/_output/dockerized
├── bin
│   ├── darwin
│   │   └── amd64
│   │       ├── kubeadm
│   │       ├── kubectl
│   │       └── kubelet
│   └─

[2019-03-27 19:28] mgdevstack commented on #409
For me, its `/usr/local/bin/ip`

[2019-03-27 19:32] swachter opened #412 "sporadic cluster creation timeout"
We use `kind` to create a local Kubernetes cluster during a Gitlab-CI job. The cluster creation fails sporadically with a timeout.

Attached is

- the debug output of `kind`
- the output of `systemctl status kubelet`
- the output of `journalctl -xeu kubelet`

The `systemctl` and `journalctl` commands where executed inside the `kind-control-plane` Docker container. The output of `docker ps -a` insi

[2019-03-27 19:38] mgdevstack commented on #409
Seems build container has no `ip` file available. This image `kube-build:build-a11a133c2a-5-v1.12.1-2 ` can be updated to include `ip` file by appropriate package.

[2019-03-27 19:40] BenTheElder commented on #409
`ip` would be on the host, it's trying to figure out the rsync bit.

[2019-03-27 19:49] BenTheElder commented on #409
I think I found the bug 🤞

[2019-03-27 20:01] aojea commented on #412
You have several errors about no space left in the device

sys/fs/cgroup/blkio/docker/ebd0b4c8f8840ef15d77d256089b3c79bdfe85ab8152559f5abd5ee5b67c4463/system.slice: no space left on device

Is it possible that's the cause?

[2019-03-27 20:05] swachter commented on #412
The "no space left messages" are definitly worrisome. I wonder, if something is wrong with disk space limits in view of three levels of containerization.

[2019-03-27 20:06] mgdevstack commented on #409
I'm also trying to understand from `hack/lib/golang.sh`, Which line is deciding to generate binaries for which platform and at the end how these binaries would be picked up from their corresponding path.

[2019-03-27 20:08] jteng commented on #411
thanks @BenTheElder

[2019-03-27 20:08] #411 closed

[2019-03-27 20:42] BenTheElder commented on #412
quick response between meetings, apologies for terseness!

kubelet will see the actual backing host disk. disk space has no isolation, and kind does not do disk eviction etc. because we cannot guarantee how much space users will reserve on the host.

if you're actually out of space though, there's _really_ not much kind can do.

[2019-03-27 21:06] BenTheElder commented on #409
this is possibly fixed now https://github.com/kubernetes-sigs/kind/pull/413, about to verify

[2019-03-27 21:33] BenTheElder commented on #409
this _should_ be fixed by #413, will leave this open until you can confirm

[2019-03-27 21:48] BenTheElder opened #414 "0.2.1 release?"
So far the major changes since 0.2 are:
- Fix for panic on bringup error (less critical since the CLI is exiting with a failure anyhow) https://github.com/kubernetes-sigs/kind/pull/407
- Fix for building on mac / not-linux (fairly critical for kubernetes iteration) https://github.com/kubernetes-sigs/kind/pull/413

I think the latter in particular might warrant a quick patch release.

[2019-03-28 00:31] tao12345666333 commented on #414
:+1:

and should we change default node image to kubernetes v1.14 ?

[2019-03-28 00:32] BenTheElder commented on #414
a patch release probably shouldn't do that. just bug fixes.

[2019-03-28 00:53] neolit123 commented on #414
+1

[2019-03-28 01:56] mgdevstack commented on #409
Many thanks for such a quick troubleshoot and issue fix. It's working. We can close this.

[2019-03-28 02:03] tao12345666333 commented on #409
Thanks all. :+1:

/close

[2019-03-28 02:03] #409 closed

[2019-03-28 02:03] BenTheElder commented on #409
awesome! I'm cutting a patch-release with the fix :sweat_smile:

[2019-03-28 03:16] tao12345666333 opened #417 "incorrect kubeconfig for HA cluster"
The HA kind configfile:

[code]

Use kind create cluster with the configfile:

[code]

The cluster info:
[code]

The docker ps output:

[code]

The kubeconfig set `server` port to `41920`.

**The `41920` is `ha-control-plane`'s port rather than `ha-external-load-balancer`'s port.**

[2019-03-28 03:17] tao12345666333 commented on #417
/cc @fabriziopandini @BenTheElder

[2019-03-28 03:20] tao12345666333 commented on #414
Maybe we should fix #417 before publish 0.2.1 ?

[2019-03-28 03:26] BenTheElder commented on #414
I don't think so, 0.2.1 had some critical bugs for zero-options usage of kind and is already tagged, users of HA / affected by #417 should be good to install from HEAD once we get a fix in.

[2019-03-28 03:32] tao12345666333 commented on #414
ok, I agree. :+1:

[2019-03-28 03:34] BenTheElder commented on #414
perhaps a second patch release?? :thinking:

I'd like to make releases relatively frequent, but I really want to get these fixes out ASAP (posting the binaries / release notes right now, had to get dinner...)

We should definitely get #417 fixed soon, HA testing is an important feature too.

[2019-03-28 04:21] BenTheElder commented on #414
release is done. will look into #417

[2019-03-28 04:21] #414 closed

[2019-03-28 04:29] BenTheElder commented on #417
/assign
/lifecycle active

[2019-03-28 04:53] BenTheElder commented on #417
filed https://github.com/kubernetes-sigs/kind/pull/418

[2019-03-28 04:55] BenTheElder commented on #401
fixed in https://github.com/kubernetes-sigs/kind/pull/402

[2019-03-28 04:55] #401 closed

[2019-03-28 05:36] tao12345666333 commented on #414
maybe we need. HA is 0.2's important feature.

[2019-03-28 06:06] tao12345666333 opened #419 "HAProxy issue (maybe)"
when I test with #418, it works fine. :+1:

I want to test cluster `HA`.  i.e.

configfile:

[code]

cluster info:
[code]

containers info:

[code]

And I do something below:

* **stop `ha-control-plane` , kubectl can get response **
[code]

* **stop `ha-control-plane2`, kubectl can't get respone (EOF)**

[code]

[2019-03-28 06:13] tao12345666333 commented on #419
[code]

I have test the network:
[code]

[2019-03-28 08:42] swachter commented on #412
I checked the disk usage and it seems that there should be space. Yet, I am not sure how the interpret the output of `docker system df`. Here is the output of `docker system df` for all 3 involved docker daemons:

1. On the cluster node (GKE)

[code]

2. In the pod (i.e. the dind service in the pod)

[code]

3. In the kind-control-plane

[code]
In addition, here is the output of `df` on the cluste

[2019-03-28 08:46] swachter commented on #412
Good (bad) news: The creation failure is permanant now (at least the last couple of times)  ;-(

[2019-03-28 09:17] swachter commented on #412
I seems that our problem is related to leaking cgroups. The error message "no space left on device" is given while accessing `/sys/fs/cgroup/...` folders. A ticket that hints into that direction is: https://github.com/moby/moby/issues/29638

I assume that the problem has nothing to do with kind and therefore close the ticket.

[2019-03-28 09:17] #412 closed

[2019-03-28 11:24] machine424 commented on #379
I run into a similar problem, I'm using dind as a service, the cluster is created but the master doesn't get ready, it's a problem with the CNI i think, tried on kind 0.2.1 and 0.2.0 gave as logs (only the tail) :

[code]

[code]

[code]

At the end of docker-info.txt, I get
[code]

When I tried with kind 0.0.1, the cluster is not created due to:

[code]

tell me if you need more logs.

[2019-03-28 12:17] aojea commented on #419
Just curious @tao12345666333 , I see that you have connectivity to the control-plane3 node, but are you able to reach the API port from the haproxy node?

`docker exec -it ha-external-load-balancer curl  https://172.17.0.6:6443` or `nc -vz 172.17.0.6 6443`

[2019-03-28 12:40] swachter commented on #412
For the record: restarting the node helped.

[2019-03-28 12:44] tao12345666333 commented on #419
Thanks for your point. :+1:  I will try it later.

[2019-03-28 13:05] machine424 commented on #379
Using kind 0.0.1, I get

[code]

[2019-03-28 13:58] neolit123 commented on #379
move the latest release please.

[2019-03-28 14:10] machine424 commented on #379
I tried all the versions, please read the first part of my first comment (https://github.com/kubernetes-sigs/kind/issues/379#issuecomment-477555051)

[2019-03-28 15:44] BenTheElder commented on #417
/close

[2019-03-28 15:44] #417 closed

[2019-03-28 16:08] aojea commented on #379
@machine424 I guess that the comment was related to paste the logs of the failure when running the last version :smile:
Several errors related to the storage class were fixed lately

[2019-03-28 17:20] BenTheElder commented on #405
perhaps let's bump it to 60s for now, add a TODO, and come back to it then 🤔

[2019-03-28 17:35] neolit123 commented on #379
yes, please post logs using `--loglevel=debug` from the *latest* kind release.

[2019-03-28 23:24] tao12345666333 commented on #405
or maybe we could add a flag/config to change it?

[2019-03-29 00:03] BenTheElder commented on #405
-1 to more flags! :P

setting this in either is going to be brittle since the value is not portable. the only reason we have a bound at all is to avoid indefinite hang, at some point this value will become quite unreasonable :sweat_smile:

[2019-03-29 00:09] tao12345666333 commented on #405
hah I agree with you.
Today I may test its time on different configured machines, I hope to provide some advice.

[2019-03-29 07:39] swachter opened #421 "possibly leaking memory cgroups"
I repeatedly created and deleted kind clusters and watched the number of cgroups under /proc/cgroups (see attached file). Here is a short summary. The columns show the initial number of cgroups, and after repeatedly creating or deleting a kind cluster:

| subsys_name | initial | created | deleted | created | deleted | created | deleted |
| --- | --: | --: | --: | --: | --: | --: | --: |
| cpuset

[2019-03-29 08:52] tao12345666333 commented on #419
Thanks. @aojea

The `ha-external-load-balancer` node can't connnect to `control-plane3` node. Because the `api-server` Pod is down.

The reason is the cluster's etcd cluster unavailable (we have 3 node, now only have 1 node.)

I think we could close it. Thanks all. :+1:

/close

[2019-03-29 08:52] #419 closed

[2019-03-29 09:35] machine424 commented on #379
Here we go: (I repeat, I don't know if the volumes specified in https://github.com/kubernetes-sigs/kind/issues/303 are mounted to the runner/k8s executor)
[code]

[2019-03-29 09:38] swachter commented on #379
This time the cluster creation succeeded.

[2019-03-29 09:50] machine424 commented on #379
Actually, as I said, the cluster is created with kind 0.0.0 and 0.2.1 but the master doesn't get ready (CNI problem), with kind 0.0.1 the cluster is not created at all, please read my first comment: https://github.com/kubernetes-sigs/kind/issues/379#issuecomment-477555051

[2019-03-29 15:05] BenTheElder commented on #421
Actually leaking them is not ideal but is not overly suprising, this is definitely the most likely resource to leak. The limited upside is that they shouldn't persist a reboot.

Can we get more system info? Kernel version?

[2019-03-29 15:11] BenTheElder commented on #421
There's been kernel issues around this in the past https://bugzilla.kernel.org/show_bug.cgi?id=12464

[2019-03-29 19:27] BenTheElder commented on #398
sorry, I'm not particularly familiar with this, I'll see if I can find someone who is

[2019-03-29 20:05] neolit123 commented on #398
those manifests are old, try these for 0.3.1:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/metrics-server/metrics-server-deployment.yaml

[2019-03-29 20:26] josdotso commented on #401
Thanks all!

[2019-03-30 10:17] hjacobs commented on #398
@neolit123 I tried the 0.3.1 manifests before and did not succeed so far :disappointed:

[2019-03-31 04:30] bugbuilder commented on #398
@hjacobs
please add this flags to your metric-deployment
[code]

[2019-03-31 08:51] hjacobs commented on #398
@bugbuilder yeah! That (adding the two args) worked with the official metrics server manifests in https://github.com/kubernetes-incubator/metrics-server/tree/master/deploy/1.8%2B :tada:

[code]

[2019-03-31 09:15] hjacobs commented on #398
[kube-ops-view](https://github.com/hjacobs/kube-ops-view) now also works fine on kind :tada:
![Screenshot_2019-03-31_11-14-20](https://user-images.githubusercontent.com/510328/55287217-51966c80-53a6-11e9-94b9-ff94f62dba08.png)

[2019-03-31 09:16] hjacobs commented on #398
So how can we get the Resource Metrics API deployment packaged into the default kind cluster creation (or as addon)?

[2019-03-31 09:23] bugbuilder commented on #398
@hjacobs I just create [kind-dev](https://github.com/bennu/kind-dev) (WIP) that will help me with addons like: metallb, ingress-nginx, metrics, etc.

[2019-03-31 09:25] hjacobs commented on #398
I created a [gist for the working Metrics Server API deployment manifests](https://gist.github.com/hjacobs/69b6844ba8442fcbc2007da316499eb4), so anybody can just try it out:

[code]

[2019-03-31 09:28] hjacobs commented on #398
@bugbuilder thanks, but ideally standard addons should be part of the `kind` CLI (like `kind enable addon metrics-server` or similar). This is how Minikube does it.

[2019-03-31 09:32] bugbuilder commented on #398
Yep, but in the meantime I need something to start working with Kind. #253

[2019-04-01 06:29] swachter commented on #421
The tests where done in a VirtualBox setup by Vagrant (`config.vm.box = "ubuntu/bionic64"`). `uname -a` outputs:

[code]

On our CI-Environment we also seem to suffered from leaking cgroups. On that environment `uname -a` yields:

[code]

[2019-04-01 07:19] aojea commented on #421
This is suspiciously similar https://github.com/moby/moby/issues/29638

[2019-04-01 09:16] swachter commented on #421
Another similar issues is https://github.com/google/cadvisor/issues/1581. I used a script mentioned in that ticket ([inotify_watchers.sh](https://github.com/yousong/gists/blob/master/shell/inotify_watchers.sh)) to output the installed watchers. It seems that after a `kind delete cluster` all watchers are removed. Therefore I think that the increasing number of cgroups is the root cause because cAd

[2019-04-01 11:17] neolit123 commented on #421
this also happens using kubeadm directly:
`kubeadm init ... && kubeadm reset`

docker: 18.06.3 (cg driver = systemd)
kernel: 4.13.0-41-generic

but the amount of leakage is fairly low.
apart from testing a different version of docker and the linux kernel, i don't think there is much we can do here.

[2019-04-01 14:06] swachter commented on #421
The amount of leakage increases if some components are installed in the cluster on each create/delete cluster cycle. The original measurements where taken on newly created, empty clusters. With some few components being installed on each cycle the number of leaked memory cgroups increased to ~ 30 for each cycle.

[2019-04-01 14:21] aojea commented on #421
If the new components are new containers and assuming we are hitting one of the bugs linked with  docker leaking cgroups, it can make sense since the more containers the more leakages

[2019-04-01 17:51] BenTheElder commented on #421
has anyone checked https://github.com/moby/moby/issues/29638#issuecomment-380833806 yet?

I will look into this soon but haven't gotten to it yet.

[2019-04-01 18:47] neolit123 commented on #421
with the cgroup memory control cap in the kernel of 65535 (USHRT_MAX) it will take a while.
but i can see this being a problem in a persistently running setup without reboot.

[2019-04-01 21:26] BenTheElder commented on #421
looking back at https://github.com/kubernetes-sigs/kind/issues/412, is it possible we're hitting inotify limits instead?

I've yet to find anything in your logs that wasn't watch related
[code]

[2019-04-01 21:27] BenTheElder commented on #412
FTR: pretty sure this is running out inotify watches https://github.com/google/cadvisor/issues/1581#issuecomment-275559365

[2019-04-01 21:27] BenTheElder commented on #421
https://github.com/google/cadvisor/issues/1581#issuecomment-275559365

[2019-04-01 21:47] BenTheElder commented on #421
The inotify scripts are not working quite right for me.

It's also entirely possible that we don't _leak_ watches or groups at all, and that something else is just using up the limit when you have many clusters etc. The default inotify limits are rather low on many setups (looks like ubuntu is 8192).

Every failure in that log appears to be related to setting up an inotify watch.

Based on some te

[2019-04-01 21:51] BenTheElder commented on #421
I'm also seeing that memory groups in `/proc/cgroups` does seem to stay higher for some time (unlike `lscgroup`), but drop later, which I can force early with `sync; sudo bash -c 'echo 1 > /proc/sys/vm/drop_caches'`

[2019-04-01 21:58] aojea commented on #412
@swachter can you upload somewhere the cluster logs with `kind export log`

[2019-04-02 04:35] BenTheElder commented on #379
@machine424 we'll need more output to look into that, perhaps `kind export logs`. 0.2.1 should be significantly better behaved than 0.0.1, the CNI currently in use is weavenet.

[2019-04-02 05:10] BenTheElder commented on #323
/help

Would love if someone took this up, here are examples in other projects, see EG:
https://github.com/kubernetes/test-infra/tree/master/.github/ISSUE_TEMPLATE
https://github.com/kubernetes/kubernetes/tree/master/.github/ISSUE_TEMPLATE
https://github.com/kubernetes-sigs/cluster-api/tree/master/.github/ISSUE_TEMPLATE

This shouldn't be very hard to setup, I just keep losing it between other thi

[2019-04-02 05:11] BenTheElder commented on #73
eh, the build has a lot of useful debug output and other commands are too quick.

[2019-04-02 05:11] #73 closed

[2019-04-02 05:14] BenTheElder commented on #64
we document login and private registries now: https://kind.sigs.k8s.io/docs/user/private-registries/

however, in the future I want to figure out a workflow that involves producing this credential without using login on the nodes, and then just supplying it to kubelet at startup, particularly so we can switch to containerd on the nodes.

[2019-04-02 05:14] #64 closed

[2019-04-02 05:18] mitar commented on #64
Thanks!

[2019-04-02 07:20] aojea commented on #323
/assign to me @BenTheElder

[2019-04-02 07:33] swachter commented on #421
On the GKE node where the problem occurred max_user_watches is 8192. (On that node the Gitlab-CI runner places jobs/pods that in turn use kind in integration tests.)

I remember that on this node `cat /proc/cgroups` showed some numbers above 1000. Unfortunately, I did not save the output. Restarting that node helped. Now the output is:

[code]

It seems to me that these numbers increase by time. I

[2019-04-02 08:10] swachter commented on #421
I can confirm that repeated cluster creation / deletion does *NOT* leak cgroups. The output of `lscgroup | grep -c memory` is the same after each creation / deletion cycle.

Thank you for looking into this. I think the issue has nothing to do with kind and this issue can be closed.

However, I wonder how the issue can be tracked down further. Unfortunately the `lscgroup` utility is not installed o

[2019-04-02 09:58] neolit123 commented on #323
/lifecycle active

[2019-04-02 22:43] #323 closed

[2019-04-02 23:59] BenTheElder opened #426 "kubelet may detect GCE when running kind on GCE"
**What happened**: kubelet appears to have read `/sys/class/dmi/id/product_name` when running kind on GCE and detected "Google Compute Engine", it appears to fail if it can't talk to the metadata server.

**What you expected to happen**: Kubernetes should not "be in cloud mode" so to speak.

**How to reproduce it (as minimally and precisely as possible)**: run a kind cluster on GCE

**Anything els

[2019-04-03 00:00] BenTheElder commented on #426
/assign

we should probably try to properly set cloud provider to none by default AND/OR always mount a special product_name by default.

current workaround:
[code]

[2019-04-03 02:06] BenTheElder commented on #347
/lifecycle active

[2019-04-03 02:09] BenTheElder commented on #110
note that overwriting the entire daemon.json is not ideal as we move off the docker-shim: https://github.com/kubernetes-sigs/kind/pull/425#discussion_r271485022

I think we will need a first class option in kind to configure insecure registries. this should be easier to add to v1alpha3 config now.

[2019-04-03 02:29] #347 closed

[2019-04-03 17:41] BenTheElder commented on #421
presumably GKE nodes -> COS? (they could be ubuntu, which is a different story)

on COS I believe the expectation is that everything will run as containers, you can probably `docker run` an image with the right tools in it and fiddle with the mounts.

[2019-04-03 21:58] pixelshaded opened #431 "kind does not work with docker installed via snap due to TMPDIR usage"
**What happened**:
failed to copy kubeadm config to node

**What you expected to happen**:
create cluster successfully

**How to reproduce it (as minimally and precisely as possible)**:
kind create cluster --loglevel=debug

**Anything else we need to know?**:

**Environment:**
- go version: 1.12.1
- kind version: (use `kind version`): 0.3.0-alpha
- Kubernetes version: (use `kubectl version`): 1.14

[2019-04-03 22:06] BenTheElder commented on #431
Did you install docker via snap?

[2019-04-03 22:07] BenTheElder commented on #431
Quick workaround is `TMPDIR=$HOME kind creat cluster`, the docker snap is a bit overly restrictive about filesystem access imho, we can't create tempfiles / tempdirs :(

[2019-04-03 22:13] pixelshaded commented on #431
That must have been it then. Worked after changing the TMPDIR to something the snap could access. Guessing if docker had been installed with --classic this wouldn't have happened.

[2019-04-03 22:31] BenTheElder commented on #431
/assign
/priority important soon

I've filed a PR to document the work-around, but in this particular case we can avoid writing that file to disk I think.

`kind build ...` commands on the other hand more inherently leverage temp directories, but many users may never touch these ... :thinking:

[2019-04-03 23:02] BenTheElder commented on #431
https://github.com/kubernetes-sigs/kind/pull/433 should avoid using `$TMPDIR` for `kind create cluster` at least :upside_down_face:

[2019-04-04 00:14] BenTheElder commented on #426
This seems to be one of the blockers for https://github.com/kubernetes-sigs/kind/issues/182.

[2019-04-04 00:17] BenTheElder commented on #182
https://github.com/kubernetes-sigs/kind/issues/182 is one of the blockers, there also appears to be something strange with the networking.

This _almost_ works, something is wrong with talking to the API server, will need to investigate further.
[code]

[2019-04-04 00:45] BenTheElder commented on #182
I _think_ the web preview feature interferes. https://cloud.google.com/shell/docs/features#web_preview

It should be possible to stick to lower ports for the API server etc. which _might_ fix that, but this will require changes to kind.

[2019-04-04 00:56] BenTheElder commented on #431
I just tested in a clean ubuntu VM with docker installed from snap, before https://github.com/kubernetes-sigs/kind/pull/433 I hit this issue, but with the latest installed via `go get -u sigs.k8s.io/kind` I have no issues with `kind create cluster`.

the `kind build ...` commands may still be an issue, I'll track that seperately if anyone needs this. Those would be trickier

[2019-04-04 00:56] #431 closed

[2019-04-04 02:56] BenTheElder commented on #421
going to close this for now since it seems to not be cgroups leaking.

we might need to figure out a good pattern to increase inotify watches (possibly a daemonset?), but that's a seperate issue.

[2019-04-04 02:56] #421 closed

[2019-04-04 02:58] BenTheElder commented on #253
Still keeping a close eye on the SIG Cluster Lifecycle addons work. there are regular meetings and a slack channel for this now, continuing to keep tabs on how that effort is going. I'd like to not duplicate effort there if possible.

[2019-04-08 05:39] mauilion opened #436 "Too many control plane nodes being built when using tip."
**What happened**:
When starting an HA control plane with three nodes. Kind created 4.

**What you expected to happen**:
I expected three.

**How to reproduce it (as minimally and precisely as possible)**:
using:
[code]
creates 8 nodes. 4 control plane 3 workers and an external-load-balancer

**Anything else we need to know?**:
If I use this:
[code]
Kind will create 3 cp 3 workers and 1 external-l

[2019-04-08 05:40] mauilion commented on #436
the quintessential off by one error @BenTheElder :)

[2019-04-08 07:53] BenTheElder commented on #436
/assign
/priority important-soon
First glance through didn't post this, will debug 🤔🤔🤔

[2019-04-08 07:54] neolit123 commented on #436
latest master gives me:
[code]

[code]

[2019-04-08 12:20] neolit123 commented on #436
something seems wrong with 18.06.3-ce - it just fails and ha-proxy stage in a HA setup and i couldn't get more details why. will inivestigate, but this used to work with docker 17*

[2019-04-08 15:08] aojea commented on #436
I can't reproduce it on master, I can't see any additional node

I have docker ` 18.09.0`

[code]

[2019-04-08 16:43] mauilion commented on #436
that was my bad I am running 18.06.0-ce

[2019-04-08 16:55] mauilion commented on #436
Also I found the issue. incomplete data on my side.

my original config was
https://gist.githubusercontent.com/mauilion/03f708f39c518a169b30aa3341848f84/raw/kind%2520config

and kind was apparently creating a node for every entry in nodes.

The odd thing is that the kubeadm patch applied cleanly!

I've moved the kubeadm patch bit up to the `node:` level and things work as expected.

[2019-04-08 17:25] BenTheElder commented on #436
Right, your patch is being defaulted to control plane role, nodes is a list of nodes :^). The patch behavior is currently cluster wide only. v1alpha2 was misleading vs the implementation. Better patch behavior is in the works 😅

[2019-04-08 17:31] mauilion commented on #436
awesome I will close this for now :)

[2019-04-08 17:31] #436 closed

[2019-04-09 09:05] chenliu1993 opened #438 "go get:Unrecognized import path sigs.k8s.io/kind"
I am using go get to install kind following the instructions listed in README.md. My computer has set proxy. But I got this error "unrecognized import path 'sigs.k8s.io/kind'. connection refused.......". And I also try to install kind on VM , issue still  exists.
What solutions can I use to solve this problem? Much appreciated by your help!

[2019-04-09 09:07] chenliu1993 commented on #438
Docker and go are installed. Centos,  Ubuntu and Mac all have the same issue.

[2019-04-09 09:15] tao12345666333 commented on #438
please run `go get -v -u sigs.k8s.io/kind` to show detail logs.

[2019-04-09 09:28] chenliu1993 commented on #438
It only shows "Fetching from https://sigs.k8s.io/kind/go&&get==1", then next line is the issue.

[2019-04-09 09:32] tao12345666333 commented on #438
you can check your proxy.
and try to run `curl -vvv https://sigs.k8s.io/kind`.

[2019-04-09 09:34] chenliu1993 commented on #438
Thank you! I will try out right now.

[2019-04-09 10:06] chenliu1993 commented on #438
Sorry , my computer just broke down.
I tried your advice ,still can't install
command:go get will get this
![image](https://user-images.githubusercontent.com/13761170/55791899-14428500-5af2-11e9-8ef6-095cb710c1b4.png)
command curl -vvv https://sigs.k8s.io/kind get this:
![image](https://user-images.githubusercontent.com/13761170/55791933-2a504580-5af2-11e9-8a66-03990d889748.png)

[2019-04-09 10:07] chenliu1993 commented on #438
![image](https://user-images.githubusercontent.com/13761170/55792005-4fdd4f00-5af2-11e9-85e6-02db92450d3d.png)
![image](https://user-images.githubusercontent.com/13761170/55791966-40f69c80-5af2-11e9-8858-51370bbba121.png)

[2019-04-09 10:12] tao12345666333 commented on #438
Your network seems to hang up.

[code]

[2019-04-09 10:21] tao12345666333 commented on #438
@chenliu1993 you should check your proxy.

when i run `curl -vvv https://sigs.k8s.io/kind` without proxy I can get the same error.

[code]

[2019-04-09 15:38] chenliu1993 commented on #438
Ok, it seems proxy doesn't take effect like you say......, I will check this out. much appreciated.

[2019-04-09 16:00] tao12345666333 commented on #438
i will close this issue now. if you still have problems, feel free to reopen it.

/close

[2019-04-09 16:00] #438 closed

[2019-04-10 06:15] chenliu1993 opened #440 "Stuck at "Starting control panel""
While I am starting "kind create cluster --loglevel=debug".it begins but soon get stuck at "starting control panel" and after waiting for some time, this error shows:
![image](https://user-images.githubusercontent.com/13761170/55855789-0ac12780-5b9b-11e9-89e2-701bcefdcc07.png)
It happens both on centos7 and ubuntu 18.04 LTS
Any ideas on this issue? Thank you very much.

[2019-04-10 06:25] BenTheElder commented on #440
Can you provide some more details? What kind version? What docker version?

[2019-04-10 06:33] tao12345666333 commented on #440
And how much memory and CPU are there in your system resources?

[2019-04-10 07:33] chenliu1993 commented on #440
docker info:
![image](https://user-images.githubusercontent.com/13761170/55859883-950e8900-5ba5-11e9-953d-f6576458eddf.png)
kind version: kindest/node:v1.13.4
1GB memory,1 core, Linux 3.10.0-957.el7.x86_64 centos, disk space 20GB VM.

[2019-04-10 07:34] chenliu1993 commented on #440
NAT

[2019-04-10 07:39] aojea commented on #440
@chenliu1993 you can run with the retain flag so kind doesn't delete the nodes
`kind create cluster --loglevel=debug --retain`

and then use `kind export logs` to obtain the logs as Ben explained here https://kubernetes.slack.com/archives/CEKK1KTN2/p1554746118136700

One quick check we should do is to get the exact kubelet error from the logs and paste it here

[2019-04-10 08:31] sagikazarmark commented on #379
I'm also having issues on Gitlab with dind (latest kind):

[code]

[code]

Any ideas?

[2019-04-10 08:56] chenliu1993 commented on #440
Thank you for the reminding.
this is from kubelet.log:
![image](https://user-images.githubusercontent.com/13761170/55865531-26cfc380-5bb1-11e9-87cc-5dbfff9d66a3.png)
This is from journal.log:
![image](https://user-images.githubusercontent.com/13761170/55865589-42d36500-5bb1-11e9-8aa3-2f60286d7f88.png)
Kubernetes-version.txt shows v1.13.4
This is from the docker.log:
![image](https://user-images.gi

[2019-04-10 10:12] swachter commented on #379
If you are using the Kubernetes runner then you must address docker at localhost, i.e. `tcp://localhost:2375`.

[2019-04-10 12:47] aojea commented on #440
@chenliu1993 that errors can be a red herring since they are always logged until the cni is configured, try to check the logs in the reverse direction

[2019-04-10 14:22] BenTheElder commented on #440
kubeadm recommends at least 2GB of memory, that may be the issue.

Note that there _should_ be errors in the beginning of the logs on any kubeadm setup as kubelet is crash looping initially until we configure it with kubeadm.

For kind version `kind --version` please.

[2019-04-10 14:23] BenTheElder commented on #440
CNI is setup as part of the bringup automatically, initially it will not be setup and there will be messages in the node logs about CNI and kubelet config not being available.

[2019-04-10 17:42] sagikazarmark commented on #379
No, I use the Docker runner, but I wonder: maybe I don't even need kind with the Kubernetes runner, given I can access the Kubernetes cluster from the runner.

[2019-04-10 20:34] BenTheElder commented on #379
That error could come from any number of things unfortunately, though we also haven't tested with remote docker yet or gitlab dind (we can't set that up on this repo due to how kubernetes manages github integrations).

I'm not sure who has the dind runner working if any. kind does work in dind, but see: https://github.com/kubernetes-sigs/kind/issues/303

[2019-04-11 00:28] chenliu1993 commented on #440
Thank you for the explain, there are still too much for me to learn😂
![image](https://user-images.githubusercontent.com/13761170/55922427-9c7c7380-5c33-11e9-984a-98bb489c0ee7.png)

[2019-04-11 00:31] chenliu1993 commented on #440
This is the start of the kubelet.log, errors  happen from the beginning like you said....,thank you so much for patiently explaining.
![image](https://user-images.githubusercontent.com/13761170/55922508-0c8af980-5c34-11e9-9a86-418974a0820d.png)

[2019-04-11 00:31] chenliu1993 commented on #440
I will try it out

[2019-04-11 00:31] tao12345666333 commented on #440
You can upgrade the virtual machine configuration and try again.

[2019-04-11 00:32] chenliu1993 commented on #440
I will try it out

[2019-04-11 00:44] chenliu1993 commented on #440
![image](https://user-images.githubusercontent.com/13761170/55922954-fc741980-5c35-11e9-89fb-98f10d8adc3e.png)
This is the start of the kubelet.log, errors happen from the beginning like you said....,thank you so much for patiently explaining.

[2019-04-11 00:46] chenliu1993 commented on #440
No, still can't start kind. I upgrade it to two GB memory.This is the start and end of the kubelet log:

![image](https://user-images.githubusercontent.com/13761170/55923011-3c3b0100-5c36-11e9-84c9-f1d1cfa233c1.png)
![image](https://user-images.githubusercontent.com/13761170/55923013-3f35f180-5c36-11e9-8094-a192c95376fb.png)

[2019-04-11 01:04] BenTheElder commented on #440
@chenliu1993 would it be possible to post the files? The cause is not present in your screenshots.

Is there a proxy in this environment?

[2019-04-11 06:32] chenliu1993 commented on #440
Sorry, my vm broke down, I had to install it from the beginning. I will rerun the cmd and post the logs as soon as possible.
I set proxy on my host. VM can download kind through sigs.k8s.io after setting HTTP_PROXY && HTTPS_PROXY

[2019-04-11 06:38] tao12345666333 commented on #440
@chenliu1993  I guess you are in China, please refer to this article [使用 Kind 搭建你的本地 Kubernetes 集群](https://moelove.info/2019/03/25/%E4%BD%BF%E7%94%A8-Kind-%E6%90%AD%E5%BB%BA%E4%BD%A0%E7%9A%84%E6%9C%AC%E5%9C%B0-Kubernetes-%E9%9B%86%E7%BE%A4/#%E6%90%AD%E5%BB%BA%E5%8D%95%E8%8A%82%E7%82%B9%E9%9B%86%E7%BE%A4).
using Chinese mirror source for speed up.  so you don't have to configure the proxy.

[2019-04-11 06:54] chenliu1993 commented on #440
Ok, Thank you. I will try this.

[2019-04-11 09:11] yuchen9459 opened #441 "Is Kubernetes Kind cluster node running as a pod in the whole cluster container?"
I'm using kind to create Kubernetes clusters and learn some stuff about Kubernetes and service mesh. I went through the documents of kind, but I still have a question.

As I know, the minikube launch a cluster in a Virtual Machine. If uses create 2 Minikube clusters, there are two VMs running. If I understand it correctly, kind cluster runs in a container, and a kind cluster can be composed with s

[2019-04-11 10:07] tao12345666333 commented on #441
no. each node is a container on your host machine. please see https://kind.sigs.k8s.io/docs/design/node-image/#the-node-image

[2019-04-11 10:12] tao12345666333 commented on #441
if you run any pod in your kind cluster, each pod will in your container. (means docker in docker)

ref: https://kind.sigs.k8s.io/docs/design/initial/#overview
![image](https://user-images.githubusercontent.com/3264292/55949357-fce7d100-5c84-11e9-8b40-030d0a3bf6e6.png)

[2019-04-11 10:14] chenliu1993 commented on #440
### This is the docker-info.txt:

Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file local logentries splunk syslog
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Init Binary: docker-init
containerd version: bb71b10fd8f58240ca47fbb579b9d1028eea7c84
runc version: 029124da7af7360afa781a0234d1b083550f797c
init version: fec368

[2019-04-11 10:15] chenliu1993 commented on #440
### This is the kubenet.log:
-- Logs begin at Thu 2019-04-11 17:34:30 UTC, end at Thu 2019-04-11 17:42:40 UTC. --
Apr 11 17:34:30 test-control-plane systemd[1]: Started kubelet: The Kubernetes Node Agent.
Apr 11 17:34:33 test-control-plane kubelet[83]: Flag --fail-swap-on has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kub

[2019-04-11 11:27] yuchen9459 commented on #441
Thanks! If both control-plane and worker nodes are running as a container, clusters are separated by docker object label key. Does that mean the cluster is a logical cluster defined by the cluster name/ID, but they are just a bunch of running container nodes in the same host machine?

[2019-04-11 13:13] neolit123 commented on #441
you can create multiple clusters on the same host and their containers (nodes) will be prefixed with the cluster name:
`kind create cluster some-cluster`
would give you containers (nodes) called `some-cluster-worker2`

[2019-04-11 17:47] BenTheElder commented on #441
~ yes, the "node" containers are labeled with their cluster name (`--name` flag).

We do run kind in a pod sometimes #303, but locally each node is a container.

[2019-04-11 20:10] BenTheElder commented on #440
looking at that it still seems you're using a proxy, I think you'll need to configure the `NO_PROXY` variable to cover the docker container IP range.

[2019-04-12 01:20] chenliu1993 commented on #440
Thank you! After I set docker.io to NO_PROXY, kind cluster can start up normally!

[2019-04-12 01:22] chenliu1993 commented on #440
Thank you, I followed the instruction on this site and it worked single node. For highly-usable clusters still failed. But it is enough for me now. Thank you again.

[2019-04-12 01:26] chenliu1993 commented on #440
The problem is fixed. closing.....

[2019-04-12 01:26] #440 closed

[2019-04-12 03:04] WeihanLi opened #442 "dns problem in apline based docker image"
**What happened**:

I've had a dns problem, the pod container can not resolve the  external network dns like `github.com`.

There's a similar issue in kubernetes repository <https://github.com/kubernetes/kubernetes/issues/64924>, but I'm not sure the problem is the same with it.

In my case,  it only happened on `alpine` based image, it works on `Debian` based image in kind k8s cluster, but it wor

[2019-04-12 03:28] tao12345666333 commented on #442
I guess this problem has nothing to do with kind, it is probably due to the problem of `musl` based on alpine image. https://bugs.alpinelinux.org/issues/9017

and you can try to use `nslookup` to get more detail.

[2019-04-12 03:31] tao12345666333 commented on #442
/triage needs-information

[2019-04-12 03:37] WeihanLi commented on #442
nslookup info
![image](https://user-images.githubusercontent.com/7604648/56010697-454fcf00-5d17-11e9-9994-e38a470757df.png)

[2019-04-12 03:38] WeihanLi commented on #442
should I close this issue for a alpine related issue?

[2019-04-12 03:42] tao12345666333 commented on #442
right. please see: https://github.com/gliderlabs/docker-alpine/issues/476

[2019-04-12 03:43] WeihanLi commented on #442
OK, thanks @tao12345666333

[2019-04-12 03:43] #442 closed

[2019-04-12 05:27] BenTheElder commented on #442
You may need https://github.com/kubernetes/kubernetes/commit/4274c426cee6f6d1e42ce194952190c587888e7d if you're using go in your Alpine image.

[2019-04-12 05:28] BenTheElder commented on #442
Or rather: an etc/nsswitch.conf entry. Your Debian image most likely has one.

[2019-04-12 05:29] BenTheElder commented on #442
https://github.com/kubernetes/kubernetes/pull/69238 and https://github.com/kubernetes/kubernetes/issues/69195 have some more discussion. This issue is generic to alpine (non glibc) images with go binaries

[2019-04-12 10:08] dims commented on #188
Thanks to @ZhengZhenyu and other awesome folks at OpenLab (https://github.com/theopenlab) We now have a functional KinD on ARM CI !!!

Please see:
http://status.openlabtesting.org/builds?job_name=kind-integration-test-arm64

[2019-04-13 01:14] #405 closed

[2019-04-14 15:44] csantanapr opened #444 "Errors compile: version "go1.12.1" does not match go tool version "go1.10.2""
**What happened**:
Can't get started with `kind`
The command `go get -u sigs.k8s.io/kind` gives errors
[code]

**What you expected to happen**:
kind to be in `$GOPATH/bin/kind`

**How to reproduce it (as minimally and precisely as possible)**:
Setup go 1.12.1 on mac and run command
**Anything else we need to know?**:

**Environment:**
[code]

- kind version: (use `kind version`):
latest from maste

[2019-04-14 16:09] BenTheElder commented on #444
Something is wrong with your go setup.

You say:

But your output showed:
[code]

This is not a bug in kind, I'm not sure how this state happened. How did you setup go?

[2019-04-14 16:10] BenTheElder commented on #444
Similar issue: https://github.com/golang/go/issues/22814

[2019-04-14 17:47] csantanapr commented on #444
Thanks 💯 @BenTheElder for the fast response, I will look at my path and gopath, I’m using gimme so it must be an old Go in my PATH

[2019-04-14 17:47] #444 closed

[2019-04-14 19:18] fentas commented on #440
I have a similar issue. I am usally using `nordvpn`. But while `nordvpn` is connected to vpn I am unable to use kind.
[code]

As soon as I disconnect It works.
Cluster creation itself works flawlessly.

[2019-04-15 17:55] alexellis commented on #148
/subscribe

[2019-04-15 21:57] alejandrox1 commented on #39
haven't been participating as much as I'd like to but i'd like to get back to a more regular workflow and start working on this. I'll get something for handling incompatible/lack of docker :slightly_smiling_face:

[2019-04-16 03:33] mrhillsman commented on #188
Now that we have the jobs running successfully for a few days we would like to know how the kind community would like to do the testgrid reporting. I believe there are two options:
- push to openlab owned gcs bucket
- push to kind owned gcs bucket

I believe the second option is possible but would require setting up a user/auth acct for openlab and of course the other would be for openlab to resol

[2019-04-16 09:57] mmack opened #445 "Could not open '/dev/sda': No medium found: unknown."
**What happened**:
[code]

**What you expected to happen**:
kind brings up a cluster

**How to reproduce it (as minimally and precisely as possible)**:
I installed kind with `go get -u sigs.k8s.io/kind`

**Environment:**

- kind version: (use `kind version`):
0.3.0-alpha
- Kubernetes version: (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitComm

[2019-04-16 10:01] mmack commented on #445
Ok that was fast.. i had enabled the kata container runtime as default. So if anyone else runs into this, delete the file /etc/systemd/system/docker.service.d/kata-containers.conf

[2019-04-16 10:01] #445 closed

[2019-04-16 10:34] dims commented on #188
cc @BenTheElder - please see the question from Melvin ^^

[2019-04-16 22:28] BenTheElder commented on #440
@fentas are you able to try setting `NO_PROXY`? I think kind needs to autodetect the docker network IPs and insert that to NO_PROXY

[2019-04-18 07:08] phenixblue opened #447 "Start Node Suffix at "1""
**What would you like to be added**:

Modify `makeNodeNamer` to start node suffix with `1` instead of `""`

**Why is this needed**:

This will make node names more uniform by following a standard pattern for all nodes:

`<cluster_name>-<node_type><node_instance>`

[2019-04-18 07:11] BenTheElder commented on #447
This is a breaking change for anyone depending on the node names that isn't obtaining them from eg `kubectl get no`.

[2019-04-18 19:56] phenixblue commented on #447
After chatting with @BenTheElder I'm going to close this. Seems out of scope for pushing towards stability in core features.

[2019-04-18 19:56] #447 closed

[2019-04-19 05:31] sbhardwaj-mt opened #449 "Kind with docker for mac, service node port not working with localhost or on node IP."
**What happened**: deploy a service on kubernetes with kind and exposed it to NodePort.

**What you expected to happen**: the service should work either with localhost:{{NodePort}} or {{NodeIP}}:{{NodePort}}

**How to reproduce it (as minimally and precisely as possible)**: easily reproducible, just need docker for mac and kind.

**Anything else we need to know?**:

**Environment:** Docker for mac

[2019-04-19 23:59] BenTheElder commented on #449
this is a dupe of #99

docker for mac does not provide routable IPs for containers from the host, and we aren't binding _every_ port to localhost.

this should be possible to work around in various ways, but we don't have anything yet. see #99

in the meantime something like `kubectl port-forward` should work, other workarounds are mentioned inn #99

[2019-04-19 23:59] #449 closed

[2019-04-20 13:17] gyliu513 opened #450 "[Question] How to use HELM via KIND"
Just a question here, can I use helm when using KIND? If this is supported, how to enable helm with KIND?

[2019-04-20 13:41] neolit123 commented on #450
/remove-kind bug
/triage support
you should be able to use helm the same way you can use kubectl on the running cluster.
please read here:
https://helm.sh/docs/using_helm/

[2019-04-20 13:57] gyliu513 commented on #450
make sense, thanks @neolit123

[2019-04-20 13:57] #450 closed

[2019-04-22 20:00] aojea commented on #426
`kind` remounts the `/sys` folder in the nodes as ro https://github.com/kubernetes-sigs/kind/blob/161151a26faf0dbe962ac9f323cc0cdebac79ba8/pkg/cluster/nodes/node.go#L221 thus we can´t rewrite the file.

However, seems that kubernetes only uses the `/sys/class/dmi/id/product_name` to check if is running on a GCE VM
https://github.com/kubernetes/kubernetes/blob/716344fd7d68f92d9a16280be1feae0ffe122b

[2019-04-23 23:03] costinm opened #451 "Kind in Google Cloud Build"
**What happened**:

Trying to run a build/test using kind, in GCB.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
(the image has kind installed, and attempts to do a kind start cluster - in the GCB environment)

Note that it works fine on the local environment, using cloud-build-local.

Error:

[code]
(I'm using a modified base image, wi

[2019-04-23 23:06] costinm commented on #451
Last part of the log:
[code]

[2019-04-24 00:04] BenTheElder commented on #451
Er, are you running `istionightly/kind:latest` inside `istionightly/kind:latest`?

[2019-04-24 00:11] BenTheElder commented on #451
Please do not use the kind image to execute kind, we make no guarantees about the contents other than kind can boot a cluster with them and E.G.  it may not have docker in the near future (containerd performs better).

I cannot reproduce this  as posted currently, since cloudbuild needs to be pointed at a directory with the makefile.

[2019-04-24 00:13] BenTheElder commented on #451
/assign

[2019-04-24 09:48] TommyLike commented on #398
@hjacobs thanks for your manifest

[2019-04-24 13:14] FxKu opened #452 "Add nodes to running cluster"
**What would you like to be documented**:
How can I add more nodes to a running multi-node cluster? Do I have to use kubeadm for that? Is it even possible with kind?

**Why is this needed**:
I want to test a scenario where a whole cluster is upgraded, but not by upgrading running nodes, but by creating a new worker pool and then switched over to them in rolling update fashion.

[2019-04-24 13:19] BenTheElder commented on #452
Experimental upgrade work for testing kubeadm is in https://github.com/kubernetes/kubeadm/tree/master/kinder

Currently we do not support adding nodes or upgrading in kind. We might in the future.

[2019-04-24 14:14] FxKu commented on #452
Thanks for the quick info and pointer to kinder. Closing for now.

[2019-04-24 14:14] #452 closed

[2019-04-25 05:06] petermbenjamin commented on #166
We're yet to see details around this announcement, but it ought to simplify the process of building ARM images significantly: https://techcrunch.com/2019/04/24/docker-partners-with-arm/

[2019-04-25 05:12] BenTheElder commented on #166
yes!

also somehow forgot to update this issue, we have arm64 support, just no published images yet (that will need some more thinking...) if you build images yourself kind should work on arm64 today 😅

[2019-04-25 05:15] petermbenjamin commented on #166
Once we can cross-build images for ARM from x86 with native docker tooling, would that solve the image publishing problem?

[2019-04-25 05:21] BenTheElder commented on #166
somewhat, we then either have to publish different images for arm or sort
out image manifests and what that pipeline looks like.
ideally we don't always require building both but do when we publish
pre-built images.

there's some other options where we stop needing RUN outside of the base
image that would make this all simpler as well.

On Wed, Apr 24, 2019 at 10:15 PM Peter Benjamin <notification

[2019-04-25 05:31] vielmetti commented on #166
My fervent hope is that the new Docker tooling will make multi-architecture manifests much easier to produce. The current setup for most projects is just a bit complex.

[2019-04-25 21:48] aojea commented on #426
Ben´s idea works
 `echo kind > /kind/product_name && mount -o ro,bind /kind/product_name /sys/class/dmi/id/product_name`

[2019-04-26 10:35] GrosLalo opened #455 "Unable to create a cluster inside LXD container"
**What happened**:

I have been following the instructions mentioned https://kind.sigs.k8s.io/docs/user/quick-start/ and I am unable to get the cluster created with `kind`. The process to `kind create cluster` fails at the level of `Starting control-plane`

**What you expected to happen**:

I expected the same outcome as described on https://kind.sigs.k8s.io/docs/user/quick-start/

**How to reprod

[2019-04-26 10:40] aojea commented on #455
@GrosLalo seems you are using a proxy

HTTPS Proxy: http://10.144.1.10:8080

Please configure the NO_PROXY env variable with localhost and your docker subnet ( I assume is 172.17.0.0/16) and try again

[2019-04-26 12:30] GrosLalo commented on #455
@aojea: I am getting the following error when setting the NO_PROXY:

[code]
I then tried to run the `journalctl` command in the control-plane container and obtained this:
[code]

Any ideas?

[2019-04-26 13:01] neolit123 opened #456 "fix the flakes in "kind export logs""
**What happened**:
`kind export logs` can flake on very rare occasions.
me and @BenTheElder have seen this in CI before and it still happens.

**What you expected to happen**:
no flakes.

**How to reproduce it (as minimally and precisely as possible)**:
- create a 1CP2W cluster using `kind create cluster`
- write this to a bash script:

[code]
- call this script and check on it periodically (it wi

[2019-04-26 13:12] aojea commented on #455
Do you have enough memory? `free -m`

[2019-04-26 14:25] aojea commented on #456
googling the error exit status 126 says

it can be possible that the errors is because we are not using the full path in the commands?

[2019-04-26 14:30] neolit123 commented on #456
126 can also be related to permissions.
https://www.tldp.org/LDP/abs/html/exitcodes.html

[2019-04-26 14:33] GrosLalo commented on #455
Yes plenty of memory. 14GB available

[2019-04-26 18:05] BenTheElder commented on #456
https://docs.docker.com/engine/reference/run/#/exit-status

[2019-04-26 18:14] aojea commented on #456
I´m trying to reproduce it without success, my observation is that `kind` runs in parallel several goroutines
[code]

do we know what command is throwing the exit status 126? is the cat inside the container?

[2019-04-26 18:17] BenTheElder commented on #455
[code]

That is definitely the relevant part.

Are you running with selinux or apparmor by any chance? normally I'd expect a `--privileged` container to be able to ready these (note kubelet is only reading in the default mode)

the question is can a container open those? IE from `docker run --privileged -it --rm ubuntu`

[2019-04-26 18:20] BenTheElder commented on #456
yes we collect logs in parallel.

cat should only be exiting 1 or 0 from a quick skim of it https://git.savannah.gnu.org/cgit/coreutils.git/plain/src/cat.c

126 should be `docker exec`, see the exit codes listing above

[2019-04-26 18:24] neolit123 commented on #456
seems like so.

[2019-04-26 18:33] neolit123 commented on #456
could be docker version related - i'm at 18.06.x.
i'm going to bake a test that will spam `docker exec` many times to see if this manifests again.

also wonder if it can happen during parallel node creation.

[2019-04-26 20:43] aojea commented on #456
can´t hit it with
`parallel -j50 -N0 docker exec --privileged -t kind-control-plane cat /kind/version ::: {1..1000}`

and
[code]

[2019-04-26 21:17] neolit123 commented on #456
yes, i'm hitting it in a lot of different ways.

[code]
^ this (or cat on a single container) passes most of the time.

but it failed for me with something like (e.g. working on two containers with more logs to cat):
[code]

it's a `docker exec` problem...and is rare.
question is how should we mitigate it.

[2019-04-26 22:32] neolit123 commented on #456
@BenTheElder any objections to adding the optional `kind export logs --serial`?

[2019-04-26 22:34] BenTheElder commented on #456
probably just adding a retry

On Fri, Apr 26, 2019 at 2:17 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-04-26 22:37] aojea commented on #456
@neolit123 it seems that those `docker exec` are `POST` requests, if I check the journalctl I have a lot of errors, maybe is a problem of tweaking the OS

[code]

what about `docker cp`?

[2019-04-26 22:42] BenTheElder commented on #456
we can't use `docker cp` for some of these, check the source for details but TLDR we need to walk symlinks.

a small one, the fact that it is parallel shouldn't be exposed, we should fix the reliability issue.

if we fail we can retry once.

[2019-04-27 00:39] neolit123 commented on #456
i'm also catching instances where the `export logs` call blocked indefinitely.
this cluster has been running for a few hours.

something in these lines?
[code]

[2019-04-27 05:34] GrosLalo commented on #455
I can run `docker run --privileged -it --rm ubuntu` on the host. Perhaps I should mention that the host is an LXD container. But the host is configured correctly (to at least run the above-mentioned `--privileged` command). E.g:

[code]

Would there be some other test i could perform to see if my host (i.e. the LXD container) is inadequate? Or, other test to see if something is buggy in `kind` on

[2019-04-27 07:02] BenTheElder commented on #455
Can you access those paths from within a the privileged container?

Not working inside an LXD container is not surprising. Kubernetes still
needs access to the host and the container is probably too restrictive.

On Fri, Apr 26, 2019, 22:34 GrosLalo <notifications@github.com> wrote:

[2019-04-27 07:04] BenTheElder commented on #455
I.E. the test would be:
[code]

[2019-04-27 07:08] BenTheElder commented on #455
Per the docs at https://help.ubuntu.com/lts/serverguide/lxd.html.en the permissions are likely too restrictive even when trivial "privileged" setting is enabled.

These guides cover some more settings including rw proc and sys, and may be relevant:
https://github.com/charmed-kubernetes/bundle/wiki/Deploying-on-LXD#the-profile
https://github.com/corneliusweig/kubernetes-lxd

[2019-04-27 08:50] aojea commented on #456
The command `docker exec kind-control-plane tar Chcf /var/log - . | tar Cxf /tmp/test/logs -` does the trick to move all the `/var/log` folder in one stream.

I think that we should use it to avoid contention on the docker exec command because it doesn´t seem to scale well https://github.com/kubernetes-sigs/kind/issues/456#issuecomment-487222334

[2019-04-27 10:43] neolit123 commented on #456
+1 ^

[2019-04-27 21:37] aojea commented on #456
I can´t reproduce the errors anymore with #458 , anyway appreciate if others can confirm

[2019-04-29 07:48] GrosLalo commented on #455
Yes did those tests inside the container and they do not report anything suspicious:

[code]

[2019-04-29 12:50] GrosLalo commented on #455
@BenTheElder : The links helped. I realized that the apparmor was impacting. Configuring the container to This issue can be closed.

[2019-04-29 12:50] #455 closed

[2019-04-29 18:19] BenTheElder commented on #455
Excellent! Will note this for the next user, thanks for figuring it out and reporting back! :-)

[2019-04-29 18:43] costinm commented on #451
On the first question: the problem we have is that Kind only exposes the apiserver port to container.
We run all kind of tests - and the current infra with minikube --root had access to the pods and nodes from the container running the tests.

We will eventually move the tests to run in a pod - but that'll take some time.

Short term - we're replicating what we had with minikube--root, by adding t

[2019-04-29 18:44] costinm commented on #451
On a possibly related note: I am also exploring BuildKite, and kind worked great on machine executors, but appears to fail with the K8S BuildKite agent.

The errors I see:

[code]

[2019-04-29 18:45] costinm commented on #451
This is on GKE, I believe it is with COS base image. Might be related if CloudBuild has a similar config.

[2019-04-29 18:51] costinm opened #459 "Support more port forwards"
**What would you like to be added**:

An option to kind to expose more ports on the host, in addition to the apiserver port.

**Why is this needed**:

Running an Istio Gateway - which may expose various TCP and HTTP ports. We need to test
multi-cluster and other features.

[2019-04-29 18:52] costinm commented on #459
Currently the workaround is to attach a docker container to the same network namespace and expose the ports via some socat or gateway - but it seems complex and fragile. We'll probably try it if this can't be solved in a reasonable timeframe...

[2019-04-29 18:58] costinm opened #460 "Minikube 'docker-env'"
**What would you like to be added**:

Add an option to expose the DIND environment to the host.

Could be a port forward plus starting docker with the port option.

**Why is this needed**:

To avoid copy of the docker image - user could use the Kind dind docker to run docker build, similar with minikube.

[2019-04-29 19:18] BenTheElder commented on #460
we're moving off of docker on the nodes (later today hopefully!), containerd will allow us to be more performant with a smaller image.

this is a dupe of https://github.com/kubernetes-sigs/kind/issues/220

[2019-04-29 19:18] #460 closed

[2019-04-29 19:48] BenTheElder commented on #459
this is https://github.com/kubernetes-sigs/kind/issues/99

the other option for most kind users is `kubectl port-forward` but that's not going to work here.

have plans to add options for this, it will get slightly confusing for multi-node clusters, interested in proposed solutions.

[2019-04-29 19:49] BenTheElder commented on #451
for the k8s buildkite agent see https://github.com/kubernetes-sigs/kind/issues/303

[2019-04-29 19:49] BenTheElder commented on #451
also possibly https://github.com/kubernetes-sigs/kind/issues/426 which has a WIP PR out

[2019-04-29 23:29] costinm commented on #459
The workaround would work for any container - so I assume it can be use to expose 'nodePort' from multi-node clusters as well, as long as each node runs in a separate container.

Could we have some 'kind expose port' command taking a 'node' and port pair ? Would work for multi-cluster and multi-node clusters.

[2019-04-30 02:17] BenTheElder commented on #188
either works! see also https://github.com/kubernetes/test-infra/tree/master/testgrid/conformance, we can setup a GCS bucket if we don't want to use any existing ones.

[2019-04-30 02:18] BenTheElder commented on #188
[sorry for the huge delay, this slipped through my inbox :(]

[2019-04-30 03:05] mrhillsman commented on #188
No problem @BenTheElder totally understand. Will create a new one just to keep things separated since that is possible

[2019-04-30 06:01] BenTheElder commented on #197
/remove-lifecycle stale

[2019-04-30 09:18] luckielordie opened #462 "[ChromeOS] Error Preparing Nodes. Exit 32"
**What happened**:
Running `kind create cluster` results in the application halting at "preparing node" step and responding with exit status 32

**What you expected to happen**:
A cluster being created successfully

**How to reproduce it (as minimally and precisely as possible)**:
I'm running on a pixelbook. Given this, I assume this could be reproduced by running kind from inside and LXD containe

[2019-04-30 09:40] aojea commented on #462
@lucperkins please check if this solution to run under LXD works for you https://github.com/kubernetes-sigs/kind/issues/455

[2019-04-30 09:51] luckielordie commented on #462
So I've done the same as the user there and ran
[code]
I'm not sure what the user found useful in those links. Sorry if I'm missing something.

[2019-04-30 10:38] aojea commented on #462
@luckielordie check https://github.com/kubernetes-sigs/kind/issues/455#issuecomment-487262075 it seems that the default apparmor profile is too restrictive

[2019-04-30 12:05] luckielordie commented on #462
I guess I need to find a way to change these settings for ChromeOS

[2019-04-30 12:42] aojea commented on #455
@GrosLalo it will be nice if you can explain what changes are needed so other users can benefit from your experience

[2019-04-30 17:33] costinm commented on #170
See bug #451 for a use case for such a container.

CircleCI, CloudBuilder and many other CI/CD systems use containers to setup the test environment/services. Having Kind containers optimized for CircleCI, CB, maybe docker compose
would be great - it's more than having a binary downloaded, sometimes mounting volumes and
uid and other mappings can help.

[2019-04-30 17:45] BenTheElder commented on #170
For networking purposes it's best to run your workload alongside kind in
the same namespace etc.., that image is going to be docker in docker + the
kind binary, plus whatever your tests need.

Our image publishing is hampered by
https://github.com/kubernetes/k8s.io/issues/158, we've been flying low with
a semi-official docker hub registry as a stopgap but I'd rather not
increase dependency on it.

[2019-05-01 01:03] BenTheElder commented on #426
fixed by #461

[2019-05-01 01:03] #426 closed

[2019-05-01 01:05] BenTheElder commented on #148
#461 removed the SIGUSR1 and mount fix commands, `docker start` should ~work for single-node clusters, multi-node will require an updated #408 :sweat_smile:

[2019-05-01 01:08] BenTheElder commented on #324
0.3 is overdue, punting to 0.4, but I've spent some time experimenting with options for this and what the phases should be (we need to make a few more granular).

[2019-05-01 01:20] BenTheElder commented on #118
It looks like we will need ARM and PPC images, punting to the next milestone since we're overdue for 0.3

[2019-05-01 05:04] BenTheElder opened #466 "cleanup image import at build time"
**What should be cleaned up or changed**: Instead of ignoring all errors (due to expected unpacking errors) when running `ctr image import` at node-image build time we should leverage https://github.com/containerd/containerd/pull/3259 to import only without unpack when that or an alternative is available.

See https://github.com/containerd/containerd/issues/3258 for the upstream feature request.

[2019-05-01 05:07] BenTheElder commented on #466
If we can't get this feature into the `ctr` command line, we can instead build our own tiny client binary for this. The API client in fact has `Import` and `image.Unpack` as separate API calls, the handy upstream CLI just happens to do both, as it probably makes sense in most use cases.

Right now we effectively only do `Import` as the way we run the build ensures that `Unpack` will fail and ~ no-

[2019-05-01 05:29] BenTheElder commented on #351
This should be in pretty good shape after #461

[2019-05-01 05:29] #351 closed

[2019-05-01 05:31] BenTheElder commented on #462
FWIW I'd love to see this work, I just haven't had a chance to get my hands on a chromebook with enough resources and try setting this up. I would guess this is indeed the security restrictions getting in the way, and we may not be able to make this work though.

[2019-05-01 05:32] BenTheElder commented on #462
[removing bug because I don't think there's any changes to the kind binary that will fix this, I suspect there may be some workaround outside of kind though, which we should document when / if we find it]

[2019-05-01 05:33] BenTheElder commented on #451
#426 is fixed now, will need to follow up more on GCB specifically. If the buildkite agent pod is customize-able then https://github.com/kubernetes-sigs/kind/issues/303 is likely the fix for that one.

[2019-05-01 05:36] BenTheElder commented on #78
We could use more, but these do in fact exist! Thanks again @alejandrox1 :-)

[2019-05-01 05:36] #78 closed

[2019-05-01 06:04] BenTheElder commented on #456
+1 for avoiding contention this way FWIW :^)

On Sat, Apr 27, 2019 at 2:37 PM Antonio Ojea <notifications@github.com>
wrote:

[2019-05-01 08:29] luckielordie commented on #462
I'm looking at this at the moment, enlisted some friendly chaps from the ChromeOS Discord server.

[2019-05-01 10:44] aojea commented on #170
For reference, regarding Travis and CircleCI, there are already several projects using `kind`

* https://github.com/heptio/sonobuoy/blob/master/.travis.yml
* https://github.com/weaveworks/flagger/pull/53
* https://github.com/aojea/kind/tree/circle_ipv6_2nd
* https://github.com/aojea/kubernetes/tree/circleci

[2019-05-01 23:06] costinm commented on #451
#303 helped -  but now we're hitting a different problem:

[code]

[2019-05-01 23:08] costinm commented on #451
This is running in istio-testing GCP project, on weekly10 GKE cluster - let me know if you need access.

[2019-05-01 23:11] costinm commented on #170
And github.com/istio/installer - CircleCI and BuildKite. ( and we are looking forward to also support GCB).

You can also create a fork and enable CircleCI with the free open source plan - Kind seems to work fine with that.

[2019-05-02 04:37] mgdevstack opened #471 "node-image build failure due to `KUBE_SERVER_PLATFORMS[@]: unbound variable` error"
**What happened**:
While building node-image from kubernetes src (master), it is failing with an error `src/k8s.io/kubernetes/hack/lib/golang.sh: line 295: KUBE_SERVER_PLATFORMS[@]: unbound variable`

**What you expected to happen**:
Successful node-image build for kind.

**How to reproduce it (as minimally and precisely as possible)**:
- Checkout to latest k8s master branch
- `kind build base-ima

[2019-05-02 10:39] aojea commented on #451
@costinm the problem is the network address, it turns out that kubernetes only considers  Global Unicast addresses https://golang.org/pkg/net/#IP.IsGlobalUnicast , that means that it would not consider `169.254.123.3/24` as valid. Are you able to use other network range?

[2019-05-02 16:59] aojea commented on #471
I remember that @BenTheElder fixed a similar issue with this patch https://github.com/kubernetes-sigs/kind/commit/9513f486edeae6d37d733219da55c78e9ea078a6

[2019-05-02 17:08] BenTheElder commented on #471
`KUBE_SERVER_PLATFORMS` should be populated by the kubernetes build scripts. doing a test build locally on a mac with  the latest kubernetes / kind

[2019-05-02 17:16] BenTheElder commented on #471
https://github.com/kubernetes/kubernetes/pull/76974 caused this

[2019-05-02 17:17] BenTheElder commented on #471
cc @mtaufen -- mapfile is not available on mac and many developers build on mac.

[2019-05-02 17:24] BenTheElder commented on #471
moving to https://github.com/kubernetes/kubernetes/issues/77349 since this is a kuberntes bug

in the meantime installing a newer version of bash should circumvent this

[2019-05-02 17:24] #471 closed

[2019-05-02 19:01] costinm commented on #451
I can try creating a new cluster - but I suspect a lot of people use GKE with the default values. And possibly other k8s providers that don't allow customization.

[2019-05-02 19:07] costinm commented on #451
@aojea  Is there any reason for not supporting link local address in k8s ? It seems a very legitimate use of link local addresses - and having an apiserver visible only on link local seems quite useful as well. Is it a limitation of  the apiserver, kubeadm or kind ?

[2019-05-02 19:23] costinm commented on #451
Never mind, sorry - the pod has valid 10.x IP, it's not the cluster. Seems to be related to the buildkite agent and how the docker container is allocated, I'll debug further.

[2019-05-02 19:28] costinm commented on #451
Confirmed that when running buildkite in a k8s environment, and mounting the docker from the node (at least in gke) I don't get any global IP allocated, only the link local ones.
It may be possible to 'docker create network' and assign IPs in the docker commands - but I suspect this will need to be implemented in Kind when it calls docker ? I don't think I have access to the docker config on the n

[2019-05-02 20:47] aojea commented on #451
@costinm sorry but I can´t follow you 😅 , who configured the docker network?
Can you share `docker network inspect bridge` and `cat /etc/docker/daemon.json` ?

[2019-05-02 20:59] BenTheElder commented on #205
no later than 0.4 I'd like to include some way to not have a default CNI installed so you may choose to install your own. "supported" is a strong word, but "possible without modifying the kind binary" definitely will happen.

[2019-05-02 21:23] BenTheElder commented on #456
I think #475 should have this fixed (which is basically #458, thanks @aojea !!)

[2019-05-02 21:23] #456 closed

[2019-05-02 23:33] BenTheElder commented on #220
we don't run docker on the nodes anymore (big improvements switching!), but we should continue to make loading faster, @munnerz we should publish some rules like this somewhere, and we should land #382.

[2019-05-02 23:33] #220 closed

[2019-05-02 23:33] BenTheElder commented on #256
we're doing this in kinder now, tracking there and we should open fresh issues here if/when we're ready to move that over to here.

[2019-05-02 23:33] #256 closed

[2019-05-02 23:34] BenTheElder commented on #174
this is less necessary now, the one command I've observed hanging is `systemctl is-active docker.service` against the nodes, which we no longer use at all.

may revisit this in the future, perhaps we will refactor and plumb through context.Context everywhere.

[2019-05-02 23:34] #174 closed

[2019-05-03 00:01] BenTheElder commented on #262
we do have jobs using the deployer, maybe we should go ahead and document how to use this with kubetest, kubetest2 might be a bit... (it looks like a teammate will ramp up on this and get to it ... soonish ??)

[2019-05-03 00:03] BenTheElder commented on #273
We definitely want this, I think we're going to put it in the networking config, and start having an automated default.

cc @aojea @neolit123

Strawman:
- if the specified network exists, we use it without creating
- if it doesn't exist, we create it, and label it as belonging to the cluster
- on cluster delete, we list networks labeled with the cluster, and delete only those (so not just whatever

[2019-05-03 00:07] BenTheElder commented on #166
So FWIW I did figure out how to work manifest-tool I think, this definitely seems feasible this year, if a bit clunky, the trickiest part now is we need to write some tooling to cross compile the kind image (or coordinate with kicking off a build on packet or ... 🤔).

I think I'd like to get this into GCB based publishing with a cross-compile so we can start automating publishing mulit-arch node i

[2019-05-03 00:07] BenTheElder commented on #23
still a major issue, probably will switch to klog / logr to match the ecosystem and rework what we log then...

[2019-05-03 00:09] neolit123 commented on #262
i have a TODO to document how to test the e2e framework for new contributors:
https://github.com/kubernetes/kubernetes/issues/76833
these tickets seem to overlap, although there were concern from the testing-commons group that they  don't want these docs in k/community because they find these docs confusing /shrug.

when i get time, i might as well send to:
https://github.com/kubernetes/community/

[2019-05-03 00:09] BenTheElder commented on #113
https://github.com/kubernetes-sigs/kind/issues/112 seems less trivial than initially expected, so far I think users have ultimately been pretty fine with how the kubeconfig works and it's been reliable.

[2019-05-03 00:11] BenTheElder commented on #111
neglected to update here: the random port is a config knob now, and it is always 6443 inside the network, we still need to add a command to export the kubeconfig, with a `--raw` option or similar.

[2019-05-03 00:13] BenTheElder commented on #182
https://github.com/kubernetes-sigs/kind/issues/426 was fixed, but there's still some funky networking blocking this.

[2019-05-03 00:13] neolit123 commented on #273
SGTM

do we need to have the config field?
when a cluster is created we can auto-manage a network with the same name or prefixed similarly?
e.g.
`kind-network-kind`
`kind-network-mycluster`

[2019-05-03 00:15] BenTheElder commented on #133
This seems to be working well with the config files, they're very simple if you just want multiple nodes:
[code]

[2019-05-03 00:15] #133 closed

[2019-05-03 00:17] BenTheElder commented on #273
I think we need a field with defaulting to the generated one, that way EG
federation so they can make multiple clusters on the same network by
actually setting the field

On Thu, May 2, 2019 at 5:13 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-05-03 00:20] neolit123 commented on #273
ok, makes sense.

[2019-05-03 00:32] BenTheElder commented on #466
/lifecycle active

[2019-05-03 07:03] BenTheElder commented on #441
Let me know if you have more questions 😊

[2019-05-03 07:03] #441 closed

[2019-05-03 07:14] BenTheElder commented on #377
perhaps slightly more clear:
| Operating System  | Docker Desktop | Docker Toolbox  | Docker-CE |
| ------------- | ------------- | ------------- | ------------- |
| Windows |  ✔️  | X | N/A  |
| Mac  | ✔️ | X | N/A  |
| Linux | N/A  | N/A | OK  |

[2019-05-03 07:16] BenTheElder commented on #377
I'm not a fan of how nearly 50% of that table is non-existent combinations though...

[2019-05-03 07:20] BenTheElder commented on #112
@neolit123 @fabriziopandini WDYT?
Afaict we'd have to provision our own user and matching kubeconfig.

[2019-05-03 07:21] aojea commented on #377
yep, the table doesn't add too much value, it's more related to Docker OS compatibility

[2019-05-03 08:27] aojea commented on #377
[Docker toolbox is considered legacy](https://docs.docker.com/toolbox/),
let's close it and reopen if necessary, I hit this because it was the only laptop I have with windows

[2019-05-03 08:27] #377 closed

[2019-05-03 09:04] aojea commented on #166
@BenTheElder we can use CircleCI or Travis to do that, I see that another project under kubernetes-sig has the integrations enabled https://github.com/kubernetes-sigs/kubeadm-dind-cluster

I have experience building pipelines on those, it will be relatively easy to create a pipeline there to automatically publish the images based on PR or per tag

[2019-05-03 10:20] aojea commented on #111
I think that as a workaround we can use `docker exec -it kind-control-plane cat /etc/kubernetes/admin.conf`

[2019-05-03 12:46] aojea commented on #182
@BenTheElder you can define the port range in the host, it's defined in the kernel in
`/proc/sys/net/ipv4/ip_local_port_range`

[2019-05-03 13:43] BenTheElder commented on #182
In Google cloud shell?
Pretty sure https://cloud.google.com/shell/docs/features#web_preview is the
issue.

*From:*Antonio Ojea <notifications@github.com>
*Date:*Fri, May 3, 2019, 05:46
*To:*kubernetes-sigs/kind
*Cc:*Benjamin Elder, Mention

@BenTheElder <https://github.com/BenTheElder> you can define the port range

[2019-05-03 13:49] BenTheElder commented on #166
We want them to be pushed based on Kubernetes repo changes instead.

The tricky part will not be setting up Travis etc., We have Prow, GCB, ...
but we need the credential to not be available to presubmits, we need the
triggering to be right, and we need to build even for PPC64LE ideally,
which I doubt Travis etc. are running natively on, so we need to cross
compile.

Kubernetes uses some tricks fo

[2019-05-03 16:01] aojea commented on #182
It's working for me running from https://console.cloud.google.com/cloudshell , but don't know if this is the same situation you are describing 😅
[code]
The port forwarded is within the allowed range (2000 to 65000)
[code]
And the port range defined is within the webshell range (2000 to 65000) too
[code]

[2019-05-03 19:21] #466 closed

[2019-05-03 20:24] BenTheElder commented on #182
Did your node ever go to ready though? Testing this...

On Fri, May 3, 2019 at 9:01 AM Antonio Ojea <notifications@github.com>
wrote:

[2019-05-03 20:46] BenTheElder commented on #182
I observe an issue dialing the CRI socket, only some of the static pods come up. not sure why, but overall this not working quite right is not surprising. `cat /proc/1/cgroup` :wink:

[2019-05-03 20:52] BenTheElder commented on #262
SGTM, if not we can put docs in the kind docs, either way we should at
least link out to those from the kind site.

Thanks :-)

On Thu, May 2, 2019 at 5:09 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-05-03 20:53] aojea commented on #182
hehe, s/working/runs without errors/
definitively it needs more testing

[2019-05-03 20:57] BenTheElder commented on #451
we may very well start creating a specific docker network, started hammering out the details.

NOTE: I would not advise running this by bind mounting the host docker socket from a kubernetes node, you're likely to leak resources. IIRC GKE leaves this around mainly for users that are running builds.

plan to investigate GCB soon.

[2019-05-03 23:13] BenTheElder commented on #188
Re-Reading through this..
I created `gs://k8s-conformance-kind-arm64-openlab` if we need it, @mrhillsman @dims shoot me an email if we need that and I'll coordinate the service account credentials there :sweat_smile:

[2019-05-03 23:37] BenTheElder commented on #182
did a little more poking, something is killing containerd :thinking:

[2019-05-04 01:23] chaos234 opened #479 "Kind cluster not startet after server reboot"
**What happened**: After rebooting my server, gitlab starts fine but the kubernetes in docker (kind) isn't starting and there is no documentation on how to get things working. It was a normal restart without changing enything at the environment form the server.

**What you expected to happen**:
That all clusters are started in the correct order and are running. In my case I think first gitlab and

[2019-05-04 01:26] BenTheElder commented on #479
- currently kind clusters are meant to be ephemeral. see #148 tracking the ability to restart the containers.

- swap limit support is a docker warning, limit support != not having swap, don't worry about the warning though

[2019-05-04 01:29] BenTheElder commented on #479
this is a duplicate of https://github.com/kubernetes-sigs/kind/issues/148, we've made some improvements to make restarting simpler but we're not there yet. there's no documentation because restarting kind clusters is not supported, if you reboot the host you will need to recreate the cluster currently.

Originally it was meant to be fast enough to not persist clusters at all, for testing purposes

[2019-05-04 01:29] #479 closed

[2019-05-04 01:33] chaos234 commented on #479
Thanks for your fast response :)

[2019-05-04 01:37] mrhillsman commented on #188
ack @BenTheElder
/cc @dims

[2019-05-04 01:41] chaos234 commented on #148
/subscribe

[2019-05-04 14:07] qxhy123 commented on #148
/subscribe

[2019-05-04 18:37] marckhouzam commented on #112
I've hit this problem previously while using multiple k8s clusters.  Turns out one can use the same username in all your clusters.  What needs to be tweaked in the kubeconfig file is changing the `name` field of the user to something unique and add the `username` field under `users.user` to be `kubernetes-admin`.

I'll try my hand at writing a PR for it.

[2019-05-04 19:50] marckhouzam commented on #112
Ah, I see that it is kubeadm that generates the kubeconfig file and may not allow what kind needs for this.  I'll have a look at kubeadm some more.  But modifying the kubeconfig file after it is generated would be an option.

[2019-05-05 19:07] BenTheElder opened #485 "determine and document resource requirements"
**What would you like to be documented**: A more accurate lower bound on resources when using kind with docker desktop. Currently we suggest 4GB / 4 CPU which while probably accurate for building kubernetes should be more than we need to run a node.

https://kind.sigs.k8s.io/docs/user/quick-start/#creating-a-cluster

**Why is this needed**: We don't want to overstate requirements dramatically and

[2019-05-05 19:43] BenTheElder commented on #485
/assign

[2019-05-05 20:53] BenTheElder opened #486 "mount fixes should include shared mounts"
see: https://github.com/kubernetes-sigs/kind/pull/461#discussion_r281012042

we need to add back `--make-shared` mount fixups to the node.

/assign

[2019-05-05 21:01] nickolaev commented on #485
I am trying `kind` in the [CircleCI machine executor](https://circleci.com/docs/2.0/executor-types/#using-machine) which seems to be perfectly fine with its 2 CPU cores. Hope this helps.

[2019-05-05 21:21] BenTheElder opened #488 "remove base-image sources from kind binary"
**What should be cleaned up or changed**: we should remove the code generation / baked in sources for `kind build base-image`.

**Why is this needed**: These are unnecessary bloat in retrospect, if you wish to build the base image you're going to want to be able to tweak the sources, we did not wind up exposing any other configuration options for this build related to the contents.

We can remove

[2019-05-05 21:23] BenTheElder commented on #488
this is a breaking change, but hopefully unlikely to break many (any?) users

[2019-05-05 21:35] BenTheElder commented on #486
oops, bad PR description, this is not fixed yet, https://github.com/kubernetes-sigs/kind/pull/489 contains the fix, should be in soon.

[2019-05-05 22:05] #486 closed

[2019-05-05 22:06] tao12345666333 commented on #488
SGTM  :+1:

Now is the alpha stage, we can do something like this. :thinking:

[2019-05-05 22:26] BenTheElder commented on #485
thanks!

can confirm that at HEAD even the smallest settings docker desktop offers currently work fine for `kind create cluster`:
<img width="612" alt="Screen Shot 2019-05-05 at 3 24 25 PM" src="https://user-images.githubusercontent.com/917931/57201162-f417b180-6f49-11e9-8363-8bbd39719954.png">

[code]

[2019-05-05 22:41] BenTheElder commented on #485
will actually have to follow up and sample the usage over time, the lowest settings on docker desktop / macOS appear to be above our lower bound 🙃

[2019-05-05 22:59] #488 closed

[2019-05-06 01:22] marckhouzam commented on #112
Ok, I've got things working.  Here is what the new kubeconfig file looks like for a cluster named `mycluster` in case people want to manually make the changes for themselves:

[code]

I just need to get official approval from my employer to do the PR.  Should be a couple of days.

[2019-05-06 07:11] aojea opened #491 "Build node-image using APT"
**What should be cleaned up or changed**:

If the apt method to build images is not going to be supported moving forward is better to remove it.

**Why is this needed**:

Building a node image using the apt method fails in latest versions (0.3.0-alpha)

[code]

[2019-05-06 07:16] BenTheElder commented on #491
we should probably remove it and get the tarball support in, tarball support will include building from various existing official builds and be more useful for CI.

[2019-05-06 14:39] mkumatag opened #493 "Errors while building and running kind"
**What happened**:
Hitting with the following error:

**ERROR1:** Error while building base-image:

[code]

**ERROR2:** Error while running create cluster:

[code]

[2019-05-06 14:56] aojea commented on #493
@mkumatag the base image changed recently #461 , please fetch the latest sources and try to build again the base image.

[2019-05-06 15:05] mkumatag commented on #493
@aojea I have the latest master code, and even submitted a PR to fix the issues I mentioned.

[2019-05-06 15:10] mkumatag commented on #493
ERROR1 is happening while building the base-image via `apt` method, this is happening because of the following thing:

failing while adding the apt-key:
[code]

somehow gnupg is missing somehow in ubuntu:19.04 release and we need to install it manually to add the apt keys.

[code]

[2019-05-06 15:12] mkumatag commented on #493
**ERROR2** is happening because of mount command at
https://github.com/kubernetes-sigs/kind/blob/master/images/base/entrypoint#L65 which creates a problem if that directory does not exist in another environment(e.g: some stand alone env not in google cloud)

[2019-05-06 15:12] mkumatag commented on #493
/cc @BenTheElder

[2019-05-06 15:14] aojea commented on #166
hmm, I think I have to read more about prow https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md

[2019-05-06 15:21] aojea commented on #493
awesome,
regarding ERROR1 Ben is leaning toward deprecating the apt build, see #491, but I found it useful too :)

Regarding ERROR2 is something I can't understand because I think that all linux hosts have that folder ` /sys/class/dmi/id/product_name`

[2019-05-06 15:35] BenTheElder commented on #493
error1: has some prior discussion 😁

error2: We can add a check for if `/sys/class/dmi/id/product_name` exists, but it's a VFS and should exist 🤔

[2019-05-06 15:50] mkumatag commented on #493
I understand the concern here, but other methods like docker does not work other non-amd architectures at the moment, so `apt` is the only solution at the moment :( So we can support timebeing till we get some other way of building the images(tar, docker etc)

This is based on the `SMBIOS` support matrics! currently this sys class file will be populated only for following archs and will not be the

[2019-05-06 16:01] BenTheElder commented on #493
error1: yes, I'd like to get tar, but let's fix apt until the tarball support is in.

err2: thanks! I was just digging into that. unless we expect code to detect architecture based on this, I think I'll come back and ensure the entire directory is fake for CI <-> local consistency.

[2019-05-06 16:45] #493 closed

[2019-05-07 00:28] neolit123 commented on #491
for reference, here is how @fabriziopandini did the tarball support in kinder:
https://github.com/kubernetes/kubeadm/blob/master/kinder/pkg/extract/extract.go
as we needed that ASAP.

it is essentially based on:
https://github.com/kubernetes-sigs/kind/pull/396

[2019-05-07 00:44] BenTheElder commented on #491
type = apt is fixed in #493

[2019-05-07 00:44] #491 closed

[2019-05-07 07:18] tommyknows opened #499 "Use go modules compatible tags"
**What happened**:

The tags in this repository are named `0.2.1`, `0.2.0`, `0.1.0`, `0.0.1`
When executing go get with modules enabled, it always gets the latest version, not a tagged one, because it expects semver tags prefixed with a `v`, meaning tags like `v0.2.1`.

**What you expected to happen**:

Go get fetches the last tagged (valid) semver release.

https://github.com/golang/go/wiki/Modul

[2019-05-07 07:27] BenTheElder commented on #499
That's a bit annoying, https://semver.org/ does not use a leading v 🙄

[2019-05-07 07:29] BenTheElder commented on #499
We will use vX.Y.Z going forward.
/assign

[2019-05-07 20:47] BenTheElder commented on #499
I've pushed vX.Y.Z tags for every existing X.Y.Z tag, please let me know if you have any problems. I'm looking at converting the repo fully to modules now :sweat_smile:

[2019-05-07 20:47] #499 closed

[2019-05-08 00:04] BenTheElder commented on #169
`make` will do the equivilant go build using docker now.

[2019-05-08 00:04] #169 closed

[2019-05-08 07:03] aojea opened #506 "kind install <pkg>"
**What would you like to be added**:

I would like a new command that allows the user to install the pkgs provided in the command line in all the nodes or in a subset of them. Similar to the curren ` kind load-image` command.

` kind install tcpdump vim`
` kind install tcpdump vim --nodes ...`

**Why is this needed**:

In order to reduce the image size there are a lot of tools that are removed bec

[2019-05-08 07:10] BenTheElder commented on #506
I don't think this should be a kind command. you can simply do:

[code]

or
`docker exec kind-control-plane clean-install foo`

[2019-05-08 07:12] BenTheElder commented on #506
installing packages correctly also comes with things like supporting selecting specific package versions, managing the apt repository lists / gpg keys, locking ourselves into using an apt / debian based image ...

advanced users can pretty easily customize this today without a built in kind command.

[2019-05-08 07:26] tao12345666333 commented on #506
I agree with @BenTheElder . This is not necessary bind kind with package manage tool.

[2019-05-08 08:40] aojea commented on #506
👍 you've convinced me

[2019-05-08 08:40] #506 closed

[2019-05-08 13:14] aojea opened #507 "Document different hacks to expose ports"
**What would you like to be documented**:

We should document the different methods to forward ports so users can access cluster services in all the supported OS (Mac, Linux, Windows)

**Why is this needed**:

Supporting port forwards is very demanded #459 #99  and there are several hacks that can be used.
Aggregating and documenting the different options can give users different choices and help

[2019-05-08 19:02] mitar opened #508 "There is no more docker executable inside the kind container"
**What happened**:

Since few days ago our CI started failing.

**What you expected to happen**:

To not fail.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

I get this error:

[code]

- kind version: (use `kind version`): `0.3.0-alpha`
- Kubernetes version: (use `kubectl version`):

[code]

- Docker version: (use `docker info`): 18.09.5
- OS (e.g. from `/etc/os-releas

[2019-05-08 19:03] BenTheElder commented on #508
This is intended, we're running containerd in HEAD now

[2019-05-08 19:07] mitar commented on #508
Hm, maybe I should then not be installing kind using `go get -u sigs.k8s.io/kind` if such types of changes are occurring?

[2019-05-08 19:15] BenTheElder commented on #508
yeah, sorry about that :(

I intend to cut a new release before kubecon NA (~next week) with detailed release notes, we finally decided to make some big improvements that required breaking changes 😬

[2019-05-08 19:17] mitar commented on #508
Is there a way to pin which version is installed?

[2019-05-08 19:18] mitar commented on #508
So how would I get the latest version with `docker`?

[2019-05-08 19:19] BenTheElder commented on #508
if you do `git clone https://github.com/kubernetes-sigs/kind` somewhere and build it with new enough go to use go modules you should be able to check out a commit before building

[2019-05-09 00:05] costinm opened #509 "Kind build broken"
[code]

Probably caused by removal of vendor.,

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`):
- Kubernetes version: (use `kubectl version`):
- Docker version: (use `docker info`):
- OS (e.g. from `/etc/os-release`):

[2019-05-09 00:06] costinm commented on #508
Can you add a tag or branch on a version that works ? We are using kind in pipelines and it breaks pretty much everything.

[2019-05-09 00:06] costinm commented on #508
Or even better: do breaking changes in a separate branch and keep master stable.

[2019-05-09 00:09] costinm commented on #451
@aojea - BuildKite is running in K8S - in my case GKE - mounting the node docker socket.

I suspect docker is not configured to allocate IPs - since the pods are actually getting IPs via CNI.

[2019-05-09 00:10] costinm commented on #451
@BenTheElder  agreed - I was just using 'out of box' buildkite agent.
Happy to modify it - but not sure what is the proper way to run Kind from a k8s pod.

[2019-05-09 00:16] BenTheElder commented on #451
prow.k8s.io runs kind in a k8s pod under the following:
- mount /lib/modules
- mount /sys/fs/cgroups
- docker in docker (the pod runs dockerd)
https://github.com/kubernetes-sigs/kind/issues/303

Depending on the cluster, we may also need to configure the pod DNS so as to only include upstream DNS, and not the in-cluster DNS as the nested pods may not be able to reach it.

Which environment is pref

[2019-05-09 00:17] BenTheElder commented on #508
we do have release tags currently, and we'll have another one soon. there are also pre-built binaries from the releases.

[2019-05-09 00:20] BenTheElder commented on #508
To clarify: kind works fine in HEAD, we have continuous integration with conformance tests, most of the "breaking" changes involve when unspecified details like the node CRI are being used, which is not intended.

`v0.2.1` is the most recent release tag. ref: #499

In this case the only other breaking change is that kind at HEAD requires newly built images, the default image is one.

[2019-05-09 00:22] BenTheElder commented on #509
yes this is caused by the removal of vendor, I'm working on documentation updates, kind requires go modules now, go 1.12+ should be used and modules enabled.

there is now a makefile that will build with a new enough go in docker reproducibly without requiring a particular go version on the host.

[2019-05-09 00:25] mitar commented on #508
Hm, `go get -u sigs.k8s.io/kind@0.2.1` does not seem to work. I am not too familiar with go though.

[2019-05-09 00:32] BenTheElder commented on #508
`GO111MODULE="on" go get -u sigs.k8s.io/kind@v0.2.1` except that is failing due to https://github.com/golang/lint/issues/436 :/

will fixup for the next tag, in the meantime:

`git clone https://github.com/kubernetes-sigs/kind && cd kind && git checkout v0.2.1 && go install .`

[2019-05-09 00:39] BenTheElder commented on #507
[also just noting that we intend to support something first class, these are options that can potentially be enabled with built-in support]

[2019-05-09 00:42] costinm commented on #509
With kind modules - it still fails:

go: finding sigs.k8s.io/kind v0.2.1
go: finding github.com/ghodss/yaml v1.0.0
go: finding github.com/go-openapi/jsonpointer v0.17.2
go: finding github.com/modern-go/concurrent v0.0.0-20180306012644-bacd9c7ef1dd
go: finding github.com/inconshreveable/mousetrap v1.0.0
go: finding github.com/modern-go/reflect2 v0.0.0-20180701023420-4b7aa43c6742
go: finding github.

[2019-05-09 00:43] costinm commented on #509
Can you add back vendor until people get a chance to transition ? Breaking the world is really bad practice.

[2019-05-09 00:47] BenTheElder commented on #509
https://github.com/kubernetes-sigs/kind/pull/510 fixed modules.

master is not stable. We can spell this out in the docs, we have release tags for stable versions. Kind is alpha.

[2019-05-09 00:48] BenTheElder commented on #509
can you clone at install from a stable commit, or use a release binary?

https://github.com/kubernetes-sigs/kind/releases/tag/0.2.1

[2019-05-09 00:52] BenTheElder commented on #509
development in master and cut stable releases is standard practice for projects in the kubernetes org, including the main repo.

[2019-05-09 01:06] mitar commented on #509
But there are no instructions how to install "cut stable releases". The only instruction in README installs the master.

[2019-05-09 01:06] mitar commented on #508
Now working for me:

[code]

[2019-05-09 01:09] BenTheElder commented on #509
that is true, installation can just be download the binary and put it in your $PATH somewhere, but we should document this. I thought we had already, but it turns out we haven't!

binaries are available at EG https://github.com/kubernetes-sigs/kind/releases/download/0.2.1/kind-linux-amd64

altenratively it is `git clone ... && git checkout v0.2.1 && go install .`

[2019-05-09 01:11] BenTheElder commented on #508
that output looks like you are building with a go old enough to not auto-enable modules when not in go path, or you've cloned into go path but not at `$GOPATH/src/sigs.k8s.io/kind` and module mode is not enabled.

either:
- upgrade go
- clone to ${GOPATH}/src/sigs.k8s.io/kind as if downloaded by `go get`

[2019-05-09 01:18] mitar commented on #508
I am using `go` available with Ubuntu 18.04 LTS: https://packages.ubuntu.com/bionic/golang

I would hope kind can work with what is available on LTS of Ubuntu?

FYI, it worked just until few days ago. I just replaced `go get sigs.k8s.io/kind` with what you linked: https://gitlab.com/datadrivendiscovery/images/commit/5a2c352cc048e36c71d5537127f8a2fc55f4fa35