[2019-10-14 21:51] BenTheElder commented on #907
(hijacking this to track that actually merging)

[2019-10-14 21:52] BenTheElder commented on #821
see https://github.com/kubernetes-sigs/kind/issues/821 for improvements to catching this error.

the corrected config would be:
[code]

[2019-10-14 21:52] #821 closed

[2019-10-14 21:53] #944 closed

[2019-10-14 22:15] aojea commented on #928
This can be related to the issue opened by the release people, I was checking the logs in the jobs that fails to create the cluster and all of them fail in

[code]

can this broken pipe the sympton of

[2019-10-14 22:17] BenTheElder commented on #928
yes, as referenced by

I am debugging this as we speak (OK I took a sec to check messages...)

[2019-10-14 22:45] BenTheElder commented on #928
most of _these_ seem to be related to etcd timing out rather than the docker exec issue we're seeing in kubernetes CI.

these failures seem to be in kubeadm / etcd / ... rather than in kind. etcd. can definitely get slow read issues when the host is out of IOPs for example.

[2019-10-14 22:46] BenTheElder commented on #928
see also: #845 which is an interesting hack. in kubernetes CI it didn't seem to matter, but we're possibly running bigger SSDs or less loaded disks?

[2019-10-14 22:49] BenTheElder opened #949 "infrequent `docker exec .... signal: broken pipe` during kubeadm init | kubeadm join"
so far I've not once seen this locally, but we have this occasionally in CI, maybe a few times a day with many, many runs.

/assign
/lifecycle active

## Examples

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83914/pull-kubernetes-e2e-kind/1183813161560576002

https://github.com/kubernetes-sigs/kind/issues/928#issuecomment-541954010

https://github.com/kubernetes/kubernetes/issues/

[2019-10-14 22:51] BenTheElder commented on #928
@aojea after looking through a lot of logs, I'm pretty sure istio is actually _not_ seeing the broken pipe issue in any of these examples (instead etcd timing out / kubeadm time outs seem to be the main issue). filed https://github.com/kubernetes-sigs/kind/issues/949 to track the pipe issue.

@howardjohn preview of more detailed failure output (expand the logs) when `-v` is > 0
https://prow.k8s.io

[2019-10-14 22:55] BenTheElder commented on #921
it's also possible we may have picked up a containerd fix with the new containerd infra, we should have much more recent containerd builds going forward (EG in HEAD of kind we're on the latest stable release + backports)

[2019-10-14 23:06] BenTheElder commented on #949
per the stack trace, this is definitely failing in `LocalCmd.Run()`, so we're seeing a `signal: broken pipe` from `docker exec ...`.

currently I've exclusively found these with `kubeadm init`.

however in this example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-ipv6/1182717569350504448

you can also see `ERROR: command "docker exec --privileged kind-contro

[2019-10-15 10:09] nmiculinic opened #950 "Support host resolvable IP as the kubeconfig's server"
**What would you like to be added**:

By default the created cluster kubeconfig list the server as:
[code]
Which isn't resolvable from inside the created kind cluster or across multiple kind clusters on the same host.

**Why is this needed**:

This is primarily needed for multicluster scenarios, federation, cross-cluster controllers and that kind of usecase.

By having multiple kind clusters, A &

[2019-10-15 10:39] BenTheElder commented on #950
Pretty sure this already exists 🙃

`kind get kubeconfig --internal` for one usable inside the docker network (IE using the node container IP). Note that on some platforms this is resolvable on the host but not on all platforms (docker for Mac)

Use this config to set the listen IP at creation time (if you want to use some host interface addr other than loopback...)
[code]

[2019-10-15 10:44] aojea commented on #845
can this be causing timeouts in the CI with slow disks?

[2019-10-15 10:45] nmiculinic commented on #950
You're right! Thank you for the reply!

[2019-10-15 10:45] #950 closed

[2019-10-15 14:51] BenTheElder commented on #845
https://github.com/kubernetes-sigs/kind/issues/928#issuecomment-541964546

^^ possibly for istio, doesn't look like Kubernetes CI is seeing timeouts at this point. That's not the pattern with the broken pipe.

Even for istio, I doubt it's "because they aren't doing this" but it could be "because they are otherwise using too much IOPs for the allocated disks" IIRC they are also on GCP PD-SSD which

[2019-10-15 16:10] BenTheElder commented on #949
another example https://github.com/kubernetes/kubernetes/pull/83956#issuecomment-542277813

[2019-10-15 20:12] BenTheElder commented on #907
we have some strict config loading now :sweat_smile:

[2019-10-15 20:12] #907 closed

[2019-10-15 20:12] BenTheElder commented on #907
https://github.com/kubernetes-sigs/kind/pull/912

[2019-10-15 20:38] BenTheElder commented on #949
our docker is fairly old, https://github.com/kubernetes/test-infra/pull/14784

[2019-10-15 23:09] BenTheElder commented on #949
Still trying to get us on newer docker. Couple of pending test-infra PRs.

[2019-10-15 23:40] BenTheElder commented on #923
pretty sure this is fixed, please re-open if not!

[2019-10-15 23:40] #923 closed

[2019-10-16 06:08] apstndb commented on #451
FYI, I have found the way to run Kind in GCB.
It needs to use `docker run --net=host` for access to port-mapped ports.
https://github.com/apstndb/kind-in-gcb

Is it will be improved when Kind supports docker networks?

[2019-10-16 15:13] shashank-g172 commented on #906
Thanks Ben, I just used the exec plugin to use curl to get the binary. I think I'm all set for now. Thanks for your patience.

[2019-10-16 15:47] BenTheElder commented on #906
Glad you got it working!

[2019-10-17 05:12] BenTheElder commented on #949
not much progress today -- infra wg this morning and then mitigating, debugging, and dealing with https://github.com/kubernetes/test-infra/pull/14812

now have https://github.com/kubernetes/test-infra/pull/14820 to see about using newer docker in slightly streamlined kind CI specific image experimentally.

[2019-10-17 05:37] shahiddev opened #956 "Add a chocolatey package for Windows users"
**What would you like to be added**:
Add a chocolatey package to make installation simpler for Windows users

**Why is this needed**:
Currently the release binary doesn't have any extension and requires the user to install KinD into their path either manually or via a Powershell script.
Chocolatey can automate this so users simply need to run `choco install Kind` to install KinD and upgrades to ne

[2019-10-17 05:38] BenTheElder commented on #956
xref: #88

I agree that it's about time for this

[2019-10-17 05:46] BenTheElder commented on #949
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel/1184482589986000898

here's an example with `kubeadm join`

[2019-10-17 07:41] BenTheElder commented on #949
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-e2e-kind-canary/1184732113933438982

have kind experimentally on docker 19.03.X on debian buster. will follow up in the morning.
we can see if we continue seeing these flakes under more recent docker...

[2019-10-17 16:52] digitalcoyote commented on #956
I'm actually working a few packages right now (I have an AU repo setup to keep them up to  date). I can add this project's maintainers as maintainers for the package after it's published (gives management rights to the package). Best of all, it should require no changes to your current release process. Should be as simple as making sure the pre-reqs are dependencies and then running through the in

[2019-10-17 17:06] BenTheElder commented on #850
/assign
/lifecycle active

[2019-10-17 17:31] PatrickLang commented on #837
/assign

I'm about to update the WSL2 section too. I'll include this in the same PR.

[2019-10-17 20:01] yashbhutwala opened #958 "If there is only one cluster, kind delete cluster should just delete it"
**What would you like to be added**:
If there is only one cluster, `kind delete cluster` should just delete it, instead of having to specify the name.  Currently, it only does this for the default name `kind`.

**Why is this needed**:
Better user experience

[2019-10-17 20:08] BenTheElder commented on #958
The kind CLI consistently requires specifying a `--name` if you use a non-default name.

I'm not a fan of changing that. This is inline with eg minikube's --profile, gcloud container clusters, kops, ...

However, we are going to introduce other ways to manage the name #850

[2019-10-17 20:11] BenTheElder commented on #958
since delete is irreversable, I would really prefer that the user specify which cluster they want to delete. if you `kind create cluster` without specifiyng the name then `kind delete cluster` will delete it.

we could have a `kind delete clusters --all` or something like that in the future, but that's not quite the same.

[2019-10-17 20:14] howardjohn commented on #921
I switched to loading images 1 at a time instead of in parallel, and at the same time our testing load roughly doubled due to an incoming release. Load failures seem about the same if not a little bit worse.

Sounds like the next step would be to try the newer versions of kind. I was planning to wait for v0.6.0, would you suggest we just switch to master now?

[2019-10-17 20:16] BenTheElder commented on #921
if you pin a particular commit master as of this moment is probably a good choice, I'm intending to get v0.6.0 soon-ish but possibly not fast enough to resolve this.

how horrendous would it be to add a retry? it would flake to being slower but possibly succeed instead of totally failing?

[2019-10-17 20:17] BenTheElder commented on #921
considering a similar trade-off for #949

[2019-10-17 20:18] yashbhutwala commented on #958
Personally, when I'm using `kind delete cluster` and there is only one cluster to `delete`, it's kinda annoying to have to input the name of it.  But yea I could see how one can bikeshed either way haha.  I guess, explicit is better than implicit.

^^ Definitely could change this ticket into a request for this feature, if you want.

[2019-10-17 20:22] howardjohn commented on #921
Retry is a good option, seems a worthwhile tradeoff. I'll try that out and if I see it again update to some commit on master. Thanks!

[2019-10-17 20:52] PatrickLang commented on #837
@Vaccano - does the change in #959 look good to you?

[2019-10-17 21:15] Vaccano commented on #837
@PatrickLang - It looks good.

My only concern would be that that it is made clear that while running kind on windows is supported, windows containers are not supported on kind.

I may have missed that in there somewhere, but it was my major confusion when starting out with kind.

Other than that, it looks like a good change.

[2019-10-17 22:16] BenTheElder commented on #949
~everything in kubernetes CI should be on 19.03.X now, we'll have to wait to see if we continue to get these

[2019-10-17 23:45] #837 closed

[2019-10-18 06:00] BenTheElder opened #962 "do unstructured patch with json-patch library directly"
**What should be cleaned up or changed**: rewrite our kubeadm patching logic to use https://github.com/evanphx/json-patch directly.

**Why is this needed**:
- kustomize is > 3/4 of our binary size
  - macOS binary as of 7d8bbb4 is 34M
  - macOS binary as of 7d8bbb4 + a trivial patch to no-op patching is 8.3M (!)
- kustomize brings in heavy dependencies (in terms of managing a `go get`-able / embed

[2019-10-18 06:02] BenTheElder commented on #962
for the record, the diff used to obtain those binary sizes:
[code]

[2019-10-18 09:44] aojea commented on #962
:+1: better, faster, lighter ... :1st_place_medal:

[2019-10-18 11:50] neolit123 commented on #962
before we added kustomize support in kubeadm and was wondering whether it is better to just use apimachinery's utils. @fabriziopandini 's argument was that kustomize is what the ecosystem is supposed to use.

IIRC adding kustomize to kubeadm only contributed a few MB, probably because we already had client-go.

yet, IMO all of that is still possible with regular patches.

we also ended up workarou

[2019-10-18 13:51] tao12345666333 commented on #962
+1 for lighter

[2019-10-18 15:09] BenTheElder commented on #698
/assign
/lifecycle active
More than 2x now

[2019-10-18 15:09] #698 closed

[2019-10-18 20:02] BenTheElder commented on #949
still an issue with new docker, https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel-ipv6/1185195854433095681 here's one with join.

[2019-10-18 22:31] neolit123 commented on #949
did test-infra move to 19.03 already?

[2019-10-18 22:31] BenTheElder commented on #949
I moved the test-infra images, yes.

[2019-10-18 22:33] neolit123 commented on #949
ok, thanks for letting me know.
we held on moving the kubeadm validators and k/k/build/dependencies.yaml because according to TimSC not all the popular distros have 19.x in their package mangers yet.

but i guess we should add it as "verified" soon.

[2019-10-18 22:34] BenTheElder commented on #949
@neolit123 we're not running kubeadm / docker against that. the _dind image_ is on 19.03 (kubekins-e2e, and kind's KRTE), but the hosts are on whatever the hosts are on, and the kind nodes are on whatever the kind nodes run

[2019-10-18 22:34] BenTheElder commented on #949
too many layers :-)

[2019-10-18 23:10] neolit123 commented on #949
indeed. :)

just wondering when...

kinder doesn't have kind node images with docker 19.03 yet, maybe that's the switching point for `k/k/build/dependencies.yaml` and updating the kubeadm validators.

[2019-10-19 00:18] digitalcoyote commented on #956
Pushed the package to Chocolatey. Their Gitter chat indicates they are behind on moderation to an abnormally large queue, so I expect the package to be live in a few days to a week. I'll ready a PR with install instructions for when it goes live.

[2019-10-19 00:22] BenTheElder commented on #962
I think this is a good argument for many cases, but what kind is exposing is pretty trivial and unstructured. I implemented our use case intermittently in an afternoon (need to clean and add test cases though)..

yeah, this is because kubeadm and kubectl already pull in the same dependencies.
kind doesn't need most of them.

strategic merge patch is pretty nice for types where you have the spec an

[2019-10-19 00:32] jayunit100 commented on #273
Ok, so, for now, Kind won't be supporting different types of network plugins .

[2019-10-19 07:55] aojea commented on #273
@jayunit100 there are different things regarding networking, one is the CNI plugin used by the kubernetes cluster, kind installes its own by default but you can disable and install your preferred CNI plugin once kind finish.
The other networking part is the one that docker provides, that's where kind spawn the nodes. Currently kind only supports docker, with its networking limitations. Using anoth

[2019-10-19 11:37] jayunit100 commented on #273
So docker0 is only being used for node IP addresses in the use case for this issue? Thanks for clarifying .

[2019-10-19 11:47] jayunit100 commented on #273
Mostly get it now.. maybe change the title of this issue to “use non docker0 interface for kubelet IPs” so that is clear what we mean by cluster :):)... thanks again!
Ps for context am looking at using this for some aspects of some calico tests .

[2019-10-19 12:02] aojea commented on #273
There are calico folks using kind for testing, as you can see in this slack conversation https://kubernetes.slack.com/archives/CEKK1KTN2/p1570036710217000 , maybe you can bring up this conversation in our slack channel

The main problem of using a custom bridge with docker is that it modifies the DNS behavior, using an embedded dns server https://docs.docker.com/v17.09/engine/userguide/networking/

[2019-10-19 19:14] algoogwin1976 opened #966 "control"
**What should be cleaned up or changed**:

**Why is this needed**:

[2019-10-19 21:46] BenTheElder commented on #966
this issue seems to be invalid? 🤔
feel free to file another one with actual details...

[2019-10-19 21:46] #966 closed

[2019-10-20 03:08] BenTheElder opened #971 "panic in exec"
https://github.com/kubernetes/kubernetes/pull/84122#issuecomment-544215170

/priority critical-urgent
/assign

[2019-10-20 03:09] BenTheElder commented on #971
/lifecycle active

[2019-10-20 03:14] BenTheElder commented on #971
https://github.com/kubernetes-sigs/kind/blob/7dd62cd264beb7850d367a736bf5c7b5d4af015e/pkg/exec/local.go#L75-L76

🤦‍♂ 🤦‍♂

[2019-10-20 03:15] BenTheElder commented on #971
Go's standard library has:
[code]
however, presumably this is a bit safer than a pair of MultiWriters.

[2019-10-20 03:20] BenTheElder commented on #971
on the plus side, digging into what's going on here ... i think there's a chance fixing this fixes #949

[2019-10-20 03:44] BenTheElder commented on #971
So if `cmd.Stdout` and `cmd.Stderr` are identical, then Go will set up the actual fd for stdout and then set stderr to the same fd.

https://golang.org/src/os/exec/exec.go
[code]

This is why `CombinedOuput` in the stdlib is safe.

When we set up an `io.MultiWriter` they are _not_ the same, and get different fds.

In that case, we need to handle the writer receiving concurrent writes.

[2019-10-20 04:38] BenTheElder commented on #971
Filed https://github.com/kubernetes-sigs/kind/pull/972 with more details and a fix.

[2019-10-20 05:08] brightzheng100 opened #973 "Cluster created won't work properly if PSP is enabled"
**What happened**:
Enabled PSP by using `kind-config.yaml` in:

[code]

Everything looked good but the CNI and `cube-proxy` won't work:

[code]

**What you expected to happen**:

It should detect it and apply properly PSP objects preferably, or at least print some suggestions or simply error out with helpful messages.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**An

[2019-10-20 07:35] BenTheElder commented on #973
PSP in kind docker nodes is not really possible on arbitrary hosts unfortunately -- it depends on the host kernel to have seccomp / apparmor 😞

That said: the issue here is likely that a default PSP needs to be installed, you can't just enable the admission controller and kubeadm doesn't handle this out of the box currently. If you install one it will probably work.

See #725 for more discussion.

[2019-10-20 07:35] #973 closed

[2019-10-20 07:37] BenTheElder commented on #973
cc @neolit123 I can't find anything official documenting the intersection of kubeadm and PSP, would this be a bug k8s.io/kubeadm would be willing to handle? If so I will file one.

[2019-10-20 07:55] BenTheElder commented on #949
@neolit123 I wouldn't read much into us using 19.03 to host the nodes, someday it might be podman or ignite, it won't reflect much on qualifying with kubeadm. Mostly a shot in the dark regarding the stability issues.

I think there's a _small_ chance the root cause of https://github.com/kubernetes-sigs/kind/issues/971 is related here, the go program would get a broken pipe signal if the internal p

[2019-10-20 08:09] #971 closed

[2019-10-20 08:10] BenTheElder commented on #971
This is a little tricky to intentionally reproduce, I believe #972 should prevent it, but we should keep our eyes peeled.

[2019-10-20 09:09] #962 closed

[2019-10-20 09:21] BenTheElder commented on #528
we're mostly decoupled from docker, and span up some more effort on testing, including collecting coverage data and soon e2e coverage too.

[2019-10-20 12:05] neolit123 commented on #973
@brightzheng100

possibly your policy is not configured correctly.

/triage support
/remove kind-bug

that's a kubernetes problem kubeadm or kind cannot help much there.
also please mind that PSP is being deprecated in the future as per discussions by sig-auth.

adding PSP to a already running kubeadm cluster works fine.
try that instead of starting the cluster with PSP right away.

see a tutorial

[2019-10-20 18:12] BenTheElder commented on #973
ACK on deprecation, forgot about that...

[2019-10-20 18:19] BenTheElder opened #974 "flaky cross build"
/assign
/priority important-soon
/lifecycle active

`docker: Error response from daemon: failed to mkdir /docker-graph/volumes/kind-build-cache/_data/bin: mkdir /docker-graph/volumes/kind-build-cache/_data/bin: file exists.`

see:
https://github.com/kubernetes-sigs/kind/pull/961#issuecomment-543621820

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/961/pull-kin

[2019-10-20 18:28] BenTheElder commented on #974
This is likely because we're launching many containers against this volume in parallel, which is mounted over a directory structure already containing sub-directories (and thus unioned).

Without any mounts:
[code]

Locally this is typically not an issue because the volume has already been used. It might happen on clean builds, but it's going to be racy.

The straightforward answer is to ensure th

[2019-10-20 18:29] BenTheElder commented on #974
https://github.com/kubernetes-sigs/kind/pull/975 should fix this.

[2019-10-20 18:38] tao12345666333 commented on #974
I did some quick checks when I found this error.

Under normal circumstances, there is no problem with creating volume repeatedly.

I quickly searched the docker source code and found that there are three places where the same error might be output.  But I still don't have time to verify it.

[2019-10-20 18:41] BenTheElder commented on #974
Right.
The problem isn't that we create the volume repeatedly, the problem is that we concurrently _mount_ it for the first time over existing directories.

The `bin` subdir that is already in the container image must be created in the volume. When we start many containers concurrently for the first time against the volume they racily try to make this directory.

[2019-10-20 18:52] tao12345666333 commented on #974
If we can continue to reproduce this problem, then I am very happy to verify and fix it after the holiday (on the docker side)

It seems that the most recent CIs have passed. 😂

[2019-10-20 18:55] BenTheElder commented on #974
I already sent a fix :-) https://github.com/kubernetes-sigs/kind/issues/974#issuecomment-544278779 -- working on verification.

CI failed twice in the past 3 times https://prow.k8s.io/?job=ci-kind-build

[2019-10-20 18:56] BenTheElder commented on #974
oh you mean in `docker` proper?
I'm not sure this is actually considered a bug on docker's end? We're certainly abusing docker a bit in CI here 🤔

[2019-10-20 19:04] tao12345666333 commented on #974
Yes, on the docker side.  I think this user case should be quite a lot. （concurrent mount)

If I remember correctly, the last time I saw it was probably in the code related to the file copy.（I just don’t have a computer now, I can’t verify it in more detail.

[2019-10-20 19:07] #974 closed

[2019-10-20 19:07] BenTheElder commented on #974
so far I've not been able to hit the bug again (testing in https://github.com/kubernetes-sigs/kind/pull/648), but I'm reasonably confident in the solution.

[2019-10-20 19:13] tao12345666333 commented on #974
Then we can keep your solution👍 after three days, my holiday is over, I can do more testing and verification.

[2019-10-20 20:42] aojea opened #976 "[Flaky Test] kind-ipv6-master-parallel"
It was initially reported here https://github.com/kubernetes/kubernetes/issues/83903#issuecomment-542867717

but we really should know why these iptables errors are not showing up on the ipv4 jobs, ~is it possible that the different CI hardware is not fast enough to release the lock?~

[code]

Log https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel-ipv6/1

[2019-10-20 20:49] aojea commented on #976
Jobs to track
* https://k8s-testgrid.appspot.com/sig-release-master-blocking#kind-ipv6-master-parallel&width=5
* https://k8s-testgrid.appspot.com/sig-testing-kind#kind%20(IPv6),%20master%20(dev)%20%5Bnon-serial%5D&width=5

[2019-10-20 21:12] BenTheElder commented on #976
It's not different hardware. It's a different OS.
All of the CI is on GCE VMs. Most of them are COS, these are Ubuntu.

IMO:
- it's very suspect that 60s later two times we still can't get the lock
- we should retry quicker than waiting another 60s
- we should allow more than 3

[2019-10-20 21:13] BenTheElder commented on #976
Are we sure what resource is unavailable?
Is it PIDs, FDs, ...?

[2019-10-20 21:20] BenTheElder commented on #941
@zcc35357949 could you ask for help in slack or file another support ticket with more details? It seems the original ticket here is resolved.

[2019-10-20 21:20] #941 closed

[2019-10-20 21:27] BenTheElder commented on #820
Kubernetes 1.13 is out of support upstream now, and I'm pretty sure this docker version isn't supported upstream either. I don't have RHEL, but hopefully the next RHEL release will ship something newer or we'll figure out podman..

Given that upstream supported Kubernetes versions work, I don't think we're likely to pursue this versus other work.

[2019-10-20 21:27] #820 closed

[2019-10-20 21:31] aojea commented on #976
it seems that based on your comments the HW and resources can be a red herring.

If we try a different angle, maybe the code for the ipv6 iptables implementation is slower that tne ipv4. We can see:

kube-proxy is using iptables v1.6.0
kindnet and cni plugins iptables v1.8.3 (legacy)

there is a PR in 1.17 upgrading the kube-proxy image for using 1.8.3

the diff is interesting,
[code]

and regardi

[2019-10-20 21:34] BenTheElder commented on #830
Deduping with https://github.com/kubernetes-sigs/kind/issues/118

I'm not actively involved at the moment but monitoring progress (which is happening!) in the CSI ecosystem around local drivers, which seems like the most likely path forward.

[2019-10-20 21:34] #830 closed

[2019-10-20 21:39] BenTheElder commented on #706
gcr.io/k8s-testimages/krte is what kind uses in CI

We'll probably install the stable kind binary in it soon, however this is at most semi official, and this isn't a pattern I recommend.

Ideally test setups come from the https:/)github.com/kind-ci/examples repo, we link to this in the docs and are consolidating things used for third party CI platforms there.

The Kubernetes project does not use o

[2019-10-20 21:39] #706 closed

[2019-10-20 21:41] BenTheElder commented on #706
to be clear the KRTE image contains these things, you can find the sources in https://github.com/kubernetes/test-infra/
It's meant for use by the kind project but could be reused..
For now we've focused on the binaries being easy to install. Adding the extra layer of docker is a footgun that we should avoid where possible.

[2019-10-20 21:48] BenTheElder commented on #976
It is a different pool of nodes so they could be seeing more load. They also have a different kernel.

The fact that we hit this 3 times spread out over 3 minutes is supicious though.

[2019-10-20 21:58] aojea commented on #976
I would wait for the new kube-proxy image with iptables 1.8.3,

https://github.com/kubernetes/kubernetes/pull/82966

 at least there are several interesting commits in the new iptables versions

31e4b590 iptables-restore: free the table lock when skipping a table
80d8bfaa iptables: insist that the lock is held.
999eaa24 iptables-restore: support acquiring the lock.
b91af533 iptables: set the path

[2019-10-20 22:47] gerardo commented on #706
@BenTheElder it makes sense. I'll have a look at those. Thanks!

[2019-10-21 05:46] brightzheng100 commented on #973
I think it's not because of `kubeadm`, it's all about the way how we provision addons -- in this case it's about `kindnet` and `kube-proxy`.

We may consider two potential approaches:
1. Make them patch-able and as static pods (in `/etc/kubernetes/maninfests/`), like what we do for below components;
- kube-apiserver.yaml
- kube-controller-manager.yaml
- kube-scheduler.yaml
2. Or simply leave them

[2019-10-21 07:11] #976 closed

[2019-10-21 07:12] BenTheElder commented on #976
we were missing the `/run/xtables.lock` flock file 😞

fixed now, hopefully won't see more issue here. we should still see about getting https://github.com/kubernetes/kubernetes/pull/82966

[2019-10-21 08:03] aojea commented on #973
@neolit123 where can I find more info about this?

[2019-10-21 11:33] jansmets opened #979 "Failed to create Control Plane/ Failed to install CNI"
Hi

I'd like to run KinD in a Gitlab CI pipeline. I have a (bare metal on prem) kubernetes cluster where gitlab launches containers with a docker-in-docker service. (there is no (easy) ability to mount additional host volumes, like `/lib/modules`).

kind-control-plane has access to `/sys/fs/cgroup`. and runs in privileged mode. The 'overlay' kernel module has been loaded. It does not have a `/lib/

[2019-10-21 15:02] aojea commented on #976
seems that the kindnet issues should be fixed now, but there were new jobs failing with kube-proxy errors holding the lock.

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-parallel-ipv6/1186213795739996160

[2019-10-21 15:42] aojea commented on #979
There are several users that are using kind in Gitlab, some working config is documented here
https://github.com/kind-ci/examples/blob/master/.gitlab-ci.yml

You can also use github search to look for "gitlab" issues that are closed like this one
i.e. https://github.com/kubernetes-sigs/kind/issues/620

[2019-10-21 16:18] BenTheElder commented on #949
We haven't had one since the patch for #971 went in. However I want to wait a bit longer before calling this fixed.

[2019-10-21 16:40] BenTheElder commented on #976
That just looks like a flaky test case at a glance.

Clashing with kube-proxy on holding the lock is expected as long as it's transient.

We should avoid actually writing when there's no changes to make.

[2019-10-21 17:03] aojea commented on #976
we are using this https://github.com/coreos/go-iptables/blob/master/iptables/iptables.go#L165
it shouldn't write if it exists

[2019-10-21 17:12] ysz opened #980 "duplicated key 'name' in struct v1alpha3.PatchJSON6902"
**What happened**:

[code]

**What you expected to happen**:

Create a cluster

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment:**

- kind version: (use `kind version`): master

[2019-10-21 17:26] cmoulliard opened #982 "Cant create a cluster using image v1.13.10"
## Issue

We cant create a cluster against docker 1.13 using the node image version: 1.13.10 and kind v0.5.1

[code]

[2019-10-21 17:34] cmoulliard commented on #982
Could the error be related to this error `Failed to create symlink /sys/fs/cgroup/net_cls: File exists` ?

See docker container log

[code]

[2019-10-21 17:36] BenTheElder commented on #980
/priority critical-urgent
/assign

[2019-10-21 17:37] BenTheElder commented on #982
Can you please share:
- your host information including docker
- which image SHA (see the release notes regarding pinning images)

[2019-10-21 17:39] BenTheElder commented on #982
This looks like a dupe of https://github.com/kubernetes-sigs/kind/issues/820 ?

[2019-10-21 17:42] BenTheElder commented on #980
We should also clarify: the example config is a straw man showing all of the fields, it _should_ work but it's not actually meant to be a useful config.

[2019-10-21 17:50] ysz commented on #980
@BenTheElder Thank you for clarifying. I'm reading Kubernetes Up and Running and want to quickly spin up a multi node cluster to follow examples. :-)

[2019-10-21 18:22] BenTheElder commented on #976
I'm not sure this is the optimal approach versus save, parse, and compare,
but it's been a while.

On Mon, Oct 21, 2019 at 10:03 AM Antonio Ojea <notifications@github.com>
wrote:

[2019-10-21 18:28] BenTheElder commented on #980
fixed in #981, thanks again!
clarifying config slightly in #983

[2019-10-21 18:28] #980 closed

[2019-10-21 18:28] cmoulliard commented on #982
yes. That works with 1.15

[2019-10-21 18:30] BenTheElder commented on #979
can you export the logs?

it looks to me like we can't talk to the apiServer healthily, but it's not possible to tell why.

[2019-10-21 18:32] BenTheElder commented on #979
kubelet / containerd should normally complain some about CNI until the kindnetd daemonset runs.

having issues applying that generally means the api server or the connection to it is not healthy, which can be caused by various problems with the host.

[2019-10-21 18:32] BenTheElder commented on #982
ACK, I don't think there's a lot we can do here, v1.13 and lower are not open for patching anymore, and kind only ships upstream Kubernetes.

[2019-10-21 18:59] BenTheElder commented on #973
From your example, a default PSP is not configured though?

kindnet already has an appropriate PSP for itself bundled, for the sake of completeness

they're daemonsets, you can just patch the daemonset.

but also:

[2019-10-21 18:59] BenTheElder commented on #973
@aojea https://github.com/kubernetes/enhancements/issues/5

[2019-10-21 20:00] cmoulliard commented on #982
The problem is that we cant use 1.13 but also 1.14. So how can we rely on tool such as Kind if we cant create a cluster to test projects qualified for 1.13, 1.14 ?

[2019-10-21 20:07] BenTheElder commented on #982
Kubernetes as a project currently supports 1.14, 1.15, 1.16, soonish 1.15, 1.16, 1.17.
When a version goes out of support shortly after a new one is released the branch closes for all patches. We have no influence over this,

Per #820, 1.14+ should work.

https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions

[2019-10-21 20:10] BenTheElder commented on #982
kind makes an additional best effort to support older versions, but technically we probably might not be able to do this on Kubernetes CI actually, the policy is unclear, so we're doing it for now anyhow.

We run tests back to Kubernetes 1.12 despite it being out of support, we had to drop 1.11 due to bugs we can't get fixed.

I also don't think we're likely to support docker that is nearly three

[2019-10-21 20:39] aojea commented on #976
absolutely not optimal for scale, but is much simpler ... and remove the k8s dependency :)

is kindnet, we can always come back 🤷‍♂

[2019-10-21 20:41] jansmets commented on #979
Logs attached.
Thank you for looking.
[logs.tar.gz](https://github.com/kubernetes-sigs/kind/files/3752801/logs.tar.gz)
I've also had one occurrence where it successfully created/started, but the job terminated and I didn't get a chance to look around to see if it really all was up.

[2019-10-21 20:56] BenTheElder opened #986 "Support an integrated test workflow"
IE: replace the prototype in `hack/ci/e2e-k8s.sh` with a built in test command.

This will make it even easier to replicate kind's Kubernetes PR test results, and allow us to better test and support this.

kind should remain trivially scriptable for supported use csaes, but for testing Kubernetes specifically we should provide a robust tool that does this right out of the box, seeing as this is th

[2019-10-21 20:59] aojea commented on #979
@BenTheElder is it possible to run dind without mounting `/lib/modules` ?

[2019-10-21 21:01] BenTheElder commented on #979
@aojea it depends, nothing we do explicitly has a _hard_ dependency on `/lib/modules`, however if you need to modprobe you may want that... (eg perhaps docker setting up iptables rules and iptables modules are not loaded yet)

[2019-10-21 22:31] aojea commented on #976
the time holding the lock is negligible, ~12 ms per check (it checks 3 times) and is going to be pretty constant since it will always have the same amount of rules

[code]

[2019-10-21 23:04] BenTheElder commented on #986
added git version https://github.com/kubernetes-sigs/kind/pull/988
/lifecycle active

[2019-10-21 23:35] BenTheElder commented on #976
https://github.com/kubernetes/kubernetes/pull/83387/files

On Mon, Oct 21, 2019 at 3:31 PM Antonio Ojea <notifications@github.com>
wrote:

[2019-10-22 01:25] BenTheElder opened #991 "use klog for kindnetd"
**What should be cleaned up or changed**:

`images/kindnetd` should stop using `fmt` for logging. we should use `k8s.io/klog` instead.

**Why is this needed**:

to provide better logs consistently with other kubernetes system components

[2019-10-22 02:53] BenTheElder commented on #949
we are however seeing this with `kind export logs`:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance-latest-1-12/1186286022304993281

hopefully unrelated, need to investigate.

[2019-10-22 07:05] cmoulliard commented on #982
I upgraded on centos7  docker to use this version
[code]
and I can create a cluster using 1.13

[2019-10-22 13:30] jansmets commented on #979
It turns out the /sys/fs/cgroup must be a HOST mounted volume in the container where the docker daemon runs.  In CI environments there's no control over the podSpec of the launched pod and therefor `/sys/fs/cgroup` can not be mounted.

This podSpec mimicks/reproduces the (gitlab CI with kubernetes executor) job behavior. It starts working when you use the volumeMount in the 'dind' container.
[code

[2019-10-22 13:37] aojea commented on #979
@jansmets seems you've found the problem, do you mind to retitle this issue so other users can find it easily?

[2019-10-22 14:36] jansmets commented on #979
This works though :
 * without the 'kubernetes' layer.
 * also -without- the host volume mount of `/sys/fs/cgroup'

[code]

More CI/CD systems run jobs on kubernetes clusers and these system don't allow modifications to the podSpec of the job. It's nearly impossible to mount host volumes like `/sys/fs/cgroup`.
(and I'm not sure what implications there are towards host mounting /sys/fs/cgroup in al

[2019-10-22 15:53] BenTheElder commented on #979
If you're running on Kubernetes there's an existing issue discussing these requirements, and indeed I would recommend not running kind in Kubernetes if you can avoid it. There are many pitfalls versus more traditional CI hosts.

And yet, the Kubernetes project is Kubernetes CI based so https://github.com/kubernetes-sigs/kind/issues/303

[2019-10-22 15:54] BenTheElder commented on #979
Sorry I didn't understand you were in Kubernetes previously. This is a duplicate of #303.

As you can see we are in fact hesitant to encourage people to replicate this versus running on a VM platform like circle CI machine executor or GCB or ...

[2019-10-22 15:54] #979 closed

[2019-10-22 18:34] BenTheElder opened #996 "ensure go modules are tidy in verify checks"
**What should be cleaned up or changed**:

https://github.com/kubernetes-sigs/kind/blob/master/hack/verify/generated.sh already verifies that generated code is up to date and the repo is `gofmt`ed

we should also ensure that `go mod tidy` has run over the modules, this can be a pretty trivial "lint" that runs this and diffs.

to do this, you need to make sure that no go commands have run before it

[2019-10-22 18:40] axsaucedo opened #997 "GKE Pod Failed to create cluster with "failed to init node with kubeadm""
**What happened**:
We are trying to run our end to end tests in a GKE kubernetes cluster, creating the cluster from within the pod and then running all the tests. This has been unsuccessful so far due to the error (as shown below). I provide the pod spec used, together with the output of the command (with the error), and the version of the K8s cluster and docker server.

I also tried to find diffe

[2019-10-22 18:41] BenTheElder commented on #997
please see: #303

[2019-10-22 18:43] BenTheElder commented on #997
this will not work, you're nodes will be out on the host in a different namespace. you'll have to follow the details in #303 to get this working.

additionally, while we do run kind on GKE for kubernetes CI because that is where Kubernetes's CI runs, we do not recommend it over VM based CI. an additional layer of "Containers 'in' Containers" is a bit of a footgun.

[2019-10-22 18:44] BenTheElder commented on #997
specifically, details are in https://github.com/kubernetes-sigs/kind/issues/303#issuecomment-518593664

unfortunately this "mount the docker socket" pattern is unlikely to ever work well for kind, due to the nature of how containers work, so this is not supported...

[2019-10-22 18:44] #997 closed

[2019-10-22 18:46] axsaucedo commented on #997
Thank you very much @BenTheElder - this definitely felt like quite a big hack, running in kubernetes pods sounds much more sensible. Perfect. I will have a look at #303 and will try that approach instead!

[2019-10-22 18:50] BenTheElder commented on #997
I appreciate your understanding. #303 is not great either, but done carefully can help prevent resource leakage and avoids some of the network namespace issues.

We use https://github.com/kubernetes/test-infra/tree/master/images/krte in Kubernetes CI, formerly (and for a few things still) https://github.com/kubernetes/test-infra/tree/master/images/kubekins-e2e

these are at `gcr.io/k8s-testimages/

[2019-10-22 19:01] axsaucedo commented on #303
@BenTheElder thank you for pointing me in this issue - I am trying to see how we would fit @radu-matei's example into the testing automation we are introducing for our kubernetes project. Right now we want to trigger the creation of the cluster and the commands within that cluster from within a pod. I've tried creating a container that has docker and kind installed.

I've tried creating a pod with

[2019-10-22 19:04] BenTheElder commented on #303
@axsaucedo can you verify that you started docker succesfully? failing to list clusters means `docker ps` does not work.

[2019-10-22 19:08] axsaucedo commented on #303
That is correct, currently I am getting the usual `Cannot connect to the Docker daemon at unix:///var/run/docker.sock.`. What woudl be the way to make it work in the pod without mounting the Node's socket? Is there a cleaner/better way to do this?

[2019-10-22 19:28] axsaucedo commented on #303
@BenTheElder I was able to successfully create a kind cluster by starting an internal docker service inside of the pod, which is a fantastic step forward, but I am not sure whether this is the internded use. I did have a look at the response you made in #997 where you pointed to `wrapper.sh` which actually does start the service itself, so I assume that is the correct/expected usage?

For sake of

[2019-10-22 19:58] aojea commented on #986
/cc

[2019-10-22 19:59] aojea commented on #982
@cmoulliard is ok to close now?

[2019-10-22 20:09] BenTheElder commented on #982
we added a note to the known issues https://github.com/kubernetes-sigs/kind/pull/998
https://kind.sigs.k8s.io/docs/user/known-issues/#older-docker-installations

[2019-10-22 20:30] gagara commented on #148
As a partial workaround to speed up pods creation in a re-created cluster I mount containerd as volume to host machine, thus it survives cluster recreation and docker images are not downloaded every time after restart. e.g. I use following config for cluster creation:
[code]

[2019-10-22 21:35] dlipovetsky commented on #891
@BenTheElder New images created since this bug was fixed include v1.16.1 and v1.16.2. Is it worth patching the v1.15.3 (or older) images, or is that out of scope for kind?

[2019-10-22 22:00] BenTheElder commented on #891
I'll push new images with https://github.com/kubernetes-sigs/kind/milestone/8 which is primarily blocked on rounding out some stability fixes. I'm back on that now.

[2019-10-22 22:21] BenTheElder commented on #928
This is really unfortunate, but looking through the logs again I'm pretty sure this one is etcd timeouts which we can't do much more about. See discussion in #845 for trying memory backed storage.

We're tracking ensuring we've resolved this step failing in Kubernetes CI in https://github.com/kubernetes-sigs/kind/issues/949

[2019-10-22 22:23] BenTheElder commented on #928
Let's revisit this with the enhanced debug tooling in v0.6, so far all signs point to "not a kind bug", we don't have much options regarding etcd performance here other than the trick in #845 which is already possible. We can maybe work upstream to try to reduce etcd costs though.

[2019-10-22 22:23] #928 closed

[2019-10-22 22:42] BenTheElder commented on #949
we've not had any of these creation failures since https://github.com/kubernetes-sigs/kind/issues/971, granted it has not been an extremely large amount of time.

tentatively closing, but still monitoring.

will file a new issue for untar issues they don't appear to be related.

[2019-10-22 22:42] #949 closed

[2019-10-22 23:07] BenTheElder opened #999 "periodic errors exporting logs"
we're seeing errors tarring up log files for exporting the logs
/assign
/priority important-soon
/lifecycle active

xref previously: https://github.com/kubernetes-sigs/kind/issues/949

[2019-10-22 23:31] BenTheElder commented on #927
I think we'll close out this feature for now, I don't see a good way to surface the tradeoffs versus just letting the caller allocate and pass it (EG by using process subsitution) but I want to follow up in another channel about image load performance options..

[2019-10-22 23:31] #927 closed

[2019-10-22 23:32] BenTheElder commented on #592
I don't want to break up the current content I think (and break inbound links to useful content), but we should start creating new guides under the user guide. similar to https://kind.sigs.k8s.io/docs/user/private-registries/

we've already begun doing that

[2019-10-22 23:32] #592 closed

[2019-10-23 00:12] #991 closed

[2019-10-23 01:45] dlipovetsky commented on #891
@BenTheElder Thank you! I wasn't sure if older images would get fixes like this.

[2019-10-23 03:14] tao12345666333 commented on #592
Hi @BenTheElder I agree with you. Then should my PR https://github.com/kubernetes-sigs/kind/pull/671 be closed? It doesn’t seem to make much sense.

[2019-10-23 06:58] cmoulliard commented on #982
Great to see that you added the note.

[2019-10-23 06:58] #982 closed

[2019-10-23 07:44] brightzheng100 opened #1001 "make necessary `/etc/kubernetes/manifests` in workers to avoid unnecessary error logs"
**What happened**:

In workers, as the folder of `/etc/kubernetes/manifests` doesn't exist by default to cater for static pods, `kubelet` will keep throwing errors complaining `path does not exist, ignoring`.

[code]

**What you expected to happen**:

The folder should be created by default to avoid such annoying warnings prompting up in `journalctl` logs.

**How to reproduce it (as minimally and

[2019-10-23 07:59] BenTheElder commented on #1001
IMO kubeadm is nominally responsible for this but I'd be Ok with creating it to avoid log spam

Cc @neolit123

[2019-10-23 08:16] aojea commented on #1001
/label help-wanted
/label good-first-issue

[2019-10-23 10:15] jerryhu1234 opened #1002 "FailedMount hostPath type check failed"
**What happened**:
15m         Normal    Starting                  node/kind1-control-plane                      Starting kube-proxy.
3m6s        Normal    Scheduled                 pod/singlecluster-parallel-555v9-1569980942   Successfully assigned default/singlecluster-parallel-555v9-1569980942 to kind1-control-plane
58s         Warning   FailedMount               pod/singlecluster-parallel-555v

[2019-10-23 10:21] Xtigyro commented on #702
@BenTheElder Hey Ben - do you think any ETA for this feature can be set? I wonder whether I can try to help here.

[2019-10-23 15:22] BenTheElder commented on #702
There is no ETA because it needs a workable design to be agreed upon. So far we don't have one.

[2019-10-23 15:24] BenTheElder commented on #1002
kind nodes do not run dockerd, therefore there is no docker socket to mount.

You can mount on from the physical host by using extraMounts on a kind node, but I wouldn't recommend it.

This is working as intended. Mounting the socket is not portable.

[2019-10-23 15:24] #1002 closed

[2019-10-23 15:25] BenTheElder commented on #1001
/remove-kind bug
/kind feature

[2019-10-23 15:48] BenTheElder commented on #1001
Re-upgrading to a bug. Kubeadm expects to be installed by Deb or RPM, apparently it is ensured there.

`mkdir -p /etc/kubernetes/manifests` is in the post-install for kubelet.

/remove-kind feature
/kind bug
/assign

[2019-10-23 17:52] BenTheElder commented on #303
yes -- you need to start docker. for our CI image we handle this in the entrypoint

[2019-10-23 18:33] neolit123 commented on #1001
yes, joining nodes don't need the path but the package just ensures it's there.
joining workers still have the option to create static pods.

[2019-10-23 19:07] howardjohn commented on #921
Quick update - 6 days ago we added retries. I think the logic on my change is wrong and it doesn't always retry them, but anecdotally things seemed to improve. We still have not updated past `v0.5.1`.

So I think for now this is mostly mitigated

[2019-10-23 20:31] #1001 closed

[2019-10-23 20:44] BenTheElder commented on #859
I am going to dedupe this with https://github.com/kubernetes-sigs/kind/issues/273, and call this working as intended until a workable design for using non-default network is worked out. It's on the TODO list, but not as high as fixing other things.

[2019-10-23 20:44] #859 closed

[2019-10-23 20:47] BenTheElder commented on #774
I'm going to say https://github.com/kubernetes-sigs/kind/issues/377#issuecomment-489005588 covers this. Closing due to lack of inactivity and information. We've clarified what we test with in https://kind.sigs.k8s.io/docs/user/known-issues/#older-docker-installations

In the future I'd like CI for docker desktop, currently we test offline with that, but not docker machine.

[2019-10-23 20:47] #774 closed

[2019-10-23 22:19] snalvi opened #1006 "Kind / Calico Integration Issues"
**What happened**:
Have a KIND cluster deployed, I want to add a Calico deployment as well. I used the [sample calico cluster](https://docs.projectcalico.org/v3.5/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml) and to the KIND cluster added:
[code]

When I deployed, the error for the `calico` pods shows:
[code]

**What you expected to happen**

[2019-10-23 22:19] BenTheElder commented on #1006
this is #891

the latest images will work.

[2019-10-23 22:22] BenTheElder commented on #1006
v0.6.0 will contain an image with this fix by default. kind at HEAD does as well. v0.6.0 is pending some other fixes settling.

calico has some strict requirements around rp_filter, which we've accomadated for, that said calico is not an explicitly supported configuration, `disableDefaultCNI` is a power user feature :upside_down_face:

[2019-10-23 22:22] #1006 closed

[2019-10-24 01:08] howardjohn commented on #921
Actually just realized in the one test that I have seen an error, the retry was broken. So I think I have never seen it fail with 3 retries

[2019-10-24 04:01] BenTheElder commented on #766
I think all the docs like this are external now, is there anything else we should still do here?

[2019-10-24 04:01] BenTheElder commented on #766
/help

[2019-10-24 04:03] tao12345666333 commented on #766
:+1:

[2019-10-24 04:05] BenTheElder commented on #921
ACK, thanks!
I'll send you a ping when 0.6 is ready & out, continuing to focus on identifying any stability weakpoints and eliminating them. I think the last known one now is log export issues which I'll tackle shortly. We have a lot more CI signal and better ability to ship the lastest containerd improvements now which should help.

[2019-10-24 04:06] BenTheElder commented on #668
I am going to replace this script shortly with a much better tool, I'll be sure to include this.

[2019-10-24 07:21] BenTheElder commented on #766
I think this is a good plan 👍

On Thu, Oct 24, 2019, 00:10 Zach Corleissen <notifications@github.com>
wrote:

[2019-10-24 13:27] snalvi commented on #1006
@BenTheElder Will 0.5.0 work as well? You mentioned latest images will work and that 0.6.0 will fix this as well. Do I need to build from the kind repo?

[2019-10-24 14:00] aojea commented on #1006
@snalvi 0.5.0 will work too,  but please check that you follow the instructions from #891

[2019-10-24 15:21] Sispheor opened #1010 "Failed to pull image. certificate signed by unknown authority. Proxy"
Hello there.
I'm behind a proxy that wrap the docker.io certificate by a compagny certificate. This result in pull error.
here the pod log when trying to deploy the kubernetes dashboard:
[code]

So my question is: how can I inject CA cert of my company into the cluster?

Thanks a lot !

[2019-10-24 15:27] BenTheElder commented on #1010
Hi! See discussion in: https://github.com/kubernetes-sigs/kind/issues/941
I don't have such an environment but one user reported success there.

[2019-10-24 15:29] Sispheor commented on #1010
Thanks !

[2019-10-24 15:42] BenTheElder commented on #999
having some difficulty triggering this now that i'm trying to fix it 😛

[2019-10-24 15:44] Sispheor commented on #941
Hello guys,
How to inject a private certificate in the node container?
I would like to add the certificate of my corporate proxy in `/usr/local/share/ca-certificates/` and persist the configuration.
Is there a config to mount a volume or something?
Thanks.

[2019-10-24 15:45] Sispheor commented on #1010
I don't really see the answer in the issue you pointed.
Is there a way to mount a volume into the node container? So I could add my corporate proxy.

[2019-10-24 15:48] BenTheElder commented on #1010
https://github.com/kubernetes-sigs/kind/issues/941#issuecomment-541279662

you can mount volumes with extraMounts in the config.
[code]

[2019-10-24 16:00] Sispheor commented on #1010
Oh ok. I'll give a try to this config then. Thanks.
I haven't seen this part in the [doc](https://kind.sigs.k8s.io/docs/user/quick-start/#configuring-your-kind-cluster).

[2019-10-24 16:03] BenTheElder commented on #999
Got it once on the generic test PR, haven't gotten it again on the debug PR
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/648/pull-kind-conformance-parallel-1-13/1187394260584894464/

[2019-10-24 16:19] BenTheElder commented on #949
still haven't identified another one since that fix.

[2019-10-24 19:31] snalvi commented on #1006
@aojea Thanks, I did follow the instructions at #891. I was able to get a successful deployment of `calico` and `kind` up and running. However, any pods that I try to bring up fail with `STATUS: Init:CrashLoopBackOff`. Looking into the pod, the `init-container` `logs` show:
[code]
Why are no servers able to be reached? Are some ports meant to be opened or exposed?

[2019-10-24 21:56] snalvi commented on #1006
@aojea I followed the instructions from #891 and have a successfully deployed `kind` cluster with `calico` CNI. However, when I try to deploy any other pods, I am seeing the `init` container fail to come up with:
[code]

I thought perhaps the network policies we were trying to enforce were too strict, but we are allowing everything for `ingress` and `egress` right now just to get it up and running

[2019-10-25 07:32] Sispheor commented on #1010
It works ! Thanks.

The config I used:
[code]
Then started the cluster
[code]

Then connect into the container
[code]

Then update certs
[code]

BTW, it would be nice to have the possibility of executing command at the end the deployment by placing them in the config file.

Thanks for you support and your work on this project !

[2019-10-25 07:32] #1010 closed

[2019-10-25 08:03] Sispheor opened #1011 "deploying the dashboard"
Hi, sorry for the noob question. I havn't found anything related to this in the doc neither in the current issues.
I would like to deploy the dashboard.

What I have done so far:
[code]

The service and pods are ok.
[code]

The cluster info doesn't return the address
[code]

And after running the kubeproxy command the port is ot reachable.
I suppose here that I need to play with `extraPortMappings

[2019-10-25 09:35] #1011 closed

[2019-10-25 15:50] BenTheElder commented on #702
This is another work around https://gist.github.com/alexellis/c29dd9f1e1326618f723970185195963

[2019-10-25 16:48] BenTheElder commented on #303
Note that we appeared to experience a leak in the istio CI, it is important that you ensure that on exit all containers are delete. `kind delete cluster` should be sufficient, but we also recommend force removing all docker containers.

This image is WIP what kind's own Kubernetes based CI will be using. https://github.com/kubernetes/test-infra/tree/master/images/krte

Note this part https://githu

[2019-10-26 06:25] BenTheElder commented on #999
https://github.com/kubernetes-sigs/kind/pull/1014

[2019-10-26 18:46] BenTheElder commented on #999
reopening to keep an eye on this actually being fixed.

[2019-10-26 18:46] BenTheElder commented on #949
still no signs of this, I think we're in the clear on this one.
#999 with the log export is hopefully fixed now, but still tracking to ensure the fix indeed works as expected.

[2019-10-27 15:37] axsaucedo commented on #303
Thank you very much @BenTheElder - we have managed to successfully run our e2e tests using the `krte` as base example, really appreciate the guidance (currently sitting at https://github.com/SeldonIO/seldon-core/pull/994). It's pretty mind blowing that it's now possible to run kubernetes in kubernetes to test kubernetes components in containerised kubernetes 🤯

[2019-10-28 19:17] sager-tech opened #1016 "Deploying Calico with KIND and pods not able to communicate with each other or externally"
I did a deploy of KIND with configuration:
[code]

I then did a deploy of Calico (trying a few versions): `3.0`, `3.3`, `3.7`, `3.8`, `3.10`, `latest`. In most cases, the deployment succeeds and the pods come up in `ready` state for `coredns` and `calico`. However any new pods that come up fail with:
[code]

I have run `kind get nodes --name=kind | xargs -n1 -I {} docker exec {} sysctl -w net.ipv4

[2019-10-28 21:16] reshdebug opened #1017 "Unable to update the default storage class on Kind"
**What you expected to happen**:
Not able update  default storage class. Expected to set, is-default-class":"false" for standard storage class

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]
[code]

**Anything else we need to know?**:
Did try to refer existing bug #66222, no luck!

**Environment:**

- kind version: (use `kind version`): v0.5.1
- Kubernetes versio

[2019-10-28 21:40] BenTheElder commented on #1017
I'm pretty sure you need to create another storage class first.
kind does nothing special here beyond installing one.

[2019-10-28 21:44] BenTheElder commented on #1017
by 66222I assume you mean https://github.com/kubernetes/kubernetes/issues/66222#issuecomment-449121999, which leads to this change, https://github.com/kubernetes/kubernetes/pull/66235/files

kind is already using EnsureExists, but it also doesn't deploy the addon manager.

[2019-10-28 21:46] BenTheElder commented on #1016
Hi, please understand that `disableDefaultCNI` is only loosely supported, the intention is for users to generally use the default CNI and we do not use calico directly.

pods will not come up if your CNI is not functional unless they have hostNetwork set to true.

[2019-10-28 21:47] BenTheElder commented on #1016
We have changed the rp_filter setting to in theory make calico easier to deploy, but supporting calico is somewhat out of the scope for the project at the moment. From the contents of this issue I'm not sure why it isn't working.

cc @mauilion who may be able to help.

[2019-10-28 21:52] reshdebug commented on #1017
Did try creating new storage class and updated the Standard storage class but same behavior. In fact, I have 2 default storage class:

`kubectl get sc
NAME                  PROVISIONER                            AGE
test-class(default)   kubernetes.io/local-path-provisioner   3h16m
standard (default)    kubernetes.io/host-path                3h52m
`

[2019-10-28 21:53] BenTheElder commented on #1017
re-read this, the patch is patching `storageclass.kubernetes.io/is-default-class=false` but the actual resource has `storageclass.beta.kubernetes.io/is-default-class=true`

[2019-10-28 21:54] BenTheElder commented on #1017
xref: https://github.com/kubernetes/kubernetes/pull/68345

[2019-10-28 21:54] BenTheElder commented on #1017
/assign

[2019-10-28 21:56] reshdebug commented on #1017
Ah! Completely, missed to noticed that. After pointing to the correct resource, I am able to update the default storage class.

Thank you so much for the quick response @BenTheElder

[2019-10-28 21:57] #1017 closed

[2019-10-28 22:01] BenTheElder commented on #1017
sorry about that, I'm also updating it to match the docs, it looks like upstream did this a year ago and we missed it

[2019-10-28 22:13] reshdebug commented on #1017
Thank you once again! @BenTheElder

[2019-10-28 22:44] aojea commented on #1016
can you paste the pods manifest, is there more information about the error? what are logging the pods?

have you tried with some of the common examples? , i.e.
 kubectl apply -f https://k8s.io/examples/application/deployment.yaml

[2019-10-29 09:22] ishankhare07 commented on #99
How can I test my ingress services with `kubectl port-forward`

If I try `kubectl port-forward ingress/local-ingress 80:80` for below ingress
[code]

I get the following error
[code]

[2019-10-29 14:27] sager-tech commented on #1016
@aojea The manifest for the pod is:
[code]
I am not able to pull any other logs or other information.

I did try with the above mentioned `deployment.yaml` and the logs show:
[code]

and the pods are stuck in `ContainerCreating` state:
[code]

The `kind` logs I pulled do not show any logs for `nginx`, under `kind-worker/pods/515.../nginx/0.log` it is empty as well as for `kind-worker/containers/ng

[2019-10-29 14:40] aojea commented on #1016
what's the output of `kubectl describe pod nginx-deployment-76bf4969df-92lwb` ?

[2019-10-29 14:46] ruzickap opened #1019 "failed to unpack image on snapshotter overlayfs"
**What happened**:

I can not run the image (`appscode/kubed:v0.11.0`) in `kind` by using the command:

[code]

I got this error when checking the details about pod:

[code]

**What you expected to happen**:

The image should be running and should be properly downloaded.

**How to reproduce it (as minimally and precisely as possible)**:

Here are the commands - how to reproduce it:

[code]

**Anyt

[2019-10-29 15:39] BenTheElder commented on #1019
Do any other images work?
Can you share the `docker info` of your host?

[2019-10-29 16:04] patvdleer opened #1020 "Multi node - worker/control-plane setup fails"
**What happened**:
[code]

**What you expected to happen**:
Basic create

**How to reproduce it (as minimally and precisely as possible)**:
`kind create cluster --wait 300s --config config.yaml --name kind-test --retain --loglevel debug`

[code]

**Anything else we need to know?**:
[kind.log](https://github.com/kubernetes-sigs/kind/files/3784508/kind.log)

**Environment:**

- kind version: (use `k

[2019-10-29 16:22] patvdleer commented on #1020
It seems like an issue on the VPS side, cleaning up and testing it again now raises disk space issues while have 60G to spare... sorry to have wasted your time..

[2019-10-29 16:22] #1020 closed

[2019-10-29 21:37] acim opened #1021 "nodes.extraPortMappings.listenAddress should be in certSANs"
**What happened**:

I used the following cluster config:

[code]
and I got this error:

**What you expected to happen**:

No errors.

**How to reproduce it (as minimally and precisely as possible)**:

Without extra port mappings, apiserver is attached to 127.0.0.1 of the docker host, but if you specify private network interface address like in the cluster configuration above, listener is attached

[2019-10-29 21:39] Xtigyro commented on #118
One limitation of Rancher's provisioner - it does not support `selector`.

For example:
`  Warning  ProvisioningFailed    5s (x2 over 20s)  rancher.io/local-path_local-path-provisioner-ccbdd96dc-796tn_f1095857-fa93-11e9-a90a-4a79b109c4fc  failed to provision volume with StorageClass "local-path": claim.Spec.Selector is not supported
`

[2019-10-29 21:45] acim opened #1022 "nodes.extraPortMappings.listenAddress and hostPort should override apiserver address in kubeconfig"
**What happened**:

I used the following cluster config:

[code]

and got the following apiserver in the kubeconfig:

[code]

**What you expected to happen**:

[code]

If someone wants to override (add extra listen address), it makes sense to assume he wants the same address to be used as apiserver address.

**How to reproduce it (as minimally and precisely as possible)**:

Just create cluster wit

[2019-10-29 21:51] BenTheElder commented on #1022
have you looked at `networking.apiServerAddress` / `networking.apiServerPort`?

what are you trying to accomplish? we do not support arbitrary additional endpoints at the moment but we could maybe pluralize these, I'd like to understand the use case firs though.

extraPortMappings is meant for applications

[2019-10-29 21:51] BenTheElder commented on #1021
https://github.com/kubernetes-sigs/kind/issues/1022#issuecomment-547645812

[2019-10-29 21:53] BenTheElder commented on #1022
https://godoc.org/sigs.k8s.io/kind/pkg/apis/config/v1alpha3#Networking

[2019-10-29 22:35] BenTheElder commented on #154
https://github.com/kubernetes-sigs/kind/pull/1023 is the last change to remove docker from the critical path for bringing up a cluster and move it behind the provider interface.

I intend to do further cleanup to the APIs around this and experiment with podman etc. in the v0.7 timeframe (AKA O(soon)). We're almost done with the fixes for 0.6

[2019-10-29 22:36] BenTheElder commented on #724
the tempdir will be gone in the next release https://github.com/kubernetes-sigs/kind/pull/1023

[2019-10-29 22:38] BenTheElder commented on #802
I've mostly implemented this under #850, will PR once some fun cases are handled.

The initial implementation was pretty small and simple, but we need a bit more code to handle with `KUBECONFIG` is multiple files.

[2019-10-29 22:38] BenTheElder commented on #802
I'm going to fold this into #850 which has more specific details on how to update the UX around kubeconfig.

Also: going the not-client-go route. We recently stopped needing it as a dependency in the command line, and with dropping everything the binary got much smaller and library management got much easier.

[2019-10-29 22:38] #802 closed

[2019-10-29 22:39] BenTheElder commented on #734
will handle in refactors after https://github.com/kubernetes-sigs/kind/pull/1023 lands

[2019-10-29 22:41] BenTheElder commented on #112
fixing in #850. kind clusters will have unique entries. have this part implemented pretty cleanly.

[2019-10-29 23:11] #1021 closed

[2019-10-29 23:12] acim commented on #1022
Solver, perfect, thank you. I didn't look that much in the code, but more in documentation, but this is not documented. However, it works perfectly.

[2019-10-29 23:12] #1022 closed

[2019-10-29 23:14] BenTheElder commented on #1022
Yeah sorry about the state of that, currently you can actually visit https://kind.sigs.k8s.io/v1alpha3 and browse the type definitions but they're not great.

we're figuring that out in #832 discussion

[2019-10-30 00:39] BenTheElder commented on #734
CRI part is done in #1023
remaining major public API fixup is in #1025

[2019-10-30 00:44] BenTheElder commented on #154
#1023 landed, #1025 finishes removing docker specific things from the APIs, leaving room to start experimenting with Provider implementations.

I've also fired up a throwaway GCE VM with podman for a while now, doing some experiments with that to get a better understanding of what supporting podman properly would entail.

[2019-10-30 04:42] BenTheElder commented on #734
this is more or less done

[2019-10-30 04:42] #734 closed

[2019-10-30 08:17] BenTheElder commented on #850
This is basically done without a client-go dependency, it's a little bit more code to get all the nice things, but not too substantial, and the behavior and binary size are much nicer than before 🙃
Along the way, also modifying kubeconfig without regex.

Will PR tomorrow, need to do some minor cleanup.

[2019-10-30 10:25] ruzickap commented on #1019
I can conform - it is working fine when I'm using the image above.

What is not working with the image is Helm installation:

[code]

Anyway - that is the different issue, than described above and I'm happy to close this ticket, because described problem was fixed.
I'll wait for new `kind` release and then I'll check the Helm again.

Thank you

[2019-10-30 11:11] fabiand opened #1027 "Same system UUID shared between nodes"
**What happened**:
I tried to run a VM live migration on a kind cluster using kubevirt VMs.
The error I got was:
[code]

Investigating this showed that indeed all nodes share the same UUID, this should not be the case.
KubeVirt is one component noticing this, but there might be more .

**What you expected to happen**:
Migration completes because all nodes have different UUIDs.

**How to reproduce

[2019-10-30 11:16] fabiand commented on #1027
Ok, this value comes from the physical host:

[code]

[2019-10-30 11:23] fabiand commented on #1027
Can also be retrieved by `dmidecode --string system-uuid`

[2019-10-30 11:28] fabiand commented on #1027
Which is also accesible here:
- /sys/devices/virtual/dmi/id/product_uuid
- /sys/class/dmi/id/product_uuid

According to k8s `GetSystemUUID` it might a solution to actual put a random uuid into a file and then mounting them over the product_uuid paths above.

[2019-10-30 12:48] vk496 commented on #889
Definitely this should be remarked in the docs. I didn't consider the btrfs problem because `docker info` reported overlay2, even if I was on btrfs backend in my host system.

Exactly the same problem, exactly the same solution :)

[2019-10-30 15:18] BenTheElder commented on #1027
Hmm so we do ensure a unique ID under systems and we fake out the product name already so there is precedent. https://github.com/kubernetes-sigs/kind/blob/7a99ef875be750625b1335f1b9ab159762c27841/images/base/files/usr/local/bin/entrypoint#L78

[2019-10-30 15:28] #1019 closed

[2019-10-30 15:29] BenTheElder commented on #112
/lifecycle active

[2019-10-30 15:29] BenTheElder commented on #113
/lifecycle active

[2019-10-30 16:50] BenTheElder commented on #1027
if we can figure out a good way to generate a valid value we can do a bind
mount the same way we handle the product name

On Wed, Oct 30, 2019 at 9:45 AM Fabian Deutsch <notifications@github.com>
wrote:

[2019-10-30 20:36] simonwahlgren opened #1030 "Accessing kube-dns from host"
Hi!

I can't figure out how to access kube-dns from my host. Using minikube I could just route range 10.96.0.0/12 into vboxnet0 and it would "magically" just work. I can now just add the kube-dns cluster IP to my resolv.conf to access the all services inside K8s from my host. Example:
[code]
Can something similar be done with Kind?

[2019-10-30 20:39] BenTheElder commented on #1030
what OS are you using?

docker for mac does not have reachable container IP addresses without some fun "hacks"

docker for windows / linux should be possible to do something like this but I haven't tried yet.

[2019-10-30 20:40] simonwahlgren commented on #1030
@BenTheElder You are fast man :-) I'm using Linux

[2019-10-30 20:45] BenTheElder commented on #1030
:sweat_smile:

so the node IP addresses should be reachable from the host and anything accessible on their "host ports" should work, but I'm not sure how exactly you'd wire this up.

I suspect @mauilion or @aojea can probably beat me to that ;-)

[2019-10-30 20:49] aojea commented on #1030
`ip route add 10.96.0.10 via $(docker inspect --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' kind-control-plane)` :)

[2019-10-30 20:54] simonwahlgren commented on #1030
@BenTheElder @aojea Haha damn you guys are impressively fast, thanks a lot! @aojea works like a charm thanks! Makes development so much easier when you can access the internal K8s hostnames locally

[2019-10-30 20:56] simonwahlgren commented on #1030
**ProTip!** If you are using dnsmasq add `server=/cluster.local/10.96.0.10` to `/etc/dnsmasq.conf`

[2019-10-30 20:59] sager-tech commented on #1016
@aojea I have fixed the issue, it was related to CIDR mismatch and some `IpPool` configuration.

I think I have traced it to a new issue with KIND - our tests fail with:
[code]
when trying to communicate with the Kubernetes cluster brought up with KIND. This cert issue was not a problem for us before when using DIND. Are there certs used by KIND to bring up the cluster? How do we gain access to th

[2019-10-30 21:03] BenTheElder commented on #1016
The kubernetes API server has certificates. these certs are generated by kubeadm.
workloads should be talking to it using an appropriate kubeconfig to talk to it using the certs in that.

[2019-10-30 21:18] simonwahlgren commented on #1030
I ended up with this script if some else is interested:
[code]

[2019-10-30 21:24] BenTheElder commented on #1027
for future reference:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#verify-the-mac-address-and-product-uuid-are-unique-for-every-node

[2019-10-30 21:43] aojea commented on #1016
for completeness, you can find them inside the node
[code]

kubeadm has some good documentation about certificate management https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

[2019-10-30 22:38] aojea commented on #1027
/close
fix was merged in #1028

[2019-10-30 22:38] #1027 closed

[2019-10-30 22:39] aojea commented on #1030
/close
thanks for the nice script

[2019-10-30 22:39] #1030 closed

[2019-10-30 22:40] aojea commented on #986
@BenTheElder is this for this milestone?

[2019-10-30 22:44] aojea commented on #710
/close
this has not activity, we couldn't reproduce it and e2e DNS tests are running periodically without any issue
Feel free to reopen

[2019-10-30 22:44] #710 closed

[2019-10-30 22:49] aojea commented on #631
@BenTheElder ???
 I think that with the new logging it would be easier to spot these problems, besides that 1.11 sounds a bit old 😅

[2019-10-30 22:53] aojea commented on #575
I think that @BenTheElder fixed this with the new logging mechanism
Currently, the error that kind shows is meaningful

[code]

/close

[2019-10-31 01:22] BenTheElder commented on #986
I keep the milestone up to date. This is not a blocker for the milestone It would be nice to have and might land before then if I'm blocked on other things and finish submitting it.

[2019-10-31 01:25] BenTheElder commented on #631
iit's a problem to fail on. it's not supported for these versions.

kind provides low effort support for 1.11+ currently, with high effort support for upstream supported versions. we've not abandoned any 1.11 support code. This matters to less than OR equal to 1.12, and 1.12 was still on it's last legs of support upstream when I filed this issue IIRC.

[2019-10-31 04:47] BenTheElder commented on #522
/assign

[2019-10-31 04:59] BenTheElder commented on #522
The upstream PR was closed.
I'm not a zsh user, but it looks like you should be using the instructions in `kind completion` rather than doing a `source <(kind completion zsh)`.

ref: https://github.com/zsh-users/zsh-completions/blob/master/zsh-completions-howto.org#telling-zsh-which-function-to-use-for-completing-a-command

[2019-10-31 05:05] BenTheElder commented on #522
IMO it looks like we should probably encourage installing the completion script output instead, which `kind completion` currently does.

[2019-10-31 05:05] #522 closed

[2019-10-31 06:13] aojea commented on #631
/close

per last comment

[2019-10-31 06:13] #631 closed

[2019-10-31 06:34] aojea commented on #113
/close

fixed by #1029

[2019-10-31 06:34] #113 closed

[2019-10-31 06:35] aojea commented on #112
/close
fixed by #1029
thanks for the great feedback

[2019-10-31 06:35] #112 closed

[2019-10-31 07:36] aojea commented on #118
I'm sure they would love the feedback 😄
cc: @yasker

[2019-10-31 08:59] BenTheElder commented on #750
This command was removed as part of overhauling kubeconfig management to match other tools, ref #850

[2019-10-31 08:59] #750 closed

[2019-10-31 10:21] vk496 opened #1034 "Error when use multiple contexts together"
**What happened**: When I create two clusters and use them both, there are problems with the correct usage of keys for each cluster (got error: You must be logged in to the server (Unauthorized))

**What you expected to happen**: Be able to access to the cluster

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
The problem is that the ku

[2019-10-31 10:47] aojea commented on #1034
hi @vk496
this was fixes just some hours ago :smile:
#1029

[2019-10-31 10:57] win5do opened #1035 "How to undo load docker-image?"
I exec `kind load docker-image mongo:3.6`. pod get `failed to create containerd container: error unpacking image: content digest` err.

docker exec into kind-control-plane and exec `ctr images list` get nothing.

How to delete the image?

[2019-10-31 11:03] vk496 commented on #1034
Ups... :smile:

[2019-10-31 11:03] #1034 closed

[2019-10-31 11:06] win5do commented on #1035
Answer is `ctr --namespace k8s.io images ls`, miss the namespace.

Closed.

[2019-10-31 11:06] #1035 closed

[2019-10-31 16:21] BenTheElder commented on #528
factoring out docker into a provider and node interface is 100% done for cluster operations.

image building I don't think we want to tackle for now, I'd rather only maintain one build, but we can see if s/docker/$tool/ works for any tools implementing the same build command maybe..

we definitely want more unit tests, and are going to collect e2e test coverage, but we do have a lot more unit test

[2019-10-31 19:19] Xtigyro commented on #118
@yasker Are we talking about dynamic provisioning? Because that's why I need it - so that the PVC can match the dynamically provisioned PV.

The standard K8s `hostPath` provisioner supports it though you're right - the one from AWS (`AWS EBS`), for example, does not support it, too. I haven't tried the others from GCP/Azure/etc.

[2019-10-31 20:01] yasker commented on #118
@Xtigyro I am not sure why you need the selector in the case above. The provisioners are always doing dynamic provisionings. You don't need to have a selector to ensure the matching between PVC and PV, since PV is always created based on the spec of PVC.

As for host path, is this the one you mentioned? https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/examples/ho

[2019-11-01 09:54] gnmahanth opened #1042 "Support runtimeClass feature"
**What would you like to be added**:
Support Kubernetes runtimeClass feature
(https://kubernetes.io/docs/concepts/containers/runtime-class/)

**Why is this needed**:
If there is a need to test untrusted workload having a runtime like gvisor, ignite or kata will be helpful.
Since kind already have containerd as CRI and it can support multiple runtime through containerd plugins.

[2019-11-01 13:30] BenTheElder commented on #1042
Ignite and kata are not going to work well inside the kind nodes (kvm being a non-containerized resource that we'd leak), though we'd like to use them as a backend for kind's _nodes_ possibly at some point.

runsc in the default ptrace mode would actually probably be fine though 🤔

We'd have to look into the overhead.

[2019-11-01 14:08] BenTheElder commented on #528
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kind-unit/1190267720940130305

We're up to 22% of statements and 31% of files.

Ordinarily I'd be very unhappy with that, but the other code is _mostly_ things like creating the nodes with docker exec, which we e2e test extensively.

I have a WIP PR to collect the e2e coverage of kind, we can diff when that's in and fill the gaps.

This code

[2019-11-01 14:08] #528 closed

[2019-11-01 14:46] olberger opened #1045 "Is there any way to share host path with docker node"
I'd like to share some local path on the host with the container running the cluster (docker run -v hostpath:guestpath ...), but couldn't spot a config file option to perform that.

Is this possible, then how ?

[2019-11-01 14:52] BenTheElder commented on #1045
Yep - https://github.com/kubernetes-sigs/kind/pull/730

the full config types are currently at https://kind.sigs.k8s.io/v1alpha3

Working on a better plan for the next iteration

[2019-11-01 14:54] BenTheElder commented on #1045
[code]

[2019-11-01 14:58] olberger commented on #1045
Thanks alot.

[2019-11-01 14:58] #1045 closed

[2019-11-01 16:22] BenTheElder commented on #999
looking into this again today. I think I have a better idea what the root cause may be, finally getting back to verifying 🤞

[2019-11-02 09:46] aojea commented on #1042
For reference

https://github.com/gnmahanth/kind-runsc

thanks @gnmahanth , awesome work documenting it

[2019-11-02 14:52] Xtigyro commented on #118
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#selector
Well - it appears if the pod and its PVC is created on one node, sometimes without a `selector` it does not bind to the correct PV.

[2019-11-04 14:53] prometherion opened #1047 "cobra errors are not logged"
**What happened**:

I tried to load images into my brand new KinD cluster but didn't know how `load docker-images` works, so I started typing and notice I was missing the first argument that has to be the Docker image to load.

**What you expected to happen**:

Expecting to see the error `name of image is required` printed on _standard output_ but wasn't there.

**How to reproduce it (as minimally

[2019-11-04 18:06] yasker commented on #118
@Xtigyro As the Kubernetes document said, the selector is used to select `existing` volumes. The provisioner is used to create `new` volumes.

Since the provisioner is always creating a new volume, it should match the spec of PVC 100% of the time (since the new volume was created according to the requirement specified in the PVC spec), otherwise, it sounds like a Kubernetes's bug.

If you can prov

[2019-11-05 13:55] maelvls opened #1051 "'kind get kubeconfig' returns internal host/IP instead of docker-forwarded port"
In https://github.com/kubernetes-sigs/kind/pull/1029 (see [discussion](https://github.com/kubernetes-sigs/kind/pull/1029/files/e3fafcd3edee0bb1c63953ee5aade82af6992832#r342542332)), the 'rewrite' of the container's host and port instead of 127.0.0.1 + the forwarded port when running `kind get kubeconfig` [was removed](https://github.com/kubernetes-sigs/kind/pull/1029/files/e3fafcd3edee0bb1c63953ee

[2019-11-05 14:12] BenTheElder commented on #1051
/assign

[2019-11-05 14:20] maelvls commented on #1051
looks like external and internal are inverted:

https://github.com/kubernetes-sigs/kind/blob/aea9a47507085fe7bf89f7f65d31ead92876a42d/pkg/cluster/provider.go#L82-L87

but Get expects 'external'

[2019-11-05 15:11] BenTheElder commented on #1051
d'oh :(

[2019-11-05 15:50] #1051 closed

[2019-11-05 15:59] BenTheElder commented on #1051
thanks for spotting, reporting, and fixing this!

[2019-11-05 16:33] sager-tech opened #1053 "Kind + Kubeadm v1Beta2 Patches"
I am using `kind 0.5.1` and when I try to do `kind create cluster` with the following manifest:
[code]

I get an error saying:
[code]

When I build `kind` from `HEAD` (resulting in `kind 0.6.0-alpha`), I am able to `kind create cluster` successfully. Based on what I've read from the other issues, I should be able to bring up the cluster with `0.5.1`. I am guessing the `kubeadm` version is the issu

[2019-11-05 16:36] sager-tech commented on #1016
I was able to use the token to communicate with the cluster. Thanks for your help!

[2019-11-05 16:36] #1016 closed

[2019-11-05 17:01] BenTheElder commented on #1016
great!

[2019-11-05 17:26] sager-tech commented on #1053
Thanks @BenTheElder

Ah, I see. I need the `kind` version for `linux`, is it possible to build that from HEAD?

The full commandline is: `kind create cluster --config `find . -name config.yaml` --image kindest/node:v1.13.7 `

There were a few kubeadm configurations generated, but none of them were with `apiVersion: kubelet.config.k8s.io/v1beta2`. They were either `v1beta1` or `v1alpha1`

[2019-11-05 17:36] BenTheElder commented on #1053
yes, try `make install`, though 0.5.1 should work fine.

yes, that's because of `kindest/node:v1.13.7`, the kubeadm API version is matched to the kubernetes version.

[2019-11-05 17:37] BenTheElder commented on #1053
with HEAD you can skip the `apiVersion` (and metadata.name) and cross your fingers that the fields are the same (eg most of them are for beta1 / beta2).

0.5.1 and down need to specify the matching API version

[2019-11-05 18:27] sager-tech commented on #1053
@BenTheElder `make install` works on linux as well? Running `./bin/kind version` returns `kind v0.6.0-alpha+85a46de118167a go1.13.3 darwin/amd64` which I would assume is for `darwin` only? Unless it means that it was built on `darwin`?

[2019-11-05 18:28] BenTheElder commented on #1053
did you build on a darwin host?
`make install` builds for the host. to build for another platform you can do something like `make build GOOS=linux`

[2019-11-05 21:47] sager-tech commented on #1053
@BenTheElder

I'm testing on a remote CI worker that doesn't retain the environment so debugging is a bit tough but:
1. I did `make build GOOS=linux` and uploaded the binary to be used
2. It brings up the cluster with `kind create cluster --config dep.yaml --image kindest/node:v1.13.7`
3. It ends with saying:
[code]
We later need to run a few `kubectl` commands which fail with:
[code]
Running `kub

[2019-11-05 21:50] BenTheElder commented on #1053
`HEAD` is not really a supported release, if you set the correct `apiVersion` this should work with v0.5.1

at HEAD we are shipping most of #850 to bring kubectl management in line with other tools.

currently that does not include `get kubeconfig-path` because it uses the standard path.

[code]

that's because you're using the old path for kubeconfig. `export KUBECONFIG="$(kind get kubeconfig-pat

[2019-11-05 21:52] BenTheElder commented on #1053
one of:
- don't `export KUBECONFIG` if using HEAD
- `export KUBECONFIG` but set your own path **before** calling `kind create cluster` e.g. `export KUBECONFIG=$HOME/.kube/kind-config-foo`
- leverage `kind get kubeconfig` to get the kubeconfig contents.

there will be a migration guide for this in the release. we're also going to add back a deprecated form of `kind get kubeconfig-path` that warns a

[2019-11-05 21:55] BenTheElder commented on #915
this is fixed in HEAD

[2019-11-05 21:55] #915 closed

[2019-11-05 23:13] sager-tech commented on #1053
Interesting. I've made the updates and am using 0.5.1 with `v1beta1` and everything looks good at the moment.

[2019-11-05 23:13] #1053 closed

[2019-11-05 23:15] BenTheElder commented on #1053
awesome.

definitely aware of the issues switching to the new kubeconfig as well ... not shipping a release until we're in better shape there, leaving #850 open :sweat_smile:

[2019-11-06 00:30] BenTheElder commented on #345
/help
this should be a new guide under /users, probably titled something like "Offline" or "Working Offline", similar to the "Private Registries" guide.

[2019-11-06 00:31] BenTheElder commented on #345
see: `site/` for the documentation sources
/good-first-issue

[2019-11-06 00:41] BenTheElder commented on #845
for CI I think the better pattern I want to try is to use a pool of PDs from some storage class to replace the emptyDir.

I've been mulling how we could do this and persist some of the images in a clean and sane way, but imo this is well out of scope for the kind project.

[2019-11-06 01:01] tao12345666333 commented on #345
/assign

[2019-11-06 01:02] tao12345666333 commented on #345
I will launch PR today.

[2019-11-06 01:41] amwat opened #1055 "TestAggregateConcurrent is flaky"
Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/1050/pull-kind-unit/1191890870245265410

/assign

[2019-11-06 02:09] BenTheElder commented on #1047
They should be logged now.
Thanks again for reporting this and sending a patch!

[2019-11-06 02:09] #1047 closed

[2019-11-06 02:22] aojea commented on #845
I think that this is only an issue for people using kind in their laptops or workstations, totally agree with you on the CI use case

[2019-11-06 02:45] #1055 closed

[2019-11-06 07:45] BenTheElder opened #1060 "KUBECONFIG management migration for kind v0.6.0+"
## `KUBECONFIG` management for kind `v0.6.0+` versus previous releases:

If you just want to use kind for local development, you can skip the `export KUBECONFIG="$(kind get kubeconfig-path --name=kind)"` step.

KIND now exports / merges kubeconfigs in the same way that kops, minikube, and other tools do. This means that when switching terminals kind will "just work" without remembering to export t

[2019-11-06 07:45] #1060 closed

[2019-11-06 07:45] BenTheElder commented on #1060
see: #850 for background.

[2019-11-06 07:49] BenTheElder commented on #1060
If you need help with this, please use: https://github.com/kubernetes-sigs/kind/issues/new?labels=triage%2Fsupport&template=question.md to file a new support issue, or reach out in #kind in the Kubernetes slack instance, thanks!

[2019-11-06 07:55] BenTheElder commented on #999
still a thing https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kind/1059/pull-kind-e2e-kubernetes/1191980418304315397

[2019-11-06 09:01] BenTheElder commented on #999
I can repro locally

[2019-11-06 12:14] plord12 opened #1063 "UDP broadcast fails between pods"
**What happened**:

After starting a kind cluster and creating two StatefulSet pods, I found UDP broadcast doesn't work between the pods.

**What you expected to happen**:

UDP broadcast to work.

**How to reproduce it (as minimally and precisely as possible)**:

Start 2 pods -

[code]

where centos.yaml is -

[code]

On the first pod listen for UDP packets -

[code]

On the second pod send a UDP

[2019-11-06 17:37] BenTheElder commented on #850
https://github.com/kubernetes-sigs/kind/pull/1061 brings back the kubeconfig-path command with a detailed (stderr) warning

[2019-11-06 20:52] Ilyes512 commented on #850
@BenTheElder Will it be still possible to get a config with the internal (docker) ip's? (`kind get kubeconfig --internal`)

[2019-11-06 20:58] BenTheElder commented on #850
@Ilyes512 yes, in fact `kind get kubeconfig` is more robust now, it only depends on a control plane node existing, it does not depend on the kubeconfig file on the host.

[2019-11-06 23:28] BenTheElder commented on #999
so there's null bytes at the end. I think the go tar reader exits early when it's done reading through the tar contents but before the `tar` util is done writing more null or similar.

we probably just need to read and discard the end

[2019-11-07 01:58] #999 closed

[2019-11-07 09:30] BenTheElder opened #1070 "v1alpha4"
In order to minimize the odds of notably breaking releases in the future we should round out v0.6 with a trivial `v1alpha4` config version that at least moves us out of the `*.k8s.io` namespace into `x-k8s.io` for kind's APIs to clarify that they are not official kubernetes APIs, in line with the API review requirements and guidelines.

### I propose the following minimal changes:

- Updated GVK:

[2019-11-07 09:32] BenTheElder commented on #110
The built in merging in v1.3.0 turned out to not be suitable for this use case, but for kind v0.6 I'd like to ship our own config patch merging instead and use that to configure registries as the first use case... https://github.com/kubernetes-sigs/kind/issues/1070

[2019-11-07 09:33] BenTheElder commented on #1063
will try to take a look at this tomorrow but also
/help

[2019-11-07 09:34] BenTheElder commented on #485
/help

[2019-11-07 12:37] aojea commented on #1070
Now that the provider code is properly isolated, should we add provider to the API?
I think that  we should also add the provider bridge too

[code]

[2019-11-07 15:02] BenTheElder commented on #1070
Pro: We can use struct literals to represent the types on disk

Con: Int32 uses less ram than the string values. (Except we only have a few of these and the valid values are short)

Con: Comparing Int32 is cheaper than comparing strings (except we only have a few of these and the valid values are short and this is not even on our performance radar).

AKA: We mimic-ed the upstream types which have

[2019-11-07 15:30] tao12345666333 commented on #1070
SGTM.

[2019-11-07 15:36] BenTheElder commented on #1070
Should add -- Prior art for a project actually being in x-k8s.io is in cluster API which has:
- Group: cluster.x-k8s.io
- Version: v1alpha2

=> `apiVersion: cluster.x-k8s.io/v1alpha2`
For the primary API of Cluster.

[2019-11-07 16:23] BenTheElder commented on #850
You can also now `kind export kubeconfig` which is a pretty natural extension of this to support re-exporting the kubeconfig AKA re-do the export that `kind create cluster` did if you lost your credentials or want to export to a second path.

[2019-11-07 22:31] Evengard opened #1073 "Allow creating a cluster without a control plane"
**What would you like to be added**: Right now if I do not specify any control plane nodes, kind fails with the error:
`ERRO[01:16:27] must have at least one control-plane node`
It would be better if this was allowed (with specifiyng JoinConfiguration patch options)

**Why is this needed**: sometimes it is needed to join a "virtual" cluster to an already existing control plane. For example testing

[2019-11-07 22:32] BenTheElder commented on #1073
this is out of scope for kind at the moment, and unlikely to be in scope in the near future.

https://kind.sigs.k8s.io/docs/contributing/project-scope/

[2019-11-07 22:34] BenTheElder commented on #1073
you should however take a look at https://github.com/kubernetes-sigs/cluster-api/tree/master/test/infrastructure/docker for a derivative project that supports managing nodes via the cluster API

[2019-11-07 22:34] #1073 closed

[2019-11-07 22:48] BenTheElder commented on #1070
/lifecycle active

[2019-11-07 23:35] Evengard commented on #1073
I've actually managed to do it with starting kind with trace log level and inspecting what it was actually doing. It seems that executing something like this:
[code]
With the `join_config.yaml` something like that:
[code]
seems to do the trick. The question is how much can I rely on the `kindest/node` docker image?

[2019-11-07 23:36] BenTheElder commented on #1073
we try to avoid unnecessary breakages but make no guarantees currently
each kind release documents the list of images published with it,
guaranteed to work with that release

On Thu, Nov 7, 2019 at 3:35 PM Evengard <notifications@github.com> wrote:

[2019-11-08 02:00] BenTheElder commented on #1070
The base types are added, the patch fields are not yet.

[2019-11-08 02:36] absoludity opened #1077 "apiserver pod is unable to resolve internal DNS"
**What happened**:
APIserver is unable to authenticate using an internal `--oidc-issuer-url`:
[code]

**What you expected to happen**:
API server should be able to resolve internal cluster services.

**How to reproduce it (as minimally and precisely as possible)**:

E.g. The api server cannot resolve `kubernetes`
[code]
while an apiserver pod run to test things can:

[code]

**Anything else we nee

[2019-11-08 02:47] absoludity commented on #1077
Actually, nm, I then checked with an actual cluster and realised this isn't specific to kind (or minikube), but k8s itself:
[code]

[2019-11-08 02:47] #1077 closed

[2019-11-08 02:54] BenTheElder commented on #1077
Yeah, the internal DNS in k8s is based on the API so it would be a cycle

On Thu, Nov 7, 2019, 18:47 Michael Nelson <notifications@github.com> wrote:

[2019-11-08 04:31] Evengard commented on #1073
It kinda works, but the networking doesn't. After investigating it more, it seems that kind uses a different CNI from the well-known weave/calico/etc, and the classic weave/calico/etc fails to actually connect with each other. Can you please hint about how does it actually work, and is there any possible workaround to make more "classical" CNI working?

[2019-11-08 05:36] BenTheElder commented on #1073
You can disable it via
networking:
  disableDefaultCNI: true

It does simple netlink routes and ip masq.
Think kubernetes the hard way, but automated :+)

On Thu, Nov 7, 2019, 20:31 Evengard <notifications@github.com> wrote:

[2019-11-08 10:23] aojea commented on #1063
does UDP broadcast work for a normal Kubernetes cluster?
I assume that it works in a single node cluster like minikube, but in a normal cluster there are multiple external factors, like the external network or node OS security that may filter those packets.
Definitively something interesting to check, if somebody want to help just has to `tcpdump` on the different points and see where the packet i

[2019-11-08 16:51] Evengard commented on #1073
For some reason, it seems to work if I create the cluster with kind, but when trying to do the same with manually booting up a kindest/node container as a worker (as I described above) and installing weave on top of it, it seems like the network isn't working well... For some reason... nslookup often fails (successful resolution is rare, usually it's just timeouts), pings doesn't go between nodes

[2019-11-08 16:56] BenTheElder commented on #1073
the node image is mostly meant to be a container for the binaries etc., the
cluster management logic is in kind.

this includes installing the network, which must happen after the apiServer
is up, so something must coordinate this.

the node image is an implementation detail.

On Fri, Nov 8, 2019 at 8:51 AM Evengard <notifications@github.com> wrote:

[2019-11-08 17:00] Evengard commented on #1073
Too bad, as I can't seem to really understand how to do it manually, as I'm missing something apparently on the networking stack. Also sad as it seems there is no existing solution of doing what I want without the use of full blown virtual machines (which I tried to avoid).

[2019-11-08 17:04] BenTheElder commented on #1073
it is pretty uncommon to join nodes from different backends / networks
etc..
you should be able to install something like calico on your existing
control plane if you are booting the node image directly as a worker, in
that case the default networking setup doesn't even make sense, we have a
custom implementation specifically for lightweight docker nodes.

On Fri, Nov 8, 2019 at 9:00 AM Evengard <

[2019-11-08 17:08] Evengard commented on #1073
It's exactly what I am trying to do! I have a control plane booted via kubeadm init on the machine, installed on it weave, and then I'm trying to join to it the kindest/node image as a worker node manually. And for some reason weave seems to start up fine but the actual networking doesn't work.

[2019-11-08 21:42] christianh814 commented on #154
Since Fedora 31 basically broke docker for me, I'm just adding this comment so I can follow this. I've been using `podman` for everything EXCEPT `KinD`. So this will be great to only use one tool.

@rhatdan - Is there a corresponding being tracked at the [podman](https://github.com/containers/libpod) repo?

As soon as there's things to test, I'll be ready! :)

[2019-11-08 21:43] BenTheElder commented on #154
So, Fedora 31 broke _kubernetes_. Podman will not fix this. You need to switch to cgroups v1, which will unbreak docker and Kubernetes.

[2019-11-08 21:48] BenTheElder commented on #154
In theory it should be possible to test podman compatibility with kind by doing:
[code]

With zero kind changes.

But in practice you'll likely find that podman is still not actually 100% compatible to the docker CLI, so we'll need to start implementing a custom backend in kind to handle these.

I have a GCE vm with podman starting on this but it is NOT the priority of this project. The focus is t

[2019-11-08 22:15] christianh814 commented on #154
ACK. I will be passing the kernel boot options for now.

[2019-11-09 05:20] BenTheElder commented on #1070
I wrote the TOML patch runtime, but need to test it more extensively.

[2019-11-10 13:00] alexellis commented on #973
@neolit123 where is the official / latest guidance stating that PSP will definitely / or very likely be deprecated? I want to cover PSP at KubeCon, but I'm struggling to find that info. cc @stefanprodan

[2019-11-10 14:37] digitalcoyote commented on #956
https://chocolatey.org/packages/kind

Package is approved :)

[2019-11-10 15:35] neolit123 commented on #973
@alexellis the only source of this information is the following meeting where "fixing PSP in a new interation" was the less preferred option: https://www.youtube.com/watch?v=WP0-uR-BQC0

[2019-11-10 16:56] robertojrojas opened #1084 "Provide ability for Worker Kubeadm Config Patches"
**What would you like to be added**:
 Ability for workers to get Kubeadm config patches.

**Why is this needed**:
  In situations where the worker needs a set of patches to be applied in addition to those provided at the cluster level.
  Labeling worker is one scenario of this.

[2019-11-10 17:35] BenTheElder commented on #1084
This is a good feature that that we discussed previously but hadn't seen a concrete need for yet.

As you can see the code is already constructing config separately per node after past refactors.

FWIW Labeling nodes should already be possible before this is a feeature, the control plane nodes are labeled with kubeadm's master role and the node containers are labeled so labeling the node objects a

[2019-11-10 18:15] BenTheElder commented on #602
#110 is progressing.
/assign
/remove-help

[2019-11-10 18:33] BenTheElder commented on #451
https://github.com/kind-ci/examples/pull/17

[2019-11-10 20:00] BenTheElder commented on #1070
ref: https://github.com/kubernetes-sigs/kind/issues/1084 for applying patches to individual nodes.

[2019-11-10 20:07] BenTheElder commented on #88
Sorry about that @cblecker, I will not mark v0.6 as prelease. I'm also trying to ensure we think about and finish landing obvious breaking changes before that drops this week.

[2019-11-11 02:43] cblecker commented on #88
Sounds good. Please ping here when v0.6 drops and I can help submit my formula upstream to Homebrew.

[2019-11-11 02:51] BenTheElder commented on #88
Thanks! Aiming for ASAP this week, just closing out some things in the
milestone :-)

On Sun, Nov 10, 2019 at 6:43 PM Christoph Blecker <notifications@github.com>
wrote:

[2019-11-11 15:21] vincepri commented on #88
🎉 This is exciting!

[2019-11-11 20:15] yashbhutwala commented on #745
For anyone looking to replicate this and get `ceph` working on `kind`, I got `ceph` running with `filesystem` provisioner using the following commands.  Note: Currently, this will only work on a `single-node` cluster.

[code]

[2019-11-11 20:54] axsaucedo opened #1091 "Kube controller manager and scheduler keep restarting when running in KIND"
**What happened**:

Kube controller manager and scheduler keep restarting when running KIND inside POD inside GKE Kubernetes cluster for end-to-end testing. There has been several attempts to avoid this through allocation kubeadm memory in configuration, allocating resources on pod, etc, but nothing seems to work.

[code]

In consequence the controllers we deploy also fail crashing our e2e tests:

[2019-11-11 20:58] neolit123 commented on #1091
the restarts indicate liveness probe failures for the components.

in your GKE cluster, is there anything blocking their insecure ports?
10251 = scheduler, 10252 = cm

note that kubeadm in 1.17 is moving to using the secure ports:
https://github.com/kubernetes/kubernetes/pull/85043

[2019-11-11 20:58] neolit123 commented on #1091
/triage support
/remove-kind bug

[2019-11-11 21:03] axsaucedo commented on #1091
Thank you @neolit123, I have deployed everything in a GKE cluster with default configuration on all nodes. Are issues around blocked ports common when running KIND in default GKE nodes? How can I check if this is the case?

[2019-11-11 21:08] neolit123 commented on #1091
i have no information how GKE configures by default.

Are issues around blocked ports common when running KIND in default GKE nodes? How can I check if this is the case?

you can go on the kind nodes and try connecting to one of the ports i listed above suing HTTP to see if anything blocks the connection.

[2019-11-11 21:12] axsaucedo commented on #1091
Thank you @neolit123 - I have connected to the node and have tested it with CURL:

[code]

It doesn't seem that I am able to access the KIND cluster.

This time, the whole KIND cluster seems to have crashed. From within the pod, it seems that any command show EOF or reset when running kubectl commands:

[code]

[2019-11-11 21:19] neolit123 commented on #1091
try obtaining some logs from the restarting control-plane pods.

[2019-11-11 21:25] BenTheElder commented on #1091
xref: #303

I highly recommend NOT running kind inside another cluster if you can at all avoid it. That said, #303 has some details.

[2019-11-11 21:39] BenTheElder commented on #956
awesome, what will we need to do to release future versions?

[2019-11-11 21:54] axsaucedo commented on #1091
@neolit123 it seems that in a fresh cluster it still doesn't reach the ports either (same issues). The logs I provided in the initial post only seem to show that the pod can't reach the master. I could try to run another cluster and try to collect the logs of the system containers. What would be the best way to debug this?

[2019-11-11 22:01] axsaucedo commented on #1091
@BenTheElder we managed to successfully run [our end to end tests](https://github.com/SeldonIO/seldon-core/blob/master/testing/scripts/kind_test_all.sh) with KIND by leveraging the sig-infra scripts that are used to test with KIND (which start a docker daemon), however it does seem that we are getting unexpected behaviour with the KIND kube-system pods crashing every time...

In that case, would y

[2019-11-11 22:11] digitalcoyote commented on #956
It's automatic if it continues to use my repo (setup based on chocolatey recommended AU CI scripts). If you want to integrate it into your, you need a chocolatey account (to get a key to push updates) and I can help with integration as necessary. Otherwise, it'll auto-publish updates as soon as my AU scripts detect a new version/URL to put in the chocolatey scripts.

[2019-11-11 22:26] BenTheElder commented on #1091
1. Do you mean https://github.com/kubernetes/test-infra? Or wg-k8s-infra? There's no infra SIG.
2. Did you check #303? There are a few problems to work around shoe-horning a cluster into a cluster. We document the ones we use there for now.

No. I do reccomend using kind for e2e tests, that's one of the primary purposes.  We are moving towards it, not away from it.

I do NOT recommend sticking clu

[2019-11-11 22:58] BenTheElder commented on #1063
Running this same test:
`kubectl apply -f ~/test.yaml`

[code]
[code]

Also does not work on a newly created GKE cluster with standard options.

[2019-11-11 22:59] BenTheElder commented on #1063
the pods in fact schedule on different nodes. I don't think it's expected in Kubernetes's network model that you can broadcast between pods like this.

[2019-11-11 23:03] BenTheElder commented on #1063
You could try using `hostNetwork: true` to run in the host network namespace and bypass all pod networking, but I'm not sure that's a good idea.

I remembered there was a slack-thread in #kind related to this issue and looked back:

Right, so this could probably be done with `hostNetwork`, but I don't think this is the right approach on Kubernetes. Services are a native object and have native disc

[2019-11-11 23:04] BenTheElder commented on #1063
I'm going to close this out as not a bug in kind, but you may find more help in #kubernetes-users or maybe #sig-networking in the Kubernetes slack with the general problem of service discovery in Kubernetes.

[2019-11-11 23:04] #1063 closed

[2019-11-11 23:09] BenTheElder commented on #956
awesome, thanks. we should probably circle back on how to manage a ""project owned"" account (or at least add the kind repo maintainers) but I'm very happy to have it auto-published for now, thank you very much :-)

[2019-11-12 15:37] axsaucedo commented on #1091
@BenTheElder I meant test-infra, my bad! Thank you very much for the clarification, reallly great to hear that there is a lot of push to run e2e tests in KIND.

I have tried #303 - the container mounts made it possible for us to run it. I have also tried adding the network configuration, but I still have the errors with our kube-system pods crashing, so I am not sure why exactly this could be the

[2019-11-12 15:44] axsaucedo commented on #1091
@BenTheElder @neolit123 for reproducibility purposes, you actually can replicate this issue by running the following pod:

[code]

The functionality is similar if you run it with the dns configuration (although our containers that depend on gcloud have issues, but the issues are not relevant to this):
[code]
Furthermore in order for the tests to work, you need to create an authentication file for

[2019-11-12 16:38] BenTheElder commented on #1091
Do you have cluster logs?
Have you tuned the inotify limits?
Are resources leaking to the host and overloading the nodes?

[2019-11-13 16:57] BenTheElder opened #1094 "support `KIND_CLUSTER_NAME`"
needs a little more thought but roughly see https://github.com/kubernetes-sigs/kind/issues/850

moving tracking over here, the bulk of #850 (the breaking and most useful parts imho) landed for v0.6.0, this will be an interesting additional feature for v0.7.0

[2019-11-13 16:58] BenTheElder commented on #850
will track `KIND_CLUSTER_NAME` in another issue for v0.7.0 https://github.com/kubernetes-sigs/kind/issues/1094

[2019-11-13 16:58] #850 closed

[2019-11-14 02:27] chenliu1993 opened #1095 "Question about "kind build base-image""
Hi,
    I am new to kind and I am using 'kind build base-image' to build a base image to run, but while I am running this image with docker, the 'entrypoint' will throw an error "no kind directory". So I checked the file about kind/build image and found that '/kind' folder is 'mkdir'ed while creating a node image. Is this a logically step or '/kind' folder is created somewhere else while execing '

[2019-11-14 02:41] BenTheElder commented on #1095
You need a checkout of kind to run this

In the future we may remove it, it's basically just a docker build now.

[2019-11-14 02:52] chenliu1993 commented on #1095
Got it! Thank you

[2019-11-14 02:52] #1095 closed

[2019-11-14 08:05] axsaucedo commented on #1091
Those are good questions. So I have dived ruther, and I think that a lot of the issues came from hosts overloading the nodes.

More specifically we have a lot of tests that were runnin in parallel, some of which push docker images to KIND, we suspected that running those in parallel were the reason why the whole KIND cluster was going down (and after its down we only see EOF messages when running

[2019-11-14 19:32] jan25 commented on #996
Hi @BenTheElder ! Looks like we already have tidy happening here https://github.com/kubernetes-sigs/kind/blob/master/hack/update/generated.sh#L32 which is used in `verify/generated.sh` you linked in the issue. Or am i missing something?

[2019-11-14 23:59] konstantin-dzreev commented on #148
Kind 0.5.1
When I restart my computer a running cluster seems to survive, it just has to be manually started:
[code]
So It looked like the container had received SIGINT signal (130-128=2) before the machine shutted down.

When I restart docker, or manually stop/start node container, or send SIGINT to the node, it never recovers and reports ```Exited (129)``` or ```Exited (130)``` before I try to s

[2019-11-15 07:22] BenTheElder commented on #1084
fixed in #1083

[2019-11-15 07:22] #1084 closed

[2019-11-15 21:24] BenTheElder commented on #996
I'm not sure what we're missing, it seemed some spurious changes slipped through though :thinking:
https://github.com/kubernetes-sigs/kind/pull/995

[2019-11-16 02:13] BenTheElder commented on #110
So this will not be the _best_ in v0.6.0, I'm working on a design for better UX, however:
In v0.6.0* we have `containerdConfigPatches` that can be used to _patch_ the config with the insecure registry setting like:
[code]
I'll write up a guide & script around this for a working approach that does not involve clobbering the existing config.

In future releases we can offer a more integrated experie

[2019-11-16 03:21] BenTheElder opened #1098 "release v0.6.0"
TODO:
- [x] Close out other issues in the milestone
- [ ]  Write Release notes
  -  [x] Write KUBECONFIG migration guide
  -  [ ] Detail v1alpha4 config migration & features ...
  - [ ] ...
- [ ] tag / mark a release
- [x] push new images:
  - [x] v1.16.3 `sha256:bced4bc71380b59873ea3917afe9fb35b00e174d22f50c7cab9188eac2b0fb88`
  - [x] v1.15.6 `sha256:1c8ceac6e6b48ea74cecae732e6ef108bc7864d8eca8d2

[2019-11-16 03:21] BenTheElder commented on #1070
fixed by https://github.com/kubernetes-sigs/kind/pull/1081

[2019-11-16 03:21] #1070 closed

[2019-11-16 03:22] BenTheElder commented on #110
moving to v0.7.0 because that's possibly the timeframe for making this better, but this is basically in v0.6.0

[2019-11-16 03:23] tao12345666333 commented on #1098
:+1:

[2019-11-16 03:31] tao12345666333 commented on #1098
* v1.16.3
* v1.15.6
* v1.14.9
* v1.13.12
* v1.12.10
* v1.11.10

Is these versions?

[2019-11-16 03:32] BenTheElder commented on #1098
yes, those versions.
I always do a fesh pull and check with `git tag | grep v1.X` locally when I go to build 😅
updated the issue body with those 🙃

[2019-11-16 05:53] tao12345666333 commented on #1098
I wrote a script that I hope will make it easier for you to build.

[code]

[2019-11-16 10:11] prksu commented on #1094
@BenTheElder can i do this one?

some question. currently, we have `"kind"` as `DefaultClusterName` should we replace it with env variable? or still used it if KIND_CLUSTER_NAME env not set?

[2019-11-16 14:00] BenTheElder commented on #1094
Hi, you can but I recommend a "good first issue" or "help wanted" for starting usually. We are not going to merge this before v0.6.0

The environment variables should only be used when set and when the flag is not set. Otherwise we should maintain the default. (See #850)

This logic should be de-duplicated in an internal package (something like pkg/cmd/internal/flag).

[2019-11-16 14:05] BenTheElder commented on #1091
Been slammed with some things at work & kubecon coming.

Tuning the inotify limits is coveted in #303.

You can avoid overloading the node by setting appropriate resources on your job pods.

For cluster logs I was referring to inspecting the kind cluster logs. Eg with `kind export logs` which collects some of them.

Resources can leak if you fail to delete the kind cluster. (Again #303). This is o

[2019-11-16 14:06] BenTheElder commented on #1091
I don't know how much resources your workloads need. A one node kind cluster doesn't need terribly much on its own, but your workloads might

[2019-11-16 23:10] tinyzimmer commented on #154
I am like 90% done with a podman provider with @BenTheElder 's refactor.

The aforementioned rootless issue still applies. I can't get the kind image to boot properly unless podman (and therefore kind) is executed as root. If someone is wanting to take a swing at this, make sure you first allow your user a crap-load more uids than one might normally would.

E.g. my `/etc/sub{u,g}id` is

[code]

ju

[2019-11-17 14:47] prksu commented on #1094
@BenTheElder just created a PR on #1099

please take a look 😁

[2019-11-17 18:58] phcollignon commented on #842
Little feedback to confirm that NetworkPolicy is supported with Calico CNI.
I disabled kindnet and configured Calico by adding this to the config file :
[code]
Then install Calico and disable rpf check (not sure it is still needed):
[code]
Then I started the cluster again and checked some NetworkPolicies which seem to work as excpeted.
[code]

[2019-11-17 21:49] remram44 commented on #52
I've had success running kind with the docker:dind service by using the Networking section of the config, e.g. setting `networking.apiServerAddress` to the IP address of the `docker` service.

Using something like `apiServerAddress: 0.0.0.0` won't work because this single setting is used for three things:
* The listening address for the node container's exported port
* The certificate subject name

[2019-11-17 23:09] asaf-erlich opened #1101 "Docker not running results in unclear error message during kind create cluster"
**What happened**:
For the first time after installing kind on my mac I ran `kind create cluster --name=clusterapi` and saw the error message:
`Error: could not list clusters: failed to list nodes: exit status 1`.

**What you expected to happen**:
A cluster to be created? After starting up docker on mac it worked correctly. Since I was following instructions for the first time I wasn't sure exactl

[2019-11-18 04:18] tanjunchen opened #1103 "404 url"
|file_path|url|
|----|----|
|kind/site/content/docs/user/quick-start.md |https://github.com/kubernetes-sigs/kind/tree/master/pkg/build/base/sources|
|kind/site/content/docs/design/initial.md| https://github.com/kubernetes-sigs/kind/tree/master/images/base/entrypoint|

[2019-11-18 07:11] hwdef commented on #1103
I will fix these

[2019-11-18 15:39] tao12345666333 commented on #1103
/remove-kind bug

[2019-11-18 15:51] BenTheElder commented on #1101
Are you on v0.5.1?
In HEAD this has changed a bit.

[2019-11-18 15:54] BenTheElder commented on #1101
Sorry yes I see that you are.

In HEAD we have different messaging.

Please do have docker running to use Kubernetes IN Docker, or pretty much any docker based tool 😅

[2019-11-18 15:54] #1101 closed

[2019-11-18 15:56] BenTheElder commented on #1098
The trick for #197 is knowing when we should be building a new one. The answer for that is probably having prow kick it off when the tag is pushed.

I'm at kubecon now but will try to see about finishing this today. Didn't get to it over the weekend.

[2019-11-18 16:22] tao12345666333 commented on #1098
Yes, so it can be in the release process. :+1:

(I have not read the code of prow. Before this, I thought it would be fine to  compare the difference between kubernetes's tag and DockerHub tags.

[2019-11-18 16:24] tao12345666333 commented on #1103
#1104  and #1105

/close

[2019-11-18 16:24] #1103 closed

[2019-11-18 16:26] BenTheElder commented on #1098
let's discuss in #197 instead of here but .... that's not sufficient because you also need to consider the kind version. we need to consider how to communicate this to users as well.

in any case, building the images is also by far the easiest part. writing release notes takes time and care.

[2019-11-18 17:06] BenTheElder commented on #1098
`$ git log v0.5.1.. --format="%aN <%aE>" --reverse | sort | uniq` (note to self for the future)

[2019-11-18 17:19] BenTheElder commented on #1098
authors:
[code]

really need to automated mapping that.

[2019-11-18 17:30] tao12345666333 commented on #1098
I can do something for this. like https://github.com/containerd/release-tool

[2019-11-18 17:31] #1098 closed

[2019-11-18 17:33] BenTheElder commented on #1098
https://github.com/kubernetes-sigs/kind/releases/tag/v0.6.0

[2019-11-18 17:37] BenTheElder commented on #88
@cblecker v0.6.0 is out and NOT tagged as a pre-release

[2019-11-18 19:10] cblecker commented on #88
https://github.com/Homebrew/homebrew-core/pull/46886

[2019-11-18 20:07] aojea commented on #148
The main problem is that the container is not guaranteed to take the same IP that was assigned before the reboot, and that will break the cluster.

However, one user reported a working method in the slack channel
https://kubernetes.slack.com/archives/CEKK1KTN2/p1565109268365000

[code]

[2019-11-18 23:00] konstantin-dzreev commented on #148
Thanks, I think I'm getting why this is not easy.

P.S.Pausing/unpausing seem to work until you stop/start the docker service, then it is the same problem again

[2019-11-19 01:05] BenTheElder commented on #110
https://github.com/kubernetes-sigs/kind/pull/1107 adds a tutorial for this

[2019-11-19 04:01] BenTheElder commented on #956
thanks!

[2019-11-19 04:01] #956 closed

[2019-11-19 16:39] BenTheElder commented on #88
This is done, thank you @cblecker!

[2019-11-19 16:39] #88 closed

[2019-11-19 18:06] BenTheElder opened #1111 "Building Kubernetes master branch is broken"
- https://github.com/kubernetes/kubernetes/pull/85456 for the fix
- https://github.com/kubernetes/kubernetes/pull/85457 to prevent regressions

Mitigation options until https://github.com/kubernetes/kubernetes/pull/85456 merges:

- Clear GOFLAGS with `GOFLAGS= kind build node-image`
- Use bazel to build `kind build node-image --type=bazel` (this is what CI for the Kubernetes repo does for caching

[2019-11-19 18:11] aojea opened #1112 "Improve project community profile"
**What would you like to be added**:

- [x] Code of conduct

- [ ] Pull request template

**Why is this needed**:

In order to fulfill the recommended community standards

https://github.com/kubernetes-sigs/kind/community

[2019-11-19 18:11] aojea commented on #1112
/help-wanted
/good-first-issue

[2019-11-19 18:12] BenTheElder commented on #1112
so, we have a code of conduct, github just does not recognize it.

[2019-11-19 18:13] BenTheElder commented on #1112
a pull request template is not particularly helpful for this project, the community "standards" are unfortunately not very helpful.

ALL kubernetes projects "fail to meet the standards" because the code of conduct check matches exact text from ~2 choices github will give you when creating a project

this is a github bug, and well known. we've spoken to them about it.

[2019-11-19 18:13] #1112 closed

[2019-11-19 18:25] BenTheElder commented on #110
this is pretty much supported, if not the most elegant. will follow up further in https://github.com/kubernetes-sigs/kind/issues/602

[2019-11-19 18:25] #110 closed

[2019-11-19 18:25] BenTheElder commented on #602
https://github.com/kubernetes-sigs/kind/pull/1107

[2019-11-19 18:25] BenTheElder commented on #602
https://kind.sigs.k8s.io/docs/user/local-registry/

not the most elegant, but it's a starting point. thinking about the UX of a friendlier option

[2019-11-19 18:28] BenTheElder commented on #148
This is on my radar, we've just had some other pressing changes to tackle (mostly around testing kubernetes, the stated #1 priority and original reason for the project) and nobody has proposed a maintainable solution to the network issues yet. I'll look at this more this cycle.

[2019-11-19 18:31] BenTheElder commented on #668
Revisiting this: Please just fork this script, I do not think we ultimately intend to support anything in hack/ as a downstream reused artifact. It's too hard to support the ""api surface"" of shell scripts and the script is not very complex.

[2019-11-19 18:31] #668 closed

[2019-11-20 08:52] BenTheElder commented on #1111
This was fixed earlier today by https://github.com/kubernetes/kubernetes/pull/85456

[2019-11-20 08:52] #1111 closed

[2019-11-20 22:10] christianh814 opened #1116 "Running kind delete cluster has issue deleting linked containers"
**What happened**:

Running `kind delete cluster` gives the following output

[code]

**What you expected to happen**:

For the cluster to get deleted without error

**How to reproduce it (as minimally and precisely as possible)**:

1. Create cluster

[code]

The contents of `config.yaml`

[code]

2. Run the workaournd to make calico work

[code]

3. Install calico

[code]

4. Label the workers as

[2019-11-20 22:25] christianh814 commented on #1116
More verbose output

[code]

[2019-11-20 22:30] neolit123 commented on #1116
i'm going to assume that if you do `kind get nodes` it also lists your ingress containers?
ideally the filter should not catch these.

[2019-11-20 23:13] christianh814 commented on #1116
Indeed it does

[code]

[2019-11-21 00:09] neolit123 commented on #1116
@christianh814
in this function you can see the docker command that is used for retrieving the list of nodes:
https://github.com/kubernetes-sigs/kind/blob/226c290cdd1f8f39a948d436ac9c96deeb1ae1ef/pkg/internal/cluster/providers/docker/provider.go#L92

deprecatedClusterLabelKey is defined here:
https://github.com/kubernetes-sigs/kind/blob/383279e348eed288a3ad68a984b355ddd4a7254a/pkg/internal/cluster

[2019-11-21 00:32] neolit123 commented on #1116
looks like the cluster names already forbids ",".

potential fix here:
https://github.com/kubernetes-sigs/kind/pull/1117

/priority important-longterm

[2019-11-21 02:29] aojea commented on #1116
@christianh814
this is no longer needed in 0.6 https://github.com/kubernetes-sigs/kind/pull/897

[2019-11-21 02:32] christianh814 commented on #1116
Nice!

[2019-11-21 03:01] minxuancao opened #1118 "Helm 3 in Kind"
Does Kind have any plan to use helm 3 in the near future?

[2019-11-21 03:40] BenTheElder commented on #1118
helm should work with kind but we have no plans to do anything special there

[2019-11-21 03:47] brightzheng100 commented on #110
Good writeup @BenTheElder

Two errors there:

1.  The injecting `registry` host is wrong:

[code]

2. There is a small typo: `registry:500/image:foo` should be `registry:5000/image:foo`

BTW, how to contribute to docs?

[2019-11-21 05:25] aojea commented on #110
@brightzheng100 you can submit a PR, the docs files are in the kind repo
https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/user/local-registry.md

[2019-11-21 06:05] tao12345666333 commented on #1118
Yep, all of Helm v2 and v3 can work with kind. We don't need to do anything for it.

[2019-11-21 08:36] brightzheng100 commented on #110
yup, just submitted as #1119

[2019-11-22 00:30] selfuryon opened #1121 "Cannot create cluster in Arch Linux with ZFS Storage Driver"
**What happened**:
Tried to create a cluster with `kind create cluster` and get:
[code]
In kubelet service logs:
[code]
Is it a problem with zfs storage driver? Why we see  overlayfs there?
**What you expected to happen**:
Get a working cluster

**How to reproduce it (as minimally and precisely as possible)**:
Don't think that it's exactly a reason but I use Arch Linux with ZFS and docker with ZFS

[2019-11-22 08:13] nicks commented on #602
Yes, that's exactly what I wanted! I can work with that! Thanks!!

This can be closed (unless you wanted to leave it open to talk about friendlier UX)

[2019-11-22 21:07] nicks commented on #602
also -- if there's anything we can do to help to make this friendlier, we'd be happy to contribute engineering/documentation work. I was thinking a UI more like

[code]

but would trust your judgment on the right thing here!

[2019-11-23 00:32] cunei commented on #1121
Same here on Ubuntu, using the ZFS storage driver for Docker.

[2019-11-23 00:37] BenTheElder commented on #1121
Please see the known issues in the docs. Overlay and AUFS are known to
work, but not ZFS/btrfs. Afaik both Kubernetes and docker in docker have
issues with them.

Unfortunately you'll need to use a different storage driver. There's
nothing we can do in kind as far as I know

On Fri, Nov 22, 2019, 16:33 cunei <notifications@github.com> wrote:

[2019-11-23 00:38] BenTheElder commented on #1121
However it seems we're missing ZFS there, I thought we had that :(
https://kind.sigs.k8s.io/docs/user/known-issues/#docker-on-btrfs

We'll need to update that

[2019-11-23 09:55] phcollignon commented on #1118
I tested Helm 3 with Kind 0.5.1 and no issues so far ..
Helm 3 does not use Tiller server component anymore so it is even easier to install

[2019-11-24 02:53] BenTheElder commented on #1118
Hoping this is answered now :-)

[2019-11-24 02:53] #1118 closed

[2019-11-24 04:37] BenTheElder commented on #110
Thanks for catching these and the PR

On Thu, Nov 21, 2019, 00:36 Bright Zheng <notifications@github.com> wrote:

[2019-11-25 17:35] averri commented on #118
This saved my day, thanks.

[2019-11-25 21:45] aojea opened #1124 "kindnetd image is not present in the v1.16.3 node image"
**What happened**:

The kindnetd image is not present on the docker images and the CNI fails

**What you expected to happen**:

Have the CNI kindnetd image inside the nodes images so it works in airgapped environment

**How to reproduce it (as minimally and precisely as possible)**:

Compile the master version a create a cluster `./kind create cluster`

Once it boots check the images inside the co

[2019-11-25 21:48] BenTheElder commented on #1124
this shouldn't be the case
/assign

[2019-11-25 21:55] BenTheElder commented on #1124
it's probably only pulling by the sha, because we specify it.

however the preloading being broken is likely orthogonal

[2019-11-25 22:19] aojea commented on #1124
seems that the problem is in the `ctr import` command, sideloading the image doesn't work too

[code]

and after that

[code]

[2019-11-25 23:01] BenTheElder commented on #1124
the hash is wrong.

[2019-11-26 08:33] licslan opened #1125 "how can i create a cluster ? should i fanqiang to use internet it is not ok use domestic network ?"

[2019-11-26 09:10] tao12345666333 commented on #1125
You can use kind directly.

Kind's node image include all images. You just need to make sure you can access dockerhub.

[2019-11-26 17:18] BenTheElder commented on #1125
xref https://github.com/kubernetes-sigs/kind/issues/1124 there is currently a bug in which case the most recent images will be missing an image from dockerhub

Though again they only need to pull from docker hub, not gcr.io

[2019-11-28 00:26] BenTheElder opened #1126 "v1alpha4 parsing does not match docs (fields are required that should be defaulted)"
this is true for extraPortMappings and extraMounts, on the protocol and the mountPropagation

/assign
/priority important-soon

[2019-11-28 00:43] BenTheElder opened #1128 "containerdConfigPatches applied to external load balancer nodes"
... which fails

I.E. for "HA" clusters with multiple control planes we need to avoid trying to patch nodes that are not kubernetes nodes

/assign
/priority important-soon

[2019-11-28 00:49] BenTheElder commented on #1125
except for #1124 kind should work as long as you can pull the `kindest/node` docker image matching the one you create the cluster with via `--image` or config, the set of images including the default is listed in the release notes.

you should not need any internet access once this is pulled to your host.

hope that answers your question, please re-open or file another one if not!

[2019-11-28 00:49] #1125 closed

[2019-11-28 01:13] #1128 closed

[2019-11-28 02:19] #1126 closed

[2019-11-28 03:28] brightzheng100 commented on #710
I encountered exactly the same issue in my `kind` env in my MacBook.
As I've got similar experience from [here](https://github.com/kubernetes/kubeadm/issues/1731), so simply killed the CoreDNS pods helped, again!

I believe it's a bug somewhere

[2019-11-28 06:43] aojea commented on #710
It maybe, but the problem is that there are many moving parts and difference between the environment reported.
Kind is running in the kubernetes CI with a very low rate of failure and a considerable amount of times per day, that makes me think the failure has to be environmental and not in kind default setup.

[2019-11-30 23:43] ereslibre commented on #1020
I have been getting this issue recently with a [kind patch that lowered timeouts for HAProxy](https://github.com/kubernetes-sigs/kind/compare/master...ereslibre:low-timeout) -- to test some things.

The fix is merged now: https://github.com/kubernetes/kubernetes/pull/85763.

I could reproduce almost everytime with the linked kind patch, always with several control plane instances (as the problem a

[2019-12-01 03:33] Stonedge commented on #148
I could be wrong... feel free to delete/ignore/flame if a miss something or if I'm completely disconnected from the reality....

I didn't know the inner working of Kind. I've also go over the #484 details which seems to focus on DNS feature to solve the issue... but I'm unsure if that track has been investigate:

Did creating a custom bridge network with defined ip range and assign static ip(outsi

[2019-12-01 10:28] crixo commented on #758
@Ciantic Using a single node as per you example it works just fine.
I added additional worker nodes and it works only if the pod has been deployed onto the node where I configured the extraPortMappings.
I tried basic examples (pod+service) using nodePort: they work regardless the node where the pod has been deployed (as expected according to the nodePort concept).
What am I missing?

[2019-12-01 17:59] aojea commented on #148
Thanks for sharing your thoughts, the problem with this approach is that it requires to keep the state and implement and IPAM that persist after reboots :/

[2019-12-01 18:28] neolit123 commented on #148
to me it seems tolerable if kind stores such state on disk.

k8s' IPAM is not part of k/utils though:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/allocator.go

[2019-12-01 19:58] alexellis commented on #148
Unsubscribing as I'm getting so many pings from this thread, however I'm looking forward to 1.0 where this feature is scheduled to land. 👍

[2019-12-02 09:00] TomatoAres commented on #1124
I remove my previous configuration file :
`rm /root/.kube -rf`

and it works.

[2019-12-02 09:51] WeihanLi opened #1131 "deployment keeps not ready"
**What happened**:

the deployment keeps not ready, and no rs/pod created

![image](https://user-images.githubusercontent.com/7604648/69948779-31b5da80-152b-11ea-84cb-e50735ee17c0.png)

**What you expected to happen**:

the rs/pod should be created if normal

**How to reproduce it (as minimally and precisely as possible)**:

I create a deployment by the script follows:

[code]

## Anything else ma

[2019-12-02 10:12] #1131 closed

[2019-12-02 10:23] WeihanLi commented on #1131
runs normal after I delete all before kube configs

[2019-12-02 18:01] jujugrrr opened #1133 "failing to run kind in dind"
**What happened**:
Trying to create a cluster with kind failed

**What you expected to happen**:
A working cluster

**How to reproduce it (as minimally and precisely as possible)**:

kind create cluster --image "kindest/node:v1.14.9" --loglevel debug

**Anything else we need to know?**:

The command is running on a kubernetes pod container with a sidecar container sharing a socket for the docker d

[2019-12-02 18:12] aojea commented on #1133
Please try to check this issue first https://github.com/kubernetes-sigs/kind/issues/303 to see if you meet all the requirements to run kind inside a pod

[2019-12-02 21:52] BenTheElder commented on #1020
thanks @ereslibre !

[2019-12-03 07:05] gyliu513 opened #1134 "`kind get` does not work except `clusters`"
[code]

[2019-12-03 07:08] BenTheElder commented on #1134
kind get nodes requires the --name flag

On Mon, Dec 2, 2019, 23:05 Guang Ya Liu <notifications@github.com> wrote:

[2019-12-03 07:23] gyliu513 commented on #1134
Thanks @BenTheElder , but the problem is that for such case, the error message is confusing, it just report `Error: unknown cluster "kind"`, I think we should enhance the error message to report the CLI help info, comments?

[2019-12-03 07:27] BenTheElder commented on #1134
I think we could use more of this, yes, and I'm working on a design for annotating help messages, but this is not a bug.

[2019-12-03 07:28] #1134 closed

[2019-12-03 07:29] BenTheElder commented on #1133
/retitle failing to run kind in find
/remove-kind bug
/kind support

[2019-12-03 07:30] BenTheElder commented on #1133
I don't recommend adding another layer of find, but if you really must, see #303 :-)

[2019-12-03 07:31] BenTheElder commented on #1134
FWIW we did some work on this in v0.6.0 as well, you should upgrade :-)

[2019-12-03 07:42] gyliu513 commented on #1134
@BenTheElder the 0.6.0 print no error message for such case, I think we need fix this :)

[code]

[2019-12-03 07:54] BenTheElder commented on #1134
It's not an error, there are no nodes in that cluster name.

Compare to kubectl --namespace.

On Mon, Dec 2, 2019, 23:42 Guang Ya Liu <notifications@github.com> wrote:

[2019-12-03 08:16] gyliu513 commented on #1134
I think we should at least print out some message as follows:

[code]

[2019-12-03 09:25] jujugrrr commented on #1133
@aojea / @BenTheElder , you are champions :-). It works now. Was there anything obvious in the log or just something you knew about?

😜

[2019-12-03 09:25] #1133 closed

[2019-12-03 09:59] aojea commented on #1133
hey, thanks for the compliments,
on my side, it was about the experience, "dind + weird behaviour" = #303  :smile:

[2019-12-03 12:16] vazhem opened #1135 "kind need to mount /usr/src to node container"
**What happened**:
Kind fail to start cluster when running inside a docker container in Ubuntu 18.04.
Kind fails to write config for kubelet because it cannot detect config of the kernel.
Similar change was added to k8s https://github.com/kubernetes/kubernetes/pull/69614

**What you expected to happen**:
cluster created successfully.

**How to reproduce it (as minimally and precisely as possible)*

[2019-12-03 12:28] BenTheElder commented on #1135
Could you please share logs from the failure?

kind only slightly supports running inside your own docker in docker and there's frequently issues with this that are not related.

https://github.com/kubernetes/kubernetes/pull/69614 does not seem related.

IIRC kubeadm should only be warning based on kernel config, NOT failing.

[2019-12-03 12:31] BenTheElder commented on #1135
17.09 is quite old. (~2 years?) https://kind.sigs.k8s.io/docs/user/known-issues/#older-docker-installations

[2019-12-03 13:13] vazhem commented on #1135
Re-run it without modified kind... You are right, seems the problem appears only when kind docker container itself does not get /usr/src mounted, but when kind does not mount it inside node container does not matter.

[2019-12-03 13:13] #1135 closed

[2019-12-03 22:58] BenTheElder commented on #1124
@TomatoAres I think you're commenting on the wrong issue? :upside_down_face:
This issue is not about kubeconfigs.

[2019-12-03 22:59] BenTheElder commented on #1124
So the root issue is that `docker save` with an image ID does not include tags in the output.

We can fix that ourselves with a little work. We have some similar code in the preloading of kubernetes built images already.

[2019-12-03 23:02] afritzler opened #1137 "[ChromeOS] Failed to create cluster inside ChromeOS Linux VM"
**What happened**:

Not sure if this is related to #763, but I am trying to spin up a `kind` cluster on ChromeOS (79.0.3945.42 (Official Build) beta (64-bit)) and getting the following error:

[code]

In debug mode I am getting the following:

[code]

**Environment:**

- kind version: v0.6.0
- Kubernetes version: v1.16.3
- Docker version: 19.03.5
- OS: Debian 9

[2019-12-03 23:04] BenTheElder commented on #1137
this is #763, chromeOS does not work.

[2019-12-03 23:04] BenTheElder commented on #1137
AFAIK, no kubernetes cluster options work on chromeOS, the sandbox is too restrictive.

[2019-12-03 23:06] BenTheElder commented on #1137
upstream bug xref: https://github.com/kubernetes-sigs/kind/issues/763#issuecomment-521446222

sorry about this, but we don't have much control over this, and we're already tracking this in #763 and really should be tracking it upstream in chromeOS (and there is an upstream bug linked there)

closing this one as a duplicate.

[2019-12-03 23:06] #1137 closed

[2019-12-03 23:08] BenTheElder commented on #763
dupe: https://github.com/kubernetes-sigs/kind/issues/1137

I don't really have the capacity to dig into this further at the moment, and I don't think any of our other usual contributors do. AFAICT, the chromeOS sandbox is too restrictive to run Kubernetes.

This is probably generally a good thing :upside_down_face: as kind is certainly not the most secure thing to be doing, but there's not much we

[2019-12-03 23:23] afritzler commented on #1137
Thanks for the update and sorry for the dup!

[2019-12-03 23:48] cbandy commented on #763
If I understand correctly, that upstream bug is targetting minikube (rather than kind specifically) and also it might be ... done/terminal/finished/closed?

[2019-12-03 23:48] BenTheElder commented on #1116
So:

https://docs.docker.com/network/links/

I'm not sure we should invest in this, in addition, @neolit123's patch doesn't work in all cases, the output is not sorted and the format is not documented :(

[2019-12-03 23:51] BenTheElder commented on #763
I don't know if the upstream bug is actually fixed, but if you read through the comments the upstream bug expands to more generally trying to run _some_ form of kubernetes.

kind is not doing anything special for operating systems otherwise, we only require privileged docker containers and whatever kernel features kubernetes requires.

[2019-12-03 23:52] neolit123 commented on #1116
+1 i will close my PR.
`--link` might have to be added to "known issues".

[2019-12-03 23:56] BenTheElder commented on #1116
Given that this is the only instance I've heard of someone trying to use this with kind and docker upstream strongly discourages using it with bold red text, I think we can even leave out the "known issues" and focus on the user defined networks solution.

https://github.com/kubernetes-sigs/kind/issues/1124 takes priority but we definitely need to look at user defined networks more.

I think you c

[2019-12-03 23:58] BenTheElder commented on #1116
FWIW if we need a more complete fix in the future, I think the answer is to walk the list of names and keep the one without a `/` in it. I'd rather not add unnecessary complexity for a feature that is going away though.

[2019-12-03 23:58] #1116 closed

[2019-12-04 00:01] BenTheElder commented on #1121
documented in https://github.com/kubernetes-sigs/kind/issues/1121

I wish we could fix this, but this is way out of scope for us -- the issues should be in the upstream projects and I'm not a filesystem expert :sweat_smile:

Highly recommend `overlay2` as the container filesystem for using kind (and docker in general).

[2019-12-04 00:01] #1121 closed

[2019-12-04 00:04] BenTheElder commented on #748
- https://github.com/kubernetes-sigs/kind/pull/457 had some audit logging setup. we're not likely to do that for a bit but...

I think @aojea addressed the rest.
Some more of these should definitely filter into kind.sigs.k8s.io or various other repo docs though...

[2019-12-04 00:04] #748 closed

[2019-12-04 04:50] BenTheElder commented on #1124
working on new images with the fix for kindnetd, will cut a small release with these

[2019-12-04 04:52] BenTheElder opened #1140 "kind load docker-image doesn't include tag when a sha256 is specified"
`kind load docker image foo:bar@sha256:...` -> the image will only be loaded as the `sha256:...`

This is due to `docker save` intentionally not including the tag metadata when a sha256 is specified.

IMO kind should support this anyhow.

We can inject the metadata parsed from the kind CLI argument into the image before loading it.

/priority important-longterm

[2019-12-04 04:52] BenTheElder commented on #1124
https://github.com/kubernetes-sigs/kind/issues/1140 will cover the `kind load docker-image` issue, which is due to `docker save`.

[2019-12-04 05:59] BenTheElder commented on #1124
pushed:
- `v1.16.3@sha256:64ecb9181c2d38e86ec637978c1ed6fa6e63a17c7e397e5f5c1521a2a1ca6859`
- `v1.15.6@sha256:943b9fe5ff4dfb2e4ef585f195210f71bdf7caea67b05a1e2987283032cc03aa`
- `v1.14.9@sha256:14d4883aed89a588f408b7aa4ae2fc78b31d459e226a1c08f3ef027cd0608806`
- `v1.13.12@sha256:1341d0af02c724ad61082a523b9ef920a57eb8d94de47d2fdd006f596b3079f4`
- `v1.12.10@sha256:78f71c96a51beb311ac20d4f070e343b76ec

[2019-12-04 07:04] BenTheElder commented on #1124
need to push again after https://github.com/kubernetes-sigs/kind/pull/1141 :|

[2019-12-04 07:19] #1124 closed

[2019-12-04 08:08] BenTheElder commented on #1124
pushed:
- `v1.16.3@sha256:70ce6ce09bee5c34ab14aec2b84d6edb260473a60638b1b095470a3a0f95ebec`
- `v1.15.6@sha256:18c4ab6b61c991c249d29df778e651f443ac4bcd4e6bdd37e0c83c0d33eaae78
`
- `v1.14.9@sha256:bdd3731588fa3ce8f66c7c22f25351362428964b6bca13048659f68b9e665b72`
- `v1.13.12@sha256:1fe072c080ee129a2a440956a65925ab3bbd1227cf154e2ade145b8e59a584ad `
- `v1.12.10@sha256:c5aeca1433e3230e6c1a96b5e1cd79c901

[2019-12-04 12:48] metal3d commented on #830
I'm sorry to comment here, but the problem in #118 is not exactly the same. I'm using my own gitea chart https://gitub.com/metal3d/charts and the "gitea" user uses its own uid/gid. When I write data on mounted volume `/data` that are not persisted. Each time the pod restarts, my data is lost (e.g. sqlite database)
The problem is (on my side) to write on PV with non-root user, it "seems" to work, b

[2019-12-05 05:42] BenTheElder commented on #99
https://kind.sigs.k8s.io/docs/user/resources/#using-contour-ingress-with-kind

[2019-12-05 20:52] mshahat opened #1145 "delete cluster failed as unknown command"
Hello,

I'm trying to delete a cluster but i am receiving the following error.

[code]

And i am on macOS `10.15.1 (19B88)`

Many thanks,

[2019-12-05 20:55] BenTheElder commented on #1145
Hi, you want `kind delete cluster --name=cka1-16`

On Thu, Dec 5, 2019, 12:52 Mohamed Shahat <notifications@github.com> wrote:

[2019-12-05 21:08] mshahat commented on #1145
That's right. thanks!
not very natural though, but my mistake not going through the help in details.

Thanks v. much

[2019-12-05 21:08] #1145 closed

[2019-12-05 21:14] BenTheElder commented on #1145
Yeah I get that, it's mostly been about consistency across all the commands
and being able to have a default, similar to minikube's --profile.

I think we might want to add a `kind delete clusters [name1 name2 ...]` or
something like that and maybe let this command take --name optionally as an
argument instead.

We're also going to add an environment variable that can be used instead of
--name.

O

[2019-12-06 04:11] BenTheElder commented on #921
Forgot to ping with this coming out in the kuebcon chaos :/

Any sign of this with 0.6 images?
We're keeping up to date with containerd's latest 1.3.X versions now as we develop kind.

[2019-12-06 04:14] howardjohn commented on #921
I have not seen any issues loading images in at least a month, but we do have retries now that may be masking errors

[2019-12-06 08:31] IzekChen opened #1146 "Pull image failed"
While I try to create the cluster, I wasn't able to pull the image.
Seems like the k8s.gcr.io is not exist anymore.
Probably rename to something else or mirrorgooglecontainers
I have try to pull the image by myself and give them a tag
But still have no luck to get it work.

I1206 08:01:15.538165     118 checks.go:249] validating the existence and emptiness of directory /var/lib/etcd
I1206 08:01:15

[2019-12-06 08:32] #1146 closed

[2019-12-06 09:16] BenTheElder commented on #830
check https://github.com/kubernetes-sigs/kind/issues/118

i'm not sure which is best, the CSI driver is attractive, and users have reported some success with the rancher local storage option.

[2019-12-06 09:20] BenTheElder commented on #830
your chart seems to have a PVC, which is #118, right now those are backed by k8s.io/hostpath which is not a good option, but available in the kubernetes tree as a local driver...

we absolutely must ship something else in the near future, but handling multi-node in particular is tricky and storage is in flux a bit upstream.

[2019-12-06 10:18] Xtigyro commented on #830
I'm still using Rancher's solution. So far so good - incl. handling multi-node.

[2019-12-06 13:28] yashbhutwala commented on #118
@BenTheElder seems many issues have crept up with regards to storage and volume provisioning, I know I've had some too 😃 (#830, #430, https://github.com/pivotal/kpack/issues/217, https://github.com/pivotal/kpack/issues/201).  Is making [rancher/local-path-provisioner](https://github.com/rancher/local-path-provisioner/releases/tag/v0.0.11) the default up for consideration, at least for the near fut

[2019-12-06 16:50] w-p opened #1148 "DNS resolution / configuration appears to be incorrect"
I am unable to validate node / container DNS configuration within the cluster according to the [Kubernetes docs on debugging DNS](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/). Am I doing something totally wrong?

**What happened**:
Commands
[code]
Output
[code]

**What you expected to happen**:
Something similar to this, without resolution to an akamai host
[code]

[2019-12-06 16:51] BenTheElder commented on #118
It is but I'm not sure if we'd be leaving some people on other architectures SOL, and right now it should be ~two commands to swap out kind's for this 😅

If we add it upstream, it becomes an API 🙃

I'm also not sure the CSI driver is less stable. I'll take another look next week. Right now looking at the host restart issue again finally 🙃

AFAICT local-path-provisioner "works" for multi-node setup

[2019-12-06 16:54] BenTheElder commented on #1148
https://github.com/docker-library/busybox/issues/61#issuecomment-503218240

[2019-12-06 16:56] BenTheElder commented on #1148
This is probably not a kind bug, DNS lookup in your pod isn't respecting all of the DNS config regarding search paths.

Though I don't know why it is resolving to that host, probably something with your host's DNS, which the kind nodes will inherit, and transitively the pods as the fallback DNS.

[2019-12-06 17:01] BenTheElder commented on #1148
You can also check via some of the kubernetes system pods, which would be very broken if they couldn't resolve this.

[2019-12-06 18:44] gengwg opened #1149 "failed to get IPs for node"
[code]

I'm using macbook. Docker version 19.03.5, build 633a0ea

[2019-12-06 18:56] BenTheElder commented on #1149
whoah, can you share your docker info?

also, it should have included the command output in the full output of that command?

[2019-12-06 18:56] BenTheElder commented on #1149
er `docker info` that is?

have you configured docker in any non-default ways?

[2019-12-06 19:11] yasker commented on #118
@BenTheElder Just one thing. Local Path Provisioner is able to provision the volume on any node from the beginning, not only the node running the provisioner. For example, you can configure it at https://github.com/rancher/local-path-provisioner#configuration

If there is anything I can help to make Local Path Provisioner better suit for the kind's usage, let me know.

[2019-12-06 19:34] gengwg commented on #1149
@BenTheElder thank you very much for the prompt response. My coworker (what a genius!) helped me found out the root cause. You are right, my docker is actually an alias. This is a new Mac. I copied my bash alias file from a Linux machine, where it needs sudo to run docker. On Mac, one don't need sudo to run docker command.

[code]

I started a new terminal (to remove the alias), and remove the `.d

[2019-12-06 19:34] #1149 closed

[2019-12-06 19:59] BenTheElder commented on #1149
Ahh ok, thanks for following up!

[2019-12-06 20:03] w-p commented on #1148
You are correct. Both `ubuntu` and `python:3.7-slim` work. Thanks.

[2019-12-06 20:25] BenTheElder commented on #1148
We should update those docs 😅

[2019-12-06 21:49] BenTheElder commented on #1148
it seems the k8s documentation is supposed to pin to a version where this works (`busybox:1.28`), is there any chance you were not using this version?

[2019-12-06 21:50] BenTheElder commented on #1148
https://github.com/kubernetes/website/pull/9901

[2019-12-06 21:53] BenTheElder commented on #1148
I actually can't reproduce this with the current docs :confused:

[2019-12-07 15:50] jeffwubj commented on #153
any thoughts on the host side?

[2019-12-08 10:01] #676 closed

[2019-12-08 16:00] w-p commented on #1148
I consistently get the same results but I can't determine the source of whatever DNS misconfiguration I have going on. I've setup a reproduction repo [here](https://github.com/w-p/kubernetes-sigs-kind-issues-1148-repro). Since I have a solution, we can close this out unless you'd like to continue digging for the root cause.

[2019-12-08 20:42] aojea commented on #1148
Can you log the queries received and processed in your CoreDNS and paste them here?
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#are-dns-queries-being-received-processed

It seems that your DNS provider is resolving `kubernetes.default`

I'm curious about what's the order of requests from the busybox pod

[2019-12-08 21:19] tamalsaha opened #1151 "Ship a working storageclass"
**What would you like to be added**:

We would like KIND to create a working storageclass by default.

**Why is this needed**:

We build a few Kubernetes operators. We would like to update our documentation so that users use KIND instead of Minikube as a test/dev Kubernetes setup in case they don't have one. Here is an example: https://github.com/stashed/docs/pull/54

One of the blockers for us is

[2019-12-08 21:21] BenTheElder commented on #1151
This is the dynamic volume provisioning issue.
We're revisiting it this week.

On Sun, Dec 8, 2019, 13:19 Tamal Saha <notifications@github.com> wrote:

[2019-12-08 21:21] tamalsaha commented on #1151
Cool! Here is the script we are using now (also updated in the original post): https://github.com/appscodelabs/e2e-test-setup/blob/kind-v0.6.1/run.sh

[2019-12-09 02:17] mkarimawan commented on #1151
Hi @tamalsaha, just wondering why couldn't you use default sc that ships with k8s ? It works find with Kind on local host.

[2019-12-09 03:18] tamalsaha commented on #1151
I don't remember it now. But we were creating a 3 node cluster and using dynamic provisioning. Something there did not work. If the default/built-in storageclass works, then that is even better.

[2019-12-09 14:41] swachter opened #1152 "external service is not resolved"
**What happened**:

An external service can not be resolved.

I deployed the following external service:

[code]

The service name can not be resolved (executed in a pod):

[code]

I also tried to resolve `insurance-app-backend.dfs.svc.cluster.local` to no avail.

**What you expected to happen**:

The external service should be resolved.

When I change the service definition to use a selector then

[2019-12-09 15:20] swachter commented on #1152
`externalName` does not support to specify an IP address. It must be a name.

[2019-12-09 15:20] #1152 closed

[2019-12-09 15:26] electrofelix opened #1153 "`kind get kubeconfig` cannot handle additional containers linked to the control plane"
**What happened**: Using a NodePort ingress with kind and running additional socat containers in order to provide predictable local ports for communication with the internal ports results in kind being unable to retrieve the kubeconfig.yaml

See https://banzaicloud.com/blog/kind-ingress/ for an example on what was run

**What you expected to happen**: Attaching additional containers to forward por

[2019-12-09 17:42] BenTheElder commented on #1153
https://github.com/kubernetes-sigs/kind/issues/1116

[2019-12-09 19:43] electrofelix commented on #1153
Is there any alternative here in this case to link until kind makes use of the user defined network?

Or would it be acceptable to code up the equivalent of retrieving the container ID and then asking docker for the container name instead of attempting to retrieve it directly with `docker ps`?:
[code]

I couldn't find a definition of what `--no-trunc` is supposed to truncate or not regarding outpu

[2019-12-10 04:42] BenTheElder commented on #1148
@aojea beat met to it - patching the k/website example to use a different image for debugging DNS with more suitable tools 🤞
will hold this open

[2019-12-10 04:44] BenTheElder commented on #1153
use port forwards on the nodes

https://kind.sigs.k8s.io/docs/user/resources/#using-contour-ingress-with-kind

we need to get an ingress guide up in the official docs soon.

unfortunately not, the internal API for kind revolves around node names. this would be a fairly breaking change.

see #1116 for reasoning, but basically docker chose to strongly deprecate linked containers upstream so we're no

[2019-12-10 04:47] BenTheElder commented on #1151
the built in one (installed by kind) from k8s.io/hostpath built in driver has a few issues, namely that it requires containers to have UID=0, because it's based on the `hostPath: ...` driver for which it would be a violation of the security model to support non-root so upstream k8s does not respect fsgroup

this one alone is a big problem.

this, host restarts, user defined networks, and registrie

[2019-12-10 06:06] chenliu1993 commented on #1146
hi, I run into the same issue, how you solve this problem? thanks

[2019-12-10 06:24] IzekChen commented on #1146
I1206 08:01:15.545436 118 checks.go:844] pulling k8s.gcr.io/kube-apiserver:v1.18.0-alpha.0.1502_93c9085e8a934c
I1206 08:01:15.560767 118 checks.go:844] pulling k8s.gcr.io/kube-controller-manager:v1.18.0-alpha.0.1502_93c9085e8a934c
I1206 08:01:15.574422 118 checks.go:844] pulling k8s.gcr.io/kube-scheduler:v1.18.0-alpha.0.1502_93c9085e8a934c
I1206 08:01:15.587863 118 checks.go:844] pulling k8s.gcr.i

[2019-12-10 06:29] chenliu1993 commented on #1146
got it, thanks!

[2019-12-10 09:38] electrofelix commented on #1153
My understanding was I can only talk directly to the individual containers and cannot use this to talk to the ingress? But I see I can do a port-forward to the `service/ingress-nginx`, thanks I was assuming this wouldn't work in the expected way. Thanks hadn't thought of that.

It does make some things a little more awkward that running two socat docker containers would have access to the ports 80

[2019-12-10 09:53] BenTheElder commented on #1153
Er, this part from the post (partial kind config):
[code]

means that you can port forward the ingress ports on the host to the node and then run the ingress on the node behind that.

[2019-12-10 09:57] BenTheElder commented on #1153
Er, you should check https://projectcontour.io/kindly-running-contour/, none of that should be necessary.

Yeah no, that is expensive. kind is built around the assumption that nodes can be indexed cheaply by name. Which is correct except when this extremely deprecated docker feature is used.

Not as far as I know. kind has operated for more than a year without any issues related to this until some

[2019-12-10 09:59] BenTheElder commented on #1153
basically the entirety of https://banzaicloud.com/blog/kind-ingress/ should work fine, but instead of using the bit about socat containers, use

`config.yaml`:
[code]

`kind create cluster --config=config.yaml`

[2019-12-10 10:03] BenTheElder commented on #1153
I left a similar comment on the post https://banzaicloud.com/blog/kind-ingress/#comment-4719044201

[2019-12-10 11:08] aojea opened #1154 "Add new k8s IPv6 configuration improvements to KIND"
**What would you like to be added**:

Currently we have to overcome kubernetes IPv6 configuraiton limitations in kind, i.e, hardcoding node ip

- [x] https://github.com/kubernetes/kubernetes/pull/85850

- [x] https://github.com/kubernetes/kubernetes/pull/84727

**Why is this needed**:

This will simplify the Kind glue and test better upstream IPv6 support on k8s

We can get rid of the NodeAddress

[2019-12-10 13:46] danielfbm commented on #705
I am working to add `kubernetes` as a new provider (using kubectl to manage pods, etcs), is this a viable/desirable goal for `kind` ? If yes, I would like to contribute (and probably would need some guidance)

[2019-12-10 16:54] electrofelix commented on #1153
I've tried to apply the same idea to the nginx ingress, since that is what is used in production and unfortunately it doesn't appear to work, but I'm guessing I'm doing something dumb as the contour one worked via the http (though it would return an SSL error when trying to access via https), thanks for the pointers. Might just follow this up in the slack channel to get the fine details down.

Jus

[2019-12-10 17:13] BenTheElder commented on #705
Hi, I've actually already written this as a joke, it came up at our kubecon
deep dive too :+)

At this time we're not ready for that, it might be amusing someday, but we
aren't prepared to actually support it and wouldn't recommend it, and need
to land other changes.

On Tue, Dec 10, 2019, 05:47 Daniel Filipe Bruehmueller Morinigo <
notifications@github.com> wrote:

[2019-12-10 17:40] BenTheElder commented on #1154
that'll be nice :-)

[2019-12-10 17:40] BenTheElder commented on #1151
/assign

[2019-12-10 17:40] BenTheElder commented on #1151
/lifecycle active

[2019-12-10 19:17] BenTheElder commented on #1153
[thread with more discussion here] https://kubernetes.slack.com/archives/CEKK1KTN2/p1576000804422800?thread_ts=1575998693.415500&cid=CEKK1KTN2

[2019-12-10 19:21] BenTheElder commented on #197
FWIW v1.17.0 released within ~minutes of the release (not automated yet, just bentheelder-bot watching the release ;-))

[2019-12-10 19:22] BenTheElder commented on #921
going to close this for now, but keeping an eye out for signs of this..

[2019-12-10 19:22] #921 closed

[2019-12-10 22:34] vincepri opened #1155 "Support for force-loading images"
**What would you like to be added**:
A `--force` flag to `kind load docker-image`  to overwrite images if already present.

**Why is this needed**:
In local development, often I find myself loading new images into kind and have to change the tag to accomplish this.

[2019-12-10 22:34] BenTheElder commented on #1155
they should be reloaded if the tag is the same but the image ID is not.

what kind version are you using? you should not need to change the tag.

[2019-12-10 22:43] vincepri commented on #1155
I'll try again in v0.6.1 tomorrow and report back

[2019-12-10 22:44] BenTheElder commented on #1155
ACK -- we definitely had a bug with this before but it was theoretically fixed in 0.6 IIRC

[2019-12-10 22:45] ncdc commented on #1155
FYI, I had mentioned this to Vince as something that I ran into, but I haven't tried it with 0.6.x yet.

[2019-12-10 23:30] danielfbm commented on #705
Could you kindly share the code if possible? In our team kind fits as a
perfect development environment, but not really possible to run directly
from our laptops, so considering a kubernetes cluster to handle the
orchestration seems fair.
Thanks

On Wed, Dec 11, 2019, 1:13 AM Benjamin Elder <notifications@github.com>
wrote:

[2019-12-10 23:35] BenTheElder commented on #705
it's not in a good state, however there are many comments here about running kind in kubernetes clusters :grimacing:

I highly recommend avoiding that if at all possible, it's tricky to avoid the various footguns, in general I don't recommend creating priviliged containers in kubernetes clusters unless you are working on a system component like kube-proxy.

[2019-12-11 02:00] BenTheElder commented on #118
Thanks @yasker, I looked into this deeper and we are shipping this with some customization :sweat_smile: #1157 is WIP to ship it.

See also https://github.com/kubernetes-sigs/kind/issues/1151#issuecomment-563790700

Kubernetes testing is going OK at the moment, so I am focusing on:

To fix local development issues. I appreciate everyone's patience with getting this right and juggling priorities.

[2019-12-11 02:20] BenTheElder commented on #1148
https://github.com/kubernetes/website/pull/18001

[2019-12-11 02:22] BenTheElder commented on #1148
will track in k/website on second thought, as the bug is really there. we're doing pretty bog standard kubernetes DNS

[2019-12-11 02:22] #1148 closed

[2019-12-11 04:40] danielfbm commented on #303
using this pod configuration I am still getting a error from `containerd`:

[code]

This is the main issue also reported on `kubelet` while trying to start `kube-apiserver`

Kind version: master
Local:
[code]

any help greatly appreciated

[2019-12-11 04:44] danielfbm commented on #705
that is our main issue. Our team is mostly working with operators/CRDS/aggregations and the need to share resources (cluster of servers) is big deal for us, so we are willing to give it a shot to avoid creating another orchestration tool 😅, but really appreciate the heads up.

I looked through most of the issues that reference this kind of use case, I think #303 is the most important one here and

[2019-12-11 06:14] Hokwang commented on #746
@BentheElder

is this released?

I am using v0.6.1 but I have same problem.

[2019-12-11 06:24] BenTheElder commented on #746
It is released

[2019-12-11 06:28] FlomeWorld opened #1158 "Could not find the requested resource(pods/log)"
**What happened**:
I cant get the log of pods after restart kind node(docker stop and start)
shell cmd:
    kubectl logs app-5c464d7d4f-lzbhl -n esko
Error info:
    Error from server (NotFound): the server could not find the requested resource ( pods/log pod-5c464d7d4f-lzbhl)

**What you expected to happen**:

Print my pod log

**How to reproduce it (as minimally and precisely as possible)**:

st

[2019-12-11 06:29] BenTheElder commented on #1158
Stopping and starting kind nodes is NOT supported currently.

[2019-12-11 06:30] BenTheElder commented on #1158
You should upgrade though, v0.5.1 is two releases old and we made some improvements to allow stopping and starting to behave better

[2019-12-11 06:30] BenTheElder commented on #1155
/priority awaiting-evidence

[2019-12-11 13:57] danielhelfand commented on #282
This error message also displays when the Docker daemon is not running. Any way to detect this and have the error message state to start the dameon?

[2019-12-11 20:40] #1151 closed

[2019-12-11 21:38] BenTheElder commented on #118
Fixed in https://github.com/kubernetes-sigs/kind/pull/1157, kind at HEAD should work fully with dynamic PVC. Thanks @yasker. https://kubernetes.slack.com/archives/C92G08FGD/p1576098305111500

[2019-12-11 21:38] #118 closed

[2019-12-11 21:39] BenTheElder commented on #1158
see https://github.com/kubernetes-sigs/kind/issues/148, which i'm working on again for the tracking issue with restarts. de-duping with that.

i'd love to know if v0.6.1 solves `docker start` / `docker stop` issues for you though.

[2019-12-11 21:39] #1158 closed

[2019-12-11 21:40] BenTheElder commented on #148
Local storage is fixed, working on this one again.
/assign
/lifecycle active

[2019-12-12 02:30] BenTheElder commented on #1153
we have some basic docs for ingress now, will continue to work on more.

[2019-12-12 02:30] #1153 closed

[2019-12-12 02:35] BenTheElder commented on #1140
I think `kind load docker-image` supporting this doesn't make sense after digging into this more.

The sha256 of manifests in particular doesn't appear to be feasible to get both saved and then tagged correctly.

[2019-12-12 02:35] #1140 closed

[2019-12-12 02:44] BenTheElder commented on #1091
closing for now due to lack of activity to clear the issue tracker, feel free to follow up and / or come join us in slack for more interactive debugging help :sweat_smile:

[2019-12-12 02:44] #1091 closed

[2019-12-12 02:46] BenTheElder commented on #808
we have a guide for ingress now, and are working on more detailed configuration guides.

[2019-12-12 02:46] #808 closed

[2019-12-12 03:15] BenTheElder commented on #1146
uh, creating a cluster shold not pull any of these. how are you creating the cluster?

[2019-12-12 03:15] BenTheElder commented on #1146
are you building a custom node image?

[2019-12-12 18:48] adampl opened #1165 "kind load docker-image should optimize loading new tags for already loaded images"
**What happened**:
Kind doesn't recognize an existing image with the same digest but a different tag as already present.

**What you expected to happen**:
The second load should just create a new tag, instead of loading the whole image again.

**How to reproduce it**:
[code]

**Environment:**
[code]

**Related issues and PRs:**
#380
#382
#680
#776

[2019-12-12 18:53] BenTheElder commented on #1165
containerd has no such mechanism as far as I know. we can possibly emulate it, but it will be ... interesting.

you should take a look at https://kind.sigs.k8s.io/docs/user/local-registry/ as one alternative

[2019-12-12 18:54] BenTheElder commented on #1165
so also, while the `docker save` is not optimized out, the layer loading should in fact skip existing layers.

[2019-12-12 19:02] adampl commented on #1165
Maybe the image should be loaded as a digest (without any tag so comparison would be simple), and tags could be transmitted separately and just created if missing?

[2019-12-12 19:04] BenTheElder commented on #1165
it looks like actually the containerd API (not CRI) does have the right methods to make it possible to create an image referencing existing metadata content which is not surprising given the architecture, but the CLI does not have this so we'd need an API client somewhere, besides a comparison of the image layers instead of the manifest / image ID

[2019-12-12 19:07] BenTheElder commented on #1165
Wo right now we confirm that the image ~manifests are the same and load image tarballs.

The thing is image archive tarballs have a manifest in them, the hash of which defines the image ID, and the contents of which defines the image. there are then sub-tarballs for each of the layers.

Right now we check if the ID is present on the node(s) and if not we load the image.

We could check if the _lay

[2019-12-12 19:13] adampl commented on #1165
Hmm, I thought it's just a bug, because it looks like an obvious functionality to me... but I'm not really an expert on the Docker internals. Which CLI did you mean in the previous comment?

[2019-12-12 19:21] BenTheElder commented on #1165
I think better registry support might be the better thing to focus on right now, it's reasonably efficient about this out of the box (only pushing / pulling missing layers individually) and fits in better with workflows that are not kind specific.

For larger images pushing over loopback will probably be faster than streaming over `docker exec`.

It also has the benefit of persisting across cluste

[2019-12-12 19:22] BenTheElder commented on #1165
Yeah, it's definitely obvious functionality but the way image import works is that an entire tarball including all the image details and layers is loaded.

`ctr` (or `crictl`) on the nodes, to manage the images etc.

[2019-12-12 19:29] adampl commented on #1165
Yes, I also noticed that `kind load` is terribly slow, especially with images above 1 GB.
Maybe a local registry is worth the hassle...

[2019-12-12 20:51] BenTheElder commented on #1165
we aim to make it less of a hassle in the future. it's _possible_ today but definitely not ideal.

I recommend using a variant of the example script to automate it for now.

[2019-12-13 02:09] amwat commented on #1155
@vincepri were you able to try this on 0.6.1 ?

[2019-12-13 04:49] chenliu1993 commented on #1146
No, actually I am using crictl to consume containerd.sock without docker on OS. Maybe this is a version issue I found others also mentioning this problem but I still cannot found a workaround. Sorry for not making issue clearly and for your reply.

[2019-12-13 21:35] vincepri commented on #1155
Not yet, will probably get around to it next week

[2019-12-14 06:32] reza commented on #377
`kind` defaults to 127.0.0.1 for host API server address, so you receive error if 'docker machine' is on a different address:

[code]

To make `kind` compatible with older machines that use `docker toolbox` and  run `docker-machine` on 192.168.99.100 you need to override default server settings, create a `kind` config file and use network wide cluster settings as below:

[code]

Another workaround

[2019-12-14 14:12] msadofschi commented on #891
Really thanks Man!!
This solved my issue, been getting crazy for quite some hours.
After I made the:

kubectl -n kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true

All my calico-node pods started working.

Again thanks a lot!

[2019-12-14 20:48] BenTheElder commented on #891
if you update to kind v0.6.1 and use one of the images in the v0.6 release notes the rp_filter settings should be correct already

[2019-12-16 12:46] dholbach commented on #253
With https://github.com/kubernetes/kubernetes/pull/85224 getting closer to the finish line, the work could potentially be exposed and used in `kind` too?

[2019-12-16 17:29] glitchcrab opened #1172 "Master kubelet won't start"
I'm not entirely sure if this is classed as a bug or just me being stupid in some way, but I cannot get any clusters to launch (I've used kind on other machines but not this one before). The symptoms are that the control plane bails with:

[code]

So I used `--retain` and jumped into the master to run the command manually and got this (the healthz probes lasted for ~2 minutes):

[code]

Checking t

[2019-12-16 17:33] BenTheElder commented on #1172
https://kind.sigs.k8s.io/docs/user/known-issues/#docker-on-btrfs-or-zfs

Unfortunately you can't back nested containers with btrfs (afaik kubernetes doesn't handle it well either w/o nesting).

Something like ext4 + overlayfs is a safe bet.

[2019-12-16 17:35] BenTheElder commented on #253
Likely yes, also note that all kubeadm config options are available to power users via config patches, so without even properly exposing it this will be possible to experiment with 😅

[2019-12-17 08:49] glitchcrab commented on #1172
Somehow I completely missed that in the docs :man_facepalming: it works fine with an ext4 LVM mounted up instead. Thanks!

[2019-12-17 08:49] #1172 closed

[2019-12-17 15:39] justenwalker opened #1173 "Cannot start clusters on remote docker servers in 0.6.x without specifying a port"
**What happened**:

Running kind when targeting a docker daemon on a remote host no longer works in 0.6.x when it used to in 0.5.x

Instead, you get an error:

[code]

**What you expected to happen**:

Kind should automatically choose a random port as it has done before.

**How to reproduce it (as minimally and precisely as possible)**:

Given:
- a remote docker daemon running on 10.114.35.99 (or

[2019-12-17 17:00] justenwalker commented on #1173
A possible resolution:

Let Docker handle the random port assignment instead of needing to do the lookup manually. Note: Obviously, this is not portable for other providers.

[code]

[code]

[2019-12-17 19:27] BenTheElder commented on #1173
Discussed in slack ^^
/assign

[2019-12-17 23:15] BenTheElder commented on #1173
/lifecycle active

[2019-12-18 00:28] BenTheElder opened #1175 "proxy info from docker config is not respected"
This should be an easy fix, thanks to @sudeshsh for debugging this with me.

We just need to detect and respect https://docs.docker.com/network/proxy/#configure-the-docker-client

passing in env explicitly will still be expected, but docker will automagically plumb through proxy env, just missing the things kind would otherwise append to noProxy.

/assign
/lifecycle active

[2019-12-18 00:29] #1173 closed

[2019-12-18 02:08] BenTheElder commented on #1175
filed https://github.com/kubernetes-sigs/kind/pull/1176

[2019-12-18 02:29] tao12345666333 commented on #1175
Just to clarify, the # 1176 fix was as described in the https://docs.docker.com/config/daemon/systemd/#httphttps-proxy documentation, not the client side proxy. :smile_cat:

[2019-12-18 02:34] BenTheElder commented on #1175
@tao12345666333 I'm not sure what you mean by:

?

This fixes the case that you do not set environment variables and instead configure the docker config with proxy details.

[2019-12-18 02:35] BenTheElder commented on #1175
We're obtaining whatever proxy settings `docker info` reports. It is on docker to report sane values there imo :-)

[2019-12-18 02:41] tao12345666333 commented on #1175
https://github.com/kubernetes-sigs/kind/blob/1978aeb46a1d6452e1a61f3bdcc17c82fdf8de4d/pkg/cluster/internal/providers/provider/common/proxy.go#L82-L91

I mean, the proxy value read by `docker info` is based on the configuration of the docker daemon, not the` .docker / config`.

[code]

[2019-12-18 02:47] BenTheElder commented on #1175
: |

[2019-12-18 07:13] tamalsaha opened #1179 "MySQL fails to run on Github Actions using Kind"
**What happened**:
We are trying to run an official MySQL pod inside a Kind cluster on GitHub actions. Here is our demo repo: https://github.com/tamalsaha/mysql-kind-demo

The problem is mysql pod fails to run with the error message:

[code]

You can see the full log here: https://github.com/tamalsaha/mysql-kind-demo/commit/dfef4e188accdb6334b75f4658bd0fc1dd35c732/checks?check_suite_id=364071606

[2019-12-18 07:46] aojea opened #1180 "Test failing: SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching [Disruptive] [Conformance]"
**What happened**:

The conformance test `SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching [Disruptive] [Conformance]` was promoted in https://github.com/kubernetes/kubernetes/pull/83652 passing the kind-ipv6 job but it keeps failing after that in both ipv4 and ipv6 conformance jobs
https://k8s-testgrid.appspot.com/conformance-all#kind%20(IPv6),%20master%20(d

[2019-12-18 07:47] aojea commented on #1180
/priority critical-urgent

[2019-12-18 07:47] aojea commented on #1180
/assign

[2019-12-18 08:41] aojea commented on #1179
indeed, this smells to some filesystem permissions ... :thinking: I wonder if there are some restrictions on the docker folders https://help.github.com/en/actions/automating-your-workflow-with-github-actions/virtual-environments-for-github-hosted-runners

[2019-12-18 08:54] aojea commented on #1175
I really think that is easier to configure environment variables than try to cover this corner case :/

https://github.com/kubernetes-sigs/kind/issues/1175#issuecomment-566841289

[2019-12-18 09:03] aojea commented on #1179
@tamalsaha seems you are using https://github.com/engineerd/setup-kind
Can you open an issue there and reference this one?
maybe the author of that project is more familiar with Github Actions and can shed some light on this issue

[2019-12-18 10:41] BenTheElder commented on #1175
This is not a corner case. This is a well documented mechanism to configure proxy for your containers that we have been ignorant of.

[2019-12-18 10:42] BenTheElder commented on #1180
Failing test bugs should be opened against Kubernetes unless you have reason to suspect they involve a bug in *kind*.

[2019-12-18 10:46] BenTheElder commented on #1179
Without looking too closely yet this sounds like a PV using fsGroup, that won't work out of the box until the next kind release. If you use kind from HEAD it should work.

[2019-12-18 10:49] BenTheElder commented on #1179
https://github.com/tamalsaha/mysql-kind-demo/blob/master/.github/workflows/ci.yml even has the logic to setup the rancher driver, just commented out ...?

[2019-12-18 10:49] tamalsaha commented on #1179
I am going to try kind from HEAD and report back. But `/etc/mysql/conf.d` folder is not mounted to any disk. This is just Docker overlay fs.

For this test, we don't need the rancher driver.

[2019-12-18 10:53] BenTheElder commented on #1180
This is not a bug in kind https://testgrid.k8s.io/conformance-gce#Conformance%20-%20GCE%20-%20master

![Screenshot_20191218-025248](https://user-images.githubusercontent.com/917931/71080182-84091500-2141-11ea-9f45-3a3fc1b9a299.png)

[2019-12-18 10:54] BenTheElder commented on #1180
It is clearly broken in GCE too. Moving to tracking upstream, this test needs to be fixed or moved out of conformance. Probably the latter until a fix is proposed

[2019-12-18 10:54] #1180 closed

[2019-12-18 11:28] aojea commented on #1180
I was thinking that only kind was affected :sweat_smile:

[2019-12-18 11:36] aojea opened #1181 "How to run kubernetes e2e tests with kind"
**What would you like to be documented**:

How to use kind to test your code with e2e tests

**Why is this needed**:

I know that Ben has this in the backlog, that there are several nice tutorials and videos, but I always fall back to my snippet :-)

[2019-12-18 11:42] tamalsaha commented on #1179
I have tried Kind from HEAD and I am still getting the same error.

https://github.com/tamalsaha/mysql-kind-demo/blob/master/.github/workflows/kind-master.yml

https://github.com/tamalsaha/mysql-kind-demo/commit/1bfb9bf8ad3260a1314d391c6a352f4eb07c33ba/checks?check_suite_id=364450794

[2019-12-18 11:55] aojea commented on #1181
This is how I do it (I'm using bazel):

1. Work in your kubernetes branch, preferably in the default go src location
2. Create your kind node image:
`kind build node-image --type bazel`
3. Create your kind  e2e cluster config kind-config-yaml:
[code]

4. Use the previous config to create your cluster:
`kind create cluster --config kind-config.yaml --image kindest/node:latest -v4`

5. Create your e

[2019-12-18 12:06] aojea commented on #1175
ups, you're totally right https://docs.docker.com/network/proxy/#configure-the-docker-client I was confused because of the `docker info` thing :sweat_smile:

[2019-12-18 18:30] BenTheElder commented on #1175
Yeah, the info thing is an incorrect approach obtaining the wrong data,
I'll correct it before unholding.

On Wed, Dec 18, 2019, 04:06 Antonio Ojea <notifications@github.com> wrote:

[2019-12-18 21:36] tamalsaha commented on #1179
There is something particularly weird about the virtual environment provided by GitHub actions. I created a similar machine DigitalOcean with `uname -a`

[code]

Then creates a kind cluster and everything worked.

I also added strace to the mysql image and you can see the error:

[code]

[2019-12-18 21:38] BenTheElder commented on #1179
ah, this is a directory in the mysql image? not a hostPath or a volume? I saw a PVC in your manifests when I took a quick look last night and guessed wrongly :-)

[2019-12-18 21:42] tamalsaha commented on #1179
Yes. https://github.com/docker-library/mysql/blob/75f81c8e20e5085422155c48a50d99321212bf6f/8.0/Dockerfile#L69

[2019-12-18 21:44] BenTheElder commented on #1179
https://github.com/docker-library/mysql/issues/484 :thinking:

[2019-12-18 21:48] BenTheElder commented on #1179
seeing a few comments around that suggest a relation to apparmor

[2019-12-18 21:50] tamalsaha commented on #1179
Do you think https://unix.stackexchange.com/questions/229782/overlayfs-doesnt-work-with-unprivileged-user-namespace might be somehow related?

The thing is I can `ls -l /etc/mysql/conf.d`, I can touch a new file from that directory inside the pod. Why does `mysqld` fails?

[2019-12-18 21:52] BenTheElder commented on #1179
possibly. I don't know how github actions setup docker in this environment or what security mechanisms they have enabled...

[2019-12-18 21:53] tamalsaha commented on #1179
They use packer to build their VM. https://github.com/actions/virtual-environments

[2019-12-18 21:57] BenTheElder commented on #1181
@mauilion
also #986

[2019-12-18 21:59] BenTheElder commented on #1179
can you test https://github.com/kubernetes-sigs/kind/pull/1183 ?
not sure the best way to get it into your github actions (could clone it, check out the ref, make install?)

[2019-12-18 22:00] tamalsaha commented on #1179
Checking from your fork.

[2019-12-18 22:14] tamalsaha commented on #1179
I used your fork https://github.com/tamalsaha/mysql-kind-demo/commit/913a250e48fa17625f0a6dd32005f0e21f9fe2b9

But I'm still getting the same error:

https://github.com/tamalsaha/mysql-kind-demo/commit/badf26c75ba55d007e96ee0807af1c8d4b42f1f2/checks?check_suite_id=365558618

[2019-12-18 22:14] aojea commented on #986
I'd love to have a `kind e2e.test --name kind --focus  \[sig-network\].*Conformance"` flag
maybe we can add the e2e.test to the node images when we are building the node image, what do you think?

[2019-12-19 03:08] FlomeWorld commented on #148
Sorry ,its 0.6.1

But what happened was that the kind node stop and my system was not rebooted.

[2019-12-19 08:35] dims opened #1184 "kind create cluster should print which kubeconfig file got updated"

[2019-12-19 08:45] daneel3001 opened #1185 "Redis on multi-node kind cluster"
Hello

I am currently experimenting with Kind on Windows 10 Insider Slow with Ubuntu 18.04 on WSL2.
I am stuck with trying to get Redis to work on a multinode Kind cluster, Redis installed with Helm 3.
Both pods, master and slave, fail with the following error:
Can't open the append-only file: Permission denied

Redis does make use of permanent volumes which in this case are stored in /tmp/ locati

[2019-12-19 10:48] Hokwang opened #1186 "HTTP_PROXY problem - can't pull image in pod"
Hello.

I am behind the corporate proxy.

In my ubuntu PC,
I installed kubectl and kind, helm.

[code]

but I can docker pull that image...
[code]

How can I set proxy env for kind and what is the wrong?

Thanks,

[2019-12-19 16:10] timfeirg commented on #563
typo in the `extraArgs` value @neolit123

[2019-12-19 18:52] neolit123 commented on #563
i can't see the typo. feel free to send a PR to fix it. @timfeirg

[2019-12-19 18:53] matthyx commented on #563
`feture-gates` -> feature-gates

[2019-12-19 19:03] aojea commented on #563
it was fixed when it was added to the docs
https://kind.sigs.k8s.io/docs/user/quick-start/

[2019-12-19 19:55] BenTheElder commented on #1186
the proxy env is correct, but the registry isn't trusted

unfortunately you'll have to inject the certificates to do this yourself, there's not a clean way for us to handle this at the moment.

previous issue here https://github.com/kubernetes-sigs/kind/issues/1010

might be nice to write a guide.

[2019-12-19 19:59] BenTheElder commented on #1186
here we can see the issue is the certificates, you've configured the environment variables correctly.

one less ideal but simple alternative alternative is to pull the images you need to the host and then `kind load docker-image ...`.

[2019-12-19 20:00] BenTheElder commented on #1185
this is probably https://github.com/kubernetes-sigs/kind/issues/1151 / https://github.com/kubernetes-sigs/kind/issues/830 / https://github.com/kubernetes-sigs/kind/issues/118

we've fixed it, but not in a released version yet, if you try installing from the latest commit and use the default image this is fixed.

we'll get a release out soon.

[2019-12-19 20:02] BenTheElder commented on #1184
IMO this is not a bug, can you show an example of another tool that does this @dims :-)

When building this UX I pretty extensively researched the state of cluster management tooling and found that they do not do this.

The user also totally controls which file is updated by way of `KUBECONFIG` / `--kubeconfig` unless it is the default file.

[2019-12-19 20:04] BenTheElder commented on #1179
:/

Can you obtain some more details about the github actions environment?
- what docker version / how was it installed (snap? etc.?)
- how is docker configured? anything interesting like user namespace remapping?
- what filesystem is in use and what storage driver?
- what permissions does the docker data root have?
- what security mechanisms are in use? apparmor? seccomp?

[2019-12-19 21:16] tamalsaha commented on #1179
Here are some info:

[code]

[2019-12-19 21:17] tamalsaha commented on #1179
Also, I don't know where to check for:

how is docker configured? anything interesting like user namespace remapping?
what permissions does the docker data root have?

[2019-12-20 00:57] tamalsaha commented on #1179
@BenTheElder , I think this answer probably gives the clue https://github.com/docker-library/mysql/issues/617#issuecomment-567721583

I am still trying to understand it.

[2019-12-20 01:03] vinh-ngo-webjet opened #1192 "Cannot create cluster on Windows"
Hi,

Im on Windows using Kind v0.6.1 go1.13.4. When running `kind create cluster`, i got the following error at the Starting control-plane stage

[code]

Did I miss something?

Thanks!

[2019-12-20 01:11] BenTheElder commented on #1192
Hi, can you tell me a little bit more about your environment?
- docker version
- how kind was built and installed
- exact command line invoking kind

also please check
https://kind.sigs.k8s.io/docs/user/known-issues/

a common problem is https://kind.sigs.k8s.io/docs/user/known-issues/#docker-on-windows but this doesn't look like that at a glance

[2019-12-20 01:12] dims commented on #1184
i did not say it was a bug :) someone was showing me a demo of what they were doing yesterday and commented that they frequently end up not knowing what got updated when they SSH into different environments (or switch between terminals) with different KUBECONFIG and commented that it would be handy to know which file got updated.

[2019-12-20 01:13] dims commented on #1184
the kind/bug was automatically added i think!

[2019-12-20 01:16] BenTheElder commented on #1184
there are different templates depending on the issue type, which include the labels :sweat_smile:

hmm, unless you specify `--kubeconfig`, it should be the same one as `kubectl` etc.?
`kubectl config` has help for this and we follow the standard from there:

[code]

this is also true for GKE, kops, minikube, ...

If you want tight control you can specify it, and you can also re-grab credentials la

[2019-12-20 01:20] vinh-ngo-webjet commented on #1192
- docker v18.03.0-ce-win59
- I tried both downloading kind from the release and using go get. Both didnt work for me
- `kind create cluster -v 1`

[2019-12-20 01:22] dims commented on #1184
@BenTheElder ah (yes, i clicked on the first link and cleared out the template text!)

Let me ask @soumyapanigrahi-k8s to chime in here as he made the comment!

[2019-12-20 01:22] BenTheElder commented on #1192
thanks this is surprising, it has been a little bit since I tested on windows myself though.. I will test tonight (though likely with the latest stable docker for windows)

[2019-12-20 02:32] BenTheElder commented on #1179
the daemon config.json. most of this is surfaced in `docker info`

this bit from `docker info`:
` Docker Root Dir: /var/lib/docker`

that's where docker stores runtime data (containers, images, volumes... )

we can check the permissions on that for sanity

[2019-12-20 02:40] BenTheElder commented on #1179
ah that makes sense!

[2019-12-20 02:49] BenTheElder commented on #1179
this explanation is good -- https://github.com/moby/moby/issues/7512#issuecomment-51845976

an option is to disable apparmor on the host for mysql

kind needs docs for this under known-issues

I'm not sure that we can do much more. kind would of course not run priv containers if we didn't need to, similarly we need to support priv containers inside the kind nodes because kubernetes system componen

[2019-12-20 04:18] soumyapanigrahi-github commented on #1184
@dims thanks for opening the issue.
@BenTheElder it would be a nice feature if we can output the exact command to set the kubernetes context. It may not be an issue for experienced users but would surely be a helpful for new K8S for whom KIND clusters have become the de-facto today.

[2019-12-20 04:22] BenTheElder commented on #1184
we show how to use it with the context in the output today, the same kubectl command will have e.g. `kubectl --context kind-kind ...`

it's an issue for all users 😅 -- but the standard is to use this predictable $HOME/.kube/config path unless otherwise instructed (by `KUBECONFIG` or `--kubeconfig` in which case the user has already chosen the path themselves).

[2019-12-20 04:33] BenTheElder commented on #1184
s/same kubectl/sample kubectl/*

we don't show _setting_ the context again because we've already set it, and in general I don't think we want to put all of the help content into a frequently run command like `kind create cluster` and make the output overly verbose etc., at least some of it should be in a help command or the docs instead (for now the docs).

`kind export kubeconfig` will re-do this

[2019-12-20 04:38] soumyapanigrahi-github commented on #1184
Thanks for the update @BenTheElder, earlier setting up a KIND cluster provided the exact command to set the KUBECONFIG which I feel was very useful for new users.
I think the change in UX is causing this confusion.

@dims based on what Ben has to say, I guess we can close the issue

[2019-12-20 04:41] BenTheElder commented on #1184
I mostly liked this UX myself, but it was inconsistent with nearly the entire rest of the ecosystem including `kubectl` which generally assumes that `$HOME/.kube/config` will be used by default (and not be per-cluster).

I think it's better to be consistent with typical production tools etc. so that users don't need to learn different flows, for many users they will never need to use any file othe

[2019-12-20 04:45] BenTheElder commented on #1184
we conversely had a LOT of complaints about the whole `export KUBECONFIG=$(kind get kubeconfig-path)` thing and users interacting with the wrong cluster when switching to another terminal etc. I ran into this a lot myself, create kind in one shell, open another, forget to export ... 🙃

mimic-ing minikube, kops, gke, etc. at least brings some normalcy to the UX, and it does not have this problem un

[2019-12-20 04:52] BenTheElder commented on #1184
aside: I meant to add `kind/enhancement` not `triage/support`

[2019-12-20 04:55] BenTheElder commented on #1184
One last note before closing ...

Sorry about that. We did have pretty thorough release notes for this and a migration guide for how to maintain the existing behavior though...

I'll keep this feedback in mind, but we did try to collect feedback and take our time with this change, and I think ultimately sticking to what the rest of the ecosystem does will produce the least total confusion.

[2019-12-20 04:55] #1184 closed

[2019-12-20 04:57] BenTheElder commented on #1175
punting for a moment to handle some other major improvements but I still intend to finish this.

it looks like unfortunately we need to write some logic to find and parse the docker config accurately.

not a huge deal but I'd hoped to find a way to get `docker ...` to at least spit out the client config so we don't have to try to locate it the same way... doesn't look like you can.

shouldn't be h

[2019-12-20 05:58] BenTheElder commented on #1192
Docker `19.03.4` on Windows 10 works fine with `./kind.exe create cluster` using the v0.6.1 release binary

[2019-12-20 05:59] BenTheElder commented on #1192
This is a really strange failure mode.

in what way are you running docker? there are many ways to run it on windows ...
in my case I'm using https://www.docker.com/products/docker-desktop

[2019-12-20 06:43] tao12345666333 commented on #1175
If we really need to do this, I personally think that we probably need to deal with the following:

* check `DOCKER_CONFIG` env
* check `$HOME/.docker/config`
* parse docker config and get `proxies`

* check `DOCKER_HOST` env etc to get docker's daemon host

* using docker's daemon host to get value from `proxies`, if not found we can using `default` value.

[2019-12-20 07:04] BenTheElder commented on #1175
I don't think we should go past grabbing the client config.
This won't be hard, but I'm deprioritizing it versus finishing proving out
an approach to host restart support :-)

On Thu, Dec 19, 2019, 22:43 Jintao Zhang <notifications@github.com> wrote:

[2019-12-20 08:05] Hokwang commented on #1010
In my case,
`containerPath: /usr/local/share/ca-certificates/corporate.crt`
is correct.

[2019-12-20 12:08] shdmitry2000 opened #1194 "Cannot create cluster in on ubuntu on IBM PPC64LE machine"
**What happened**:
Tried to create a cluster with kind create cluster and get:

Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.16.3) 🖼
 ✓ Preparing nodes 📦
 ✗ Writing configuration 📜
ERROR: failed to create cluster: failed to generate kubeadm config content: failed to get kubernetes version from node: failed to get file: command "docker exec --privileged kind-control-plane cat

[2019-12-20 17:40] BenTheElder commented on #1194
Did you build an image?

We do not have PPC hardware to test / build with, you have to build your own base and node image before you can use kind on non amd64

[2019-12-20 17:42] BenTheElder commented on #1194
Given the output I'm going to assume not.

We need to add this to known issues.

[2019-12-20 21:16] mcandre opened #1196 "Autosync images from regular local Docker cache to kind registry"

[2019-12-20 22:23] BenTheElder commented on #1196
I've thought about this but uh, how would it be implemented?

How do you deal with the cost of 2x-ing the storage of an unbounded data set behind the scenes?

If you want to sync images to a registry right now you can do it with a pretty simple shell script to list and push all the images periodically.

A slightly smarter scipt could look for images that aren't pushed yet.

But I don't think most

[2019-12-20 23:00] BenTheElder commented on #1155
nudge :+)
if we can repro, I'd like to get this fixed. I _think_ it is already.

[2019-12-20 23:01] BenTheElder commented on #1185
try https://github.com/appscodelabs/e2e-test-setup/blob/ed88ec5bf451534e97fa264f13ccb2b997e5d29e/run.sh#L24 until the next kind release is out.

[2019-12-20 23:27] vincepri commented on #1155
just confirmed it works.

Steps:
- Build image with tag
- Load image, shows:
[code]
- Make change, rebuild image with same tag
- Load image, shows:
[code]

/close

🎉

[2019-12-20 23:27] #1155 closed

[2019-12-20 23:31] #1194 closed

[2019-12-20 23:44] BenTheElder commented on #1194
documented:
https://kind.sigs.k8s.io/docs/user/known-issues/#nonamd64-architectures
https://kind.sigs.k8s.io/docs/user/quick-start/#building-images

[2019-12-20 23:56] BenTheElder commented on #1155
Thank you!

[2019-12-21 09:13] aojea commented on #1192
I remember some similar errors during the KubeCON workshop, @PatrickLang explained me something about it but can't remember exactly ...

[2019-12-21 16:33] daneel3001 commented on #1185
Hello

I have built master and the redis cluster I installed via Helm (master, 2 nodes) is certainly not complaining at the moment.
Is there any recommendation re running Kind out of one home built ?
I'm sorry if this sounds daft as I am pretty new to linux/go.

Thanks again for the pointer!

[2019-12-21 17:59] aojea commented on #1185
as Ben commented previously this problem will be solved in the next release, until then, the best option is building it from master

https://github.com/kubernetes-sigs/kind/issues/1185#issuecomment-568118713

[2019-12-21 18:00] aojea commented on #1185
/close

[2019-12-21 18:00] #1185 closed

[2019-12-23 02:04] fllaca opened #1200 "Is it possible accessing host machine ports from Kind pods?"
Hi!
we are planning to use Kind as part of our development environment in our  laptops, the idea is to use it in combination with Skaffold. We are finding some difficulties to make connections from the application running in pods inside Kind to the database and queues running in the host machine (usually also in a another container).

To give you some context, ee are basically using 2/3 approaches