[2022-07-30 01:04] BenTheElder commented on #2845
We’ve already updated the base image and all future node images will be built with a newer Ubuntu distro.

you can build new ones yourself now if you wish, there’s a guide in the docs

[2022-07-30 01:04] #2845 closed

[2022-07-30 01:04] BenTheElder commented on #2845
https://github.com/kubernetes-sigs/kind/issues/2837

[2022-07-30 01:05] BenTheElder commented on #2845
[agree we should not be shipping EOL]

[2022-07-30 02:03] smst329 commented on #2845
Thanks! Sorry I didn't see 2837, searched on EOL instead of EOL spelled out.

[2022-07-30 02:53] BenTheElder commented on #2845
No worries, someday GitHub search will be smarter :-)

[2022-07-30 23:46] wherka-ama commented on #2829
@BenTheElder : you are right - this has nothing to do with kind per se. In fact it goes even deeper than podman. I had a little go at it and it looks like it's **crun** which is actually performing all these checks. podman simply delegates it to **conmon**, which in turn executes crun with provided arguments(log attached).

[kind-podman-conmon-crun.err.log](https://github.com/kubernetes-sigs/kind/

[2022-07-31 16:53] chandrareddyp commented on #2460
any one know to go back from `kind version 0.14.0 ` to `kind version 0.11.1`?

[2022-08-01 05:17] BenTheElder commented on #2460
@chandrareddyp it depends on how you installed kind, but basically you'll want to delete your clusters and install the new version.

For many of the options here you can use the same instructions but replace the version number https://kind.sigs.k8s.io/docs/user/quick-start/#installation

To discuss this tangent further, please file a new support issue with more details, or try our slack https://gi

[2022-08-01 11:06] mikelo opened #2848 "OOM"
**What happened**:

I wanted to deliberately create a pod that would go "out of memory" but it seems to run fine.
**What you expected to happen**:
the pod should switch to status "OOMKilled" right after starting

**How to reproduce it (as minimally and precisely as possible)**:
[code]
apply the following deployment:
[code]

**Anything else we need to know?**:

**Environment:**

- kind version: (us

[2022-08-01 14:13] stmcginnis commented on #2848
This doesn't seem to be a `kind` project issue. `kind` just gets the cluster up and running.

[2022-08-02 10:01] zaunist commented on #2618
Hi, @BenTheElder

As I understand it, we need to add commit information to the non-release version, right? In addition to that, there needs to be a number to sort by, like the number of commits.

As you have described:  `v0.12.0-alpha+278-g666b3368`

If that's all, I could come and try.

[2022-08-02 13:48] caniko opened #2852 "Fail to create cluster locally with `linux-lqx` as kernel on Garuda (~Arch) Linux"
**Why is this needed**
~cgroupv2 is supported by k8, should also be supported by kind.~

Revised issue:
I am having an issue setting up a kind cluster

[2022-08-02 13:51] stmcginnis commented on #2852
@caniko can you provide a little more detail or context? Kind should work fine with cgroupv2.

There were some older releases that did not. Can you provide the version (`kind version`) you're using?

[2022-08-02 15:17] BenTheElder commented on #2852
cgroupv2 is supported, but Kubernetes does not support it before v1.19

https://kind.sigs.k8s.io/docs/user/known-issues/#failure-to-create-cluster-with-cgroups-v2

KIND has has cgroupv2 since v0.10.0 / January 2021, not long after Kubernetes, with some fixes since then https://github.com/kubernetes-sigs/kind/releases/tag/v0.10.0

We test cgroupsv2 on every PR.

[2022-08-02 15:23] caniko commented on #2852
Oh, it says cgroup v2 issues on the [website](https://kind.sigs.k8s.io/docs/user/known-issues/#failure-to-create-cluster-with-cgroups-v2). I understand that I interpreted it wrongly now.

kind version: kind v0.14.0 go1.18.2 linux/amd64

I am on Arch Linux.

Stack trace:
[code]

[2022-08-02 15:33] BenTheElder commented on #2852
Can you share the logs from `kind create cluster --retain; kind export logs; kind delete cluster`

[2022-08-02 15:33] BenTheElder commented on #2852
It's possible it's the proxy but we should be setting sufficient no_proxy, we can check what the component logs show.

[2022-08-02 15:57] caniko commented on #2852
The stack trace is too long. Should I have saved it to a file?

Here is the tail:
[code]

[2022-08-02 16:10] BenTheElder commented on #2852
The stack trace does not contain all the node logs, but https://github.com/kubernetes-sigs/kind/issues/2852#issuecomment-1202835966 would export many more log files to inspect

[2022-08-02 16:10] BenTheElder commented on #2852
The error / trace tells us kubelet didn't become healthy, but to find out why kubelet didn't become healthy we need to dig deeper into the system.

[2022-08-02 16:25] caniko commented on #2852
There were no log files, could you be more explicit on what I should provide? I made sure to run the command you provided.

[2022-08-02 16:31] stmcginnis commented on #2852
Maybe you should break out the commands to one at a time.

`kind create cluster --retain` first to attempt to create the cluster but not to delete it on failure.
`kind export logs` - this should give you all the log files that should (hopefully) provide the clues needed to figure out what is happening.
`kind delete cluster` can be run once the logs are successfully captured.

[2022-08-02 16:40] caniko commented on #2852
Root of logs:
[kind-version.txt](https://github.com/kubernetes-sigs/kind/files/9244124/kind-version.txt)
[docker-info.txt](https://github.com/kubernetes-sigs/kind/files/9244125/docker-info.txt)
m/kubernetes-sigs/kind/files/9244119/kubelet.log)

Control-plane logs:
[serial.log](https://github.com/kubernetes-sigs/kind/files/9244117/serial.log)
[kubernetes-version.txt](https://github.com/kubernetes-s

[2022-08-02 17:01] tkrishtop commented on #2848
I used an example from the [kubernetes docs](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#exceed-a-container-s-memory-limit) to exceed a container's memory limit, ran it both on `minikube` and on `kind`, and reproduced the issue.

While `minikube` shows OOMKilled status as expected, `kind` somehow gets the pod in the Running state.

1/ minikube - oomkilled as ex

[2022-08-02 17:21] BenTheElder commented on #2848
IIRC we have issues with nested resource limits.

@tkrishtop which driver are you using with minikube? VM or docker?

it's worth pointing out that kind inherently shares a host kernel between nodes and the host and some other things also cannot possibly be isolated due to that, at least with Linux as it stands today. E.g. inotify limits, time, binfmt_misc, ...

[2022-08-02 17:21] BenTheElder commented on #2848
Bounding node resources also has an existing open tracking issue. There's not a good answer currently

[2022-08-02 17:51] BenTheElder commented on #2686
For now we're going to stick to standard, conformant Kubernetes.

If there is a wider expectation that clusters can run special wasm images, we'll reconsider, but until then, we don't want to make kind more incompatible and make images larger for a niche feature.

[2022-08-02 17:51] #2686 closed

[2022-08-02 17:54] BenTheElder commented on #2848
xref: https://github.com/kubernetes-sigs/kind/issues/877

[2022-08-02 17:55] #2843 closed

[2022-08-02 18:02] BenTheElder commented on #1981
see: https://github.com/kubernetes-sigs/kind/pull/2076#issuecomment-1203047712

TLDR: we're not moving forward with shipping non-standard Kubernetes extensions for now.

[2022-08-02 18:02] #1981 closed

[2022-08-02 18:12] BenTheElder commented on #1042
Technically runtimeClass is supported, but we don't ship any special runtimeclasses[^1].

We're opting not to ship non-standard extensions otherwise at this time.

[^1]: We actually have to ship one "test" runtime class for testing Kubernetes, it is actually the same as the "normal" runtimeClass.

[2022-08-02 18:34] tkrishtop commented on #2848
@BenTheElder kvm2, sorry, I forgot to put it, got the logs updated now.

[2022-08-02 19:00] BenTheElder commented on #2772
closing due to lack of follow-up, but I suspect we already have the answer (image is for the wrong architecture)

it might be interesting if kind detected this when loading an image and threw a warning

[2022-08-02 19:00] #2772 closed

[2022-08-02 19:03] msherif1234 opened #2855 "Bringing up KIND with ipFamily dual assigns only ipv4 address to the cluster's node"
- version
`kind v0.14.0 go1.18.2 linux/amd64`
- kind config
[code]
- docker interface shows both IPs
[code]
- however node status showing only ipv4 address
[code]

[2022-08-02 19:04] BenTheElder commented on #2852
coulud you upload a zip or tarball with the full directory? there's some other useful files and github will accept a zip or tarball.

[2022-08-02 19:04] msherif1234 commented on #2855
cc'd @aojea

[2022-08-02 19:15] BenTheElder commented on #2855
Pretty sure kubelet doesn't support setting multiple node IP https://github.com/kubernetes/kubernetes/issues/42125

[2022-08-02 19:16] BenTheElder commented on #2852
Two things jump out from what we have so far:
- This is on Garuda Linux ~= Arch linux, we've had issues with the Arch linux kernels and cgroups before
- btrfs filesystem backing docker, while kind has some workarounds to attempt to support this, historically kubernetes and btrfs have had issues, and there's more issues with KIND and btrfs (because kubelet needs to inspect the filesystem). I can't

[2022-08-02 19:36] DmytryEmery opened #2856 "Ambassador ingress setup documentation no longer valid"
**What would you like to be documented**:
Removal or updating of [Ambassdor ingress docs](https://kind.sigs.k8s.io/docs/user/ingress/#ambassador)

**Why is this needed**:

Following the documentation for [ingress setup for Ambassdor](https://kind.sigs.k8s.io/docs/user/ingress/#ambassador) , it fails with current version of Kind.
[code]

Digging around it appears: `apiextensions.k8s.io/v1beta1` is

[2022-08-02 20:03] #2663 closed

[2022-08-02 20:04] BenTheElder commented on #2663
thanks @harshanarayana !!

[2022-08-02 21:45] tkrishtop commented on #2848
minikube on driver=podman results in Error/CrashLoopBackOff (not in OOMKilled as minikube on kvm2):

[code]

[2022-08-02 22:31] BenTheElder commented on #2856
In this case I would lean towards remove, these are contributed and maintained by folks from or interested in the specific ingress typically.

While we've tried to permit all open options folks are willing to contribute, having more of these only has made the guide more confusing, and the kind maintainers do not intend to support N ingresses directly. Within the Kubernetes project we have ingress-

[2022-08-02 23:09] joejulian opened #2857 "If a cluster is defined with all nodes being control-planes, nothing can be scheduled"
With no qualifiers as to the type of node in [this check](https://github.com/kubernetes-sigs/kind/blob/b975bbb6590ded2e0c644b2d6e6132631e6b8598/pkg/cluster/internal/create/actions/kubeadminit/init.go#L112), a cluster built with this configuration has all nodes tainted:

[code]

I would expect that if the nodes are all control planes, we would still remove the taints so workloads could be run on th

[2022-08-03 01:34] BenTheElder commented on #2857
Yes, we've only ever special cased the signal node case in which case we remove the taint, changing it now would be a breaking change, but you can remove the taint yourself with kubectl AFAIK (or tolerate it in the workload).

This is a bit of an odd use-case. Usually valid multi-node cluster use cases involve simulating "real" cluster behavior (like rolling updates), in which case I wouldn't expe

[2022-08-03 01:35] BenTheElder commented on #2857
We only check the length of nodes because we don't allow a cluster of size one unless it is a control plane node, elsewhere.

[2022-08-03 02:00] DmytryEmery commented on #2856
Seems like a reasonable approach to me, if someone wants to use the others they can add those as needed.  👍

[2022-08-03 02:01] #2856 closed

[2022-08-03 05:49] aojea commented on #2855
it does with dual stack , there is also an e2e test https://github.com/kubernetes/kubernetes/blob/aea9f9887d08922378b9e7da0e81a46e733f2995/test/e2e/network/dual_stack.go#L58-L73

[2022-08-03 06:01] aojea commented on #2855
@msherif1234 can you try without this?

the node ip configuration goes there

https://github.com/kubernetes-sigs/kind/blob/81790560be00f82615c4edfb9a5aa52d796cf1ee/pkg/cluster/internal/kubeadm/config.go#L504-L509

and it may be possible that patch is not being merged both configs

[2022-08-03 07:09] caniko commented on #2852
I did not know that the kernel was an important component for K8! I am using [linux-lqx](https://github.com/blacksky3/linux-lqx), which is downstream from zen-kernel. Switching back to zen, fixed the issue.

Garuda is Arch with some desktop environment sugar. I made the switch from zen to lqx, it is my fault.

[2022-08-03 08:12] aojea commented on #2857
I think we should only remove the taint automatically on that use case too

[2022-08-03 10:02] zaunist commented on #2618
Maybe `git rev-list count HEAD` could solve this issue. This command will count commit number.

eg.

[code]

[2022-08-03 10:37] msherif1234 commented on #2855
yes this works thanks @aojea
[code]

[2022-08-03 10:42] aojea commented on #2855
I honestly can't remember how our patching works these days, @BenTheElder do you remember? should it overwrite the derived values we are adding?

[2022-08-03 11:05] mikelo commented on #2848
`$ minikube start --driver=podman --memory=2g --container-runtime=containerd`
😄  minikube v1.26.0 on Fedora 36
    ▪ MINIKUBE_ROOTLESS=true
✨  Using the podman driver based on user configuration
📌  Using rootless Podman driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
E0803 12:37:39.000031 2062947 cache.go:203] Error downloading kic artifacts:  not yet i

[2022-08-03 11:18] jensfr opened #2858 "[podman] creating a kind cluster with more than one control-plane aborts due to error"
**What happened**:
I tried to create a cluster with two control-plane nodes and I got an error message. Defining only one control-plan node but overall the same number nof nodes works.

Full output:
https://pastebin.com/MXNcbnUt

**What you expected to happen**:
I expected that the cluster would be created without errors

**How to reproduce it (as minimally and precisely as possible)**:
kind confi

[2022-08-03 11:27] aojea commented on #2858
using multiple control-planes implies that kind installs an additional container as load balancer, it seems that is failing with a Retry-After

it seems this load balancer doesn't work in this setup, I would not be surprised it has to be related to rootless networking , you should check using the same config with rootfull to verify this hypothesis

[2022-08-03 11:50] jensfr commented on #2858
Unfortunately it fails the same way rootfull. I did:
- sudo -i
- kind create cluster --config kind-coco.config
- saw the same time outs as when I tried rootless

[2022-08-03 16:02] joejulian commented on #2857
How about exposing a configuration option to skip the mark-control-plane stage regardless of the number of nodes?

[2022-08-03 16:10] aojea commented on #2857
we try to keep API to the minimum necessary and encourage users to build on top, single node is a super special case and we go one step further for improving the UX removing the kubeadm taint.

However, multi node is for more power users, and they should use kubernetes command, I don't see the ROI of the flag honestly, and is one more thing to maintain (we have recently to update the taint logic d

[2022-08-03 16:11] stmcginnis commented on #2857
What if we changed [this](https://github.com/kubernetes-sigs/kind/blob/81790560be00f82615c4edfb9a5aa52d796cf1ee/pkg/cluster/internal/create/actions/kubeadminit/init.go#L112) from:

[code]

to

[code]

Kind of an odd use case to support, but it could be a small change to support it.

[2022-08-03 16:12] joejulian commented on #2857
I started down that same road, @stmcginnis, but then changes are also needed in join for control-planes.

[2022-08-03 16:46] joejulian commented on #2857
I still believe that the Principle of Least Surprise suggests that since a user shouldn't be surprised by the way an interaction or object works in an interface or design, the inconsistency between a single control-plane node and a multiple control-plane cluster with no workers causes a surprise.

This cannot be worked around using `kubeadmConfigPatches` because the init and join commands use the

[2022-08-03 17:07] BenTheElder commented on #2857
So ... from my point of view, "I can just use the cluster" is an expectation of the `kind create cluster` user coming from minikube, microk8s, etc. For that reason, we've long special cased "ensure a single node is schedulable" so it "just works".

For other users, creating multi-node clusters and mimicking production cluster tools, I don't think any production cluster tools offer this, so doing i

[2022-08-03 17:10] caniko opened #2860 "apisix-ingress-controller support"
**What would you like to be added**:
Support for apisix, I made an [issue](https://github.com/apache/apisix-ingress-controller/issues/1209) on their end

[2022-08-03 17:30] #2857 closed

[2022-08-03 18:40] BenTheElder commented on #2860
We allow contributions to our docs for documenting ingresses but recent experience has suggested that adding more of these in our own docs is not helpful and leads to stale, broken docs https://github.com/kubernetes-sigs/kind/issues/2856

We do not have the time to maintain docs for every ingress controller out there, unfortunately.

The general ingress install guide should outline how ingresses a

[2022-08-03 18:43] BenTheElder commented on #2852
It's possible the custom kernel lacks some cgroups support (CPU weight?), IIRC we've encountered this before.

Since the kind "nodes" are running on the shared host kernel, it must meet Kubernetes's requirements in terms of e.g. supported cgroup controllers.

It looks like this bmq kernel exists to have a custom CPU scheduler, which sounds very likely to be the cause of CPU cgroup issues.

[2022-08-03 19:02] BenTheElder commented on #2573
FTR https://github.com/kubernetes-sigs/kind/pull/2859

[2022-08-03 19:23] BenTheElder commented on #2855
So it's intended that the user can override our base config with their patches (at their own risk, here be dragons!), but I would've expected this field to be merged even by the basic merge patch type as it's all struct / map keys, not a list.

You can use a JSON 6902 patch in the meantime for more targeted patching, but that feels like a bug in the patch runtime, will have to dig a bit.

[2022-08-03 19:25] BenTheElder commented on #2855
oh, I think your patch is malformed?

shouldn't this:
[code]
 be this:
[code]

[2022-08-03 19:25] BenTheElder commented on #2855
I suspect the patch is parsing in the yaml parser as equivalent to `kubeletExtraArgs: {}` due to missing indent on `container-log-max-size`?

[2022-08-03 19:27] BenTheElder commented on #2224
https://github.com/kubernetes-sigs/kind/issues/2852#issuecomment-1203570595 we've had a similar issue filed recently, seems it's an issue with the kernel as suggested here in https://github.com/kubernetes-sigs/kind/issues/2224#issuecomment-829353626 by bdutta

[2022-08-03 19:28] BenTheElder commented on #1553
For the record, intend to merge a patch defaulting to `/usr/local/bin/kind` in the example on linux at least https://github.com/kubernetes-sigs/kind/pull/2859

[2022-08-03 20:40] joejulian commented on #2857
Dunno about "widely used" but there was minikube, which doesn't taint any of the CP nodes.

Anyway, I've closed this. It's not that important and is clearly not considered an issue.

[2022-08-03 23:07] BenTheElder commented on #2618
I think we should mimic versions from kubernetes etc, so we should use the commits since the tag, but I think we can do that.

[2022-08-04 01:16] zaunist commented on #2618
What I mean by this is to add a commit number for statistics, for example:

[code]

[2022-08-04 04:35] BenTheElder commented on #2618
Yes, my point is the approach listed above gives total commits as opposed to commits since last version tag (git describe style$

[2022-08-04 06:20] zaunist commented on #2618
Got it.

[2022-08-04 17:37] BenTheElder commented on #2860
it is documented in the apisix repo 🙏

[2022-08-04 17:37] #2860 closed

[2022-08-04 17:42] tao12345666333 commented on #2860
https://github.com/apache/apisix-ingress-controller/issues/1209#issuecomment-1205567095

@BenTheElder Would you be happy to accept the PR if I could actively maintain documentation about the deployment of the APISIX Ingress controller on KIND ?

[2022-08-04 23:18] BenTheElder commented on #2857
Multi-node minikube came _well_ after KIND (like, years), but that's still a notable datapoint.

Only intended to reason through what we should be doing here, not to shut down the possibility, I hadn't gotten back to this thread yet because E_TOO_MANY_THREADS (k/k code freeze hell, mainly).

[2022-08-05 00:58] msherif1234 commented on #2855
Thanks that fixed the issue

[2022-08-05 02:34] BenTheElder commented on #2855
Sweet!

I wish we had a better way to detect this, but it's awkward, kind intentionally does not import code / types from Kubernetes to avoid circular testing dependencies for Kubernetes and to maximize multi-version support, so the patch merging is totally unaware of the correct upstream types.

Glad it's working for you now 😅

[2022-08-05 02:34] #2855 closed

[2022-08-05 02:37] BenTheElder commented on #2858
from `podman-info.txt` looks interesting 🤔

The log export doesn't seem to have the load balancer container, I wonder if the kind podman provisioner doesn't handle 2 control planes properly or something.

[2022-08-05 12:47] hikhvar opened #2862 "Add static manifests URL to config"
**What would you like to be added**:

For some demos, I have some KIND clusters with tools like metallb and and ingress controller preinstalled. I mostly use the manifests as in the [loadbalancer](https://kind.sigs.k8s.io/docs/user/loadbalancer/) documentation. It would be really cool, if I could create some kind config like this:

[code]

**Why is this needed**:
This would allow me to drop some e

[2022-08-05 14:18] BenTheElder commented on #2862
Installing static manifests is something `kubectl` can do portably.

Kubernetes application management is a very opinionated field with many competing opinions, I would prefer that kind provide what is necessary to get a portable conformant cluster running and then allow the user to install things with their favorite tool wether that’s kubectl or helm or …

If we add this feature, the next request

[2022-08-05 14:54] hikhvar commented on #2862
I understand your concern regarding the possible feature creep if this gets implemented. Therefore I would limit it to static manifests similarly to static pod manifests.

However, I understand if you see this as out of scope for kind

[2022-08-06 00:02] BenTheElder commented on #2862
I still think basically:
- We don't want to add _more_ non-standard tooling / behavior where we can avoid it, once the cluster is created the API is available for standard tools like `kubectl apply`, kind is ~anti-lock-in, we're promoting conformant Kubernetes, to the extent possible interacting with a cluster should look like any other.

- If we try to limit application install support to static

[2022-08-06 09:02] hikhvar commented on #2862
I think your arguments are very good. Will close this!

[2022-08-06 09:02] #2862 closed

[2022-08-07 14:33] raesene opened #2863 "Node images built on depracted Ubuntu version can't have new packages installed"
**What happened**:

I have some images based on KinD node images, where I add python3 (to ease use in ansible playbooks). My standad workflow is to start an image with a `FROM` line of the node image then `apt update && apt install -y python3`.

Using the newest node images this generates an error as `apt update` fails. This appears to be due to the deprecation of Ubuntu 21.10 .

Sample Error mess

[2022-08-07 17:21] BenTheElder commented on #2863
We’ve already upgraded the base image going forward (see past issues) but also FWIW the node image is only advertised as being able to run Kubernetes and we reserve the right to alter it in the future, installing packages to Kubernetes nodes is not portable and we’ve switched distros before.

[2022-08-08 13:00] NUAAMETEOR opened #2864 "kind load docker-image error"
When I use kind to load an image into cluster,the console reports errors below:

# kind load docker-image hashicorp/http-echo:0.2.3 --name ak47
Image: "hashicorp/http-echo:0.2.3" with ID "sha256:a6838e9a6ff6ab3624720a7bd36152dda540ce3987714398003e14780e61478a" not yet present on node "ak47-worker2", loading...
Image: "hashicorp/http-echo:0.2.3" with ID "sha256:a6838e9a6ff6ab3624720a7bd36152dda540c

[2022-08-08 17:18] gvkhna opened #2865 "kind-control-plane fails to cleanup snapshots in a timely manner [SOLVED]"
**What happened**:

My docker.img was filling up and running out of space over time on Unraid OS.

**What you expected to happen**:

Old containers/images deployed to the cluster would be cleaned up.

**How to reproduce it (as minimally and precisely as possible)**:

Deploying containers overtime would fill up the snapshotter directory with snapshots I believe. I'm unclear about reproduction exact

[2022-08-08 17:30] BenTheElder commented on #2865
kind clusters were never meant to be long lived and were meant to be cheap and disposable.

That said, this has an existing issue https://github.com/kubernetes-sigs/kind/issues/735

Unfortunately, this one is a little trickier than it sounds at first glance and will probably require new functionality in Kubernetes or containerd or some new GC process.

(consider: we need to avoid GCing the core si

[2022-08-08 17:30] #2865 closed

[2022-08-08 17:31] BenTheElder commented on #735
This one remains relevant, see also considerations outlined in https://github.com/kubernetes-sigs/kind/issues/2865#issuecomment-1208406421

[2022-08-08 17:35] gvkhna commented on #735
@BenTheElder Thanks Ben, I believe I came across this issue in my searching for possible fixes but it didn't have the solution.

On your point mentioned in my issue, I understand kind wasn't meant for long-lived deployments but that's really a shame. It's been rock solid for some months now and I hope it continues to do so. I looked into k3s, k8s but as I'm running on Unraid OS, kind has been fant

[2022-08-08 18:05] BenTheElder commented on #2864
This is because hashicrop/http-echo:0.2.3 is only built for linux/amd64 but you're on linux/arm64

the error could be less obtuse "ctr: image might be filtered out" is a symptom of the non-matching architecture being ignored on the containerd side.

[2022-08-08 18:07] jpmcb opened #2866 "Documentation: display installation instructions for arm64 linux machines"
**What would you like to be documented**:

Currently, only x86 installation instructions are present. It'd be nice if the arm install instructions were next to the x86 ones (similar to how the mac m1 vs intel instructions are next to eachother)

Something like:

---

_On Linux:_
[code]

**Why is this needed**:

When I installed kind on a new-ish arm dev machine, I used the instructions (without re

[2022-08-08 18:10] BenTheElder commented on #2866
I worry about making this documentation 10 pages of confusing instructions 😞

Let's at least use uname as well to make it possible to continue pasting the whole code block

[2022-08-08 18:13] BenTheElder commented on #2852
This is a known limitation in the kernel https://github.com/damentz/liquorix-package/issues/101#issuecomment-1208165488

[2022-08-08 18:13] #2852 closed

[2022-08-08 18:23] jpmcb commented on #2866
Yeah, seems to be the world we live in these days 😭

`uname` is a good idea since the names of kind's releases differ from the name returned by uname for arm:

[code]

[2022-08-08 18:33] BenTheElder commented on #2866
I was just taking a peek at this again and the kind docs actually do this already for macOS with `[ $(uname -m) = x86_64] && ...` etc., we should be able to adapt that.

[2022-08-08 18:37] fasmat opened #2867 "kind create cluster fails to remove control plane taint"
**What happened**:

I tried to create a cluster with `kind create cluster` and received the error "failed to remove control plane taint"

**What you expected to happen**:

Successfully creating a cluster

**How to reproduce it (as minimally and precisely as possible)**:

Install `kind` version `v0.14.0-arm64` and call `kind create cluster`

**Anything else we need to know?**:

I'm running kind ins

[2022-08-08 18:43] BenTheElder commented on #2867
Can you share the logs folder from `kind create cluster; kind export logs`?

Just to confirm: Everything is running in arm64 mode, no amd64 images / binaries? (See: https://github.com/kubernetes-sigs/kind/issues/2718 which has been a somewhat common issue for M1 users)

[2022-08-08 18:59] fasmat commented on #2867
Maybe to clarify: running `kind create cluster` on the `M1 Max` directly works without issues.

I'm trying to run the command from inside a container, that has access to the docker-socket of the host. This container is also built for arm64 and can run other containers without issues.

Alternatively if I create the cluster on the host, how can I access it from inside a container? Is there some way

[2022-08-08 19:13] jpmcb commented on #2866
Sounds good! /assign

[2022-08-08 19:29] fasmat commented on #2867
I switched from `docker-from-docker` to a `docker-in-docker` setup.

This is probably less performant, but it works for now. Closing the issue, since I probably tried something that is not officially supported.

[2022-08-08 19:29] #2867 closed

[2022-08-08 19:29] BenTheElder commented on #2867
you can put the other container on the “kind” docker network either with the net flag or with “docker network connect”

then you can use “kind export kubeconfig —internal”

[2022-08-08 19:31] fasmat commented on #2867
Thanks! I'll try that tomorrow.

[2022-08-08 19:33] BenTheElder commented on #2867
It’s weird that this is working from the host but not via docker socket in a container. I’m not sure why we’d see that. Maybe proxy config differences?

[2022-08-08 19:37] fasmat commented on #2867
I'm not sure. I need to test more to find out. I had issues with volumes/mounts before when using the hosts docker socket. I had to give the path how it is on the host instead of how it would be inside the container.

[2022-08-08 19:57] maciekmm opened #2868 "[zfs] kind create cluster using podman provider fails to bootstrap the cluster - failed to mount rootfs component"
**What happened**:

Creating a cluster with `kind create cluster` under rootful and rootless podman hangs on `⢎⡠ Starting control-plane 🕹️ ` and later fails with

[code]

**What you expected to happen**:

I'd expect the `kind create cluster` to successfully create a cluster.

**How to reproduce it (as minimally and precisely as possible)**:

On a zfs backed Arch system installation running podman

[2022-08-08 20:23] BenTheElder commented on #2868
Are those logs from the rootful or rootless logs?

Is rootful podman running with fuse-overlayfs?

I don't have an environment with zfs x podman, but when we detect zfs inside the kind node we have to switch to the "native" driver, with lower precedence than on rootless (userns remapping) we will need to use fuse-overlayfs / overlayfs depending on the host kernel.

We seem to be runing with overla

[2022-08-08 20:59] BenTheElder commented on #2618
for what it's worth I think total commits is a useful value but I don't want to confuse people investing our own version format

we can parse back from the last `-` and get the commit count since the tag with `git describe --tags`. hacky approach: `git describe --tags | rev | cut -d- -f2 | rev`

[2022-08-08 21:01] maciekmm commented on #2868
The attached logs were from rootful podman.

## Rootful

Running `sudo kind create cluster` fails :red_square:
Running `sudo KIND_EXPERIMENTAL_CONTAINERD_SNAPSHOTTER=fuse-overlayfs kind create cluster` works :heavy_check_mark:
Running `sudo KIND_EXPERIMENTAL_CONTAINERD_SNAPSHOTTER=native kind create cluster` works :heavy_check_mark:

I changed `mount_program` to `fuse-overlayfs` but it has the sam

[2022-08-08 22:35] BenTheElder commented on #2863
There's a new v1.24.3 image coming built with the new base image as part of https://github.com/kubernetes-sigs/kind/pull/2869 ahead of v0.15.0.

[2022-08-08 22:36] BenTheElder commented on #2842
I suspect this was a resource exhaustion issue, happy to follow up further in the future if we have more logs / info to debug.

[2022-08-08 22:36] #2842 closed

[2022-08-08 22:37] BenTheElder commented on #2839
there's an image for 1.24.3, it is not tested with kind v0.14.0 but we'll have something at least this new in v0.15.0 ~soon

[2022-08-08 22:37] #2839 closed

[2022-08-09 01:13] zaunist commented on #2618
I'm sorry, I've been busy with other things recently, and I'm a little negligent.

[2022-08-09 01:40] BenTheElder commented on #2618
No worries! Appreciate the help 🙂

[2022-08-09 02:01] zaunist opened #2871 "feat: add 'help' info to Makefile"
**What would you like to be added**:

Add help prompt in Makefile, just like this

![image](https://user-images.githubusercontent.com/38528079/183546254-ca783a9e-4a9f-4787-9f53-dc6fd1419737.png)

**Why is this needed**:

After I clone the repository, I want to build or run the test first, but I don't know which make command to use, so I need to check in the makefile, if we can add help information

[2022-08-09 02:59] BenTheElder commented on #2871
FWIW in the meantime:

https://github.com/kubernetes-sigs/kind#community and https://github.com/kubernetes-sigs/kind/blob/main/CONTRIBUTING.md

link to https://kind.sigs.k8s.io/docs/contributing/getting-started/

which covers kind development in detail

[2022-08-09 03:05] zaunist commented on #2871
Yes, this is a great guide.

[2022-08-09 03:05] zaunist commented on #2871
Yes, this is a great guide.

[2022-08-09 06:28] afbjorklund commented on #2866
As long as we are copy/paste-ing instructions instead of letting the computer do it, we used JavaScript in minikube to make the selection less cluttered...

[2022-08-09 08:49] cwrau opened #2872 "Running with rootless podman doesn't work as documented"
**What happened**: I tried running kind with rootless podman and followed the [documentation](https://kind.sigs.k8s.io/docs/user/rootless/). But this didn't work

**What you expected to happen**: That it would work

**How to reproduce it (as minimally and precisely as possible)**: Install and configure podman for rootless, install kind. Use a terminal with systemd-scopes, like gnome-terminal. Use

[2022-08-09 10:20] BenTheElder commented on #2872
This is not helpful …
podman attempts to be docker compatible and contains docker sub commands like podman info. This command is rich with host environment debug info.

rootless podman support is contributed by @AkihiroSuda, nominally kind is developed for rootful docker.

Akihiro contributed some fedora based CI for rootless docker and podman, which does happen to be fedora based.

This is the fi

[2022-08-09 10:35] BenTheElder commented on #2872
Host cgroups configuration is not something we currently plan to touch from the kind process, for example podman we’re invoking may actually be talking to a remote instance anyhow and it’s difficult to detect reliably (see discussions linked to #2233)

[2022-08-09 10:46] cwrau commented on #2872
I thought you only needed the version, `podman info`:
[code]

Huh, interesting, I thought podman would be more widespread 😅
I've been using it for years now and only on Arch Linux

Mh, then I guess I'll have to continue to run `kind` in its own scope.

[2022-08-09 10:49] BenTheElder commented on #2868
Thanks!

I think we should probably rework the snapshotter selection to be independent of the rest of userns config and always select fuse-overlays when we’re in fuseblk. It seems like a safe bet that we’re in fuse-overlayfs if /kind is on fuseblk

[2022-08-09 20:34] rgl commented on #2839
Thank you for pointing out the build documentation and explaining what kind is tracking. That changed my ideia about kind. I thought it was a central piece of the k8s ecosystem that closely tracked/packaged the upstream k8s in way that allowed it to be sanely used in dev/ci environments.

FWIW, I find kind to be the most straightforward way to consume k8s, but not tracking upstream is a bummer for

[2022-08-09 21:23] aojea commented on #2839
kind is tracking upstream, actually nothing can not be merged in master if it doesn't build and run with kind, you can track upstream with kind, but have to build your own node images.
Something different is that we publish node images for each release ...

[2022-08-09 21:24] aojea commented on #2839
https://kind.sigs.k8s.io/docs/user/quick-start/#building-images

[2022-08-09 21:27] BenTheElder commented on #2839
We do closely track, but we're not packaged by upstream, and there's mainly two of us handling packaging for kind.

KIND @ HEAD supports Kubernetes @ HEAD, IE the latest kind code supports the latest Kubernetes code, continuously.

However, we cannot guarantee that Kubernetes hasn't made a breaking change that is not released yet inbetween Kubernetes 1.X releases.

_Actually_ tracking the latest K

[2022-08-09 21:28] BenTheElder commented on #2839
In the future, I think we will adopt a tagging scheme like $kind_version-$k8s_version and automatically publish images, but first we have #2618 and some other related work, and our top priority is things like https://github.com/kubernetes-sigs/kind/pull/2846 to keep up with Kubernetes's latest changes

[2022-08-09 22:35] sbkpilot1 commented on #1993
lol, I had this same problem.  I had a cluster called `test` and was using `--name kind-test` to load the docker image instead of just `--name test`.    It just slipped my mind that it's just the base name of the cluster.

[2022-08-10 07:28] rgl commented on #2839
Thank you for taking the time to explain this!

I now have a better understanding about the pain points of tracking k8s @ HEAD and the project role and scope (and shame on me for missing the [project scope page](https://kind.sigs.k8s.io/docs/contributing/project-scope/) that you've linked).

Tracking the released versions of k8s will be awesome! I for sure, will really appreciate them :-)

FWIW, t

[2022-08-10 09:31] caniko commented on #2872
I am also using kind on Arch/Garuda, and we have encountered each other before @BenTheElder

And I too am interested in running in rootless podman.

[2022-08-10 10:14] caniko commented on #2828
Maybe get some `podman` devs involved? They can provide a PR for the docs possibly?

[2022-08-10 11:24] caniko commented on #2868
I also encountered fails this morning when running both with `podman` and `docker`

[2022-08-10 11:52] caniko commented on #2868
@maciekmm could you make a PR for the docs where you provide a guide on how to run kind with rootless podman on Arch?

[2022-08-10 12:29] caniko opened #2873 "Fail to run rootful podman on Arch"
# What happened
Fail to run kind with rootful podman using @maciekmm's [method](https://github.com/kubernetes-sigs/kind/issues/2868#issuecomment-1208606004). `Rootless` stil doesn't work for me, the guide on the docs is really not meant for `Arch`, I already posted my opinion on this [here](https://github.com/kubernetes-sigs/kind/issues/2872#issuecomment-1210411804).

## Rootful: To be specific

T

[2022-08-10 14:29] AkihiroSuda commented on #2872
- Does it work with KDE or XFCE?
- Does it work with Rootless Docker?
- Can be workaround-ed with systemd-run ? If so, could you open a PR to update the docs?

[2022-08-10 16:07] BenTheElder commented on #2873
This failure is unrelated.

This means we failed to get the network with podman.

Likely, podman is either misconfigured or made a breaking change again.

[code]

We didn't get to the point of creating nodes because obtaining the `kind` network information from podman failed.

https://github.com/kubernetes-sigs/kind/blob/ad1e16c767ebc8129785b9f440baa6b28438db05/pkg/cluster/internal/providers/podma

[2022-08-10 16:37] BenTheElder commented on #2872
We should clarify the template, this command provides necessary debug info.

This is not about ethics and podman receives a *lot* of attention.

There are not simply "Arch, Fedora, RedHat, and Debian", there are infinite linux distros and configurations, new ones are created every day. We _cannot_ support all of them equally (and RHEL requires a license ...). We have limited time and resources to

[2022-08-10 16:47] BenTheElder commented on #2872
Another consideration here: Projects like Kubernetes, podman, docker, runc, containerd, etc. *also* only run CI or develop for a limited set of environments, so we carry a higher cost to keep these things working together because the things we're integrating with are not developed or tested in these ways so as in https://github.com/kubernetes/enhancements/issues/361#issuecomment-1172435157 we have

[2022-08-10 17:44] BenTheElder commented on #2868
working on a fix here https://github.com/kubernetes-sigs/kind/pull/2874

[2022-08-10 17:46] BenTheElder commented on #2828
@caniko I mean that this is out of scope for our own docs, we're intermittently in contact with folks working on podman but I would not ask them to document this here.

We don't cover installing docker either.

Kubernetes has a policy of not duplicating third party documentation. It's a waste of energy to maintain in N+1 places. Docs regarding installing podman belong in podman's documentation.

[2022-08-10 17:56] BenTheElder opened #2875 "containerd deprecated CRI hosts config"
This is unfortunate, it will be much harder for users to configure things like local registry as you cannot configure it inline in containerd config anymore. Also, enabling the new non-deprecated configuration route will disable the old one AFAICT https://github.com/containerd/containerd/blob/main/docs/hosts.md#cri

You now need to create a directory with a host.toml file for each host, I'm also n

[2022-08-10 18:03] BenTheElder commented on #2684
https://github.com/kubernetes-sigs/kind/issues/2872 is newer but similar and has more detail. This issue was lost in the sea of github notifications and unclear follow up.

As discussed in #2872 I simply don't have time to reproduce all environments and currently the only thing that is clear on this bug is that the environment does not have suitable cgroup for running KIND / Kubernetes. A possible

[2022-08-10 18:05] #2864 closed

[2022-08-10 18:06] BenTheElder commented on #2828
@janvlug that's interesting and strange behavior ... is it https://github.com/containers/podman/issues/13710#issuecomment-1083167467 ?

[2022-08-10 18:08] BenTheElder commented on #2868
test image `docker.io/bentheelder/kind-node:v1.24.3@sha256:9fdef952a166325f89cae70b7e69767b50b7a7b0ace1f03df362228b82ee34e4` contains the image fix

[2022-08-10 19:38] maciekmm commented on #2868
@BenTheElder thanks for working on this.

It seems like the image you have linked does not contain the fixes.

[code]

[code]

[2022-08-10 20:15] BenTheElder commented on #2868
Thanks, let me see if I grabbed the wrong image or built wrong and update.

[2022-08-10 20:47] maciekmm commented on #2868
Thanks! Can confirm this works under both rootful and rootless podman. :tada:

[2022-08-10 21:08] BenTheElder commented on #2774
closing for now, feel free to reopen or file a new issue with more information.

[2022-08-10 21:08] #2774 closed

[2022-08-10 21:34] benzea commented on #2872
Uh, but if podman is the one needing Delegation, then shouldn't podman have the corresponding configuration and documentation on how to get it up and running (which can then be directly linked by kind).

[2022-08-10 21:40] maciekmm commented on #2872
The documentation is already there:
https://kind.sigs.k8s.io/docs/user/rootless/
https://github.com/containers/podman/blob/main/docs/tutorials/rootless_tutorial.md

It's comprehensive, and I'd go as far as saying that these two combined form a complete guide on how to run kind on rootless podman/docker.

On top of that `kind` already links to that document if it detects missing Delegate.

[2022-08-10 23:31] NUAAMETEOR commented on #2864
Thanks a lot~
After I added --platform=linux/arm64 parameter and used image httpd ,it works

[2022-08-10 23:32] NUAAMETEOR commented on #2864
Thanks a lot~
After I added --platform=linux/arm64 parameter and used image httpd ,it works

[2022-08-11 07:21] caniko commented on #2868
Any snapshots for v1.22?

[2022-08-11 12:33] caniko commented on #2873
@BenTheElder, I think something is wrong with my system specifically. Troubleshooting tips?

[2022-08-11 17:18] BenTheElder commented on #2868
Thanks for confirming @maciekmm 🙏

@caniko No, but you can build your own if you checkout the PR https://kind.sigs.k8s.io/docs/user/quick-start/#building-images

[2022-08-11 17:21] BenTheElder commented on #2873
`podman network inspect kind` would be a good starting point, to see what the network actually is and start to figure out why there's no ipam assigned.

Recalling https://github.com/kubernetes-sigs/kind/issues/2821, on Fedora podman update broke existing networks due to removing CNI binaries even though the packaging previously configured podman to use them ... could be something similar on Arch.

[2022-08-11 17:29] BenTheElder commented on #2821
We could add another "known issues" entry, as we already have a section dedicated to Fedora breakages, but I think this is something that should be fixed in the upstream packaging. If podman is still defaulting to CNI as https://discussion.fedoraproject.org/t/how-to-get-podman-dns-plugin-container-name-resolution-to-work-in-fedora-coreos-36-podman-plugins-podman-dnsname/39493/6#why-does-not-it-swi

[2022-08-11 17:35] BenTheElder commented on #2829
Sorry I've been overloaded returning from vacation and [switching roles](https://twitter.com/BenTheElder/status/1551670320423059456) 😅

Thank you!

That's an interesting workaround, I think you coulud also find where podman is storing the pod spec and alter the mounts, but this feels like something that should be reported back to podman or crun (I can't remember which one decides the device list i

[2022-08-11 22:57] #2812 closed

[2022-08-12 17:33] hitosatish commented on #148
Was the "restart" functionality ever shipped? I am using version 0.14.0 and dont see "restart" option in help message.

[2022-08-12 17:49] BenTheElder commented on #148
Multi-node restart has **major** fixes and should hopefully work fine in v0.15.0 ~soon when we get a release cut. #1689 is still open for a different subset problem around multiple control plane nodes specifically, which needs further investigation.

You can test it now by using kind v0.14.0 with a recent image https://github.com/kubernetes-sigs/kind/pull/2874/files#diff-643b1e9d9e446aa30da4407354

[2022-08-12 17:52] BenTheElder commented on #148
Same for:

This issue was to track:

And predates the limited podman support. which again is limited by lack of functionality in podman (proper hostname / domain name resolution for containers on the network, any way to specify container restart policy)

#2715 would be the best place to keep up with discussing manually triggering a restart, though I suspect most potential use cases (e.g. testing y

[2022-08-13 06:44] arielmorelli commented on #2592
@rwxrob this is done with this https://github.com/kubernetes-sigs/kind/pull/2818, right?

[2022-08-13 12:46] skhaz opened #2878 "Issue certificate to `host.docker.internal`"
**What would you like to be added**:
I want the certificate issued on `kind-control-plane` to be issued to `host.docker.internal` too; with this, I can use it with docker-compose

**Why is this needed**:
In my docker-compose file, I have this line

[code]

With this, I can connect to kind. However, the certificate is issued to `localhost`; with this change, other people will be able to use docker-

[2022-08-13 20:13] aojea commented on #2592
Indeed
Thanks
/Close

[2022-08-13 20:13] #2592 closed

[2022-08-15 02:08] HummingMind commented on #1213
Hello!
Is this still being worked on? If so, any ETA? I see it was put back into the backlog. :(

Thank you!

[2022-08-15 03:45] dmitrynovik opened #2879 "Can't connect to kind after the VM was suspended and then resumed"
**What happened**:
I am using the latest VMWare Workstation VM (Ubuntu).
- suspend the VM
- resume the VM
- any command run against the cluster produces the error:
[code]

**What you expected to happen**:
After resuming the VM, it should work as it did before.

**How to reproduce it (as minimally and precisely as possible)**:
- suspend the VMWare Workstation VM with a kind cluster
- resume the VM

[2022-08-15 05:05] sailinnthu commented on #2460
I'm still getting this error while I try to create more than 1 kind cluster on Ubuntu 22.04. I can only create the first cluster with success.
`$ kind create cluster --config mgmt-kindconfig-v124.yaml
Creating cluster "gm-mgmt" ...
 ✓ Ensuring node image (kindest/node:v1.24.0) 🖼
 ✗ Preparing nodes 📦 📦 📦 📦
ERROR: failed to create cluster: could not find a log line that matches "Reached target .*Mul

[2022-08-15 06:14] BenTheElder commented on #1213
I’m sorry but we’re prioritizing bug fixes like fixing reboot support and keeping up with Kubernetes, and user support, it doesn’t leave much time for designing / reviewing / implementing new features at the moment.

[2022-08-15 06:16] BenTheElder commented on #2460
https://github.com/kubernetes-sigs/kind/pull/2478#issuecomment-1214656908

[2022-08-15 14:36] HummingMind commented on #1213
That is fair. Hopefully that changes in the near future.
Thank you for the work you guys do on KIND!

[2022-08-15 15:55] BenTheElder commented on #2879
Is the container running? Are these commands run inside the VM or over some special VM networking?

can please you share `kind export logs`, we do not have this product to reproduce.

error suggests a network issue or the node container isn’t running for some reason

[2022-08-15 15:56] BenTheElder commented on #2878
There’s past discussion of this in the tracker, will circle back to this later. in the meantime you can add additional host names yourself (sample config in past discussions)

[2022-08-15 16:24] skhaz commented on #2878
I could not find it. Could you please give an example @BenTheElder?

[2022-08-15 16:31] BenTheElder commented on #2878
https://github.com/kubernetes-sigs/kind/issues/566#issue-448597863 (though drop the `version` field from the sample patch there, it's not necessary as the certSAN field is stable in kubeadm and v1beta1 is not used in current Kubernetes realases)

[2022-08-15 16:33] skhaz commented on #2878
Thank you

[2022-08-15 16:43] BenTheElder commented on #1213
Thanks, the core maintainers work primarily on Kubernetes but we're trying 😅

Smaller updates:
- The breaking change in https://github.com/kubernetes-sigs/kind/issues/2875 is problematic for even the simple script, we're going to need to figure out a migration path.
- We did move the sample script to port 5001 after above discussion about macOS and insecure exception https://github.com/kubernetes-

[2022-08-15 16:45] skhaz commented on #2878
For reference

[code]

[2022-08-15 16:45] #2878 closed

[2022-08-15 17:13] BenTheElder commented on #2878
ugh, forgot, https://github.com/kubernetes-sigs/kind/issues/1332

this should be v1beta3 for current kubernetes. To target all recent versions you could also include a patch for v1beta2 and v1beta3 and the matching patch will be used.

[2022-08-15 23:49] dmitrynovik commented on #2879
Yes, every time when the VM is resumed, `kubectl` times out.
Logs attached:
[1784484211.zip](https://github.com/kubernetes-sigs/kind/files/9340598/1784484211.zip)

[2022-08-15 23:57] BenTheElder commented on #2879
Besides the other questions above:

(seems like a) yes b) unclear ...)

How long are you suspending?  api-server logs show a bunch of logs about expired service account tokens.

It looks like a long time from the container inspect:

You can also try using an image from HEAD, we are about to do a release and it contains some fixes related to rebooting, but this doesn't tentatively look like those i

[2022-08-16 00:12] dmitrynovik commented on #2879
The time how long the VM is suspended does not matter: I tried to suspend and resume immediately => same result.

[2022-08-16 06:49] zhangjundong1992 opened #2880 "Starting control-plane:ERROR: failed to create cluster: failed to init node with kubeadm"
**What happened**:
root@DESKTOP-FFN33MG:/mnt/f/linux# kind create cluster --image=kindest/node:v1.24.0
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.24.0) 🖼
 ✓ Preparing nodes 📦
 ✓ Writing configuration 📜
 ✗ Starting control-plane 🕹️
ERROR: failed to create cluster: failed to init node with kubeadm: command "docker exec --privileged kind-control-plane kubeadm init --skip-phas

[2022-08-16 06:56] aojea commented on #2880
have you checked https://kind.sigs.k8s.io/docs/user/using-wsl2/ ?

[2022-08-16 07:16] zhangjundong1992 commented on #2880
i`ve set wsl to wsl2,but it does not work.

[2022-08-16 13:22] caniko commented on #2873
I am using docker for now much easier, apologies for this waste of time

[2022-08-16 13:22] #2873 closed

[2022-08-16 13:23] #2684 closed

[2022-08-17 04:02] YunShiHang opened #2881 "kind load image-archive xx1.tar xx2.tar , cannot find xx2.tar's image in container of kind-node"
**What happened**:
docker pull ghcr.io/kubean-io/kubean/spray-job:v0.1.0
docker pull ghcr.io/kubean-io/kubean/kubean-operator:v0.1.0
docker save ghcr.io/kubean-io/kubean/spray-job:v0.1.0       > kubean-job-v0.1.0.tar
docker save ghcr.io/kubean-io/kubean/kubean-operator:v0.1.0 > kubean-operator-v0.1.0.tar

cat /tmp/kind_config.yaml
apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
- role: con

[2022-08-17 08:57] wherka-ama opened #2882 "current kind does not seem to support netavark backed rootless podman(4.x+)"
**What happened**:
Failure during the cluster creation.

$ /usr/bin/kind create cluster --name test3
enabling experimental podman provider
Creating cluster "test3" ...
 ✓ Ensuring node image (kindest/node:v1.24.0) 🖼
 ✓ Preparing nodes 📦
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
sigs.k8s.io/kind/pkg/cluster/internal/providers/podman.getSubnets({0x77d9fb?, 0x

[2022-08-17 09:19] aojea commented on #2882
@rhatdan @mheon what is the plan here with the network or who can point me to it?

I'd like to have a better understanding of the whole picture before start adding more `if` to the `podman` provider ;)

[2022-08-17 10:37] wherka-ama opened #2884 "no_proxy fed to the cluster is missing the control plane API dns name"
**What happened**:
Kind failed to create the cluster in the environment with http(s) proxy
[code]

**What you expected to happen**:
Successful cluster creation

**How to reproduce it (as minimally and precisely as possible)**:
1.Setup or use an existing http(s) - in this context we used *squid/4.15*
2.Set the env variables: https_proxy and http_proxy to point at the proxy above
3. Using podman as

[2022-08-17 10:51] wherka-ama commented on #2884
Here is the patch that I was referring to in the description:
[code]

I can create a PR as well if that's a preferred way of solving this problem relatively quickly.

[2022-08-17 10:56] aojea commented on #2884
I think we probably should add all the container names and the container subnet to the NO_PROXY

https://github.com/kubernetes-sigs/kind/blob/5f25ddcbdc84b057e3a48304a4f2295b3feef775/pkg/internal/cluster/providers/provider/common/proxy.go#L49-L54

/cc @BenTheElder

[2022-08-17 11:01] aojea commented on #2884
/assign @wherka-ama
please go ahead

[2022-08-17 12:08] wherka-ama commented on #2884
@aojea : the basic fix - just for the control plane has been added. I will check now how we can add all the container names in a similar fashion.

[2022-08-17 13:15] rhatdan commented on #2882
@mheon @baud @Luap99 @flouthoc PTAL

[2022-08-17 13:19] mheon commented on #2882
Are you sure this is Netavark-specific? My understanding is that Podman 4.0 uses the new inspect format for every network.

Basically, everything pre-4.0 did not bother to format the output of inspect at all, so we just print the literal CNI config file. 4.0 and up parse the network's information and output Docker-compatible inspect JSON. This is a breaking change, hence the major release bump (am

[2022-08-17 13:29] wherka-ama commented on #2882
Thanks a lot for clarification @mheon ! It makes sense indeed. So that's a generic change related to a v4.x bump and the network inspect layout.

@aojea : in this light I'd say my fix with covering both layouts(pre v4.x and the current) makes a lot of sense. It is backwards compatible, so we should not upset anyone here.

[2022-08-17 13:35] aojea commented on #2882
awesome

we have already some pre and post 4.0 checks and behavior

https://github.com/kubernetes-sigs/kind/blob/1e0b57bbe2d843605d835e4e8ab9d67e271bb550/pkg/cluster/internal/providers/podman/provider.go#L435

[2022-08-17 13:43] aojea commented on #2884
better to use an independent PR with the whole fix please, clusters with multiple control-plane will still fail with the basic fix

[2022-08-17 14:36] wherka-ama commented on #2882
@aojea : would you prefer to be explicit in this context or accommodate both layouts transparently and without mentioning the version? Both options are feasible.

[2022-08-17 14:51] wherka-ama commented on #2884
@aojea : alright, I'll push something more sophisticated then. I think I know roughly how it should look like. I will test it with a multi-node/plane scenario to ensure that it does what it is supposed to. Thanks for your guidance! Much appreciated.

[2022-08-17 17:21] BenTheElder commented on #2882
Thanks everyone, I don't think it should be a problem to support these and the direction to use docker compatible structs makes sense. The patch supported by @wherka-ama looks a great starting point.

I hope someone's already brought this up, but the CNI binaries being removed (?) on upgrade in fedora with existing networks still trying to use CNI seems problematic https://github.com/kubernetes-si

[2022-08-17 18:01] BenTheElder commented on #2882
thanks! https://github.com/kubernetes-sigs/kind/pull/2883

I think after https://github.com/kubernetes-sigs/kind/pull/2874, https://github.com/kubernetes-sigs/kind/pull/2885 we will try to drop v0.15 with k8s v1.25 (which should release next week) including this fix.

[2022-08-17 18:01] #2882 closed

[2022-08-17 21:34] webmutation opened #2886 "Kind create cluster fails with 3 worker nodes"
**What happened**:
Kind works well with one node
Kind fails to start with 3 nodes

[code]

ERROR: failed to create cluster: failed to join node with kubeadm: command "docker exec --privileged kind-worker kubeadm join --config /kind/kubeadm.conf --skip-phases=preflight --v=6" failed with error: exit status 1
Command Output: I0817 20:43:55.327526     140 join.go:413] [preflight] found NodeName empty

[2022-08-17 22:12] webmutation commented on #2886
The only strange thing that I notice is inside the nodes the DNS config does not seem to be the same I have in my host

cat /etc/resolv.conf
search home
nameserver 172.18.0.1
nameserver 2001:4860:4860::8888
nameserver 2001:4860:4860::8844
options edns0 trust-ad ndots:0

in host I have

nameserver 127.0.0.53
options edns0 trust-ad
search home

so it seems to me there is something wrong with the DNS

[2022-08-17 22:43] BenTheElder commented on #2886
The DNS resolver comes from docker.

https://docs.docker.com/config/containers/container-networking/#dns-services

However, we manipulate the networking very slightly so the IPv4 address can be reached by in cluster coreDNS pods which is the DNS services most pods will have.

[2022-08-17 23:36] BenTheElder commented on #763
Yeah, the crostini sandbox is too locked down. That makes sense really, Kubernetes is also for managing Linux and uses many privileged kernel APIs

[2022-08-17 23:36] #763 closed

[2022-08-17 23:56] zhangzewen opened #2887 "getSubnets failed podman with kind 0.14.0 and podman 4.1.1"
**What happened**:
**Can not create k8s cluster with  podman**
[code]
**What you expected to happen**:
can create k8s cluster with provider
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]
**Environment:**

[code]

[2022-08-18 00:00] BenTheElder commented on #2887
/triage duplicate
we just patched this, if you clone the repo and do `make build` a binary with the fix will be in `bin/kind`.

we hope to cut a kind release next week alongside k8s 1.25

the previous issue and discussion is https://github.com/kubernetes-sigs/kind/issues/2882

[2022-08-18 00:00] #2887 closed

[2022-08-18 07:30] rosera commented on #763
FYI - ChromeOS supports minikube. I havent tried Kind, so not sure if this works. I wrote how to run Minikube here https://richrose.dev/posts/chromeos/productivity/chromeos-minikube/

[2022-08-18 07:35] ck1125 commented on #763
Thanks for sharing @rosera Sounds promising...will give it a whir and report back...

[2022-08-18 07:52] webmutation commented on #2886
Thanks @BenTheElder I entered the nodes and I am not able to reach the internet from inside Kind... from docker docs

this appears to be broken on my installation of Docker, since the requests do not appear to be forwarded or resolved... should I revert to an older version od Docker any tip to have this working...

I am able on other containers that use the bridge network, but those get the inject

[2022-08-18 07:58] aojea commented on #2886
check  those sysctl are set to 0
[code]

[2022-08-18 08:03] webmutation commented on #2886
Hi @aojea they are all set to 1 in my host and inside the kind containers as well

[2022-08-18 16:26] wherka-ama commented on #2884
I've pushed an improved implementation to address the multi-node environment(@aojea :thanks for pointing that out!) and adhering to an existing MakeNodeNamer factory which will help in making the whole solution aligned with the rest of the code.
I've tested it in a single and multi-node configurations with and without the proxy and it looks like we have something that works rather nicely.

See: ht

[2022-08-18 21:19] BenTheElder commented on #2868
should be fixed by https://github.com/kubernetes-sigs/kind/pull/2874

current plan is to try to cut a release next week alongside kubernetes 1.25

[2022-08-18 21:19] #2868 closed

[2022-08-19 05:08] masterkidan opened #2888 "Starting kind using rootfull podman"
Hello folks,
I've been trying to use kind with podman for a few days. One issue I seem to be hitting is that the variable KIND_EXPERIMENTAL_PROVIDER=podman seems to also be used to run podman in rootless mode. Is there some way I can pass an option to kind to use rootful podman ?
I need it as I want to assign some lower port numbers etc like port 80 , which is not possible in rootless.

[2022-08-19 05:12] BenTheElder commented on #2888
It the same behavior as using podman directly so on most systems:

`sudo EXPERIMENTAL_PROVIDER kind ...`

[2022-08-19 06:01] Dunge opened #2889 "Exposing kubernetes ingress to host machine running KinD on Windows and WSL2 using extraPortMappings doesn't work"
I'm using KinD on Windows via Docker Destop running on WSL2 and trying to set up the ingress to expose port on my host machine.

I followed the guide and installed the cluster with the config as shown here: https://kind.sigs.k8s.io/docs/user/ingress/, along with Ingress NGINX controller (from helm) and a custom Ingress ressource redirecting to my service with the proper classname.

[code]

If I ku

[2022-08-19 09:12] pigmej opened #2890 "Kind 0.14.0, M1: ERROR: failed to create cluster: failed to generate kubeadm config content: failed to get kubernetes version from node: file should only be one line, got 0 lines"
**What happened**:

I tried to setup a kind cluster on my mac m1. Sadly it fails with an error like:
[code]

The full stack trace is:
[code]

I tried to check what's the problem more deeply but there seem to be no obvious enough way to debug that. The docker container started fine.

**What you expected to happen**:

The cluster running :)

**How to reproduce it (as minimally and precisely as possi

[2022-08-19 09:29] aojea commented on #2886
set them to 0 on the host then :smile: , and report back, it should work after that

[2022-08-19 13:04] harshanarayana commented on #2881
@YunShiHang  That is because the code only seem to support loading one archive at a time.

https://github.com/kubernetes-sigs/kind/blob/74a8ae82b36e815bff02a7d839c1d518532c922d/pkg/cmd/kind/load/image-archive/image-archive.go#L82-L86

https://github.com/kubernetes-sigs/kind/blob/74a8ae82b36e815bff02a7d839c1d518532c922d/pkg/cmd/kind/load/image-archive/image-archive.go#L120-L126

This can be fixed.

[2022-08-19 14:37] BenTheElder commented on #2881
FYI you can docker save two images to one tarball which is also more efficient as it deduplicates shared layers

[2022-08-19 14:45] BenTheElder commented on #2890
The first problem is that this is running in docker mode instead of podman mode. On Linux we're usually able to detect that the podman docker is fake and actually podman, podman is *not* docker compatible.

KIND_EXPERIMENTAL_PROVIDER=podman can force podman mode.

You can increase verbosity to see more but the check on preparing nodes means the containers started.

I think podman on Mac had other

[2022-08-19 14:56] BenTheElder commented on #2890
Hmmm, are you? the `docker info` output appears to be genuinely from docker, can you elaborate? Is this the docker CLI but talking to podman? (as opposed to a symlink/script called "docker" that is the podman binary).

I don't think we support this yet, because we need to know it's really podman so we can support podman's differences.

From [1862585104.zip](https://github.com/kubernetes-sigs/kind/

[2022-08-19 15:10] pigmej commented on #2890
Hey,

Yes normal docker cli talking to podman docker socket directly with docker API. But maybe there is some bug there that prohibits correct operation in *all* cases.

Let me check directly with podman without docker API compatible socket.

[2022-08-19 15:13] pigmej commented on #2890
So I have checked directly with docker (lima for the rescue) and it works ok. So there was something weird happening there I think.

[2022-08-19 15:14] #2890 closed

[2022-08-19 15:17] BenTheElder commented on #2890
kind is a pretty deep user and they don't quite have identical behavior at least in local podman (no socket just podman) mode. We haven't tested docker socket mode currently, our CI matrix is on these dimensions:
- docker or podman
- rootfull or rootless
- cgroupsv2 or v1
- kubernetes versions

lima seems to be a great option 👍

[2022-08-20 16:24] xiaofan-linux opened #2892 "Error in creating cluster, podman is provider"
#### Error in creating cluster, podman is provider

[code]

[code]

[code]

[2022-08-21 16:16] wherka-ama commented on #2892
@xiaofan-linux : you are referring to `--config ./config.yml` - any chance of attaching the content of `config.yml` please? It may help these who will try to reproduce the problem during the analysis of this ticket. Thanks in advance!

[2022-08-22 01:52] HummingMind commented on #398
Until this is official, here is how I installed it today using helm cli:
`helm repo add metrics-server https://kubernetes-sigs.github.io/metrics-server/
helm repo update
helm upgrade --install --set args={--kubelet-insecure-tls} metrics-server metrics-server/metrics-server --namespace kube-system
`
This installs the latest version of the chart/app from https://artifacthub.io/packages/helm/metrics-

[2022-08-22 01:58] xiaofan-linux commented on #2892
The following is the content of config.yaml

[code]

[2022-08-22 04:32] YunShiHang commented on #2881
Thanks，It has been very helpful to me

[2022-08-22 04:32] YunShiHang commented on #2881
Thanks

[2022-08-22 06:57] webmutation commented on #2886
Thanks that worked.

[2022-08-22 07:00] raphaelauv opened #2893 "kind 0.14.0 startup slower than 0.12.0"
Linux XXXX 5.15.0-46-generic #49-Ubuntu SMP Thu Aug 4 18:03:25 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

(ubuntu 22.04.1)

the command `kind create cluster`

with 0.14.0 ->

[code]

with 0.12.0 ->

[code]

is this "normal" ? Thanks

[2022-08-22 07:45] aojea commented on #2892
are you able to create containers without kind? in their own network?

[2022-08-22 08:36] aojea commented on #2884
/close

https://github.com/kubernetes-sigs/kind/pull/2885

[2022-08-22 08:37] #2884 closed

[2022-08-22 19:00] BHSDuncan commented on #817
I know this is a closed issue and I apologize profusely for posting on here (happy to move it somewhere else!), but this is the only reference to the `invalid_token: authorization failed` error that I'm currently getting when K8s tries to pull down a Docker image from a private registry (that I control) in Docker Hub.

I'm not using `kind` or anything, but I'm at wit's end trying to figure this ou

[2022-08-22 21:23] glitchcrab commented on #2689
I'm also seeing the same on Arch linux with both kind 0.13 and 0.14 with kernel `5.19.2-arch1-2`. My docker dir is xfs-backed if that matters.

Logs are here [kind-logs.tar.gz](https://github.com/kubernetes-sigs/kind/files/9397672/kind-logs.tar.gz)

[2022-08-23 07:09] amleshk66 commented on #2576
any suggested solution ? i am also facing same issues on mac .

Error: failed to start container "provisioner": Error response from daemon: path /Users/****/mysql/data is mounted on /host_mnt but it is not a shared or slave mount

[2022-08-23 21:24] BenTheElder commented on #2576
you *cannot* use this on macOS if you're using a host mount*. you also probably don't need it. https://github.com/kubernetes-sigs/kind/issues/2576#issuecomment-1005958468

\* mounts that are from within the VM can do this. mounts that cross the VM boundary back to macOS cannot.

[2022-08-24 09:27] xiaofan-linux commented on #2892
Using podman compose,  create containers normally

[code]

[2022-08-24 11:21] aojea commented on #2892
I see, you are using netavark, and the support was added very recently

https://github.com/kubernetes-sigs/kind/pull/2883

we have to release soon, in the meantime you have to use kind from HEAD

[2022-08-24 15:17] andrejusc opened #2895 "Cannot use v1beta3 for patch within ClusterConfiguration for kind 0.14"
**What happened**:
Following this example code:
https://github.com/kubernetes-sigs/kind/blob/v0.14.0/pkg/internal/apis/config/encoding/testdata/v1alpha4/valid-kind-patches.yaml#L16
I was trying to change version from `v1beta2` to already available `v1beta3` as I'm using kindest nodes of v1.23.6.

And so my snippet looks like such now:
[code]
but after kind cluster (I've named it `test123`) is crea

[2022-08-24 16:02] webmutation commented on #2886
I am closing this now. Problem was related to corporate vpn. Thanks once more @aojea for your instructions

[2022-08-24 16:02] #2886 closed

[2022-08-24 16:04] BHSDuncan commented on #817
For some reason, this just magically started working yesterday without any changes whatsoever. Just in case anyone's looking at this.

[2022-08-24 16:26] yabadabadoubis opened #2896 "Issue with cgroup.pids.max limit when running kind with rootless podman"
[code]

-  Running a JBoss server within a container fails to create init thread:
[code]
After investigation, I ended up by identifying the root cause: podman run uses a default pid.limit when it's not specified (as per documentation, this limit is set to [4096](https://docs.podman.io/en/latest/markdown/podman-run.1.html#pids-limit-limit), in my case it is 2048). This can be verified by checking c

[2022-08-24 19:48] wherka-ama commented on #2896
I believe we're talking about the same issue as described here:
https://github.com/kubernetes-sigs/kind/issues/2830#issuecomment-1190546098

There is also a quick recipe on how it can be mitigated without the change in the Kind i.e. via setting the explicit limit(or lifting it entirely) in `containers.conf`.

See: https://github.com/containers/common/blob/main/docs/containers.conf.5.md#containers-

[2022-08-24 21:42] wherka-ama commented on #2892
@aojea : FYI - I believe it's linked with https://github.com/containers/podman/issues/15395. However, I'd say it may have more to do with podman than Kind.

Just to be clear: the problem does not occur with new podman(4.x) when I use it in rootless mode. That's something specific to podman with netavark when running as root.

Rootless:
[code]

Obviously, I'm not trying to say the ticket is invalid

[2022-08-25 07:07] yabadabadoubis commented on #2896
Updating the `$HOME/.conf/containers/containers.info` file fixed the issue.
Thanks!

[2022-08-25 07:07] #2896 closed

[2022-08-25 07:15] aojea commented on #2895
@BenTheElder do you remember some issues with the internal patching?

[2022-08-25 18:29] BenTheElder commented on #2893
Unfortunately a few second skew is normal, Kubernetes doesn't regression test for "toy single node cluster startup time" and upstream changes can cause startup to take longer.

I would guess if you tested with the same Kubernetes minor version you will find roughly the same timings (within variance).

In the past we've worked to keep a lid on this, but I don't think @aojea or I have had time latel

[2022-08-25 18:31] raphaelauv commented on #2893
Thanks for the explanation, I'm going to close the issue

👍

[2022-08-25 18:31] #2893 closed

[2022-08-25 19:28] dhaiducek commented on #2460
@sailinnthu For me, when I specify an image version directly (even the same image it says it's using) like `--image=kindest/node:v1.24.0`, everything works fine. As soon as I run `kind create cluster` (or specify the image SHA associated with the `v0.14.0` Kind version), the message reappears. Hopefully that might help in your case!

[2022-08-25 20:52] luctowers commented on #2867
I am also having this issue on my m1 macbook air when using a `docker-from-docker` setup

[2022-08-25 20:58] luctowers commented on #2867
Interestingly, `docker network connect kind $HOSTNAME` does allow me to `curl` the control plane via `https://kind-control-plane:6443`.

Despite this I still get this error when starting control plane via `kind create cluster`.

[code]

[2022-08-25 22:29] masterkidan commented on #2888
Thanks it looks like my issue is something else then ... I am trying to publish to port 80 , but I get an access denied exception. I am thinking this may be related to podman itself and not really related to kind.

[2022-08-25 22:48] luctowers commented on #2867
After some investigating. The problem is, the name resolution in the control-plane doesn't work immediately when the container is started. Adding a sleep before running the remove taint command works as a hacky fix.

[code]

IDK why this is the case with our environments. We are both running `docker-from-docker` on Apple M1, not sure how much is coincidence.

Thoughts @BenTheElder ?

[2022-08-26 00:40] Alevsk commented on #2460
@dhaiducek the only solution for me is to restart my machine and then try to create the cluster again :/, I'm able to reproduce this issue by first creating a cluster, then deleting it and then try to create it again.

[2022-08-26 22:02] aojea commented on #2460
do you reproduce it always? what are your setup details @Alevsk ?

[2022-08-26 22:53] luctowers commented on #2867
I was also able to reproduce this issue with a `docker-from-docker` setup on x86_64 Ubuntu.

[2022-08-26 23:00] BenTheElder commented on #2867
Uh, that shouldn't be the case. Sounds like a docker bug?

Can you explain what you mean by "`docker-from-docker`", exactly? Is that like docker-in-docker (docker running inside of a docker container) or docker with the socket mounted to a container?

[2022-08-26 23:26] luctowers commented on #2867
Just a minimal setup mounting `/var/run/docker.sock` from the host into the container.

[2022-08-26 23:36] luctowers commented on #2867
Maybe... I tested with older versions kind, and they have the same issue. Seems odd that we are only just finding it now, unless something got broken in docker.

[2022-08-28 17:15] yardenshoham commented on #2771
If we use `--mount` instead of `--voulme` in the code it might be possible, here:

https://github.com/kubernetes-sigs/kind/blob/c6b929bd797afecc2cbcc4d5425c614e6a68f495/pkg/cluster/internal/providers/docker/provision.go#L317

[Reference](https://stackoverflow.com/a/44938335/7414734)

[2022-08-28 20:10] BenTheElder commented on #2771
See above comment and linked thread for why we need to be careful about how we approach supporting this -- users are used to colons => volumes and we'll actually want to support volumes in a future API revision.

I don't think anyone has outlined how exactly we should do this yet and handle both of these.

[2022-08-29 19:29] BenTheElder commented on #2888
I would think so, kind isn't doing anything particularly unusual with port forwards, if you mean the extraPortForwards config option. We're just plumbing that to `-p`

[2022-08-30 17:48] JorTurFer opened #2899 "Do you have plans to do a release?"
Kubernetes v1.25 has been released and I'd like to use kind with it on my repositories' CIs but atm there isn't any node image for it.
Do you have any date for next release? I have checked but I can't find this information anywhere (Maybe I didn't see it but it's there)

[2022-08-30 18:25] rumstead commented on #2055
@BenTheElder the suggestion doesn't seem to work for me, happy to contribute docs if I am doing something silly.
[code]

[code]

Pod doesn't launch and LOOKS like containerd doesn't pick it up
[code]

If I update the cert store it does work
[code]

[2022-08-30 18:44] aojea commented on #2899
We don't use to follow  kubernetes release, user should be able to build their own images , but this time we'll do a release soon , stay tuned

[2022-08-30 18:51] BenTheElder commented on #2055
@rumstead your config is missing a portion from the docs with the containerd config patch.

[2022-08-30 18:59] rumstead commented on #2055
Thanks for the response. Got it, so the patches are required. Are there docs that explain how to leverage the patches? Since I just have a CA, can I omit the private key?

[2022-08-30 19:24] bradfordwagner commented on #2055
This configuration works for me:

[code]

[2022-08-30 22:10] JorTurFer commented on #2899
Thanks for the clarification! 🙇

[2022-08-31 13:21] bjethwan opened #2900 "Broken link: kind is a CNCF certified conformant Kubernetes installer"
https://github.com/kubernetes-sigs/kind

<img width="747" alt="image" src="https://user-images.githubusercontent.com/5045325/187688133-141645b8-df06-4df6-a280-8876986dc3bc.png">

<img width="913" alt="image" src="https://user-images.githubusercontent.com/5045325/187688597-c585ba7b-c177-4ac6-acb2-67b08882499b.png">

Question: How can I prove to people that KIND is used in kubernetes release testing

[2022-08-31 16:04] aojea commented on #2900
https://testgrid.k8s.io/sig-release-master-blocking

is there any special reason you have to prove people this?

[2022-08-31 18:04] BenTheElder commented on #2900
Uh, besides the link Antonio provided, I am a Chair + Technical Lead of the Kubernetes [Testing Special Interest Group](https://github.com/kubernetes/community/tree/master/sig-testing) and KIND was explicitly created for this purpose.

If you open any recent Kubernetes Pull Request you will see multiple test results from KIND on each PR, as well as the release-blocking dashboard running continuous

[2022-09-01 04:55] bjethwan commented on #2900
DevOps team was completely dependent on AKS and EKS for testing. This was impacting the cost $.
I was suggesting mgmt to push for using KIND.
Mgmt folks came back with the conclusion that KIND is new and not fit for widespread use ... their reasoning was based looking at your [1.0 Roadmap 🗺](https://kind.sigs.k8s.io/docs/contributing/1.0-roadmap/).

Personally, I am a big fan of Kind. I was introd

[2022-09-01 08:29] aojea commented on #2900
kind gates Kubernetes development, that means that if everything that works in Kubernetes has to work with kind first ;)

[2022-09-01 23:12] #2618 closed

[2022-09-02 01:00] BenTheElder commented on #2900
IMHO: This mostly means we have a high bar to considering something GA, similar to Kubernetes. KIND is stable enough to develop and run CI on, but we do not consider it 1.0 yet.

KIND is roughly beta-grade by the guidelines at https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-stages

Love Duffie! <3 @mauilion

[2022-09-02 01:03] BenTheElder commented on #2899
We're roughly releasing at the cadence of Kubernetes this year, but mostly releases have been as-needed when major changes are well tested and ready for release, Kubernetes KIND node images can be built at any version following the guide in our docs.

KIND @ HEAD supports kubernetes @ HEAD, but stable kind supports _at least_ the default version it ships with. It may or may not yet support newer v

[2022-09-02 01:33] BenTheElder commented on #2899
https://github.com/kubernetes-sigs/kind/releases/tag/v0.15.0

[2022-09-02 01:33] #2899 closed

[2022-09-02 01:34] #2863 closed

[2022-09-02 05:12] BenTheElder commented on #2824
we just released v0.15 which has some important changes related to restarts

[2022-09-02 05:48] aojea commented on #2900
We have to resubmit the results to the CNCF

https://github.com/cncf/k8s-conformance/pull/939

I'll do it
/assign

[2022-09-02 06:19] giejay commented on #2824
Thanks for the heads-up @BenTheElder, I will check it out

[2022-09-02 08:07] ricosega opened #2904 "Kind nodeimage versioning"
How is the nodeimage being built?
There is a nodeimage version for each Kubernetes released version?
In that case why image 1.23.10 exists?

[2022-09-02 08:19] BenTheElder commented on #2904
There is a nodeimage version for each Kubernetes released version?

For the kind current release we built one for each of the latest patch versions for the past 6+ minor versions of kubernetes

There's details in the docs on how to build one.

https://github.com/kubernetes/kubernetes/releases/tag/v1.23.10

[2022-09-02 08:22] ricosega commented on #2904
@BenTheElder thank you for your reply!
Just checked https://kubernetes.io/releases/_print/ and seems not to be up to date right now.

[2022-09-02 08:22] #2904 closed

[2022-09-02 10:31] andrejusc commented on #2895
I think it was some messed Env setup on my side. This combination is fully workable:
[code]
all fine and `my-hostname` entry appears where it should within `certSANs`

Closing as not an issue, sorry for noise.

[2022-09-02 10:31] #2895 closed

[2022-09-02 12:20] raesene commented on #2863
cool thanks!

[2022-09-02 13:38] aojea commented on #2895
thanks for reporting back

[2022-09-05 15:57] wherka-ama commented on #2892
It looks like it's down to ipv6 disabled in fedora 36 by default. Please see https://github.com/containers/podman/issues/15395#issuecomment-1237240217

I believe this aspect is already documented https://kind.sigs.k8s.io/docs/user/configuration/#networking
However, there is one remaining problem - I don't think the `networking.ipFamily` is taken into account.

[2022-09-05 17:44] BenTheElder commented on #2892
The network is shared between clusters. Dual stack is opportunistically enabled. It is not based on a cluster's IPFamily which affects the cluster internals not the "node" network.
I think our docker provider will fallback to no IPv6 if it recognizes an error related to IPv6 not being available when creating the network.

[2022-09-05 18:00] wherka-ama commented on #2892
Alright, it's not so straight forward then. Agreed. What we can do, however is to detect the kernel state as far as the IPv6 and/or to align podman with docker so it takes a second turn with the IPv6 taken out of the equation to improve the odds.

@BenTheElder : feel free to assign this issue to me if there is nobody else around interested in taking it on. I can try to fix it within a couple of we

[2022-09-05 18:45] aojea commented on #2892
hmm per your comment https://github.com/containers/podman/issues/15395#issuecomment-1237240217

why this is not working?

https://github.com/kubernetes-sigs/kind/blob/c6b929bd797afecc2cbcc4d5425c614e6a68f495/pkg/cluster/internal/providers/podman/provision.go#L143

it looks like a podman bug

[2022-09-05 18:50] wherka-ama commented on #2892
Yep, I'd say so. For some reason podman is ignoring this hint. I'll see if I can dig into it a bit more. It may be podman itself, but my bet is it can touch netavark too.

[2022-09-05 18:56] aojea commented on #2892
I would bet that since netavark is a different component, something is not well connected between podman <-> netvark ... but I'm especulating

[2022-09-06 02:37] mark8s commented on #2374
@joncfoo Did you solve it?

[2022-09-06 20:45] BenTheElder commented on #2900
https://github.com/cncf/k8s-conformance/pull/2146 we're re-certified now, the link should go live again soon.

[2022-09-06 21:08] aojea commented on #2900
also 1.24 https://github.com/cncf/k8s-conformance/pull/2149

/close

[2022-09-06 21:08] #2900 closed

[2022-09-07 05:03] BenTheElder commented on #662
I missed your comment previously @nmvega, I think we should be doing something else in kind as well, I just stumbled across https://www.mail-archive.com/lxc-devel@lists.sourceforge.net/msg02241.html while rethinking this and came to post about the removal in LXC :-)

I'm not sure kind should be responsible for ensuring `/dev/kmsg` exists anyhow vs leaving it to the host environment ...

[2022-09-07 05:13] BenTheElder commented on #2880
there's a bit more to the WSL2 guide, @aojea and I don't use windows for development but the community contributed guide has more specifics on how to do this properly

see https://kind.sigs.k8s.io/docs/user/quick-start/#creating-a-cluster

`kindest/node:v1.24.0@sha256:0866296e693efe1fed79d5e6c7af8df71fc73ae45e3679af05342239cdc5bc8e` is the image for v0.14.0

v0.15.0 has since been released with va

[2022-09-07 14:01] noahge opened #2915 "Can I use docker different network mode?"
My environment is Mac -> parallels -> ubuntu -> docker -> kind.

I want my mac connect to docker network, because kind use docker bridge mode, I can't do this.

is any solution?

[2022-09-07 15:34] MohammedYunus2002 commented on #2770
/assign @MohammedYunus2002

[2022-09-08 08:25] plluksie opened #2916 "Running with rootless podman seems not to respect property Delegate=yes"
**What happened**: I'm not able to create cluster.

**What you expected to happen**: I'm able to create cluster.

**How to reproduce it (as minimally and precisely as possible)**:

[code]
Following @cwrau recommendation expressed in https://github.com/kubernetes-sigs/kind/issues/2872#issuecomment-1210772774:
[code]

**Anything else we need to know?**:
It was working fine 1 month ago. In the meanti

[2022-09-08 08:52] lazedo opened #2917 "cluster reboots doesn't preserve node ip"
**What happened**:
node ip wasn't preserved

**What you expected to happen**:
node ip preserved

**How to reproduce it (as minimally and precisely as possible)**:
start cluster, attach a network to a node, restart container

**Anything else we need to know?**:
entrypoint script assumes `head` for detecting ip which doesn't match the omitted (by `head`) existing
the node ip in 172.18.x.x the networ

[2022-09-08 09:26] aojea commented on #2917
I don't really understand your comment about `head` sorry, can you be more specific and add an example?

can you paste the output of `getent ahostsv4 "$(hostname)"` ?

[2022-09-08 20:03] aojea commented on #2917
why are there 3 different ips on that container?

[2022-09-08 20:05] aojea commented on #2915
those are a lot of hopes, @mauilion use to know creative solutions for these things

[2022-09-08 20:14] BenTheElder commented on #2917
so, while I think it may be a bug how we detect the IP (probably we want the one from the `kind` network specifically, ignoring for a moment the experimental option to override the network name), preserving the IP on reboot is *not* guaranteed anyhow and is not an intended goal

clusters can function fine with the IP changing, we re-roll the certs and nearly everything in the cluster should be usi

[2022-09-08 20:15] BenTheElder commented on #2915
bridge mode is the only thing we actively support, however depending on what specifically you are trying to accomplish there are options, for example configuring extraPortForwards on the nodes.

I'm not sure about the mac -> parallels part.

[2022-09-09 11:05] aojea commented on #2917
we can't support that at this moment, multi network is not a thing in Kubernetes ... yet ;)

[2022-09-09 15:52] BenTheElder commented on #2917
For an immediate workaround, depending on what you are trying to do exactly, it may be more appropriate to attach other containers to the kind network than attach kind nodes to another network.

[2022-09-09 16:42] lazedo commented on #2917
i'll try to figure out a solution to preserve the IP from the original network, don't worry. i'm using multus on some nodes and need to attach the network to the node to provide other interfaces to pods

[2022-09-09 17:20] bornaivankovic opened #2920 "Add support for port ranges in extraPortMappings"
**What would you like to be added**:
Add support for port ranges in the extraPortMappings
e.g.
[code]
**Why is this needed**:
Allows more flexibility when running multiple services of type NodePort and it's not requiring to setup an ingress controller

[2022-09-09 17:22] BenTheElder commented on #2917
I don't think there's a good way to do this without an active component on the host because we would need to know which network the IP ranges fall into.

If people are mutating the networks on their own outside of kind even the `kind` network may be different, even if we plumbed in the range on startup or something.

As far as I know docker / podman only expose this info via the host socket inspec

[2022-09-09 17:35] BenTheElder commented on #2920
Not completely opposed to this, but this would require a bit more fleshing out:
- for one, this will need to be a new kind API version
- podman and other runtimes need to be validated, port ranges are not something CRI supports and this makes this feature against our aims for portability https://kind.sigs.k8s.io/docs/design/principles/#target-cri-functionality
- what is the user experience for sin

[2022-09-09 17:37] BenTheElder commented on #1219
Sorry folks, there's a lot of noise in monitoring GitHub issues and closed issues tend to get less focus (they can be reopened though...) in this case see https://github.com/kubernetes-sigs/kind/issues/2920 for current discussion.

[2022-09-09 17:38] BenTheElder commented on #1219
Exposing the entire node port range is an interesting proposition. I wonder if we should just have a knob for that.

[2022-09-09 17:38] BenTheElder commented on #2920
https://github.com/kubernetes-sigs/kind/issues/1219#issuecomment-1242273059

[2022-09-09 21:35] BenTheElder commented on #2867
Sorry, too many things going on 😅

Does this happen if you use the docker client from the host, running on the host, instead?

It sounds like this environment is broken, and I'd rather not add a sleep to hack around it (I mean it could take longer elsewhere as well)

but we could consider, for example, using loopback instead. But I'd like to know more about why this is failing, something is off wi

[2022-09-09 21:49] bornaivankovic commented on #2920
Hi,

Thanks for quick reply. I thought docker was CRI compliant so I was assuming `-p <range>:<range>` mapping was supported by CRI as well.

The use case I was trying to cover was deploying kind in wsl and accessing deployed workloads from windows host without setting up an ingress. I also wanted to limit the needed configuration changes in my application. As docker doesn't allow to expose ports

[2022-09-09 23:04] BenTheElder commented on #2920
it's not, kubelet used to use docker directly, and then CRI was created to have a common interface to containerd/cri-o (and also gives a pretty good idea of what is portable across runtimes)

we don't need to stick to it strictly, but we've been trying not to reinvent types like this, they're lifted from CRI

[there is however a cri-dockerd that implements cri on top of docker, which is basically

[2022-09-10 19:54] wherka-ama commented on #2892
@aojea & @BenTheElder  : I spent a bit more time on understanding the flow and the reason why this hint is not really taken into account by podman.

All the values passed via`--sysctl` in podman's `run` mode have no effect on the default namespace where the netavark operates in.
All these instructions are saved into container spec(in `/var/lib/containers/storage/overlay-containers/<id>/userdata/co

[2022-09-10 20:24] aojea commented on #2892
It has to be, is how cni works, you have to set some sysctl for different reasons

https://github.com/containernetworking/plugins/blob/8c3664b2b158614171eedadf471c8236421aa07f/plugins/main/bridge/bridge.go#L294

[2022-09-10 21:30] wherka-ama commented on #2892
If we are convinced that `netavark` should be responsible for setting that part up, I suggest we modify it here:
https://github.com/containers/netavark/blob/1d597279f63f78dd4bef15cde581f3ff4857ece7/src/network/bridge.rs#L444

The `net.ipv6.conf.all.forwarding` is already taken care of there, but it makes no difference if the IPv6 is disabled. Setting `net.ipv6.conf.all.disable_ipv6` to 0 seems lik

[2022-09-10 21:39] BenTheElder commented on #2892
I don't know anything about how netavark specifics but I would expect networking sysctls set on a pod to be set in the network namespace for the container and in general I would expect namespace sysctls to be the purpose of the flag.

[2022-09-11 15:11] gyorokpeter opened #2922 "Improve performance when loading docker images already present in the cluster"
**What would you like to be added**:
When doing ```kind docker load image```, it should check if the image is available and it should only update the tag if so.

**Why is this needed**:
Major time sink when repeatedly switching back and forth between two images (e.g. debug and release version).

Current behavior:
[code]
Kind version ```0.15.0```

Expected behavior: the third command should be a qu

[2022-09-11 15:23] rakshitgondwal commented on #2770
Hey @BenTheElder !!
I would like to work on this issue.

[2022-09-11 19:38] speedyuk commented on #2858
I'm not going to be able to add a lot, but just to say I'm getting the same issue. I've corporate provided M1 based Mac. I've installed brew and used that to install Podman and KinD and works OK creating a default one node cluster but fails at the 'Starting control-plane' part when using a cluster config file with more than one master node. Any help solving this issue much appreciated.

[2022-09-12 03:38] BenTheElder commented on #2858
A potential workaround is trying docker via lima as an alternative, docker support is more mature.

[2022-09-12 03:41] BenTheElder commented on #2922
This is a bug, or else the image changed, the code is already written to optimize the case that the image is already present including if the tag just needs to be applied to an existing image.

can you share a more specific step by step reproducer including cluster creation, docker version, etc?

also, I noticed there's a stray character in your output for some reason 🤔

[2022-09-12 05:56] mkumatag commented on #2424
Rightnow kind always look for the local image and if it exists it blindly ignores to pull the image even if there is a change in node image. The classic example is with tags like `:master` pointing to the node image for the k8s master branch, I expect kind should have a mechanism to specific pull type like we have in the docker `("always"|"missing"|"never") (default "missing")` instead of just hav

[2022-09-12 06:18] BenTheElder commented on #2424
You can pull the image yourself if you're using images that are not pinned. We strongly encourage pinning by digest.

[2022-09-12 06:20] BenTheElder commented on #2424
@mkumatag i think you're confusing the node images and loading images. Loading images never pulls and the user must pull. Node images specified for running a cluster are pulled if not present. You can make that always by pulling before starting the cluster. It's unclear what the use case would be for never for node images, and in any case this issue is NOT about node images nor is the linked PR yo

[2022-09-12 11:01] speedyuk commented on #2858
Hi Ben, thanks for that, I had a try but it fell in the too hard bucket. What has worked so far is using RancherDesktop choosing the Docker mode and not enabling the builtin K8s. With that the KinD config with 2 masters and 1 worker completed successfully. I believe Rancher is just using Lima under the hood. I would of preferred to be using containerd but for now if this is a solution I'll try it

[2022-09-12 12:37] NDStrahilevitz opened #2923 "Kind fails to startup when mounting /sys/fs/cgroup"
**What happened**:
Tried to run kind with local cgroups mounted (/sys/fs/cgroup). Ran kind as following:
`kind create cluster --config kind-config.yaml`
with the following `kind-config.yaml` file:
[code]
I have received the following error log:
[code]

**What you expected to happen**:
That `kind` would start up as usual.

**How to reproduce it (as minimally and precisely as possible)**:
Described

[2022-09-12 14:51] BenTheElder commented on #2923
Yes you can't do that, why are you trying to do that?

[2022-09-12 14:57] NDStrahilevitz commented on #2923
I have a container aware application (interfacing directly through cgroups) I want to run on a kind cluster for testing.
However when deploying it the pod gets it's own cgroups directory, so it's unaware of host cgroups.

I assume this mount specifically not supported? Or is in only supported on cgroupsv1?

[2022-09-12 15:11] BenTheElder commented on #2923
It's not supported but also this isn't mounting to your pod, and I would highly recommend not running pods that manipulate host cgroups in an environment like this where there's a single kernel shared with your actual host and all the nodes.

however, you can instead mount the cgroups at an alternate location and then mount those to the pod.

depending on what the pod is trying to do, not touching

[2022-09-12 15:12] BenTheElder commented on #2923
We need each node to have it's own hierarchy which we then manipulate a bit to ensure we can run kubelet etc even though we're in a container. If all the nodes used the host hierarchy directly then they would conflict.

[2022-09-12 15:27] NDStrahilevitz commented on #2923
I need it readonly with no manipulation. Getting the info from the same kernel is actually the point here.
I will try again with mounting elsewhere, although it didn't work as I expected when I tested that kind of solution initially, but that may be because I performed the mount operation inside the pod.

I am also aware this isn't the place where it's mounted to the pod, I need this to mount into

[2022-09-12 15:27] #2923 closed

[2022-09-12 16:12] BenTheElder commented on #2923
sorry, what I meant is more like, you can mount to the node at say /host-cgroups
And then mount to the pod from  /host-cgroups
You can also do so read only, but we need read-write and special behavior on the usual path in order to run nested containers etc

[2022-09-12 16:18] BenTheElder commented on #2858
FWIW yes, rancher desktop is based on Lima.

containerd may be possible in the future either via nerdctl more closely matching docker or via writing a kind backend.

I was actually thinking of Colima which is also based on Lima https://github.com/abiosoft/colima, when I last debugged a Lima / alpine related issue https://github.com/abiosoft/colima/issues/291 I used this and found it well documente

[2022-09-12 16:23] NDStrahilevitz commented on #2923
Ahh, I see, that works perfectly, thank you!

[2022-09-12 16:59] gyorokpeter commented on #2922
1. Create cluster
[code]
[code]
2. Create example images
[code]
Add a little change to get a new image
[code]
3. Tag the image and upload to kind using *tag*
[code]
So far so good, but if we try to roll back the tag...
[code]
So it is uploading the image again even though it's already there. They can be seen in:
[code]

[2022-09-12 18:15] keyonjie commented on #763
Thanks for sharing @rosera . I am going to try what you have shared. Can you share more details about your environment? e.g. we should perform all commands on ChromeOS/crostini/debian (or ubuntu? 20.04?)

[2022-09-12 19:25] rosera commented on #763
I used ChromeOS debian (Crostini) environment, no additional changes were required. I used a Pixelbook i7 16Gb and a Asus CN60 i7 16Gb to test. I posted the blog post over a year ago, so may require some changes?

[2022-09-13 01:54] luctowers commented on #2867
No it does not. It may be something to with added latency or overhead when mounting the socket somehow? I agree, the sleep is a bad hacky solution. I think using the loopback addr is likely best.

[2022-09-13 06:23] harshanarayana commented on #2922
@BenTheElder Not sure if this is a bug but can definitely be optimized.

https://github.com/kubernetes-sigs/kind/blob/e3a4cd8884aa6ffde81e39888db9fec7aa1c24e9/pkg/cmd/kind/load/docker-image/docker-image.go#L156-L160

Uses the image name to extract the ID and does a match of current ID against the found ID.

Since the image was re-tagged, the returned ID containing the SHA doesn't match the one fou

[2022-09-13 06:26] harshanarayana commented on #2922
Otherwise, We could also extend the check https://github.com/kubernetes-sigs/kind/blob/e3a4cd8884aa6ffde81e39888db9fec7aa1c24e9/pkg/cmd/kind/load/docker-image/docker-image.go#L244-L258 to do this optimisation.

[2022-09-13 08:45] mk46 opened #2924 "Improve output of kind delete cluster"
**What would you like to be added**:
cluster delete cmd should acknowledge whether a cluster was `deleted successfully` or `cluster not found`
**Why is this needed**:
`kind delete cluster --name <--existing-cluster-->`  and
`kind delete cluster --name <--not-existing-cluster--> ` are
giving the output as below
`Deleting cluster <clustername>  ...`
which silent the information about non-existing cl

[2022-09-13 16:23] stmcginnis commented on #2924
This is expected and by design. See first note under https://kind.sigs.k8s.io/docs/user/quick-start/#deleting-a-cluster

Basically you are telling kind that you don't want `foo` to exist, and it returns that it doesn't. Whether it existed beforehand or not does not matter.

If for some reason you need to know whether it exists first, you would need to get clusters to see if it is in the list. Ther

[2022-09-13 16:44] BenTheElder commented on #2924
This command is like `rm`.
We could provide more debug output around the specific actions taken but it's meant to be reentrant and safe to call from multiple tear down points in a script (like trapping EXIT).

[2022-09-13 17:54] BenTheElder commented on #2924
/triage accepted
I think we should probably log if we take any actions ("deleting node xyz", "removing entry from kubeconfig"), or a message about not needing to take any action, to limit the confusion.

[2022-09-13 17:55] BenTheElder commented on #2922
Thanks for the detailed reproducer!
/triage accepted

@harshanarayana yes I would call this a missing edge case of the re-tag logic

[2022-09-13 17:55] #2915 closed

[2022-09-13 18:05] keyonjie commented on #763
@rosera it fails at my chromebook (Debian 11):
$ minikube start --driver=kvm2
😄  minikube v1.26.1 on Debian 11.4 (amd64)
✨  Using the kvm2 driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing kvm2 VM for "minikube" ...
🤦  StartHost failed, but will try again: driver start: error creating VM: virError(Code=38, Domain=0, Message='Unable

[2022-09-13 18:09] harshanarayana commented on #2922
/assign

@BenTheElder  Let me open a PR to make the necessary changes

[2022-09-13 19:21] keyonjie commented on #763
oh, it works after rebooting the chrome book! Thanks @cbandy !

[2022-09-13 19:23] BenTheElder commented on #763
If you can get an arbitrary VM running you should be able to run docker or podman + kind inside that using the usual linux install etc. 👀

[2022-09-13 22:33] cfryanr opened #2925 "Kind v0.15.0 can't start cluster when using documented 1.18 node image"
**What happened**:

 After upgrading to latest Kind using `brew upgrade kind`...

[code]

**What you expected to happen**:

I expected the cluster to start successfully.

Clusters do start successfully when other node images are copy/pasted from the v0.15.0 release notes (e.g. `kindest/node:v1.19.16@sha256:707469aac7e6805e52c3bde2a8a8050ce2b15decff60db6c5077ba9975d28b98`, etc.). This problem only

[2022-09-13 22:38] BenTheElder commented on #2925
You're on a cgroups v2 host, cgroups v2 requires Kubernetes v1.19 unfortunately https://kind.sigs.k8s.io/docs/user/known-issues/#failure-to-create-cluster-with-cgroups-v2

[2022-09-13 22:39] BenTheElder commented on #2925
You should see the same issue with any other image with Kubernetes < 1.19 on this host, including with older kind versions.

[2022-09-13 22:42] cfryanr commented on #2925
Ah, thank you for the quick response. I had searched the existing issues, but I should have searched the docs more thoroughly before creating this issue. Sorry about that. Hopefully this issue will help others find the cause of this problem in the future.

[2022-09-13 22:42] #2925 closed

[2022-09-13 22:45] BenTheElder commented on #2925
No worries, this one is awkward and non-obvious, but probably next we will just shift to 1.19+ anyhow 😅

The main Kubernetes project only supports back to 1.23 currently https://kubernetes.io/releases/

[2022-09-13 23:00] cfryanr commented on #2925
@BenTheElder, Kind's support for old Kubernetes versions has been very valuable for testing our project for compatibility against old Kubernetes versions in our CI. It would be great if all users would ensure that all their Kubernetes clusters are always running the officially supported Kubernetes versions, but alas, some seem to always lag behind.

In this case, I had not tried to run an old Kube

[2022-09-14 06:32] rabindragogoi opened #2926 "Issue : Not Able to enter to load balancer."
**Scenario**
I created a cluater of 2 master node and 1 worker node and after that ran the below command pointing to my config.yaml file.

kind create cluster --config=config.yaml

It created :

○ → docker ps -a
CONTAINER ID   IMAGE                                COMMAND                  CREATED         STATUS         PORTS                       NAMES
385844d247c5   kindest/haproxy:v20220510-a42b3

[2022-09-14 06:36] BenTheElder commented on #2926
Yes, there's no shell in the loadbalancer, it's minimal.

What's the use case? In general users are meant to be using the Kubernetes API.

[2022-09-14 07:40] rabindragogoi commented on #2926
Okay.. I was going through tutorials of Kind where I have seen the instructor entering the load balancer and checking ping to all the other master/worker node.
https://www.youtube.com/watch?v=kkW7LNCsK74

id the functionality got changed now?

[2022-09-14 07:52] harshanarayana commented on #2922
I did a quick test for this and optimizing this can have an unwanted side effect I think

[code]

If I just re-tag the old image based on the hash match to the new one instead of loading it, seems like there will now be two images with the same name and tag. Unless one is using the sha value for referencing the image, won't this be confusing ?
@BenTheElder  @gyorokpeter

[2022-09-14 08:01] BenTheElder commented on #2926
yes, this is an internal detail, I was not aware of this tutorial. we have minimized this image further since earlier versions.

ping is also not really a reliable way to check connectivity in kubernetes, overlay networks may not support ICMP

[2022-09-14 08:15] rabindragogoi commented on #2926
Okay thanks.. closing the issue chain.

[2022-09-14 08:15] #2926 closed

[2022-09-14 18:25] rosera commented on #763
Thanks @keyonjie I updated my blog with the additional steps.

[2022-09-14 18:54] gyorokpeter commented on #2922
Shouldn't the sha256 uniquely identify the image? In that case it should never happen that there are two images with the same hash. However to me this is implementation detail, as a user I only care about the fact that the image should be present in the cluster and resetting the tag to an already existing image should be quick as it should be a similar operation to a file move.

[2022-09-14 19:58] lucasgcbkhomp commented on #2714
@BenTheElder

Any reason why something with Lunr couldn't be added statically to HUGO?

https://victoria.dev/blog/add-search-to-hugo-static-sites-with-lunr/

Browsing the docs is very painful currently. Even something rough like a Lunr Search page linked through the Table of Contents would be miles better to make the documentation more digestible.

[2022-09-14 21:26] lucasgcbkhomp opened #2927 ""Using Ingress" documentation instructions not working"
Using version 0.14.0
On kindest/node:v1.24.0

In the [Ingress Guide](https://kind.sigs.k8s.io/docs/user/ingress/) for hash [7300ffa4](https://github.com/kubernetes-sigs/kind/commit/7300ffa4b7c907e9f6c7296d72e137943b2309b0) the code samples do not work for me.

The Guide basically starts from scratch with a new cluster being defined then heavily suggests copying the subsequent kubectl commands are

[2022-09-14 21:33] BenTheElder commented on #2927
That shouldn't be necessary unless you're in some kind of restricted networking environment that prevents pulling, which is not typical.

Can you `kubectl describe` the pods that are failing to become ready and share the output?

[2022-09-14 21:54] sftim commented on #2714
PRs are welcome!

[2022-09-15 04:37] harshanarayana commented on #2922
@gyorokpeter

`kubectl run nginx --image myimage:debug` I ran this command and the following happens. This can be super confusing if one forgets the re-tagging bit.

[code]

this is the confusion I am talking about. If you notice, the image used for the Pod, `docker.io/library/import-2022-09-13@sha256:50b471c68797a477c88b63d9c4a3c36e82c2335efdbd49590ef7ad49d4843e37` this points to something called

[2022-09-15 05:28] BenTheElder commented on #2922
That doesn't seem right, I haven't had a chance to dig back into this but maybe we need to untag the old one when adding the tag? Possibly a missing feature of ctr, or a flag we're missing.
We should match the behavior when a new image digest is pulled for a tag, this is meant to be a pull alternative.

[2022-09-15 07:47] harshanarayana commented on #2922
Agreed @BenTheElder  I am trying to find what needs to be done to get the tag behavior sorted. Will update here what I can find later in the day.

[2022-09-15 15:15] lucasgcbkhomp commented on #2927
@BenTheElder
Running the Guide blindly, for instance with the NGINX controller, leads to this:
[code]
It fails to ready the pod at the ingress namespace. If one continues to push through:

[code]

The pods will attempt to get up that become broken are:

The `ingress-nginx` context:

[code]

### ingress-nginx-admission-patch

[code]

Regardless of ingress, these pods will fail as well:

### foo app

[2022-09-15 15:42] BenTheElder commented on #2927
So, this is a bug then or something broken about the host environment.
We should fix this.

Can you please fill out the bug template about this inability to pull with the relevant information about kind version etc? Any any firewall, VPN, or other network tech on the host.

[2022-09-15 15:44] BenTheElder commented on #2927
Pulling not working is why the guide isn't working and why the pods aren't readying. It's not that other people are doing something special, it's that pulling normally works fine.

[2022-09-15 16:06] lucasgcbkhomp commented on #2927
I can do that.

If it's of note, I had been using `minikube` prior to `kind`, which worked fine. I stopped all minikube planes and wanted to try out a `kind` cluster for multi node tests. Maybe there's a conflict somewhere between both?

[2022-09-15 16:15] jwcesign opened #2928 "First cluster create success but second cluster failed"
### Environment
OS: Ubuntu 20.04.1 LTS
kind: v0.14.0 go1.18.2 linux/amd6
docker info:
[code]
two clusters yaml:
[code]

### Error
[code]
run `journalctl -xeu kubelet`:
[code]

[2022-09-15 16:18] jwcesign commented on #2928
cc @BenTheElder

[2022-09-15 16:35] BenTheElder commented on #2928
Typically this is a resource exhaustion issue. There are many dimension including:
- cpu
- memory
- disk I/O
- inotify limits
see: https://kind.sigs.k8s.io/docs/user/known-issues/

can you run the second create with `--retain` (disable cleanup on failure) and then after failure `kind export logs` and share the cluster logs here?

[2022-09-15 16:42] BenTheElder commented on #2927
We have seen a conflict before but OP was unable to narrow down where exactly that was, if you used minikube `--vm-driver=none` that essentially turns the host into a node and does a lot of things to the host. #2516

[2022-09-16 06:56] uablrek opened #2929 "Starting kind with seccomp-default fails"
**What happened**:

I follow the instruction for kind in https://kubernetes.io/docs/tutorials/security/seccomp/. Here is my conf;

[code]

<details><summary>Kind log</summary>

[code]
</details>

**What you expected to happen**:

Kind should start normally with seccomp-default enabled

**How to reproduce it (as minimally and precisely as possible)**:

Use the config above and start kind.

**Anythi

[2022-09-16 07:23] uablrek commented on #2929
The problem can well be in documentation, and not in kind.

[2022-09-16 07:28] aojea commented on #2929
@saschagrunert can you help us here?

[2022-09-16 09:14] neolit123 commented on #2929
kubeadm has no documentation around seccomp or apparmor. we gave up on these topics as nobody had the bandwidth or knowledge to write docs. i recall complications around seccomp specifically but not the details.

if users are willing to contribute, prs welcome.

[2022-09-16 10:05] saschagrunert commented on #2929
@uablrek the docs refer to the latest Kubernetes release, may I ask you to try it again with kind 0.15.0 and k8s 1.25 ?

[2022-09-16 10:16] saschagrunert commented on #2929
I have the strong feeling that I forgot that kind runs in privileged containers which runs everything unconfined within the cluster.

[2022-09-16 10:29] saschagrunert commented on #2929
@uablrek can you please try with kind 0.15.0 and Kubernetes v1.25? The cluster bootstrap works on my machine with the config mentioned above.

[2022-09-16 10:35] saschagrunert commented on #2929
Interestingly, kind seems still to block the feature somehow. Example pod:

[code]

Running via kind then shows
[code]

But it should show:

[code]

It looks like that something overrides the configuration :thinking:

[2022-09-16 10:39] uablrek commented on #2929
@saschagrunert Yes, it starts with v0.15.0. Thanks! Again :smiley:

[2022-09-16 11:05] uablrek commented on #2929
[code]
shows the printout described in https://kubernetes.io/docs/tutorials/security/seccomp/

But I also get
[code]
But that's another issue. Closing...

[2022-09-16 11:05] #2929 closed

[2022-09-16 11:45] uablrek commented on #2929
@neolit123 IMHO the [seccomp](https://kubernetes.io/docs/tutorials/security/seccomp/) and [apparmor](https://kubernetes.io/docs/tutorials/security/apparmor/) documentation for K8s is _very good_. I have only worked with them for 2 days and I got it running and, more important, I feel I can troubleshoot.

[2022-09-16 13:08] faizanbashir opened #2930 "Is there any way to add permissions to the Kind clusters and the pods that run within it"
My requirement is that I need to run a Pod with elevated permissions, specifically the `NET_ADMIN` permission. I have added it in the Kubernetes deployment file, but the functionality is failing nevertheless. The `securityContext` looks something like this:

[code]

The Kind cluster config is given below:

[code]

Is there any way to make it work in Kind?

[2022-09-16 14:33] BenTheElder commented on #2930
Is the security context correctly indented? I've had this issue before. You can check by using kubectl get -o yaml on the pod in the cluster and seeing if it is still present.

[2022-09-16 14:35] BenTheElder commented on #2930
The nodes should be fully permissioned

[2022-09-16 14:54] faizanbashir commented on #2930
Yes, the `securityContext` is formatted properly.

[2022-09-16 14:55] faizanbashir commented on #2930
What do you mean by nodes fully permissioned?

[2022-09-16 14:56] BenTheElder commented on #2930
The nodes run as root with privileged mode. (Though on a rootless runtime they would be remapped from the real root)

[2022-09-16 14:59] BenTheElder commented on #2930
to be clear I don't mean the format of the security context snippet I mean the alignment on the deployment / pod spec which I can't see here.

It would be helpful if you could share more details about your environment and what is failing.

[2022-09-16 21:30] 100mik opened #2931 "kind tries to remove non-existent taint while deploying a custom node-image"
**What happened**:
I built a node image from the develop branch of k/k (`kind build node-image --image kindest/node:local .` while in the project dir)
I then tried to create a cluster using this image by running:
`kind create cluster --name k8s-local --image kindest/node:local`

It failed with the message:
[code]

**What you expected to happen**:
I expected kind to create a cluster which uses the

[2022-09-16 21:34] 100mik commented on #2931
I tried to dig into what happens differently while creating a node without a custom image, but according to what I see when I run this with `-v 9`. `kind` does not try to remove any taints at all.

Not sure if this happens but is not logged 🤔

[2022-09-16 21:46] 100mik commented on #2931
Looks like there is some logic [here](https://github.com/kubernetes-sigs/kind/blob/main/pkg/cluster/internal/create/actions/kubeadminit/init.go#L124-L134) which uses version constraints to decide which taint to remove. We grab this version by running `cat /kind/version` on the node. And that value for me is `v1.25.0` in which case it should try to remove the taint `node-role.kubernetes.io/control-

[2022-09-16 22:04] BenTheElder commented on #2931
To be clear: which Kubernetes version are you running? Is it forked?

a common problem is shallow clones of kubernetes without full git history which creates a bad git describe in the upstream k8s build tools and therefore false info for kind to operate from.

otherwise we may have a bug in the version comparison, but our default image currently is v1.25.0 IIRC so ... 🤔

[2022-09-16 22:09] 100mik commented on #2931
This seems to be true ^ I was just gonna try and log what `KubeVersion` returns in my case. When I ran `cat /kind/version`, I did get the value `v1.25.0 `

I was trying to play around with some changes. So I built my image from the develop branch.

[2022-09-16 22:13] 100mik commented on #2931
I do not think it is the version comparison because I tried to test out that block by doing something like [this](https://gist.github.com/100mik/89f75ac6e1f1de6e14686adb74665ba4).

(Here the package `"sigs.k8s.io/kind/pkg/foo/version"` is a copy of `"sigs.k8s.io/kind/pkg/internal/version"` vendor)

[2022-09-16 22:22] 100mik commented on #2931
So I built `kind` from source while logging the version being grabbed, something like this:
[code]

And the version seems to be `v1.22.0-beta.2.8018+0f37b312064358`.

Looks like in my case, `nodeutils.KubeVersion()` is not returning `v1.25.0`, even though that is what I see when I run `cat /kind/version` in the container created.

[2022-09-16 22:23] 100mik commented on #2931
PS: Kudos for having `--retain` in place. Ran into it while trying to debug

[2022-09-16 22:48] 100mik commented on #2931
Apologies! Correction from my side,

Looks like when I ran `cat /kind/version` the first time it was in a cluster created without a custom node image. I edited the comment above to call this out.

The issue seems to be, if I build an image from the `develop` branch of `k/k`, the version seems to be something like `v1.22.0-beta.2.8018+0f37b312064358` which results in `kind` trying to remove the tai

[2022-09-16 23:00] BenTheElder commented on #2931
Are you sure the version reported by the kubernetes build is correct? Did you check if you have a full clone?

[2022-09-16 23:02] BenTheElder commented on #2931
I'm pretty sure we were precise about which Kubeadm versions changed the taint, but it is a common issue that the k8s build version is wrong due to say missing tags or commit history. I don't think there's much we can do in that case.

I'm on mobile and don't have handy the references but we worked with kubeadm maintainers on the taint transition 😅

[2022-09-16 23:07] 100mik commented on #2931
It is my first time trying to put together a dev environment of sorts, so it is totally possible that I am missing something!

I did pull the latest changes before building. Just to be sure I am gonna clone `k/k` again and try to reproduce this 🤔

[2022-09-16 23:20] 100mik commented on #2931
That seemed to work! I realised I have been calling `master` => `develop` out of habit.

I am not sure what changed because I had not made any changes yet and had the latest changes. Thanks a lot for the pointer!

[2022-09-16 23:22] #2931 closed

[2022-09-16 23:28] 100mik commented on #2931
I cloned the repo quite some time back (around v1.22.0) and have been running `git pull upstream master` to grab the latest changes.

My best bet is that the tags affect the version that is put in and what I have been doing did not fetch the tags (have not verified this). 😢

[2022-09-18 05:30] jwcesign commented on #2928
fixed with:
[code]

[2022-09-18 05:30] #2928 closed

[2022-09-18 14:01] uablrek commented on #2929
@saschagrunert I tried the test again and now it works!
[code]
I don't know what differs from before. `/proc/self/status` also works (which I thought might be the difference).

[2022-09-18 16:45] Andrioden commented on #2460
Also seeing this problem after deleting the cluster. Windows, wsl, docker desktop.

[code]

[2022-09-19 07:39] saschagrunert commented on #2929
@uablrek thank you for the confirmation!

[2022-09-19 10:35] brumhard opened #2932 "Node label `app.kubernetes.io/part-of` breaks cluster"
**What happened**:

I tried to add a label to the control-plane node to work with existing nodeSelectors.
Example labels like "test: testing" worked like a charm but the actual label I'm trying to set (`app.kubernetes.io/part-of: testing`) does not.
`kind create cluster --config ./kind.yaml` gets stuck in the `Starting control-plane` step and eventually fails with
[code]

**What you expected to ha

[2022-09-19 10:38] brumhard commented on #2932
Btw applying `k label nodes kind-control-plane "app.kubernetes.io/part-of"=testing` to an existing cluster works.

[2022-09-19 13:17] BenTheElder commented on #2932
kubernetes.io and k8s.ip were reserved by kubernetes. Kubelet will refuse to start.

[2022-09-19 13:21] BenTheElder commented on #2932
You should use a node label that isn't in the kubernetes namespaces. I don't think app labels were intended to be used on nodes like this either.

[2022-09-20 11:17] brumhard commented on #2932
Mmh okay I see. Someone introduced these node labels for some workload, I'm not sure why as well. But thank you very much for the explanation.

[2022-09-20 11:17] #2932 closed

[2022-09-20 15:57] phroggyy commented on #2867
Facing the same issue here - it seems highly error prone. I've observed that it seems to start working randomly after several retries.

I also don't see how the socket should be an issue here, as the error is DNS resolution from within the container 🤔

Note that in my case, I've been using the Kind go library, rather than the `kind` binary to perform these operations. I'm not sure if that is the c

[2022-09-20 17:31] tamalsaha opened #2933 "Kind node images for k8s 1.25.2"
**What would you like to be added**:
It will be great if you could publish node image for k8s 1.25.1

**Why is this needed**:
https://github.com/kubernetes/kubernetes/pull/112204

[2022-09-20 18:16] BenTheElder commented on #2867
So the DNS resolution *in the container* comes from a (different) socket docker embeds.

See the note about custom networks in:

https://docs.docker.com/config/containers/container-networking/#dns-services

If you're using kind via a container that mounts the docker socket, it's possible docker behaves differently here (?)
Unfortunately I haven't had time to dig into this myself yet.

This is not

[2022-09-20 19:34] tamalsaha commented on #2933
May be wait for 1.25.2

https://groups.google.com/g/kubernetes-sig-release/c/UTwQ1qg8aN8/m/6PFlhKsaAgAJ

[2022-09-20 19:37] BenTheElder commented on #2933
came here to follow up and post "maybe wait for 1.25.2" 😅

[2022-09-20 21:35] oxr463 commented on #2924
@BenTheElder I'd like to take a crack at adding this.

[2022-09-20 22:12] BenTheElder commented on #2933
1.25.1 has `kindest/node:v1.25.1@sha256:d20e58f5a5e89678dbedc6748cad0fba01b0f2df386cb16594bcba39be53b447` FWIW, but I think we should wait to 1.25.2 to add to the 0.15.0 release notes (and maybe consider a small 0.16.0 to ship this to default given the bug)

[2022-09-20 22:29] tamalsaha commented on #2933
👍

[2022-09-22 05:23] BenTheElder commented on #2933
pushing 1.25.2 now after base image updates.

we can do v0.16 tomorrow.

[2022-09-22 05:43] BenTheElder commented on #2933
`kindest/node:v1.25.2@sha256:9be91e9e9cdf116809841fc77ebdb8845443c4c72fe5218f3ae9eb57fdb4bace`

[2022-09-22 06:18] BenTheElder commented on #2933
`kindest/node:v1.24.6@sha256:97e8d00bc37a7598a0b32d1fabd155a96355c49fa0d4d4790aab0f161bf31be1`
`kindest/node:v1.23.12@sha256:9402cf1330bbd3a0d097d2033fa489b2abe40d479cc5ef47d0b6a6960613148a`
`kindest/node:v1.22.15@sha256:bfd5eaae36849bfb3c1e3b9442f3da17d730718248939d9d547e86bbac5da586`

(will publish these with v0.16.0)

[2022-09-22 06:37] #2933 closed

[2022-09-22 19:02] BenTheElder commented on #2931
yes, the tags affect the versions git produces with `git describe` and missing tags will cause Kubernetes's builds to have inaccurate version information, which then breaks tools like kind 😅

[2022-09-22 19:10] BenTheElder commented on #2925
Yes, I agree, it's unfortunately pretty expensive to keep up with though, and Kubernetes and systemd are looking at dropping cgroups v1 support in the near future so 1.18 back is going to become rather problematic.

As an upstream project we can't go back and patch Kubernetes branches that are no longer accepting patches and ship major changes like cgroup v2 support so eventually we're forced to d

[2022-09-22 19:41] BenTheElder commented on #2933
Annnnd done. https://github.com/kubernetes-sigs/kind/releases/tag/v0.16.0

[2022-09-22 19:46] 100mik commented on #2931
Gotcha! Note to self: remember to fetch tags.
Thanks <3

[2022-09-22 21:39] cfryanr commented on #2925
Makes sense! Thanks!

[2022-09-23 06:03] BenTheElder commented on #2828
We've merged some other podman fixes since this bug was open, but I still suspect this is something like https://github.com/containers/podman/issues/13710#issuecomment-1083167467

[2022-09-25 12:17] phroggyy commented on #2867
@BenTheElder to clarify, I run a docker socket on my local and use `socat` to specifically expose on `:2375` (I wanted to minimise messing with the docker desktop configuration). So I don't _think_ the TCP part should cause further issues.

Do you think it would make sense to add some retry mechanism to this taint call? What's happening now is that the whole creation gets rolled back _after the cl

[2022-09-25 14:40] xiaofan-linux opened #2939 "Kind creates a kind Docker network by default. Does it support specifying multiple Docker networks"
##### Kind creates a kind Docker network by default. Does it support specifying multiple Docker networks

[2022-09-25 20:19] aojea commented on #2939
nope, but you can do it manually https://gist.github.com/aojea/00bca6390f5f67c0a30db6acacf3ea91#example-multiple-network-interfaces-and-multi-home-nodes

/close

[2022-09-25 20:19] #2939 closed

[2022-09-25 21:49] BenTheElder commented on #2867
Tentatively, that's just patching over one particular symptom of the networking being broken.

Well yes, we can't very well run a functional cluster with broken networking.

I don't think that's reasonable after the API server is up, this is a local API call executed itself on one of the control plane nodes itself. We already have an exponential retry waiting for the api server to be ready in kube

[2022-09-26 19:10] tehcyx opened #2942 "Join of worker node fails for specific k8s versions"
Unsure if this is a kind problem at all or more a kubeadm problem or a known problem with those specific k8s versions. But here goes.

**What happened**:
[code]

**What you expected to happen**:
Cluster to be created successfully

**How to reproduce it (as minimally and precisely as possible)**:
Create a cluster with this config:
[code]

**Anything else we need to know?**:
It works if I use a diff

[2022-09-26 19:16] BenTheElder commented on #2942
1.23.4 is a very old node image from v0.12.0 kind release, please use an image from the current release

https://kind.sigs.k8s.io/docs/user/quick-start/#creating-a-cluster

[2022-09-26 19:17] tehcyx commented on #2942
Understood, using newer images already just found it weird that one of my old tests was failing and thought it might be worth reporting.

[2022-09-26 19:48] BenTheElder commented on #2942
ACK thanks, please let me know if you see this with current patch versions, it's definitely possible there's a k8s bug.
We also changed some things around v0.13 that might cause issues and we'll probably have to stop supporting old images again in the future related to cgroups management 😅

[2022-09-26 19:54] tehcyx commented on #2942
I actually found it was still working in v0.14 as well

[2022-09-26 20:04] BenTheElder commented on #2942
But does it fail with current node images? There's been a lot of PRs to Kubernetes 1.23 / 1.24 since 1.23.4 / 1.24.0

[2022-09-26 20:05] tehcyx commented on #2942
Nope like I said in the initial report, e.g. this config works:
[code]
which would pull in v0.16.0 node images for control plane and workers, except the hardcoded one.

[2022-09-26 20:12] tehcyx commented on #2942
[code]
This config works without problems.

[2022-09-27 11:40] jian1106 opened #2944 "does it possible to let kind k8s use host's docker context?"
i am using kind in my wsl2 and i found that kind does not use images which i pulled from my private registry. Pods in k8s keeps reporting `ImagePullBackOff`.

[2022-09-27 12:22] stmcginnis commented on #2944
Since the Kubernetes cluster is running inside containers it does not have access to your image. You have a couple options.

You can manually load the images into your cluster using `kind load docker-image`. Instructions on doing that can be found here: https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

You can also run a local image registry. Similarly to above, y

[2022-09-27 17:20] BenTheElder commented on #2826
understandable

We'd have to know where it would be mounted. In which case, I'm not sure this is the right model either.

This is a pretty good work-around IMHO, my only addition would be to do something like `FROM kindest/node:v1.25.2@sha256: 9be91e9e9cdf116809841fc77ebdb8845443c4c72fe5218f3ae9eb57fdb4bace` (pin to the image from the release you are using, this one is from v0.16.0)

If you're awa

[2022-09-28 02:34] Polyhistor opened #2945 "How can I resolve a domain name through the host machine?"
We've got a dev environment setup in which a part of our services are inside Kubernetes (using kind) and a part of it is not. Inside the Kubernetes pod, a request is made to a certain host (localdev.companyName.com), we own this domain and return 127.0.0.1 everytime a request is made (this was to avoid having to resolve host locally in dev computers).

While this is fine when we run our docker ins

[2022-09-28 02:57] BenTheElder commented on #2942
Thanks -- this makes me think there's a kubernetes bug that was fixed between 1.23.4 ... 1.23.12 or 1.24.0 .. 1.24.6. It's possible instead that images from past kind releases have a bug related to this but I can't think of a relevant change.

[2022-09-28 05:13] jian1106 commented on #2944
OK, i got it. Thanks for your replying.

[2022-09-28 08:49] aojea commented on #845
as pointed out by Ben , we are going to have a performance hit because of etcd

https://github.com/kubernetes/kubernetes/pull/112690

[2022-09-28 09:10] pataluc commented on #2826
As far as I understand, `update-ca-certificates` (on Ubuntu but probably all Debian-like distrib) reads this directory: `/usr/local/share/ca-certificates` (cf. https://manpages.ubuntu.com/manpages/xenial/man8/update-ca-certificates.8.html)

[code]

;)

[2022-09-28 12:27] stmcginnis commented on #2944
/close

[2022-09-28 12:27] #2944 closed

[2022-09-28 17:45] BenTheElder commented on #845
This should work for all current kind versions and is slightly terser:
[code]

[2022-09-28 21:38] #2930 closed

[2022-09-28 22:11] BenTheElder commented on #845
Maybe let's make a page to cover performance @aojea?

We have other related commonly discovered issues that are only in "known issues" currently. We could leave stub entries but move performance considerations to a new docs page that covers this technique + inotify limits etc.

I think the config to enable this is small enough to just document and it's too breaking to e.g. enable by default.

We c

[2022-09-29 09:55] aojea commented on #845
agree, these are recurrent questions, better to aggregate this information

[2022-10-01 22:21] flash-me opened #2948 "Local Port Mapping not working on Docker Desktop for Linux / Ubuntu"
**What happened**:

I deployed a cluster via `kind create cluster` and exposed a service with `NodePort`.
[According to the docs](https://kind.sigs.k8s.io/docs/user/configuration/#extra-port-mappings), I should be able to access the service through the nodes IP:
![image](https://user-images.githubusercontent.com/5240450/193430228-983d4350-6183-49ab-8393-a0e889513d15.png)

But I am not.

Here are s

[2022-10-02 03:30] BenTheElder commented on #2948
Can you access ports on other containers without port forwarding?

docker is responsible for this layer of the networking but in your host environment things like VPN or firewall can interfere.

[2022-10-02 04:48] aojea commented on #2948
??

[2022-10-02 09:27] flash-me commented on #2948
@aojea you're right, it's 4.12.0, I updated the description. Thanks!

@BenTheElder
It's my private dev setup, no proxies, no VPN, no firewall. Default Ubuntu installation.

I deployed nginx, same results:
![image](https://user-images.githubusercontent.com/5240450/193447382-86b73f81-206e-4345-a0b1-f7944d29742f.png)

Let me know if you need any kind of information (whether its network interfaces or

[2022-10-02 10:03] flash-me commented on #2948
These docker settings are what has been setup from `kind create cluster`

**docker inspect kind-control-plane**
[code]

and **docker inspect kind** (network)
[code]

So my question is how the statement from the documentation page can even work?
By default it is a bridge network and every port I want to access in my docker network must be exposed explicitly, or am I missing something?

cheers
flash

[2022-10-02 16:13] nathanblair opened #2949 "Allow cluster node resolv.conf or internal DNS to be pointed at cluster CoreDNS"
**What would you like to be added**:

Allow `cluster` `node` `resolv.conf` or internal DNS to be pointed at `cluster` `CoreDNS`.

**Why is this needed**:

The `node` `kubelet` that pulls images should be able to to resolve a container registry `service` running from inside the cluster. [The local registry](https://kind.sigs.k8s.io/docs/user/local-registry/) documentation gets about 90% there but b

[2022-10-02 17:02] BenTheElder commented on #2949
sorry but, no.

this is a circular dependency that will break everything.

kubeadm doesn't allow this for core components, nor should we for the entire node.

I'm not aware of any cluster tool that attempts to operate in this mode. The nodes need to have upstream DNS.

https://kind.sigs.k8s.io/docs/user/local-registry/

What's wrong with running the registry persistently alongside the cluster? Wha

[2022-10-02 17:04] BenTheElder commented on #2948
The fact that you can't access the standalone Nguni container through its IP on Linux says something is wrong with your docker environment.

[2022-10-02 17:13] aojea commented on #2948
but I can not understand how you can have docker desktop and linux, "Docker Desktop is an application for MacOS and Windows "

[2022-10-02 17:24] nathanblair commented on #2949
I've seen this mentioned on some related issues but I guess I don't understand the circular dependency here; the pods resolve using `coredns`, no? I have been looking to confirm but there's no documentation that `coredns` falls back to any other DNS on the host system (it seemed one of the intentions of replacing `kube-dns` with `coredns` was to get around host platform-specific considerations).

[2022-10-02 17:38] flash-me commented on #2948
https://docs.docker.com/desktop/install/linux-install/

cheers
flash ⚡

[2022-10-02 18:09] aojea commented on #2948
Today I Learned

It seems it installs a VM, especulating, all network limitations for Mac and Windows apply, since there is no direct connectivity from the host to the containers inside the VM

[2022-10-02 18:18] flash-me commented on #2948
Yes also figured that out right now. I can ensure the same limitations.
After I removed docker desktop and did a clean reinstall of docker-ce everything works es expected!
![image](https://user-images.githubusercontent.com/5240450/193469596-7b56580b-b6d4-47f2-8a4f-2f960ca2d0b7.png)

You might want to update the docs that the statement is only true for non docker-desktop installs.

Thanks for any h

[2022-10-02 18:23] flash-me commented on #2948
The same for my initial issue with accessing the node of kind. Works
![image](https://user-images.githubusercontent.com/5240450/193469811-0defe0da-5b26-4b3d-af8a-96119e60383b.png)

From my side this issue can be closed, except you want to track it for the docker desktop limitations.

cheers
flash ⚡

[2022-10-02 19:51] BenTheElder commented on #2949
not several of the core components or any pod with `hostNetwork: true`, no.

Sure, you can customize resolv.conf, but that does not mean they support circularly customizing it to point at coreDNS, or configuring the core components to use coreDNS instead of the host DNS.

kubelet is the one running the coreDNS pod, which will not be running or have an address at the time you can supply a customize

[2022-10-02 19:55] BenTheElder commented on #2948
Thanks for digging into this.

That's ... surprising. FWIW this is going to have significant tradeoffs on linux and for most docker usage I think you'll find it easier to just install docker from the apt package. A huge benefit to working with containers on linux is direct access to everything including the network.

[2022-10-02 19:55] BenTheElder commented on #2948
Clearly will need to clarify the docs on our end to address all docker desktop app installs on all platforms.

[2022-10-02 20:01] BenTheElder commented on #2949
Will think more about what approaches could work when I get some more time.

Registries are usually part of the base infra, I haven't seen them as part of the cluster, and coreDNS cycles are definitely something that have bitten us before and should be avoided. https://github.com/kubernetes/kubeadm/issues/1236

[2022-10-02 20:20] flash-me commented on #2948
Yes. TBH I did not expect that the Docker Desktop also installs a VM even on Linux (why though?). I'm totally fine with docker-engine only, but yes, must be clear for the users, not only in case of _kind_.

cheers
flash ⚡

[2022-10-03 05:10] BenTheElder commented on #2949
You can solve this instead by using a NodePort service for the registry and forwarding the same port from the host to one of the nodes.

[2022-10-03 12:17] nathanblair commented on #2949
I had considered the forwarding option but that is also something I hadn't been able to find a declarative way to achieve with the same context as spinning up the cluster itself.

This was actually something I came across too but had glanced over that it could spin up a container itself, I only recalled seeing the image and image_registry resources. I think the container would suit the bill just f

[2022-10-03 16:06] vinycoolguy2015 opened #2951 "Node stuck in NotReady state"
While creating cluster with kind on Ubuntu 20.04 LTS machine, nodes are stuck in NotReady state with following message

KubeletNotReady runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni plugin not initialized

[2022-10-03 16:14] BenTheElder commented on #2951
We're going to need a lot more information than that. For starters can you share docker info and the cluster config / commands used as well as the kind version.

In the meantime please check:
https://kind.sigs.k8s.io/docs/user/known-issues/

Given you said nodes plural:
https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files
is a common one. (There are many resource

[2022-10-03 16:40] vinycoolguy2015 commented on #2951
Was going through Linux Foundation's LFS 269 course repo installation instructions

git clone https://github.com/lfs269/setup.git
cd setup/kind/
kind create cluster --config kind-three-node-cluster.yaml

docker info output:

root@kind:~/setup/kind# docker info
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc

[2022-10-03 19:21] BenTheElder commented on #148
FTR: The latest releases should have clusters that come back up on docker restart, always, including multi node.

[2022-10-04 02:32] vinycoolguy2015 commented on #2951
kube-proxy pod was crashing because of
server.go:495] open /proc/sys/net/netfilter/nf_conntrack_max: permission denied

Issue resolved after upgrading kid to v0.11.1

[2022-10-04 02:32] #2951 closed

[2022-10-04 03:45] BenTheElder commented on #2951
Oh yes, there's been some important fixes 😅. On some hosts kubernetes 1.19+ and the kind version that first shipped it are not required. KIND v0.16.0 is the current release.

[2022-10-04 04:41] BenTheElder commented on #2949
Hmmm, this is what I would do, in more detail:

You can use:
- https://kind.sigs.k8s.io/docs/user/configuration/#extra-port-mappings
- https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types NodePort

So pick a port in the nodeport range to be your registry port, say `30000`, then create the kind cluster:
[code]

Then deploy the registry to the cluster, p

[2022-10-04 08:27] SamYuan1990 opened #2953 "fails to use port-forward with kind in githubaction"
Hi,
I wanna to use kind as k8s cluster and deploy my service on it.
then I am moving forward with port-forward and try to use localhost port to test it.
but I received error as `failed to connect to localhost:9102 inside namespace`
[code]

ref https://github.com/sustainable-computing-io/kepler/pull/275
full log:
[code]

[2022-10-04 16:53] aojea commented on #2953
this doesn't look like a kind problem

[2022-10-04 17:01] BenTheElder commented on #2019
Is anyone still seeing this on KIND v0.16.0 / current Kubernetes? I'd test myself but time is tight and we don't have a minimal reproducer here yet.

[2022-10-04 18:46] killianmuldoon opened #2954 "limit loadbalancer max sockets"
I'm currently dealing with this issue with haproxy: https://github.com/docker-library/haproxy/issues/194 It also impacts the kindest/haproxy docker images (which is where I came across it).

Setting a global `maxconn` in the haproxy.cfg file would fix the impact of the issue, though not the source issue which is somewhere between haproxy and docker AFAIK.

I was wondering if it would be acceptable

[2022-10-04 20:24] hrittikhere commented on #2770
Do we need to expand this section? CC: @BenTheElder
I can touch on that!

 <img width="1346" alt="image" src="https://user-images.githubusercontent.com/67012359/193919146-de413cd7-1051-438d-98a2-f01781649404.png">

[2022-10-04 20:28] BenTheElder commented on #2770
Yes, please do!

[2022-10-04 20:39] hrittikhere commented on #2770
/assign

[2022-10-05 02:08] SamYuan1990 commented on #2953
any suggestions for troubleshooting ?

[2022-10-05 05:12] Aryan-Deshpande commented on #2889
@Dunge I think specifying the type LoadBalancer for a service, they are used for external cloud provider LoaderBalancers like GCP/Azure/AWS that's why your 'IP' is still pending. You either have to set up service type NodePort or setup an Ingress resource. Please correct me if I am wrong. Can you share the yml file for further diagnosis?.

[2022-10-05 05:16] Aryan-Deshpande commented on #2922
hey @harshanarayana can I help on this issue as well, would like to learn and help!

[2022-10-05 05:52] SamYuan1990 commented on #2953
I tried some thing today, and the error seems happened at from ipv4 address to ipv6 address transform.
[code]

[2022-10-05 14:39] SamYuan1990 commented on #2953
@aojea , may I know how to avoid https://github.com/kubernetes-sigs/kind/issues/1326
as it seems we have issue when port-forward with ipv6? https://kind.sigs.k8s.io/docs/user/known-issues/#ipv6-port-forwarding

[2022-10-05 21:54] Dunge commented on #2889
@Aryan-Deshpande My own services are exposed as NodePort. The only one that shows up as LoadBalancer is the [ingress-nginx-controller](https://kubernetes.github.io/ingress-nginx) installed via [their own Helm chart](https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx). I also have an ingress resource set up to with the goal to forward external requests to my services, but you need an

[2022-10-05 21:57] BenTheElder commented on #2889
Sorry, none of the maintainers use Windows and were a bit dependent on input from others for this platform.

I don't know enough about WSL2 networking quirks.

[2022-10-06 03:43] SamYuan1990 commented on #2953
[code]
I am confused, as I given ip v4 address loop, the port forwarding still give me an ipv6 address.

[2022-10-06 04:48] BenTheElder commented on #2953
not quite, see if we split up the error:

`IPv4: dial tcp4 127.0.0.1:9102: connect: connection refused IPv6 dial tcp6 [::1]:9102: connect: connection refused`

_both_ IPv4 and IPv6 were attempted for `localhost` and both refused connection

That issue could do with some clarification, the known issue is about https://kind.sigs.k8s.io/docs/user/configuration/#extra-port-mappings not the kubernetes

[2022-10-06 04:48] BenTheElder commented on #2953
Are you sure the application is listening on that port? The error says containerd attempted to run the port forward within the container's network namespace but got connection refused.

[2022-10-06 07:41] siredmar commented on #2826
@BenTheElder i can give you an example for the UX perspective how talos does it.

You can add a config-patch for the talosctl command. This is an example where the content of a file gets appended to the valid ca-certificates.

[code]

[2022-10-06 08:08] SamYuan1990 commented on #2953
for this, I suppose it works. as what I am doing is try to test health check(or say livenessProbe).
and we have `kubectl rollout status daemonset ...` passed.
cc: @rootfs

[2022-10-06 08:09] SamYuan1990 commented on #2953
is there any way to start kind with podman? when both docker and podman been installed?
as far as I know it seems podman use containerd?

[2022-10-06 09:04] aojea commented on #2953
let's try to find out first what happens and discard things.

Can you log into the pod and check how the app is bound? something like
[code]

[2022-10-06 09:08] aojea commented on #2889
that is confusing but not relevant, you access the Service using the NodePort, that uses the container IP, most probably you don't have connectivity to the nodes/containers IPs

[2022-10-06 09:12] aojea commented on #2889
🤔 your config doesn't match the example we have in the documentation

[code]

are the ingress pods exposing the continer ports on 51443 and 5180?

[2022-10-06 10:05] SamYuan1990 commented on #2953
I just wondering, shall we deploy a nginx and use port forward in kind CI?

[2022-10-06 13:22] Dunge commented on #2889
@aojea based on the names I would expect "containerPort" to be the port exposed inside the KinD docker, so inside the cluster, so the ones exposed by the ingress pods. While "hostPort" would be the one I want to open on the host machine, the one running the KinD container (my Windows host). Isn't that what that mean?Are they supposed to be the inverse? I just selected different ports because the h

[2022-10-06 16:22] killianmuldoon commented on #2954
Fair :D It does copy-past the folder into a third_party directory (and the version used there is many versions out of date)

[2022-10-06 17:22] BenTheElder commented on #2953
Yes. `KIND_EXPERIMENTAL_PROVIDER =podman`, but that's not necessary here. the issue is happening *inside* the cluster, not with node level forwards.

no. podman doesn't use containerd. KIND uses containerd *inside* podman or docker.

So either way, your application should run ~the same, the issue is not with the node provider.

This, please. Let's ensure the app is indeed listening in the pod on t

[2022-10-06 17:25] BenTheElder commented on #2953
note that "host" in this message is the kind node, not the underlying host. The node container is the "host" as far as kubernetes is concerned.

[2022-10-06 17:46] BenTheElder commented on #2954
An odd duck we love :-)

Yeah, I think copying in is the safest approach, so CAPD can continue to update when ready.

Since both projects are kubernetes org owned and identical license, at least there's limited copy-paste license concerns 🙃

[2022-10-06 19:23] BenTheElder commented on #2826
Thanks.

so kind doesn't commit to never switching distros for the node image (we have before), only that the node images work with kind itself and provide what it needs to run kubernetes.

I think a less fragile version of this might be: "If users mount certs to a well-known kind-specific location, kind will ensure they're added to the node's system cert store, and we'll document this location".

[2022-10-06 19:31] BenTheElder commented on #2826
The downside I see is that is an environment detail leaking into config. Even in the talos example this makes the config less portable.

Maybe we should support an environment variable similar to HTTPS_PROXY but telling kind "please copy in and enable these cert files" ... of course remote dockerd may make that confusing, and some users may not have individual certs handy, only a bundle (not to me

[2022-10-06 20:31] BenTheElder commented on #2394
https://github.com/kubernetes-sigs/kind/pull/2756 🤦‍♂️

See also: https://github.com/kubernetes-sigs/kind/pull/2955 (not released yet, but fixing a regression in image loading)

[2022-10-06 20:33] BenTheElder commented on #2889
Yes that's correct, containerPort is the port inside the node container and hostPort is on the host where the container is running.

[2022-10-06 21:23] flash-me commented on #2948
Can be closed afer #2950

[2022-10-06 21:23] #2948 closed

[2022-10-06 22:49] aojea commented on #2889
oh, forgive me, I read it the other way around,

[2022-10-07 00:30] BenTheElder commented on #2948
thank you!

[2022-10-07 08:59] aliabbasjaffri opened #2958 "Cannot create kind cluster with kindest/node:v1.25.2"
**What happened**:
I'm trying to create a kind cluster, but apparently it keeps on failing for `Preparing nodes` step

**What you expected to happen**:
I'd expect a kind cluster to be created for me.

**How to reproduce it (as minimally and precisely as possible)**:
I am using the following config to create cluster. [Node reference](https://hub.docker.com/layers/kindest/node/v1.21.14/images/sha256

[2022-10-07 09:31] aliabbasjaffri commented on #2958
For anyone else who stumbles across this, disable experimental features on your docker! Wasted an hour figuring out this mess!

[2022-10-07 09:31] #2958 closed

[2022-10-07 09:50] aliabbasjaffri opened #2959 "Cannot create kind cluster with --config flag"
**What happened**:
I am trying to make my kind environment declarative and creating a kind config to create my cluster. Cluster creation with `--config` consistently fails, whereas without it succeeds.

**What you expected to happen**:
Kind cluster should be able to create with config provided to it.

**How to reproduce it (as minimally and precisely as possible)**:
The config that i am creating:

[2022-10-07 10:40] SamYuan1990 commented on #2953
So far @aojea is right, we found a panic in our code logic and we are WIP for fix.

[2022-10-07 10:46] stmcginnis commented on #2959
You may need to raise the amount of memory allocated for Docker Desktop in order to create a three node cluster.

Have you tried/verified that you are able to create a single node cluster? That would be a good sanity check of your environment to make sure there isn't some other underlying issue.

Another thing to try would be to run `kind create cluster --config .kind/kind-v1.25.2.yml --retain`. T

[2022-10-08 13:46] aliabbasjaffri commented on #2959
I believe i have provided more than enough resources to docker (see attached image)
<img width="536" alt="Screenshot 2022-10-08 at 15 34 58" src="https://user-images.githubusercontent.com/4748985/194710276-a20ef566-346a-4812-99e4-842d38cf85e9.png">
Yes, I'm able to create and run a single node cluster, but if i try to create the same cluster via config file, it doesn't work.

I created a cluster w

[2022-10-08 15:56] srfrnk opened #2960 "Re-tagging images not working (and image delete then fails)"
**What happened**:
My build script generates a unique build tag for every build.
It then "load" the image into kind node.
Then it deploys a manifest using the new tag.
While running this I found that f there are no changes to the image - thus load just re-tags it... the image will no longer be available within the node resulting in a ImagePullBackOff error.
The image cannot then be deleted (`crict

[2022-10-08 16:26] BenTheElder commented on #2960
Can you try from the latest kind sources?
This sounds like https://github.com/kubernetes-sigs/kind/pull/2955

[2022-10-08 16:27] BenTheElder commented on #2959
Can we see `docker logs` for the node containers?
Sounds like they failed in the entrypoint which is unusual.

[2022-10-08 16:31] BenTheElder commented on #2959
1.25.14 isn't a real Kubernetes version. This digest also doesn't appear to match any from any recent releases ... what is this image?

[2022-10-08 17:28] aliabbasjaffri commented on #2959
Oh, my bad there. That was a typo. I updated the version and tried again, but the same error.
I managed to pull the logs from exited docker containers for control-plane and workers:

[code]

[2022-10-08 17:36] BenTheElder commented on #2959
Is this the arm64 image or amd64?

the fact that we can't detect or use iptables smells like wrong architecture
https://github.com/kubernetes-sigs/kind/issues/2718

[2022-10-08 17:37] BenTheElder commented on #2959
`docker inspect kind-control-plane` will tell us IIRC

[2022-10-08 17:49] aliabbasjaffri commented on #2959
My bad! That was the real issue!
I was selecting `amd64` architecture all along!
thank you so much @BenTheElder

[code]

[2022-10-08 17:49] #2959 closed

[2022-10-08 18:03] marouanabbessi commented on #110
Another way is to run your your registry as a pod inside the cluster , with a manifest similar to the following  :
`
apiVersion: v1
kind: Namespace
metadata:
  name: registry
  labels:
    app: backend
---
kind: Service
apiVersion: v1
metadata:
  name: registry
  namespace: registry
  labels:
    run: registry
spec:
  selector:
    app: registry
  type: NodePort
  ports:
    - protocol: TCP

[2022-10-08 18:04] Aryan-Deshpande commented on #2460
I noticed the same result, @Andrioden except whilst restarting I got the same error and surprisingly I have 3 containers.

After I checked for existing clusters on the command line using "kind get clusters", there were no clusters found while 3 containers already are in execution.

[2022-10-08 18:05] Aryan-Deshpande commented on #2460
here is my config.yaml used when creating those clusters
![image](https://user-images.githubusercontent.com/72693780/194721401-2749a882-8fdd-46bf-8420-8ce3b804a137.png)

[2022-10-08 18:20] marouanabbessi commented on #110
Another way is to run your your registry as a pod inside the cluster , with a manifest similar to the following  :

[code]

**Note the following points :**

- REGISTRY_HTTP_ADDR is set to 5000 (you can change this to any other port)
- The registry is exposed using a Nodeport service so that Kind worker nodes can reach the private registry to download the images,  using the url registry.registry.sv

[2022-10-09 06:19] srfrnk commented on #2960
I can confirm issue is resolved entirely under latest sources.
Thanks. Will wait for next release.
Used the following to verify https://github.com/srfrnk/kind/tree/issue-2960/bug

[2022-10-09 06:19] #2960 closed

[2022-10-09 21:57] BenTheElder commented on #2960
cc @aojea broken image loading behavior probably warrants a quicker follow-up release than previously planned

[2022-10-09 22:00] BenTheElder commented on #2460
Again. https://github.com/kubernetes-sigs/kind/pull/2478#issuecomment-1214656908

This is a symptom, not a root cause. Please file a detailed bug report so we can follow-up.
The root cause for *this* issue was already resolved.

[2022-10-09 22:54] aojea commented on #2960
but this bug was always there, wasn't it?

[2022-10-09 23:16] BenTheElder commented on #2960
No, previously we would just load the image again using the normal loading path. It's a recent change that we attempt to re-tag instead.

[2022-10-09 23:45] aojea commented on #2960
oh, then we should fix it

[2022-10-10 01:59] SpockCoding commented on #2645
have someone have success to solve that issue ?

[2022-10-10 05:34] BenTheElder commented on #2645
@owos your appears to be a DNS issue, we'd need more information about the host environment to begin debugging

@SpockCoding the author did, which is why it's closed. Please file a new issue following the bug template if you'd like us to help try to figure out your problem.

[2022-10-10 05:38] BenTheElder commented on #2945
loopback addresses are local to the local namespace, they cannot cross network namespaces.

You would have to resolve to something else that routes to the host and either proxies or is an address the host application is listening on.

For anyone finding the issue title "How can I resolve a domain name through the host machine?"

KIND *does* resolves non-cluster DNS entries with the host's resolver

[2022-10-10 07:35] mark8s opened #2961 "Back-off pulling image"
Hi everyone, I have a question.

I used kind to deploy a multi-node k8s cluster, but I encountered the problem of image pull failure. Is the log like this?

![image](https://user-images.githubusercontent.com/47961301/194817551-9f5202c2-bd68-4264-ba0b-27743cc6ddae.png)

I found a phenomenon that every time I started to use kind to create a new cluster every day, I could pull the docker related imag

[2022-10-10 16:32] BenTheElder commented on #2961
I'm sorry I don't know anything about this mirror. Is it possible that it rate limits you?

If you don't want to use kind load you will need to do an actual pull of some sort then. The image contents have to get into the cluster somehow.

[2022-10-10 17:01] jcpunk opened #2962 "GPG signed release artifacts/sha256sums"
**What would you like to be added**:
Can the binary releases or sha sums be signed with a GPG key?

**Why is this needed**:
For folks who are pulling down these artifacts, having a signature they can check against would be helpful for verifying the supply chain.

[2022-10-10 17:47] jcpunk commented on #2962
There is some mention of SIG Security up at https://github.com/kubernetes/enhancements/issues/3031 but I'm really not super familiar with this whole ecosystem....

[2022-10-10 18:09] BenTheElder commented on #2962
That is not GPG signing.

[2022-10-10 19:46] aliabbasjaffri opened #2963 "Config file should validate if the image is suitable for arm or amd architecture"
**What would you like to be added**:
It would be nice to have a validator in the config file if the image for node is being installed for amd or arm architecture.
I recently ran in the same issue and had to do some back and forth with the maintainer to figure out i was running in such a [basic issue](https://github.com/kubernetes-sigs/kind/issues/2959).

**Why is this needed**:
Such validations sh

[2022-10-10 19:48] hrittikhere commented on #2770
Hey @BenTheElder
Found this article: https://dev.solita.fi/2021/12/21/docker-on-wsl2-without-docker-desktop.html and I think it will be a good reference point. Do you feel going with Debian & apt will be okay for the first PR? Please advice

[2022-10-10 19:52] BenTheElder commented on #2963
FWIW: All published and documented images are multi-arch. So this is only an issue with custom images.

You could be using a remote docker or podman daemon, so we have to be careful with this assumption.

[2022-10-10 19:56] BenTheElder commented on #2770
I think we should prefer to document only that it is an option and link to external documentation.

We should not personally maintain "how to install docker on WSL2" ourselves, this is duplicated effort and Kubernetes SIG Docs prohibits this sort of thing for https://kubernetes.io

[2022-10-10 20:01] hrittikhere commented on #2770
Thanks @BenTheElder for the information!

Something like:

## Setting up Docker in WSL2 without Docker Desktop

- 2/3 Links for external blogs

Does this look good with a few more lines of information?

[2022-10-10 20:28] aliabbasjaffri commented on #2963
Hmm, I'm no expert in that. I thought of an issue that i recently ran in. and thought if i could contribute back by making kind a bit more refined around the edges! It does seem like this request might have a bigger maintenance overhead than the good aspects.

[2022-10-10 21:31] milosveljkovic opened #2964 "Generate CPU/MEM load for specific node"
Hello,

I am trying to test cpu/mem load in the kind cluster (2 worker nodes, 1 control plane).

I am facing the following situation:

Let's say my k8s state is the following:
-worker1 (cpu usage 20%, mem usage 40%)
-worker2 (cpu usage 21%, mem usage 39%)

I run `hey` command:

[code]

k8s state after `hey`:
-worker1 (cpu usage 60%, mem usage 40%)
-worker2 (cpu usage 61%, mem usage 39%)

And the r

[2022-10-10 22:07] aojea commented on #2963
Thanks for thinking that way, that is a great mindset, unfortunately the approach has some problems, so I'm going to close it if you don't mind

/close

[2022-10-10 22:08] #2963 closed

[2022-10-10 22:13] aojea commented on #2962
this one https://github.com/kubernetes/release/issues/914

[2022-10-10 22:17] aojea commented on #2961
the screenshot shows dns request timing out and tcp healthz probes faling

[2022-10-11 06:26] mark8s commented on #2961
@aojea @BenTheElder  tks，I need to do more research

[2022-10-11 08:39] fedepaol commented on #2673
Sorry, would you mind elaborating what is not working?
I remember testing it both when opening https://github.com/kubernetes-sigs/kind/pull/2687 and later on opening https://github.com/kubernetes-sigs/kind/pull/2901

What version of metallb are you consuming? And how are you configuring it?
Thanks!

[2022-10-11 14:44] jcpunk opened #2965 "Machine parsable release artifact with images built for this release"
**What would you like to be added**:
I'd love a machine parsable list of the kindest/node images, versions, and sums for a given release.  Could this be added to the Release Artifacts?

**Why is this needed**:
In order to easily automate selecting the right image and sum for a given version of kind.

[2022-10-11 16:18] BenTheElder commented on #2965
My concern with this is that users will live-fetch the machine parseable list instead of the current state of "trust on first use by way of copying the published reference", I'd sort of rather not encourage trusting these downloads further.

There are a whole suite of issues in the repo discussing how to better manage publishing these images, I'd lean towards focusing on these. #2618 was a small s

[2022-10-11 16:21] BenTheElder commented on #2962
To elaborate: GPG signing things has been a long thread in Kubernetes that has not, as of yet, landed anywhere.

I do not want to sidetrack into developing key management infrastructure or evaluating signing ecosystems ahead of other high-priority issues in Kubernetes (the KIND maintainers are also Kubernetes maintainers because kind exists first and foremost so SIG Testing can test Kubernetes mor

[2022-10-11 16:23] BenTheElder commented on #2962
There is a current thread regarding the dependency on Googlers and Google-internal package signing for Kubernetes' Debian + RPM packages and active recent discussion about how to replace that, but it remains to be seen where that lands and if it's easily reusable. https://github.com/kubernetes/release/issues/913

[2022-10-11 16:25] BenTheElder commented on #2953
Looks like this was resolved back in https://github.com/sustainable-computing-io/kepler/pull/275

[2022-10-11 16:25] #2953 closed

[2022-10-11 16:34] SamYuan1990 commented on #2953
we have a good discuss in detail at https://github.com/sustainable-computing-io/kepler/pull/275
as a summary

[code]

the tips to debug this kind of case maybe:
1. check your pod log, if you pod works well and in stable.(don't just relay or rollout status or pod liveness....)
2. check your vm and host instance, with the tunnel logic, for example, some times ipv6 may cause issue. as https://github.

[2022-10-11 16:46] BenTheElder commented on #2953
maybe something in the kubernetes.io docs for port forwarding, but i'm not sure where

I don't think kind should host general kubernetes docs vs contributing to the actual general kubernetes docs 😅

[2022-10-11 18:34] stmcginnis commented on #2965
Would it work for your needs to parse the results of https://github.com/kubernetes-sigs/kind/releases.atom to extract the artifacts?

[2022-10-11 19:07] milosveljkovic commented on #2964
Thank you @BenTheElder

[2022-10-11 20:40] jcpunk commented on #2965
With enough effort I pull anything apart with BeautifulSoup, but I was worried I'd get too invested in having exactly the right layout.

[2022-10-12 20:00] craiglpeters opened #2967 "Add a dev container feature to install kind"
**What would you like to be added**:
[Development Containers](https://containers.dev), or dev containers, enable the configuration of remote development environments. A simple json formatted file instructs clients how to construct the container. Clients like VS Code and GitHub Codespaces then use the container to provide developers with a consistent development experience.

The dev container team

[2022-10-12 20:30] craiglpeters commented on #2967
I am happy to do the work to create the dev container feature

[2022-10-12 20:36] BenTheElder commented on #2967
I think I'm missing: What's the ask from KIND? 😅

[2022-10-14 06:29] #2961 closed

[2022-10-14 18:18] mpriscella commented on #2967
This would be great! I've created a similar [feature](https://github.com/mpriscella/features/tree/main/src/kind) to make it easier for my team to install kind in their dev containers.

Prior to me creating that feature, my team and I used minikube by default since the [kubectl, helm, and minikube](https://github.com/devcontainers/features/tree/main/src/kubectl-helm-minikube) feature that @craiglpe

[2022-10-14 22:11] craiglpeters commented on #2967
@BenTheElder - @mpriscella addressed the user value.

The ask of the KIND community is to create and maintain the feature following this [template](https://github.com/devcontainers/feature-template) so that all devs using dev containers can easily add kind to their configurations. I am happy to step up as a community member to create and maintain the feature. It needs to live in its own repo. I pr

[2022-10-16 17:56] BenTheElder commented on #2967
I see.

We cannot create a repo ourselves, the proposal to create a repo has to be brought to a SIG.

if we can stick multiple in a repo, is there a reason we can't put one next to https://github.com/devcontainers/features/tree/main/src/kubectl-helm-minikube ?

[2022-10-17 14:45] aburgos-hv opened #2970 "Are users able to configure how the kind docker network is created on cluster creation?"
We're hitting an issue where the kind docker network bridge is being deployed with an ip addr/CIDR that is overlapping with services outside of the host which prevents the host from establishing a connection to those services. When this happens, removing the kind docker network resolves the issue and the host is able to establish connection to the service again. Are there any supported ways of dic

[2022-10-17 15:17] BenTheElder commented on #2970
Docker has configurable IPAM, you can configure dockerd with the pool of CIDRs

[2022-10-17 15:20] BenTheElder commented on #2970
https://docs.docker.com/engine/reference/commandline/dockerd/

https://straz.to/2021-09-08-docker-address-pools/

https://forums.docker.com/t/docker-default-address-pool-customization-question/112969

[2022-10-17 15:22] aburgos-hv commented on #2970
Thank you for the suggestion and providing the documentation! I will look into leveraging this solution

[2022-10-17 15:22] #2970 closed

[2022-10-17 20:37] brpaz commented on #2383
I got a similar problem. I created a local kind cluster and it was working fine during the entire weekend, but today, when I rebooted my PC, the dns is completely down. I tried restart docker, and even manually the CoreDNS container, but doens´t fix the issue.

I got errors like this all over my containers:

[code]

And it´s not only on the internal network. Even external requests are failing with

[2022-10-18 07:41] dxps commented on #2460
@BenTheElder Sure, but unfortunately I don't get any further details:
[code]
Using `kind v0.16.0` on Pop!_OS 22.04 LTS, and having already a multi-node cluster running.

[2022-10-18 13:54] stmcginnis commented on #2460
Check on the local filesystem. The `kind export logs` command should have written out more detailed logs.

[2022-10-18 13:57] stmcginnis commented on #2460
Also, this is a closed issue, so if folks are experiencing current failures it would be good to file a new issue to track those down.

[2022-10-18 15:17] BenTheElder commented on #2460
`kind export logs` will require `--name=istioinaction` since your cluster was named when created. The name flag should be used consistently across cluster commands (or else the environment variable)

[2022-10-18 18:27] craiglpeters commented on #2967
The model the dev container community is promoting is for tools to publish and maintain their own features. I am happy to take this to a SIG to discuss. I'll bring this up with SIG Testing next week in person
cc: @dims

[2022-10-18 18:49] BenTheElder commented on #2967
I don't know if SIG Testing would be the right owner for a shared devcontainers repo, but also we met today, so the next meeting will be in two weeks.

I think we should probably unify the discussion with https://github.com/kubernetes/kubernetes/issues/113019

[2022-10-18 19:21] mdurand54 opened #2971 "Suggest to wait until the MetalLB controller pod is ready rather than using the `--watch` command"
**What would you like to be documented**:

I noticed that in the User Guide for installing [MetalLB as a Load Balancer](https://kind.sigs.k8s.io/docs/user/loadbalancer/#apply-metallb-manifest), it was suggested to use `--watch` to ensure that the pods were running. Instead I would like to see a suggestion to wait until the controller is ready.

**Why is this needed**:

To be consistent with the do

[2022-10-18 19:25] dims commented on #2967
we had one repo already for something similar, we could repurpose/rename?

[2022-10-18 19:31] craiglpeters commented on #2967
Absolutely

[2022-10-18 22:08] BenTheElder commented on #2971
That sounds about right to me.
We're hosting metallb docs for kind specific things but haven't had much bandwidth to work on them, pretty much all user contributed 😅

@fedepaol maybe you have thoughts

[2022-10-19 04:33] #2770 closed

[2022-10-19 07:24] dxps opened #2972 "could not find a log line that matches "Reached target .*Multi-User System.*|detected cgroup v1""
Dear KinD community,

I'd like to readdress (from [here](https://github.com/kubernetes-sigs/kind/issues/2460#issuecomment-1281945942), btw @BenTheElder thanks a lot for the feedback) this error:
[code]

<br/>

**What happened**:

- creating the 1st cluster runs fine
- creating a 2nd cluster fails

<br/>

**What you expected to happen**:

Have it all running fine: the second cluster be created as w

[2022-10-19 10:42] mdurand54 commented on #2971
I'm not sure I understand this, is it better to wait until after something other than the controller?

Also, I noticed that the speakers were ready after the controller. Maybe it would be better to wait for the speakers by doing `--selector=component=speaker`. What do you think?

[2022-10-19 11:00] fedepaol commented on #2971
That doesn't change anything, just that with the new version the controller will be ready when the webhooks are ready to do validation (and will not fail, hopefully).

I think we also have something like app=metallb that will catch both, I'd use that. If you want to choose one, the controller is the right one because it's the backend of the webhooks, so CR creation will fail until it's ready. The

[2022-10-19 11:10] aojea commented on #2972
it is possible that your host is becoming constrained with both clusters and it causes the second to be much slower and fail?

[2022-10-19 11:29] mdurand54 commented on #2971
Okay, thank you :)

Good idea!

[2022-10-19 12:41] dxps commented on #2972
Nope, since it fails pretty fast, at least in 1st case of failure. The 2nd one, after restart looks totally different.

The system is a laptop that has enough CPU (8 cores) and RAM (32 GM), with a fast (SSD) disk.
First time (yesterday, when I reported on the previous issue, mentioned in the beginning it happened on the workstation as well, which is even more powerful.

[2022-10-19 15:04] BenTheElder commented on #2972
Your system may have lots of physical resources but it can still become constrained on kernel limit dimensions like number of open files, number of inotify watches etc.

Is this this most minimal cluster sizes and actions that produces this result?

[2022-10-19 17:24] BenTheElder commented on #2972
Are you able to share the rest of the cluster logs (`kind export logs`) when see this error message?
Github will accept a zip or tar/tar.gz archive uploaded to a comment.

[2022-10-20 06:47] BenTheElder commented on #2971
thanks for https://github.com/kubernetes-sigs/kind/pull/2973 :-)

[2022-10-20 06:52] mdurand54 commented on #2971
Thank you all for the help and the review. This was my first contribution and I enjoyed the process :)

[2022-10-20 06:52] #2971 closed

[2022-10-20 17:56] dxps commented on #2972
Absolutely, Ben! You guys are so "kind" to help me, I really want to use KinD instead of the alternatives, so yeah.
And indeed I was wondering if I could attach an archive of those logs to such a comment.
Apparently, yes, with a drag-n-drop. :facepalm: That's cool!

---

I had to reproduce it again, since I did a clean up last night. Interestingly is that if I initially create a simple 3-worker no

[2022-10-20 21:53] #2576 closed

[2022-10-20 22:28] BenTheElder commented on #2576
I've added a bit more details to the docs around this.

[2022-10-21 16:59] BenTheElder opened #2975 "validate that hostports are not configured twice with the same protocol"
cc @aojea (thinking of that kubernetes issue)

[2022-10-21 17:03] aojea commented on #2975
👁️

[2022-10-24 20:39] egandro opened #2976 "kindtool"
**What would you like to be added**:

I am currently working on a `kindtool` program. The idea is to have a `Kindfile` at the root of a project. It can be used to simplyfy the creation, destrution, configuration of a cluster for development.

I will support the following options in the `Kindfile`:

[code]

Workflow (like Vagrant)

[code]

**Why is this needed**:

It really is a pain in the behind

[2022-10-25 03:10] BenTheElder commented on #2976
Thanks for reaching out.

I would prefer not to add things like the dashboard built it, it's not a part of conformant kubernetes, and there are many other options including not using one at all.

As-is, we already support a configuration file and should look at if we want to add things like #1213.

Keeping kind focused makes it easier to build tools like this on top.

https://kind.sigs.k8s.io/docs

[2022-10-25 04:22] egandro commented on #2976
Thx! I keep my python project.

[2022-10-25 04:22] #2976 closed

[2022-10-25 09:51] #2871 closed

[2022-10-25 21:24] DaazKu opened #2978 "Cannot create cluster on Mac M1 when `DOCKER_DEFAULT_PLATFORM=linux/amd64`"
**What happened**:
I tried to create a simple cluster using `kind create cluster` but it failed.

Output:
[code]

Logs:
[code]

**What you expected to happen**: I was expecting it to work :)

**How to reproduce it (as minimally and precisely as possible)**:
On a Mac with an M1 chip:
[code]

**Anything else we need to know?**:
I have `DOCKER_DEFAULT_PLATFORM=linux/amd64` exported by default for my

[2022-10-26 03:54] BenTheElder commented on #2978
This is a duplicate of https://github.com/kubernetes-sigs/kind/issues/2718

[2022-10-26 03:54] #2978 closed

[2022-10-26 03:56] BenTheElder commented on #2978
See the other issue. It is not possible to run a kind cluster with a different architecture than the host*

* you could run a VM of a different architecture and run kind inside that, but kind considers the VM the host then. whatever platform docker is running on, kind must run this way.

There's way more detail on the other issue, but basically: the way docker runs images across architectures is a

[2022-10-26 05:25] BenTheElder commented on #2972
Sorry this has been unfortunate timing for me, looking at the logs now for kubelet on the worker node:

You're hitting inotify limits, a variation on:
https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files

[2022-10-26 11:15] kuisathaverat commented on #2376
One small thing that could help here, right now the images published are 1.20.1, 1.21.1, 1.22.1, 1.23.1, ... this means that there is no tag I can use in the Docker registry API to grab the latest available version for the line 1.20, or 1.25. Publish the latest version available of each line will allow to detect a new version and make a PR in our repos with the changes to update to the new version

[2022-10-26 13:58] BenTheElder commented on #2376
You should not just be grabbing tags from the registry, they may not work with the kind version you are using. See the docs, release notes and the linked issues.

[2022-10-26 15:04] kuisathaverat commented on #2376
It is not the best solution, the following script can be a workaround to get the versions ina JSON file
[code]

[2022-10-26 15:26] lusains opened #2979 "debian11 GPG error leads to inability to update and install packages and thus an infinite loop"
**What happened**:
root@c1-worker:/# apt-key adv --keyserver mirrors.ustc.edu.cn --recv-keys 3B4FE6ACC0B21F32
E: gnupg, gnupg2 and gnupg1 do not seem to be installed, but one of them is required for this operation
root@c1-worker:/# apt-get update
Get:1 http://mirrors.ustc.edu.cn/ubuntu xenial InRelease [247 kB]
Err:1 http://mirrors.ustc.edu.cn/ubuntu xenial InRelease
  The following signatures cou

[2022-10-26 15:58] BenTheElder commented on #2979
So first up: We don't support using the contents of the node like this, it's not documented and it is only guaranteed to provide what kind needs to create the respective kubernetes version.

We're not equipped to provide support for debian key management, sorry. I don't know anything about this mirror.

[2022-10-26 15:58] BenTheElder commented on #2979
Also: we're not using debian 11 for the nodes

[2022-10-26 16:01] BenTheElder commented on #2979
I will however try to come back to this later anyhow, in the meantime can you please share the kind version and the precise image you are using? It's also unclear what the desired end goal is.

[2022-10-27 01:55] lusains commented on #2979
Kind version：kind v0.14.0 go1.18.2 linux/amd64
image version：kindest/node:v1.24.0
my goal is I can exec apt-get update after change the mirror source, but the new mirror may notice  NO_PUBKEY
now I change the source to mirrors.aliyun.com, and it work well

[2022-10-27 02:46] aojea commented on #2979
/close

it seems it is a configuration issue, but we don't support tweaking or modifying the images

[2022-10-27 02:46] #2979 closed

[2022-10-27 03:51] BenTheElder commented on #2979
you may need to update to a newer image to do something like this, v0.14.0 is a bit old now.

but also, this isn't really something we're trying to support. kind provides [conformant](https://www.cncf.io/certification/software-conformance/) kubernetes, it is not providing a particular linux distro etc.

[2022-10-27 03:59] #2888 closed

[2022-10-27 11:16] jimdevops19 commented on #2689
Seeing the same issue with v.1.25.3
[code]

[2022-10-28 08:16] Rainson12 opened #2983 "building the kernel using documentation for wsl2 no longer works"
**What happened**:
I tried to build the kernel with xt_recent enabled using the following the documentation here: https://github.com/kubernetes-sigs/kind/blob/main/site/content/docs/user/using-wsl2.md
it is not possible to build the new kernel. First there is some prompt when building the kernel using `make -j2 KCONFIG_CONFIG=Microsoft/config-wsl` and then the docker cp command also doesnt work.

[2022-10-28 08:58] Rainson12 commented on #2983
the reason for this issue happening is that building the kernel now requires python3. I was able to build using these commands:

[code]

[2022-10-30 20:25] daman1807 commented on #2942
@tehcyx I faced a similar problem while spawning more than three workers. Kind worked perfectly for less than three workers in my case. Tried with 1.23, 1.24. 1.25 and even tried building the node image using k8s latest source but the problem persisted.

After inspecting kubelet logs found **too many open files to be the issue** to be the issue raised by **inotify**.

Later found this in known iss

[2022-10-31 10:01] dxps commented on #2972
Thanks, [Benjamin Elder](https://github.com/BenTheElder)! Appreciate the feedback!
I'll try to recheck that, although I addressed that part before, and nowadays I started using k3d and have no issue at all.
But sure, I'll review that and do a test, at least for others to quickly find their solution to a similar case like this.

[2022-10-31 19:25] jrwren opened #2987 "[zfs] kind create cluster crashes"
**What happened**:

I ran `kind create cluster` and have a Go stacktrace. I ran again with `--retain` for additional logs for this report.

[code]

**What you expected to happen**:

Running containers for both control-plane and node. I only get a running control-plane which fails to start the node container.

**How to reproduce it (as minimally and precisely as possible)**:

I'm not sure, but mayb

[2022-10-31 19:50] BenTheElder commented on #2987
something is wrong if we're not automatically detecting and switching to the native snapshotter

[2022-10-31 21:03] BenTheElder commented on #2987
(from serial.log for the node)

I think the issue here is specifically with zfs + userns remap, I think I see the bug.

[2022-10-31 21:48] BenTheElder commented on #2987
can you please try without the config file but with `--image=kindest/node:v1.25.3@sha256:cb0a32bfb28db72c0c073c39c112bb84c1e4dda35135a03d0b9e49f5547d61a4` ? https://github.com/kubernetes-sigs/kind/pull/2989

[2022-10-31 23:22] jrwren commented on #2987
Looks the same.

[tmp-1059374674.tar.gz](https://github.com/kubernetes-sigs/kind/files/9905562/tmp-1059374674.tar.gz)

[2022-10-31 23:51] BenTheElder commented on #2987
Hmm, So still doing that that should mean it has /dev/fuse available, and yet overlayfs-fuse will not work ...? 😕

[2022-10-31 23:53] BenTheElder commented on #2987
I guess we should just always do ZFS => native

Can you check what `stat -f -c %T /kind` returns in the running node container kind created?

[2022-10-31 23:58] jrwren commented on #2987
[code]

[2022-11-02 03:35] BenTheElder commented on #2987
trying again with `kindest/node:v1.25.3@sha256:cd248d1438192f7814fbca8fede13cfe5b9918746dfa12583976158a834fd5c5` from updated https://github.com/kubernetes-sigs/kind/pull/2989

always forcing native mode on ZFS, I think this is the safest bet.

where possible we want to use overlay or overlay fuse (better tested and production performance) but native is a safe fallback. the other snapshotters don'

[2022-11-02 13:16] jrwren commented on #2987
SUCCESS!
[code]
Thank you.

[2022-11-02 18:29] corinz commented on #2038
+1 on this

[2022-11-02 20:24] BenTheElder commented on #2987
Thanks for confirming! The fix should merge shortly and future node images will have this fix.

[2022-11-02 20:25] #2987 closed

[2022-11-04 16:20] VibhorChinda commented on #2792
I want to help here :))

Do we just need to change the documentation ??

[2022-11-04 16:46] BenTheElder commented on #2792
Yes, thank you, we need to write some more content covering https://github.com/kubernetes-sigs/kind/issues/2792#issuecomment-1164866110

At some point I think we're also going to need to break up the docs more, but for now probably just additional details under "Creating a cluster" in the quick-start.

Our contributing guide covers how documentation works under the development page https://kind.si

[2022-11-04 18:37] VibhorChinda commented on #2792
Understood :))
Can someone assign this to me. Thanks

[2022-11-04 18:38] BenTheElder commented on #2792
/assign @VibhorChinda

[2022-11-06 17:50] fllaca commented on #1200
For those interested I think I came with a simpler solution to route network to the host machine, using headless or ExternalName services. The solution is different for Linux and Mac/Window (the latter using Docker desktop).

**Linux solution: headless service + endpoint:**
[code]

**Mac/Windows (Docker Desktop) solution: ExternalName service:**
[code]

[2022-11-07 09:38] qrtt1 opened #2993 "cannot create cluster on M1 with amd64 image"
**What happened**:

[code]

**What you expected to happen**:

There are no errors and the cluster was created.

**How to reproduce it (as minimally and precisely as possible)**:

Run on m1

**Anything else we need to know?**:

I found the error messages expect a `cgroup v1`, but my docker uses `cgroup v2`. Is it be supported now?

**Environment:**

- kind version: kind v0.17.0 go1.19.2 darwin/arm6

[2022-11-07 14:31] qrtt1 commented on #2993
Find a workaround in the docker desktop release notes:
https://docs.docker.com/desktop/release-notes/#bug-fixes-and-minor-changes-20

[2022-11-07 15:20] hamidsafdari commented on #110
I hope this saves some time and hair for the next guy. I needed to deploy an app at work on Kubernetes and either of the solutions "insecure registries" and "deploying the registry inside the cluster" were not options because I couldn't do them in production. I also didn't want to port-forward to the registry every time I had to push an image. I could finally nail this after a few days, and I have

[2022-11-07 15:29] BenTheElder commented on #110
See also: https://kind.sigs.k8s.io/docs/user/local-registry/

Yes -- KIND should probably not be exposed to the internet in production, see the config docs. You can try for example kubeadm directly instead.

[2022-11-07 17:57] BenTheElder commented on #2972
#2718

[2022-11-07 20:27] eveforest opened #2994 "inside worker, why ping can resolve registry from dns, but ctr images pull is failed got no such host?"
After install kind cluster in my docker, i run exec -it into worker container,
and try to use ctr pull image in registry like registry.cn-hangzhou.aliyuncs.com/ns/xxx:latest , it's failed.
`ctr images pull   --user user:pass registry.cn-hangzhou.aliyuncs.com/ns/hello:latest`
[code]
but when i ping to registry.cn-hangzhou.aliyuncs.com ，i can get the ip.
`ping registry.cn-hangzhou.aliyuncs.com`
[cod

[2022-11-07 20:33] eveforest commented on #2994
then i add host to /etc/hosts file, it work. why dns 192.168.65.2 does'nt work?
`echo "120.55.105.209 registry.cn-hangzhou.aliyuncs.com" >> /etc/hosts`

[2022-11-07 20:33] BenTheElder commented on #2994
The kind worker is resolving via docker's embedded DNS socket, which then goes out to dockerd on the "host" (which here is the WSL2 VM), where are you running ping?

[2022-11-07 20:33] BenTheElder commented on #2994
KIND does some tricks to make the embedded socket routable from the coreDNS pod, but the behavior of the socket in resolving things is still docker's responsibility, and is configured by dockerd/the host.

[2022-11-07 20:35] BenTheElder commented on #2993
since you're on M1, is it possible there was #2718

[2022-11-07 20:37] eveforest commented on #2994
@BenTheElder thx for reply. i run ping in worker node.

[2022-11-07 20:40] BenTheElder commented on #2994
containerd might have slightly different behavior if it's using go's built in DNS resolver client instead of the libc resolver, I think containerd is not build that way though.

I guess ping does not report how it is looking up the name

[2022-11-07 20:51] BenTheElder commented on #2994
possibly? can we try something like `curl -V https://registry.cn-hangzhou.aliyuncs.com/v2/` in the worker?

[2022-11-07 20:52] eveforest commented on #2994
[code]

[2022-11-07 20:53] eveforest commented on #2994
still can resolve

[2022-11-07 20:58] BenTheElder commented on #2994
I was hoping we could see what DNS lookup was performed by curl or some tool other than containerd that works, so we can see the difference in how the name is resolved. It's weird that it would work in another tool in the same container, maybe using a different DNS server or using a hosts file

[2022-11-07 20:59] BenTheElder commented on #2994
maybe `apt update && apt install dnsutils && dig registry.cn-hangzhou.aliyuncs.com` in the node.

[2022-11-07 21:04] BenTheElder commented on #2994
So, we got the correct answer with dig, on 192.168.65.2:53, which is also what ctr or containerd are using, because it's the node-level DNS from the docker embedded DNS (or at least appears to be) and should be working .... 😕

is there anything else at play here, like a proxy? cc @aojea

[2022-11-07 21:08] eveforest commented on #2994
@BenTheElder i change the dns server to 8.8.8.8, and ctr images pull worked! so it's docker dns problem.

[2022-11-07 21:10] eveforest commented on #2994
8.8.8.8 both ping and ctr pull worked
192.168.65.2 just ping worked, ctr pull failed.

[2022-11-07 22:27] BenTheElder commented on #2994
So in theory docker's DNS server should do this:
- if the hostname matches a container name on the network(s) the container is attached to, return the container IP
- otherwise resolve the host in dockerd (the daemon running on the "host", which would be WSL2 here) and reply back

[2022-11-08 00:33] hamidsafdari commented on #110
I did try that and I believe this thread is about the problems with that
approach. The instructions in that link set up an insecure registry.

On Mon, 7 Nov 2022, 20:00 Benjamin Elder, ***@***.***> wrote:

[2022-11-08 00:52] BenTheElder commented on #110
approach. The instructions in that link set up an insecure registry.

Er ... The title of this issue is:

With this in the issue description:

This issue is not about setting up a secure registry, because as you noted KIND is not meant to be used in that sort of situation. This issue was about setting up the local insecure registry to be usable within the cluster.

The linked local registry guide

[2022-11-08 02:39] hamidsafdari commented on #110
You're right. I'm sorry. I just got so desperate trying to make this work I didn't read the title of the issue. I've used all the links you have shared, using a certificate and KinD's local registry setup. I guess the only thing I could have done was figure out how to make k8s use the insecure registry. My assumption was that it wouldn't. Partly because I read somewhere that KinD has moved away fr

[2022-11-08 05:06] aadi58002 opened #2996 "Multi control plane node creation failing with podman"
**What happened**:
The cluster creation fails when trying to create multi control plane node cluster. ( I am using the default example config on the site [here](https://kind.sigs.k8s.io/docs/user/quick-start/#controlplane-ha))
**What you expected to happen**:
Create six nodes with three being the control plane and 3 being worker nodes
**How to reproduce it (as minimally and precisely as possible)*

[2022-11-08 05:40] qrtt1 commented on #2993
I tried the `retain` and export logs

[code]

But the container has dead:

[code]

It is not possible to `exec`:

[code]

[2022-11-08 05:41] qrtt1 commented on #2993
I tried

[code]

[2022-11-08 05:51] qrtt1 commented on #2993
I have done tests between `v0.12.0` and `v0.17.0` . It might be broken after `v0.15.0`

[code]

[code]

[code]

[code]

[code]

[code]

[2022-11-08 06:27] BenTheElder commented on #2996
There are a bunch of dimensions on which you can hit artificial limits constraining your ability to run multi node clusters, for example: https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files

Can you share `kind create cluster --retain --config=your-config && kind export logs && kind delete cluster` / upload those logs, and can you check what the smallest failure

[2022-11-08 06:29] BenTheElder commented on #2993
It should still produce valuable logs

[2022-11-08 06:31] BenTheElder commented on #2996
What we can tell from the existing logs is the api server didn't come up healthy, but to know why we need the rest of the logs from `kind export logs` (with `--retain` to prevent cleanup).

Does a single node cluster work?

Also, while that config illustrates what is possible, it is rare that making a cluster of this shape makes sense. These nodes share a host kernel and CPU / Memory and few appli

[2022-11-08 06:39] BenTheElder commented on #2669
Do we have any further follow up here?

[2022-11-08 06:45] BenTheElder commented on #2486
fuse overlayfs is supported within the nodes and already used in some situations.

I've never heard of docker on ecryptfs, and I'm not sure this is a priority for us.
https://kind.sigs.k8s.io/docs/contributing/project-scope/

presumably the post above has the answer to that already?

[2022-11-08 06:45] BenTheElder commented on #2993
[v0.14.0..v0.15.0](https://github.com/kubernetes-sigs/kind/compare/v0.14.0..v0.15.0) doesn't present much related to node bringup, there's some changes on ZFS, and with rebooting existing nodes, and changes not related to starting clusters (like optimizing `kind load ...`).

[2022-11-08 06:54] BenTheElder commented on #2927
Please consider filing a bug with the bug template details on not being able to pull images and we'll further debug why ingress nginx images cannot pull in your environment.

In the meantime, the ingress guide appears to remain correct, so long as internet connectivity is not broken, which is an expected requirement.

[2022-11-08 06:54] #2927 closed

[2022-11-08 06:55] BenTheElder commented on #2872
https://github.com/kubernetes-sigs/kind/pull/2981 adds a hint for `systemd-run --scope --user kind create cluster`, thanks @VannTen

[2022-11-08 06:58] BenTheElder commented on #2942
Yeah, I have reason to suspect recent Kubernetes releases increased the number of inotify watches used on a typical kind cluster, based on issue reports here, but haven't had time to investigate this (also it's not clear that would be considered a bug in Kubernetes), unfortunately since that limit is not namespaced we do not touch it, but it's a common issue with multi-node KIND clusters in genera

[2022-11-08 10:12] qrtt1 commented on #2993
does any suggestions to make valuable logs ?

[2022-11-08 10:16] aojea commented on #2993
`kind export logs`

[2022-11-08 10:20] qrtt1 commented on #2993
I tried, but get nothing

[code]

[2022-11-08 10:48] iamtodor commented on #2669
@BenTheElder thank you for your attention here. I'm currently not working on this, so I'm not able to provide any updates

[2022-11-08 15:31] #2669 closed

[2022-11-08 15:32] BenTheElder commented on #2993
Even though it prints an error it should have collected the other logs. Check the directory printed

[2022-11-08 15:32] BenTheElder commented on #2993
/private/var/folders/m7/4k8xr3ls28l7tvszc7ss9y7c0000gp/T/3251996515

that part, that path,

[2022-11-09 05:03] aadi58002 commented on #2996
Thanks for the reply

The failure starts occuring when i add a second control plane node (i tested with 9 worker nodes and 1 control plane and it works fine then.
But even when working with 2 control plane node it fails.
![Screenshot_20221109_100344](https://user-images.githubusercontent.com/96418027/200739430-747e3dab-d435-4c1d-b2dd-afa0ef239298.png)

[logs.zip](https://github.com/kubernetes-sigs

[2022-11-09 06:36] BenTheElder commented on #2996
For local development purposes with kind multiple control plane nodes doesn't improve redundancy in any meaningful way, it's useful if you're testing kubernetes' control plane internals though.

Sounds like it may be an issue with the control plane loadbalancer. Will inspect the logs later when I get some more time.

[2022-11-09 10:50] aojea commented on #2996
it is

[2022-11-09 18:24] BenTheElder commented on #2996
Hmm the logs zip doesn't even have anything from the loadbalancer container ...

[2022-11-09 18:29] BenTheElder commented on #2993
Sorry yesterday was also Kubernetes 1.26 code freeze.

So from the node serial log:

We usually see this when the container is of the wrong architecture ...

[2022-11-09 18:31] BenTheElder commented on #2993
In this case the image was already pulled though from a previous attempt, which would have resolved it to the desired architecture IIRC, if DOCKER_DEFAULT_PLATFORM that may still have left it in a broken state.

Cann you delete the image or better yet pull it again like `docker pull --platform=linux/arm64 kindest/node:v1.25.3@sha256:f52781bc0d7a19fb6c405c2af83abfeb311f130707a0e219175677e366cc45d`