[2019-05-09 01:20] mitar commented on #508
OK, I think I did the second thing here: https://gitlab.com/datadrivendiscovery/images/commit/1a19bed2aee91a05304674382b3c80d31a53ddf7

[2019-05-09 01:24] BenTheElder commented on #508
yeah unfortunately kubernetes does not support building with https://packages.ubuntu.com/bionic/golang (go1.10) either, ubuntu's package is often rather behind.

go 1.10 is not even supported upstream by golang now (as 1.11 and 1.12 are out https://golang.org/doc/devel/release.html#policy), go versions are supported for about 1 year.

Kubernetes provides make + docker target that will not use the

[2019-05-09 04:04] BenTheElder commented on #509
instructions in the README and docs were updated and tested in clean environments, they should work.

[2019-05-09 04:35] costinm commented on #509
Thanks for updating README -  but I don't think 'go mod vendor' is such a huge burden and will allow more people to use or test master and keep 'go get' working.

0.2.1 is from Mar 27 - and it seems Kind is evolving quite rapidly.

We have a similar problem in Istio with master not being stable, so I can't complain much - but at least
we try to keep it compiling. And we have quite a few debates ab

[2019-05-09 04:40] costinm commented on #485
We are using both CircleCI machine and remote_docker environments, which are 2 CPU, to test Istio - it seems to be working quite well. Since Circle doesn't allow higher CPU, it would be good to keep this as a baseline.

[2019-05-09 04:41] costinm commented on #485
Besides - if the ARM64 bugs are fixed, I would hope Kind will run on Raspberry Pi - k8s can run just fine.

[2019-05-09 04:43] morvencao commented on #509
+1 to make `master` more stable.

[2019-05-09 04:48] BenTheElder commented on #509
That is true, the burden isn't the concern so much as the git bloat. `go get` with a module aware go without any options should work once we have another tag. (see below) The ecosystem has moved this way, all supported go versions support this, and we have the makefile for anyone without new enough go.

Yes, but we have intentionally not tagged a release while we finish making sure the changes are

[2019-05-09 04:53] BenTheElder commented on #485
A single node should work with considerably less than this, however the rest of what we can do performance wise is mostly bound by Kubernetes / CRI / ... CNI is probably the last place we have room for squeezing this lower and we're working on that.

It may regress some in the future due to the components we don't control, but keeping everything as low as we can is a high priority 👍

As far as I k

[2019-05-09 05:05] BenTheElder commented on #508
I apologize for the `docker` breakage here, but we are going to move forward with that particular change as the stability and performance gains are significant so far:
- smaller images by 100s of MBs just from dockerd -> containerd and trimming related packages
- fully preloaded images, no load step at runtime (possible due to containerd architecture and guarantees)
  - smaller images by 100s of M

[2019-05-09 05:05] #508 closed

[2019-05-09 07:19] aojea commented on #507
I think that we had some kind of agreement that ideally we should have a `kind` load balancer provider that allows users to reach services with Virtual IPs independently of the OS

[2019-05-09 15:13] costinm commented on #509
The second report

[code]

was from a 'go get ' with modules enabled.

We are also switching to go mod - but some form of vendor is still useful. Disk is not that expensive. There are few other options - like having a second git repo with just a main and vendor. Fetching the deps from a single git (packed/compressed/etc) is faster than fetching from large number of git repos,
and the mod cache is

[2019-05-09 15:18] BenTheElder commented on #509
See the updated readme, the `@master` part is breifly required until we put 0.3 out, otherwise it tries to get 0.2.1 which has github.com/golang/lint instead of the golang.org/x/lint import.

I'm also looking at making tools a second module.

and the mod cache is tricky to setup.

Getting a second repo is wildly painful in this project and unlikely to be approved for that purpose.

As for speed, p

[2019-05-09 15:50] neolit123 commented on #509
@ all
pinning your CI against the tip of the kind master branch is far from recommended...
i encourage you to pin against a fixed SHA that works for you and updating this SHA periodically in case you want new kind features.

we do the same mistake in the kubernetes CI jobs, but at least we know when and how we are going to break it.

[2019-05-09 15:55] neolit123 commented on #509
@BenTheElder

might be a good idea to not depend on the lint package?
unless the verify tools demand air-gaped support i don't see that much overhead in pulling the package and rebuilding it on demand outside of the scope of `/go.mod`

[2019-05-09 16:01] BenTheElder commented on #509
Agreed @neolit123, see: https://github.com/kubernetes-sigs/kind/pull/514
It's just to pin for CI. #514 moves all dev time tools to their own module.
That way we also don't require all the code-generator code when just
building kind.

*From: *Lubomir I. Ivanov <notifications@github.com>
*Date: *Thu, May 9, 2019, 08:55
*To: *kubernetes-sigs/kind
*Cc: *Benjamin Elder, Mention

@BenTheElder <https://g

[2019-05-09 16:42] mauilion opened #515 "Kind build node-image leaves docker volumes behind."
**What should be cleaned up or changed**:
We should clean up the volumes or warn the user to after the build
**Why is this needed**:
It sucked up a WHOLE bunch of disk space in a sneaky way.
also Docker system prune --all doesn't catch these! :(

[2019-05-09 16:50] tao12345666333 commented on #515
Thanks. This reminds me of the similar things that maybe we should do same thing when deleting a cluster. :thinking:

[2019-05-09 16:52] BenTheElder commented on #515
@mauilion are you building with --type=bazel or the default? kubernetes's dockerized build eats massive disk space over time because of the build images. when I build kubernetes a lot without kind I have to purge docker.

we might be leaking _more_ volumes though, which is absolutely bad and should be fixed, will look into it!

clusters do not leave behind any volumes.

[2019-05-09 17:03] BenTheElder commented on #515
to elaborate on the cluster point: we run nodes with `--rm` and don't  use any named volumes. I tested this one quite a bit, but not the build :( ... testing now.

[2019-05-09 17:07] tao12345666333 commented on #515
you are right. :+1:  my previous tests may have done some extra work leading to different results. thanks.

[2019-05-09 17:16] BenTheElder commented on #515
just building kubernetes once seems to be creating a lot of volumes (`make quick-release`, no `kind`), currently during the kubernetes build my volumes jumped from 12 to 21.

[2019-05-09 17:39] BenTheElder commented on #515
`kind build node-image` is leaving me with the same count as `make quick-release` (it adds 10 to whatever other volumes you have, building a few times in a row on the same code seems to leave it at the same 10 instead of adding more)

[2019-05-09 17:40] costinm commented on #509
I think ideally our 'daily' build should use a daily build of Kind, our weekly builds should use weekly builds of kind, and same for releases. On the short term - we have the problem that 'master' is far better than the last release ( speed, fixes, etc).

Regarding 'build tools' - as I mentioned in a different bug, it would be ideal if Kind publishes docker
images with kind binary included, ready

[2019-05-09 17:55] BenTheElder commented on #509
Please consider using a specific commit / release for all of your builds. we can't know what will and won't break your CI and we need to iterate to build out the features everyone is demanding and improve kind.

images with kind binary included, ready to use ( maybe with cached images to speed up creation of cluster), and ideally variants usable in major CI/CD systems ( like CircleCI, BuildKite, P

[2019-05-09 18:46] neolit123 commented on #515
testing now.

[code]

[2019-05-09 18:48] BenTheElder commented on #515
so far i've not managed to leak anything, possibly switching kubernetes versions or something? :confused:

[2019-05-09 18:59] neolit123 commented on #515
i do that a lot and that might be the issue @mauilion is reporting.
by building multiple k/k SHAs the k8s build process adds the extra volumes for `kube-build`.

but this doesn't seem like a kind problem, because the `kube-build` remains after the build.

best bet using default build:
[code]
or use bazel?

[code]
yikes.

[2019-05-10 20:33] costinm commented on #509
I think having at least one pipeline using master is important - it doesn't have to be pre-submit or blocking, but it is good to catch problems earlier and provide feedback.
We are now taking snapshots and have them in our hermetic build tool images.

Re. CIs to tackle - you don't have to take all of them, but it would be great if you can get GCB working.
For the others - I assume community will p

[2019-05-10 22:27] mauilion commented on #515
mine was just kind build-image --image=mauilion/node:77523 like in the blog post.

I am working on capturing a log info for it so we can see what's up.

[2019-05-10 22:52] mauilion commented on #515
@BenTheElder I can confirm the following:
https://asciinema.org/a/bvDoVH2qxq3RojuzAGwwNQeul

When building a checkout of kubernetes using `kind build node-image --image=1:1`
I see 10 new volumes created
[code]
My problem is that this happened without my knowledge. I wasn't informed that cruft was left behind.
I think it may make sense when running `kind build node-image` that we figure a way to cl

[2019-05-10 22:57] neolit123 commented on #515
i think there was a discussion today on slack about this.
the left-overs are from the k8s build process, it also leaves a bunch of kube-build images on the system.

[2019-05-10 22:58] mauilion commented on #515
ah should I open it against k/k then?

[2019-05-10 23:08] neolit123 commented on #515
i can't find a ticket in k/k for this, so seems to be OK to log one.

[2019-05-11 18:20] BenTheElder commented on #515
@maullion the volumes being left behind (10 + the build image + the data container) is part of intentional caching afaict, it _should_ stay 10 and they go away with `make clean` in Kubernetes.

The bug seems to be that sometimes it can start to leave behind even more. As far as I know this is a Kubernetes bug.

We _could_ `make clean` on every build but it would make the next build slower.

I'm no

[2019-05-11 19:26] alexellis commented on #509
cc @lucasroesler

This also hit us and affects all our CI and documentation 😞

The initial fix for one project meant doing this: https://github.com/openfaas-incubator/ofc-bootstrap/commit/50410e016ebb33d81ab82bcdb673a901b465b948

I'd really appreciate seeing the following improved upon: https://github.com/kubernetes-sigs/kind/issues/208 as I hear the latest binary is from March.

[2019-05-11 19:55] BenTheElder commented on #509
Again, we have extensive presubmit and CI testing on prow. We know it works and passes conformance for 1.12..master

For the others - I assume community will provide examples. For Istio, we had community members get
Kind working in Concourse - and we also got it working in Circle (machine/remote_docker) and BuildKite(vm) - happy to continue to test Kind in those CIs. I am sure community members us

[2019-05-11 19:57] BenTheElder commented on #509
See https://github.com/kubernetes-sigs/kind/milestone/5 for 0.3, slated by next weekend.

[2019-05-11 20:08] BenTheElder commented on #509
Even ignoring changes like go modules, using kind at HEAD for important CI is a risky bet. Even an innocuous change on our end could somehow break your setup, and kind at HEAD has no SLA. I don't think kops, minikube etc. do either. Even Kubernetes testing has or will be moving to pin a particular kind version.

[2019-05-11 20:19] alexellis commented on #509
My point is that the recommended instructions changed overnight as a breaking change.

From:

[code]

To:

[code]

They should really not change that drastically without some proper warning. It reminds me of Logrus/logrus.

If the maintainers group don't want people to use HEAD (read typing in: `go get`) then I would like to offer up a suggestion to change the instructions to reflect that. Can tha

[2019-05-11 20:46] BenTheElder commented on #509
That is true, though really we should update to reflect that those are not recommended for CI. It's easy to try out kind that way (also note: with no options / config / flags), but _none_ of the projects I work with use any_ tools from HEAD like this in CI, all of them pin a version to avoid this.

Apologies, FWIW we did pin a warning in the #kind slack channel. The intention was for release notes

[2019-05-13 00:49] chenliu1993 opened #521 "node "localhost.localdomain" not found"
Hi all,
    I am using kind node image to run the kubernetes. But each time I use command "kind create cluster", the control-plane node fails at kubeadm init step. The error is "node 'localhost.localdomain' not found".  But kubelet and docker is active while the images like etcd and api server are loaded but not running.
  "cat /etc/hosts" shows "127.0.0.1   localhost.localdomain".
  "hostname" sh

[2019-05-13 03:45] BenTheElder commented on #521
Docker will filter out any localhost references from /etc/hosts when creating the node container because the host's loopback interface (localhost) is not reachable from inside the container.

We explicitly set the node's hostname though, I'm not sure why Kubernetes / kubeadm would be using this entry. In the past there was a bug where resolv.conf was missing from the components, but that should be

[2019-05-13 03:47] BenTheElder commented on #521
What is your DNS resolver on the host?
/assign

I think we may need to stop inheriting the host's DNS...

[2019-05-13 05:39] chenliu1993 commented on #521
Thanks for your advice!
This is the content  of /etc/resolv.conf:
  search localdomain
  nameserver 192.168.5.2
This is the content  of /etc/hosts:
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1   localhost localhost.localdomain localhost4 localhost4.localdomain4

[2019-05-13 05:39] chenliu1993 commented on #521
Thanks for your advice!
This is the content of /etc/resolv.conf:
search localdomain
nameserver 192.168.5.2
This is the content of /etc/hosts:
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost4 localhost4.localdomain4

[2019-05-13 06:01] chenliu1993 commented on #521
This is the output of "systemctl status kubelet -l":
**ΓùÅ kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/kind/systemd/kubelet.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           ΓööΓöÇ10-kubeadm.conf
   Active: active (running) since Mon 2019-05-13 13:55:27 UTC; 4min 43s ago
     Docs: http://kubernetes.io/docs/
 Main PID

[2019-05-13 06:07] aojea commented on #521
is the address 192.168.5.130 part of your docker network?
```**reflector.go:134] k8s.io/kubernetes/pkg/kubelet/kubelet.go:444: Failed to list *v1.Service: Get https://192.168.5.130:6443/api/v1/services?limit=500&resourceVersion=0: dial tcp 192.168.5.130:6443: connect: connection refused```

what's the ip address of your control-plane node/container?

[2019-05-13 06:10] chenliu1993 commented on #521
192.168.5.130 is my host IP address, the node control-plane container IP address is the same one

[2019-05-13 06:16] aojea commented on #521
@chenliu1993 can you give more details about how are you creating the cluster? each node/container should have their own IP address, bear in mind that they are "representing" physical nodes?
Per example, if I execute `ip a` inside the control plane node
[code]

can you share yours?

[2019-05-13 06:29] chenliu1993 commented on #521
Sure. of course.
**ip a output**
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfif

[2019-05-13 06:43] tao12345666333 commented on #521
Can you try the latest version of `kind`?

[2019-05-13 06:44] chenliu1993 commented on #521
you mean v1.14.0? It is the same issue.

[2019-05-13 06:47] tao12345666333 commented on #521
upgrade your `kind`. `go get -u sigs.k8s.io/kind`

[2019-05-13 06:47] chenliu1993 commented on #521
ok, I will try

[2019-05-13 06:49] chenliu1993 commented on #521
docker0 doesn't have label "RUNNING" like eth0 and lo. could this be the problem?

[2019-05-13 07:28] kiwik commented on #188
Hi @mrhillsman , @dims and @BenTheElder I add an issue in OpenLab side to trace this job https://github.com/theopenlab/openlab/issues/257

[2019-05-13 07:32] aojea commented on #521
This is interesting, indeed the docker0 bridge is down and should be up. Can you give us more details about your environment? Operating system, are you running in bare metal or inside a container? `docker info`, ...
do you mean that the output of `ip a` on the host is the same as  `docker exec -it kind-control-plane ip a` ?

[2019-05-13 07:43] chenliu1993 commented on #521
**Ok, docker info is:**
Containers: 15
 Running: 0
 Paused: 0
 Stopped: 15
Images: 9
Server Version: 18.06.3-ce
Storage Driver: vfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file logentries splunk syslog
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Init Binary: docker

[2019-05-13 08:00] chenliu1993 commented on #521
dmesg -c shows this :

 IPv6: ADDRCONF(NETDEV_UP): docker0: link is not ready

[2019-05-13 08:35] aojea commented on #521
@chenliu1993 I guess that the problem is because of your host environment? are you running inside a LXD or something similar?

[2019-05-13 08:41] chenliu1993 commented on #521
Emmm, the host environment is configured by myself, the needed modules are loaded manually. As you say, the host environment may be where the problem is.
Thanks. Once the issue solved I will update

[2019-05-13 11:04] aojea commented on #273
seems that docker has an option to populate the /etc/hosts file, that can be useful to get rid of the loopback address in the resolv.conf and keep the node name resolution
[code]

[2019-05-13 11:21] Mikewl opened #522 "zsh completions can't be sourced"
**What happened**:
Running `source <(kind completion zsh)` fails with the following error
[code]

**What you expected to happen**:
The completions to import and be available

**How to reproduce it (as minimally and precisely as possible)**:
Run `source <(kind completion zsh)` in zsh

**Anything else we need to know?**:

**Environment:**
- zsh version:  zsh 5.7.1 (x86_64-apple-darwin18.2.0)
- kind

[2019-05-13 11:32] fiunchinho opened #523 "Can't connect to API server when using docker-in-docker"
**What happened**:
I'm trying to use kind to run some tests during CI in our CI server. The CI server runs jobs inside Docker containers. I'm creating the kind cluster from my job's container, and that works just fine. But when I try to connect to the API  server using kubectl, I get "connection refused".
To make it clear, the scenario is a host running the Docker daemon, where I start a container

[2019-05-13 11:46] aojea commented on #523
/assign

[2019-05-13 14:38] aojea commented on #523
It seems that you need a way to expose the port of the kind cluster in your host, since this is inside docker I guess that we need to do some kind of tunnel or port mapping over port mapping, so you can connect directly to the API port.

You can tell ` kind` in which port you want the API server to listen using the API, this way you can do a port forwarding of that port in the outer docker

[code]

[2019-05-13 20:51] BenTheElder commented on #523
So replace "docker in docker" with "docker in a VM" for the mental model for a moment:

Since docker is on another host, and we're binding / port forwarding the apiServer on localhost by default, this means that you cannot talk to it.

This can be fixed by configuring the networking.apiServerAddress config field as @aojea mentioned above. (though probably it should be the dind container IP, rather

[2019-05-13 20:57] BenTheElder commented on #522
hmm, I wonder if this is a bug upstream in cobra, we are generating these with that library
https://github.com/spf13/cobra

[2019-05-13 20:58] aojea commented on #523
/unassign @aojea

[2019-05-13 21:03] BenTheElder commented on #522
/help

[2019-05-14 00:57] BenTheElder commented on #273
the only problem with `--add-host` is we don't know the other nodes's IPs when we call `docker run`, it's a bit chicken and egg :^)

[2019-05-14 02:30] BenTheElder commented on #280
we're making progress in this front, should be shipping IPv6 capable CNI soon, will need some more work on top of that.

[2019-05-14 09:10] aojea opened #525 "Don't proxy docker network automatically when using proxies"
**What would you like to be added**:

Add the docker network automatically to the NO_PROXY variable.

**Why is this needed**:

In environments where proxies are needed is easy to forget to add the docker network where the `kind` cluster runs to the NO_PROXY environment variable, and this causes a failure trying to create the cluster.

We added the docker network to the NO_PROXY environment in cont

[2019-05-14 09:14] aojea commented on #525
/help

[2019-05-14 09:37] fiunchinho commented on #523
I'm trying to pass the config file. The docs say `To specify a configuration file when creating a cluster, use the --config flag`, but I'm getting an error
[code]

[2019-05-14 10:24] lizrice commented on #306
I'm seeing this same error with an older node image kindest/node:v1.11.3. From exec'ing into the node I can see that Docker never started up (but I have not established why). The same kind code is working great with an up-to-date node image kindest/node:v1.14.1.

I know kind is a work in progress but it would be marvellous if it could aim to support the same previous 3 minor releases as Kubernetes

[2019-05-14 11:03] fiunchinho commented on #523
I can't make it work.

I used this config file
[code]

So the generated kubeconfig contains this

[code]

But I'm still getting `The connection to the server 127.0.0.1:19090 was refused - did you specify the right host or port?`. This is the output for `docker ps`

[code]

My DIND container is running on networking host mode, its IP address is the same as the host IP address.
Any ideas?

[2019-05-14 11:07] aojea commented on #523
Where are you running `kubectl` ?
with that config you have to run inside the host with the dind container.

If you want to use kubectl outside of the host I guess you have to use `apiServerAddress: 0.0.0.0`  and use the ip address of your host in your kubeconfig
`server: https://IP_HOST:19090`

[2019-05-14 11:10] fiunchinho commented on #523
I'm running kubectl inside the DIND container.

[2019-05-14 13:01] aojea commented on #523
Then check if you have the socket open
[code]

if it's open you have to check if something is blocking it, maybe an iptables rule.

[2019-05-14 14:23] fiunchinho commented on #523
Not sure if that's the same as the following

[code]

Does this mean that the socket is not open?

[2019-05-14 14:30] aojea commented on #523
yeah, can you paste your `docker info` on the host?
That doesn't seem a _normal_ host 🤔

[2019-05-14 14:45] fiunchinho commented on #523
[code]

[2019-05-14 16:26] BenTheElder commented on #306
Sorry about that, the code at kind HEAD changed image format to make some major improvements, we're releasing 0.3 this week with notes about that. We left any existing images in kindest/ untouched but published new images for the changes.

kind does support those Kubernetes versions but will require building new node images for them.

We have less support for 1.11 now though, as Kubernetes's CI do

[2019-05-14 16:34] BenTheElder commented on #306
When 0.3 is out (soon!) I'll make sure we have up to date node images listed somewhere for the latest Kubernetes 1.11.10, 1.12.8, 1.13.6, 1.14.2, none of which are currently published kind images, along with some better docs about these 😅

Just trying to finish landing podSubnet cleanup and NO_PROXY fixes.

[2019-05-14 17:26] BenTheElder commented on #523
how exactly? if this is done via another container inside the dind container note that any container will have it's own loopback (localhost) interface. it has to be actually in the dind container specifically to get the same interface.

[2019-05-14 17:27] BenTheElder commented on #523
could you try not doing host network and forwarding a port instead?

[2019-05-14 23:43] BenTheElder commented on #280
https://github.com/kubernetes-sigs/kind/pull/500 and https://github.com/kubernetes-sigs/kind/pull/524 are big steps in this direction

[2019-05-15 00:20] BenTheElder opened #528 "Umbrella Issue: Code Quality Improvements"
**What should be cleaned up or changed**:
- [x] enable staticcheck and fix errors https://staticcheck.io/docs/
- [x] factor out all exec / docker interaction into interfaces for mocking and implementing against podman etc.
  -  [x] eliminate the caching mechanism on node handles, instead provide a caching wrapper for this docker interface, and only use it by default in the CLI (library users shoul

[2019-05-15 00:36] BenTheElder commented on #525
I think we need to go ahead and get 0.3 out ASAP (just going to let a little more testing happen after kindnetd), but we definitely need to fix this problem, this is harming a lot of users unnecessarily.

I will prioritize this and other networking issues for 0.4

[2019-05-15 00:39] BenTheElder commented on #485
these will shift a bit with the updated CNI configuration (should be lower), but will remeasure.

still need to document as well

[2019-05-15 00:42] BenTheElder commented on #361
@dims what should we do with this one, it looks like https://github.com/kubernetes/kubernetes/pull/75058 is stalled?

[2019-05-15 00:44] BenTheElder commented on #381
punting to 0.4, but just because 0.3 was loaded down with breaking image change improvements and we need to get those out the door. this is an important feature.

[2019-05-15 00:47] BenTheElder commented on #205
this is simple enough now, going to add it to 0.3 so we can let anyone with complaints about kindnetd bypass it entirely.

[2019-05-15 01:07] BenTheElder opened #531 "release v0.3.0"
**What should be cleaned up or changed**: upgrade the default node image to kubernetes v1.14.2 with all final breaking image changes for kind 0.3

**Why is this needed**:  so we can exclusively publish new kindest/node tags without breaking existing tags, but release 0.3 with a 1.14.X kubernetes version.

Going forward we hopefully won't need any more changes, the image overhaul was pretty drastic

[2019-05-15 01:07] BenTheElder commented on #306
podsubnet fixes & general CNI updates are in, I think we may punt NO_PROXY depending on the timing of v1.14.2 which is apparently delayed from today to at least one more day to soak the go 1.12.5 upgrade.

tracking image upgrades here: https://github.com/kubernetes-sigs/kind/issues/531

[2019-05-15 01:10] BenTheElder commented on #531
we _could_ perhaps push over v1.14.1 and release with that, but it may break someone who pinned to kind at some intermediate commit and that image without pinning the image SHA (which we were sadly not doing by default at the time).

cc @neolit123 @munnerz, I think this is the last thing blocking 0.3 is just sorting out the default image, the current `kindest/node:alpha-v1.14.1` is not great as it

[2019-05-15 01:31] dims commented on #361
@BenTheElder i'll rev it again and probably ping on call to publish a image

[2019-05-15 01:34] BenTheElder commented on #361
SGTM :+1:

[2019-05-15 02:20] latermonk opened #532 "go get sigs.k8s.io/kind undefined: k8sdeps.NewFactory"
hi , i  get kind use command "go get sigs.k8s.io/kind" , get the error
[code]
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/go"
GOPROXY=""
GORACE=""
GOROOT="/usr/lib/golang"
GOTMPDIR=""
GOTOOLDIR="/usr/lib/golang/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
CXX="g++"
CGO_ENABLED="1"
GOMOD=""
CGO_CFLAGS="-g

[2019-05-15 02:22] BenTheElder commented on #532
please see https://github.com/kubernetes-sigs/kind#installation-and-usage or https://kind.sigs.k8s.io/docs/user/quick-start/#installation

[2019-05-15 02:25] BenTheElder commented on #532
What go version are you using? Or do you have `make` and docker?

Either the instructions linked above (note the actual go get command) should work with recent go, or cloning and using thr makefile should work with just make and docker.

[2019-05-15 02:42] #532 closed

[2019-05-15 02:52] BenTheElder commented on #369
I don't think we're going to do these specific tags for now, and the image format is being re-stabilized after the CRI and CNI improvements. We need to work more on making that flexible.

[2019-05-15 02:52] #369 closed

[2019-05-15 02:53] latermonk commented on #532
both Ubuntu 18.04 ， go version go1.12.5 linux/amd64  and centos  7, go version go1.11.5 linux/amd64 , find the same issue .

[2019-05-15 05:46] BenTheElder commented on #205
#530 should make it a bit more first class.

[2019-05-15 07:42] #205 closed

[2019-05-15 08:28] aojea commented on #278
@BenTheElder I think we can close this issue since https://github.com/kubernetes-sigs/kind/pull/530 was merged

[2019-05-15 08:33] BenTheElder commented on #278
Agreed. This is implemented.
See Cluster.networking.disableDefaultCNI in the config 👍

[2019-05-15 08:33] #278 closed

[2019-05-15 08:42] BenTheElder commented on #166
Minor update: I've ensured the ip-masq-agent pushes multi-arch (manifest) images upstream before we adopted it, and our own tiny networking daemon is cross compiled and pushing multi-arch images.

These were simpler than Kubernetes node images, but at least we have some more multi-arch samples and we continue to nominally work on arm64.

I think the next step is to support building node images fro

[2019-05-15 09:07] aojea commented on #525
We should wait for https://github.com/kubernetes-sigs/kind/pull/484, once it's merged is just adding a new method to get the docker network address of the cluster.
I guess that the code should be something like this

[code]

[2019-05-15 15:01] aojea commented on #528
@BenTheElder should we add some e2e smoke tests for features like the load balancer and port mapping?

[2019-05-15 15:44] BenTheElder commented on #528
@aojea I HA mode?

Eventually yes, but lower priority, to my knowledge nothing depends on that yet. (And shouldn't!)

We also should have smoke tests with the default image.

[2019-05-15 21:02] BenTheElder commented on #515
We should file a ticket with kubernetes if we can create a reproducer. So far I've been unsuccessful. I've done quite a bit of testing on kind itself vs just building with kubernetes though, and I can't find any differences.

Going to close this here, but if anyone manages to get enough information and file an upstream issue, please cross reference it. I'd be happy to help fix that upstream if any

[2019-05-15 21:02] #515 closed

[2019-05-15 21:14] costinm commented on #451
Sorry for the delay - from my perspective the GCB is the most important one, since it's the hardest and possibly more secure.

Circle seems fine, multiple projects got it working.
For BuildKite - it works on VMs, so not super urgent.

[2019-05-15 21:17] BenTheElder commented on #451
Thanks! We've got a very rough start on a workaround for testing this sort
of thing here <https://github.com/kind-ci/examples> with travis and
circleCI enabled.
Thanks to @munnerz for setting up the administrative bits and a few others
for contributing already.

*From: *Costin Manolache <notifications@github.com>
*Date: *Wed, May 15, 2019 at 2:15 PM
*To: *kubernetes-sigs/kind
*Cc: *Benjamin Elder,

[2019-05-15 21:47] BenTheElder commented on #531
still monitoring the 1.14.2 release, so far it has slipped.

per semver I think this would be build metadata, `kindest/node:v1.14.1+1` (vs `-` which is prerelease), however docker tags cannot have `+`, it looks like Kubernetes uses `_` as a placeholder so it would be something like `kindest/node:v1.14.1_1`

[2019-05-15 22:03] neolit123 commented on #531
if the `_1` in `kindest/node:v1.14.1_1` is a kind revision of the `1.14.1` release then the syntax is `v1.14.1-1`.
at least this is the current syntax for e.g. etcd at GCR.

does `_1` not mean revision here?

[2019-05-15 22:17] BenTheElder commented on #531
we did not revise kubernetes though.

`_` is build metadata like `+foo`. `-foo` means a pre-release version per semver

[2019-05-15 23:00] neolit123 commented on #531
`_1` SGTM.

[2019-05-16 01:10] BenTheElder commented on #303
/remove-lifecycle stale

[2019-05-16 21:33] BenTheElder commented on #531
Updated the title to more accurately reflect what we need to track here. These images are meant to go along with the kind release.

Kubernetes v1.14.2 is still slipped and I don't think further networking fixes will make the cut in `kind` this week.

I've drafted relnotes for v0.3.0, posting the draft below. Next step will be publishing these images and updating the default before we publish.

[2019-05-16 21:35] BenTheElder commented on #531
<h1 id="breaking-changes">Breaking Changes</h1>

**IMPORTANT**: Breaking Image Changes

kind `v0.3`+ requires new node images versus `v0.2.1` and earlier. A number of
important internal improvements were made that required changing how cluster
bootup is performed. The following images we have previously published are
incompatible with kind `v0.3`+:
- `kindest/node:v1.11.3`
- `kindest/node:v1.12.2`

[2019-05-16 21:37] BenTheElder commented on #531
I want to take a second pass over these and add more relevant links to the contents, but I think that covers the relevant changes. This is assuming `v0.3.0` follows https://github.com/kubernetes-sigs/kind/commit/0a482192674395bf6f69bb1cd6f3a6ea4bf955e4

There will need to be a few tweaks to the scripts I think to reflect the need to make go modules appropriate tagging.

[2019-05-16 22:25] BenTheElder commented on #531
ref: https://github.com/kubernetes-sigs/kind/pull/540 for some build cleanup before we release.

[2019-05-17 00:48] BenTheElder commented on #531
1.14.2 was actually tagged 7 hours ago, but the announcement doesn't seem to have gone out, asking #sig-release about this https://github.com/kubernetes/kubernetes/releases/tag/v1.14.2

[2019-05-17 01:37] BenTheElder commented on #531
I am pushing the remaining images to go along with this release and taking another pass back over the relnotes / ppopulating the image hashes.

[2019-05-17 01:48] BenTheElder commented on #531
now pushed:
- `kindest/nodev1.14.2@sha256:33539d830a6cf20e3e0a75d0c46a4e94730d78c7375435e6b49833d81448c319`
- `kindest/node:v1.13.6@sha256:9e07014fb48c746deb98ec8aafd58c3918622eca6063e643c6e6d86c86e170b4`
- `kindest/node:v1.12.8@sha256:cc6e1a928a85c14b52e32ea97a198393fb68097f14c4d4c454a8a3bc1d8d486c`
- `kindest/node:v1.11.10@sha256:abd0275ead5ddfd477b7bc491f71957d7dd75408a346834ffe8a9bee5fbdc15b`

[2019-05-17 01:48] BenTheElder commented on #531
This release focused on improving the speed and reliability of cluster creation,
networking, and bug fixes. A number of breaking changes were required, but Nodes
should be simpler, smaller, faster, and more reliable.

<h1 id="breaking-changes">Breaking Changes</h1>

**IMPORTANT**: Breaking Image Changes

kind `v0.3`+ requires new node images versus `v0.2.1` and earlier. A number of
important inter

[2019-05-17 02:10] BenTheElder commented on #531
tweaked the notes a bit more, running `hack/release/create.sh v0.3.0 v0.4.0-alpha`

[2019-05-17 05:05] BenTheElder commented on #531
done https://github.com/kubernetes-sigs/kind/releases/tag/v0.3.0#contributors

[2019-05-17 05:05] #531 closed

[2019-05-17 07:29] BenTheElder commented on #306
kind v0.3.0 is out with images for 1.11, 1.12, 1.13, and 1.14 at their latest patch versions

[2019-05-17 08:15] BenTheElder commented on #509
v0.3.0 is out with binaries now. go get will default to that version, and we've updated all the installation docs to prefer this. Closing this and moving forward with modules now. Also noting that minikube went from go dep to modules and removed vendor in one PR in the past week as well. https://github.com/kubernetes/minikube/pull/4241

[2019-05-17 08:15] #509 closed

[2019-05-21 15:20] matthiasak commented on #445
Similar issue here, but the setup is a bit different. On Clear Linux, the `swupd` bundle for docker sets environment variables that are then used by systemd for the docker.service to set kata as the runtime. You can change this to containerd or runc and things work smoothly

[2019-05-21 19:25] Ferdinanddb commented on #398
Hello, thank you for your manifest! Does anyone know if is it possible to create a ServiceMonitor to have the metrics from `metrics-server`?? So far, when I launch your manifest and a ServiceMonitor like the following one but I get the `server returned HTTP status 403 Forbidden`

`
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    k8s-app: metrics-server
  name:

[2019-05-22 09:03] ZhengZhenyu commented on #532
Why is this closed? I tested with Bazel and both master k8s and master Kind, with go 1.12.1, and I think it is not related to any of these since KinD did call k8sdeps.NewFactory() in https://github.com/kubernetes-sigs/kind/blob/master/pkg/kustomize/kustomize.go#L108 and it has been removed since: https://github.com/kubernetes-sigs/kustomize/commit/7764dee59df9199a5aa2c4949540a90996fedc11

[2019-05-22 09:03] ZhengZhenyu commented on #532
@BenTheElder @latermonk @dims

[2019-05-22 09:33] tao12345666333 commented on #532
@ZhengZhenyu you need set `GO111MODULE="on"`

[2019-05-22 09:45] ZhengZhenyu commented on #532
@tao12345666333 Thanks for the reply, set it in where?

[2019-05-22 10:00] BenTheElder commented on #532
Quick reply from kubecon :-)
See an example: https://github.com/kubernetes-sigs/kind#installation-and-usage
This is in the readme in a few places and in the [quick start](https://kind.sigs.k8s.io/).

See also https://github.com/golang/go/wiki/Modules https://blog.golang.org/using-go-modules

Or you can just install a release binary (also in the installation guide).

[2019-05-22 10:09] tao12345666333 commented on #532
set `GO111MODULE=on`  as your environment variable. ref: https://github.com/kubernetes-sigs/kind#installation-and-usage

[2019-05-22 13:26] discreet commented on #112
It seems that when I add `username` with accounts that use a token I get a multiple auth error:

eg:
[code]

But when I add `username` to `users` it seems to work _until I change my context_ then it is removed from my kubeconfig.

eg:
[code]

[2019-05-22 17:07] nirnanaaa commented on #522
Might be related to https://github.com/spf13/cobra/pull/646

[2019-05-23 03:01] ZhengZhenyu commented on #532
@BenTheElder @tao12345666333 Thanks for the reply, but actually I'm trying to fix our KinD ARM CI for the OpenLab, and I guess the idea of the CI is to test(build and test) latest KinD on ARM architecture so I guess the walkaround option might not be appropriate for our case?

[2019-05-23 05:07] BenTheElder commented on #532
Ah, the same "go get" command in the readme but @master instead of @v0.3.0 will do HEAD of that branch.

[2019-05-23 06:05] ZhengZhenyu commented on #532
@BenTheElder Thanks for the reply, I will have a try

[2019-05-23 09:09] nzoueidi commented on #528
I might help with the two last points :)

[2019-05-23 09:23] #521 closed

[2019-05-23 09:39] chenliu1993 opened #550 "Running Nginx: iptables unable to setup DNAT."
**Hi all, I am new to kubernetes. Now I am using command "kubectl run nginx-1 --image=nginx:latest --expose=true --hostport=8081 --port=80" to run nginx in container. While nginx pod is stuck at "ContainerCreating" status. I "describe" the pod and got the following error:**

 Normal   SandboxChanged          106s (x12 over 117s)  kubelet, localhost.localdomain  Pod sandbox changed, it will be kill

[2019-05-23 09:42] chenliu1993 commented on #550
And also I found that kube-proxy conainer's logs keep giving error" iptables-restore failed, exit status 1"

[2019-05-23 10:06] chenliu1993 commented on #550
Now I found if I add -m multiport then iptables will output No chain/target/match by that name

[2019-05-23 13:10] BenTheElder commented on #550
what version are you using? it looks like there's weave in there?

I'm not sure what the issue is from those log snippets, could you possibly upload more of the logs? eg the files from `kind export logs`

[2019-05-23 13:32] graham2071 opened #551 "Make behind a proxy"
**What happened**:
Although http_proxy, https_proxy and no_proxy env var are configured, `make build` fails witha lot of:
go: golang.org/x/net@v0.0.0-20190514140710-3ec191127204: Get https://proxy.golang.org/golang.org/x/net/@v/v0.0.0-20190514140710-3ec191127204.info: dial tcp: lookup proxy.golang.org on x.x.x.x:53: no such host

**What you expected to happen**:
Make success

**How to reproduce it

[2019-05-23 15:38] tao12345666333 commented on #551
I think this problem is caused by your own environment.

If we simply pass `http_proxy`/`https_proxy`/`no_proxy` via `-e` to `docker run` then we need to consider if the proxy is set to an intranet address or localhost which will cause make to fail. :worried:

[2019-05-23 19:58] michael-burt commented on #507
Is there a standard way to simply port-forward into a pod? Is there documentation about how to accomplish this?

[2019-05-23 20:25] aojea commented on #507
@michael-burt please check the draft document and provide your feedback https://github.com/kubernetes-sigs/kind/pull/546 in the PR

[2019-05-23 23:31] tao12345666333 commented on #550
based on the issue you mentioned before #521 #440, I hope that you can provide more information, especially your system and environment information.

[2019-05-23 23:55] chenliu1993 commented on #550
Yes, it is weave. kubernetes version is v1.13.4, My Linux version is
**Linux localhost.localdomain 4.9.137-1.ph2 #507  SMP Tue Nov 20 14:26:03 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux**
#521 and #440 has already been solved. Becaus they are about the control group. I need to re-establish one cgroup to make it work.
I am not using" kind create" to create the one-node cluster. I am trying to set-up t

[2019-05-24 01:55] chenliu1993 commented on #550
The iptables-restore stuck at this line:
-A KUBE-SEP-RX6HK3A6QAQ6ADFY -s 192.168.5.130/32 -j KUBE-MARK-MASQ

[2019-05-24 03:09] chenliu1993 commented on #550
Solved. lack of module: xt_multiport

[2019-05-24 03:09] #550 closed

[2019-05-24 03:14] tao12345666333 commented on #550
although this may be a good idea for learning. :thinking:   If you don't use `kind create cluster` directly, then the problem is obviously not related to `kind`.

from the log above, it is obviously related to the kernel module.

[2019-05-24 03:18] mitar commented on #63
/remove-lifecycle stale

[2019-05-24 14:27] zegl opened #554 "Improved error message when Docker is not running"
**What happened**:

If you run `kind create cluster` when no Docker daemon is running, kind exits with a unclear message:

[code]

**What you expected to happen**:

A clearer error message, making the experience nicer for the user.

Since the errors are wrapped, and `docker` is executed fairly deep in the codebase, I suggest the following error message:

[code]

**How to reproduce it (as minimally

[2019-05-26 02:40] tao12345666333 commented on #345
/remove-lifecycle stale

[2019-05-26 13:53] lukasheinrich opened #562 "network connectivity in travis with kind"
Hi,

pods started in kind on travis seem to have lost network connectivity

https://travis-ci.com/lukasheinrich/examples/builds/113218001

[code]

the last command gives

[code]

this seems to have been introduced with newer versions of kind (or travis) since I have successfully used this before.  Docker seems to be unaffected (see `docker run` above).

Any ideas what this might be?

If this shoul

[2019-05-26 14:46] matthyx opened #563 "Using Feature Gates"
**What would you like to be documented**:
How to specify [feature gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) in the cluster created by kind.

**Why is this needed**:
Sometimes I would like to use and test Alpha features with kind, and I don't quite see how to set this up.

[2019-05-26 15:19] mitar commented on #329
I think we can close this for now. It looks relatively stable recently.

[2019-05-26 15:19] #329 closed

[2019-05-26 17:22] aojea commented on #562
@lukasheinrich can you add a command to get the logs from kind and store them somewhere?
`kind export logs`

[2019-05-26 17:23] aojea commented on #554
@BenTheElder should we add some preflight checks to avoid this kind of problems?

[2019-05-26 17:56] aojea opened #565 "Update design docs"
**What would you like to be documented**:

Version 0.3 introduced some design changes that should be documented, also they were presented during last Kubecon Barcelona

* replace inner docker with containerd
* proloading images at build time
...

**Why is this needed**:

The design https://kind.sigs.k8s.io/docs/design/node-image/ docs are obsolete

[2019-05-26 18:15] lukasheinrich commented on #562
@aojea here's a gist with the logs

https://gist.github.com/lukasheinrich/9804850552818b6cfc53906b7a7dcce9

(updated `.travis.yml` here: https://github.com/lukasheinrich/examples/blob/master/.travis.yml)

[2019-05-26 19:23] Ilyes512 opened #566 "Add host.docker.internal to certSAN list"
**What would you like to be added**:
I would like to add `host.docker.internal` to the kubeadm certSAN list.

This is both usefull for [Macos](https://docs.docker.com/docker-for-mac/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host) and [Windows](https://docs.docker.com/docker-for-windows/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host).

I think I fou

[2019-05-26 21:11] lukasheinrich commented on #562
I notice some lines  mentioning that the cni plugin fails to initialize.
Maybe that’s a hint?

On Sun, May 26, 2019 at 7:22 PM Antonio Ojea <notifications@github.com>
wrote:

[2019-05-26 22:10] lukasheinrich commented on #562
I notice some lines  mentioning that the cni plugin fails to initialize.

[code]

Maybe that’s a hint?

[2019-05-26 22:21] aojea commented on #562
I´m trying to reproduce it https://travis-ci.org/aojea/examples

The cni plugin eventually gets ready, those errors can be a hint but in this case they are not. If the cni plugin is not ready the nodes won´t be in ready status

[2019-05-26 23:20] lukasheinrich commented on #562
@aojea thanks for looking into it. Can I provide any more info?

[2019-05-27 05:57] wanghh2000 opened #567 "Cannot create cluster by kind 0.3.0 with docker 18.09.6"
**What happened**:
Create cluster failed by kind 0.3.0 on Ubuntu.

**What you expected to happen**:
Create cluster success.

**How to reproduce it (as minimally and precisely as possible)**:
1) Install docker 18.09.6 and kind 0.3.0 on Ubuntu.
2) Run the command.

[code]

**Anything else we need to know?**:

**Environment:**

[code]

- kind version: (use `kind version`):  0.3.0
- Kubernetes version

[2019-05-27 06:13] tao12345666333 commented on #567
this log looks like the docker's error. please use `--loglevel=debug` to get more detail.

[2019-05-27 06:21] tao12345666333 commented on #567
and can you show me your dockerd's configuration? this error is mainly in the Docker network, i.e. userland-proxy

[2019-05-27 06:41] aojea commented on #567
also check if the iptables table for docker exists with `iptables -L -t nat`, you should have something like this

[code]

[2019-05-27 06:57] aojea commented on #562
thank you @lukasheinrich

I could advance on the issue, it's a problem resolving external domains, as you can see in the snippet below the pod can reach  external ips but can't resolve the external domain
[code]

[2019-05-27 07:22] aojea commented on #566
@Ilyes512 bear in mind that you can connect directly to the cluster API, i.e. obtaining the container/node ip address to avoid to use the host.docker.internal.

There is one patch that allows you to get the `internal` configuration https://github.com/kubernetes-sigs/kind/pull/478 that you can use once is merged instead of replacing localhost with host.docker.internal

[2019-05-27 07:25] wanghh2000 commented on #567
@tao12345666333
[code]

@aojea Seems no found any for docker.
[code]

[2019-05-27 07:28] aojea commented on #567
@wanghh2000 that's the problem, please check your docker installation, `kind` uses the default docker network setups and needs that those tables exist.
There are similar errors reported https://github.com/moby/moby/issues/1871

[2019-05-27 07:38] tao12345666333 commented on #566
+1 or you can add a new container directly to the control-plane's network stack by pass `--network` to `docker run`

[2019-05-27 07:45] tao12345666333 commented on #567
@wanghh2000 `dockerd` has one `--iptables` flag to enable addition of iptables rules (default true) .
If you accidentally cleaned out the default iptables rules, you can restart docker directly.

[2019-05-27 07:48] wanghh2000 commented on #567
@tao12345666333 @aojea  By ticket #1871
Thanks! Problem solved after execute command:
[code]

[2019-05-27 07:48] wanghh2000 commented on #567
Close issue.

[2019-05-27 07:48] #567 closed

[2019-05-27 08:00] aojea commented on #562
🤔  seems that the issue can be related to the DNS server used in travis

[code]
@tao12345666333 has hit a similar issue on his patch to allow `kind` to create their own networks

[2019-05-27 08:03] lukasheinrich commented on #562
so as a short-term hack should

[code]

work?

Thanks for tracking this down.

[2019-05-27 08:04] Ilyes512 commented on #566
@aojea:
The --internal flag looks good and would indeed work for my purpose.

@tao12345666333:

How would I do this? I know I can create a new network and add both the control-plane and the container to it so I can connect to the control-plane by hostname. Not sure how I can do that without doing this though?

[2019-05-27 08:13] aojea commented on #566
@Ilyes512 the kubeconfig that you have on your host is the same that the nodes have but replacing the internal ip address and port by localhost and the forwarded port.

You can obtain it with `docker exec  kind-control-plane sh -c 'cat /etc/kubernetes/admin.conf'` and use in other containers

[2019-05-27 08:20] tao12345666333 commented on #566
just like:
[code]

`--network container:<Your Control Plane Container ID>`

[2019-05-27 10:42] aojea commented on #562
We had a long debate about the `resolv.conf` that you can follow on this thread https://github.com/kubernetes-sigs/kind/pull/484#issuecomment-489431439 .

I was doing some test and seems that travis doesn't permit to overwrite the `resolv.conf`, as a workaround we should try to see what of the documented setups work in travis

https://kubernetes.io/docs/concepts/services-networking/dns-pod-service

[2019-05-27 10:44] lukasheinrich commented on #562
Thanks, it's interesting because `kind` definitely used to work (incl network) on travis when I first set up the CI (February). Not sure at which point it broke

[2019-05-27 11:25] aojea commented on #562
I added logging to the coreDNS pods and seem I was wrong, the problem is not the one I was thinking, however the solution changing the namesever is still valid.
Let me do a few tests and check if it can be solved in kind so it's transparent to the user.

[code]

[2019-05-28 01:34] alisondy opened #569 "Brew installation"
**What would you like to be added**:
Would like to be able to install brew
**Why is this needed**:
Accessibility/Ease of use

I know brew isn't the flashest but it's what I'm familiar with

Would be happy to help and implement. I'm not particularly experienced with packing/publishing for homebrew but am willing to learn.

[2019-05-28 01:39] alisondy commented on #569
aaah I duplicated #88

[2019-05-28 01:40] #569 closed

[2019-05-28 05:44] aojea commented on #88
/remove-lifecycle rotten
/help-wanted

[2019-05-28 06:24] aojea commented on #88
hi @alisondy , are you going to work on this?

[2019-05-28 07:19] aojea commented on #563
@neolit123 do you know if is possible to patch the kubeadm config to enable feature gates? if affirmative, can you add an example?

[2019-05-28 08:27] alisondy commented on #88
sure, willing to give it a go ✨

[2019-05-28 08:46] aojea commented on #88
/assign @alisondy

[2019-05-28 08:55] alisondy commented on #88
not a part of the org..yet ✨

[2019-05-28 09:41] rsteube commented on #522
Did this work before? As afaik you don't source completions (as in bash) but instead add the folders containing them to fpath: https://github.com/zsh-users/zsh-completions/blob/master/zsh-completions-howto.org#telling-zsh-which-function-to-use-for-completing-a-command

e.g:
`kind completion zsh > /somedir/_kind` (once to generate it)
and in .zshrc
[code]

[2019-05-28 13:28] Ilyes512 commented on #566
Should I close this? `docker exec kind-control-plane sh -c 'cat /etc/kubernetes/admin.conf'` will do the trick until the `--internal` flag is added.

[2019-05-28 16:57] BenTheElder commented on #88
you should join :-)

[2019-05-28 17:08] BenTheElder commented on #562
/assign
/assign @aojea

[2019-05-28 18:22] BenTheElder commented on #99
/remove-lifecycle stale

[2019-05-28 19:39] vincepri commented on #176
/remove-lifecycle rotten

[2019-05-28 20:30] neolit123 commented on #563
it's different per component and you may have to enable a gate for all of them (i.e. it depends what gate you want and component it should affect).

example kind config with patch:
[code]

more info on customizing kubeadm control plane components:
https://kubernetes.io/docs/setup/independent/control-plane-flags/

[2019-05-28 21:48] BenTheElder commented on #507
`kubectl port-forward` is the most standard way applicable to any kubernetes setup not just kind. but we'd like something a little more robust for kind.

on linux you can also reach the node IPs directly and go from there (EG with a nodePort)

[2019-05-29 01:44] #551 closed

[2019-05-29 07:04] dan-stock opened #571 "api service running as anonymous is forbidden"
The "kind create cluster" creates a docker cluster but the api is not accessible because the running the "kube-dns:dns" service under the anonymous user is forbidden.

Here is the output when I start open the url for the local cluster.
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "services \"kube-dns:dns\" is forbidden: User \"system:anonymo

[2019-05-29 07:30] tao12345666333 commented on #571
The current version of Kubernetes has RBAC turned on, and the situation you are experiencing is a normal behavior.

I will close this issue now. If you still have questions about this, please feel free to reopen it.
/close

[2019-05-29 07:30] #571 closed

[2019-05-29 22:26] BenTheElder commented on #571
To elaborate: I think what you're commenting on is the URLs printed out by `kubectl cluster-info`, which is just meant to show that the cluster is running and where the endpoints are. They do not support unathenticated access, and won't for other recent clusters either.

These endpoints are meant to be used by something like `kubectl` using the contents of the KUBECONFIG file. With kind this curre

[2019-05-30 08:32] aojea commented on #566
@BenTheElder  I think that you fixed this with #573

[2019-05-30 09:28] aojea opened #574 "Can't preload images on a cluster with the :latest tag"
**What happened**:

Trying to preload images in a cluster with the :latest tag doesn't work, `kubelet` never use the local image and always try to fetch it from the registry,.

**What you expected to happen**:

Being able to preload images with the :latest tag in my clusters

**How to reproduce it (as minimally and precisely as possible)**:

Build an image locally with the latest tag
Load the imag

[2019-05-30 09:31] tao12345666333 commented on #574
ref: https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

[2019-05-30 09:33] tao12345666333 commented on #574
also see: https://github.com/kubernetes-sigs/kind/issues/328

[2019-05-30 09:34] aojea commented on #574
I think that `kind load docker-image` should fail for images with latest tag

[2019-05-30 09:40] tao12345666333 commented on #574
We provide the `kind` tool, which also has the `load image` function. For images containing `:latest` , this behavior is controlled by Kubernetes.

If we let `load image` return an error when it encounters `:latest` tag, I don't think it is reasonable. You can add a suggestion or a hint, maybe a better user experience.

[2019-05-30 09:43] aojea commented on #574
I think you are absolutely right
Closing

[2019-05-30 09:43] #574 closed

[2019-05-30 22:24] neolit123 commented on #153
/lifecycle frozen
possibly needs evaluation if containerd is the only option forward at this point.

[2019-05-30 22:42] BenTheElder commented on #153
CRI-O is feasible if someone can figure out how to do the image loading step reasonably.
Otherwise everything _within_ the nodes is on CRI now.

/remove-lifecycle frozen
I'd rather let issues close eventually if there's no activity, regardless of the issue. They can always be re-opened.

[2019-05-31 00:52] squillace opened #575 "better error output when docker isn't/can't log in"
**What would you like to be added**:
The ability get better error output in the non-default case when creating a new cluster and not specifying the default `kind create cluster`.

**Why is this needed**:
I stumbled around for the better part of a week trying to understand why this didn't work, below. only when I ran it as the default command did it appear to output the error -- it's picking up my

[2019-05-31 00:57] BenTheElder commented on #575
cc @amwat exactly the kind of self-diagnosis I was talking about earlier ^^

xref: #39
/priority important-longterm

[2019-05-31 00:58] squillace commented on #575
@BenTheElder this was why it was failing on my machine at KubeCon. :-)

[2019-05-31 01:23] amwat opened #576 "Performance regression in cluster create"
**What happened**:
Cluster create took ~50 seconds when using image built from k/k master .

[code]

**What you expected to happen**:
Cluster create should take around ~30 seconds
which it does when using the kindest/node:v1.14.1 image
[code]
**How to reproduce it (as minimally and precisely as possible)**:
At kubernetes/kubernetes master (currently https://github.com/kubernetes/kubernetes/commit/

[2019-05-31 01:25] BenTheElder commented on #576
cc @neolit123 :eyes:

[2019-05-31 01:37] amwat commented on #576
Got similar results on kind HEAD (v0.4.0-alpha).
The kubelet fatals only take up about 2 seconds though so there's also something more at play.

[2019-05-31 02:08] derrickburns opened #577 "Gloo/Envoy issue with kind?"
**What happened**:

I did the following:
1) created a kind cluster (defualt config)
2) installed helm
3) installed weave flux (which automatically installs my application)
4) inspected the Gloo API Gateway that I am using: FAILURE

The failure is that *the Gloo gateway proxy that is based on ENVOY is not getting route info from the Gloo Gateway pod.

The key line from the logs appears to be:

[cod

[2019-05-31 02:58] BenTheElder commented on #577
I don't see anything obviously related to kind in those logs.
I'm not familiar with gloo, perhaps another contributor to kind is.

Moving this to triage since it's unclear what the problem is.

Note (Possibly related to your overall usage): if you're running on macOS, the node IPs will not be reachable from the host, only from within the container network, this is a docker for mac limitation. We'r

[2019-05-31 03:11] BenTheElder commented on #577
I've put out an ask in [#kind](https://kubernetes.slack.com/messages/CEKK1KTN2) on the Kubernetes slack for anyone familiar.

[2019-05-31 04:29] BenTheElder commented on #574
[just noting my agreement on the outcome 😅]

warning about :latest behavior might be a good idea 👍  I can dig out some code I wrote to solve this sort of thing with another tool (note: `:latest` is a magical default, and parsing these correctly has some edge cases... 🙃)

[2019-05-31 06:30] aojea commented on #577
I think that the key here is to understand what endpoint, IP or DNS, address it trying to reach.
Seems like an envoy thing 🤔

[2019-05-31 07:17] aojea commented on #554
this is kind of duplicate of #575

[2019-05-31 09:22] aojea commented on #576
I think that this is the change that introduced the kubelet `fatals` https://github.com/kubernetes/kubernetes/commit/7cbe2d6c5f4c3b00d482dc7de3bfd1831ff0e861

I guess that the problem is that now systemd waits until the timeout of 10s expires to restart the kubelet

[2019-05-31 12:08] neolit123 commented on #576
looks like something that should be discussed with sig node.

[2019-05-31 17:31] BenTheElder commented on #576
Got distracted, coming back to this now. Seems that startup time is now consistently at least slightly longer than 1.14.2, but also less consistent and sometimes quite a bit longer. Not sure what the root cause is yet.

[2019-05-31 17:48] #562 closed

[2019-05-31 17:51] BenTheElder commented on #576
https://github.com/kubernetes/kubernetes/blob/ba8fcafaf8c502a454acd86b728c857932555315/build/debs/kubelet.service#L9

this in general is a problem for us, kind starts fast enough that a 10s crashloop is too slow. we should probably just be shipping our own systemd files at this point, the upstream ones don't do much and aren't even consistent with what the official releases contain. testing these

[2019-06-03 06:35] aojea commented on #562
@lukasheinrich the patch was merged but until the new node images are not published you have to create the node image yourself

[code]

Please provide feedback

[2019-06-03 07:05] aojea commented on #576
I'm not a systemd expert but the service file has `Restart=Always` , that means that it should be restarted once the kubelet fails to start, not when the timeout expires

[code]
Why systemd is not honoring the exit code and waiting for the timeout to expire? I don't see errors related to the rate limiting. Can it be related to the change on the signal handling that I linked in my previous comment?

[2019-06-03 08:29] lukasheinrich commented on #562
Hi @aojea

Thanks! I tried adding the image build step to the travis ci, but it seems to not yet be enough. Am I missing a step?

https://github.com/lukasheinrich/examples/blob/master/.travis.yml#L24

[2019-06-03 09:56] Todai88 commented on #148
/subscribe

[2019-06-03 10:11] aojea commented on #562
@lukasheinrich use

`GO111MODULE=on go get -u -v sigs.k8s.io/kind@master`

[2019-06-03 10:47] lukasheinrich commented on #562
Thanks! this seems to have worked :)

[2019-06-03 18:34] alisondy commented on #528
another one for the list potentially?
Hadolint our docker files see [here](https://github.com/hadolint/hadolint)

[2019-06-03 20:39] BenTheElder commented on #576
It is honoring it, `RestartSec` is not the timeout, it's the interval for restarting.

[2019-06-04 00:36] vincent-pli opened #586 "coredns stuck at ContainerCreating"
**What happened**:
coredns stuck at ContainerCreating
**What you expected to happen**:
coredns Running
**How to reproduce it (as minimally and precisely as possible)**:
Install and create cluster based on the documents of Kind
Check the pod status:
`kubectl -n kube-system get pod`
**Anything else we need to know?**:
Finally, my issue fixed by follow this comment: https://github.com/kubernetes/kube

[2019-06-04 00:39] BenTheElder commented on #586
CoreDNS should be container creating for a little bit (how long depends on the host hardware), if it stays that way indefinitely then we might have an issue in the networking setup or something else.

ER how exactly? I believe we already have up to date tolerations.

[2019-06-04 01:00] vincent-pli commented on #586
@BenTheElder
I had run `kubectl describe`, there are some exceptions like:
`rpc error... failed to add route... dev eth0...`

After applied based on the solution, there is one additional pod appeared:'
`kube-flannel-ds-amd64-57zff                  1/1     Running   0          35m`

Then the `coredns` works.

[2019-06-04 05:43] aojea commented on #586
That seems that the CNI plugin wasn´t working and you have installed flannel that solved it.
In order to understand what happening we should need the status of the `kindnet` pods that you can get with `kubectl get pods -n kube-system` and,  if they are failing, the logs of the pods

[2019-06-04 07:09] BenTheElder commented on #576
We have gained around 10sec back under ideal conditions but not necessarily identified this regression yet. 🤔

[2019-06-04 08:43] vincent-pli commented on #586
@aojea
pods in `kube-system` seems work now.
and before I install flannel, they are all `running` except `coredns`

[2019-06-04 08:46] aojea commented on #586
if it happens again, before installing flannel, it would be nice if you can provide the logs of the cluster

`kind export logs`

[2019-06-04 09:01] vincent-pli commented on #586
I create another cluster named `test` in the same host, get the same error:
[code]
[logs.zip](https://github.com/kubernetes-sigs/kind/files/3251449/logs.zip)

[2019-06-04 09:03] vincent-pli commented on #586
Use `kubectl describe` get this:
[code]

[2019-06-04 09:23] aojea commented on #586
@vincent-pli can you paste the output of  `docker exec -it kind-control-plane ip a` ?

[2019-06-04 09:30] vincent-pli commented on #586
[code]

[2019-06-04 09:38] aojea commented on #586
sorry, we need the info before installing flannel 😅 , just when the coredns pods are not working

[2019-06-04 10:09] aojea commented on #586
@vincent-pli I could reproduce it
The problem was reported previously in slack too
[code]

/assign @aojea

[2019-06-04 10:11] aojea commented on #586
/priority critical-urgent

[2019-06-04 10:59] vincent-pli commented on #586
Good to hear 😄

[2019-06-04 14:35] aojea commented on #586
Seems that there is race-condition and sometimes the config template is not processed and is written to the cni configuration folder directly.

[2019-06-04 16:10] #586 closed

[2019-06-04 19:03] BenTheElder commented on #170
https://github.com/kind-ci/examples is hosting various additional CI going forward / ensuring kind works there and has examples (thanks @munnerz for setting this up!) this solved the process issues, but still needs work. hoping to ramp up more people to help...

[2019-06-04 19:29] neolit123 opened #588 "create HA cluster is flaky"
**What happened**:
i started seeing odd failures in the kind-master and -1.14 kubeadm jobs:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kind-master
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kind-1.14

after switching to this HA config:
[code]

[code]

**What you expected to happen**:
no errors.

**How to reproduce it (as minimally and precise

[2019-06-04 19:40] neolit123 commented on #588
seems to work with 3e5f29995ec76bb
possible regression in https://github.com/kubernetes-sigs/kind/pull/585

/assign @BenTheElder

@BenTheElder i'm going to switch the kubeadm jobs to use a stable kind version (kubetest/kind needs update).
possibly the sig-testing kind jobs can remain to use kind from master.

[2019-06-04 21:57] aojea commented on #588
I can´t reproduce it neither find a similar error in the jobs, can you give me a link to some logs? I´m not familiar with testgrid and prow 😅

[code]
The errors is 401 `Unauthorized`  🤔

[2019-06-04 22:07] neolit123 commented on #588
this:

happended here:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kind-master/1135916134365663234/build-log.txt

it's flaky and i'm able to reproduce it locally with with `--loglevel=debug`. sometimes it passes.
make sure that you use the HA config too.

some of the other failures here, however are different:
https://k8s-testgrid.appspot.com/sig-cluster-lifec

[2019-06-04 22:18] neolit123 commented on #588
@aojea
i think the `kind export logs` timeout is reproducible consistently with the HA config.
it just stays at:

[2019-06-04 22:40] neolit123 commented on #588
also:
`kind build node-image --kube-root=$(pwd)`
for k/k commit 1409ff38e5828f55

gives me some CRI errors:

<details>

[code]
</details>

[2019-06-04 23:03] BenTheElder commented on #588
CRI errors during kind build node-image are normal.

`kind export logs` and `kind load ...` appear to be broken on HA because they're trying to do that against the nginx node. has nothing to do with CRI etc.

[2019-06-04 23:05] BenTheElder opened #589 "kind export logs and kind load need to handle nginx node appropriately"
the loadbalancer node should not be treated like the control plane or worker nodes

this is almost definitely the cause of https://github.com/kubernetes-sigs/kind/issues/588

[2019-06-04 23:18] neolit123 commented on #588
a couple of problems:
- `kind export logs` fails https://github.com/kubernetes-sigs/kind/issues/589
- `Joining xxxxx nodes` fails?

looks like `--loglevel=debug` is not a factor after all.

[code]

[2019-06-05 00:23] #563 closed

[2019-06-05 02:15] BenTheElder commented on #528
#584 and #591 added a shellcheck linter and eliminated failures (except the one lint we turn off regarding command -v vs which)

[2019-06-05 06:58] aojea opened #592 "Reorganize documentation and define a document content strategy"
**What should be cleaned up or changed**:

Documentation content should be organized in a different way, an example of the problem is that `Quick Start Guide` that starts to be a catch-all document.

**Why is this needed**:

The documentation content starts to grow and some of the topics documented are recurringly being asked in Slack, that can mean that users are not finding it easily.
We should

[2019-06-05 07:31] aojea commented on #592
/kind documentation

[2019-06-05 18:15] #589 closed

[2019-06-05 18:22] BenTheElder commented on #592
I think quick-start is relatively OK right now, it covers roughly the things you need to know to get started in various ways, but maybe could use some shuffling within the page.

going forward we need new categories to avoid it remaining the only catch all. :sweat_smile:

[2019-06-05 18:23] BenTheElder opened #594 "add credentials programattically docs are out of date"
https://kind.sigs.k8s.io/docs/user/private-registries/#add-credentials-programmatically is currently out of date, specifically it leverages `docker login` on the nodes which is not going to work.

roughly the same sample can be used, but the login needs to be on the host, or something else equivalent.

[2019-06-05 21:45] BenTheElder commented on #588
593 fixed the log export and image load issues, not sure about whatever flakiness is about https://github.com/kubernetes-sigs/kind/pull/593

[2019-06-05 21:52] neolit123 commented on #588
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kind-master

the latest green run passes with kind from master.
but the previous run has the `Unauthorized in 3567 milliseconds\nerror execution phase preflight: unable to fetch the kubeadm-config ConfigMap: failed to get config map: Unauthorized"`

the one before that had the timout problem that https://github.com/kubernetes-s

[2019-06-05 22:02] aojea commented on #588
I narrowed it down to this snippet, what can be the problem? what means `invalid bearer token`?

[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kind-master/1136342315124658176/artifacts/kind-kubetest-control-plane3/pods/kube-system_kube-apiserver-kind-kubetest-control-plane3_58215256c50a36017e211d17dfbfd67c/kube-apiserver/0.log

[2019-06-05 22:12] neolit123 commented on #588
bootstrap tokens are technically bearer tokens:
https://kubernetes.io/docs/reference/access-authn-authz/bootstrap-tokens/
AFAIK, this error can happen if kubeadm join passed a bad JWT (the `--token` part of `join`).

not sure how a token can flake though...
were you able to reproduce it locally?

on a side note, kubeadm does have concurrent CP join now in k/k master now:
xref https://github.com/ku

[2019-06-05 22:17] neolit123 commented on #588
also the token in kind is hardcoded:
https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/internal/kubeadm/const.go

[2019-06-06 05:17] wanghh2000 opened #595 "[Power] Does kind support ppc64le?"
**What happened**:
[code]
[code]

**What you expected to happen**:
Create a cluster

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`): 0.3.0
- Kubernetes version: (use `kubectl version`): 1.14
- Docker version: (use `docker info`): 18.06
- OS (e.g. from `/etc/os-release`): Ubuntu 16.04.6 L

[2019-06-06 05:40] BenTheElder commented on #595
If you build an image it should work. The default image is not yet multi arch.

[2019-06-06 05:40] BenTheElder commented on #595
Though there's also no power PC CI infrastructure so it's merely a _should_ work. We can't verify.

[2019-06-06 06:21] wanghh2000 commented on #595
@BenTheElder  Got it. Thanks.

[2019-06-06 06:21] #595 closed

[2019-06-06 08:36] ZhengZhenyu commented on #188
Hi, @BenTheElder we have now done the adding GCP account part, but our job failed to setup k8s cluster with master KinD and master K8S, it was previously alright but seems failed to build for few weeks, I tried to debug it and solved some problems, but it still won't come up, could you help to have a look on it? I uploaded full logs in our openlab log server:
https://logs.openlabtesting.org/logs/p

[2019-06-06 08:42] aojea commented on #188
seems a problem with the internal images and containerd 🤔

[code]

[2019-06-06 08:59] aojea commented on #188
@ZhengZhenyu seems that the last job was successful https://logs.openlabtesting.org/builds?project=kubernetes-sigs/kind, am I looking into the right place?

[2019-06-06 09:10] ZhengZhenyu commented on #188
@aojea Thanks alot for the reply, I guess there could be some misconfiguration for the job workflow so that it shows the process is sucess but actually no test is running, I will check it latter. But yes, the K8S cluster did not come up for a few weeks, I've tried alot of combinations of kind and k8s, they didn't work, we used to have a successfully runing test workflow for about a month but we ha

[2019-06-06 09:12] ZhengZhenyu commented on #188
@aojea As you can see from the test scripts, I copied all files from _artifacts folder, I guess the kube-* log should be in their if they were generated?

[2019-06-06 09:28] ZhengZhenyu commented on #188
And see from:
https://logs.openlabtesting.org/logs/periodic-6/18/github.com/kubernetes-sigs/kind/master/kind-integration-test-arm64/728b70b/job-output.txt.gz

2019-06-06 06:36:33.026854 | ubuntu-xenial-arm64 | time="2019-06-06T06:36:33.024811073Z" level=info msg="ImageCreate event &ImageCreate{Name:sha256:9730ba13d51885429e8a0544daef7ebb527fbaa8387b8b6f8458029f5ebac9de,Labels:map[string]string{io.

[2019-06-06 11:07] aojea commented on #188
@ZhengZhenyu how can I check if this works? https://github.com/theopenlab/openlab-zuul-jobs/pull/550
I think that the best thing moving forward is mimic the prow jobs

[2019-06-06 11:35] aojea commented on #588
@neolit123 the job seems stable now https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kind-master , doesn´t it?

[2019-06-06 11:48] neolit123 commented on #588
yes, but we switched it to kind v0.2.0, because it's in the release-informing dashboard and the release team wants it green.

[2019-06-06 12:19] aojea commented on #588
the etcd cluster wasn´t ready, in this case, the kind-control-plane3 is the one that wasn´t able to join the cluster at the moment of the authentication.
A hypothesis is that the LB forwarded the worker3 `join` connection to it and that´s why it failed, since the etcd cluster wasn´t ensambled. Should kubeadm handle this scenario?

[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-k

[2019-06-06 13:05] neolit123 commented on #588
this is a possibility yes. but the kinder HA jobs are consistently green in this regard.
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-master-on-stable
i wonder what ends up being different.

i think we should bisect kind v0.2.0 -> latest and find what hapended.

[2019-06-06 13:44] aojea commented on #588
That´s a fantastic idea, I think that I know what´s happening, let me do some tests

[2019-06-06 16:21] BenTheElder commented on #528
Good question.

It's pretty wildly unusual to have a docker daemon running but no docker client binary so we're not trying to avoid depending on the binary, however we are trying to let kind work with other runtimes (podman).

(Also the docker client library
 is pretty terrible, kubelet is littered with comments about trying to figure out how to use it correctly. Users will have a much better time

[2019-06-06 16:37] glerchundi commented on #528
Sounds reasonable but there could be a common use case where you are
running kind inside a container that has access to a docker daemon for CI
purposes.

Just putting my 2 cents.

Great job by the way 👍🏻

On Thu, 6 Jun 2019 at 18:22, Benjamin Elder <notifications@github.com>
wrote:

[2019-06-06 19:01] aojea commented on #588
/assign @aojea

[2019-06-06 20:40] thomastaylor312 commented on #588
I am experiencing this flakiness as well. Let me know if I can help test any fixes!

[2019-06-06 21:26] BenTheElder commented on #188
FWIW the snippet in https://github.com/kubernetes-sigs/kind/issues/188#issuecomment-499420602 looks like build output, which will have some scary looking errors that can be ignore currently, if `kind build node-image` exits 0, it should be fine.

[2019-06-07 05:35] fabriziopandini commented on #588
@aojea @neolit123
Kinder has wait loops after each action and it is less aggressive than kind in terms of parallelism; e.g.
https://github.com/kubernetes/kubeadm/blob/30be64eaa19c663dd1f8e8d9826608e52d06607c/kinder/pkg/actions/util.go#L85

t is possible to pass `--wait=0` to get a behaviour more similar to what is implemented in kind, but parallelism for join is not there.

Afaik kubeadm join impl

[2019-06-07 06:23] aojea commented on #588
@fabriziopandini sorry for not updating the ticket, you are absolutely right, the problem is that nginx is only doing health checks at TCP level, however, haproxy was doing health checks at the TLS level with the option `ssl-hello-chk`.
The problem is that as soon as the TCP port is open nginx forwards traffic to it, but it can happen that the kube-apiserver is now working, thus the join fails.
I

[2019-06-07 06:31] BenTheElder commented on #588
Alternatively we can not LB to all nodes while they are not joined yet.

[2019-06-07 06:32] BenTheElder commented on #588
Since we're fully aware of which nodes are ready to serve...

[2019-06-07 08:02] aojea commented on #588
hmm, I was investigating a bit more and I don't have clear now that the problem is the LB ... 🤔  maybe the problem is on the apiserver as @fabriziopandini is suggesting or in the `kubeadm join --control-plane`

I was checking the code and the workers are not joining until the control-plane nodes are ready, that means that our LB should work, no need to add a health check.

Checking at one of the [

[2019-06-07 09:12] artemnikitin opened #597 "[docs] Is it possible to explicitly specify k8s version?"
**What would you like to be documented**:
Is it possible to explicitly specify Kubernetes version to run with `kind create cluster`? At the moment, if create cluster,  then version 1.14.2 will be used. It's unclear if it's possible to change that.

**Why is this needed**:
At the moment it's not clear if it's possible or not. If it's possible, then it's not clear how to do that.

[2019-06-07 09:15] tao12345666333 commented on #597
You can specify the tag of node image
[code]

[2019-06-07 09:15] tao12345666333 commented on #597
or follow this https://kind.sigs.k8s.io/#installation-and-usage

[2019-06-07 09:22] artemnikitin commented on #597
Thanks for info! Sorry for missing this

[2019-06-07 09:22] #597 closed

[2019-06-07 10:42] aojea commented on #588
@thomastaylor312 I can't reproduce it locally, can you use --retain and check your etcd pods logs to see if you find this error?

```embed: rejected connection from "172.17.0.7:46984" (error "remote error: tls: bad certificate", ServerName "")```

I'm curious why the ServerName is empty

[2019-06-07 12:40] neolit123 commented on #588
on a similar note after pinning the kubeadm-kind-* jobs to 0.2.0 for HA, the -1.14 job started consistently failing on dump cluster logs: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kind-1.14

[code]

trying to figure out locally why it fails on the release-1.14 branch only.

[2019-06-07 14:42] neolit123 commented on #588
@aojea

i can get it to fail more consistently in the "joining more CP nodes" step.

a rough deflake is:
<details>

[code]

</details>

obviously not a good solution, but given serial without wait does not work, i don't see how parallel will work either. staring at etcd logs now.

[2019-06-07 15:08] thomastaylor312 commented on #588
@aojea I'll give it a whirl today and see if I can get a failure

[2019-06-07 15:39] neolit123 commented on #588
searching on this topic, it's seems like a confusing etcd message that everyone is getting for a slightly different reason. we have it in the green runs too.

[2019-06-07 15:41] aojea commented on #588
can you give this  PR a shot https://github.com/kubernetes-sigs/kind/pull/598?
I can't repro locally, however, I observed that some nodes take close to 10 secons to be ready.

[2019-06-07 15:48] thomastaylor312 commented on #588
@aojea That is the behavior I have seen. I wrote a brief loop in my code to wait for all the nodes to hit ready

[2019-06-07 15:48] neolit123 commented on #588
it's pretty much the same as the diff i posted here https://github.com/kubernetes-sigs/kind/issues/588#issuecomment-499912149

so i'm going to assume it's going to work.
problem is that instead of adding this fix we should try to make the CP node join concurrent.

currently i'm bisecting around 0.3.0, because this works fine with 0.2.0.

i wonder what else could bet at play here.
did you try multi

[2019-06-07 15:51] fabriziopandini commented on #588
@aojea

Technically speaking Kubeadm doesn't mark the node ready; it just lay out some static pods manifest and then it is the kubelet that starts pods/reports about pod state/node state.

However, what I'm going to investigate is the part of code in kubeadm that adds a new etcd member:
if it is possible to detect somehow that etcd is technically up, but not fully synchronized yet/not ready to res

[2019-06-07 15:52] neolit123 commented on #588
[code]

btw, probably unrelated but one of the kindnet containers is always panicing for both green and red runs.

[2019-06-07 15:54] thomastaylor312 commented on #588
@aojea I was able to duplicate the issue and my etcd pods are showing that "bad certificate" error with an empty `ServerName`. Is there something else you'd like me to collect/debug?

[2019-06-07 16:03] aojea commented on #588
@neolit123 `kindnet` panics for almost everything so it can restart in a clean status, but the error seems related to another `certificate` issue.
I think that we are getting closer to the problem, seems that something happens with one certificate, doesn't it?
@thomastaylor312 if you can `kind export logs` and attach here will be great, also it would be nice to check with `openssl s_client -connec

[2019-06-07 16:29] thomastaylor312 commented on #588
Ok, debug logs are attached @aojea.
[failed-cluster-logs.tar.gz](https://github.com/kubernetes-sigs/kind/files/3266792/failed-cluster-logs.tar.gz)

As for the certs, each cert is different (which I _think_ is correct). I've attached the output of each one as well:
[cluster-certs.tar.gz](https://github.com/kubernetes-sigs/kind/files/3266820/cluster-certs.tar.gz)

[2019-06-07 16:39] fabriziopandini commented on #588
It turns out that an etcd member after joining a cluster but not yet aligned with the rest of nodes is called "learner" and there is work ongoing to get this properly handled...
https://github.com/etcd-io/etcd/issues/10537

[2019-06-07 18:35] neolit123 commented on #588
The problem is that as soon as the TCP port is open nginx forwards traffic to it, but it can happen that the kube-apiserver is now working, thus the join fails.
I was doing research yesterday on load balancers, basically, we need SSL passthrough (L4 load balancing) with SSL health checks :

after a bisecting session i was able to confirm that nginx is indeed the problem.
after the switch to contai

[2019-06-07 20:33] jingyih commented on #588
FYI. Learner / non-voting member is not released yet. Also, joining a cluster as learner requires additional flag to be enabled. Existing etcd membership reconfiguration API calls will not leads to new member added to cluster as learner.

[2019-06-07 22:18] aojea commented on #588
@neolit123 I think that the LB alleviates the problem only, the same way introducing delays alleviates it ... I think that the root cause is that the API server can´t serve the kubeadm-config ConfigMap, as you can see the TLS handshake happens without problems, thus the LB will not solve it ... I´m more inclined to think that the reason is in the etcd cluster 🤷‍♂

[code]

@thomastaylor312 in your

[2019-06-08 00:00] BenTheElder commented on #588
right, note that the haproxy change came with making things quite a bit faster, and we've only gotten faster since :^)

finding racy problems with bringup is a good thing from kind's POV, we just need to root-cause and fix them, ideally that doesn't involve working around them by adding busy waiting in kind...

anything like that we need to do, all other consumers of kubeadm potentially need to do

[2019-06-09 20:46] aojea commented on #588
I did a simple test, in one terminal create a kind cluster with 3 control planes.
Get the LB IP address and in another terminal run `while true ; do curl -k https://172.17.0.8:6443/healthz; sleep 1; done`

You can see that the api servers are receiving requests despite not being healthy

[code]

To follow the best practices the LB should honor the health check and not forward traffic to those API

[2019-06-10 07:11] fabriziopandini commented on #588
@aojea thanks for your great work trying to address this issue.

Before answering to your question, le me recap the options that in my opinion should be considered for solving this issue:
1. act on the API server, implementing a change for not answering while not healthy
2. act on kubeadm, implementing a wait cycle that detects when then new etcd member is fully syncronized, and then create the ne

[2019-06-10 07:15] Sn0rt opened #599 "a ambiguity error info"
docker is not running and run kind to create a new cluster, the error info is ambiguity.

[code]

[2019-06-10 07:49] aojea commented on #599
Thanks for reporting it, but this is a duplicate of https://github.com/kubernetes-sigs/kind/issues/575
If you don't mint is better to close this and use the other issue to track it

[2019-06-10 08:16] Sn0rt commented on #599
@aojea ok, I will close this. This is a similar question, maybe you should do some pre-run check work.

[2019-06-10 08:16] #599 closed

[2019-06-10 08:58] ZhengZhenyu commented on #188
@BenTheElder yeah it seems the build operation is OK, but if we only test build, how are we suppose to add results to testgrid?

[2019-06-10 16:14] neolit123 commented on #588
xref https://github.com/kubernetes/kubernetes/issues/72102

[2019-06-10 16:17] neolit123 commented on #588
Can we use more agressive timers for the liveness probe?

immediate answer - no, we cannot as these are well balanced. we have found cases where the values do not match a use case, but normally there is another issue at play there.

[2019-06-10 18:51] chuckha opened #600 "Library flexibility use case"
**What would you like to be added**:
I have a use case (kind as a cluster-api provider) where I'd like to be able to provision a single control-plane cluster with a load balancer. This gives me the flexibility of adding additional control planes at a later time.

**Why is this needed**:
The general workflow looks like this:

* Setup load balancer
* Set up control plane
* Optionally set up workers

[2019-06-10 18:58] BenTheElder commented on #600
hmmm

Related: the entire HA load balancer thing is broken and needs rework :( #588

That said the loadbalancer it is meant to be an implementation detail of "HA", which is why it's not a node type in the config.

kind in general does not currently natively support modifying the cluster after provisioning in general as a complexity tradeoff. The general contract is "create a cluster that looks lik

[2019-06-10 18:59] chuckha commented on #600
Sounds good, appreciate the response! I'll close :) thank you!

[2019-06-10 18:59] #600 closed

[2019-06-10 19:09] BenTheElder commented on #600
Appreciate the understanding :sweat_smile:

We are still tracking #324 which covers a lot of this request FWIW, at some point when things stabilize we should reconsider what is kind and what is kinder :joy:

[2019-06-10 19:41] fabriziopandini commented on #600
@BenTheElder @chuckha this point was raised also when discussing v1alpha3 config proposal in https://github.com/kubernetes-sigs/kind/issues/340#issuecomment-472727491

I'm happy to help in making this happen; it will be really helpful to make accessible also the logic for creating/updating the LB Config that already exists in kind

[2019-06-10 19:45] chuckha commented on #600
It sounds like that proposal is out of scope for the kind project.

I think there is room for a library built around kind providing the features we want without burdening this project with the additional use cases.

[2019-06-11 10:15] aojea commented on #588
I've looked at envoy and I'm afraid it can solve the problem, seems it doesn't have (at least I couldn't find it) the option to do https health checks against the API /healthz endpoint (it does http only using in an TCP . If anybody wants to give a shot this is the configuration

<details><summary>envoy config</summary>
<p>

[code]

</p>
</details>

I think we should go with the 1- 3 options menti

[2019-06-11 10:16] aojea commented on #588
/unassign @aojea

[2019-06-11 16:27] nicks opened #602 "Running an in-cluster image registry on localhost"
**What would you like to be added**:

A lot of local kubernetes solutions let you run an image registry in-cluster, and push images directly to that registry.

You port-forward the registry to localhost:32000, so that images tagged "localhost:32000" get pushed to the in-cluster registry. The cluster is configured to trust images from that registry.

This document from the MicroK8s team has a good

[2019-06-11 16:56] BenTheElder commented on #602
Does it _actually_ make it faster? Note that image loading in docker at least also skips layers that are already loaded.

[2019-06-11 16:59] BenTheElder commented on #602
The biggest problem is docker for mac / windows, where the host won't have access to the node IPs so we'd need additional port forwarding for the registry.

Otherwise, deploying a registry shouldn't be much different on kind than any Kubernetes host, there's just no built in add-ons. 🤔

[2019-06-11 17:09] nicks commented on #602
re: making it faster: here are some numbers on my Linux machine with a warm registry (where i've already pushed the image once, and want to push it a second time)

with KIND:

[code]

with MicroK8s:

[code]

[2019-06-11 17:13] nicks commented on #602
re: port-forwarding: yes! It might not be a lot of engineering work. An end-user can do a lot of this manually. I think the big pieces are:

1) Deploying the registry
2) Configuring the cluster to trust the registry over http and/or setting up the certs (this is the big part I'm not sure how to do)
3) Setting up port-forwarding to the host machine

It might be as simple as documentation on how to

[2019-06-11 17:14] aojea commented on #602
🤔 those layers already exist in the repository

[2019-06-11 17:23] nicks commented on #602
@aojea Yes, I'm interested in "warm" performance where the layers are already in the registry.

The `kind load` numbers I posted above are for the second load. The first load is even slower at about 60s.

Let me know if this is just a misunderstanding, or if there's a reason why you think that's not fair

[2019-06-11 17:28] BenTheElder commented on #602
Thanks for the data, that additional slowness is likely due to https://github.com/kubernetes-sigs/kind/pull/382 not being in yet (so we're still doing an unnecessary `docker save` call).

[2019-06-11 17:29] BenTheElder commented on #602
1.) And 2.) Should be relatively standard.
3.) Well, search for the other open issues here, Good port forwarding UX for kind is trickier than it sounds on Mac / Windows. On Linux none is necessary.

[2019-06-11 18:44] nicks commented on #602
after searching port-forwards -> 😅

ooh, https://github.com/kubernetes-sigs/kind/pull/382 looks exciting, i will check it out and see how it compares! thanks for that PR @aojea , I owe you a beverage!

[2019-06-11 19:36] nicks commented on #602
yes, #382 helps a lot!

[code]

slightly slower than using a registry, but i'll take the bird in the hand.

[2019-06-12 00:38] nicks commented on #602
hmmm...I think using a registry will still be a lot faster in the case where you have two different images that share most of their base layers, right?

[2019-06-12 00:47] BenTheElder commented on #602
It might be a lot faster with lots of nodes or frequently reusing a layer but not the whole image purely because of the save side of the operation on the host, the load side is layer based internally and skips existing layers.

[2019-06-12 00:53] BenTheElder commented on #602
A guide for doing this would be a nice addition to the docs.
/help

[2019-06-12 01:07] BenTheElder commented on #109
/remove-lifecycle stale

[2019-06-12 03:18] howardjohn commented on #577
for what it's worth I run Istio on kind all the time without issues, so it isn't an Envoy issue (Istio uses envoy)

[2019-06-12 06:41] aojea commented on #577
well, don't get me wrong 😅 , I mean a misconfiguration or something similar in one of the endpoints used in the envoy config

[code]

[2019-06-12 20:40] BenTheElder opened #607 "log exporting hangs if a node is not running"
**What happened**: `kind export logs` hangs indefinitely when run against a cluster with a non-running node container

**What you expected to happen**: kind commands should not hang indefinitely

**How to reproduce it (as minimally and precisely as possible)**: `kind create cluster && docker stop kind-control-plane && kind export logs`

**Anything else we need to know?**: @aojea found the root cau

[2019-06-12 20:40] BenTheElder commented on #607
https://github.com/kubernetes-sigs/kind/pull/606/files includes a fix but also many other changes, some unnecessary. sending a hotfix first.

[2019-06-12 21:06] #607 closed

[2019-06-12 22:06] #111 closed

[2019-06-12 22:08] BenTheElder commented on #566
https://github.com/kubernetes-sigs/kind/pull/478 adds an equivilant to https://github.com/kubernetes-sigs/kind/issues/566#issuecomment-496516602 :sweat_smile:

[2019-06-12 22:08] #566 closed

[2019-06-12 22:09] BenTheElder commented on #111
`kind get kubeconfig --internal > internal-kubeconfig`  after https://github.com/kubernetes-sigs/kind/pull/478

[2019-06-13 06:49] aojea opened #611 "Automate the release process"
**What would you like to be added**:

Kubernetes has an automated release process defined in https://github.com/kubernetes/release/blob/master/docs/release-notes.md , I think that `kind` can use the same model.

**Why is this needed**:

The more automation the less human work :-)

[2019-06-13 06:56] BenTheElder commented on #611
/shrug
PR templates are a good idea, but I'm not a fan of automated release notes. It's important to explain and categorize changes etc.

Kubernetes has much more of a scaling problem and as a result also has the release notes browsing tool 😅

[2019-06-13 07:00] aojea commented on #611
that's fair enough 😄

[2019-06-13 07:00] #611 closed

[2019-06-13 18:30] BenTheElder commented on #109
/assign
xref: https://github.com/kubernetes-sigs/kind/issues/176 which will make this not so bad for users of other libraries, it will be possible to wire up an alternative
/lifecycle active

[2019-06-13 18:30] BenTheElder commented on #176
/assign
/lifecycle active

[2019-06-13 20:06] joejulian commented on #607
:tada:

[2019-06-14 00:14] neolit123 commented on #588
can't seem to reproduce the problem after the workaround in https://github.com/kubernetes/kubernetes/pull/78915
cc @ereslibre

the issue of CM retries is now tracked in https://github.com/kubernetes/kubeadm/issues/1606

[2019-06-14 05:42] aojea commented on #588
Thanks @neolit123 and @ereslibre , that's awesome
Should we close if jobs are stable during some days?

[2019-06-14 08:26] ereslibre commented on #588
I'll defer this decision to others. However, in my opinion, the workaround included in kubeadm was to save the situation for flakiness temporarily, and is meant to be reverted as far as we have discussed.

Ideally, during the 1.16 cycle we should be able to understand the source(s) of problems for concurrent joins and as a result of these investigations it could happen that they circle back to kin

[2019-06-14 10:35] aojea commented on #63
@mitar does this solve this issue https://github.com/kubernetes-sigs/kind/pull/572 ?

[2019-06-14 17:20] BenTheElder commented on #63
I meant to close this when https://github.com/kubernetes-sigs/kind/pull/572 merged.
/close

[2019-06-14 17:20] #63 closed

[2019-06-14 17:32] BenTheElder commented on #588
NOTE: kubespray also has a mode with an internal nginx LB...

[2019-06-14 18:50] mitar commented on #63
Awesome!

[2019-06-14 23:08] aojea commented on #588
/assign @aojea

I was talking today about this with @ereslibre , despite all the issues, one fact is that the API server is advertising the correct status in the `healthz` endpoint, and that's info that the LB should honor.

After trying different LBs seems that the only open source LB that allows to do health checks on an HTTPS endpoint and HTTPS passthrough load balancing are:
* haproxy, we have

[2019-06-16 16:37] tao12345666333 commented on #154
/remove-lifecycle stale

[2019-06-17 06:24] TheErk opened #619 "Cannot start kind cluster in gitlab CI: docker: Error response from daemon: oci runtime error"
**What happened**:
Use kind in a gitlab CI runner to create a k8s cluster.
KInd fails to start either control-plane or worker and ends up with:
`docker run error: exit status 125` in each case (see below).

**What you expected to happen**:

kind shall be able to create and start a cluster in the context of the gitlab job.

**How to reproduce it (as minimally and precisely as possible)**:

Try to d

[2019-06-17 06:27] aojea commented on #619
This user reported that he was able to get `kind` working with Gitlab, https://github.com/kubernetes-sigs/kind/issues/52#issuecomment-426550163, please check if that works for you and give feedback

[2019-06-17 06:29] TheErk opened #620 "document how to use a kind image as gitlab service"
**What would you like to be added**:

Would it be possible to explain/support the usage of a kind image that enables the use
of kind as a gitlab service: https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#what-is-a-service

**Why is this needed**:

It would ease the use of kind in order to do simple in gitlab CI tests of k8s usage.

[2019-06-17 06:31] TheErk commented on #620
This is linked to the usage describe in #619

[2019-06-17 06:33] paranoidaditya commented on #522
👋

I added the autocompletion subcommand.

If you run kind completion

 `
Outputs kind shell completion for the given shell (bash or zsh)
This depends on the bash-completion binary.  Example installation instructions:
# for bash users
	$ kind completion bash > ~/.kind-completion
	$ source ~/.kind-completion
# for zsh users
	% kind completion zsh > /usr/local/share/zsh/site-functions/_kind
	% autol

[2019-06-17 06:33] TheErk commented on #619
Sure I'll check that and come back here. Thank you for the reference.

[2019-06-17 09:45] BenTheElder commented on #619
I'm pretty sure the cluster name is far too long.

[2019-06-17 09:50] BenTheElder commented on #620
This should probably go against https://github.com/kind-ci/examples.

kind works anywhere docker works properly + you can get the static binary so we don't publish images like this currently.

Note that gitlab will not have a free tier for CI soon, so after September we are exceedingly unlikely to do any support from the examples repo... https://about.gitlab.com/2019/03/21/six-more-months-ci-cd-gi

[2019-06-17 09:51] BenTheElder commented on #620
/priority backlog

[2019-06-17 09:54] alisondy commented on #88
soon ✨
Also working on this now

[2019-06-17 10:05] TheErk commented on #620
Ok I see your point.
Our use case was in our privately hosted gitlab CI, but that use case I guess we could go along either with bringing the kind binary into our job image or craft such a service image ourselves.
Thank you for the fast answer.

[2019-06-17 10:05] alisondy commented on #88
Things that need to be done
[ ] release binaries in zips, Homebrew is picky... see [here](https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md)
[ ] writing formulae
[ ] testing formulae
[ ] Document usage

[2019-06-17 10:08] BenTheElder commented on #620
👍

An example for gitlab in the CI examples repo would be awesome, I don't think we'll be able to maintain it easily though. I don't have access to a paid gitlab and the free CI is going away 😬

[2019-06-17 10:17] janwillies commented on #148
I created a cluster with `kind create cluster` but `docker stop kind-control-plane && docker start kind-control-plane` results in:

[code]

[2019-06-17 10:37] alisondy commented on #88
Forked homebrew, you can find the cask I'm working on [here](https://github.com/alisondy/homebrew-cask/tree/kind-cask)

[2019-06-17 14:05] twuttk opened #621 "Kind pods in kube-system namespace are being restarted every 30s and are using wrong namespace when run within a k8s based jenkins pipeline"
Hi,

we are currently trying to get kind running in our jenkins CI which in turn is running in kubernetes. It's basically kubernetes in docker in jenkins in kubernetes.

**What happened**:
Cluster creation with kind finishes without errors and (after setting kubeconfig) "kubectl cluster-info" returns

[code]

This seems to be fine. It's not possible to do anything with the cluster though as all co

[2019-06-17 14:10] armab opened #622 "Official Helm chart 'mongodb-replicaset' fails in KinD due to PersistentStorage issues (dir write)"
**What happened**:
Installation of official https://github.com/helm/charts/tree/master/stable/mongodb-replicaset Helm chart fails due to storage-related issues. Note that Persistent Volumes are used.

**What you expected to happen**:
`mongodb-replicaset` Helm chart should work out of the box, as it works in production or in minikube (incl. docker driver).

**How to reproduce it (as minimally and p

[2019-06-17 17:34] BenTheElder commented on #622
See also #118.

The out of the box provisioner is the kubernetes built in hostpath provisioner which is not great. We'd love a better one but we need to get something multi-node aware and multi-architecture.

[2019-06-17 18:08] zegl commented on #88
@alisondy Isn't "casks" only used for applications that are installed into `/Applications`? Binary applications can go into [`homebrew-core`](https://github.com/Homebrew/homebrew-core/).

[2019-06-17 18:38] BenTheElder commented on #588
The [standard docs](https://hub.docker.com/_/haproxy/) show adding your config to the image. You can put a dummy config. If we boot a sleep then restart doesn't work properly.

- add a dummy config to our custom image kindest/haproxy
- rewrite the config at runtime by writing it into the container
- use SIGHUP to reload the config

we actually had this working at one point already :-)

[2019-06-17 20:01] BenTheElder commented on #621
kind is not responsible for creating namespaces? you'll need to create these yourself

[2019-06-17 20:03] BenTheElder commented on #621
can you show the logs?

also note: to run successfully on kubernetes in docker in docker see #303

[2019-06-17 20:08] BenTheElder commented on #619
Can confirm: `kind-tests_with_k8s_in_CI-23900eb40c5416e47c0a9c0e3850451d52a7f43c` is the problem, that name is too long to set the hostname.

The nodes will be named roughly `${CLUSTER_NAME}-${NODE_ROLE}${NODE_ROLE_COUNT}`. Cluster names will need to be shorter or we'll have to not let the hostname match the container name.

Realistically long container names also do not work out well, there are u

[2019-06-17 20:10] BenTheElder opened #623 "kind should warn on cluster names that are likely to long to succeed"
**What would you like to be added**: kind should detect `--name` inputs that are too long (https://github.com/kubernetes-sigs/kind/issues/619) and warn the user that this will likely fail.

**Why is this needed**: To make the root cause easier to identify. These _may_ succeed depending on the host, docker version etc. so instead of trying to set a hard limit I think we can just warn on likely limi

[2019-06-17 20:13] BenTheElder commented on #619
[code]

[2019-06-17 20:16] amwat commented on #623
/assign
/lifecycle active

[2019-06-17 20:33] BenTheElder commented on #148
Thanks for the data point @janwillies. This is definitely not actually supported properly (yet?) and would/will require a number of fixes, some of which are in progress. In the mean time we've continued to push to make it cheaper to create / delete and test with clean clusters. When 0.4 releases we expect kubernetes 1.14.X to start in ~20s if the image is warm locally.

[2019-06-17 20:35] BenTheElder commented on #522
Thanks @paranoidaditya ! :-)

[2019-06-17 23:35] BenTheElder commented on #623
fixed in https://github.com/kubernetes-sigs/kind/pull/624

[2019-06-17 23:35] #623 closed

[2019-06-17 23:35] BenTheElder commented on #619
after https://github.com/kubernetes-sigs/kind/pull/624 we'll be warning on names that are too long

[2019-06-18 00:39] BenTheElder commented on #621
This observation is not quite correct, `kubectl describe po kube-proxy-q49wq` is missing `--namespace=kube-system`, which is why it can't see the pod. The pod isn't using the `jenkins namespace`, your kubectl is configured with `jenkins` as the default namespace, probably due to default access to the outer cluster and the pod running in this namespace. https://kubernetes.io/docs/tasks/access-appli

[2019-06-18 00:42] BenTheElder commented on #621
I'm inclined to mark this as a duplicate of #303 with regards to issues running in a Kubernetes Pod.

The namespaces issue might be worth documenting somewhere, but isn't really specific to kind. If you span up a cluster in the cloud or any other cluster deployment tool via your Jenkins pod you'd see the same kubectl behavior. :grimacing: This is working as intended from the point of view of the o

[2019-06-18 00:53] BenTheElder commented on #622
I don't use helm so I'm having some difficulty figuring out what the default settings are, does this container run as a non-root user? the Kubernetes `hostPath` provisioner has some limitations. (see: https://unofficial-kubernetes.readthedocs.io/en/latest/concepts/storage/volumes/#hostpath)

#118 tracks intention to switch at some point once we have a good portable solution (we need to do multi-ar

[2019-06-18 06:32] twuttk commented on #621
Hi, thanks for pointing me to #303. Is there any way to solve this without having to access host directories via hostpath?

[2019-06-18 06:51] BenTheElder commented on #621
I haven't found one yet. In particular you really do want the host's modules to be picked up by some things and you want the first docker in docker to get the host's cgroups mounts. It might be possible to work out without those but once we're running privileged pods we sorta treat that node as insecure and move on... 😬

[2019-06-18 06:52] BenTheElder commented on #621
Those mounts should be on the dind container fwiw.

[2019-06-18 07:15] twuttk commented on #621
Yeah, I got it running fine now in a minkube setup, not sure how to handle the hostpath issue, but that has nothing do to with kind. Thanks for your help :)

[2019-06-18 07:15] #621 closed

[2019-06-18 07:24] TheErk commented on #619
I can confirm that the too long name was the reason of my issue.
As you guessed I was inadvertently lying when I said that it was working outside CI, the culprit was our name mangling scheme for the cluster in CI. We wanted to have unique cluster name in CI but now that I think about it I'm not even sure it's necessary since we run kind in a specific runner so I am not sure there can be a name cla

[2019-06-18 07:24] #619 closed

[2019-06-18 07:58] fedepaol opened #625 "Cluster not starting with DIND setup"
**What happened**:
Kind 0.3.0 cluster not starting on prow with k8s test images and docker in docker enabled.
Kind 0.2.1 works fine.
We are running our CI in a prow cluster, using `cr.io/k8s-testimages/bootstrap:latest` as base image with dind enabled.
The cluster does not start.

**What you expected to happen**:
The cluster to be up & running.

**How to reproduce it (as minimally and precisely as

[2019-06-18 11:55] BenTheElder commented on #625
Note #303, we run our official CI on a Prow cluster with that image 😅

[2019-06-18 11:58] fedepaol commented on #625
Nice, I'll try to add the mounts and see if it works! Thanks!

[2019-06-18 12:13] i3oc9i opened #626 "Kind fails to creates pods when IPV6 is disabled in the host"
**What happened**:

Kind fails to creates pods when IPV6 is disabled in the UBUNTU 18.04  kernel of the host system.

[code]
`kubectl -n kube-system describe pod/coredns-...` reports the following event.
[code]
**HACK** Removing  the ` {"dst": "::/0"}` route request in the `/etc/cni/net.d/10-kindnet.conflist` file solves the issue.

[code]

**What you expected to happen**

When IPV6 is not availab

[2019-06-18 13:27] BenTheElder commented on #626
/assign
The other work around is to use a kind config file and disable the built-in CNI, but it absolutely should work in this case. We'll fix this.

[2019-06-18 15:03] TheErk commented on #52
After fixing the cluster name issue from #619 I think I hit the same issue.
In my CI get:
[code]

I am not so sure to understand in *which* container `/var/lib/docker` must be specified as a volume?
Is it the one I use as image for my gitlab job?

Since this issue is quite old now is there some bits of docs about that?

[2019-06-18 17:21] aojea commented on #380
/remove-lifecycle stale

[2019-06-19 01:00] amwat commented on #525
/assign
/remove-help

[2019-06-19 10:31] TheErk opened #630 "Kind cluster inside gitlab seems unreachable"
**What happened**:

Use kind inside a gitlab CI runner.
The cluster is created fine but I  cannot use it after creation

`kubectl cluster-info`

spit out

[code]

**What you expected to happen**:

Create an in-CI cluster and populate the k8s cluster as usual.

**How to reproduce it (as minimally and precisely as possible)**:

Start a gitlab CI job with kind inside.
Create a kind cluster:
[code]

T

[2019-06-19 17:12] BenTheElder commented on #630
What gitlab CI runner?

This is almost definitely because the cluster binds to localhost by default (for security reasons) and the localhost is somewhere other than where your kubectl binary is running.

The solution to this is to either change your setup so that this is not true, or to configure the kind apiServerListenAddress in the config

[2019-06-19 17:16] BenTheElder commented on #52
@TheErk to run docker in docker that path must be a volume in the container you run docker in.

There are no docs for this because we don't have any gitlab CI and nobody has contributed any 😅

As mentioned previously, any contributions tohttps://github.com/kind-ci/examples would also be extremely welcome, we aim to eventually have starter configs etc. for use everywhere..

[2019-06-19 17:20] BenTheElder commented on #620
I think the only core contributor using gitlab CI is @munnerz and I'm pretty sure only with the Kubernetes executor. We'll want external help for documenting this one.
/help

[2019-06-19 17:21] BenTheElder commented on #52
xref: https://github.com/kubernetes-sigs/kind/issues/620#issuecomment-503652473

[2019-06-19 22:14] BenTheElder opened #631 "gracefully detect <= kubernetes v1.12 nodes for secondary control plane and fail"
**What would you like to be added**: `kubeadm join --control-plane` (IE "HA") only exists for v 1.12+. if the node image for any secondary control plane nodes (possibly the primary too?) is using a lower version of kubernetes we should detect this.

**Why is this needed**: To give a more understandable error to the user rather than the join failing.

[2019-06-19 23:13] armab commented on #622
I've updated first message to include Helm installation.

Thanks for the pointers about `hostPath` limitations, it explains everything now:

[2019-06-19 23:15] BenTheElder commented on #622
I believe rancher/local-path-provisioner doesn't have this problem (it modifies the directory) but isn't quite ready to ship with kind by default, deploying it and replacing the default storage class with that might resolve your issue.

We may follow up on that or ship something similar...

[2019-06-19 23:19] armab commented on #622
I've tried `rancher/local-path-provisioner` and confirming it works.

As @yasker mentioned in https://github.com/kubernetes-sigs/kind/issues/118#issuecomment-467222985 Minikube's own provisioner for hostpath sets `0777` on volume dir to workaround this.

Seems `rancher/local-path-provisioner` does similar thing: https://github.com/rancher/local-path-provisioner/blob/562d008d04df0f08cfd17d9f2c6f3ac

[2019-06-19 23:26] armab commented on #118
Just a relevant heads up here, switching to `rancher/local-path-provisioner` as default will fix https://github.com/kubernetes-sigs/kind/issues/622 when some official Helm charts failed to work in `KinD` with existing `hostPath` due to its limitations like volume/directory write permissions.

[2019-06-19 23:36] BenTheElder commented on #622
Thanks!

If we were to switch first we basically we need to ensure:
-  That it can be bundled to work offline (by default it uses unnecessary additional images like alpine, I think you can configure this now per previous suggestion)
- It needs to support ARM/PPC images (last I checked it only had amd64) otherwise it would be the first thing we introduce to actively break that, there is some kind C

[2019-06-20 02:32] alisondy commented on #88
didn't know that, thank you for pointing that out, will check that out

[2019-06-20 03:02] kaleocheng commented on #88
@alisondy you can follow the kubectl release in https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-cli.rb

[2019-06-20 08:08] TheErk commented on #630
Currently we use: gitlab/gitlab-runner:alpine-v10.7.0.
I think I see, let's suppose I find the context in which kubectl is running.
Where can I find documentation on how to specify apiServerListenAddress in my yaml config for kind?

[2019-06-20 08:10] TheErk commented on #620
Once I'll manage to find a proper configuration working (kind and gitlab) I'll definitely post something here in order to share with others.

[2019-06-20 08:29] aojea commented on #630
just Ben replied in slack to this 😄

[code]

[2019-06-20 09:05] TheErk commented on #630
Thanks @aojea I've just joined k8s slack, I'll try to find my way in all those channels.
Nice for #478 how can I monitor the next kind release that will ship this?

[2019-06-20 10:45] neolit123 commented on #631
in 1.14 and >= 1.12 it's `join --experimental-control-plane` in 1.15 it's `--control-plane` and `--experimental-control-plane` is deprecated and will be removed in 1.16.
this is following the existing k8s alpha->beta graduation process for flags.

[2019-06-20 13:26] aojea opened #634 "Add CI job to test single node clusters"
**What would you like to be added**:

I´d like to add a job that tests single node clusters in current `kind` CI

**Why is this needed**:

Single node clusters have different characteristics than the multi node ones and seem that is started to be used more in the CI based on the slack channel comments.
We have to test them independently because we had a bug that was not found with current CI jobs.

[2019-06-20 14:39] neolit123 commented on #634
The single node will need to run only parallel tests. Currently if you run
serial there is a daemonset test under sig apps that needs multinode. Also
the node needs to allow workloads by removing the master taint.
On Jun 20, 2019 16:26, "Antonio Ojea" <notifications@github.com> wrote:

[2019-06-20 14:43] neolit123 commented on #634
Frankly the serial vs parallel situation is unstable wrt to single node
conformance. Afaik the idea was that single node should not be conformant
at all, but i cant fetch the discussion link right now.
On Jun 20, 2019 17:39, "Lubomir I. Ivanov" <neolit123@gmail.com> wrote:

The single node will need to run only parallel tests. Currently if you run
serial there is a daemonset test under sig apps th

[2019-06-20 14:55] aojea commented on #634
let me expand on the goal, I didn´t mean to run the full conformance suite, is just to guarantee that the single node cluster has at least a smoke test, there are some issue that users are hitting that could´ve been avoided if we have this job

[2019-06-20 16:47] BenTheElder commented on #634
So we're already not running the serial tests in presubmit for performance reasons. Note that this is generally true in the main repo as well.

We're also not trying to test conformance in the kind repo, that's just a convenient selector for reasonable tests. We'll want to expand that out soon.

[2019-06-20 20:22] BenTheElder commented on #630
we are currently tracking release efforts with github milestones. the next release is tentatively slated to be by the 24th but we have a little flexibility. In particular still aiming to land the initial ipv6 support.

https://github.com/kubernetes-sigs/kind/milestone/6

[2019-06-20 20:23] BenTheElder commented on #631
thanks, we should probably have another issue to track that specifically.

[2019-06-20 20:24] BenTheElder commented on #273
This turned out to have a few more issues that we expected due to non-default docker networks having different behavior. This may slip to 0.5 as we're nearing the 0.4 release, but it's definitely something we want.

[2019-06-20 20:26] BenTheElder commented on #381
punting to 0.5, 0.4 is focused primarily on networking enhancements / fixes, general bugs / cleanup / minor features, and initial IPv6 support.

[2019-06-21 08:51] aojea commented on #626
/assign @aojea

[2019-06-21 15:29] fedepaol commented on #625
Not working :-(
If I understood correctly @BenTheElder suggestion, I should mount `/lib/modules`  and  `/sys/fs/cgroup` in the container.

I run as follows but still getting the same error:

[code]

Docker is pretty recent (18.09.6), the os where I run the container from is a Fedora 30

[2019-06-21 17:00] BenTheElder commented on #361
Going to close this one out as an upstream issue being worked on there 😅

[2019-06-21 17:00] #361 closed

[2019-06-21 17:00] aojea commented on #39
@BenTheElder please add a check for IPv6 if IPfamily with IPv6 to the list😅
 it took me 30 mins to realize it was failing because the docker daemon didn´t have IPv6 enabled

[2019-06-21 17:53] fllaca commented on #99
Hi all, I'll leave my two cents here. Why not using an `ExtraPortMappings` config in a similar way that we currently do for volume mounts (https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/internal/create/nodes.go#L186). This way the user can specify a kind cluster config like this:

[code]

This would translate the port mappings into `-p <hostPort>:<containerPort` args for the `dock

[2019-06-21 17:57] BenTheElder commented on #99
basically this is what we discussed at the last meeting, in addition with
needing user specified labels & taints on nodes (so you can identify nodes
you added this to for multi-node).

expect this in the v0.5.0 timeframe probably, we have a lot of other
changes related to networking in flight at the moment (see the open PRs, a
few of them are doozies)

On Fri, Jun 21, 2019 at 10:53 AM Fernando Lla

[2019-06-21 17:58] BenTheElder commented on #99
er and v0.4.0 is due ~Monday with the last IPv6 PR outstanding still in particular..

[2019-06-21 18:37] fllaca commented on #99
thanks @BenTheElder ! If a have the time :crossed_fingers:  I can try to craft a PR with an implementation of that ports mapping config to help a little

[2019-06-21 19:34] BenTheElder commented on #276
https://github.com/kubernetes-sigs/cluster-api-provider-docker/ is now a thing :eyes:

[2019-06-21 19:35] BenTheElder commented on #276
https://github.com/kubernetes/kubeadm/tree/master/kinder is also using some bits along these lines.

I think we're far enough away from this original issue now though to follow up in future issues.

[2019-06-21 19:35] #276 closed

[2019-06-21 20:42] #280 closed

[2019-06-21 20:47] BenTheElder commented on #280
The v0.4.0 release will have this!

[2019-06-22 23:55] fllaca commented on #99
@BenTheElder I have opened this PR https://github.com/kubernetes-sigs/kind/pull/637 with a first implementation of https://github.com/kubernetes-sigs/kind/issues/99#issuecomment-504515064

[2019-06-23 00:23] carlisia commented on #148
I would like to add two things:

Running `docker start minio-demo-control-plane && docker exec minio-demo-control-plane sh -c 'mount -o remount,ro /sys; kill -USR1 1'` worked for me 👍

Please add `restart`.

[2019-06-23 02:03] BenTheElder commented on #148
On a recent version ( >= 0.3.0) it should just be `docker start <node-name>`. The rest is handled in the entrypoint.

We'd like to, but it's not quite this simple to do correctly. 🙃 That snippet doesn't work for multi-node clusters (see previous discussion around IP allocation etc.). For single node clusters currently it would just be an alias to `docker start $NODE_NAME`. It's being worked on but

[2019-06-23 06:24] alexeadem opened #638 "go get: inconsistent versions: when trying to install"
**What happened**:

GO111MODULE="on" go get sigs.k8s.io/kind@v0.3.0
go get: inconsistent versions:

**What you expected to happen**:
Expected to install

**How to reproduce it (as minimally and precisely as possible)**:
GO111MODULE="on" go get sigs.k8s.io/kind@v0.3.0
go get: inconsistent versions

**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`):
- Kubern

[2019-06-23 07:36] alexeadem commented on #638
Got it working by running cloning the repo and running:

make build

[2019-06-23 09:26] BenTheElder commented on #638
The make build uses go in a container, this suggests that your go on the host is too old to support modules. All officially supported versions of go support modules (and the most recent unsupported version).

What does `go version` give?

[2019-06-23 12:28] neolit123 opened #639 "the hardcoded CNI manifest fails to apply against current k/k master"
**What happened**:
in the current k/k master `extensions/v1beta1` is going away for DaemonSets:
https://github.com/kubernetes/kubernetes/pull/70672

this broke applying our hardcoded CNI manifest:
https://github.com/kubernetes-sigs/kind/blob/6110fdc6af652e25c6e9cc3b7eb50e5546141743/pkg/build/node/cni.go#L165
https://k8s-testgrid.appspot.com/sig-testing-kind#conformance,%20master%20(dev)

i can try

[2019-06-23 12:30] neolit123 commented on #639
/assign
/priority critical-urgent

[2019-06-23 13:31] omerlh opened #640 "Release 1.15 node images"
**What would you like to be added**:
Kubernetes 1.15 was released last week, I'll be happy to run kind clusters with this version

**Why is this needed**:
Local evaluation of this version, testing etc

[2019-06-23 14:21] aojea commented on #639
We are safe in the sense that the `disableCNI` option is there, I mean, all versions can choose to disable the CNI and add an extra step to set it up.

Ben demonstrates to have a great vision 🥇

[2019-06-23 14:36] aojea commented on #639
It seems that we only need to do this change
[code]

[2019-06-23 16:16] aojea commented on #639
/assign @aojea
This https://github.com/kubernetes-sigs/kind/pull/641 fixes the problem

[2019-06-23 16:42] tao12345666333 commented on #148
@carlisia As Ben said, we still recommend ephemeral clusters.

#408 is processing the command to add restart command, but before that, we need to deal with some network related issues #484

[2019-06-23 16:48] tao12345666333 commented on #148
I am still trying to find out if there is a better way to improve #484 :cat:

[2019-06-23 17:23] BenTheElder commented on #640
You can run kind clusters now by building an image (see the docs). We'll be releasing some prebuilt images to go with the 0.4 release.

[2019-06-23 17:38] BenTheElder commented on #639
apps/v1 exists in all supported kind versions, we just shouldn't have used extensions the switch should solve this.

this could still bite us someday, will think about this some more...

[2019-06-23 17:40] BenTheElder commented on #639
we should also look at:
- getting more tests running under kind (expand scope beyond conformance)
- making kind a default (though non-blocking initially) kubernetes presubmit ... there's been a lot of talk about doing this from SIG Testing / SIG Cluster Lifecycle, we should probably at least look at  running it.

[2019-06-23 18:11] #639 closed

[2019-06-23 18:36] aojea commented on #639
I think we should start adding some periodic tests with a bigger scope
+1 to kubernetes presubmit

[2019-06-23 19:51] neolit123 commented on #639
please LGTM this PR for the kubeadm/kind jobs:
https://github.com/kubernetes/test-infra/pull/13133

[2019-06-23 19:52] neolit123 commented on #639
also thanks for fixing the problem in https://github.com/kubernetes-sigs/kind/pull/641 @aojea
i had to go AFK.

[2019-06-23 20:23] carlisia opened #643 "Unknown certificate error"
**What happened**:
A newly created cluster will have

**What you expected to happen**:
For the cluster to allow me to access it

**How to reproduce it (as minimally and precisely as possible)**:
- Install kind
- Create a cluster
- Try to access the `kind` localserver
- Get:

[code]

**Anything else we need to know?**:
Output of `k cluster-info dump | grep error `:

[code]

**Environment:**

- kind

[2019-06-23 20:27] BenTheElder commented on #643
Are you following the `export KUBECONFIG=$(kind get kubeconfig-path --name=...)` output from `kind create cluster`?

I'm not sure if we should be allowing anonymous access by default, I think we're just following kubeadm on that front.

[2019-06-23 20:30] carlisia commented on #643
[code]

[2019-06-23 20:31] carlisia commented on #643
How am I enabling anonymous access? I'm not trying to do this on purpose, not sure what's misconfigured.

[2019-06-23 20:32] BenTheElder commented on #643
er not that you are, that kind / kubeadm is not, and this part:

suggests that whatever made this API call is trying to use anonymous access.

[2019-06-23 20:32] carlisia commented on #643
[code]

[2019-06-23 20:33] neolit123 commented on #643
observation: the default k8s version for kind v0.3.0 should be 1.14.2 and not 1.14.1.

was `kind create cluster` called with `--name "development"`?

[2019-06-23 20:34] carlisia commented on #643
Ok so maybe I shouldn't be making that call. I was just poking around.

The concern is the output of the `kubectl cluster-info dump`

[2019-06-23 20:34] carlisia commented on #643
Yes

[2019-06-23 20:41] neolit123 commented on #643
i can't seem to reproduce the problem. also tried applying a crd.
[code]

please clarify what operations you are trying to perform.

why is this version 1.14.1 and not 1.14.2 which kind 0.3.0 should use by default?

/priority awaiting-more-evidence

[2019-06-23 20:42] carlisia commented on #643
I'll update kubernetes now and see.

[2019-06-23 20:44] neolit123 commented on #643
unless you are calling `kind build node-image` you don't have to.

`kind create cluster` for 0.3.0 should use `kindest/node:v1.14.2`

what is the output of your `kind create cluster` command?

[2019-06-23 20:46] carlisia commented on #643
[code]

[2019-06-23 20:47] neolit123 commented on #643
it's using `✓ Ensuring node image (kindest/node:v1.14.2) 🖼` which is a prebuilt node image.
so updating kubernetes/kubernetes will have no effect.

[2019-06-23 20:49] neolit123 commented on #643
the node-image is used to create a container that will host a kubernetes node with docker.
the node can be e.g a control-plane or a worker.

[2019-06-23 20:56] carlisia commented on #643
I can create a CRD, but then it isn't there?

[code]

[2019-06-23 20:58] carlisia commented on #643
[code]

[2019-06-23 21:07] BenTheElder commented on #643
this is expected and ignorable, unfortunately I'm not aware of any way to silence it. *

\* we make /sys read only so your node containers don't muck with things they shouldn't on the host.

have not been able to replicate this yet, but if it's just happening during startup it's probably not an issue, the connections etc. on startup are fairly racy, that's just Kubernetes 😬, should sort itself out

[2019-06-23 21:09] BenTheElder commented on #643
so this part of your output:

[code]
... suggests that no CRDs were created? https://github.com/heptio/velero/blob/master/examples/minio/00-minio-deployment.yaml also does not contain any CRDs

[2019-06-23 21:09] carlisia commented on #643
How about the `is forbidden` error? Is this expected?

[2019-06-23 21:14] neolit123 commented on #643
`kubectl cluster-info dump` can return a number of errors until the control plane is properly up.

[2019-06-23 21:16] carlisia commented on #643
Got it. So, it's been up for a while, and now I'm back at having the unknown certificate TLS error.

[2019-06-23 21:16] carlisia commented on #643
`unknown certificate authority` ring any bell?

[2019-06-23 21:18] carlisia commented on #643
Ohhh. Is it trying to use the internet to validate the certificate authority? If so, then that's what the problem is (probably).

[2019-06-23 21:24] neolit123 commented on #643
i wouldn't look at `cluster-info dump`.
are getting errors during `kubectl apply` or by examining the resources them self?

[2019-06-23 21:25] carlisia commented on #643
See this: https://github.com/kubernetes-sigs/kind/issues/643#issuecomment-504786303

I can create a CRD, but then it's not found.

[2019-06-23 21:26] neolit123 commented on #643
but the applied YAML does not have any CRDs?
https://github.com/heptio/velero/blob/master/examples/minio/00-minio-deployment.yaml

[2019-06-23 21:30] carlisia commented on #643
Gosh. You're right. So maybe my cluster has been working properly this whole time.

[2019-06-23 21:31] neolit123 commented on #643
i'm 100% what minio ism but the service should be up after you apply that manifest:
`kubectl get services -n velero`

[2019-06-23 21:35] carlisia commented on #643
After facepalming myself for a minute, I remembered how this started. I tried to apply that yaml (the minio svc, not a CRD - my bad) and was getting a response saying `unauthorized`. So I started poking around and got alarmed with the outputs I pasted (which were irrelevant).

Obviously I'm not getting the `unauthorized` anymore since I was able to create the service.

I super appreciate you tryin

[2019-06-23 21:35] #643 closed

[2019-06-23 21:35] neolit123 commented on #643
no problem, glad we were able to resolve this.

[2019-06-23 22:57] BenTheElder commented on #643
thanks everyone! :-)

[2019-06-24 06:18] omerlh commented on #640
Thanks, I'll do that.

[2019-06-24 19:09] BenTheElder commented on #588
https://github.com/kubernetes-sigs/kind/pull/645 implemented haproxy with healthchecks per https://github.com/kubernetes-sigs/kind/issues/588#issuecomment-502802012

[2019-06-24 19:46] #525 closed

[2019-06-24 20:57] BenTheElder commented on #638
I don't think we can direclty support go this old, none of the kubernetes code does, however we offer the `make` route that only needs docker / POSIX to work.

[2019-06-24 20:57] #638 closed

[2019-06-24 21:06] BenTheElder commented on #626
#633 is now in, 0.4 releasing ~later today will contain image(s) with this fix.

[2019-06-24 21:06] #626 closed

[2019-06-24 21:17] BenTheElder commented on #625
@fedepaol does this match your pod config fully? you need to have a volume mounted at `/docker-graph` (remapped /var/lib/docker for legacy reasons, the test-infra "bootstrap" image is full of cruft like that)

I see no issues with the following:

[code]
NOTE:
- downloading the kind binary instead of installing go and then `go get`ing to save time
- using `--tmpfs /docker-graph` to lazily simulate

[2019-06-24 21:22] BenTheElder commented on #625
similarly no issues with the following

to sort of simulate an empty dir:
`docker volume create fede`
simulate the pod:
`docker run --privileged --rm -it -e DOCKER_IN_DOCKER_ENABLED="true" -v /lib/modules:/lib/modules -v /sys/fs/cgroup:/sys/fs/cgroup -v $(pwd):/workspace -v fede:/docker-graph --entrypoint /usr/local/bin/runner.sh gcr.io/k8s-testimages/bootstrap:latest bash -c "wget https://github.

[2019-06-24 21:43] BenTheElder commented on #588
so far I haven't gotten it to flake, still "soak testing" this locally :upside_down_face:

[2019-06-24 21:49] neolit123 commented on #588
https://github.com/kubernetes-sigs/kind/issues/588#issuecomment-501922740

if using k/k from master our workaround in https://github.com/kubernetes/kubernetes/pull/78915 might be kicking in.

[2019-06-24 21:55] neolit123 commented on #588
given https://github.com/kubernetes-sigs/kind/pull/645 merged, we can locally revert https://github.com/kubernetes/kubernetes/pull/78915 and test again for flakes.

but this issue can also be closed as kind is now doing what is needed (e.g. use ha-proxy)?

[2019-06-24 21:56] ereslibre commented on #588
@neolit123 absolutely, I will start investigating on my spare time. Will ping you back with my findings.

[2019-06-24 22:00] BenTheElder commented on #588
I'm testing with v1.14.2 currently. (the default image until we bump it... about to do that)

[2019-06-24 22:01] BenTheElder commented on #588
[code]

[2019-06-24 22:01] BenTheElder commented on #588
I think we can close now, please re-open or file a new issue if you see further problems!
Thanks everyone!

[2019-06-24 22:01] #588 closed

[2019-06-24 22:01] nicks commented on #602
I put together a small proof of concept on how to do this:
https://github.com/windmilleng/kind-local

It's not super robust, but all the pieces are there.

[2019-06-24 22:07] BenTheElder commented on #602
Thanks! looks like we'll need #110, soon we'll have port forwards to the host that could help get traffic to the registry from mac etc.

[2019-06-24 22:13] BenTheElder commented on #602
https://github.com/kubernetes-sigs/kind/pull/382 is now in as well :sweat_smile:

[2019-06-24 22:13] BenTheElder commented on #380
https://github.com/kubernetes-sigs/kind/pull/382 fixed this.

[2019-06-24 22:13] #380 closed

[2019-06-24 23:32] BenTheElder commented on #576
with very recent kubernetes & kind:
[code]

[code]

[2019-06-24 23:44] BenTheElder commented on #576
I think we can close this out, it varies a bit, but we've done a lot to improve things on our end and improving kubernetes should be tracked upstream

[2019-06-24 23:44] #576 closed

[2019-06-25 01:30] BenTheElder commented on #135
/remove-lifecycle rotten

[2019-06-25 14:30] alexz-kh opened #651 "kind and docker `--net=host`"
Currently, there is no possibility to pass custom network type, for kind cluster.

Docs `networking:` example:
https://kind.sigs.k8s.io/docs/user/quick-start#ipv6-clusters
https://raw.githubusercontent.com/kubernetes-sigs/kind/master/site/content/docs/user/kind-example-config.yaml

**What would you like to be added**:
Possibility, to use host network in k8s\kind clusters

**Why is this needed**:
T

[2019-06-25 15:35] fedepaol commented on #625
Oh, I was missing the docker-graph dir. Works now!
Thanks and sorry for the interruption.

[2019-06-25 15:35] #625 closed

[2019-06-25 16:42] BenTheElder commented on #410
Forgot to update this, I think it might not actually be possible (to run CRI in a windows container) currently per @PatrickLang

[2019-06-25 16:45] BenTheElder commented on #625
Glad it works!! Interesting that it may have worked with kind 0.2 without that ... I would not have expected that to work reliably 😅

[2019-06-25 16:54] BenTheElder commented on #651
this is approximately a duplicate of https://github.com/kubernetes-sigs/kind/issues/273

note that net=host specifically probably not going to work well, port forwarding is going to work in a saner fashion most likely and is a work in progress.

[2019-06-25 16:54] BenTheElder commented on #651
please follow https://github.com/kubernetes-sigs/kind/issues/273

[2019-06-25 16:54] #651 closed

[2019-06-25 19:49] neolit123 commented on #410
would it be easier to get docker on the nodes working?
(probably not)

[2019-06-25 19:53] BenTheElder commented on #410
Er no, to clarify, I'm using CRI as shorthand for container runtimes in general. I haven't tried myself yet but my understanding from Patrick is that you can't nest them in Windows containers (which are a bit different from linux containers...)

[2019-06-25 19:57] neolit123 commented on #410
i see. so this means we cannot have kind creating Windows node images.
which is quite the blocker, until further notice.

[2019-06-25 20:43] BenTheElder commented on #485
since we've approached the limits of what we can reduce from kind's end alone, some experimentation with making upstream Kubernetes lighter: https://github.com/BenTheElder/kubernetes/tree/experiment

if we go forward with this change upstream then kind will support leveraging it immediately.

[2019-06-25 23:35] BenTheElder commented on #410
if we can confirm it is infeasible, we should just close this and come back at some future date if that changes... otherwise, freezing.

[2019-06-25 23:46] BenTheElder commented on #99
alpha level support is in with https://github.com/kubernetes-sigs/kind/pull/637 by way of #654

[2019-06-25 23:47] #99 closed

[2019-06-25 23:48] BenTheElder commented on #459
https://github.com/kubernetes-sigs/kind/issues/99#issuecomment-505662768

this can be done at node (cluster) creation time now, we'll revisit a more complex solution in the future if necessary.

[2019-06-25 23:48] #459 closed

[2019-06-25 23:49] BenTheElder commented on #507
not sure how much we need this now that we have extra ports via https://github.com/kubernetes-sigs/kind/issues/99#issuecomment-505662768

[2019-06-25 23:49] BenTheElder commented on #507
(which is documented)

[2019-06-26 00:10] BenTheElder commented on #640
New Images for kind `v0.4.0` (pending, will release shortly)

- `kindest/node:v1.15.0@sha256:b4d092fd2b507843dd096fe6c85d06a27a0cbd740a0b32a880fe61aba24bb478`
- `kindest/node:v1.14.3@sha256:583166c121482848cd6509fbac525dd62d503c52a84ff45c338ee7e8b5cfe114`
- `kindest/node:v1.13.7@sha256:f3f1cfc2318d1eb88d91253a9c5fa45f6e9121b6b1e65aea6c7ef59f1549aaaf`
- `kindest/node:v1.12.9@sha256:bcb79eb3cd6550c1

[2019-06-26 00:11] #640 closed

[2019-06-26 00:16] BenTheElder commented on #197
we're at least not too far behind doing it manually, the current pattern is to publish a suite of images to go with each kind release, and avoid pushing much otherwise so users stick to stable image + kind combos

obviously this is not what we wanted here, but it's doing _okay_ as a stopgap

for 0.4.0 releasing ~now we have:

- `kindest/node:v1.15.0@sha256:b4d092fd2b507843dd096fe6c85d06a27a0cbd740

[2019-06-26 01:49] BenTheElder commented on #284
/remove-lifecycle stale

[2019-06-26 03:11] WeihanLi opened #658 "Question: will kind delete unused images?"
Will kind remove unused images? If not, can I delete the image manually?

**What should be cleaned up or changed**:

unused docker images when the kubernetes does not need that image.

for example, deploy with `revisionHistoryLimit: 0`, when new image used, the before image should be deleted

**Why is this needed**:

if not clean these unused docker images, the disk resource needed will increase c

[2019-06-26 03:37] BenTheElder commented on #658
If you delete a kind cluster all resources on the host are released including disks space used by the nodes.

[2019-06-26 03:44] WeihanLi commented on #658
I wanna delete those unused images without delete the kind cluster, I tried to `docker exec kind-control-plane docker images`, but got an error like  unknown command docker

[code]

[2019-06-26 05:07] BenTheElder commented on #658
Ah. So imageGC is disabled by default with kind but you could turn it on with a kubeadm config patch.
The reason this is off is to avoid GCing the core images under disk pressure and because we don't know how much disk you intend to keep free on the host.

For a production cluster with a dedicated VM / machine this would be a terrible idea, but for kind we expect that you'll run this on your works

[2019-06-26 05:36] WeihanLi commented on #658
OK, Thanks @BenTheElder

[2019-06-26 05:36] #658 closed

[2019-06-26 05:38] BenTheElder commented on #658
Is this an issue you're actively encountering or a hypothetical? image content storage is somewhat deduped but...

Ideally using kind you never _need_ to `docker exec` yourself, but it is of course available for debugging etc. 😅

[2019-06-26 05:44] WeihanLi commented on #658
I just met the problem yesterday... , the disk usage achieved 100%, some apps can not work like before, after some disk files cleaned and docker images removed, worked as before with system reboot.

[2019-06-26 06:18] WeihanLi commented on #658
I guess I should config something about imageGC with kubelet

[2019-06-26 06:20] aojea commented on #507
Indeed

[2019-06-26 06:20] #507 closed

[2019-06-26 06:23] WeihanLi commented on #658
Is there some more details docs? @BenTheElder

[2019-06-26 09:56] tao12345666333 commented on #658
<pre>
kind: Cluster
apiVersion: kind.sigs.k8s.io/v1alpha3
# patch the generated kubeadm config with some extra settings
kubeadmConfigPatches:
- |
  apiVersion: kubelet.config.k8s.io/v1beta1
  kind: KubeletConfiguration
  metadata:
    name: config
  imageGCHighThresholdPercent: 100
  evictionHard:
    nodefs.available: "0%"
    nodefs.inodesFree: "0%"
    imagefs.available: "70%"

</pre>

you can

[2019-06-26 10:06] WeihanLi commented on #658
Thanks for your help @tao12345666333

[2019-06-26 13:20] neolit123 opened #659 "[probably already fixed] cmder: stderr can end up in stdout even if using cmd.SetStdout()"
**What happened**:
running a command in a node-image container that has klog stderr output and using SetStdout on the command can result in the stderr output present in the io.Writer/buffer set for stdout.

**How to reproduce it (as minimally and precisely as possible)**:

kubeadm needs to be 1.14.x

[code]
if the kubeadm command outputs a klog warning it will end up in `etcdVersionBuf`.
contents

[2019-06-26 13:20] neolit123 commented on #659
/priority awaiting-more-evidence

[2019-06-26 13:26] #107 closed

[2019-06-26 13:29] neolit123 commented on #107
this timeout out it seems.

kind already supports component configuration.
once component-base is ready for wider consumption some of it's utils can be leveraged here if appropriate.

[2019-06-26 14:58] posox opened #660 "Allow to specify network protocol in port mapping"
**What would you like to be added**:
Port mapping was added in 0.4.0 but protocol cannot be specified, tcp used by default.
I'd like to add ability to specify protocol (tcp or udp) in port mapping config.

**Config example:**
[code]

[2019-06-26 15:29] hoegaarden opened #662 "`kind` should be able to start the control plane when `/dev/kmsg` is not available"
**What happened**:

kind is not able to start the control plane (with the provided node images) when `/dev/kmsg` is not available in the node container.

kind then fails with:
[code]

Checking on the node, I can see the following error:

[code]

For the node images I bake myself, I have the following [dirty hack] in place:
- I create the image with `kind build node-image ...`
- I add another layer

[2019-06-26 16:17] tao12345666333 commented on #658
open a PR for this. https://github.com/kubernetes-sigs/kind/pull/663

[2019-06-26 16:37] hoegaarden commented on #662
maybe related: https://github.com/kubernetes-sigs/kind/issues/455

[2019-06-26 17:59] BenTheElder commented on #662
We should definitely try to tolerate environments, I'm a bit curious how your system doesn't have a /dev/kmsg though and if these are really comparable. Taking a look...

[2019-06-26 20:13] hoegaarden commented on #662
- I run the thing in a [garden container](https://github.com/cloudfoundry/guardian), on concourse (same behaviour on concourse deployed as a BOSH release on VMs and as a helm chart on k8s/GKE)
- I have the hack with linking /dev/kmsg to /dev/console from some LXC mailinglists, IIRC
- My best guess is, that with https://github.com/kubernetes/kubernetes/pull/74942 this was introduced; in 1.14 this w

[2019-06-26 21:08] BenTheElder commented on #662
what does `/dev/console` give you in your environment? I'm not sure that using `/dev/console` as `/dev/kmsg` is any different from just placing an empty file at `/dev/kmsg`. As far as I can tell console is a tty and kmsg is a virtual file... so reading `/dev/console` as a file just hangs and prints nothing.

[2019-06-26 21:12] BenTheElder commented on #662
https://www.kernel.org/doc/html/latest/admin-guide/serial-console.html
https://www.kernel.org/doc/Documentation/ABI/testing/dev-kmsg

[2019-06-26 21:24] hoegaarden commented on #662
`lxc` has a config setting for that, see `man lxc.container.conf`:

[code]

... so it is not completely uncommon. :man_shrugging:

[2019-06-26 21:31] BenTheElder commented on #662
interesting, thanks! that works for me :-)

[2019-06-27 01:37] #152 closed

[2019-06-27 01:55] BenTheElder commented on #662
fixed in https://github.com/kubernetes-sigs/kind/pull/664

[2019-06-27 01:55] #662 closed

[2019-06-27 01:55] BenTheElder commented on #662
thanks!

[2019-06-27 13:43] LiliC opened #666 "Failed to create cluster from the kind-example-config.yaml"
**What happened**:
[code]

[code]

**What you expected to happen**:

Have a multi node cluster up and running created with kind.

**How to reproduce it (as minimally and precisely as possible)**:

Use the above example which is suggested in the [docs](https://kind.sigs.k8s.io/docs/user/quick-start#configuring-your-kind-cluster).

**Anything else we need to know?**:

I noticed this issue came up be

[2019-06-27 14:00] aojea commented on #666
At a quick glance not seems your patching with kubeadm v1beta1 and last version use v1beta2 , can you try that and report back?

[2019-06-27 14:12] neolit123 commented on #666
yes, the docs are out of date. kubeadm's v1beta2 needs to be used for patches. :)

/remove-kind bug
/kind documentation

we need to update the docs to include the latest supported kubeadm config version for patches.
the required change is to modify these files:
https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/user/kind-example-config.yaml
https://github.com/kubernetes-sigs/kin

[2019-06-27 15:31] LiliC commented on #666
@neolit123 Thanks, that worked!

[2019-06-27 22:21] BenTheElder commented on #659
is it possible it's using some old kind version? I can't find any logical errors in the current code, stdout and stderr are managed distinctly.

[2019-06-27 22:25] BenTheElder commented on #659
I think this bug was (mostly) fixed 2 months ago, it seems the pseudo tty from `docker exec -t` includes both stdout and stderr. we will only choose this if the cmder stdout or stderr are wired to a terminal currently. we should probably not support that and never allocate one.

[2019-06-27 22:27] BenTheElder commented on #659
specifically: https://github.com/kubernetes-sigs/kind/commit/97d0968a8e505382088587afeb6f8814a9fb5e6f

[2019-06-27 22:44] neolit123 commented on #659
thanks, seems like https://github.com/kubernetes-sigs/kind/commit/97d0968a8e505382088587afeb6f8814a9fb5e6f might be a fix indeed.
kinder is still at https://github.com/kubernetes-sigs/kind/commit/161151a26faf

will confirm once we move to latest - hopefully early next month.
/assign

[2019-06-28 06:42] ZhengZhenyu opened #668 "/hack/ci/e2e.sh should support build new base image for arch other than x86"
**What would you like to be added**:
Allow /hack/ci/e2e.sh to check arch and build new base image if arch is not
x86.

**Why is this needed**:
The default base image is built for x86 arch, which makes it impossible to
use this script directly for testing on other arch, adding this to allow
build a new base image from scrach will make the arch scope wider.

[2019-06-28 06:52] BenTheElder commented on #668
So the scripts in hack/ are not really meant to be reused and are not stable, I think this is probably reasonable but it might be better to copy this and maintain a version that does..

I'm pretty wary that we will change or remove this and break your use case. This script is meant to be a stopgap until test-infra's tools improve (kubetest / kubetest2) and have better integration with kind.

[2019-06-28 07:11] ZhengZhenyu commented on #668
@BenTheElder Ah, thanks I was putting up a patch on this, as you know, I have been working on KinD on ARM for quite a while, I did have some findings now, and I will reported latter. I have refactored the test cases in openlab CI, and now we are using this script directly for test, since our system uses zuul which uses ansible, for this kind of script, we have to save it to somewhere and download

[2019-06-28 07:47] bibz0r commented on #659
I was experiencing this issue when following a tutorial on how to create a kubernetes cluster with ansible.  (https://www.digitalocean.com/community/tutorials/how-to-create-a-kubernetes-cluster-using-kubeadm-on-ubuntu-18-04) In the ansible playbook there is this:

`shell: kubeadm init --pod-network-cidr=10.244.0.0/16 >> cluster_initialized.txt`

But the ansible recipe fails. When executing the com

[2019-06-28 09:31] aojea commented on #668
I thought that we were building node and base images for most common architectures : thinking

[2019-06-28 11:52] neolit123 commented on #659
@bibz0r

hi,

it's technically a warning on stderr. it does not exit(1).
does ansible treat stderr output as errors and exits immediately?

hm, i don't see how passing `--pod-network-cidr` will silence the kubeadm version checks. basically if you don't pass `--kubernetes-version` or `kubernetesVersion` (in the config) kubeadm tries to get the latest stable version e.g. 1.15.1, but falls back if th

[2019-06-29 07:12] zfi opened #672 "Broken link to conformance testing"
**What would you like to be documented**:
The link to conformance testing in the root level README.md is currently referencing https://github.com/kubernetes/community/blob/master/contributors/devel/conformance-tests.md  in the kubernetes/community that is no longer there - (404 error). The new URL is https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformanc

[2019-06-29 07:19] tao12345666333 commented on #672
Thanks for your point.

/assign

[2019-06-30 02:34] patsevanton opened #674 "Why service does not have any active Endpoint when install grafana from helm to kubernetes-sigs/kind?"
https://github.com/kubernetes-sigs/kind - version 0.4.0
Create kubernetes from kubernetes-sigs/kind

    kind create cluster
    Creating cluster "kind" ...
     ✓ Ensuring node image (kindest/node:v1.15.0) 🖼

kubectl create serviceaccount

    kubectl create serviceaccount --namespace kube-system tiller
    serviceaccount/tiller created

kubectl create clusterrolebinding

    kubectl create clust

[2019-07-01 11:45] ZhengZhenyu opened #676 "Failed to setup k8s cluster on AArch64 plaform"
**What happened**:

Failed to setup k8s cluster on AArch64 plaform with containerd as runtime, the built images failed to import, thus the k8s cluster won't come up

**What you expected to happen**:

Successfully setup k8s cluster

**How to reproduce it (as minimally and precisely as possible)**:

1. Get an AArch64 server, setup pre-request such as bazel

2. Download kind with version > 0.2.0 and

[2019-07-01 15:40] howardjohn opened #677 "KinD fails to start on GKE with DinD"
**What happened**:
I have two GKE nodes. I am running into two separate problems with them.

On node 1, KinD fails to start with `Error: failed to create cluster: failed to apply overlay network: exit status 1`. Full logs attached.
On node 2, the control plane seems to be in an unhealthy state:

[code]

Note the 20 restarts in 10m, they also don't seem to go into crashloopbackoff, maybe intended t

[2019-07-01 15:46] howardjohn commented on #677
Got the kind logs on node 2
[kind-logs.zip](https://github.com/kubernetes-sigs/kind/files/3346405/kind-logs.zip)

[2019-07-01 18:30] howardjohn commented on #677
I think its related to https://github.com/kubernetes-sigs/kind/issues/303, trying out the steps there

[2019-07-01 19:05] BenTheElder commented on #677
Quick comment: in addition to 303 ensure docker storage is a volume (eg emptyDir), typically /var/lib/docker

[2019-07-01 20:48] BenTheElder commented on #676
I don't think this is related to image import at all (or containerd for that matter)

1) there are some errors in the logs during the image import step, however none of them are critical and we can see the images being imported eg:

https://logs.openlabtesting.org/logs/periodic-6/18/github.com/kubernetes-sigs/kind/master/kind-integration-test-arm64/6782da3/logs/kubernetes/logs/kind-control-plane/k

[2019-07-01 20:48] BenTheElder commented on #676
er, the additional part is in the kubelet log we can see the CNI was not initialized, which is the actual issue.

[2019-07-01 20:50] BenTheElder commented on #676
that command did not fail or the `kind build node-image` command would fail, I'm simply going to hide the output from this in the next kind version to avoid unnecessary confusion.

FTR here is a normal and succesful build on my machine:

<details>

[code]

</details>

[2019-07-01 20:52] howardjohn commented on #677
Got it working with those, thanks, seems to be running smoothly now!

Big +1 on #303 though

[2019-07-01 20:52] #677 closed

[2019-07-01 20:55] BenTheElder commented on #677
I hear you on #303, just juggling priorities, glad you got it working! :sweat_smile:

will add a note about dind to 303 as well

[2019-07-01 20:57] BenTheElder commented on #676
can we get the output from 0.4.0? AFAICT this is an issue with the CNI setup, but we can't see any logs from it in the linked logs so I'm not sure what the issue is :(

[2019-07-01 21:00] BenTheElder commented on #676
actually a bit weird related to images is:
https://logs.openlabtesting.org/logs/periodic-6/18/github.com/kubernetes-sigs/kind/master/kind-integration-test-arm64/6782da3/job-output.txt.gz

some of that output is:
[code]

[2019-07-01 21:02] BenTheElder commented on #676
An aside: this output is highly suspect, and suggests improperly installing kind (?)

[code]

https://logs.openlabtesting.org/logs/periodic-6/18/github.com/kubernetes-sigs/kind/master/kind-integration-test-arm64/6782da3/job-output.txt.gz

[2019-07-01 21:18] BenTheElder commented on #676
I'm very confused as to why this is pulling some of the images despite appearing to be loaded.

The CNI seems to be a distinct issue as well, which I can't debug sufficiently from the logs (there are no logs at all because the container doesn't exist when logs where exported), which is itself something of an issue.

A possible work around if this is urgent is to disable the built in CNI with:
[cod

[2019-07-01 21:31] #666 closed

[2019-07-01 21:33] BenTheElder commented on #674
:wave:

Hey so, your service does in fact have an active clusterIP, but there's no external IP because that would require a loadbalancer implementation.

Kubernetes does not ship a LoadBalancer or Ingress implementation out of the box, and kind does not have one yet* We may add one in the future, but it will be a little less trivial than you'd suspect in order to handle docker for mac etc.

Ideall

[2019-07-01 21:53] #672 closed

[2019-07-01 22:02] BenTheElder commented on #668
The issue is that we will stop using this at some point it was never supposed to be a permanent feature, just something used to bootstrap the project. And if users need some complex script that is too difficult to replicate to use kind then we are failing. :thinking:

---

not node and base, they're much more painful to do this for and much slower. we will in the future.

[2019-07-02 01:18] ZhengZhenyu commented on #676
@BenTheElder I can have a 0.4.0 log for you :)

[2019-07-02 01:23] ZhengZhenyu commented on #676
@BenTheElder BTW, using go get with GO111MODULE="on" for 0.4.0 seems unable to run as we got this:
https://github.com/kubernetes-sigs/kind/blob/db69221762b8527e1bfa07a4327593fc2242b4a3/hack/build/go_container.sh#L22
and download in this way it will not be a git repo? Or did I do something wrong?

[2019-07-02 04:18] BenTheElder commented on #676
Your go version might be unsupported (all supported versions of go upstream  support go modules), the make rules can install it from a clone without docker though, and we have precompiled binaries for arm64 in the releases page

[2019-07-02 04:20] BenTheElder commented on #676
`make install` doesn't depend on the host version or curling https://github.com/kubernetes-sigs/kind/releases/download/v0.4.0/kind-linux-arm64

[2019-07-02 06:15] ZhengZhenyu commented on #676
@BenTheElder Hi, here is log for 0.4.0 http://80.158.17.129/logs/1/1/21764170c5ae2be65e03819e359b4bb72aebd085/check/kind-integration-test-arm64/c594fd7/

[2019-07-02 18:29] BenTheElder commented on #303
this came up again in #677 and again today in another deployment
/assign

[2019-07-02 20:03] BenTheElder commented on #594
This would be easy to fix. The `docker login` generated credentials just need to be generated by another means or on the host. The upstream kubernetes docs have a guide for this I believe.

/good-first-issue

[2019-07-03 01:46] paranoidaditya commented on #594
@BenTheElder Should we point users at https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ or maintain a copy of instructions?

[2019-07-03 04:06] BenTheElder opened #679 "likely upstream breakage (unset podIP in hostNetwork pod -> kindnetd panic)"
**What happened**: kind is broken against kubernetes on the Kubernetes master branch

**What you expected to happen**: it should not be broken! this looks to be an upstream change, the breakage fell during https://github.com/kubernetes/kubernetes/compare/4b3987d0c...a33840e02

**How to reproduce it (as minimally and precisely as possible)**: run hack/ci/e2e.sh against kubernetes

**Anything else w

[2019-07-03 04:12] BenTheElder commented on #679
This only affects extremely recent unreleased kubernetes commits in the master branch early in the 1.16 release cycle, so we can probably hold for upstream investigation in https://github.com/kubernetes/kubernetes/issues/79693

[2019-07-03 05:17] BenTheElder commented on #676
Thanks, the logs seems slightly conflicting and I'm still not finding anything related to the CNI 😕

unfortunately also chasing #679 tonight

[2019-07-03 07:28] TommyLike opened #680 "Kind load command doesn't check whether the image digest is different from existing?"
**What happened**:

When the original image has been updated, after re-executing command `kind load docker-image xxxxxx` the images used in container keep unchanged.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment:**

- kind version: 0.4.0:
- Kubernetes version: (use `kubectl version`):
- Docke

[2019-07-03 08:17] gombasp opened #681 "syscall.Mkfifo issue on Windows"
Hi,

after

go get sigs.k8s.io/kind

i get the error

execplugin.go:111:2: undefined: syscall.Mkfifo

...and kind is not created.

Using Windows 10 with go 1.12.6 windows/386.  Can you pls propose a solution?

[2019-07-03 08:48] asitaru commented on #680
This is also happening to us after #382

[2019-07-03 09:02] aojea commented on #680
Upps , my fault , nasty bug , sorry
/assign

[2019-07-03 10:10] aojea commented on #411
@BenTheElder should we create a kind load balancer? seems a nice and funny project

[2019-07-03 15:09] BenTheElder commented on #680
Ah this is a nasty bug :(
We should be checking and comparing the SHA, but it looks like we aren't.
/priority critical-urgent

[2019-07-03 15:11] BenTheElder commented on #681
Are you installing with modules enabled? We have binaries built for windows with each release so the code should compile.

If you don't use modules though, you'll wind up with inconsistent versions of dependencies.

This environment variable must be set: GO111MODULE="on"

[2019-07-03 15:12] BenTheElder commented on #679
Fix in https://github.com/kubernetes/kubernetes/issues/79700

[2019-07-03 18:31] chrisob opened #683 "kind doesn't support Docker networks other than the default bridge"
**What would you like to be added**:
Currently it seems like `kind` only supports using the [default docker bridge](https://github.com/kubernetes-sigs/kind/blob/e9e20a87853e22ff8a75651b02779016b3e17a25/pkg/cluster/nodes/node.go#L38).

It would be helpful if `kind` allowed a user to specify which Docker network to use for a cluster, instead of assuming that the default bridge interface already exis

[2019-07-03 19:48] BenTheElder commented on #683
This is a duplicate of https://github.com/kubernetes-sigs/kind/issues/273

We agree, but the non-default docker networks have additional behavior changes vs the default network that are problematic for kind. We're figuring out how best to handle this 😅

[2019-07-03 19:48] #683 closed

[2019-07-03 22:19] BenTheElder commented on #680
this _should_ be fixed now and in the next release, thanks @aojea

[2019-07-03 23:53] BenTheElder commented on #679
should be fixed by https://github.com/kubernetes/kubernetes/pull/79700

[2019-07-03 23:53] #679 closed

[2019-07-04 01:19] ZhengZhenyu commented on #188
https://github.com/kubernetes/test-infra/pull/13273/ has been merged so the CI itself is done

[2019-07-04 08:10] aojea commented on #676
It seems that the apiserver is not up, also I can´t see the logs of the apiserver container 🤔

[2019-07-04 09:53] chrisob commented on #683
:grimacing: sorry for the duplicate issue!

[2019-07-04 12:05] neolit123 commented on #659
/close
let's close this and re-open if it manifests again.

[2019-07-04 12:05] #659 closed

[2019-07-04 18:27] BenTheElder commented on #683
Not at all! Good to know what people need, just trying to keep the repo
organized :-)

On Thu, Jul 4, 2019, 02:53 chrisob <notifications@github.com> wrote:

[2019-07-04 19:38] #170 closed

[2019-07-05 14:45] aojea opened #688 "Containerd is not working behind a proxy"
**What happened**:

Containerd is not able to pull images if is working behind a proxy

**What you expected to happen**:

containerd should work behind a proxy

**How to reproduce it (as minimally and precisely as possible)**:

https://kubernetes.slack.com/archives/CEKK1KTN2/p1562335808184900

**Anything else we need to know?**:

The problem  is that we removed `/etc/systemd/system/containerd.serv

[2019-07-05 14:48] aojea commented on #688
as a workaround
[code]

@BenTheElder should we recover the `images/base/entrypoint` ?

[2019-07-05 16:12] electrofelix opened #689 "NO_PROXY is missing required subnets for kubectl proxy to work when using http(s) proxies"
**What happened**:

Launching a cluster behind a corporate proxy is unable to complete the steps from https://kubernetes.io/docs/tutorials/kubernetes-basics/deploy-app/deploy-intro/ interactive tutorial successfully.

**What you expected to happen**:

To complete the steps in that module locally to confirm that the k8s cluster in kind on my workstation passed a minimal test by confirming the retur

[2019-07-05 17:32] aojea commented on #689
@BenTheElder @amwat this will require access to the provided configuration to access `ServiceSubnet` and `PodSubnet`.
I think that the only way to do that with current implementations is by adding them to https://github.com/kubernetes-sigs/kind/blob/a8cd6c72eee23a71730179f5ff4bf50c9c7cc9a2/pkg/cluster/internal/create/nodes.go#L125

[2019-07-05 17:38] aojea commented on #676
I was looking at the logs and seems that the problem is that containerd is not able to create some containers, in the last job it´s not able to create the `kindnetd` container that´s the one that provides the network
[code]

[2019-07-08 03:18] Jingru opened #693 "Enable custom proxy settings for containerd"
**What would you like to be added**:
I'm wondering if kind could support custom proxy settings for containerd by any means like generating a new containerd.service file and mounting it in node containers.

**Why is this needed**:
I'm using kind in a host behind proxy, which means all the outgoing traffic must use this proxy.

Although node containers have already supported proxy settings, containe

[2019-07-08 06:53] aojea commented on #693
Hi @Jingru thanks for reporting it, but this is a duplicate of https://github.com/kubernetes-sigs/kind/issues/688 , I think that we can close this and follow up on the other issue

[2019-07-08 07:00] Jingru commented on #693
OK. I'm closing this.

[2019-07-08 07:00] #693 closed

[2019-07-09 01:40] cblecker commented on #88
@alisondy Are you still working on this? If you're not, I can snap it up.

[2019-07-09 03:26] alisondy commented on #88
Go for it 👍✨

[2019-07-09 04:16] cblecker commented on #88
Okay, so the one issue I ran into as I'm going down the checklist is that kind isn't "stable". There's no green tagged, latest release; they're all pre-release.

So we can't quite submit a Formula yet for inclusion in homebrew-core.

I do have a tap with the Formula I made though: https://github.com/cblecker/homebrew-tap/blob/master/Formula/kind.rb

To install:
[code]

To view:
[code]

Once we hav

[2019-07-09 09:53] electrofelix commented on #689
Is this the correct way? Or should the node struct contain an environment variables struct and the proxy support be pulled up to a higher layer that uses the cluster config to add additional environment variables if proxy support is determined? That might open the door for additional environment variable injection support as well, so I guess it depends on whether that is useful or to be avoided?

[2019-07-09 17:39] adibrastegarnia opened #695 "Kind unload the image and load it again"
**What happened**:
Suppose a kind cluster is running, we load an image and then we update our image to load it again. It looks like in the new version doesn't support that.

**What you expected to happen**:
I should be able load a new image everytime that I make a change in the image without shutting down the cluster.

**How to reproduce it (as minimally and precisely as possible)**:
Load an image

[2019-07-09 17:58] BenTheElder commented on #695
yeah sorry about this, this is a known issue that was fixed recently.
we need to document that somewhere. the fix will be in 0.5.0 and could be installed from cb35e540987e58257c842aaeef0fee350d8967fb

`GO111MODULE=on go get sigs.k8s.io/kind@cb35e540987e58257c842aaeef0fee350d8967fb`

[2019-07-09 17:58] BenTheElder commented on #695
https://github.com/kubernetes-sigs/kind/issues/680

[2019-07-09 18:03] adibrastegarnia commented on #695
Great thanks.

[2019-07-09 19:45] adibrastegarnia opened #696 "Inform another namespace when the image is loaded"
I have a quick question. Suppose we load an image to the kind cluster. Is it possible to inform another namespace when that happens to redeploy the Pod?

[2019-07-09 20:01] BenTheElder commented on #696
there is not, but you can use `kubectl rollout restart` to do a rolling update of a deployment without changing it in Kubernetes 1.15+

[2019-07-09 20:28] BenTheElder commented on #696
`kind load image:foo && kubectl rollout restart deployment-using-the-image` should work I think.

[2019-07-09 21:04] adibrastegarnia commented on #696
OK I will try and then update you

On Tue, Jul 9, 2019 at 1:28 PM Benjamin Elder <notifications@github.com>
wrote:

[2019-07-09 21:26] BenTheElder opened #697 "Explore user mode linux"
Requires recent docker and kernel https://twitter.com/_AkihiroSuda_/status/1148543910882361345
https://github.com/weber-software/diuid

/assign
/priority backlog

Doesn't look like something we could roll out yet, but a very interesting potential avenue for the future.

[2019-07-09 22:02] aojea opened #698 "Increase number of e2e tests run"
**What would you like to be added**:

Run more e2e tests with kind

**Why is this needed**:

We are running only conformance tests, that´s about 210/4414

[2019-07-09 22:02] aojea commented on #698
/assign

[2019-07-09 22:09] adibrastegarnia commented on #696
@BenTheElder
What should be the input of rollout restart? A Pod?

[2019-07-09 22:10] BenTheElder commented on #698
❤️ We definitely need this.
/priority important-longterm

To be clear: We're looking to do this mainly for testing Kubernetes proper, not necessarily the kind repo.

We also definitely aren't interested in all 4000 or so tests, many of those are provider (GCE, AWS) specific or arguably don't make sense at all (`[Feature:Dashboard]`) but certainly there are many tests beyond conformance that would

[2019-07-09 22:15] BenTheElder commented on #696
something like: `kubectl rollout restart deployment/deployment-name`, `kubectl rollout restart daemonset/name`

see also: `kubectl rollout restart --help`

[2019-07-09 22:16] adibrastegarnia commented on #696
Thanks.

[2019-07-10 01:58] BenTheElder commented on #620
there is currently https://github.com/kind-ci/examples/blob/master/.gitlab-ci.yml

[2019-07-10 21:55] aojea commented on #696
@adibrastegarnia can we close?

[2019-07-10 21:57] adibrastegarnia commented on #696
resolved and closed.  Thanks

[2019-07-10 21:57] #696 closed

[2019-07-10 21:57] aojea commented on #688
Fixed by #694

[2019-07-10 21:57] #688 closed

[2019-07-10 22:51] BenTheElder commented on #594
sorry I missed this, yes, I think we should probably point to that and maybe just note ourselves how you could copy the credentials to the node and ensure kubelet picks them up instead of using them natively in kubernetes

[2019-07-11 07:57] TommyLike commented on #676
Not sure whether it's related to the arch and variant matching issue https://github.com/containerd/containerd/issues/2133

[2019-07-11 13:15] PercyLau commented on #411
@aojea I agree. It is very interesting if we could test novel load balancers in our own desktop. Besides, some distributed machine learning infrastructure, e.g., kubeflow, require an external load balancer to work with.

[2019-07-11 13:20] aojea opened #702 "Kind Load Balancer"
**What would you like to be added**:

A Load Balancer

**Why is this needed**:

https://github.com/kubernetes-sigs/kind/issues/411#issuecomment-510480326

[2019-07-11 13:21] aojea commented on #702
It will be interesting to describe better the use cases, cc: @Percylau

[2019-07-11 16:17] BenTheElder commented on #411
You can deploy a loadbalancer with kind of course, but the integrated Kubernetes object is typically only supported "in the cloud" and Kubernetes does not ship one.

On docker for Mac in particular this is not quite so trivial.

Kubeflow should be able to work fine with something like a nodePort or an ingress, I will speak to them.

[2019-07-11 16:22] BenTheElder commented on #411
Also: https://github.com/kubeflow/website/pull/861#issuecomment-510555085

[2019-07-11 16:26] BenTheElder commented on #702
/kind design

[2019-07-11 16:28] BenTheElder commented on #702
See previous discussions including https://github.com/kubernetes-sigs/kind/pull/691#issuecomment-510557520

Docker for Linux you can deploy something like metallb and have fun today. To make something portable we ship by default with kind, you will need to solve the networking problems on docker for windows, Mac etc. And design it such that we can support EG ignite or kata later..

This is in the

[2019-07-11 18:23] cmoulliard opened #703 "Error: failed to create cluster: failed to init node with kubeadm: exit status 1"
## Issue

When we try to create a k8s cluster on circleci

[code]

I get this error

[code]

[2019-07-11 18:26] BenTheElder commented on #703
`kindest/node:v1.14.0 `

that image is not compatible with v0.3.0+, please see the kind release notes. https://github.com/kubernetes-sigs/kind/releases/tag/v0.3.0#breaking-changes

and also regarding images known and officially supported for 0.4.0: https://github.com/kubernetes-sigs/kind/releases/tag/v0.4.0#new-features

[2019-07-11 18:30] BenTheElder commented on #703
Sorry for the problem there, we're trying very hard to avoid this kind of break in the future, but we radically improved how we boot and manage images in kind >= v0.3.0, which necessitated some incompatibilities. Every image that we had previously published that is not compatible is noted in the release notes.

[2019-07-11 19:43] cmoulliard commented on #703
That works better using v1.14.3

[code]

[2019-07-11 19:43] #703 closed

[2019-07-11 23:03] BenTheElder commented on #703
awesome.

will file this under "we need better discoverability for images" :sweat_smile:

[2019-07-12 16:54] howardjohn commented on #660
/close

done by #661

[2019-07-12 17:38] aojea commented on #660
/close

Thanks

[2019-07-12 17:38] #660 closed

[2019-07-12 18:26] BenTheElder commented on #660
Thanks again!

On Fri, Jul 12, 2019 at 10:38 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-07-12 23:10] BenTheElder commented on #674
tracking LB in https://github.com/kubernetes-sigs/kind/issues/702

[2019-07-12 23:10] #674 closed

[2019-07-12 23:10] BenTheElder commented on #702
see also though in the meantime: https://mauilion.dev/posts/kind-metallb/

[2019-07-15 05:12] BenTheElder opened #705 "Support ignite"
**What would you like to be added**: Support for using `ignite` as a docker-like backend with improved isolation.

**Why is this needed**: This provides a relatively fast but much more isolated option for nodes. On the surface the UX is very similar to the docker CLI, and it operates around standard docker images, with the requirement that you use an `/sbin/init` (which we do, though wrapped for d

[2019-07-15 05:54] aojea commented on #705
Just for clarification, the goal is to replace current provider or to allow kind to use multiple providers?
By the way, I was able to play with ignite and sounds and awesome idea, this also allow to test different kernels , ...

[2019-07-15 06:14] BenTheElder commented on #705
Definitely not replace (!) There's too many environments that won't have access to this, realistically, and we have our existing users etc. 🙃

As an _additional_ backend this would be pretty useful and mostly can map pretty closely to what we do already 😁

[2019-07-15 06:32] tao12345666333 commented on #705
SGTM.
I think this will be fun.
The main reason for choosing `ignite` is due to its UX?

[2019-07-15 06:39] gerardo opened #706 "Provide kind docker image to support docker-compose setup"
**What would you like to be added**:

It would be great if kind could be provided as a docker image, so that it could be used as an extra service through docker compose. Ideally a docker-compose setup using a hypothetical `kind` image would look like this:

[code]

After running `docker-compose run mycontainer bash` (to get a shell from inside my container while having the other container services

[2019-07-15 09:04] BenTheElder commented on #706
This doesn't really map particularly well to how kind works. We need to execute logic against node containers to orchestrate the cluster.

We can still run kind this way in a container if we put another layer of docker in docker and run a whole cluster inside there but then you need some mounts etc. That makes this clunky, slower, and less reliable. We're going to document how you'd go about that

[2019-07-15 10:15] anjiawei1991 opened #707 "Failed to interact with cluster in wsl2"
I setup the cluster in wsl2, but can't interact with it.

**How to reproduce it (as minimally and precisely as possible)**:
* install kind、docker、kubectl
* using `kind create cluster` to create default cluster. and  using `export KUBECONFIG="$(kind get kubeconfig-path --name="kind")" ` to set KUBECONFIG env for kubectl
* using `kubectl  cluster-info`  to lookup cluster

Then after a lot of time, I

[2019-07-15 11:40] anjiawei1991 commented on #707
more infomations:

the outupt of `docker logs kind-control-plane` is:
[code]

[2019-07-15 21:00] BenTheElder commented on #707
cc @PatrickLang

[2019-07-16 01:03] yangquan1982 opened #708 "failed to delete cluster"
kind launched as follows:
`CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS              PORTS                                  NAMES
80b238c9e4b0        kindest/node:v1.15.0   "/usr/local/bin/entr…"   17 hours ago        Up 17 hours         58543/tcp, 127.0.0.1:58543->6443/tcp   kind-control-plane`

**What happened**:
When I tried to run `kind delete

[2019-07-16 01:36] BenTheElder commented on #708
is docker running? delete is roughly `docker rm -f <node-name>`

[2019-07-16 01:36] BenTheElder commented on #708
what is the output of trying to stop the container yourself?

[2019-07-16 07:09] aojea commented on #707
@anjiawei1991 what´s the output of `docker exec --privileged kind-control-plane kubectl --kubeconfig=/etc/kubernetes/admin.conf get pods --all-namespaces` ?

[2019-07-16 07:21] aojea commented on #708
running the command with debug log level can give us more information,

what´s the output of  ` kind delete cluster --loglevel debug` ?

[2019-07-16 07:43] anjiawei1991 commented on #707
[code]

@aojea

[2019-07-16 07:52] BenTheElder commented on #707
Not a WSL2 expert but it seems our Network setup is failing, can you get the logs from the kindnetd pod? (`kind export logs` can grab these without kubectl)

Also, were you following https://kind.sigs.k8s.io/docs/user/using-wsl2/ ?

[2019-07-16 07:53] aojea commented on #707
can you check if iptables is working inside the container? what´s the output of `iptables-save`?

[2019-07-16 08:06] anjiawei1991 commented on #707
[code]

@BenTheElder this is the log of kindnetd pod。

I was not following the using-wsl2 doc but the [Microsoft's official doc](https://docs.microsoft.com/en-us/windows/wsl/wsl2-install).

[2019-07-16 08:07] anjiawei1991 commented on #707
@aojea

[code]

[2019-07-16 13:32] wilmardo opened #710 "WSLv1: No DNS between pods or to the internet"
**What happened**:

There is no DNS within the cluster, pods cannot resolve services within the cluster or access the internet on hostnames.

**What you expected to happen**:

DNS working to the internet and to services within the cluster

**How to reproduce it (as minimally and precisely as possible)**:

I am running kind in WSL (v1) setup to run containers in Docker for Desktop installed within

[2019-07-16 14:14] aojea commented on #710
can you check if you have SERVFAIL answers in CoreDNS logs?

[2019-07-16 14:33] wilmardo commented on #710
@aojea Thanks for the fast respone <3

No SERVFAIL answers in the log, this is the current full log:
[code]

[2019-07-16 14:39] aojea commented on #710
shouldn´t it be trying to append all the domains?

`search automating.svc.cluster.local svc.cluster.local cluster.local intermax.local`

[2019-07-16 14:43] wilmardo commented on #710
Hmm I don't know but it also does not resolve to the outside where that shouldn't be an issue.

[2019-07-16 14:43] aojea commented on #697
is this exclusive with ignite?

[2019-07-16 14:52] wilmardo commented on #710
Ran an apk update and ping kubernetes in the same shell pod an a prod cluster:
[code]

So the output above seems normal, the issue might be network related? But I have no clue how to debug this.

[2019-07-16 14:52] yangquan1982 commented on #708
`DEBU[07:51:39] Running: /usr/local/bin/docker [docker ps -q -a --no-trunc --filter label=io.k8s.sigs.kind.cluster --format {{.Names}}\t{{.Label "io.k8s.sigs.kind.cluster"}}]
Deleting cluster "kind" ...
DEBU[07:51:40] Running: /usr/local/bin/docker [docker ps -q -a --no-trunc --filter label=io.k8s.sigs.kind.cluster --format {{.Names}}\t{{.Label "io.k8s.sigs.kind.cluster"}} --filter label=io.k8s.si

[2019-07-16 15:00] yangquan1982 commented on #708
I try to do `docker stop kind-control-plane`, but my CLI is just hanging, I have to type `ctrl C` to exit
as follows:
`Edwards-MBP:~ quan.yang$ docker stop kind-control-plane
^C
Edwards-MBP:~ quan.yang$`

[2019-07-16 15:16] wilmardo commented on #710
Hmm when I set the replicas to one in the CoreDNS deployment the issue is partially gone. I can now ping the internet!:

[code]

[code]

[2019-07-16 16:20] aojea commented on #708
try `docker ps -q -a` and see if the node `kind-control-plane` there

[2019-07-16 16:25] yangquan1982 commented on #708
Yes, it's always there
`Edwards-MBP:~ quan.yang$ docker ps -q -a`
`80b238c9e4b0`
`63a1e044aac1`
here `80b238c9e4b0` is the CONTAINER ID of `kind-control-plane` which I can't make it stop running

[2019-07-16 17:22] BenTheElder commented on #697
not really, I suspect this won't work well for us but we should explore the option which would allow unpriv container nodes.

[2019-07-16 19:09] BenTheElder commented on #710
Is that debugging etc/resolv.conf from within a kind node or?

Kind nodes will pick up the nameserver from the host, and then the pods will get that + what Kubernetes sets.

This is a strange failure, I'm not sure if this is WSL2 related or not.

[2019-07-16 19:10] BenTheElder commented on #710
Oh I see this is WSLv1, that is completely untested (until you now, as far as I know). WSL2 has been tested and kind on windows with docker for windows.

[2019-07-16 19:12] BenTheElder commented on #708
This seems like a bug in your docker version, kind does `docker rm -f node` which should not fail if node exists...

[2019-07-16 19:13] BenTheElder commented on #707
can you please try following the WSL2 doc? those instructions are from a microsoft employee :-)

[2019-07-16 19:19] BenTheElder commented on #708
Cannot reproduce this yet with the edge version of docker for mac, switching to stable is a bit involved :disappointed:

what is the output of `docker rm -f kind-control-plane` ?

I suspect docker has gotten into a bad state on disk, it might require manually purging. I've not seen this happen with kind before.

[2019-07-16 19:23] BenTheElder commented on #707
that's super helpful, that shouldn't happen.

[2019-07-16 19:25] yangquan1982 commented on #708
It shows
`Error response from daemon: removal of container kind-control-plane is already in progress`
when I do `docker rm -f kind-control-plane`, which seems like non-halting issue

[2019-07-16 19:26] BenTheElder commented on #707
seems we might need a `modprobe ipt_MASQUERADE` (though it's pretty strange that this isn't loaded already..?), what's the output of that on your WSL2 host?

if that fixes things, we can ensure kind runs it.

[2019-07-16 19:27] yangquan1982 commented on #708
Here is my `docker version` output
`Client: Docker Engine - Community`
 `Version:           18.09.2`
 `API version:       1.39`
 `Go version:        go1.10.8`
 `Git commit:        6247962`
 `Built:             Sun Feb 10 04:12:39 2019`
 `OS/Arch:           darwin/amd64`
 `Experimental:      false`

`Server: Docker Engine - Community`
 `Engine:`
  `Version:          18.09.2`
  `API version:      1.

[2019-07-16 19:29] BenTheElder commented on #708
that looks like a docker bug, there was at least one previous bug like this where containers would get in a partially removed state and the only fix was manually removing them w/o docker. looking for current issues upstream.

[2019-07-16 19:32] BenTheElder commented on #708
Example of upstream issues like this: https://github.com/docker/compose/issues/3434 https://github.com/moby/moby/issues/22312

I think what you can try is restart the docker daemon and do a `docker system prune -a`

[2019-07-16 20:18] cjwagner opened #712 "kind create cluster fails: Chain 'DOCKER' does not exist."
**What happened**:
I used `go get` to install kind and tried to run `kind create cluster`:
[code]
**What you expected to happen**:
Cluster creation.
**How to reproduce it (as minimally and precisely as possible)**:
Run the commands above.
**Anything else we need to know?**:
This looks similar to https://github.com/kubernetes-sigs/kind/issues/567, but the error I'm getting is a bit different and th

[2019-07-16 20:31] BenTheElder commented on #712
that's a problem with your docker installation preventing port forwarding from working

[2019-07-16 20:33] BenTheElder commented on #712
`sudo service docker restart` is one possible work around

[2019-07-16 20:45] yangquan1982 commented on #708
Yes, it's resolved after I restarted docker, thanks.

[2019-07-16 20:45] #708 closed

[2019-07-16 20:47] BenTheElder commented on #708
thanks for working through this! sorry for the trouble :sweat_smile:

[2019-07-16 20:50] cjwagner commented on #712
That did it! Thanks Ben!

[2019-07-16 20:50] #712 closed

[2019-07-16 21:20] aojea commented on #707
great catch @BenTheElder , seems that the WSL2 kernel doesn´t have the netfilter modules needed
https://blog.simos.info/how-to-run-lxd-containers-in-wsl2/

[2019-07-17 00:45] BenTheElder commented on #398
HPA tests require the metrics server and are now in conformance, I want to see if kubeadm should be shipping this by default but one way or another kind needs to ship the metrics APIs :-)
/assign
cc @neolit123

[2019-07-17 01:52] anjiawei1991 commented on #707
I have glanced over those instructions, and I found no special in it, it's almost the same with I had done on WSL2 installation.

But I do think there is some problem in WSL2's docker enviroment, because I just found that I can't run a very simple nginx in docker.

I'm going to install some other vm. Also , I will save the WSL2 enviroment for this issue tracking.

[2019-07-17 02:55] BenTheElder commented on #707
They do mention a particular way of starting docker fwiw, but the missing module is the real problem here. (https://github.com/kubernetes-sigs/kind/issues/707#issuecomment-511992131)

[2019-07-17 03:06] brunowego commented on #707
Similar issue with docker-machine:

[code]

Running way:

[code]

[code]

[code]

[2019-07-17 05:08] prankul88 opened #713 "Add note in README file"
**What would you like to be documented**:
In README file under [Installation and usage](https://github.com/kubernetes-sigs/kind#installation-and-usage), there might be a need to add a note for the requirement of running docker as a non root user (running without sudo).
Good idea to add a [link](https://docs.docker.com/install/linux/linux-postinstall/) too.

**Why is this needed**:
As a new user wh

[2019-07-17 05:21] tao12345666333 commented on #713
Thanks.

/assign

[2019-07-17 06:40] BenTheElder commented on #713
Technically kind needs to run as any user that has access to the docker socket, which may or may not be root depending on how you install docker. This is also true if using the `docker` CLI or other tools  though.

[2019-07-17 07:37] wilmardo commented on #710
No it is the /etc/resolv.conf within the alpine pod. The /etc/resolv.conf of the kind nodes looks like this:
[code]

And I can resolve the internet fine from within the kind nodes.

I upped the CoreDNS replicas to two again and the DNS stops working. When downscaling it to one I have a fully functional DNS to the internet and within the cluster:

[code]

Scaling it up to two again and it stops wor

[2019-07-17 11:03] prankul88 commented on #713
@BenTheElder Thanks for replying. I am not well aware of how to run docker without binding to UNIX socket, but feel this might be the most common way of installation. So maybe this will be a nice addition in README file.

[2019-07-17 11:25] aojea commented on #710
🤔 I can´t reproduce the issue with your config

[2019-07-17 16:58] howardjohn opened #717 ""etcdserver: request timed out""
**What happened**:
We started using KinD in our prow integration tests for Istio, and occasionally are seeing errors like
`Error from server: error when creating "/logs/artifacts/galley-test-a99cf400cb3343eeac7/_suite_context/istio-deployment-577548603/istio-config-only.yaml": etcdserver: request timed out`

**What you expected to happen**:
etcd doesn't timeout.

**How to reproduce it (as minimall

[2019-07-17 17:47] endzyme opened #718 "Minor version tags for published node images (kindest/node:v1.14, kindest/node:v1.13, etc)"
**What would you like to be added**:
In a similar vein to https://github.com/kubernetes-sigs/kind/issues/197, I think it would be great if you could include `kindest/node:v1.14` so people can get the latest minor without continually knowing the latest patch release.

**Why is this needed**:
Benefits
- Would allow people to "automatically" get the latest patch for new clusters

I'm happy to help wi

[2019-07-17 17:49] neolit123 commented on #398
@BenTheElder
my personal vote is -1 on including the metrics server as part of kind deployments by default.

[2019-07-17 18:01] BenTheElder commented on #718
As noted in the release notes we'd in fact prefer that you pin to an _exact_ image (including the hash) currently as we've had to make changes to startup before that necessitated new images. If we publish this tag and encourage using it (or a "latest" tag) then we can't make a change like that.

kind is still alpha grade in terms of https://kubernetes.io/docs/reference/using-api/deprecation-policy

[2019-07-17 18:05] BenTheElder commented on #398
@neolit123 why? We need metrics APIs to run Kubernetes tests at parity with the existing test setups, and it seems these are commonly available / depended on.

[2019-07-17 18:06] BenTheElder commented on #398
Note: we do not aim for mere conformance, but conformance is definitely the minimum bar.

[2019-07-17 18:11] BenTheElder commented on #717
I would look at resource usage on the host, this is probably a CPU exhaustion or disk I/O issue?

[2019-07-17 18:11] neolit123 commented on #398
definitely out of scope for kubeadm. kind(er) might enable it if conformance demands it.

can you show examples?

latest comments suggest that this will be revised, possibly metrics tests will be skiped if no metrics system is present. i think that creating a mock metrics system in the framework is better but someone needs the bandwidth to work on that.

[2019-07-17 18:18] BenTheElder commented on #398
Conformance OR reasonable testing / user usage, including HPA / dashboard / ...

The test that was promoted to conformance was already one of the default presubmit tests for Kubernetes (see also https://github.com/kubernetes-sigs/kind/pull/701), eventually we should be able to run ~all of these (relatively trivial things block this currently, such as node exec mechanisms, we're working on it).

Th

[2019-07-17 18:19] howardjohn commented on #717
Around the time this happened the node was at ~60% CPU utilization and disk IO was peaking at 108MB/s and 648 operations/s (write). The disk claims to support 122.8mb/s sustained throughput (256gb GCP SSD).

So it does seem like it was potentially hitting the limit?

[2019-07-17 18:21] BenTheElder commented on #717
That might be it, we had some problems with I/O throttling breaking various prowjobs (kind or otherwise) on prow.k8s.io due to heavy throttling because of highly exceeding the limits, I believe prow.k8s.io switched to appropriately sized pd-ssd on the nodes to avoid throttling. (IIRC 250gb pd-ssd?)

[2019-07-17 18:22] BenTheElder commented on #717
There should be a graph with I/O throttling in the VM details IIRC, though it averages so you can miss it if you're looking at broad timespans.

[2019-07-17 18:24] neolit123 commented on #398
these are topics for sig-arch(conformance), testing commons and possibly sig-instrumentation.
i personally do not like that HPA requires a metrics system to begin with.

if we *have to* add the metrics server for kind(er) deployments so be it, but for kubeadm we cannot, as neither HPA or the metric server are essential for the "minimal viable cluster" concept.

[2019-07-17 18:30] BenTheElder commented on #398
HPA requiring a metrics system or not is at best sig-instrumentation, but realistically I don't see that changing. (also unclear that there's anything actually wrong with that).

Sure, I can agree that kubeadm does not necessarily need to handle this, but I doubt we're going to significantly change HPA at this point and kind not supporting it seems less useful than kind supporting it, regardless o

[2019-07-17 18:37] endzyme commented on #718
woops - thanks for that heads up @BenTheElder - sorry for the noise :)

I'll close this for now and thanks for the prompt response

[2019-07-17 18:37] #718 closed

[2019-07-17 19:06] howardjohn commented on #717
You are right, heavily throttled, spikes at 100MB/s throttled. We just switched to 256gb SSDs (to match yours) because of semi-related issues where our docker instances were getting killed. The problem is we build a bunch of docker images at  the start of all our tests which probably uses tons of disk. So I guess if we can optimize that to do less work this problem may resolve itself

[2019-07-17 19:32] neolit123 commented on #398
reading the docs it seems quite coupled to metrics, so i also don't expect this to change.

that is true. HPA on it's own as a feature seems great to be part of conformance, but i don't think the metric server addon requirement should be part of conformance. if yes, then all deployers have to enable it (if not already) - kops, kubeadm, kubespray, etc. i guess this will be decided before 1.16.

int

[2019-07-17 21:44] BenTheElder commented on #713
You definitely normally run it on a UNIX socket (can also be remote / TCP though), however a couple points / clarifications:

- It's not about root / not-root users, it's about being a user with permission to the socket when executing `kind` or `docker`, which on Linux is typically the `docker` [**group**](https://wiki.archlinux.org/index.php/users_and_groups), which very likely includes the root

[2019-07-17 21:49] BenTheElder commented on #717
That may help, another option is to try to avoid disk heavy jobs from co-scheduling.

Unfortunately Kubernetes / Prow are not terribly helpful there. Pod anti-affinity (or at least in the past a cheaper option was identical `hostPort`s on the pods, eg `hostPort: 9999` on all pods that shouldn't be co-scheduled), could help, but currently disk I/O is not really something that is accounted for :/

A

[2019-07-17 21:51] BenTheElder commented on #710
possibly interesting comment for anyone else following along: https://github.com/kubernetes/kubernetes/issues/80243#issuecomment-512262392

[2019-07-18 04:15] BenTheElder commented on #718
No no, thanks for the issue! It's good to have input on what people are looking for.

I definitely think we should be doing this at some point, maybe even some form of "latest" Kubernetes, but I think we should probably get more stability in kind first 😄

[2019-07-18 04:53] prankul88 commented on #713
@BenTheElder Great, I totally agree with you now. Thanks for sharing this informarion.
However I have a small doubt ,

If I run command `sudo kind` it shows command not found. I am new to this and might be confusing myself a bit.

[2019-07-18 04:59] BenTheElder commented on #713
Ah, so if you installed kind with go or the make build it was likely installed to `$HOME/go/bin/kind` for that user, `sudo` will not inherent your environment variables, so there are a few options:
- copy it to a system-wide PATH directory (eg possibly /usr/local/bin/kind)
- use `sudo env "PATH=$PATH" kind ...` to preserve your PATH under sudo
- install it again as root
- use the full path to kind

[2019-07-18 05:00] tao12345666333 commented on #713
If you install `kind` via `go get` it will be install at `$GOPATH/bin/kind` and you should add your `$GOPATH/bin` to your `$PATH` so that you can using `kind` derectly.

If you using `sudo kind`, your current environment variables will not be maintained. xref https://superuser.com/questions/232231/how-do-i-make-sudo-preserve-my-environment-variables

[2019-07-18 06:06] endzyme commented on #718
Cool beans! Thanks for the follow up :) I appreciate it. Feel free to keep the issue closed for or open it back up in the future.

:) Thanks again!

[2019-07-18 08:52] jecnua opened #719 "zsh completions throws an error"
Hi all,

**What happened**:

The kind zsh completions throws and error when you try to use it.

**What you expected to happen**:

I expect the completions to work :)

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment:**

- kind version: (use `kind version`): v0.3.0
- Kubernetes version: (use `kubectl version`): v1.15.0
- Docker version: (use `docker info`): 1

[2019-07-18 09:08] aojea commented on #719
is this a duplicate of https://github.com/kubernetes-sigs/kind/issues/522?

[2019-07-18 09:10] jecnua commented on #719
No. I have read the other ticket before. That is just asking for a way to source the autocomplete in zsh :) This problem I have is following the normal way that is shown in:

`kind completion -h`

[2019-07-18 16:34] BenTheElder commented on #719
This is unfortunate. The zsh completions are auto generated by a dependency (https://github.com/spf13/cobra), I think they've been generally problematic upstream :/

[2019-07-18 19:33] PatrickLang opened #720 "WSL2: Issues with iptables rules"
**What happened**:

I was digging more into the kindnet logs to figure out what was going on, and it looks like WSL2 doesn't set up some of the expected iptables chains. This needs either a change in WSL2 or a workaround to create them in `kind`.

/tmp/749344725/kind-control-plane/containers/kindnet-t8x85_kube-system_kindnet-cni-c6987900ab828ff099f10415c4576751aae5eba577918446672c4f21455a7b8c.log