[2019-12-23 04:54] vinh-ngo-webjet commented on #1192
i suspect it may have something to do with the antivirus running on windows. Anyway, i'm now running it on ubuntu and it works like a charm! Thanks!

[2019-12-23 09:42] aojea commented on #1192
/close

please reopen if you want to keep digging into the previous issue

[2019-12-23 09:42] #1192 closed

[2019-12-23 17:24] RafalSkolasinski opened #1202 "Allow kind to directly use images without "kind load docker-image ...""
**What would you like to be added**:

It would be great if by usage of some flag / configuration option kind's node would have direct access to docker images build locally.

**Why is this needed**:

Executing `kind load ...` is quite a hassle and unnecessarily takes time.
Especially for images > 1GB.

[2019-12-23 19:14] BenTheElder commented on #1202
This is simply not possible at the moment.

We are however looking at local registry UX, a very rough way to do it is here https://kind.sigs.k8s.io/docs/user/local-registry/

[2019-12-23 19:14] #1202 closed

[2019-12-23 21:13] danielhelfand opened #1203 "Specify Names Without --name"
**What would you like to be added**:

I would like to specify the name argument without using `--name`. Instead of using `kind create cluster --name name`, I think it would be more user friendly to be able to run `kind create cluster name`. This would also apply to other commands where a name argument is needed.

**Why is this needed**:

It's a more common pattern to specify a name of a resource w

[2019-12-23 21:16] BenTheElder commented on #1203
Possibly, but it will lose consistency with the rest of the commands.

You can think of name as more like --namespace if we compare to kubectl.

[2019-12-23 21:17] BenTheElder commented on #1203
It would be a huge breaking change to add name as a required argument to all commands, and having it as an optional positional argument doesn't work if we ever want to allow variadic arguments (eg something like `kind load docker-images ...`)

[2019-12-23 21:34] danielhelfand commented on #1203
Ah, I see. I wasn't aware of these other thoughts around kind. This is an admittedly minor issue, so no worries if it would be a major pain to implement. While it would be nice to have, I can close this. Thanks for the explanation of the thought process around `--name`.

[2019-12-23 21:34] #1203 closed

[2019-12-24 01:34] xenithorb commented on #1202
[code]

[2019-12-24 02:08] BenTheElder commented on #1202
Hmm I'll have to double check the script, it did get refactored recently.

Why..? I would say nearly all scripts should...

[2019-12-24 02:10] fllaca commented on #1200
I came with a working experimental approach, but requires some hacks and modifications in Kind. Steps:

1. Using this [modified version of Kind](https://github.com/kubernetes-sigs/kind/commit/71973fef9b7a966256119b5c9bba29d6bc3faa26), create a cluster using this configuration:
[code]
("integration-tests" is a pre-existing docker network: `docker network create integration-tests`)

2. This will mak

[2019-12-24 02:12] BenTheElder commented on #1200
Removing the forward breaks upstream DNS..?

I am working on docker networks support, please see other issues in the tracker for the problems with doing this properly. I'm currently developing a prototype.

We are not accepting docker flags anywhere in the API surface, we do not wish to be coupled to docker's CLI externally in any way and have discussed this in the past.

[2019-12-24 02:14] Hokwang commented on #1186
I can solve using below.
https://github.com/kubernetes-sigs/kind/issues/1010#issuecomment-546238916

I will close this case.
Many thanks,

[2019-12-24 02:14] #1186 closed

[2019-12-24 02:17] BenTheElder commented on #1200
This should be possible without user defined networks IIRC, I will have to dig out the details.

host.docker.internal should be possible to mimic on linux

[2019-12-24 03:10] BenTheElder commented on #1203
I'm not a massive fan of the --name thing but I also don't want to break users without a big improvement.

Currently this is the rough non-breaking plan to offer another way to specify this https://github.com/kubernetes-sigs/kind/issues/1094

[2019-12-24 03:11] fllaca commented on #1200
It doesn't remove it, it replaces the `/etc/resolv.conf` based forward with an IP:port forward (using the hostIP and port 5353, which is tunneled to 127.0.0.11:53 using socat in the host container(the kind node ) ). The problem with the original /etc/resolv.conf in CoreDNS was that it contains "nameserver 127.0.0.11", mounted from the host kind container. Since it is a loopback address, CoreDNS de

[2019-12-24 11:52] fllaca commented on #148
Dropping some thoughts:

- If we leverage user-defined docker networks, would it be possible to use the docker container names instead of IPs? This could remove the need of persisting the IPAM state by making conventions on networks and container names.

- Alternatively, what about specifying the IPs explicitly in the Kind cluster config, does it make sense?

[2019-12-24 12:04] fllaca commented on #1200
Finally I found a way to achive this with [qoomon/docker-host](https://github.com/qoomon/docker-host):

[code]

From inside a pod running in Kind:
[code]

Thanks @BenTheElder for pointing me into another direction! :) Do you think this trick is worthy to be added to the user guide documentation ("Accessing host machine ports")?

In any case, I think we can close this question, thx for the assistan

[2019-12-24 12:04] #1200 closed

[2019-12-24 15:42] RafalSkolasinski commented on #1202
What kind of speed up may one expect using the local registry shared with kind node?
One still need to push to local registry (do not remember how much time it takes).

Good thing is that it will for sure reuse already existing layers.

[2019-12-24 17:44] danielhelfand opened #1205 "Cluster Deletion Should Say Cluster Doesn't Exist When Deleting Not Existent Cluster"
**What happened**:

Running `kind delete cluster --name` for a cluster that doesn't exist returns the following:

[code]

**What you expected to happen**:

A message saying something along the lines that the cluster doesn't exist. Otherwise, it makes it seem like the deletion occurred without issue.

**How to reproduce it (as minimally and precisely as possible)**:

Run `kind delete cluster --name

[2019-12-25 22:31] BenTheElder commented on #1205
Clusters don't really exist, kind doesn't have it's own state store.

Kind can be aware of no nodes, but it will still cleanup kubeconfig (removing the stale context)

[2019-12-26 04:39] danielhelfand commented on #1205
This could be accomplished by pulling back the list of clusters and checking if the specified name is present or, if there are no nodes found, returning an error message stating that no nodes are present.

[2019-12-26 07:56] zgfh opened #1206 "feature: can we support docker run param ,like --add-host?"
**What would you like to be added**:
feature: can we support docker run param ,like --add-host?
**Why is this needed**:
i want add hosts for registry domain

[2019-12-27 10:39] sokoow opened #1207 "Mounting docker volumes in kind?"
**What would you like to be added**:

Is there any way to allow docker volumes to be mounted in kind ?

**Why is this needed**:

1. Well, first of all to avoid 10 gig docker container size on some OSes. As you work with your kind stack, it swallows a lot, especially if you have hostpaths mounted.

2. Secondly, it'd be nice to have some extra persistence on host machine for repeatable tests that re

[2019-12-27 15:25] jpetazzo opened #1208 "Bail out if "ensuring node image" fails (e.g. because of non-existent image)"
*Note: depending on the reader's perspective, this could be a bug report or a clean up. YMMV.*

**What would you like to be added**:

When "Ensuring node image" fails to pull the image, kind should abort (instead of displaying a misleading "everything is ok!" checkmark).

Example:
[code]

**Why is this needed**:

I personally think it's a *bad idea™* to show a green checkmark when there was, in fa

[2019-12-27 19:19] amwat commented on #1207
Duplicate of https://github.com/kubernetes-sigs/kind/issues/1045

https://kind.sigs.k8s.io/docs/user/configuration/#extra-mounts

[2019-12-27 19:46] sokoow commented on #1207
thanks! :D

[2019-12-27 19:46] #1207 closed

[2019-12-27 22:19] howardjohn opened #1210 "Ephemeral containers using kubectl-debug does not seem to work"
**What happened**:

Using https://github.com/aylei/kubectl-debug, ephemeral contains do not run properly on Kind. The container is created but then it hangs - not sure where exactly its going wrong.

**What you expected to happen**:

Shell opens up in ephemeral container. This occurs on other Kubernetes (at least GKE 1.16)

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2019-12-28 02:20] maximillianbrain1 opened #1211 "Missing v1.16.0 In Dockerhub"
Hello, I really want to use kind with v1.16.0, but there is only v1.16.1, v1.16.2, and v1.16.3 in Dockerhub. Can someone please build and upload that version?

Thanks!

[2019-12-28 14:34] milesbxf opened #1212 "kind as a Go library"
**What would you like to be added**:

kind works great for adhoc local development or end-to-end tests written in bash/make ❤️it's currently a bit fiddly to invoke directly from Go as a library - I'm not sure how many people are trying to do this yet, but I couldn't find any good examples anywhere. I've written a small library here that provides a lightweight API in return for some opinionated def

[2019-12-30 04:24] h7kanna opened #1213 "Better UX for using local registry"
**What would you like to be added**:

Add a special node to the Kind cluster with 'registry' role. This node can run docker registry without the user having to run any extra scripts to configure Kind cluster

**Why is this needed**:

This can be an alternative to 'kind load docker-image' and naturally integrates with 'docker push' CI workflows.

Also, the registry storage can be mounted from the h

[2019-12-30 08:29] finn-ball opened #1215 "Update kind-with-registry.sh to work out of the box."
https://kind.sigs.k8s.io/docs/user/local-registry/

When following these instructions and create the shell script but get:

[code]

**What would you like to be documented**:

I'd like the documentation to be updated to reflect how to create a local registry that can be used with Kind.

**Why is this needed**:

For easier local development.

[2019-12-30 17:54] bjethwan opened #1216 "networking issue - dns stops working when used calico cni"
**What happened**:
[code]

[code]

[code]

**What you expected to happen**:
I didn't apply any network policies.
So I expected dns to work fine for external names.

exact same setup and aws worked fine (used kops to create the cluster using networking=calico)

**Environment:**
[code]

[2019-12-30 22:24] aojea commented on #1216
Can you please check the known issues?
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues

if that's ok, can you paste the logs with the errors trying to resolve the external domains?
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#are-dns-queries-being-received-processed

[2019-12-30 22:34] aojea commented on #1211
This topic was commented in different issues,

https://github.com/kubernetes-sigs/kind/issues/863

the image publishing is not being automated but is easy to create your own images

https://kind.sigs.k8s.io/docs/user/quick-start/#building-images

[2019-12-30 22:53] aojea commented on #1208
:)

https://github.com/kubernetes-sigs/kind/blob/a389a5c28c9f2aa334489aa9ffe67377f7146ca6/pkg/cluster/internal/providers/docker/images.go#L44-L46

[2019-12-30 22:55] aojea commented on #1206
can you expand more on this?
What do you mean by

😅

[2019-12-31 21:01] rajdas98 commented on #52
@mitar You can run KIND inside the docker by **allowing network to use the host network** using the following command:
- docker run -ti --privileged **--network="host"** gitlab/dind:latest
Note:
- use privileged mode (To mount the kubeconfig path and for the docker runtime)
- use gitlab/dind official image

[2020-01-02 05:00] amolkesare opened #1217 "how to start k8s dev version "kind" after reboot"
Hi,

I have installed k8s dev prog called kind on Ubuntu vm.
After installing kind, I created cluster and launched pods as well.

But after reboot, I am not able to see that cluster using kubectl or kind command:
root@debian1:~# kubectl cluster-info

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
The connection to the server 127.0.0.1:41605 was refused - did you s

[2020-01-02 05:43] rezaalavi opened #1218 "no route between node containers on arch linux (?)"
**What happened**:
Creating a cluster fails after installation.

**What you expected to happen**:
Following the getting started guide I was expecting to have a local k8s cluster running.

**How to reproduce it (as minimally and precisely as possible)**:
`kind -v 1 create cluster --config kind.yaml --image kindest/node:v1.17.0
`
**Anything else we need to know?**:
Here is the output I got
`
Creatin

[2020-01-02 06:09] tao12345666333 commented on #1218
[code]

Can you show me your iptables rules? And `ps -ef |grep dockerd`

[2020-01-02 08:03] rezaalavi commented on #1218
ps -ef |grep dockerd                                                                                                                                                                                                root        1497       1  0 15:48 ?        00:01:27 /usr/bin/dockerd -H fd://

`hain INPUT (policy ACCEPT)
target     prot opt source               destination
KUBE-FIREWALL  all  --  anyw

[2020-01-02 09:23] tamalsaha opened #1219 "Allow port ranges in extraPortMappings"
I work on an ingress controller called [Voyager](https://github.com/appscode/voyager). I want to use kind for e2e testing instead of minikube.

The tests follow this pattern:

1. I run the operator inside a cluster (minikube now, looking to switch to kind)
2. Then run `go test`
3. Tests will create an ingress resource which is exposed via a NodePort service. In minikube, I can access the ingress p

[2020-01-02 17:05] neolit123 commented on #1218
what are the contents of your kind config?

it seems the worker node (container) has no connectivity to the API server that is on the control-plane node.

what happens if you create a kind cluster with only one control-plane node (no workers), and try to use `kubectl get cm -n kube-public cluster-info`?

[2020-01-02 17:06] neolit123 commented on #1218
/priority awaiting-more-evidence

[2020-01-02 18:48] BenTheElder commented on #1216
Note that calico etc. are not really supported as well, installing a different CNI is a power user feature that we do not test.

do your pod AND service subnets match calico?
also https://github.com/kubernetes-sigs/kind/issues/1216#issuecomment-569814303

[2020-01-02 18:50] BenTheElder commented on #1213
We're still designing this, there are some tradeoffs that depend on how the networking changes to fix https://github.com/kubernetes-sigs/kind/issues/148

The obvious "registry" role has some downsides, including that you'll need to push to each cluster.

[2020-01-02 18:53] BenTheElder commented on #1217
this is a duplicate of #148, we're working on it.

do not reboot the host, or else recreate the cluster. these are cheap ephemeral test cluster and do not currently support rebooting the host.

[2020-01-02 18:53] #1217 closed

[2020-01-02 18:56] BenTheElder commented on #1218
no route to host suggests to me that your docker installation is somehow broken .. that host should be a container IP which _should_ be routable from other containers.

can you check if this sort of thing works on your default network by just creating some containers and checking if you can reach between them?

[2020-01-02 18:57] BenTheElder commented on #1218
also what happens if you just `kind create cluster -v 1` without the config to create a one node cluster?

[2020-01-02 18:59] BenTheElder commented on #1211
yep, we do not publish all images yet, for prebuilt images you must choose one from the release notes https://github.com/kubernetes-sigs/kind/releases

to build your own at an arbitrary version, see the docs linked above.

note that we may not support the built image in a future version of kind, as kind is still alpha and you may have to build it again.
this is part of why we are not building for

[2020-01-02 18:59] #1211 closed

[2020-01-02 19:00] BenTheElder commented on #1208
we at the very least should not show a happy green check mark indeed..

thanks for reporting this

[2020-01-02 19:00] BenTheElder commented on #1206
sorry, but no.

for specific features we will support a portable abstraction, but kind is not directly coupled to docker's CLI and we have no intention of becoming coupled to it.

[2020-01-02 19:00] #1206 closed

[2020-01-02 19:06] BenTheElder commented on #1205
A bit more detail...

`kind delete cluster` is indempotent / re-entrant, and includes _all_ cluster cleanup, including e.g. kubeconfig entries...

kind does not itself have a concept of a cluster existing or not, except to help users with `kind get clusters`.

commands like `kind create clusters` have moved to clearer messaging on this to note that _nodes_ exist for a cluster already.

we could ma

[2020-01-02 19:07] BenTheElder commented on #1205
TLDR I think this sends the wrong message that deleting a cluster if it "doesn't exist" is wrong when it's actually perfectly fine and a desired method of cleanup.

[2020-01-02 19:10] BenTheElder commented on #1202
pushing over the network will be faster than over docker exec because of the way these are implemented, particularly in docker for mac.
the layer reuse is also important.

[2020-01-02 19:21] BenTheElder commented on #1212
Hi, this is a neat project, however, we'd prefer people build their opinionated versions out of tree.

kind actually has its own opinionated defaults if you do not pass any options to `Create(...)`.

we're not focused on the go library right now for a few reasons:
- the internals are not stable while we rework kind to finish enabling important features that require broad changes
- invoking the CLI

[2020-01-02 19:21] #1212 closed

[2020-01-02 19:24] BenTheElder commented on #1196
closing for now, lacking any answers to how to deal with these problems, may revisit in the future.

[2020-01-02 19:24] #1196 closed

[2020-01-02 23:01] BenTheElder commented on #1179
I don't think KIND can do much else here, we should document this in known-issues though.

[2020-01-02 23:06] BenTheElder commented on #1210
/assign

[2020-01-02 23:16] BenTheElder commented on #1210
This is a problem with the tool.

https://github.com/aylei/kubectl-debug/issues/3

If you inspect the debug agent pod, you'll find that it mounts `/var/run/docker.sock`.
This tool speaks to `dockerd`, it doesn't seem to use CRI (which also suggests that it isn't using kubernetes ephemeral containers)

[2020-01-02 23:17] howardjohn commented on #1210
Huh, I seem to recall that being linked to as an example of kubectl support for ephemeral containers, but you are right looks like it is not. Thanks for the follow up. Sounds like no action needed here, so feel free to close unless you prefer to keep open for future reference

[2020-01-02 23:19] BenTheElder commented on #1210
Actual ephemeral containers are behind a feature gate in 1.16+ and won't not be until they are out of alpha.

https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/#examples

There is a KEP for `kubectl debug` in-tree but it doesn't look related to that tool and the KEP is not merged yet. https://github.com/kubernetes/enhancements/pull/1204

I want to go ahead and confirm if ephe

[2020-01-02 23:20] aojea commented on #1218
You have libvirt, docker and kubernetes iptables rules on the host 🤔

are you running `kind` directly in the host or inside Docker, a pod or a VM?

if the one node cluster works as Ben suggested, I suggest to check that the host setup is correct, ip forwarding enable, no iptables rules dropping connections between docker nodes, ...

[2020-01-02 23:23] howardjohn commented on #1210
At some point I had a ephemeral container created (in kind), but I couldn't actually attach to it. But the pod spec showed it running. I thought I was using that tool, not sure if it change since then (it was right when 1.16 came out that I tried this). This may have been user error though, not sure.

[2020-01-02 23:33] BenTheElder commented on #1210
It seems to work with the latest kind:
1. create kind cluster with feature gate enabled
[code]
2. Create example pod
[code]
3. Update ephemeral containers:
[code]
4. Attach
`kubectl attach -it example-pod -c debugger`

It's certainly clunky this way though, and without PID namespace sharing on it's not quite as helpful (though this could also be turned on).

[2020-01-02 23:35] #1210 closed

[2020-01-02 23:50] BenTheElder commented on #1215
fixed by https://github.com/kubernetes-sigs/kind/pull/1220

[2020-01-02 23:50] #1215 closed

[2020-01-03 01:57] marcindulak commented on #1215
FYI: there still seem to be an issue when pulling images from the insecure local registry configured by  `kind-with-registry.sh` https://github.com/containerd/cri/issues/1367

[2020-01-03 03:56] rezaalavi commented on #1218
This is the conent:
=============
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
- role: worker
- role: worker
- role: worker
============

`
NAME           DATA   AGE

cluster-info   1      9s
`
It works without any problem when it is just a single node.

[2020-01-03 03:58] rezaalavi commented on #1218
It is inside the host.

I can access ping one container from another in docker without any problem.

[2020-01-03 09:02] aojea commented on #1218
what's the output of ?
`sudo sysctl net.bridge.bridge-nf-call-iptables`

[2020-01-03 15:18] aojea commented on #1219
If you are using linux you can reach the services using the KIND nodes ips

[2020-01-03 16:15] milesbxf commented on #1212
Thanks @BenTheElder - that makes sense 🙌

[2020-01-03 17:29] secret104278 opened #1224 "Pod inside kind cluster may be affected by host machine apparmor profile"
**What happened**: It failed when I try to run https://github.com/osixia/docker-openldap inside k8s created by kind. From the `dmesg`, it seems that the process was denied by apparmor, however the same Pod manifest will work in native k8s cluster or directly run by docker command.

After some dig in, I found out the reason was, I have `slapd` installed on my host machine, and the
apparmor profile

[2020-01-03 17:39] BenTheElder commented on #1224
Previous discussion in currently open issue https://github.com/kubernetes-sigs/kind/issues/1179

I'm not aware of anything we can do besides document this. This is a nested container issue AFAICT.

[2020-01-03 17:46] matti opened #1225 "make running ingress controller or exposing ports easier in docker for mac"
the best solution I've come up with is

values.yaml
[code]
[code]
[code]
(inspired by https://banzaicloud.com/blog/kind-ingress/)

and now
[code]

works.

this is way too hard.

[2020-01-03 18:25] BenTheElder commented on #1225
https://kind.sigs.k8s.io/docs/user/ingress/

How do you propose that we make this easier?

[2020-01-03 18:27] BenTheElder commented on #1225
Oh I see you've used the banzaicloud linked container thing.

Please do NOT use that, I've left a comment on their post. KIND has long supported configuring forwarded ports properly and docker has long deprecated the linked container functionality.

[2020-01-03 19:25] matti commented on #1225
coo, thanks - l somehow missed the documentation.

[2020-01-03 19:25] #1225 closed

[2020-01-03 23:19] rezaalavi commented on #1218
I finally found the issue which was at my end.
I had firewalld installed and that blocked UDP connections.

[2020-01-03 23:19] #1218 closed

[2020-01-04 01:49] tamalsaha commented on #1219
Ah! I did not know this. This solves my use-case.

[2020-01-04 10:00] aojea commented on #1219
/close per last comment
Thanks for your feedback, there are also some examples on the github issues and the official docs exposing nodeports with KIND like this https://kind.sigs.k8s.io/docs/user/resources/#using-contour-ingress-with-kind

[2020-01-04 10:01] aojea commented on #1219
/close

[2020-01-04 10:01] #1219 closed

[2020-01-04 14:22] matti commented on #1225
For the history, the expose can be done without links: https://github.com/matti/kindol/blob/a36ca1b42d25acfdfaf1a8a3cae4ed09582216cc/bin/kindol#L169-L176

(from my https://github.com/matti/kindol helper)

[2020-01-04 14:40] matti commented on #1225
(I still prefer the socat way because otherwise I have to delete my cluster to free port 80)

[2020-01-05 10:14] marcindulak commented on #1215
It looks like already from the containerd version up in https://hub.docker.com/layers/kindest/node/v1.16.2/images/sha256-2c68d327c2833fa9c0f81b5fd36499cf969646cd50affecd21b4725d37931e21 the problem of pulling from insecure registry has been fixed.

[code]

[2020-01-06 22:55] jiatongw opened #1230 "Is there an option to build kind node image using pre-pulled images/binaries?"
I noticed that kind node image is built programmatically. It uses a pre-cloned kubernetes source to build/install kubernetes bits.

Is there an option to build kind node image using pre-pulled images/binaries, other than building from the pre-cloned kubernetes source code? For example, can I pre-pull all the kubernetes artifacts, either images tar file, or binaries (binaries are preferred) and sav

[2020-01-06 23:04] jiatongw commented on #1230
/kind feature

[2020-01-06 23:08] BenTheElder commented on #1230
Currently no, though also worth noting that KIND's published images and programmatic build do not use the defaults that the k8s releases do, this would result in larger node images.

[2020-01-06 23:09] BenTheElder commented on #1230
For developers working on Kubernetes this isn't terribly helpful. For users developing on top of kubernetes we're more focused on how we'll manage prebuilding lots of node images so no building is required.

[2020-01-06 23:29] BenTheElder commented on #1216
I just realized your example uses busybox.

busybox does not respect DNS settings appropriately, namely search paths.

https://github.com/kubernetes/website/pull/18001

[2020-01-06 23:29] #1216 closed

[2020-01-06 23:38] jiatongw commented on #1230
Thanks @BenTheElder

[2020-01-06 23:39] jiatongw commented on #1230
/close

[2020-01-06 23:39] #1230 closed

[2020-01-07 00:18] #1208 closed

[2020-01-07 00:49] BenTheElder commented on #1179
for now documented https://kind.sigs.k8s.io/docs/user/known-issues/#apparmor

[2020-01-07 00:49] #1179 closed

[2020-01-07 00:49] BenTheElder commented on #1224
for now documented https://kind.sigs.k8s.io/docs/user/known-issues/#apparmor

[2020-01-07 00:49] #1224 closed

[2020-01-07 04:24] thomasjm opened #1233 "Ingress example from documentation doesn't work"
**What happened**:

I installed `kind` on my machine and verified that `kind create cluster` works. Then I deleted that cluster and tried the first command of the ingress setup instructions from https://kind.sigs.k8s.io/docs/user/ingress/:

[code]

This resulted in the output

[code]

**What you expected to happen**:

A cluster should be successfully created, ready to do the next couple ingress se

[2020-01-07 19:49] amwat commented on #1233
Which shell are you using?
Can you try writing that content
[code]
to a file, say `kind-config.yaml`
and run `kind create cluster --config=kind-config.yaml` instead of the inline config in the guide.

[2020-01-07 22:22] BenTheElder commented on #1233
this part:
[code]

works fine on my machine ... +1 to which shell are you using? I wonder if this doesn't work in some shells.

[2020-01-07 22:28] BenTheElder commented on #602
https://github.com/kubernetes-sigs/kind/issues/1213 makes for a broader issue, this one is older but more specific on one particular approach, going to dedupe for that one I suppose ...

[2020-01-07 22:28] #602 closed

[2020-01-08 00:03] raizik opened #1234 "Pod-to-NodePort Communication : Pod to send http post to NodePort"
pretty new in Kubernetes, sorry in advance for possible mistakes)

I'm using kind (kind) for my two-node cluster and I have a node.js that simulates an HTTP server that gets HTTP GET requests.

I want to implement a new load balancing algorithm that's based on the pods sending http POST to the load balancer service (in my case - NodePort since it's a local cluster) when they finish a job sent from

[2020-01-08 00:28] thomasjm commented on #1233
Thanks for the quick response! You're right, that problem was due to me using ZSH. However, using Bash or the config file option runs into an error a little further along:

[code]

[2020-01-08 00:52] BenTheElder commented on #1233
can you run with `-v 1`?

also maybe skim https://kind.sigs.k8s.io/docs/user/known-issues/, there are a few ways that container nesting doesn't work well, my guess would be one of those is the issue (e.g. ZFS :disappointed: )

[2020-01-08 01:03] thomasjm commented on #1233
Ah, that showed that it was unable to bind port 443 since it was in use on my machine. Changing the `hostPort` settings in the config made it create the cluster successfully. Thanks!

[2020-01-08 01:03] #1233 closed

[2020-01-08 01:05] BenTheElder commented on #1233
Great! :upside_down_face:

[2020-01-08 03:07] tamalsaha opened #1235 "Feature gates does not apply"
**What happened**:
I am trying to create a Kind 1.11.10 cluster with rancher/local-path-provisioner. Because, we want to test our operator for Openshift 3.11 which is K8s 1.11 api. From Rancher's project, we see that we need to enable `DynamicProvisioningScheduling` feature flag.

https://github.com/rancher/local-path-provisioner/blob/v0.0.1/README.md#prepare-kubernetes-cluster

**What you expecte

[2020-01-08 03:08] tamalsaha commented on #1235
Logs from kind create command:

[code]

[2020-01-08 03:10] BenTheElder commented on #1235
first noting that 1.11 is barely supported, officially the broader kubernetes project does not support it, and we can't run CI because the tests are broken and patches are no longer accepted.

your kubeadm config patches will have to match the Kubernetes v1.11.X kubeadm config format, unfortunately this was still an alpha IIRC and does not match the beta format very well.

this is also poorly docu

[2020-01-08 03:14] tamalsaha commented on #1235
Any ideas how can we get a working a PVC feature in 1.11 ? Rancher or anything else? OpenShift 3.11 is their latest released version. Our users are filing bugs so I am trying to see what is possible.

[2020-01-08 03:16] BenTheElder commented on #1235
The kubeadm types for 1.11 are here: https://github.com/kubernetes/kubernetes/blob/release-1.11/cmd/kubeadm/app/apis/kubeadm/v1alpha2/types.go

kind logic is here:
https://github.com/kubernetes-sigs/kind/blob/c8a82d8570b989988626c3f722f3a10c675f01f7/pkg/cluster/internal/kubeadm/config.go#L450

if you increase the verbosity or poke around on the nodes you can see the config kind generates.

With th

[2020-01-08 03:17] BenTheElder commented on #1235
Officially rancher requires 1.12+, which is why kind doesn't ship it in 1.11. I'm not sure if you can get it working.

The CSI options definitely won't work that far back, I'm not sure if there are any 1.11 options. Maybe an older version of the rancher driver?

[2020-01-08 03:18] tamalsaha commented on #1235
I can try an older version of rancher driver but first I need get the feature gates enabled. See the docs for the old version: https://github.com/rancher/local-path-provisioner/blob/v0.0.1/README.md#prepare-kubernetes-cluster

[2020-01-08 03:37] tamalsaha commented on #1235
I think I see the problem . In kubeadm 1.11, the config kinds were MasterConfiguration and NodeConfiguration

[2020-01-08 06:02] s3than commented on #1216
@BenTheElder I can replicate this error with a none busybox container

`networking:
  disableDefaultCNI: true
  podSubnet: 192.168.0.0/16`

and setting

`kubectl -n=kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true`

I had noticed in https://github.com/kubernetes-sigs/kind/issues/891 that rp_filter settings should be ok in the 0.6.1 release so tried without setting the IGNORE and

[2020-01-08 06:04] s3than commented on #1216
@BenTheElder I'm seeing the error even with the default network will debug more

kube-system     coredns-5644d7b6d9-cvtpw                           0/1     Running   0          11m
kube-system     coredns-5644d7b6d9-jrg27                           0/1     Running   0          11m

[2020-01-08 06:13] s3than commented on #1216
Removing this from my config allowed it to work again with Calico. I'll create a separate issue

`
    # kubeadmConfigPatches:
    # - |
    #   apiVersion: kubeadm.k8s.io/v1beta2
    #   kind: InitConfiguration
    #   nodeRegistration:
    #     kubeletExtraArgs:
    #       node-labels: "ingress-ready=true"
    #       authorization-mode: "AlwaysAllow"
    # extraPortMappings:
    # - container

[2020-01-08 12:18] tamalsaha commented on #1235
So, I got it working. I had to make 2 changes:

1. Fix the selected node annotation is external-storage repo https://github.com/kmodules/external-storage/commit/e55adbadb4e859b525b0e22b1838822905503a1c and build my own rancher provisioner. appscode/local-path-provisioner:dev

2. Fix the kubeadmpatches for MasterConfiguration and NodeConfiguration https://github.com/tamalsaha/k8s-111-local-path-dem

[2020-01-08 12:18] #1235 closed

[2020-01-08 15:28] aojea commented on #1234
@raizik sorry but I can't follow exactly your explanation, where is this going to run?

inside a pod?

also, you  mention that you are hardcoding the ip and port

how are you configuring your pods and the services to match them?

[2020-01-08 15:37] raizik commented on #1234
inside the pod, yes.

the IP is the local IP of the control plane node (master node) and the port - I've tried configuring the NodePort service so that it would have a new port mapping with 8081, but there was still the connection refused error.

[2020-01-08 15:44] aojea commented on #1234
omit the IP so it listens in all available addresses
`http.ListenAndServe(":8081", nil)`

how are you configuring your deployment and nodeport service?

[2020-01-08 15:58] raizik commented on #1234
I've tried omitting it, resulted in "connection timed out".
I have a statefulset:

![image](https://user-images.githubusercontent.com/38348846/71993830-6d397800-3240-11ea-8779-7e5fa4c248b6.png)

[2020-01-08 16:43] zystem commented on #1077
/reopen

[2020-01-08 16:46] zystem commented on #1077
issue still actual.
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/
they send requests from api pods. and can not resolve destination webhook pod ip.

[2020-01-08 19:00] BenTheElder commented on #1077
Hi @zystem, this is not a kind issue.

Kubernetes / kubeadm does not support using in-cluster DNS in the API server, as this causes a circular dependency, the in-cluster DNS's source of truth is the API server.

[2020-01-08 19:10] BenTheElder commented on #1216
can you narrow down which part of this config caused the issue?

[2020-01-08 20:54] s3than commented on #1216
I'll narrow it down today

On Thu, 9 Jan 2020, 05:11 Benjamin Elder, <notifications@github.com> wrote:

[2020-01-08 21:12] aojea commented on #1234
I think that if you are new to kubernetes you should do incremental steps and start small, just a simple pod, expose the service , ... you have a very complex scenario.

Also, it seems that nothing is related to KIND here 🤷‍♂ and we should close the issue

[2020-01-09 00:41] s3than commented on #1216
I've completed the following investigations around config

Default Networking, works as expected

Disable Default networking, with FELIX_IGNORELOOSERPF not set for Calico appears to resolve the issue

@BenTheElder Without digging into Calico to determine the issue I'd say it's resolved on the kind side.

`
---
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
networking:
  disableDefaultCNI: true

[2020-01-09 00:43] BenTheElder commented on #1216
ACK, thanks :-)

On Wed, Jan 8, 2020 at 4:41 PM Timothy Colbert <notifications@github.com>
wrote:

[2020-01-09 12:48] crixo commented on #1216
@s3than I'm using your cluster configuration and I also removed the env variable from calico pod but I still have the same issue: i'm not able to get external service (eg. www.google.com).
Which image did you use for testing it?

[2020-01-09 16:27] msumner91 opened #1240 "Kubectl connection refused"
On CI, we startup kind via the command below. This results in a successful startup according to Kind, but we are unable to interact with the cluster via kubectl.

**Create command:**
kind create cluster --name $CLUSTER_NAME --image kindest/node:v1.16.3 --loglevel=debug --wait 5m

However kubectl appears to be unable to connect to the cluster kind started (even when the context is set with --contex

[2020-01-09 17:08] #1240 closed

[2020-01-09 17:09] msumner91 commented on #1240
I believe this is a port issue rather than Kind related so closing

[2020-01-10 03:31] frankfarzan opened #1242 "kubeconfig file created by Kind is missing `apiVersion` and `kind`"
**What happened**:

In recent versions, Kind automatically populates ~/.kube/config

However, if ~/.kube/config is missing or empty, Kind doesn't populate it correctly.

It's does not include `apiVersion` and `kind`.

**What you expected to happen**:

If Kind is going to automatically mess with kube config, it needs to set it correctly.

Kubernetes client libraries, such as the official Javascript

[2020-01-10 04:41] BenTheElder commented on #1242
These fields are:
- legacy
- optional
- always the same (Config, v1)
- omitempty

See the upstream type definition here:
https://github.com/kubernetes/client-go/blob/940f07561929308fc33fc58bfa185f0544b84846/tools/clientcmd/api/types.go#L32-L41

[2020-01-10 04:42] BenTheElder commented on #1242
... Pretty sure this client library is broken.
Are you observing this with any client libraries other than the javascript one?

[2020-01-10 04:50] frankfarzan commented on #1242
No, just the javascript client. Does it make sense for Kind to add these fields for the time being given other tools depend on it (albeit incorrectly)?

[2020-01-10 04:53] frankfarzan commented on #1242
Also note that kubectl includes these fields when generating kube config. Given kubectl is the reference implementation for other clients, I think being consistent with it is reasonable.

[2020-01-10 04:55] BenTheElder commented on #1242
Yeah, i'd definitely prefer not to break people, but AFAICT the original
client intends for these not to be used and we tried to follow the upstream
go client kubecinfig logic *very* closely without actually pulling it in
(as we don't actually need the client bits)

On Thu, Jan 9, 2020, 20:50 frankfarzan <notifications@github.com> wrote:

[2020-01-10 04:56] BenTheElder commented on #1242
Also worth noting that kind fully passes conformance tests with this file,
so libraries and tools *should* be accepting it.

On Thu, Jan 9, 2020, 20:53 frankfarzan <notifications@github.com> wrote:

[2020-01-10 05:00] BenTheElder commented on #1242
/priority important-soon
/assign

[2020-01-10 19:56] #1242 closed

[2020-01-10 21:22] jpmcb opened #1244 "Helm install prometheus on kind fails to start prometheus-server container"
**What happened**:
We've installed kind and want to set up some local end to end testing with prometheus, grafana, and a controller we are working on.

Unfortunately, when installing prometheus with helm 3, the `prometheus-server` container fails to start.

We used the following command to get the logs from `prometheus-server` container
[code]

And it appears that it is failing to start due to a p

[2020-01-10 21:46] BenTheElder commented on #1244
On mobile atm but this is almost definitely due to k8s.io/hostPath backing the volume which doesn't support non-uid-0 writers.
The next kind release will fix this, the fix is already merged but we haven't yet released it

[2020-01-10 21:46] BenTheElder commented on #1244
There are some related (closed) issues with more detail.

[2020-01-10 22:56] BenTheElder commented on #1215
sorry about that, yeah we should be on 1.3.2+ now for future images

[2020-01-10 23:00] jpmcb commented on #1244
No worries! Thanks for the quick response. We are fine holding off until the next release. I'd be happy to test this out once the next release is out  🚀

[2020-01-11 08:13] mitar opened #1245 "Chatty nginx ingress logs"
**What should be cleaned up or changed**:

I followed instructions [here](https://kind.sigs.k8s.io/docs/user/ingress/) on how to setup nginx ingress. But when I run:

[code]

I see many lines like:

[code]

Looking [here](https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal) I run the following:

[code]

And now there are no such messages anymore. Maybe it should be added to documentation

[2020-01-11 17:05] BenTheElder commented on #1245
/assign @amwat

[2020-01-11 17:44] BenTheElder commented on #1242
Fixed upstream in https://github.com/kubernetes-client/javascript/pull/391

[2020-01-11 19:23] raizik opened #1246 "Running curl on Kube-dns and kube master encounters a kind error"
Hi,

1. Why do I get this error?
Also - this is after configuring `service/kubernetes` to listen on port 80 rather than 443.

![image](https://user-images.githubusercontent.com/38348846/72209605-d6c3bb80-34b8-11ea-9d9b-58b265139d69.png)

2. Is it possible in `kind` to have a pod that lives on control-plane-node to send `http POST` requests to the kubernetes code? If yes - am I meant to wrap this p

[2020-01-11 19:26] #1234 closed

[2020-01-12 15:37] aojea commented on #702
hehe I think this is the simplest and bash scriptable one
[code]
Ref: https://stackoverflow.com/a/54168660/7794348

[2020-01-12 15:47] aojea commented on #702
wow, still simpler

`kubectl expose deployment hello-world --name=testipv4 --type=LoadBalancer --external-ip=6.6.6.6`

[2020-01-13 07:54] pohly opened #1248 "number of loop devices is fixed and unpredictable"
**What happened**:

Block device tests running inside the KinD cluster are flaky (https://github.com/kubernetes-csi/csi-driver-host-path/issues/119). It looks like this is because the Docker container  in which kubelet runs has a static copy of the host's `/dev`. In `devfs`, new loop devices are added by the kernel as needed. But inside the container only those `/dev/loop*` devices are available w

[2020-01-13 12:33] adampl commented on #702
@aojea That's not a load balancer, external IP can be set regardless of service type. If load balancer controller is active, the ingress entries should appear in the service status field.

[2020-01-13 14:02] aojea commented on #702
hi @adampl thanks for clarifying it, let me edit the comment

[2020-01-13 17:49] BenTheElder commented on #1246
1. Changing the port does not change the security. You are still curling TLS and not presenting authorization, the API server is configured to require authorization by kubeadm for security purposes.

2. Yes, you are reaching the server. I wouldn't use raw HTTP post though, if you use one of the client libraries it will make auth etc. easier.

I'm not sure what you mean by "wrap the pod".

Network

[2020-01-13 21:24] BenTheElder opened #1250 "release v0.7.0"
We should go ahead and tag a stable release w/ the new dynamic PV work in particular to unblock a lot of our potential and current users, including k8s e2e testing...

I think master is already in a good enough state and our pending PRs aren't too urgent, but we should push new images.

[2020-01-13 21:26] BenTheElder commented on #986
did some more design and asked some key power users of this more about their thoughts directly ... bumping to the next milestone though because it's not quite as pressing as unblocking PV work

[2020-01-13 21:34] aojea commented on #1250
go go go ... 🚀

[2020-01-13 21:40] amwat commented on #1245
Thanks for finding the issue!
addressed in: https://github.com/kubernetes-sigs/kind/pull/1251

[2020-01-13 22:10] mitar commented on #1245
Awesome!

[2020-01-13 23:07] #1245 closed

[2020-01-14 00:22] #697 closed

[2020-01-14 00:28] tao12345666333 commented on #1250
Great !!!  :rocket: :fast_forward:

[2020-01-14 00:59] BenTheElder commented on #1248
I'd generally be concerned mounting all of dev that we'll wind up touching other devices.

- If we pre-allocated more on the prow nodes would that work?
- How many do we need? is it predictable at all?
- Can we reduce our dependency on this and / or use something else that is namespaced?

[2020-01-14 01:23] #324 closed

[2020-01-14 01:31] BenTheElder commented on #1250
v1.17.0: digest: sha256:9512edae126da271b66b990b6fff768fbb7cd786c7d39e86bdf55906352fdf62 size: 1785
v1.16.4: digest: sha256:b91a2c2317a000f3a783489dfb755064177dbc3a0b2f4147d50f04825d016f55 size: 1785
v1.15.7: digest: sha256:e2df133f80ef633c53c0200114fce2ed5e1f6947477dbc83261a6a921169488d size: 1785
v1.14.10: digest: sha256:81ae5a3237c779efc4dda43cc81c696f88a194abcc4f8fa34f86cf674aa14977 size: 1785

[2020-01-14 01:41] BenTheElder commented on #1250
@amwat
@aojea
@BenTheElder
@danielhelfand
@darkowlzz
@daxmc99
@dustinspecker
@HeavyWombat
@jpreese
@k8s-ci-robot
@kandros
@kezmorris
@longkb
@marcindulak
@MasayaAoyama
@matti
@truongnh1992
@ytsarev

[2020-01-14 01:41] BenTheElder commented on #1250
(oops! sorry to notify you all, meant to put that in a code block, just collecting the list of contributors for the release notes!)

[2020-01-14 01:48] bgiddings commented on #808
This bug was the top result in a search for "extraportmappings", so even though it's closed, I think it's worth adding a bit more information here.

There is a guide for ingress now, but the QuickStart page still says:

With an example of mapping port 80 to 80.  It then says that this can be useful for "NodePort services or daemonsets exposing host ports."

From what I understand, port 80 would ne

[2020-01-14 01:59] #1250 closed

[2020-01-14 02:05] BenTheElder commented on #1250
done https://github.com/kubernetes-sigs/kind/releases/tag/v0.7.0

[2020-01-14 02:08] BenTheElder commented on #1244
should be fixed in https://github.com/kubernetes-sigs/kind/releases/tag/v0.7.0

dupe of https://github.com/kubernetes-sigs/kind/issues/830 https://github.com/kubernetes-sigs/kind/issues/1151 https://github.com/kubernetes-sigs/kind/issues/118

[2020-01-14 02:08] #1244 closed

[2020-01-14 06:32] WeihanLi opened #1254 "kibana 7.4.2/7.5.1 deploy error"
kibana 7.4.2/7.5.1 deploy error, Failed to get D-Bus connection

[code]

the elasticsearch service is looking good and the kibana can connect to elasticsearch

[code]

Repro steps:

I'm running kubernetes on docker via [kind](https://github.com/kubernetes-sigs/kind) v 0.5.1 and deploy via the script belows, and my host server is ubuntu 18.04

[code]

es deployment, `elasticsearch.yaml`:
[code]

ki

[2020-01-14 06:33] BenTheElder commented on #1254
Kind 0.5 is quite old, can you please upgrade?

[2020-01-14 06:35] BenTheElder commented on #1254
It is also pretty unusual to use `systemctl` inside a kubernetes pod, I wouldn't do that on any cluster ...

[2020-01-14 06:38] WeihanLi commented on #1254
same with 0.6.1 and 0.6.0,

the `kibana` image is based on `centos`, but my host server is ubuntu, does it matter? I'm not sure if it worked normal in centos server(not verified so far)

[2020-01-14 06:40] BenTheElder commented on #1254
kind v0.7.0 is out now.
That shouldn't matter, and kibana shouldn't involve dbus.

[2020-01-14 06:43] BenTheElder commented on #1254
the kibana docker image appears to use `dumb-init` not systemd

[2020-01-14 06:43] WeihanLi commented on #1254
Thanks, I'll try 0.7.0 lately

[2020-01-14 07:53] pohly commented on #1248
Yes, but it's just a band-aid. But sometimes those are enough :grin:

It's not predictable how many will be needed. Pre-allocation would impose a limit that doesn't exist otherwise. On the other hand, calling `mknod /dev/loopX b 7 X` a thousand times would be cheap (it just creates a device node entry in the filesystem, without actually creating the device in the kernel) and that "should be enough

[2020-01-14 07:59] diafour commented on #1213
I choose not to run a local registry in-cluster. It is not great for testing against multiple versions and/or clusters.
So I run local registry as a standalone docker container with mounted volume in a home directory. Kind cluster is started with a small script, that does two things after the cluster is ready: it adds `localhost:5000` as a trusted registry to /etc/containerd/config.toml and create

[2020-01-14 08:02] BenTheElder commented on #1213
thanks for the input!

you can do this at boot time now, xref: https://kind.sigs.k8s.io/docs/user/local-registry/

That's a neat approach, thanks :-)

[2020-01-14 09:06] diafour commented on #1213
Yeah, that `config.toml` override was for 0.5 release. Thanks for the link!

[2020-01-14 10:43] aojea commented on #1181
To expand on this and for completenes, let's say that you have a change in kube-proxy, you don't have to redo all the steps:
- just build the new image:

`bazel build //build:docker-artifacts`

- load it in your current kind cluster:

`kind load image-archive bazel-bin/build/kube-proxy.tar`

- check that it has been loaded:
[code]

- and modify the kubernetes deployment to pick the new image, in t

[2020-01-14 10:45] WeihanLi commented on #1254
worked with 0.7.0
it seemed nothing with kind and nothing with kibana etc...
Thank for your time @BenTheElder

[2020-01-14 10:45] #1254 closed

[2020-01-14 11:12] diafour commented on #1213
Hooray! I've just realized that `endpoint` should not be the same as `mirror` name and simplified my setup: no proxying with DaemonSet required, just `containerdConfigPatches`:
https://gist.github.com/diafour/13cef191b7cf39543393d310dd6353a0

The workflow is like this:
[code]

There are `create` and `delete` commands to address #148 ;)

@BenTheElder Thanks again!

[2020-01-14 16:17] justenwalker opened #1256 "Cluster create never finishes when given podSubnet smaller than /24"
**What happened**:

Whe configuring a pod subnet, a subnet smaller than `/24` will cause the `kube-controller-manager-kind-control-plane` to enter a CrashLoop due to this error:

[code]

**What you expected to happen**:

If there is a minimum size of a podSubnet, the config should validate that the subnet given meets the criteria. Otherwise it should function normally (perhaps by adjusting the CID

[2020-01-14 17:00] jpmcb commented on #1244
Awesome! I've confirmed this works with helm prometheus in the above scenario. Thanks so much for the speedy release

[2020-01-14 17:32] BenTheElder commented on #1256
With a newer kind version and increased -v we can get more details

I'm not actually sure what requires this other than obviously we need enough IPs for the pods

[2020-01-14 19:01] justenwalker commented on #1256
If newer versions of Kind have easier ways to troubleshoot that's great.

The issue I'm brining up is that this subnet configuration could be validated before submission so that you get a more useful error than  ```F0114 15:54:20.877255       1 node_ipam_controller.go:110] Controller: Invalid --cluster-cidr, mask size of cluster CIDR must be less than --node-cidr-mask-size```

[2020-01-14 19:02] BenTheElder commented on #1256
ah ok, that's fun.
I bet kind or kubeadm neeeds to be overridding these. cc @neolit123 I vaguely remember you commenting on an issue like this

[2020-01-14 21:27] frankfarzan commented on #1242
Thanks!

[2020-01-14 22:40] neolit123 commented on #1256
kubeadm has some special casing for the cluster CIDR mask for IPv6, but for IPv4 it does not (e.g.) take the cluster CIDR mask and increase it by one to satisfy the Node CIDR semantic of the KCM.

if you'd like kubeadm to behave differently, please log an issue in the kubernetes/kubeadm tracker.

thanks
/close

[2020-01-14 22:42] BenTheElder commented on #1256
it might be reasonable for kind do this calculation and pass it on to kubeadm, since we're providing an option for the CIDR at a level above kubeadm (and e.g. also passing it to our CNI impl).

[2020-01-14 22:43] BenTheElder commented on #1256
(pass it on to kubeadm by way of patching the ---node-cidr-mask-size)

[2020-01-14 22:49] justenwalker commented on #1256
@neolit123 / @BenTheElder  It's not that I want kubernetes/kubeadmin to behave differently; I want Kind to validate the cluster config so it doesn't pass options to kubeadmin that are known to fail: ie -- providing an IPv4 CIDR that is too small.

I think it would be less confusing if kind kicked back and error that said "hey, that podSubnet you passed is way too small and the cluster wont come up

[2020-01-14 22:51] neolit123 commented on #1256
it is possible for kind to manage this too.

minimal configuration:

[code]

[2020-01-14 22:55] neolit123 commented on #1256
using kubeadm without kind, the same failure will be observed.
therefore, it is not a bad idea to have the validation on this lower level.

[2020-01-14 23:45] BenTheElder commented on #1181
for that kind of power user, you can do this today and write yourself a small script.

at the moment I'm specifically focused on #986 which is about mimicing the kubernetes flow.

if you're building with bazel you already no-op most of the build if you didn't change the other binaries, I wouldn't recommend taking shortcuts vs just running a node image build.

[2020-01-14 23:46] BenTheElder commented on #986
status update: writing down some fresh code for v0.8.0 MVP, will PR

[2020-01-15 07:58] aojea commented on #1181
yeah, you are absolutely right.
I'm just sharing some experiences, specifically, this last case I've added is useful when you are doing some exploratory analysis on a complex setup and/or your prototyping something.

[2020-01-15 13:57] yuvalk opened #1257 "BUG: create cluster with ipv6 fails"
**What happened**:
config.yaml:

[code]
*exactly as in https://kind.sigs.k8s.io/docs/user/configuration/
$ kind create cluster --config=config.yaml
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.17.0) 🖼
 ✓ Preparing nodes 📦
 ✓ Writing configuration 📜
 ✗ Starting control-plane 🕹️
ERROR: failed to create cluster: failed to init node with kubeadm: command "docker exec --privilege

[2020-01-15 14:04] neolit123 commented on #1257
Client Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.8-beta.0", GitCommit:"6c143d35bb11d74970e7bc0b6c45b6bfdffc0bd4", GitTreeState:"archive", BuildDate:"2020-01-02T00:00:00Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}

make sure you kubectl is at least 1.16 or better 1.17.

what are the logs if you pass e.g. `--v=5` to the kind command?

[2020-01-15 17:37] BenTheElder commented on #1257
Kubectl on the host shouldn't matter during create.

Does docker on the host have IPv6 enabled for containers?
Does kind work without this config?

[2020-01-16 00:52] danielhelfand opened #1260 "kind delete clusters --all Doesn't Account for Different Cluster kubeconfig Paths"
**What would you like to be added**:

The current implementation of `kind delete clusters --all` only takes into account [one kubeconfig path](https://github.com/kubernetes-sigs/kind/pull/1204#discussion_r367097369) at a time. It would be nice to take into account if clusters created by kind have different kubeconfig paths.

**Why is this needed**:

The purpose of `kind delete clusters --all` is t

[2020-01-16 00:54] amwat commented on #1260
/kind design

[2020-01-16 00:59] danielhelfand commented on #1205
I think this would be nice to have even if the cluster doesn't truly exist, but I realize that this would be complicated for not much gain. I'll close this for now and thanks for explaining.

[2020-01-16 00:59] #1205 closed

[2020-01-16 06:11] BenTheElder commented on #1244
Great!

On Tue, Jan 14, 2020 at 9:01 AM John McBride <notifications@github.com>
wrote:

[2020-01-16 08:08] yuvalk commented on #1257
ok, so after upgrading to
[code]

and making sure /etc/docker/daemon.json:
[code]

here's the log:
[code]

seems like I'll have to supply my own ip address?

[2020-01-16 08:44] aojea commented on #1257
@yuvalk the problem is that docker docs are not ok?
you need to add another field to the daemon.json to specify the ipv6 subnet of docker.

[code]

then restart your docker daemon `systemctl restart docker`

and try to create the cluster again:

[2020-01-16 15:07] yuvalk commented on #1257
I did that, but that wasnt enough"
[code]

as you can see, the error is with the bind address. I think it might be related to this:
https://github.com/kubernetes-sigs/kind/pull/1195

[2020-01-16 15:30] aojea commented on #1257
your docker daemon is not using ipv6

it has to show 3 addresses in that entry, is missing the IPv6 global address, can you try this?

[code]

and check that your eth0 has an IPv6 global address?

[2020-01-17 20:10] jiatongw opened #1266 "Why not use `PullIfNotPresent` instead of `Pull` method while building node image?"
Hi, I recently try to build node image myself and found an interesting thing: I pre-loaded images like `etcd`, `coredns` that out of `bazel build` range. But kind does not use pre-loaded images, instead, it pulls from upstream ignoring loaded images - according to this line
https://github.com/kubernetes-sigs/kind/blob/master/pkg/build/node/node.go#L455
it calls `docker.Pull()` method.

But I also

[2020-01-17 22:59] AlexsJones commented on #1244
You guys are the best, I was struggling with this also.

THANK YOU!

[2020-01-18 21:15] aojea commented on #1266
`docker.Pull()` executes `docker pull`in the host and AFAIK it doesn't download the images if there is one in the local host.
Better if @BenTheElder can confirm, but if you have the images in your local `docker`storage, kind will use those images to create the `nodes`

[2020-01-18 21:55] BenTheElder commented on #1266
Can you elaborate on "pre-loaded"?

Aside for anyone else finding this issue: `kind build node-image` preloads images _into the node image_, at runtime `kind create cluster` will not be pulling from GCR etc. and we also refer to this as "preloading".

`PullIfNotPresent` is most suitable when you're fully specifying the image (as users ideally do when using node images, including the hash).

The co

[2020-01-18 21:55] BenTheElder commented on #1266
Do you have a case where ignoring pull failure is not sufficient?

[2020-01-19 08:13] yuvalk commented on #1257
TNX,
that (restart docker) was the issue
I guess documentation is crappy..

but you might wanna mention this on your end (ie make sure first docker is properly configured for ipv6 networking, or something of the kind)

[2020-01-19 08:52] yuvalk commented on #1257
ok, problem is, this now succeed for a single node, but fails with the following kind.yaml:
[code]

here's the full (and lengthy) log:
[code]

[2020-01-19 09:04] aojea commented on #1257
Try without `apiServerAddress: "::1"` first, please

[code]

this config is tested in the CI, if this doesn't work we should try to see if there is something environmental that is breaking the multinode (iptables, ...)

[2020-01-19 09:33] yuvalk commented on #1257
this also fails, with same error
[code]

kubectl v1.17.1
kind v0.7.0
kindest/node                 v1.17.0

[2020-01-19 10:50] yuvalk commented on #1257
ok, it seems like firewall indeed.

it seems docker is trying to configure iptables
and did not even create chain for ipv6

 WARNING: COMMAND_FAILED: '/usr/sbin/iptables -w10 -t nat -A DOCKER -p tcp -d ::1 --dport 32781 -j DNAT --to-destination 172.17.0.4:6443 ! -i docker0' failed: iptables v1.8.3 (legacy): host/network `::1' not found
...

[2020-01-19 13:09] aojea commented on #1257
🤔

from where is that command snippet?

it can't use `::1` at destination in that rule, is a log from docker?

[2020-01-19 13:11] yuvalk commented on #1257
it's from fedora firewalld log
it's not a kind issue anymore, I guess we can close this :-) :+1:

once I disable firewall I can get a running ipv6 enabled cluster.

[2020-01-19 13:14] crixo opened #1270 "Cannot patch kubelet configuration"
**What happened**:
KubeletConfiguration patches have not been applied

**What you expected to happen**:
connecting to the worker node on which I configured the patch
[code]
I'm expecting to see the value set within the patch into the config file
[code]
that instead it still shows the default value: *staticPodPath: /etc/kubernetes/manifests*

**How to reproduce it (as minimally and precisely as pos

[2020-01-19 14:58] aojea commented on #1257
/close
thanks

[2020-01-19 14:58] #1257 closed

[2020-01-20 16:58] danielhelfand commented on #1260
Closing this as of this [comment](https://github.com/kubernetes-sigs/kind/pull/1264#discussion_r368183399). If there is a need for a true delete all approach where kubeconfig does not need to be provided explicitly, then this can be reopened.

[2020-01-20 16:58] #1260 closed

[2020-01-20 21:51] nbartos opened #1271 "Document howto enable deprecated k8s APIs"
For kubeadm I can do something like this to enable the deprecated APIs in k8s 1.16:

[code]

How would I go about creating a kind 1.16 cluster with these APIs enabled?

[2020-01-20 22:00] neolit123 commented on #1271
kind supports patches:
https://kind.sigs.k8s.io/docs/user/quick-start/#enable-feature-gates-in-your-cluster

/triage support
/kind documentation

[2020-01-20 22:58] nbartos commented on #1271
Thanks, adding this to the config seems to work:
[code]

I think this is a fairly common use case, having it in the docs would be nice.

[2020-01-20 23:02] neolit123 commented on #1271
excellent.

docs PRs are always welcome.

[2020-01-21 06:25] jjangga0214 opened #1272 "service ips"
Hi.

Is there a way to get service ip or url, that can be accessed externally(e.g. from local machine running Kind to service in the cluster)?

`minikube service foo --url` returns something like "http://192.168.99.108:30568", for example.

Thanks in advance!

[2020-01-21 08:38] tim-ebert commented on #1219
Are there any plans to support this feature?

I am actually interested in seeing this feature in kind, as I am using kind with docker-for-mac.
Thus, using `NodePort` services and `extraPortMappings` is my best option to expose k8s services for access (via `localhost`) from the host machine.

Still, if you want to use this approach for exposing services, you would need to know the assigned NodePort

[2020-01-21 17:33] BenTheElder commented on #1270
/assign

[2020-01-21 20:38] s12chung commented on #1200
@fllaca how exactly did you get the final solution to work? I did a `k apply -f` on your post above and tried to see if that worked. does it require the extra docker options?

[2020-01-21 22:16] jondot opened #1273 "Easy way to enable admission plugins?"
Hi,
Is there an easy way to enable admission plugins? namely, get access to `--enable-admission-plugins`?

For some reason giving `kind` a set of configuration for kubeadm doesn't take effect.

[2020-01-21 22:27] BenTheElder commented on #1273
what configuration have you given?

there is not currently an easier way that what kubeadm provides / patching kubeadm config, we've recently started to work on this sort of thing, experimentally adding a field for setting feature gates.

[2020-01-21 22:33] BenTheElder commented on #1272
on mac / windows docker containers are not routable from the host.
given that limitation, we don't have a feature like this.

however, you can use something like `kubectl proxy` or `kubectl port-foward`

additionally, if you are on linux you can add a route for the service IP range to go through the node IP and then you can access the service IPs directly, but this is not possible on mac / windows

[2020-01-21 22:33] BenTheElder commented on #1246
closing for now due to lack of activity

[2020-01-21 22:33] #1246 closed

[2020-01-22 15:47] aojea opened #1275 "DualStack UX"
**What would you like to be added**:

The more we dig into dual-stack with kubernetes the more doubts it generates, instead of implementing blindly I'd like first to define a good UX from KIND perspective.
At least, we should define the API so it covers most of the use cases.

**Why is this needed**:

DualStack clusters can have several combinations based on the following parameters:

- podSubnets

[2020-01-22 15:47] aojea commented on #1275
/cc @mauilion @BenTheElder

[2020-01-22 17:21] ryanhartje commented on #597
How can you configure this via a manifest?

[2020-01-22 17:22] BenTheElder commented on #597
the `image` field on each node in `nodes`, currently `--image` maps to over-ridding these.
`nodes` has a default like:
[code]

[2020-01-22 17:23] ryanhartje commented on #597
Thank you!!!

[2020-01-22 21:08] BenTheElder commented on #1270
so I can confirm that kind is patching this config and passing it to kubeadm, it's possible that kubeadm simply does not respect kubelet config during join :/

[2020-01-22 21:15] jondot commented on #1273
Pretty much what's been instructed in the docs, and I went further and tried a full config (not a patch) just to be safe (note the part about admission controller plugins):

[code]

[2020-01-22 21:18] BenTheElder commented on #1273
I don't think your indentation is correct, kubeadm is likely discarding the unknown keys that aren't indented sufficently.

[2020-01-22 21:20] BenTheElder commented on #1273
`extraArgs` is a map, I'm pretty sure the keys in the map need to be indented one more than the `extraArgs` key.

[2020-01-22 21:22] BenTheElder commented on #1270
it looks like you have to use the kubelet flag in a kubeam JoinConfiguration instead
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm#JoinConfiguration

I'm reaching out in #kubeadm and will probably follow up with an upstream issue, you can instead do:

[code]

[2020-01-22 21:24] BenTheElder commented on #1270
I can at least confirm that kubelet picks up the flag this way:

$ docker exec kind-worker ps aux | grep kubelet
root        575 21.2  0.0 1641952 60972 ?       Ssl  21:22   0:01 /usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/lib/kubelet/config.yaml --container-runtime=remote --container-runtime-endpoint=/run/c

[2020-01-22 21:34] BenTheElder commented on #1270
tracking upstream in https://github.com/kubernetes/kubeadm/issues/2008, AFAICT kind will patch the config and pass it to kubeadm but kubelet component config is ignored. I didn't need to do this previously and am a bit surprised by the behavior.

Depending on what upstream kubeadm decides regarding this we'll follow up with work here to ensure it's supported in KIND. In the meantime I think you ca

[2020-01-22 21:34] #1270 closed

[2020-01-22 21:35] BenTheElder commented on #1270
moved to https://github.com/kubernetes/kubeadm/issues/2008

[2020-01-22 23:10] BenTheElder commented on #1270
This is in fact https://github.com/kubernetes/kubeadm/issues/1682, there's an ongoing KEP discussion related to resolving this :grimacing:

[2020-01-22 23:20] BenTheElder commented on #1275
We definitely want to track upstream closely, it seems currently the APIs there need some rethinking..

[2020-01-23 01:17] BenTheElder commented on #1272
@aojea had a neat one-liner for this on linux

[2020-01-23 02:57] BenTheElder commented on #1275
/kind design

[2020-01-23 04:07] BenTheElder commented on #154
/assign @amwat
We just ~paired on this for a bit, we have something running but the above issues are still true and need verified workarounds :-)

Expect PRs related to this issue soon.

That's because podman until October last year didn't support anonymous volumes properly, instead it bind mounted them to the **same path on the host** (!)

https://github.com/containers/libpod/pull/4287

[2020-01-23 06:25] BenTheElder commented on #958
kind delete clusters --all was implemented 😅
still finishing up the UX etc. but the basic functionality is in HEAD though thanks to @danielhelfand

[2020-01-23 06:25] #958 closed

[2020-01-23 07:55] aojea commented on #1272
hehe, is a bit hacky but it does the work
https://github.com/kubernetes-sigs/kind/issues/702#issuecomment-573427905

[2020-01-23 08:59] crixo commented on #1270
Thanks a lot for you hint and the effort you put on this awesome project. I really appreciate it.

[2020-01-23 10:01] #188 closed

[2020-01-23 13:43] gyliu513 opened #1280 "Cannot create multiple kind cluster in one node"
**What happened**:
I was trying to create two clusters in one node for cluster `hub` and `m1`.

- Create `hub` first, it works.
- Then create `m1` , also succeeds.
- but the `$HOME/.kube/config` only include config for cluster `m1` but no config for `hub`

**What you expected to happen**:

We should have different configuration for different clusters in one node.

**How to reproduce it (as minimal

[2020-01-23 14:02] gyliu513 commented on #1280
My bad, the `config` actually include configuration for both clusters.

[2020-01-23 14:02] #1280 closed

[2020-01-23 14:11] philipstaffordwood opened #1281 "Unable to mount docker socket for DooD config"
**What happened**:

I'm deploying Jenkins using the standard Helm chart using the Kubernetes plugin.
Our config uses Docker out of Docker (DooD) (i.e. the build pods have a shared mount to the underlying docker socket.)

**What you expected to happen**:

I'm expecting the build pod to have access to the docker socket through the mounted socket and to use that for docker builds.

**How to reproduce

[2020-01-23 16:30] BenTheElder commented on #1281
Your expectation is not portable 🙃
kind nodes run CRI (containerd)

Docker => kind node container => containerd => your pod

You can use an extra mount in config to pass through the underlying host's docker.

[2020-01-23 18:05] jondot commented on #1273
I believe that was it 🤦‍♂
Still I'm left with an easy way to patch just the arguments, currently I'm starting a cluster fresh, getting the configmap fully, then tweaking the map, and giving it as configuration.
I'm going to close this since I've seen in other threads that this is something that's probably considered.
Thanks!

[2020-01-23 18:05] #1273 closed

[2020-01-23 18:16] BenTheElder commented on #1273
IMO these would be a good candidate for a higher level option to enable them.

The patches are a neat way to sidestep things and hack on whatever options you need, but it's not the most stable or great UX.

We just introduced the first one with `featureGates` as a top level kind cluster option instead of using kubeadm config options, we're still ironing out the kings but that should be in the next

[2020-01-23 18:25] jondot commented on #1273
That would be perfect. Overall I'm a very happy user of `kind`, it really makes things feel like a breeze (taking all alternative solutions into account) ❤️

[2020-01-24 00:42] amwat commented on #154
More updates: We'll need to wait for podman 1.8 to get
https://github.com/containers/libpod/pull/4818 that fixes a regression in podman exec.
we use exec heavily, e.g. https://github.com/kubernetes-sigs/kind/blob/4c7854c1347860ef04a7a8caef625ac4491afa4b/pkg/cluster/nodeutils/util.go#L76

[2020-01-24 09:16] philipstaffordwood commented on #1281
@BenTheElder thanks for clarifying the misunderstanding!

[2020-01-24 09:20] philipstaffordwood commented on #1281
For anyone else trying to do this.

(And yes, this is unsanitary:)

This config works:

---
`cluster.yaml`:

[code]
create the cluster with:
[code]

then after creating the pod with:
[code]
waiting for it to come up:
[code]
The following does show pods on the host running kind:
[code]

[2020-01-24 09:20] #1281 closed

[2020-01-24 13:37] ricardo-rod opened #1283 "[fedora firewall issue] Fail to create an IPv6 multinode cluster - it hangs when it is Joining the workers."
**What happened**:
When I am trying to run a multinode or multinode HA cluster with IPv6 it just hangs in there for so many minutes that I have stopped counting,

**What you expected to happen**:
The nodes should join the cluster after less than 2 minutes and I have waited 45 minutes and nothing.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to k

[2020-01-24 16:21] mtatheonly opened #1284 "How to pass extra arguments to docker run?"
How can I pass extra arguments to docker run, like a network to join? Or to provide a network name other than "bridge" for the nodes? I'm having some issues regarding external docker-compose containers and kind nodes.

[2020-01-24 16:26] BenTheElder commented on #1284
You can't, but even if you could, using a different network would break kind currently because docker has breaking behavior on non default networks.

We're working on configurable networks, TLDR it requires some DNS workarounds and we're trying to solve the host reboot problem while we're at it  I have a partial implementation punted until the current in flight PRs are complete.

[2020-01-24 16:28] BenTheElder commented on #1283
Have you read known issues? I'm surprised ipv4 is workingz btrfs is known to cause issues

[2020-01-24 16:29] BenTheElder commented on #1283
https://kind.sigs.k8s.io/docs/user/known-issues/

[2020-01-24 16:44] BenTheElder commented on #1283
/assign

[2020-01-25 01:51] BenTheElder commented on #1281
FWIW kind is also a bit of a security risk, particularly if you run priv pods on it. I've been thinking about how to correctly message that, as it's not for example much worse than `kubeadm init` (better possibly?) on your host, and in docker for mac / windows it's further sandboxed..., but it is likely much worse than say using a real cloudy cluster, or a local VM cluster or ...

passing through

[2020-01-25 01:58] BenTheElder commented on #1270
thanks for the feedback :-)

hopefully we'll have a better answer for this one in the future, discussing some more w/  upstream.

if we can't get a solution upstream, we may be able to work around that in kind by applying the patches after the fact directly to the generated file on disk ...

[2020-01-27 09:36] aojea commented on #1283
@ricardo-rod please paste or upload the output of the command to create a cluster adding verbosity with the flag `-v5`per example

[2020-01-27 13:49] 2opremio opened #1288 "Cannot create cluster due to `docker exec cat /kind/version` failing"
**What happened**:

Kind failed to create a cluster with

[code]

Full logs at https://circleci.com/gh/fluxcd/flux/9822

**What you expected to happen**:

I expect the cluster to be created without errors

**How to reproduce it (as minimally and precisely as possible)**:

Unfortunately it's not systematic. It only happens from time to time

It happens when running `make e2e` in https://github.com/

[2020-01-27 14:01] ricardo-rod commented on #1283
Good news, it seems the problem should be with the OS, I ran the same kind cluster with Debian and it works like a charm. I tested in a non BTRFS filesystem using Fedora 30 and 31 and disabled the SELinux config file and nothing, the same problem.

Then I just thought that the problem maybe is with the firewalld, because kind is not issuing the correct commands when is running IPv6 using Fedora, R

[2020-01-27 15:46] BenTheElder commented on #1288
Can you add `-v 1` to your creation call? It will dump stack and more error output.

This error can happen if the node container exited for some reason.

How much resources are available where you are creating 4 in parallel?

[2020-01-27 15:53] 2opremio commented on #1288
Will do

[We are using](https://github.com/fluxcd/flux/blob/019a9bb7fba3b1a82e5bc414f6112ed458e3c380/.circleci/config.yml#L49-L51) CircleCI's machine executor with a large resource class [which is supposed to have 4 cores and 15GB of ram](https://circleci.com/docs/2.0/executor-types/#using-machine)

[2020-01-27 15:54] BenTheElder commented on #1283
This sounds like a bug between docker and firewalld on your hosts when using IPv6, we're not doing anything terribly interesting on the host networking wise, just normal containers with IPs and a port forward.

[2020-01-27 15:55] BenTheElder commented on #1288
That should be enough RAM & CPU for four single node clusters, but disk I/O which isn't advertised there might be an issue.

[2020-01-27 15:58] 2opremio commented on #1288
@BenTheElder note that we only get errors from time to time, and only at cluster creation. I would expect the failures to be more systematic.

Also, things got much better with 0.17, which further suggests it may not be (at least not entirely) an IO performance problem.

[2020-01-27 15:59] BenTheElder commented on #1283
This may also have cause problems https://fedoraproject.org/wiki/Changes/firewalld_default_to_nftables

KIND does not execute any firewall commands, docker does however.

[2020-01-27 16:01] BenTheElder commented on #1288
There was a different issue previously that caused exec to have a race condition when capturing output. That's thoroughly fixed.

At startup we use the most disk, unpacking the images and the API server warming things up in etcd.

[2020-01-27 16:30] aojea commented on #1283
As Ben says KIND doesn't touch the iptables rules on the hosts, docker does.
Docker and firewalld, it may one or the other or both the ones that are breaking the connectivity, can you please show the `ip6tables-save` diff in a working and non-working environment to see the difference and document it as a known issue?

[2020-01-27 18:16] BenTheElder commented on #1288
for reference the previous bug was https://github.com/kubernetes-sigs/kind/pull/972, this fix was in v0.6.0+

[2020-01-27 21:27] 2opremio commented on #1288
Done https://github.com/fluxcd/flux/pull/2791

[2020-01-27 21:33] howardjohn opened #1290 "Rare "failed to init node with kubeadm" on Kind v0.7.0"
**What happened**: Occasionally find errors like https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20244/integ-telemetry-k8s-tests_istio/7089 failing to start up the kind cluster. I have seen similar errors before, but its very rare, anecdotally I see one a week or so across 1000s of tests. (meta comment: is there a good way to grep across all test logs in GCS? I cannot find one.

[2020-01-27 21:58] BenTheElder commented on #1290
there isn't AFAIK. for kubernetes someone hacked up a dashboard to allow searching test failures at some point but only for junit results and not for pod-utils jobs IIRC ... :|

[2020-01-27 22:05] BenTheElder commented on #1290
This looks like the API server had trouble starting up in a reasonable time frame, kubeadm gave up after about 4 minutes of waiting on the healthz. We could probably ask kubeadm to allow a longer wait but I'm not sure that's desirable.

The results do have logs from the API server, I don't see anything obvious in them suggesting a clear KIND bug, it kinda looks like things were just running to slo

[2020-01-27 22:11] howardjohn commented on #1290
We run n1-standard-16 with 250gb SSD on COS. Our test load is pretty high right now so the nodes are pretty packed, seems very likely to just be noisy neighbor type issues. I am pretty happy with how stable things are now, this is definitely not a high priority (to me)

[2020-01-27 23:01] BenTheElder commented on #1290
ack, thanks!

On Mon, Jan 27, 2020 at 2:11 PM John Howard <notifications@github.com>
wrote:

[2020-01-27 23:52] robotica72 opened #1291 "Adding API Options?"
Ive been playing around with trying to get kind to deploy using an OIDC provider.  Overall I dont see why it wouldnt work, but I cant get the install to add the options to the API server.  Ive tried using the kubeadm format in my create cluster file, similar to the featuregates but the install fails with:

ERROR: failed to create cluster: failed to init node with kubeadm: command "docker exec --pr

[2020-01-27 23:57] BenTheElder commented on #1291
You can set options on the api server.

can you share:
- the full CLI you used
- the kind version

when debugging, increasing verbosity of `kind` helps (`-v 1`)

[2020-01-28 00:13] robotica72 commented on #1291
Hi Ben - That was a quick reply!   Thanks for the information.

I just managed to get it working - when I had an issue I backed off the extra options and I forgot the add the oidc-client-id option, so with both required options it does start the API server with the two API options.

Im using multiple pods, so my install uses a config yaml, so this works:

nodes:
- role: control-plane
  kubeadmConf

[2020-01-28 00:15] BenTheElder commented on #1291
awesome!

yeah, this sort of issue can be frustrating to debug, what you can do is use `kind export logs` while the node is still running (`--retain` will avoid kind deleting it on failure) or yourself look for the pod log in the node. the API server logs would surface the flag issue.

[2020-01-28 00:47] robotica72 commented on #1291
Excellent - Thanks for that note, The API logs would have helped, without a doubt :)

[2020-01-28 00:47] #1291 closed

[2020-01-28 02:29] nbartos opened #1292 "extraPortMappings are on 0.0.0.0 when address is not specified with ipv6 cluster"
**What happened**:
Using extraPortMappings in the kind cluster create config file works with ipv4 clusters but not ipv6.  When using ipv6, tcp connections just hang.

**What you expected to happen**:
Port forwards to work the same in ipv4 and ipv6 clusters.

**How to reproduce it (as minimally and precisely as possible)**:
Configure /etc/docker/daemon.json for ipv6:
[code]
Restart docker:
[code]

[2020-01-28 02:42] BenTheElder commented on #1292
/assign @aojea

On Mon, Jan 27, 2020, 18:29 Nick Bartos <notifications@github.com> wrote:

[2020-01-28 06:25] rhyek opened #1294 "How can we use Ambassador/Kong Ingress"
I'm following the ingress guides, but being quite new to kubernetes, I'm not sure how to get Kong ingress working with Kind on a Mac. I installed the kong helm chart, but the ingress external IP is always "Pending". I understand this is an issue with kind not providing a load balancer to negotiate an ip with.

I managed to get it working with minikube by accessing the ingress with the ip listed wh

[2020-01-28 09:08] aojea commented on #1292
this is interesting, it's mapping the port to IPv4

[code]

[2020-01-28 09:15] rhyek commented on #1294
I have the following cluster conifg:
[code]

and then an Ambassador ingress configured as `NodePort`:
[code]

I've also tried doing `kubectl patch svc ambassador --namespace ambassador -p '{"spec":{"nodeSelector":{"ingress-ready":"true"},"tolerations":[{"key":"node-role.kubernetes.io/master","operator":"Equal","effect":"NoSchedule"}]}}'`, but the resource is never changed.

I get the following try

[2020-01-28 09:21] aojea commented on #1292
using the listenAddress option
[code]
 shows that docker does the correct mapping:

[code]

however I can't see the iptables rules :thinking:

[code]

[2020-01-28 09:30] aojea commented on #1292
seems a docker bug

[code]

[2020-01-28 10:42] rhyek commented on #1294
These are the simplified commands I'm running:
[code]

I configured the ingress like so:
[code]

[2020-01-28 18:41] rhyek commented on #808
I cannot for the life of me get this to work. I have a similar issue here: #1294.

[2020-01-28 18:52] BenTheElder commented on #808
_technically_ the nodeport range is actually configurable, however in the default that particular port would not be useful. however there's no reason kind's mappings have to be on 80.

using hostPort is an approach for "bare metal" ingress for example (e.g. ingress-nginx).

PRs welcome 🙃 we have a similar guide for ingress, having one around nodeports could be great :-)

[2020-01-28 18:55] BenTheElder commented on #1294
I don't know anything about kong, but to get an ingress running on kind on mac / windows you need to not use a loadbalancer .. (we have a guide for metallb but this only works on linux)

see the upstream issue here https://github.com/docker/for-mac/issues/155

if you look at the ingress-nginx example in the kind ingress docs you can see that we use a hostPort instead

you can also get traffic into

[2020-01-28 18:59] BenTheElder commented on #1294
If there's not a particular reason to use kong, we have complete guides for both ingress-nginx and contour in the docs at https://kind.sigs.k8s.io/docs/user/ingress/

[2020-01-28 19:18] rhyek commented on #1294
@BenTheElder thanks. i want to use either kong or ambassador, because i want to leverage their api gateway capabilities for my local cluster and then eventually replicate the same setup on a remote cloud provider cluster. those two i mentioned seem to be good offerings with decent popularity.

i guess part of my problem is i'm not sure how to transfer that configuration over to ambassador. on thei

[2020-01-28 19:52] ricardo-rod commented on #1283
The output of the non-working environment:
[https://raw.githubusercontent.com/ricardo-rod/files/master/ip6tables-save-non-working.bash](https://raw.githubusercontent.com/ricardo-rod/files/master/ip6tables-save-non-working.bash)

The output of the working environment:
[https://raw.githubusercontent.com/ricardo-rod/files/master/iptables-save-working.bash](url)

I'm still trying to see if the problem

[2020-01-28 21:21] BenTheElder commented on #1292
I see docker implementing the port forward using a proxy process

shell A:
[code]

shell B:
[code]

[2020-01-28 21:27] BenTheElder commented on #1292
ah, though my daemon does not have ipv6 configured :upside_down_face:

[2020-01-28 21:33] BenTheElder commented on #1292
after configuring the daemon and creating a cluster with this config I see:
`196f8a8c7999        kindest/node:v1.17.0   "/usr/local/bin/entr…"   26 seconds ago      Up 23 seconds       0.0.0.0:32444->32444/tcp, ::1:32768->6443/tcp   kind-control-plane`

that's pretty suspicious, I think this is a kind bug in defaulting the port mappings
/assign
/unassign @aojea

[2020-01-28 21:33] BenTheElder commented on #1292
/lifecycle active

[2020-01-28 21:40] BenTheElder commented on #1292
So docker defaults to `0.0.0.0` if the address is not specified.
We can make kind default to `::` if the address is not specified and cluster family is IPv6

In a future revision of the kind API we should probably default to loopback _at the api level_ if the addr is not specified instead of leaving it up to the provider. doing this now would be a breaking change.

[2020-01-28 22:29] BenTheElder commented on #1292
fix here https://github.com/kubernetes-sigs/kind/pull/1295

in the meantime, if you use an explicit `listenAddress` in the extraPortMappings it will use that, `"::"` will be the current default, though it probably _should_ be `"::1"` and might be in a future API revision

[2020-01-28 23:25] aojea commented on #1283
at a first sight I don't see any docker rule allowing FORWARDing traffic between pods on the fedora dump

[2020-01-28 23:49] #1292 closed

[2020-01-29 00:02] BenTheElder commented on #735
https://github.com/kubernetes/enhancements/pull/1007, I think we want this, whitelist the system images somehow and then leave GC enabled.

[2020-01-29 00:08] rhyek commented on #1294
Ok. I got it all working nicely with Kong. Ambassador was giving me too many issues including asking for a community license that I was never able to configure.

These are the steps to get something like Kong working in case anyone ever needs it:

[code]
And a simple example of its use:

`kubectl apply -f ingress.yaml`:
[code]
`kubectl apply -f todo-service.yaml`:
[code]

From here you should be a

[2020-01-29 00:08] #1294 closed

[2020-01-29 00:09] BenTheElder commented on #1294
thanks for following up with your solution!

[2020-01-29 00:12] nbartos commented on #1292
When using `listenAddress: "::"` or `listenAddress: "::1"` with 0.7.0, running the curl still hangs.

[2020-01-29 00:12] rhyek commented on #1294
np!

[2020-01-29 00:23] BenTheElder commented on #1292
config used:
[code]
cluster creation:
[code]
node container:
[code]

[2020-01-29 00:24] BenTheElder commented on #1292
I don't have helm setup on this machine but you can see that the port mapping `:::32444->32444/tcp,` is installed when `"::"` is the listen address.

[2020-01-29 00:50] nbartos commented on #1292
I see that mapping as well, but it still doesn't work.  You can get helm easily via `curl -sfL https://get.helm.sh/helm-v3.0.2-linux-amd64.tar.gz | tar -xz linux-amd64/helm`, then run `./linux-amd64/helm install ngress https://kubernetes-charts.storage.googleapis.com/nginx-ingress-1.26.2.tgz --set controller.service.type=NodePort --set controller.service.omitClusterIP=true --set defaultBackend.ser

[2020-01-29 14:25] Rand01ph commented on #1181
@aojea Thank you for your share. I try your snippet, but the test blocked with `INFO: Running AfterSuite actions on all nodes`. It's all right ?

[2020-01-29 14:55] aojea commented on #1181
nope, it has to run the test suite and show the results ... :/

@benthelder is working in improving the UX https://github.com/kubernetes-sigs/kind/issues/986

[2020-01-29 17:52] ricardo-rod commented on #1283
Here it is the output of docker and when it is running the process I know now that it is opening the socket when I issued netstat -atunp, I can saw the port there but the forwarding is missing.

[https://raw.githubusercontent.com/ricardo-rod/files/master/non-working-fedora-docker](https://raw.githubusercontent.com/ricardo-rod/files/master/non-working-fedora-docker)

As we all knew this is a proble

[2020-01-30 00:02] BenTheElder commented on #1284
#273

[2020-01-30 00:02] #1284 closed

[2020-01-30 00:03] amwat opened #1298 "kind export logs hangs indefinitely for a paused kind node."
**What happened**:
`kind export logs` hangs indefinitely for a paused kind node.
**What you expected to happen**:
`kind export logs` should exit/error.
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`): kind v0.8.0-alpha+699405d42984fa (HEAD)
- Kubernetes version: (use `kubectl versio

[2020-01-30 00:05] amwat commented on #1298
also seeing a couple of prowjobs hit this:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/1296/pull-kind-conformance-parallel-1-14/1222650307004076032/

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/1293/pull-kind-conformance-parallel-1-14/1222033919973527554

[2020-01-30 00:05] amwat commented on #1298
/lifecycle active

[2020-01-30 00:05] BenTheElder commented on #1298
/priority important-soon

[2020-01-30 00:09] BenTheElder commented on #1288
would love to see logs if you spot this again with the `-v 1` addition.
I've now seen something like this _once_ in our CI. the node container exited.
unfortunately the CI hung for another reason and we don't have more details, but either the node entrypoint failed or the container was killed for some reason.

I suspect some docker bug, though it is possible something flakes in the entrypoint, it

[2020-01-30 00:12] BenTheElder commented on #1248
/priority important-soon
too many things going on :/

prow would probably accept running a daemonset that allocated many loop devices on the build nodes if we could hack one up, we have a daemonset right now for increasing inotify watches ...

[2020-01-30 00:31] BenTheElder commented on #154
can confirm that it's workable with 1.7.1-dev though, needs some more work in kind but feasible once https://github.com/containers/libpod/pull/4818 lands.

[2020-01-30 00:41] aledbf commented on #1288
@BenTheElder I also see this in ingress-nginx prow jobs https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/ingress-nginx/4949/pull-ingress-nginx-e2e-1-16/1222680251373457408

[2020-01-30 00:48] BenTheElder commented on #1288
@aledbf since you are on prow can you switch to using `--retain` during create (also `-v 1`) and putting an exit trap with `kind export logs "${ARTIFACTS}/kind-logs/"` before `kind delete cluster`, similar to https://github.com/kubernetes-sigs/kind/blob/3f3b305f148059ca7fd24402fcadd41b7b5883d2/hack/ci/e2e-k8s.sh#L29

we need to capture why the command failed, it could just be a flake in the enviro

[2020-01-30 01:05] BenTheElder opened #1300 "support for remote config"
**What would you like to be added**:

Support for `kind create cluster --config=https://...`

**Why is this needed**:

It's useful for documentation in particular, you can simply link to a config to use...

I actually wrote a version of this already and stashed it, a user request reminded me :-)

/assign
/lifecycle active
/priority important-longterm

[2020-01-30 01:07] BenTheElder commented on #766
/remove-lifecycle stale
D: nobody wants to take docs issues it seems .. guess I'll need to bump this up my own TODOs

[2020-01-30 01:58] #1298 closed

[2020-01-30 05:43] howardjohn commented on #1290
This one is a bit different but I figured I'd add it here https://prow.istio.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/1293

Same story as before, we get these extremely rare and seemingly random. This one feels really different though, seems like the container doesn't run correctly

[2020-01-30 05:56] neolit123 commented on #1290
can you enable more verbosity for the `kind` commands in the output of your CI?

side note, in the kubeadm CI (uses kinder, based on kind) we are seeing a very odd and fairly rare failure in `docker cp` when calls copying from host to container. my only explanation is a docker bug at this point.

[2020-01-30 05:58] howardjohn commented on #1290
We pass -v9 so I assume that's as verbose as it gets?

[2020-01-30 06:06] neolit123 commented on #1290
`--loglevel=debug` used to add information about the `docker` calls.

you might have too look at the logs for the docker daemon too.

[2020-01-30 10:58] junaid-ali commented on #99
I haven't went throught all the replies but this could work as well:
* Get kind control-plane docker IP
[code]
* Access the service at `<docker-ip>:<nodePort>` from host machine

[2020-01-30 12:11] aojea commented on #1283
@ricardo-rod please paste the `iptables-save` of the `non-working-fedora`, the ipv4 rules, I think that I'm missing something in the ip6tables but want to double check

[2020-01-30 13:54] 2opremio commented on #1288
No _luck_ so far

[2020-01-30 14:41] ricardo-rod commented on #1283
Here it is the file:
[https://raw.githubusercontent.com/ricardo-rod/files/master/iptables-save-non-working.bash](https://raw.githubusercontent.com/ricardo-rod/files/master/iptables-save-non-working.bash)

[2020-01-30 17:02] aojea commented on #1283
The ip6tables rules don't have the DOCKER rules allowing the containers communication. I could check with @saschagrunert that this is configured in docker here:
https://github.com/moby/moby/blob/e6c1820ef5de8c198b4ddec74440a7ea7b331194/cmd/dockerd/config_unix.go#L36

docker rules are added using libnetwork, that seems it only work with the IPv4 iptables version, there is no place with an `ip6table

[2020-01-30 19:01] BenTheElder commented on #1290
kind doesn't use `docker cp` fwiw, but I do think the nested docker daemon may flake on some streaming API calls.. :/

yeah this is my concern, I'm not sure what _we're_ doing to cause this though..

atm that's more than maximum.

[2020-01-30 19:02] BenTheElder commented on #1290
@amwat has done a few rounds of stress testing locally w/ repeated `kind export logs` (many docker calls to stream files) and we're not seeing it locally.

[2020-01-31 02:17] rhatdan commented on #154
It has landed and hopefully will be in podman 1.8.0.

[2020-01-31 02:19] rhatdan commented on #154
BTW Now that Podman is beginning to support the Docker API, it would be interesting to see if KIND could use it.

[2020-01-31 07:47] BenTheElder commented on #99
@junaid-ali that does not work on docker for mac or docker for windows.

[2020-01-31 08:31] Rand01ph commented on #1181
@aojea Yes, it has run the test suite and show the results, but the process is not end itself, after tests, it blocked with `INFO: Running AfterSuite actions on all nodes `

[2020-01-31 08:34] BenTheElder commented on #1181
You probably need to add some flags. Please share your test invocation.

On Fri, Jan 31, 2020, 00:31 9r0k <notifications@github.com> wrote:

[2020-01-31 09:16] vanou commented on #766
Hi @BenTheElder ! If possible I'll try this.
/assign

[2020-01-31 13:22] ricardo-rod commented on #1283
Todo listo no hay problemas, I made a test with 2 new VMs and I issued the firewalld commands you wrote. Nothing more to report.

[2020-01-31 15:03] aojea commented on #1283
@ricardo-rod can we close then?
are you going to send a PR to add it to the Known Issues https://kind.sigs.k8s.io/docs/user/known-issues/?

[2020-01-31 15:12] ricardo-rod commented on #1283
I must inform when I am tried to setup the kubernetes dashboard it hangs until I stopped again the firewalld daemon,

here it is the output of:
`sudo systemctl status firewalld -l --no-pager`

anyway docker is confused and is sending the IPv6 nat to IPv4 address and that is not going to happend unles NAT64 is being used but I don't think so.

● firewalld.service - firewalld - dynamic firewall daem

[2020-01-31 16:14] aojea commented on #1283
@ricardo-rod let's go step by step, first questions

with the commands, I provide the cluster works?
was this rule added by the firewalld-cmd command `'/usr/sbin/iptables -w10 -t nat -A DOCKER -p tcp -d ::1 --dport 32770 -j DNAT --to-destination 172.17.0.2:6443 ! -i docker0'`?

 if the cluster works `docker network inspect bridge` should show the containers attached to the bridge and I can't see a

[2020-01-31 18:47] h1nk opened #1303 "Fish shell completion"
**What would you like to be added**:
Fish shell completions.
**Why is this needed**:
For fish shell users.

[2020-01-31 18:49] BenTheElder commented on #1303
Sorry but we just use the completion tooling provided by the CLI toolkit (cobra), we're not really focused on this.

We'd probably accept a PR if it was done in some maintainable way...

[2020-01-31 18:51] ricardo-rod commented on #1283
@aojea yes the cluster works and the pods are running and the containers too, when I shutdown the firewalld I got the same effect everything works, but when the daemon firewalld is started after the creation of the pods, services and dashboard do not get through.

was this rule added by the firewalld-cmd command '/usr/sbin/iptables -w10 -t nat -A DOCKER -p tcp -d ::1 --dport 32770 -j DNAT --to-des

[2020-01-31 18:59] aojea commented on #1283
ok, cool, we are good then.

If you see the `docker network inspect bridge` you can see entries with the docker ip addresses, the ones that the `kubectl get nodes -o wide`, that's good.

It seems a bug in firewalld then? we need to understand who adds that rule

`/usr/sbin/iptables -w10 -t nat -A DOCKER -p tcp -d ::1 --dport 32770 -j DNAT --to-destination 172.17.0.2:6443 ! -i docker0'`

with the c

[2020-01-31 19:46] ricardo-rod commented on #1283
Here it is the output if the wordpress from kubernetes.

kubectl get secrets; kubectl get pvc; kubectl get pods; kubectl get services wordpress

NAME                    TYPE                                  DATA   AGE
default-token-zv424     kubernetes.io/service-account-token   3      18m
mysql-pass-gtd2f24589   Opaque                                1      11m
NAME             STATUS   VOLUME

[2020-01-31 22:16] zlwfrank opened #1304 "no_proxy takes no effect when pulling images from a local registry"
I'm testing kind kubernetes cluster and the local registry behind corporate proxy. I simply follow the documentations @ https://kind.sigs.k8s.io/docs/user/local-registry/

**What happened**:
Even if 172.17.0.0/16 (the created docker network) is automatically added in the no_proxy environment variable when creating cluster, the request of pulling image from a local registry (whose IP is 172.17.0.2

[2020-01-31 22:18] BenTheElder commented on #1304
probably `registry` has to be in `no_proxy` ?

[2020-01-31 22:28] BenTheElder commented on #1304
we're going to be replacing that registry system with something more advanced, we can auto inject this then, but for now I think `NO_PROXY` must contain `registry` when creating the cluster.

we can add this to that script

[code]

[2020-01-31 22:28] BenTheElder commented on #1304
/assign

[2020-01-31 22:51] zlwfrank commented on #1304
@BenTheElder Thanks for the quick response. I've conducted several tests and they're all working. Previously, I thought adding `registry` in the `/etc/hosts` is enough to make it work.

I would suggest to mention it in the documentation if you don't plan to replace the current registry system very soon, since I think it seems to be required to make the local registry work behind a proxy.

I apprec

[2020-01-31 22:51] #1304 closed

[2020-01-31 23:09] aojea commented on #1283
@ricardo-rod firewalld seems to have several issues reported with docker
https://github.com/firewalld/firewalld/issues/461
however, I think this is a new one issue we should report, the iptables rules is adding an ipv6 address to an iptables IPv4 rule :/

[2020-02-01 01:08] BenTheElder commented on #154
https://github.com/kubernetes-sigs/kind/pull/1302 -- provisional support is in, it requires a dev build (`1.7.0-dev`+) until 1.8.0 is out, then we'll probably start requiring `1.8.0`. It also requires rootful for now.

[2020-02-01 23:46] fllaca commented on #1200
hi @s12chung !
Yes, I had to set `DOCKER_HOST` when using a linux host. In MacOs, qoomon/dockerhost uses the special DNS name "host.docker.internal" to forward the traffic, so DOCKER_HOST mustn't be set.

[2020-02-02 18:26] scottmf commented on #817
For anyone who comes across this, I had the same issue and it drove me crazy.

Here is the problem:
In our env we use artifactory and bintray.io to serve our docker images.  This has nothing to do with kind, it is in fact artifactory and bintray causing the issue.  Ultimately I had to downgrade to kind node version to use an older version of containerd and it worked.  In our env we use k8s `1.14.x

[2020-02-02 18:29] Ilyes512 commented on #817
In the end my issue was related the auth layer on top of the registry I was using. It was fixed with this PR: https://github.com/cesanta/docker_auth/pull/265

[2020-02-03 06:50] pohly commented on #1248
@BenTheElder Do you have a pointer to how that existing daemonset is written?

[2020-02-03 10:44] hossainemruz opened #1305 "Add doc explaining how to access one kind cluster from another"
**What would you like to be documented**:
We would like to have a documentation on how to access one kind cluster from another.

**Why is this needed**:
We are facing a use case where we need to connect between two clusters. One cluster need to be able to perform some operations on another. For, two kind cluster, we need to modify the kubeconfig (`kind-config-kind`) file before using it inside one

[2020-02-03 15:10] ajitkumartanwade commented on #851
Hi Guys, we are not able to set up rabbitmq-ha. We have created a master node and 3 worker nodes on Azure VMs with CentOS. Logs are showing the K8S is not able to find the node to schedule the pod. Please find attached the log screenshot. Please help
![3BD80CBE](https://user-images.githubusercontent.com/56916241/73664398-52361880-46c5-11ea-8e2e-f3dd29a0c10e.PNG)

[2020-02-03 15:14] ajitkumartanwade opened #1306 "Helm: rabbitmq-ha deployment fails to discover k8s nodes #851"
Hi Guys, we are not able to set up rabbitmq-ha. We have created a master node and 3 worker nodes on Azure VMs with CentOS. Logs are showing the K8S is not able to find the node to schedule the pod. Please find attached the log screenshot. Please help. Referring to the same issue

[2020-02-03 15:16] ajitkumartanwade commented on #1306
Hi Guys, we are not able to set up rabbitmq-ha. We have created a master node and 3 worker nodes on Azure VMs with CentOS. Logs are showing the K8S is not able to find the node to schedule the pod. Please find attached the log screenshot. Please help. Referring to the same issue

[2020-02-03 15:18] Gsantomaggio commented on #851
the problem is `NXDOMAIN` with this dns `kubernetes.default.svc.cluster`

Please follow this [k8s documentation link](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/)  to debug the DNS problems

[2020-02-03 15:37] robotica72 opened #1307 "Any way to patch the API server after deployment without losing the current cluster state?"
I think I may be getting a bit complex in what I would like to do, but it has a huge use case for me and some labs I am doing.

What I hoping to figure out is if I am able to deploy Kind, but afterwards I want to update the API options with a parameter for OIDC.  In this case the requirement is that I use K8s to generate the cert for the OIDC and of course, I cant do that before the cluster is up

[2020-02-03 16:21] BenTheElder commented on #1306
I don't see any attachments?

[2020-02-03 16:22] BenTheElder commented on #1306
I think you have the wrong repo. KIND is for local clusters on a single host machine and does not currently involve VMs

[2020-02-03 16:26] BenTheElder commented on #1305
You just need to use `kind get kubeconfig --internal` to get the contents of one with the internal IP. Or `kind export kubeconfig --internal`. No manual IP swapping required.

There is help usage for these commands in the CLI.

[2020-02-03 18:20] BenTheElder commented on #1306
found https://github.com/kubernetes-sigs/kind/issues/851#issuecomment-581459790 reading back through my notifications and I'm going to echo https://github.com/kubernetes-sigs/kind/issues/851#issuecomment-581464012

[2020-02-03 18:27] BenTheElder commented on #1307
Why can't you do that here? :upside_down_face:

You shouldn't need to restart a node to update a pod.

[2020-02-03 18:28] BenTheElder commented on #1248
It is here: https://github.com/kubernetes/test-infra/blob/b2d632960440e47f671dd3b997709aa299911456/prow/cluster/tune-sysctls_daemonset.yaml

[2020-02-03 18:30] ricardo-rod commented on #1283
Here it is the output I can confirm that docker is issuing the commands not firewalld.

Here is the debugged version of docker and firewalld logs, after the removal of every rule for and from docker of the daemon firewalld I started everything again, the results were that docker is sending the wrong commands to firewalld causing a bad port-forwarding (IPv6 to IPv4 nat which invalidates IPv6 connec

[2020-02-03 18:40] robotica72 commented on #1307
Hey Ben - Sorry, my description was probably a bit vague.   So on a different K8s install that run each K8s component in a dedicated container, I could patch the API server deployment with my changes and it would just restart the POD.

I cant do that with Kind since the master container is running all of the control plane and of course restarting the container will cause the cluster to have issues

[2020-02-03 18:42] BenTheElder commented on #1307
kind runs the api server as a pod, it's a bit confusing since that is "inside" the "node container"

[code]

[2020-02-03 18:51] robotica72 commented on #1307
lol  -- DOH!   I heavily over looked that, I was so focused on the Kind image in Docker that I ignored the POD in K8s!   Wow, its a Monday and not a good one for me :)  Apologies for wasting your time on this one.  Thanks for the quick reply (as always)!

[2020-02-03 18:54] BenTheElder commented on #1307
no worries!
I think what you would normally do will just work, except possibly how you
go about executing it, might need to swap an ssh call for docker exec.

On Mon, Feb 3, 2020 at 10:51 AM robotica72 <notifications@github.com> wrote:

[2020-02-03 19:07] robotica72 commented on #1307
I think so too - It should work similar to other cluster deployment I have used.  Exciting stuff, this will make a lab Im working on so easy to implement!   Cant thank you and the team enough for Kind - and, on a side note, even more so if/when you can maintain a cluster state.   My fix right now is to have a script for every "lab" that will rebuild the cluster up to the latest lesson, just in cas

[2020-02-03 19:41] Gsantomaggio commented on #1306
try:
[code]

then
[code]

that's should be the result:

[code]
tried on `Kind`

[2020-02-03 22:25] aojea commented on #1283
@ricardo-rod I'd go with firewalld, just explain the scenario as you did here, you have docker with IPv6 and firewalld,  and it's installing a wrong rule, an IPv6 address in an IPv4 rule

[code]

feel free to tag me on the firewalld issue

[2020-02-04 01:33] tao12345666333 commented on #345
/remove-lifecycle stale

[2020-02-04 03:32] hossainemruz commented on #1305
Wow. That's cool. Thank you @BenTheElder.

[2020-02-04 03:32] #1305 closed

[2020-02-04 04:14] win5do opened #1309 "apiserver port changed when docker restart kind container"
kind version:
[code]

docker version:
[code]
<img width="1134" alt="WechatIMG30" src="https://user-images.githubusercontent.com/22112659/73712799-36bf2200-4746-11ea-858b-e3a69e749299.png">

I used  to use kind@0.5.1, it is OK.
Sometimes I want to reboot and get back to my previous work.

[2020-02-04 04:21] win5do commented on #1309
Now, I have to create cluster with a config file to pinned apiserver port, like this:
[code]

[2020-02-04 05:43] BenTheElder commented on #1309
We ask docker to get a random port to work with remote docker.

Restart support has an existing tracking issue, we're actively looking into it.

[2020-02-04 05:43] BenTheElder commented on #1309
https://github.com/kubernetes-sigs/kind/issues/148

[2020-02-04 09:37] nickmintel commented on #1288
We have what looks to be the same issue (using gitlab-runners). I've applied the verbosity setting and will report back if anything of interest shows up in the logs.

[2020-02-04 09:39] nabadger commented on #1288
I think we're running into the same issue (using gitlab-runners). I've applied the same verbosity setting and will report back if anything of interest shows up.

[2020-02-04 12:21] ajitkumartanwade commented on #1306
We have tried to create using the busybox.yaml as well but still we are not able to identify the error.
![image](https://user-images.githubusercontent.com/56916241/73744186-4a827c80-4776-11ea-908e-485bc7ce85ad.png)
While the rabbitmq-ha is still in Crashloopback and the logs are attached hereby.
![image](https://user-images.githubusercontent.com/56916241/73744337-9cc39d80-4776-11ea-8aac-13fa54d821

[2020-02-04 13:30] Gsantomaggio commented on #1306
@ajitkumartanwade  please read this comment https://github.com/kubernetes-sigs/kind/issues/1306#issuecomment-581495668

I think you are using the wrong repository, not use you are using `KIND`

you can understand if you are using `kind` with this command:
[code]

it should be like:
[code]

and also follow this [link](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/) to

[2020-02-05 01:33] nmvega opened #1311 "Thank you for kind ..."
### I came by just to say thank you to this community for `kind`. I have a little [R&D Lab](https://jupyter.ai/RnDLab) consisting of `Docker CE` nested within outer `LXC` (Fedora O/S) containers; and for days, I've been struggling mightily to get a 3 + 1 cluster running using `kubernetes` proper, and then later the `k3s` alternative.

### I wanted more than a 1-node cluster (so no heavy `Minikube`

[2020-02-05 07:01] cofyc commented on #1290
hi,

We encountered this issue too and found that the `sync` command in `entrypoint` script may run for a long time sometimes (high system load?).

https://github.com/kubernetes-sigs/kind/blob/c0a7803bc09961b7a6b84f48fa98fed172812320/images/base/files/usr/local/bin/entrypoint#L28-L31

Maybe we can skip this command when storage driver is not `aufs`?

example fail logs:

[code]

[2020-02-05 13:25] aojea commented on #1311
hey, thanks :sweat_smile:

[2020-02-05 15:24] Rand01ph commented on #1181
@BenTheElder I just use the `bazel-bin/test/e2e/e2e.test -context kind-kind -ginkgo.focus="\[sig-network\].*Conformance" -num-nodes 2 -ginkgo.parallel.total 8`

[2020-02-05 15:26] aojea commented on #1181
naive question, do you have at least 2 workers in your cluster?

[2020-02-05 16:10] Rand01ph commented on #1181
Yes, i follow your steps. The test can be run, but it does not end by itself

[2020-02-05 16:52] BenTheElder commented on #1181
I'm not certain about that invocation, currently we use hack/ginkgo-e2e.sh in k8s which handles a few more things, you can check our own hack/ci dir for the current scripts we use to do this, they set some other things

[2020-02-05 17:12] #153 closed

[2020-02-05 17:13] aojea commented on #1181
in parallel, I'll check if I have some additional environment variables that are missing causing this behavior.

[2020-02-05 19:33] BenTheElder commented on #1290
skipping the sync sounds reasonable.

[2020-02-05 19:34] BenTheElder commented on #1290
that sync has been present since v0.4.0 though, I suspect that's more of a symptom than a root cause ...

[2020-02-06 11:56] laymonk opened #1315 "Unable to create a multi control-plane cluster on Windows"
Hi,

I have just installed kind on Windows 10 with chocolatey (already have Docker Desktop 2.2.0.0 installed, so I had to skip the chocolatey dependency that was trying to re-install Docker Desktop, with --ignore-dependencies).

I have adjusted the Docker Desktop resources to 8GB RAM

## Multi control plane fails

I have been unsuccessful in creating a 5 node cluster (2 control-planes, and 3 worke

[2020-02-06 16:28] BenTheElder commented on #1315
Disk and CPU may also be a problem with many nodes.

The nodes are Linux containers, the paths inside them are Linux paths 🙃

Can you run this again with `-v 1` and report back the output then?

Out of curiosity: what is your use case for multi control plane clusters? We use them to test Kubernetes itself, but usually we don't see windows users developing Kubernetes itself -- are you planning to u

[2020-02-06 16:28] BenTheElder commented on #1311
Thank you, I appreciate the feedback 🙂

[2020-02-06 16:43] nmvega commented on #1311
You're welcome! :blush:

[2020-02-06 19:30] BenTheElder commented on #1288
we can see something similar here https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/ingress-nginx/5028/pull-ingress-nginx-e2e-1-15/1225490651391463424 (thanks @aledbf !)

the node container is not running and things are going very slowly, I wonder if it might be a combination of overloaded host and https://github.com/kubernetes-sigs/kind/issues/1290#issuecomment-582269579

going to put

[2020-02-06 19:31] BenTheElder commented on #1288
unfortunately we didn't capture the node logs but we can definitely see that the node container was no longer running.

[2020-02-06 19:45] hiddeco commented on #1288
We finally hit the jackpot: https://circleci.com/gh/fluxcd/flux/10092

[2020-02-06 19:53] BenTheElder commented on #1288
Absent further debug info, I'd have to guess spinning up 4 at once on that machine is sometimes causing a node to bring up too slowly and KIND is not expecting CRI to take this long to come up.

We can do some internal busy wait on this, it may also be the `sync` thing ... (need to explore that more ...). In the meantime you might want to consider bringing up 2 and then 2 more instead of 4 at once

[2020-02-06 20:10] hiddeco commented on #1288
I think this guessed-theory may be spot-on, we use the exact same strategy in another project of ours (`fluxcd/helm-operator`) which shows the same behaviour at times.

This sounds like a reasonable interim solution. cc: @2opremio

[2020-02-06 22:04] nmvega opened #1317 "How does "kubectl cluster-info" find or discover the cluster ..."
Hello Friends:

I have a question.

Given the information I compiled further below, how do either of the following two commands find anything at all?
[code]

**Why I ask**:

The API-Server port exposed to the outermost docker ("bare-metal") host is `32773` (see below), which is not a well-known port to the `kubectl(1)` command (at least not that I know of).

Similarly, the `172.17.0.0/16` address-

[2020-02-06 22:51] BenTheElder commented on #1317
KIND uses the KUBECONFIG "standard" to write credentials. there is a file most likely in `$HOME/.kube/config` containing the cluster address, credentials, etc.

https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

[2020-02-06 23:00] nmvega commented on #1317
Thank goodness it makes sense (no magic after all).

And here I was -- before writing my question -- searching as follows (yet didn't think to `grep(1)` for `kube`, too):

`nmvega@vps10$ cd ~; find . | grep -i kind`  # Sigh! LoL

Thank you so much!

[2020-02-06 23:04] BenTheElder commented on #1317
you're most welcome :-)

most kubernetes provisioning tools do something similar, we write to the kuebconfig file following some rules from `kubectl` about which file to use based on the `--kubeconfig` flag and `KUBECONFIG` environment variable and user HOME dir, we then set `current-context` to the one for this cluster.

you can also check just the kind part out with `kind get kubeconfig` and do

[2020-02-06 23:05] BenTheElder commented on #1317
the rules are at https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#config

[2020-02-06 23:25] nmvega commented on #1317
Excellent! You guys probably had answered this already (or in the docs), but maybe this question and answer wording will help others searching in the future. (I guess that's my cop-out for not searching for `kube`). :) Ttys

[2020-02-06 23:45] 2opremio commented on #1288
I don't know if it's the same root cause (the docker command is different) but I caught an cluster creation error with `-v 1`: https://circleci.com/gh/fluxcd/flux/10092

[2020-02-06 23:48] 2opremio commented on #1288
Are we sure it's the same root cause? The docker command is very different. Does it matter? (Sorry for my ignorance)

[2020-02-06 23:49] BenTheElder commented on #1288
The two recent ones from fluxcd are not the same as the initial one here.

The initial one is most likely the node container not running (we are just cat-ing a file that exists in the container image), that shouldn't fail otherwise ... The container not running is either a bug in the entrypoint causing it to crash (so far we've not observed this but, plausible) or something killing the container f

[2020-02-06 23:51] BenTheElder commented on #1288
I don't know if circleCI has an equivilant, but in kubernetes's CI we create clusters with `--retain` and do a `kind export logs` to a CI artifacts directory before the job exits. That gives us some useful info like node logs.

We can see the container runtime not running in kubeadm output though, which is not something I'd normally see in kind logs anyhwere.

[2020-02-07 01:33] laymonk commented on #1315
yeah, I realized that afterwards :-)

$ kind create cluster --name kindha5 --config kindha.yaml -v 1
Creating cluster "kindha5" ...
 • Ensuring node image (kindest/node:v1.17.0) �  ...
DEBUG: docker/images.go:61] Image: kindest/node:v1.17.0@sha256:9512edae126da271b66b990b6fff768fbb7cd786c7d39e86bdf55906352fdf62 present locally
 ✓ Ensuring node image (kindest/node:v1.17.0) �
 • Preparing nodes � �

[2020-02-07 01:40] laymonk commented on #1315
I do Devops, and often test provisioning scripts, and single node clusters can be very limiting for testing out code meant to go live on HA clusters.  Was so pleased to come across kind.

By the way, I find that when I expose services I am unable to reach them from my windows host.  I see mention of special port mappings in the cluster definition file, but it's not clear how exactly they work or w

[2020-02-08 22:26] gh67uyyghj opened #1320 "Is there a way to replace containerd with CRI-O?"
first off, really thanks for this great project. From my experience, this is the only one-node k8s local cluster that actually works :D. I just wanted to ask is there is some option to install kind with cri-o instead of containerd?

[2020-02-09 01:07] BenTheElder commented on #1320
No there is not, sorry.
However, if CRI is done correctly it should not affect your applications.

[2020-02-09 01:07] #1320 closed

[2020-02-09 01:07] #1317 closed

[2020-02-10 01:26] jroper opened #1321 "Rename Kind to something that will play better with SEO?"
Firstly, I just want to say that I think kind is great, both for working in CI, and for local development, being able to run kubernetes in the host OS has a lot of advantages.

That said, has anyone considered the SEO ramifications of the naming of kind? It makes it really hard to search for answers to questions, due to the following problems:

* Kind is a generic word. Search for "kind" in Google

[2020-02-10 02:07] jroper opened #1322 "Improve logging when using kind load docker-image"
Here's the current output when loading a docker image:

[code]

This message looks like an error message. It gets me every time, I'm scanning through the logs of a failed build, I see it and I think "oh it's failed to find the docker image". And then I remember no, that's what kind outputs when everything's ok. People who are less experienced with kind on my team have often assumed that that is th

[2020-02-10 14:31] aojea commented on #1181
@Rand01ph I hit the same issue, it seems related to skewed versions between the node image and the e2e.test binary :/

[code]

[2020-02-10 14:39] tshak commented on #702
For me I'd love a similar solution to `minikube tunnel`. I test multiple services exposed via an istio's ingress-gateway and use DNS for resolution with fixed ports. The DNS config is automated because after running `minikube.tunnel` my script grabs the external IP and updates the DNS records.

[2020-02-10 16:24] BenTheElder commented on #702
First you have to solve the docker for Mac / Linux issue that the VM in
which containers run has no IP and containers have no reachable IPs from
the host (only port forward).

At this time I'm not aware of a clean solution.

On Linux you don't need much, the node containers are routable out of the
box, if you want you can add a route to the service cidr via a node.

On Mon, Feb 10, 2020, 06:39 tsh

[2020-02-10 16:25] BenTheElder commented on #702
Er docker for Mac / Windows*

We don't have any control over that, and it seriously limits our options

On Mon, Feb 10, 2020, 08:24 Benjamin Elder <bentheelder@google.com> wrote:

[2020-02-10 17:52] BenTheElder commented on #1322
"yet" makes sense. commented on #1323

FWIW Note that our errors have big red `ERROR:` prefixes, and warnings have a similar yellow one. If you ever try to create a cluster by the same name while it already has resources (a common encounter with the default in particular) you will see one then. Anything else is not an error.

[2020-02-10 19:47] nbartos commented on #1292
Since using `listenAddress: "::1"` did not fix the problem, can this be re-opened?  Or should I just create a new duplicate issue?

[2020-02-10 20:06] BenTheElder commented on #1292
Can you please try with an install from HEAD?

@amwat can you look at the helm bit & reproduce?

On Mon, Feb 10, 2020, 11:47 Nick Bartos <notifications@github.com> wrote:

[2020-02-10 21:02] nbartos commented on #1292
I tried using `kind v0.8.0-alpha+a1faf46a2f30e7 go1.13.7 linux/amd64`, but I can't even get it to start.  Either something in the config changed that is now required that wasn't, or there is a new bug.  I also tried adding in the listening address, but the error did not seem to change.

[code]

[2020-02-10 21:18] avoidik opened #1324 "Abspath is incorrectly mangling hostPath on Windows"
**What happened**:
I was unable to start kind on Windows with `hostPath` set to `/c/temp`

**What you expected to happen**:
I expected to start kind on Windows with `hostPath` set to `/c/temp`

**How to reproduce it (as minimally and precisely as possible)**:

Start kind with the following config

*cfg.yml*

[code]

[code]

**Anything else we need to know?**:
I applied the following workaround

[c

[2020-02-10 21:23] BenTheElder commented on #1324
so that workaround cannot be merged because we allow relative paths and docker does not.

however, we can maybe check `IsAbs` first. on linux at least this is already internally checked in `Abs` IIRC, but perhaps the windows implementation is less ideal

[2020-02-10 21:28] BenTheElder commented on #1324
On windows `IsAbs` is not inspected inside the private `abs` implementation https://golang.org/src/path/filepath/path_windows.go

Probably a check to `IsAbs` before deciding to resolve to an absolute path would fix this, but it's difficult to confirm without a windows machine handy at the moment, I have one at home and could confirm tonight, but not at the office.

If you can confirm that this wor

[2020-02-10 21:30] BenTheElder commented on #1181
that sounds like a bug in e2e.test ...

[2020-02-10 21:32] BenTheElder commented on #1292
that part looks wrong in the generated config. @aojea

[2020-02-10 21:35] BenTheElder commented on #1292
stupid question: do you have ipv6 enabled in your docker daemon still? advertise address is the node IPv6 IP, which is auto detected, but that won't work if it doesn't get an IPv6 IP ...

also, which kind config are you now using?

[2020-02-10 21:36] nbartos commented on #1292
Ah, good catch.  I must have nuked it or it was on a different machine that I've tested.  I'll retest.

[2020-02-10 22:06] wtgtybhertgeghgtwtg commented on #1321
~~Kinda~~ Sorta supports the argument for a name change.

[2020-02-10 22:09] BenTheElder commented on #1321
The Short Answer:

We definitely didn't have SEO concerns launching the project (though we noted this) because it was originally just scoped to solve the Kubernetes project's internal testing needs. It's certainly not ideal but ...

There are a *lot* of references we'd have to fix up and this is not something we're planning to do right now. Possibly later.

----

The Long Answer:

Kubernetes IN Do

[2020-02-10 22:25] BenTheElder commented on #1321
Raising to some other existing stakeholders before definitively saying we should or shouldn't, but the reasons above outline where I'd lean towards at least "not now, but never say never...".

[2020-02-10 22:26] neolit123 commented on #1321
searching for `k8s kind` get's you what you want, so i'm giving my -1 vote.

[2020-02-10 22:28] amwat commented on #1292
Back on the original issue: I was able to reproduce the curl hanging and looks like it might be down to some CNI misconfiguration.
The docker port forwarding works fine, and running say nginx on the node directly works and I'm able to reach it from the host. It's only an issue with ingress and being able to reach the pods inside the cluster.
/cc @aojea

[2020-02-10 22:29] BenTheElder commented on #1315
I'm curious how this affects your application testing, HA clusters generally should not affect them? In what ways are you seeing this?

Some kubernetes internals are definitely affected, but apps is more unusual.

Sorry I haven't gotten a chance to debug this more yet.

[2020-02-10 22:30] cblecker commented on #1321
SEO concerns are valid, but the pain of renaming the project (along with the loss of velocity) are probably not worth it. If there ends up being support for this type of thing, it might be worth asking other projects that have gone through renames (like Heptio Ark -> Velero) and see if they have advice to give.

[2020-02-10 22:33] BenTheElder commented on #1315
this suggests that your host is not coming up happily, perhaps your multi node cluster is too large for your docker for windows settings? the default resource reservation is not enough for many Kubernetes nodes.

yeah we definitely need more here, so basically "extra port mappings" map to the `docker run` `--publish` flag on the node level (and similarly with the podman backend), that gets you a p

[2020-02-10 22:34] BenTheElder commented on #1292
@amwat can you write this portion up into a new issue?

we should also file an issue about catching "" as the api server address

On Mon, Feb 10, 2020 at 2:28 PM Amit Watve <notifications@github.com> wrote:

[2020-02-10 22:40] BenTheElder commented on #1307
should we close this one out or do you have further questions?
🙃

[2020-02-10 22:42] BenTheElder commented on #1275
adding external label until upstream seems settled 🙃

[2020-02-10 22:42] BenTheElder commented on #1175
will have to circle back to this one

[2020-02-10 22:43] BenTheElder commented on #996
not seeing further evidence of this. tentatively closing for now

[2020-02-10 22:43] #996 closed

[2020-02-10 22:45] BenTheElder commented on #766
Sorry for missing this comment, I think this happened! https://kubernetes.io/docs/setup/#learning-environment

they may both be removed though if I skimmed that correctly.

[2020-02-10 22:45] #766 closed

[2020-02-10 22:46] BenTheElder commented on #1248
bumping up due to flakes, we'll need to get https://github.com/kubernetes/test-infra/pull/16212 or stop running these tests

[2020-02-10 22:49] zacharysarah commented on #766
@BenTheElder

Maybe not--we're weighing the boundaries of third-party content to "in-project" rather than "in-tree", which would allow KinD (among others) to stay in k/website docs.

This specific issue may require discussion before action, given https://github.com/kubernetes/website/issues/15969.

[2020-02-10 23:13] nbartos commented on #1292
After testing on a machine with ipv6 enabled and the instructions exactly as I put in the description, I got past the last error above.  However the results are the same, `curl -Lfk 'https://[::1]:32444/'` continues to hang.

[2020-02-10 23:20] amwat opened #1326 "CNI not working properly in ipv6 mode"
**What happened**:
ref: https://github.com/kubernetes-sigs/kind/issues/1292#issue-555947266

**What you expected to happen**:
Ingress should work properly in ipv6.
**How to reproduce it (as minimally and precisely as possible)**:
Following the ingress-nginx guide on https://kind.sigs.k8s.io/docs/user/ingress/
with the addition of enabling ipv6
[code]
**Anything else we need to know?**:
Note that t

[2020-02-10 23:21] amwat commented on #1326
/assign @aojea

[2020-02-10 23:22] amwat commented on #1292
Created https://github.com/kubernetes-sigs/kind/issues/1326 to track the ingress issue, so we can keep this closed.

[2020-02-10 23:28] amwat opened #1327 "Better surface docker ipv6 disabled error"
**What should be cleaned up or changed**:
Kind should surface errors regarding enabling ipv6 on docker when running kind in ipv6 mode better.
**Why is this needed**:
ref: https://github.com/kubernetes-sigs/kind/issues/1292#issuecomment-584368599

[2020-02-11 00:03] absoludity commented on #1321
This doesn't seem to be true? If I search for "kubernetes in docker" with google in a private tab, kubernetes-sigs/kind is the first result, where as if I search without "in", a docker.com result is first (in ddg, docker.com is first either way). Sure it's not ideal for SEO, but perhaps "kubernetes in docker" should be used over "kind" - it's descriptive and searchable.

[2020-02-11 00:30] christianh814 commented on #1321
Just commenting as a heavy user. I am giving my -1 for this very reason :)

[2020-02-11 03:04] tao12345666333 commented on #1321
![2020-02-11-104609_1351x762_scrot](https://user-images.githubusercontent.com/3264292/74207745-c7a07b00-4cbb-11ea-93b8-b1932764b38d.png)

In most cases, the results can be directly searched (especially there are a lot of articles about KIND in China). So I'm giving my -1 vote.

The consequences of renaming are terrible, and I think it is more harmful than the benefits it brings.

[2020-02-11 03:04] BenTheElder commented on #1248
not quite closed yet, needs to be deployed.

[2020-02-11 03:05] jroper commented on #1321
Those people who are searching for just "kind kubernetes" or "kubernetes in docker" and seeing kind come up in the search results have missed the point. It's not finding the project that's the problem, it's finding answers to questions.

So, here's an example, let's say I am a kind user, and I've created a LoadBalancer service, and it's not getting an IP address assigned, and I don't know why. So

[2020-02-11 03:06] BenTheElder commented on #1326
FYI @aledbf -- pretty sure this is a KIND bug :+)

[2020-02-11 04:03] BenTheElder commented on #1321
Once you find the project we hope you check the README, where we have many sources of question answering... the results you find elsewhere are usually pretty dated so we haven't focused on that too much except for a few curated under the resources page. This project is still in alpha and at times moves fast.

https://github.com/kubernetes-sigs/kind#please-see-our-documentation-for-more-in-depth-in

[2020-02-11 11:08] aledbf commented on #1326
I tested the configuration and cannot reach ingress-nginx using `::1` but it works if I used the IPV6 address assigned to the container.

[2020-02-11 12:35] ssurovich commented on #1307
Hi Ben - Sorry, I should have closed it, Ill do that now - Thanks again for the information.

[2020-02-11 12:38] robotica72 commented on #1307
Hey @BenTheElder - Yep, Ill lose it now, Thanks again for the help!

[2020-02-11 12:38] #1307 closed

[2020-02-11 12:48] aojea commented on #1326
it seems a bug in the docker proxy, that tries to use IPv4 on the translation when using `::1`as destination.

[code]

However, using the container IPv6 address it works as @aledbf says:

[code]

If we capture the traffic inside and outside of the containers we can check that the container only receives IPv4 traffic.

The capture outside of the node shows how the IPv6 TCP connection is established

[2020-02-11 13:31] aojea commented on #1326
I think that the code of the docker-proxy supports ipv6 but if you take a look to the docker-proxy process you can see that is referring only to the IPv4 addresses, and the code seems to parse only the IPv4 address of the container

[code]

seems that there is some history behind this ... :thinking:  my understanding from the comments is that docker IPv6 is meant to be used without forwarding and

[2020-02-11 16:55] timothysc commented on #1321
I'm a -1 on name change b/c of the inertia and impact.

SEO ~ kubernetes kind = 1st hit.

[2020-02-11 17:15] christianh814 commented on #1321
I've never had trouble finding answers to questions. As Ben suggested, I usually hang out in the k8s KIND slack channel and file issues to track.

I find that with smaller communities; one has to actually be actively involved, instead of just consuming answers (which I'm guilty of at times as well)

Most of the answers I find is with search for `kubeadm` since `kind` uses it. Second, it's usually

[2020-02-11 17:17] BenTheElder commented on #1307
thanks! :-)

[2020-02-11 17:37] cblecker commented on #1321
Just to touch on this point directly:
As @BenTheElder said, I think everyone here is weighing the pros and cons of the proposed action (renaming the project). It is a heavy action to take, with both technical and human barriers to consider, and as such, the bar is pretty high. I don't feel like anyone is treating it as a non-issue, but it's more when weighing it against the downsides, it doesn't f

[2020-02-11 19:45] BenTheElder commented on #1248
https://github.com/kubernetes/test-infra/pull/16230 is deployed now

[2020-02-11 21:09] 2opremio commented on #1288
Yet another failure https://circleci.com/gh/fluxcd/flux/10180

[2020-02-12 07:55] riveroll opened #1328 "kind create cluster ERROR: failed to create cluster: failed to pull image"
While executing "kind create cluster"

Creating cluster "kind" ...
 ✗ Ensuring node image (kindest/node:v1.17.0) 🖼
failed to pull image "kindest/node:v1.17.0@sha256:9512edae126da271b66b990b6fff768fbb7cd786c7d39e86bdf55906352fdf62": command "docker pull kindest/node:v1.17.0@sha256:9512edae126da271b66b990b6fff768fbb7cd786c7d39e86bdf55906352fdf62" failed with error: exit status 1
ERROR: failed to cre

[2020-02-12 08:41] riveroll commented on #1328
I've extended de root partition size and everything works well.
It was 4 GB extended to 50 GB

[2020-02-12 08:41] #1328 closed

[2020-02-12 09:14] avoidik commented on #1324
@BenTheElder I'll try to revisit my PR when I find time

[2020-02-12 20:02] lainosantos commented on #148
+1

[2020-02-13 09:33] mittachaitu opened #1329 "hostNetwork"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`):
- Kubernetes version: (use `kubectl version`):
- Docker version: (use `docker info`):
- OS (e.g. from `/etc/os-release`):

[2020-02-13 09:33] #1329 closed

[2020-02-13 16:25] robotica72 opened #1330 "Kind and running Falco - Question...."
Apologies that this isn't a Kind issue as per say, but I thought that the team may have an idea to get me past my current issue.

If you try to deploy the Falco daemonset on Kind, it spins up ok and the initial Falco step is to run a dkms build which uses the kernel-headers on the Host.  So the Docker deployment on the physical host directy works with the added kernel-headers, but in the Kind cont

[2020-02-13 17:16] robotica72 commented on #1330
Got it - I got it working by copying the /usr/src from the host into the worker node - I figured it was just a headers issue in the Kind container.   This is great, going to be perfect for a lab Im doing on secuity and a few other topics.

[2020-02-13 17:16] #1330 closed

[2020-02-13 17:58] michaelbannister opened #1331 "containerd versus dockerd WORKDIR non-root permissions"
**What happened**:
An image whose WORKDIR is set to a directory with permissions only for one user, run in a Pod with securityContext.runAsUser set to a _different_ UID. Kind runs the pod just fine, but Kubernetes fails with an error like `failed to create containerd task: OCI runtime create failed: container_linux.go:346: starting container process caused \"chdir to cwd (\\\"/home/nonroot\\\") se

[2020-02-13 18:33] aojea commented on #1331
/cc @mauilion

[2020-02-13 19:17] BenTheElder commented on #1331
/assign

[2020-02-13 19:18] BenTheElder commented on #1331
Can you define what "kubernetes" is when not KIND? KIND is also kubernetes :+)
It might be containerd vs docker as the node runtime, or something with KIND ...

will investigate O(soon)

[2020-02-13 19:19] michaelbannister commented on #1331
In my case I tested this against the Kubernetes installed by Docker Desktop on macOS. I might be able to try it on GKE, will get back to you…

[2020-02-13 19:22] BenTheElder opened #1332 "JSON6902 patches should allow matching on group when version is not specified"
**What would you like to be added**:

the internal patch runtime should handle group / version matching so that GK can be specified without full GVK (Group, Version, Kind).

basically we want to allow not specfiying V (version) since versions are often largely the same but group and kind key totally different objects and we probably don't want patches applied to all objects.

**Why is this needed*

[2020-02-13 19:23] michaelbannister commented on #1331
GKE v1.14.8-gke.33 with Docker as the container runtime, when running the job defined in [job.yaml](https://github.com/michaelbannister/distroless-permissions-test/blob/master/job.yaml):

`Error: failed to start container "distroless-permissions-test": Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "chdir to cwd (\"/home/nonroot\")

[2020-02-13 19:45] BenTheElder commented on #1248
status update: @pohly filed https://github.com/kubernetes/test-infra/pull/16278, which is now deployed

we discussed in slack and confirmed on a prow build node that /dev/loopN are block now. :crossed_fingers:

[2020-02-13 19:52] BenTheElder commented on #1331
repro job.yaml working in kind locally on my linux workstation.

doing some follow up on block device testing issues plauging k8s CI (hopefully fixed now, and they don't work at all in other local clusters .. :upside_down_face: ) ref: https://github.com/kubernetes-sigs/kind/issues/1248 then back to this one ...

I see some upstream bugs related to this but they appear to be fixed before 1.15

[2020-02-13 19:55] michaelbannister commented on #1331
Sorry, just to be sure: when you say working - you mean it's refusing to start the container in the way I described? Or that it _is_ running the container in kind?

[2020-02-13 19:55] michaelbannister commented on #1331
Feels like it could be something to do with Linux capabilities? (which I barely understand TBH)

[2020-02-13 19:57] BenTheElder commented on #1331
er it _is_ creating the container and the job exits success with `kubectl apply -f https://raw.githubusercontent.com/michaelbannister/distroless-permissions-test/master/job.yaml`

[2020-02-13 20:03] pohly opened #1333 "clean up orphaned loop devices: use unique kubelet path"
When a container running under KIND binds a file to a loop device and then is terminated, the file remains bound even when removing the entire KIND cluster. This is a problem in particular for Prow because those leaked loop devices and the associated resources may accumulate over time.

There's no good fix because it's impossible to look at a bound loop device and determine whether it is still nee

[2020-02-13 20:23] michaelbannister commented on #1331
OK, but if you run the same job on GKE it will fail to run with the error I've shown. Ditto if you just ask Docker to run it as a different user: `docker run --rm -it -u 1337:1337 michaelbannister/distroless-permissions-test`.
This discrepancy doesn't look right, which is why I've raised the issue.

However, Kind's behaviour changes if you drop all capabilities, as in [job-drop-caps.yaml](https://

[2020-02-13 20:28] BenTheElder commented on #1331
Right, I'm saying that the bug is confirmed 🙃

On Thu, Feb 13, 2020, 12:23 Michael Bannister <notifications@github.com>
wrote:

[2020-02-13 20:30] BenTheElder commented on #1331
Or rather, that it's locally reproducible for me, which should make
debugging easier.

On Thu, Feb 13, 2020, 12:28 Benjamin Elder <bentheelder@google.com> wrote:

[2020-02-13 22:06] BenTheElder commented on #1331
on GKE with a COS containerd 1.13.12-gke.25 node pool `kubectl apply -f https://raw.githubusercontent.com/michaelbannister/distroless-permissions-test/master/job.yaml` also results in:
[code]

[2020-02-14 00:46] BenTheElder commented on #1331
looked at this with @Random-Liu a bit just now, possibly a containerd bug?

[2020-02-14 00:48] #1322 closed

[2020-02-14 01:06] BenTheElder commented on #1331
If this becomes a major issue we can work back in dockerd support for the nodes, but I think this is some subtle difference involving either a bug in containerd/containerd-cri or docker/dockershim and we should probably get it fixed upstream.

[2020-02-14 01:16] BenTheElder commented on #1248
https://github.com/kubernetes-sigs/kind/issues/1333 for more followup

[2020-02-14 01:18] BenTheElder commented on #1333
this is somewhat awkward as a knob.
today it could be accomplished with a kubeadm config patch in the kind cluster config, I'll prototype something soon.

probably in the test-infra docker-in-docker logic

[2020-02-14 01:19] #1248 closed

[2020-02-14 02:22] BenTheElder commented on #1331
per @Random-Liu appears to be a difference in default capability list (?)

[2020-02-14 08:34] pohly commented on #1333
That's fine. It's really a corner-case, so the solution doesn't have to be nice. I had looked at that briefly but it wasn't immediately obvious where that path might be changed, so an example would be good.

[2020-02-14 16:49] RainbowMango commented on #1181
Can we use kind to run conformance tests with a specific CCM(cloud controller manager)?

In that case, we need to custom some components, such as:
- set kube-apiserver/kubelet/kube-controller-manager with flags `--cloud-provider=external`
- start an extra CCM. (This can be done by running the CCM container in the kind cluster, right?)

[2020-02-14 16:55] BenTheElder commented on #1331
Fix pending in https://github.com/containerd/cri/pull/1397

We'll pull that into kind once it merges in containerd.

[2020-02-14 17:50] ewassef commented on #148
+1 lets please get this done. We use KIND as a local SDK in a multi-node cluster that has been configured to match our higher environments in terms of setup and security. The process is phenomenal until a developer restarts and the entire cluster is rendered useless.
I understand this use case isn't exactly the one KIND is designed for, but shifting-left with such low overhead afforded to us with

[2020-02-14 19:27] BenTheElder commented on #148
Hi, I am working on this but I've had to spend the past week oncall for the Kubernetes test-infra and handling a few high impact Kubernetes testing bugs #1248 #1331

Please use github's native +1 mechanism to +1 so we can use the issue for discussion of the solution:

![image](https://user-images.githubusercontent.com/917931/74561126-dd60ab00-4f1c-11ea-876d-8149683c4365.png)

[2020-02-17 08:01] ismferd opened #1335 "Creating a new cluster with custom config"
Hi,

I'm facing with:
[code]
I'm not sure if that is an issue or a misconfiguration, I'm trying to run kind executing `kind create cluster --config kind.yaml` and the config file contains:
[code]
am I doing something wrong?

[2020-02-17 08:38] tao12345666333 commented on #1335
please show me your `kind --version`

[2020-02-17 09:20] ismferd commented on #1335
sure!
[code]

[2020-02-17 09:41] cypherfox commented on #1077
@BenTheElder Is there a commonly used workaround for situations exactly like the one @zystem or @josh-ferrell mention (https://github.com/kubernetes/minikube/issues/3772#issuecomment-494055466).

Because running an automated integration test makes external DNS configs hard and I do not know the IP addr of the service either (its a KinD cluster that gets recreated for each test).

[2020-02-17 09:42] ismferd commented on #1335
ok, Upgrading version to 0.7.0 is woking as I expected.

Thanks @tao12345666333

[2020-02-17 09:45] #1335 closed

[2020-02-17 09:48] tao12345666333 commented on #1335
For detail:

`kind.x-k8s.io/v1alpha4` is only available since v0.6+

v0.5 uses another version of the configuration.

[2020-02-17 13:19] antoinetran opened #1336 "Cannot run systemd containers because of cgroup read-only"
**What happened**:
When deploying a container with systemd, so at least with this volume mount "-v /sys/fs/cgroup:/sys/fs/cgroup:ro" (needed by systemd see https://hub.docker.com/r/centos/systemd), the kind cluster gives this error:

[code]

**What you expected to happen**:
The kubectl create deployment works.

**How to reproduce it (as minimally and precisely as possible)**:
1.
With a yaml descri

[2020-02-17 13:46] antoinetran commented on #1336
I can add that I tried to add extraMounts in kind cluster configuration but it did not change anything:

[code]

[2020-02-17 14:19] nabadger commented on #1288
Our latest error (looks different from the previous examples posted)

[code]

[2020-02-17 15:49] 2opremio commented on #1288
That's identical to the original error I reported in this issue.

[2020-02-17 15:56] neolit123 commented on #1288
are there errors in the docker daemon logs?

[2020-02-17 16:17] antoinetran commented on #1336
Dear @BenTheElder , pardon my interpellation, but I can see you manipulate mount and systemd pretty well in kind code. I believe this error is because kind make mount propagation as rprivate about /sys/fs/cgroup in kind workers? Do you agree?
[code]

I also tried to mount /sys or /sys/fs/cgroup/systemd instead of /sys/fs/cgroup, in that case the containers works better, but then I have a systemd e

[2020-02-17 17:54] BenTheElder commented on #1077
I don't think it'd advisable to have the API server call internal services, but we might find luck asking in Kubernetes/Kubernetes instead of kind, which is not special in this regard.

[2020-02-18 11:27] RafalSkolasinski opened #1338 "spinning up kind cluster directly with docker run ..."
First of all, `kind` is awesome!

I also believe that simple `kind create cluster` works perfectly in 99% of use cases.

I wonder though, it is possible to spin up `kind` cluster with something like
[code]
and if this is not available out of the box how much of work it would be to modify `kindest/node` image to make it possible? Any pointers or rough list of required steps would be very helpful!

[2020-02-18 12:33] hiddeco commented on #1288
We switched to a non-parallel approach for the Helm operator, and this has been mostly successful to get rid of most of the failures during bootstrap.

Errors like the one original one mentioned in the issue [do however still happen at times](https://circleci.com/gh/fluxcd/helm-operator/904).

[2020-02-18 13:37] antoinetran commented on #1336
Ok, here is a workaround: just add SYS_ADMIN and remove mount to /sys/fs/cgroup. But this is does not follow the best-practice of least privilege.
[code]

I also tried micro-k8s and k3s. Same issue. Also, I tried to mount only /sys or only /sys/fs.

The thing is, I can mount properly in docker, with /sys/fs/cgroup. But I guess there is a small difference between the containerd used in docker and t

[2020-02-18 18:43] BenTheElder commented on #1338
This is not supported, the complexity isn't currently worth it to us as we already need to orchestrate multi node clusters which is simpler with host logic (though perhaps feasible without) besides the kind config handling for complex scenarios.

We ask that you use one small binary with a simple interface to give us more flexibility in implementing the bringup.

It would be possible to wrap this

[2020-02-18 18:45] BenTheElder commented on #1336
Hi, before digging into this too much further your first link actually shows using this with a ro mount (in the docs for the image) ...?

[2020-02-18 18:46] antoinetran commented on #1336
Hi, sorry, this is a mistype. I meant ro. I will edit it now. I meant
"-v /sys/fs/cgroup:/sys/fs/cgroup:ro"
instead of
"-v /sys/fs/cgroup:/sys/fs/cgroup:rw"

[2020-02-18 19:13] kind-hybrid commented on #1331
Hi @BenTheElder, when I tried to install my application on KIND cluster, application doesn't come up because it's failing with permission denied on '/opt' directory. Application uses the non-root user.
Not sure, the issue which I am running into is related to this ticket.

Is your pending fix will address this issue?Any suggestion on this. please, let me know

[2020-02-18 19:24] BenTheElder commented on #1331
Hi, can you tell me more about your application setup?

On most hosts `/opt` is owned by root, I would not expect a non-root user to be able to write to a system directory like this, in which case the issue is with your application deployment, not kind/containerd/....

For example on my workstation:
[code]

[2020-02-18 19:24] BenTheElder commented on #1331
(also please use a new support type ticket for this, thanks!)

[2020-02-18 19:34] RafalSkolasinski commented on #1338
@BenTheElder Thanks for the reply. It is just that sometimes it may be handy to have image with cluster already ready to go with default configuration.

I gonna experiment with some dirty hacks of doing `docker commit ...` on already provisioned cluster :sweat_smile:

Will let you know if I came up with anything useful...

[2020-02-18 20:11] ivorywang opened #1339 "Is KinD ingress hostname addressable inside the cluster"
I am currently trying to debug an issue I am facing with some of my pods while running KinD. Essentially what it boils down to is that I need 2 pods in my KinD cluster to be able to communicate on the ingress hostname I give to the cluster. Right now I can verify that my ingress is working because my webapp is accessible on the hostname (after making a change to my local machine's etc/hosts). I al

[2020-02-18 20:23] benmoss opened #1340 "Using flannel as CNI no longer works"
**What happened**:
After installing Flannel as my CNI, pods fail to start with the error `Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "40a61cb16293c414497736143f53da331ef0dca2236e223f3057bd930d51c1c6": failed to find plugin "flannel" in path [/opt/cni/bin]`

**What you expected to happen**:
Pods work out of the box as before!

**How to reprodu

[2020-02-18 20:24] BenTheElder commented on #1340
this is working as intended, your deployment manifests for flannel should install the requisite CNI binaries at the correct version instead of assuming the host has them

most CNI install daemonsets include a step that copies these binaries out from a container image.

[2020-02-18 20:26] BenTheElder commented on #1340
`disableDefaultCNI` should be more clearly marked as a "here be dragons" option, we don't test any external CNI currently, at the moment that's a bit out of scope, but the escape hatch is provided to make it easier for power users to do this anyhow.

regardless of that though, the flannel manifests should really be handling this, as weave, calico, etc. do. even if these binaries are present they m

[2020-02-18 20:30] benmoss commented on #1340
Yeah, it seems like flannel is the odd one out that has its CNI plugin included in the `containernetworking/plugins` repo, and so doesn't bother to install it in its deployment manifest. I'll see if I can fix it upstream.

[2020-02-18 20:33] BenTheElder commented on #1340
Thanks! I forgot to add, more importantly this is going to break on other hosts, when https://github.com/kubernetes-sigs/kind/commit/281a20c36c91da3347bc514512df10229d053c50 was filed we'd just had an upstream discussion in kubernetes about how the plugins are re-packaged in the kubernetes debs / RPMs...

The conclusion of the discussion was a decision to stop packaging them in the future in favor

[2020-02-18 20:38] benmoss commented on #1340
This looks like a reasonable start to the paper trail you seem to be talking about https://groups.google.com/forum/#!topic/kubernetes-sig-release/yhf7hAqJEN0/discussion :smile_cat:

[2020-02-18 20:41] BenTheElder commented on #1340
yes, that!
had to run to a meeting and didn't have that handy 😅

there was also some discussion in slack I think, but that's the
official paper trail.

On Tue, Feb 18, 2020 at 12:38 PM Ben Moss <notifications@github.com> wrote:

[2020-02-18 20:45] BenTheElder commented on #1336
bit overloaded but going to circle back to this myself unless someone beats me 🙃 , admittedly have not read it all yet

[2020-02-18 20:47] BenTheElder commented on #1326
might need to at least document this in known issues. I'm out of bandwidth right now

[2020-02-18 20:56] amwat commented on #1339
Ingress is used only to enable access to the cluster services from outside the cluster.
https://kubernetes.io/docs/concepts/services-networking/ingress/#what-is-ingress

Inside the cluster you should be able to use the service FQDN directly https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#services

If you want the same hostname to resolve to the service ip, you might need t

[2020-02-18 21:04] aojea commented on #1326
I'll take care of this 👍

[2020-02-18 21:04] ivorywang commented on #1339
@amwat Thanks for the comment man appreciate the clarification! Unfortunately I cannot use option 2 because the inter-pod communication needs to also be accessible to the user outside the cluster. I am going to have a look at option 3 you have provided, thanks again!

[2020-02-19 00:29] stevenpeh commented on #1010
This works for me.  Additional step I had to add is to restart the kind-control-plane container, i.e. docker stop and then docker start.

[2020-02-19 00:32] BenTheElder commented on #1010
i would probably restart containerd instead of the entire node, `docker
exec kind-control-plane systemctl restart containerd` or something like
that.

On Tue, Feb 18, 2020 at 4:29 PM stevenpeh <notifications@github.com> wrote:

[2020-02-19 14:14] aburgos02 commented on #1339
I am seeing the same behavior in my deployment. I have pod that is trying to resolve the hostname of the KinD container and is unable to do so. Pinging the KinD container IP address from within the pod works but no luck with the hostname. Are there any suggestions on how I can make that hostname routable from within the pod without having to add an entry in the pod;s /etc/hosts file?

[2020-02-20 03:12] BenTheElder opened #1342 "gsutil issues in k/k CI"
https://github.com/kubernetes/kubernetes/pull/88353#issuecomment-588573240

Filing so I don't forget to come back to this later. Will add details later
 fYI @liggitt

[2020-02-20 05:23] darshanparab opened #1343 "zsh: command not found: kubectl"
**What happened**:
kubectl throws command not found error post cluster creation using kind create cluster

**What you expected to happen**:
Should be able to run kubectl

**How to reproduce it (as minimally and precisely as possible)**:
Download and add kind to path as mentioned below
[code]
**Anything else we need to know?**:
This is how I created the cluster
[code]
config file:
[code]

**Environ

[2020-02-20 05:28] BenTheElder commented on #1343
ah, you're going to need to install `kubectl`.

https://kubernetes.io/docs/tasks/tools/install-kubectl/

[2020-02-20 05:59] BenTheElder commented on #1342
/assign
/priority critical-urgent

[2020-02-20 06:03] darshanparab commented on #1343
Thanks a lot @BenTheElder for pointing that out. That was silly of me. I thought, like minikube, this will also make kubectl available.

[2020-02-20 06:05] BenTheElder commented on #1343
imho it's bad that our documentation assumes kubectl is available though, we should update it with a reference to this.

[2020-02-20 07:37] BenTheElder commented on #1342
<img width="1588" alt="Screen Shot 2020-02-19 at 11 37 04 PM" src="https://user-images.githubusercontent.com/917931/74911111-cda7f300-5370-11ea-8bec-4561520cd611.png">
<img width="1557" alt="Screen Shot 2020-02-19 at 11 37 23 PM" src="https://user-images.githubusercontent.com/917931/74911115-cf71b680-5370-11ea-88e6-3bc96f70241f.png">
workload identity was turned on around then
https://kubernetes.s

[2020-02-20 07:50] BenTheElder commented on #1342
the `-P` thing is an unrelated rabbit hole trying to reproduce locally, it worked fine in CI. pretty sure https://github.com/kubernetes/test-infra/pull/16385 will fix by avoiding any gcloud tools trying to do magic auth for a public resource.

[2020-02-20 08:07] BenTheElder commented on #1342
https://github.com/kubernetes/kubernetes/pull/46662#issuecomment-588728250 testing here.

[2020-02-20 08:38] amwat commented on #1339
@aburgos02 I think your situation is a bit different. IIUC you want to be able to resolve the hostname of the docker container "node" itself from inside the cluster.

Might be useful to know the exact use case you are trying to achieve with this?

IIRC the docker hostname is just an entry in `/etc/hosts` inside the "node" container, and the pods inside the cluster will not inherit it by default
ht

[2020-02-20 08:52] Illyrix opened #1344 "How to replace docker images of kube-scheduler(apiserver etc.) when creating cluster"
I'm working on an ARM64 machine and has built node-image for ARM64 successfully.
I've got error while executing `kind create cluster --image kindest/node:latest --retain`
<img width="1526" alt="QQ20200220-164415@2x" src="https://user-images.githubusercontent.com/12008675/74916515-f5df3280-5400-11ea-8817-a55eddefea65.png">

There were some unexpected exited containers (after failed to create cluste

[2020-02-20 08:57] BenTheElder commented on #1344
Are you sure you built for arm?

There should not be the architecture in the image name.

On Thu, Feb 20, 2020, 00:52 Illyrix <notifications@github.com> wrote:

[2020-02-20 09:12] Illyrix commented on #1344
If i re-tag "pause" `docker tag gcr.io/google_containers/pause-arm64:3.2 registry.cn-hangzhou.aliyuncs.com/google_containers/pause:3.1`, "pause" works well
<img width="1527" alt="pause" src="https://user-images.githubusercontent.com/12008675/74917816-15775a80-5403-11ea-9bc7-b315a49de1f4.png">
But I think it is not a good solution. "kube-scheduler"(and others) are distinguished by hash-tag not read

[2020-02-20 09:39] BenTheElder commented on #1342
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/46662/pull-kubernetes-e2e-kind/1230412976750596097

[2020-02-20 09:39] #1342 closed

[2020-02-20 09:40] BenTheElder commented on #1342
An alternative solution probably would've been explicitly mounting a service account, but the whole thing is confounding. The errors don't make sense and the resources are public read 🤷‍♂️

[2020-02-20 13:19] zhouqiang-cl commented on #1344
@BenTheElder May I ask can kind support arm64 now? seems it is still in progress

[2020-02-20 16:02] aojea commented on #1344
IIRC Kind is building for ARM ... another thing is that we don't have CI so it can not be supported because there is no way to test it
https://github.com/kubernetes-sigs/kind/issues/188

Can you try building kind and the node images locally in an ARM architecture?

[2020-02-21 01:32] BenTheElder commented on #1344
arm is nominally supported BUT you must build your own images, we are not trying to do a manifest image of the node or base images currently and we don't have upstream CI.

there's been pretty minimal demand, and non-trivial expense to running this.

you need to:
- build a base image
- use this base image to build a node image
- use this node image when running create cluster

[2020-02-21 01:32] BenTheElder commented on #1344
we do build the kind binary for multiple platforms but pre-built node & base image are amd64. the haproxy and kindnetd images are multi-arch.

[2020-02-21 01:33] BenTheElder commented on #1344
the `pause:3.1` image is expected to be a manifest list, and on the current platform it should match.

how are you building this image? I can't tell from the log screenshots.
and does that pause:3.1 match the upstream registry?

huh? we definitely load them using a tag and so does kubeadm ...

[2020-02-21 01:38] BenTheElder commented on #1344
kube-scheduler etc. should be from the locally built images during `kind build node-image`, which invokes the upstream kubernetes build process. they should be for the current architecture.

only a few images like etcd are pulled instead of built, and those are multi-arch pre-built upstream images.

[2020-02-21 05:23] zhlhahaha opened #1347 "Getting Kind works on ARM64"
We are trying to make kind works on ARM64 platform.
I summarize some task may need to do. Looking forward your suggestion
Tasks:
* [ ] 1 Ensure all codes can be built successfully on Arm64.
* [ ] 2 Enable kind cross build base images and node images for ARM platform on x86.
* [ ] 3 Get kind CI works on ARM64 platform
* [ ] 4 e2e-kind passed on Arm

[2020-02-21 05:26] zhlhahaha commented on #1347
@BenTheElder

[2020-02-21 05:50] BenTheElder commented on #1347
There are existing issues for this that should be looked at.

1) kind can be build for arm64, we publish binaries already, just not the node / base image, for which we only pre-publish a small set of images at the moment.

2) This is not as simple as it sounds. The node image build is not a normal image build, and I'm not sure this is actually something we're interested in at the moment.

3) Our C

[2020-02-21 05:54] BenTheElder commented on #166
Hi, sorry I missed this comment.

KIND should work fine in that most of what we publish and all of the dependencies work on arm BUT you must build your own base + node image..

These are somewhat expensive and complex builds and the demand is low so it has not been worth making our build even more complex and slow and reducing our velocity at the moment.

Interested parties can build their own, wh

[2020-02-21 05:55] BenTheElder commented on #1347
please see also https://github.com/kubernetes-sigs/kind/issues/166 https://github.com/kubernetes-sigs/kind/issues/188 ...

[2020-02-21 06:00] BenTheElder commented on #1347
kind is great in kubernetes CI because we can run it natively in the CI. Given that we need external infra to run ARM CI anyhow, I'm not really sure kind is an improvement over just `kubeadm init` on whatever external ARM box we have anyhow...?

even for development clusters, see https://github.com/kubernetes/minikube/issues/955

[2020-02-21 06:01] BenTheElder commented on #1347
I do want KIND to work on ARM long term, but from what I've gathered the goal here is testing kubernetes on ARM upstream for "official support" ...? In which case I'm not positive this is the most efficient work stream.

[2020-02-21 06:04] zhlhahaha commented on #1347
The issue is more complex than I thought, but we can make it step by step.
Thanks for your suggestion and informative comments.
I will read though your comments and related link first.

[2020-02-21 06:19] lubinszARM commented on #1347
From my perspective, I think the enablement of Prow on Arm64 is more helpful to our goal here is  testing k8s on ARM for "official support".
We have tested the local Prow on x86. And I think the enablement of Prow on Arm64 is our focus for the our next job.
What's your opionion, @BenTheElder

[2020-02-21 06:22] BenTheElder commented on #1347
Prow itself does not need to be on ARM. Prow schedules workloads onto other clusters, but those clusters are kubernetes, and the officially maintained ones are running on GKE because we have resources there and don't have much staffing to maintain a cluster.

Prow can exec a job that sshes to an ARM box or similar without any changes today.

The issue continues to be that someone _maintains_ the t

[2020-02-21 06:24] BenTheElder commented on #1347
_Most_ of our test clusters to this day are external clusters merely created from the CI jobs by ssh, cloud commands, etc. with no real relation to the CI itself.

Those resources can be arbitrary, except that someone must own and maintain them. The same team currently provides a pool of GCP projects on which GCE based cluster testing is performed, but the community also has some AWS resources ava

[2020-02-21 06:25] BenTheElder commented on #1347
I would recommend the infra WG as the right place to discuss what infra can be in place https://github.com/kubernetes/community/tree/master/wg-k8s-infra

[2020-02-21 06:29] lubinszARM commented on #1347
@BenTheElder Thank you very much.
I see.
I will setup a local hybrid cluster to check Prow.

[2020-02-21 06:34] BenTheElder commented on #1324
I ran something like this on my personal windows machine with go1.13:
[code]

and it prints false ... :|

[2020-02-21 06:39] BenTheElder commented on #1324
_is_ `/c/temp` an absolute path? why doesn't it have a drive letter ...? is this a path inside the docker desktop VM?

[2020-02-21 07:00] lubinszARM commented on #1347
Hi @BenTheElder
At least, we should add arm support to such images, like:
gcr.io/k8s-testimages/kubekins-e2e
gcr.io/k8s-testimages/bootstrap
...

So that, the jobs which were scheduled by Prow can work well on the specific Arm64 nodes.

Is that right?

Thanks.

[2020-02-21 07:06] BenTheElder commented on #154
In v0.8.0 we will be selecting podman or docker backends automatically. The support is a bit rough (needs rootful, which makes some things clunky) but mostly functional.

There will be more details in the release announcement, probably relatively soon. I'd like to fix up a few smaller things in 0.8

[2020-02-21 07:06] #154 closed

[2020-02-21 11:59] zhouqiang-cl commented on #1344
thank you @BenTheElder . we will try to do it

[2020-02-21 15:54] strican opened #1350 "Failed to get IPs for node: kind-control-plane: file should only be one line, got 2 lines"
**What happened**: I'm seeing the same issue as described in #1149. Here is what I'm seeing:

[code]

**What you expected to happen**: The cluster starts up normally.

**How to reproduce it (as minimally and precisely as possible)**: I haven't been able to get it to repro reliably, but once it happens, it's stuck that way.

**Anything else we need to know?**: The solution proposed in #1149 of blow

[2020-02-21 17:26] BenTheElder commented on #1350
Hi, in https://github.com/kubernetes-sigs/kind/issues/1149 the issue was that docker was an alias `sudo docker`. I don't think anyone actually proposed blowing away .docker though the author did do this.

Can you share your docker info / docker config?

/assign

[2020-02-21 17:27] BenTheElder commented on #1350
Er, also noting that v0.6.0 is not the latest, any bugfixes we may have already made would be in v0.7.0.

What does `docker network inspect bridge` give you?

[2020-02-21 18:11] avoidik commented on #1324
It is special POSIX path mapping only available in Windows, the main idea is to provide support both Windows-style paths, and Unix-style paths. In reality ugly hack with many edge-cases, and many cross-platform tools struggling implementing proper compatibility with it. This `/c/temp` will be converted to usual `c:\temp` path under the hood, which is in turn will be understandable by Windows API.

[2020-02-21 19:50] strican commented on #1350
Thanks for the reply. I noticed that we weren't on latest so I'm currently trying on v0.7.0. Time will tell if that solves this since there's no consistent repro.

My agent doesn't have a `docker config`, at least when I run `docker config ls` I get

[code]

Not sure if that helps.

[2020-02-21 20:04] BenTheElder commented on #1350
Er sorry, the docker daemon config is in a json file on the host, the
docker config command is actually confusingly unrelated

On Fri, Feb 21, 2020, 11:50 Steven Tricanowicz <notifications@github.com>
wrote:

[2020-02-21 20:20] strican commented on #1350
It appears we don't have one, so we're just using the default. Or at least there's none at `/etc/docker/daemon.json`.

[2020-02-21 20:52] BenTheElder commented on #1350
That's surprising,

So this error means that for some reason when we ask docker to inspect the
container we created with a format string that lists the IPs we got more
output that we expected...

That shouldn't happen 🤔

On Fri, Feb 21, 2020, 12:20 Steven Tricanowicz <notifications@github.com>
wrote:

[2020-02-21 21:26] BenTheElder commented on #1309
going to tweak this behavior, regardless of restart support (which we are intending to land anyhow) this is sub-optimal.
/assign

[2020-02-21 21:28] BenTheElder commented on #1309
/lifecycle active

[2020-02-21 21:53] BenTheElder commented on #1347
possibly, I'm not sure how useful implementing integration is tbh versus just e2e, and for e2e as I said we don't really need to run prow on it, prow can just create a cluster on it.

in that regard I don't think testing another architecture would be different versus testing a cloud provider integration like one of the storage drivers, or the cluster API providers.

[2020-02-21 21:54] #1324 closed

[2020-02-21 22:02] BenTheElder commented on #1324
this should be handled in HEAD now by just also considering posix style absolute paths always.
I have some thoughts on a more elaborate solution, but this should sanely resolve this particular issue

[2020-02-21 22:18] BenTheElder commented on #1173
this caused problems with restart, because docker and podman will both actually pick a random port themselves _everytime the container is run_ (i.e. again on reboot).

https://github.com/kubernetes-sigs/kind/issues/148

I think we could allow a special value for "pick a random port in the node backend" (-1?) but for multi-control-plane-clusters the's also internally random ports (on each control p

[2020-02-21 22:27] BenTheElder commented on #1173
er https://github.com/kubernetes-sigs/kind/issues/1309

[2020-02-21 22:46] BenTheElder commented on #1173
https://github.com/kubernetes-sigs/kind/pull/1353 will revert to picking the port in kind unless `-1` is configured (to still allow remote docker users to let docker pick the port then)

[2020-02-21 22:47] BenTheElder commented on #1173
that's only a partial solution, I think we can do better, but we're pretty limited in fixing host reboot if we have the ports randomized on every start by default.

[2020-02-21 22:47] BenTheElder commented on #1309
https://github.com/kubernetes-sigs/kind/pull/1353 will resolve this

[2020-02-21 22:47] BenTheElder commented on #148
first small required fix https://github.com/kubernetes-sigs/kind/pull/1353

[2020-02-22 05:21] boddumanohar commented on #1343
@bentheelder Created an PR for this.

[2020-02-22 12:30] aojea commented on #1350
@BenTheElder should we be able to see the `docker inspect` error with more verbosity?
https://github.com/kubernetes-sigs/kind/blob/5cf3257f5bb5fe11828b4f310f8882f349753234/pkg/cluster/internal/providers/docker/node.go#L54-L64

@strican can you add a `-v7` flag per example to `kind` in your CI so the next time we have more data, I'm curious about those extra-lines of the command
`docker inspect -f

[2020-02-23 16:47] spsarolkar opened #1356 "404 curling ingress with letsencrypt certs"
I am trying to configure my service with https using Lets encrypt certificates. I already got everything working fine without https and it works, but once I enable ingress with https I get 404 error

I configured the ingress controller

[code]

I also configure the services using yaml deployment files

[code]

I also configured the certificateIssuer and Ingress resource using below configuration

[2020-02-23 17:57] BenTheElder commented on #1356
What exactly are you trying to accomplish here, as a broader goal?

First of all, KIND is for *local test clusters* NOT for creating production serving workloads in the cloud exposed to the internet (!). If you want to do this on GCP I _highly_ suggest you consider GKE or one of the various projects from SIG cluster lifecycle aimed at creating production clusters.

Now to debug this anyhow:

As fa

[2020-02-23 18:03] BenTheElder commented on #1350
@aojea it's NOT a docker inspect error in that the command did succeed and exit 0. The output is just unexpected. There shouldn't be more lines.

[2020-02-23 18:04] BenTheElder commented on #1350
More specifically, we pass a format to docker that includes no newlines, so multiple lines should not be possible under normal circumstances.

[2020-02-23 18:18] aledbf commented on #1356
Please check the ingress controller pod logs. The 404 seems to be returned by the ingress controller (unless fortune-teller is behind another nginx)

[2020-02-24 04:28] boddumanohar commented on #1343
[code]
I installed kubectl and kind using instruction in documentation, I still get this error.

[2020-02-24 07:48] aojea commented on #1339
For completeness, @rpkatz just tweeted an example on how to use hostAliases
https://twitter.com/rpkatz/status/1231727728539377664?s=19

[2020-02-24 18:22] #1343 closed

[2020-02-24 20:22] strican commented on #1350
@aojea I've reverted back to v0.6.0 and added the `v7` flag and have been running builds all day. I haven't hit the issue yet and I don't think we've hit it since updating to v0.7.0. Unfortunately this might be a case of "No Repro", but I'll keep trying and let you know if I hit anything. Thanks all for jumping on this.

[2020-02-25 02:08] qibobo opened #1359 "can not create more than 1 kind cluster in a mac machine"
I tried to create 2 kind clusters in my mac, but only the 1st can success, the 2nd is always failed.
The error message is :
[code]
And my local enviroment:

[code]

[2020-02-25 02:14] BenTheElder commented on #1359
are you using the default settings?
if so you need to increase the allocation to support multiple clusters
you are probably out of disk or memory, docker doesn't surface this very well

https://kind.sigs.k8s.io/docs/user/quick-start/#settings-for-docker-desktop

[2020-02-25 02:15] BenTheElder commented on #1359
use `kind create cluster --name qiye2 -v 1` for more debug info.

[2020-02-25 02:20] qibobo commented on #1359
@BenTheElder
Thank you. And you are probably right, the error shows it is lack of space. Any idea how can I fix it?

[code]

[2020-02-25 02:24] BenTheElder commented on #1359
you can either increase the disk space allocated in the docker for mac settings or do something like a `docker system prune`

[2020-02-25 02:32] BenTheElder commented on #1359
preferences > resources > advanced. the "disk image size" setting.
this issue happens when the docker for mac VM is out of space, usually caused by too many old images / containers taking up space.

[2020-02-25 05:58] qibobo commented on #1359
@BenTheElder
Thank you, Ben. It is fixed.

[2020-02-25 05:58] #1359 closed

[2020-02-25 08:40] BenTheElder commented on #1359
great!

[2020-02-25 10:58] aojea commented on #1311
/close
Thanks for the feedback

[2020-02-25 10:58] #1311 closed

[2020-02-25 15:32] spsarolkar commented on #1356
@aledbf you are right ingress controller has below log trace printed

45.124.48.41 - - [25/Feb/2020:15:29:19 +0000] "GET / HTTP/2.0" 404 174 "-" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36" 410 0.000 [upstream-default-backend] [] 127.0.0.1:8181 185 0.000 404 cea85b70841f359ac42eb3a16f0a2797

But why does it fallback on default backend

[2020-02-25 15:36] aledbf commented on #1356
Check the ingress controller pod log. You should see the reason why the `fortune-teller-service` is not being used. Check the service name and ports.

[2020-02-25 15:48] spsarolkar commented on #1356
Thanks a lot @aledbf , I finally got it working with below yaml configuration, as a compliment you can know your fortune from my free fortune teller service
https://gcp-kube-demo.sunilsarolkar.com ;).  All communication is now encrypted using SSL certificates :)

[code]

But I wonder why it didn't work with earlier path configuration?

[2020-02-25 17:13] antoinetran opened #1361 "Cannot apply node label to workers"
**What happened**:
When I set a node label in the configuration cluster file for Kind, I do not see the label after deployment:
[code]
does not show the label.

**What you expected to happen**:
The command beyond shows the label.

**How to reproduce it (as minimally and precisely as possible)**:

When applying this kind config.yaml:
[code]
then the cluster is created but without the label.

**Anyt

[2020-02-25 17:39] BenTheElder commented on #1361
/assign

[2020-02-25 17:41] BenTheElder commented on #1361
So kubeadm InitConfiguration does not apply to workers in kubeadm, only the first control plane.

The example in ingress is only meant to apply to the control plane node, so it is different.

If you use JoinConfiguration it will work

[2020-02-25 17:42] BenTheElder commented on #1361
I don't recommend using 3 control planes right now either unless you are developing Kubernetes itself. It's unnecessarily expensive.

[2020-02-25 17:44] BenTheElder commented on #1361
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

Sadly there is no hosted kubeadm documentation for older releases, if you go far enough back in Kubernetes version you'll have to use a different patch as well.

I intend to move the most common patch targets to high level options in KIND that cover this. node labels is definitely one of them.

[2020-02-25 18:12] antoinetran commented on #1361
Thank you @BenTheElder .
It is working now! I created a branch that documents this:
https://github.com/kubernetes-sigs/kind/compare/master...antoinetran:patch-1
Github has some trouble for pull request submit, I will redo that later.

[2020-02-25 20:53] quentin9696 commented on #303
Hello,

I read the thread, and apply all you recommendations. I added the cluster deletion on my kind docker image.

Just to be sure, and add an other protection, (for eventual `kill -9`) do you have a `/sys/fs/cgroup` clean up script ? Not sure if it's technically possible, I guess no, but maybe I miss something.

[2020-02-25 20:57] BenTheElder commented on #303
we do not, we do not expect a kill -9 to occur ... we certainly do not do so manually, and that's not how kubernetes terminates pods normally AFAIK.

if it did though, our host machines are regularly replaced (k8s upgrades and node auto repair in GKE involve replacing the node VMs entirely)

[2020-02-25 20:58] BenTheElder commented on #303
however, this problem is one of the reasons I do NOT recommend doing this if you can avoid it. on a host like say circleCI, google cloud build, travis, ... you will not have this problem as the underlying VM only exists for the test invocation.

[2020-02-25 21:29] quentin9696 commented on #303
For some reasons, docker can send a SIGKILL after the grace period.

I run kind on a CI (Jenkins) who run on GKE. It's not a big issue to lost jenkins while we wait the new pod on an other worker.

Thanks for your reply

[2020-02-25 22:22] edmondsw commented on #166
I'm very interested in this for ppc64le and have colleagues who want to use this for s390x. Based on the latest comment here, we'll see if we can build the images ourselves, but it would be awesome if we could just pull them from docker hub in the future, like you can for amd64.

@BenTheElder earlier you wrote:

so I just wanted to let you know... Travis does actually support native builds for ppc

[2020-02-25 22:59] BenTheElder commented on #166
unfortunately currently kubernetes CI is not on something like travis and there is significant friction to using it: https://github.com/kubernetes/test-infra/tree/master/prow

right now we're not pushing a lot of images to docker hub cross build or otherwise because we still have to round out some things with testing kubernetes itself for which this is not related, but I'd be willing to look at st

[2020-02-26 04:03] #1356 closed

[2020-02-26 05:07] BenTheElder commented on #303
To be clearer: we will have cleaned up before the grace period normally.
We trap SIGTERM with cleanup.

On Tue, Feb 25, 2020, 13:29 quentin9696 <notifications@github.com> wrote:

[2020-02-26 16:16] howardjohn commented on #303
We moved our cgroup mount to read only a few months back and haven't had any issues. It removed any risk of things not cleaning up properly (I think? We still clean up and now our nodes restart often for other reasons, so maybe it doesn't and I just don't notice)

[2020-02-26 19:26] chuckha opened #1364 "Add a CommandContext to the exec package"
The standard library exposes the `exec.CommandContext` function that takes a context. It would be great if kind's exec library also exposed the context version of the exec.Command function.

This could be an additional function added to `LocalCmder` and either a new interface or a new function added to the `Cmder` interface.

I would be happy to open a PR for this if y'all are interested in adding

[2020-02-27 00:31] morningspace opened #1365 "kind failed to create cluster on RHEL 8.0"
**What happened**:

When I use kind to create cluster on a RHEL 8.0 machine, I get below error message:
[code]

**What you expected to happen**:

Cluster can be created successfully.

**Anything else we need to know?**:

I think that's related to the different behavior between Docker CLI and the one emulated by Podman. Because when I run the following command directly in terminal. I can see the ac

[2020-02-27 00:34] BenTheElder commented on #1365
there is actual podman support in HEAD, please give that a try.

[2020-02-27 00:35] BenTheElder commented on #1365
this was fixed already in https://github.com/kubernetes-sigs/kind/pull/1276

[2020-02-27 00:40] BenTheElder commented on #1365
prior to the KIND internal podman specific backend this was not supported behavior though, as we expect `docker` in your path to in fact be compatible with well docker ... we consider incompatibilites to be a podman bug.

given that these bugs do exist though, (and some non-bug outright incompatibility e.g. networking and rootless) we simply have an internal podman node backend now.

you can try t

[2020-02-27 00:40] #1365 closed

[2020-02-27 00:42] BenTheElder commented on #1365
I do not recommend putting a fake `docker` in your path, the emulation is not sufficient.

Since you do have a fake `docker`, you may also need to set the experimental option:
`export KIND_EXPERIMENTAL_PROVIDER=podman` before running `kind` so it does not select `docker` given the presence of """docker"""

[2020-02-27 02:21] BenTheElder commented on #166
tenative exploration of base image cross build. https://github.com/kubernetes-sigs/kind/pull/1366
this is really slow by comparison even on my workstation only adding amd64 and we currently have no way to verify that the images work on those architectures, so I'm not committing to it yet.

[2020-02-27 02:22] BenTheElder commented on #1347
reading these again, this is a dupe of https://github.com/kubernetes-sigs/kind/issues/166

[2020-02-27 02:22] #1347 closed

[2020-02-27 02:35] zhlhahaha commented on #166
Hi @BenTheElder  we have successfully run kind-e2e on ARM, and plane to submit the test result to testgirds. Any other help we can do to?

[2020-02-27 02:47] BenTheElder commented on #1364
Adding this to Cmder SGTM!

I personally think Context is a fairly bad API ... BUT it is what the stdlib gives us for cancellation which is definitely useful to have and we probably should not reinvent cancelling a process 🙃

[2020-02-27 02:47] BenTheElder commented on #1364
/assign @chuckha

[2020-02-27 05:23] morningspace commented on #1365
Thanks for your help. This is greatly helpful! @BenTheElder

[2020-02-27 05:24] BenTheElder commented on #1315
/priority backlog
/triage needs-information

[2020-02-27 18:21] BenTheElder commented on #1331
upstream patch is LGTM but not merged yet. still monitoring

[2020-02-27 19:09] #1364 closed

[2020-02-27 19:34] mikeroySoft opened #1369 "Add CRI-based node provider"
**What would you like to be added**:

With there being so many CRI-compatible runtimes available now, it would be great to have some choice to the runtime that KIND works with.

The proposal is to add a CRI-based provider that can leverage CRI in order to integrate with whatever CRI-compatible runtime may be available.

**Why is this needed**:

Without this, if we wanted to use a different runtime

[2020-02-27 19:35] mauilion commented on #1369
I am excited about this idea

[2020-02-27 19:45] BenTheElder commented on #1369
So fwiw we need to leverage things outside of CRI today (also podman and docker are NOT CRI compatible anyhow), maintaining those is not going anywhere, but I do think a CRI provider is a good idea, especially if we can leverage crictl so as not to pull k8s.io/kubernetes into the kind binary.

[2020-02-27 19:49] BenTheElder commented on #1369
CRI is a great promise but it really is just the API kubelet needs and effectively has two production implementations. We also want e.g. ignite support at some point.

I am also happy to support this but calling it
/priority backlog
As it's not strictly needed for our primary charter (testing kubernetes itself, some local app developer usage) but could be really cool especially for some niche usag

[2020-02-28 08:00] applike-ss opened #1373 "Kind does not save images it just built and tagged"
**What happened**:
i used devspace in combination with kind to run a temporary local kubernetes cluster within docker.
`devspace dev -b` does build docker images and tags them right away, so i assumed that devspace would be able to use those tagged images afterwards. Using minikube that worked Out of the box.

**What you expected to happen**:
Tagged images should be available to kubernetes.

**How

[2020-02-28 08:40] BenTheElder commented on #1373
This is not a bug.
kind supports multi node and multi cluster, in order to have images in the cluster they must be populated into the container runtime in the relevant nodes.

minikube does NOT have your docker images out of the box unless you use `minikube docker-env` (only works for one single node cluster) OR if you use --vm-driver=none which is roughly `kubeadm init` directly on the host.

Ple

[2020-02-28 08:40] #1373 closed

[2020-02-28 08:41] BenTheElder commented on #1373
https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

https://kind.sigs.k8s.io/docs/user/local-registry/

[2020-02-28 08:43] BenTheElder commented on #1373
I've never used devspace but it purports to support kind for what it's worth. https://github.com/devspace-cloud/devspace/blob/master/README.md#4-choose-a-kubernetes-cluster

[2020-02-28 11:29] shankernaik commented on #444
Thanks @BenTheElder

[2020-02-28 19:00] BenTheElder commented on #817
this came up again, reached out to the wonderful @rimusz for follow up 🙏

[2020-02-28 19:51] BenTheElder opened #1374 "submit conformance results"
We run lots of conformance CI but we've not been submitting results regularly, we're about to lose our certification actually!

We should:
- submit results
- plan to submit more regularly

/help

[2020-02-28 22:00] BenTheElder commented on #166
Hi, I think a great next step would be to look at the kube-cross image, bazel is looking like it will be removed upstream and the cross image is now built with community infra.

[2020-03-02 15:02] applike-ss commented on #1373
It does only make limited sense to me:
Kubernetes is able to build an image, so it should have it locally when it was build.
Can i configure kind to use my local docker daemon?

[2020-03-02 16:57] BenTheElder commented on #1373
Kubernetes does not support image building actually, the normal expectation is that images are pulled from a registry. I'm not sure what you're referring to here.

Unfortunately not, though if you are on linux and want to do this the answer is probably `kubeadm init`.

the initial design may help in understanding, there is an entire kubernetes node in each node container. this includes a container

[2020-03-02 16:59] BenTheElder commented on #1373
when we started it looked like
![image](https://user-images.githubusercontent.com/917931/75698691-00e95c80-5c64-11ea-880a-3c7732cb5941.png)

where there might be arbitrarily many node containers. it's changed a little since then but that still gives some idea of the layers involved in pulling this off. while your images are in the host docker when you `docker build`, they are not in the nested one

[2020-03-03 01:08] BenTheElder commented on #986
reviving this, rebasing on some other test changes

[2020-03-04 04:33] zhlhahaha commented on #166
Hi @BenTheElder , I saw there is a PR ([link](https://github.com/kubernetes/kubernetes/pull/85355)) of building kube-cross image for multi-arch. I will do some research on it.

[2020-03-04 04:34] BenTheElder commented on #166
FYI on https://github.com/kubernetes/kubernetes/issues/88553

On Tue, Mar 3, 2020 at 8:33 PM zhlhahaha <notifications@github.com> wrote:

[2020-03-04 05:03] BenTheElder commented on #166
https://github.com/kubernetes-sigs/kind/pull/1346 fixes image preloading when the image is not properly metada-ed as arm (many cross built images are only correct in the manifest list), we fixed this in the pause image at least.

[2020-03-04 11:00] MVJosh opened #1383 "kind create cluster fails waiting for control-plane in AWS CodeBuild"
**What happened**:
With kind `0.7.0`, `kind create cluster --wait 5m -v 1` fails after `Waiting ≤ 5m0s for control-plane = Ready` with: `WARNING: Timed out waiting for Ready`

Extending this to `--wait 10m` does not fix the issue.
Note that there is no problem with kind `0.6.1`

**What you expected to happen**:
Cluster should be ready with message `Ready after Xs`

**How to reproduce it (as minima

[2020-03-04 19:41] maplain opened #1384 "NodePort service endpoint(NodeIP+NodePort) is not supported as destination in Endpoints"
**What happened**:
Creating a Service manually without selector+ its Endpoints. If one of the endpoints in Endpoints is the NodeIP+NodePort of a service, the traffic doesn't go through.

**What you expected to happen**:
Able to use NodePort service in Endpoints.

**How to reproduce it (as minimally and precisely as possible)**:
Create two deployments, expose one with a NodePort Service.
[code]
Cre

[2020-03-04 21:47] aojea commented on #1384
/assign

[2020-03-05 03:04] BenTheElder commented on #1383
Does codebuild have a proxy?

I do not use or have access to codebuild so I'll need more environment details.

[2020-03-05 03:07] BenTheElder commented on #1383
This wait is just looking for pods to be healthy on the control plane node.

Can you export cluster logs (use `--retain` when creating and then `kind export logs`)?

[2020-03-05 03:13] cwen0 commented on #1288
hi,

We encountered this issue on my mac:

[code]

[2020-03-05 03:15] BenTheElder commented on #1288
Worker4 suggests many nodes.
First question: do you need 5+ nodes actually...?
Second: do you have enough resources allocated for this? Docker for Mac is
a VM with limited cpu etc.

On Wed, Mar 4, 2020, 19:13 CWen <notifications@github.com> wrote:

[2020-03-05 03:24] cwen0 commented on #1288
@BenTheElder  Thanks, yes, I limited my Docker with 6 core CPU and I have tried to reduce the number of nodes to 3.

[2020-03-05 04:31] BenTheElder commented on #845
did we wind up testing this in CI?

[2020-03-05 07:27] aojea commented on #845
nope, what option do you want to test in the CI, using etcd in memory?

[2020-03-05 10:43] MVJosh commented on #1383
[](url)

As far as I know there's no proxy, but I'm no expert on the internals of CodeBuild.

CodeBuild runs as an Ubuntu 18.04 docker container (with privileged access) - if you want to replicate locally you can build the image yourself from here: https://github.com/aws/aws-codebuild-docker-images/tree/master/ubuntu/standard/2.0 , spin up a container from the built image and then run the commands

[2020-03-05 10:46] MVJosh commented on #1383
here's my `kubelet.log`:
[code]

I'm not exactly sure what I'm looking for in these logs - if it would be useful to see other logs produced from `kind export logs` let me known which and I'll share them

[2020-03-05 16:34] aojea commented on #1384
@maplain this is an interesting scenario and was very challenging to understand what is going on

I was able to reproduce your problem, in your example, trying to `curl` the `ClusterIP`of the `frontend` service, it always hangs with a single node cluster when trying to use the NodePort endpoint configured.
It happens the same in a multinode cluster if you try to get the `ClusterIP` of the `fronten

[2020-03-06 00:16] BenTheElder commented on #1350
going to close for now as not reproducible but please `/reopen` with more information if you spot this again!

[2020-03-06 00:16] #1350 closed

[2020-03-06 00:17] BenTheElder commented on #1344
#1346

[2020-03-06 00:17] #1344 closed

[2020-03-06 08:02] BenTheElder commented on #1383
It seems building that particular image remotely over ssh hangs on `+ apt-add-repository -y ppa:git-core/ppa` ... so I gave up and started building it on my work macbook instead, which is still running ...

In the meantime I can't seem to find any docs about how codebuild actually runs the image so it's a bit hard to correctly replicate this accurately.

Is it mounting the host docker socket? Is i

[2020-03-06 09:28] MVJosh commented on #1383
Thanks for investigating - I don't know enough about CodeBuild to answer those questions unfortunately and the docs aren't too forthcoming about what goes on behind-the-scenes.

I'll look into building the CodeBuild image myself and reproducing locally, and will post back here once I've got some steps to reproduce locally without requiring an AWS account.

[2020-03-06 16:15] #1306 closed

[2020-03-06 16:16] BenTheElder commented on #1306
Closing on suspicion that this is the wrong repo, and lack of follow up.

[2020-03-07 14:09] liweilun0408 opened #1385 "docker windows desktop can't set up kind-control-plane container restart policy"
PS C:\Users\liweilun\Desktop> kubectl.exe get pods --all-namespaces
NAMESPACE            NAME                                         READY   STATUS    RESTARTS   AGE
kube-system          coredns-6955765f44-m4w7h                     1/1     Running   0          26s
kube-system          coredns-6955765f44-q7wvs                     1/1     Running   0          26s
kube-system          etcd-kind-cont

[2020-03-07 14:35] liweilun0408 commented on #1385
docker version is 19.03.5 , kind version is 0.7.0

[2020-03-08 07:08] BenTheElder commented on #1385
We will include a restart policy when #148 is resolved.

Until then don't expect it to work at all unfortunately.

[2020-03-08 07:08] #1385 closed

[2020-03-08 07:40] hiromaily opened #1386 "how to connect between multiple clusters"
I created 2 clusters each cluster has different roles.
My question is how to connect from one of pods in ClusterA to one of pods in ClusterB.
Is there any good solution? Thanks.

[2020-03-08 10:02] aojea commented on #1386
We have a PR with documentation on this topics

https://github.com/kubernetes-sigs/kind/pull/1337

There is an example there on how to connect pods between different clusters

[2020-03-08 10:59] hiromaily commented on #1386
@aojea Thanks :)

[2020-03-08 10:59] #1386 closed

[2020-03-08 12:36] estensen commented on #575
IMO, as a beginner, this is not beginner-friendly:
[code]

There should be a hint that Docker is not running

[2020-03-08 13:11] aojea commented on #575
the problem is that it may be caused by another reasons, not just that Docker is not running, so it can be wrong to always return an error saying "Docker is not running"

[2020-03-08 20:01] BenTheElder commented on #575
What aojea said.

Sorry, we know this isn't friendly, there's just a LOT to do and initially we were targeting kubernetes (literally kubernetes itself) developers. There's a lot to do. I have a sketch for more sophisticated help in the command but we've got some deep rework that needs doing to fix e.g. host reboot support first.

[2020-03-08 20:03] BenTheElder commented on #575
I recommend running again with `-v 1` on the latest release when you encounter errors until that rework is published.

[2020-03-08 21:37] ymolists opened #1387 "kind create cluster fails with failed to remove master"
**What happened**:

[code]

**What you expected to happen**:

cluster started normally

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

**Anything else we need to know?**:

**Environment:**

[code]

- Docker version: (use `docker info`):
[code]

- OS (e.g. from `/etc/os-release`):

[code]

[2020-03-09 11:49] ymolists commented on #1387
This seems super similar to [this issue](https://github.com/kubernetes-sigs/kind/issues/55)

[2020-03-09 20:48] davrodpin opened #1388 "Can't create multiple single-node clusters (10th cluster creation fails)"
**What happened**:

Can't create the 10th single-node control-plane cluster. The other nine (9) are working just fine.

**What you expected to happen**:

I was expecting to create hundreds of single-node clusters to perform a specific scale test using kubefed.

**How to reproduce it (as minimally and precisely as possible)**:

Execute the command below and the last cluster creation will always fai

[2020-03-09 21:37] BenTheElder commented on #1388
these clusters still have the real overhead of running kubernetes. despite doing what we can to make it smaller than the average cluster they require non-zero resources. your host may not have enough:
- cpu
- memory
- I/O
...

[2020-03-09 21:38] BenTheElder commented on #1388
As a rule of thumb kubeadm recommends at least 2GB Ram and a 2 CPU (to also have room for workloads). Can run run in under 1GB / 1CPU but it depends a bit on your workload.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin

#485