[2019-07-18 19:36] PatrickLang commented on #720
oops dupe of #707
/close

[2019-07-18 19:36] #720 closed

[2019-07-18 19:48] BenTheElder commented on #720
Yeah, I'm not sure what to do here. We should make kind not fail in this case probably, but this also affects the IP masq agent.

[2019-07-18 19:50] BenTheElder commented on #707
@PatrickLang I suspect lacking the MASQUERADE module is a bit of a problem for many Kubernetes setups? Is it totally not available or just not loaded?

[2019-07-18 20:00] PatrickLang commented on #707
https://github.com/microsoft/WSL/issues/4165 looks related

what kernel config does that relate to?

[code]

[2019-07-18 20:09] aojea commented on #720
I think that is not only the CNI that will fail, kube-proxy is using iptables too

[2019-07-18 20:20] BenTheElder commented on #707
Huh I would have thought `CONFIG_IP_NF_TARGET_MASQUERADE`

https://cateee.net/lkddb/web-lkddb/IP_NF_TARGET_MASQUERADE.html

aside: modules on a working host:
[code]

[2019-07-18 20:27] BenTheElder commented on #707
on that same host:
[code]

[2019-07-18 23:30] BenTheElder commented on #698
Some work towards getting kind to run roughly what `pull-kubernetes-e2e-gce` runs:
- https://github.com/kubernetes/kubernetes/pull/80044
- https://github.com/kubernetes/kubernetes/pull/80329

[2019-07-18 23:45] howardjohn commented on #717
We are getting this one a lot too, I suspect the same problem. Looks like kubeadm is health checking and timing out

<details>

[code]
</details>

[2019-07-18 23:53] howardjohn commented on #717
So we are seeing the a fair amount so I added some retries in https://github.com/istio/istio/pull/15637 (and set loglevel=debug now for further debugging) to the setup. Any other ideas to mitigate this?

[2019-07-18 23:53] BenTheElder commented on #717
:disappointed:

Symptomatically the API Server is not coming up healthily, the most common case is that it was killed or evicted. That could be due to this.

kind / kubeadm can't do much there, it's expected that if the host doesn't have enough capacity to bring up the API server healthily in that time frame (controlled by kubeadm) that it won't come up. IIRC they've timed it for Raspberry PIs.

I

[2019-07-18 23:54] PatrickLang commented on #707
thanks, will do some more digging there. my initial guess was that it was actually missing the chains since WSL2 doesn't run init.d or systemd by default. I'll see if I can duplicate the default chains from a normal Ubuntu setup.

[2019-07-19 00:01] BenTheElder commented on #717
I would add that we don't see either of these on prow.k8s.io and I've not seen these locally*, I would still guess a resource management issue on the underlying hosts. I.E. the prow cluster nodes are overloaded / throttled :grimacing: Are the nodes being I/O throttled still?

----

Additional notes:

- We have most of the conformance tests running continuously (every ~15m or so a run completes) on

[2019-07-19 00:07] PatrickLang commented on #707
actually looks like `CONFIG_NFT_MASQ=y` is the first thing to try

[2019-07-19 00:10] BenTheElder commented on #707
I'm pretty sure the error is somewhat misleading and that `MASQUERADE` is a target setup by the kernel module rather than like, a chain you would setup yourself ... (or systemd or ...) :sweat_smile:

I'd definitely go with `CONFIG_NFT_MASQ` :+1:

[2019-07-19 02:56] howardjohn commented on #717
Ok so dug into it a bit more. With the retry PR, it doesn't seem to help. Either kind comes up, or it fails 3 times - it never seems to fail once then succeed.

I ran another test now that the cluster is pretty much empty. The node had no pods running on it until the test was scheduled on it. The first step of the test is setting up the kind cluster: https://gubernator.k8s.io/build/istio-prow/pr-l

[2019-07-19 04:10] BenTheElder commented on #717
That sounds _very_ suspicious.

I'm not sure either.

That's normal there's a period during startup where the CNI config is not written out yet. This error will show up on many, many clusters while the CNI daemonset is still coming up and writing that out. As long as it eventually gets the CNI config this is normal and fine 😅

Yes! Now this error I have seen before, but not much on prow.k8s.io. Th

[2019-07-19 04:11] BenTheElder commented on #717
This should go in our known-issues guide as well, and prow.k8s.io should probably bump its inotify watches as well, IIRC they're relatively low on the cluster nodes by default.

[2019-07-19 04:16] howardjohn commented on #717
great, thanks for all the help! Now that we have the logs being dumped hopefully we can track down future issues faster now too.

@Katharine can you help us get the limit raised? I don't have access to the cluster

[2019-07-19 04:38] BenTheElder commented on #717
adapted to stable APIs from https://github.com/Azure/AKS/issues/772#issuecomment-477760184
[code]

(Note: arbitrary-ish number of watches, the default on some distros is like ~8k ish IIRC).

[2019-07-19 04:52] BenTheElder commented on #717
Filed https://github.com/kubernetes/test-infra/pull/13515 to check this in somewhere.

[2019-07-19 16:34] Katharine commented on #717
I've applied the above across the istio test cluster. We should check it in to istio/test-infra so it accurately reflects reality.

[2019-07-19 17:52] jonstelly opened #724 "[docker installed with snap] HA Creation - Error: failed to create cluster: failed to copy certificate ca.crt: exit status 1"
**What happened**:
Running kind to create an HA cluster like the one found [here](https://kind.sigs.k8s.io/docs/user/quick-start/#control-plane-ha) (except with 2 control-planes instead of 3)

[code]

**What you expected to happen**:
Cluster to get created and come up

**How to reproduce it (as minimally and precisely as possible)**:
`kind create cluster --retain --loglevel trace --config "./kind-

[2019-07-19 17:52] aojea commented on #698
those patches were merged

[2019-07-19 18:02] BenTheElder commented on #724
2 is invalid in kubeadm IIRC?

[2019-07-19 19:27] PatrickLang commented on #707
making some progress...

kconfig diff

[code]

now kindnet gets further before crashing

[code]

[2019-07-19 19:38] PatrickLang commented on #707
oh nevermind - kindnet restarted after that and now it's running :)

[2019-07-19 20:00] BenTheElder commented on #707
Awesome!

We should retry the node listing / rewrite as a proper controller 😅

Right now we panic a little too aggressively, but it does help surface problems and it should restart.

[2019-07-19 20:59] BenTheElder commented on #717
We've deployed the daemonset today, the current version for prow is at https://github.com/kubernetes/test-infra/blob/f96fa91682a29c57838d4df17d9ef8d4ecf7260f/prow/cluster/tune-sysctls_daemonset.yaml (more or less the same, minor tweaks).

[2019-07-19 21:13] jonstelly commented on #724
Ah, I hadn't seen that in the documentation yet... this was my first attempt to spin up an HA cluster.  I'll try it again with 3 control planes like the example and make sure that works.

Assuming that's my problem, it would be nice to validate the configuration and throw a friendly error when people try to do this (assuming I'm not the only one to ever do it).  I'm not really a go guy but I may s

[2019-07-19 21:17] howardjohn commented on #717
With the fix things are going smoothly, thanks for the help. feel free to close this

[2019-07-19 21:24] BenTheElder commented on #717
Excellent! :smile:
/close

[2019-07-19 21:24] #717 closed

[2019-07-19 21:25] BenTheElder commented on #303
see this about possibly inotify watch limits on the host and a work around https://github.com/kubernetes-sigs/kind/issues/717#issuecomment-513070836

this issue may also apply to other linux hosts (non-kubernetes)

[2019-07-19 21:28] BenTheElder commented on #724
yes, sorry about that, I'm digging around trying to find something authoritative on the kubeadm side of things, I can't actually find anything now but I could have sworn that it only supports 3 control planes specifically.

IF / when we get that confirmed we should document in the kind docs and validate. If that's not true, then we have some bug here to fix :sweat_smile:

cc @neolit123 @fabriziopa

[2019-07-19 22:15] BenTheElder commented on #724
so we should validate this to be odd, but also we probably need to look at getting some docs to clarify this upstream,.

the cert copy issue may be unrelated to the number however, I'll circle back to this one as I'm triaging a few other issues..

[2019-07-19 22:55] neolit123 commented on #724
I am pretty sure 2 cp 3w kind cluster worked for me recently. It should
create fine and work, but etcd cannot make decisions. You need 3 cp for
that.
On Jul 20, 2019 00:13, "Jon Stelly" <notifications@github.com> wrote:

[2019-07-19 23:10] PatrickLang commented on #707
Digging into a kube-proxy problem next:

[code]

[2019-07-19 23:15] PatrickLang commented on #707
The module load failures at the top are not relevant. All the mods it's probing are compiled in already. The best clue as this point is the iptables-restore error which is truncated

[2019-07-19 23:17] BenTheElder commented on #707
might have to up the kube-proxy verbosity to see more of what it was doing.

[2019-07-19 23:51] jonstelly commented on #724
I just tried a config with 3 control-planes and got the same error.

It is worth noting I might be trying to do too much on my dev machine.  I'm using microk8s on this box for my development, I was really just using kind to spin up a quick larger cluster for testing some scaling behavior.

But I'll try to dig into this a bit.

[2019-07-20 00:58] neolit123 commented on #724
You could be hitting resource limits of the machine. For instance on a 16gb
vm i cannot run more than 3 cps. Yet i do not see copy errors, instead the
4th apiserver starts crashlooping.

[2019-07-20 01:22] BenTheElder commented on #485
I've improved that prototype with the goals of:
- being able to test / use out of tree cloud providers without in-tree code well ahead of the in-tree removal
- being able to ship kind with lighter node images

So far that more or less works and I've created a provisional PR upstream.

At this point I think the next step is a KEP, expect more on this in the near future :-)

We may need to slightly

[2019-07-20 23:40] jonstelly commented on #724
I tracked it down but will need some guidance on how to fix it correctly if you'd like a pull request.  As mentioned, my go skills are near non-existent so if it's easier for one of you to make this change, I won't be offended, hopefully the below helps...

TL;DR: I'm running docker from a snap so docker doesn't have access to the host's /tmp directory that kind uses to copy around certs, etc...

[2019-07-21 10:04] aojea commented on #724
so ... the problem is that the folder created by `tmpDir, err := fs.TempDir` is not accessible within snap?
@BenTheElder do you think this is something to be fixed in https://golang.org/src/os/file.go?s=10008:10029#L319 ?

[2019-07-21 14:09] jonstelly commented on #724
Yeah, snap's model is to sandbox each installed application unless the snap component is distributed with [classic confinement](https://ubuntu.com/blog/how-to-snap-introducing-classic-confinement).  But docker uses the strict confinement policy.

It feels like /tmp is the correct thing for go's os api to return.  And certainly in this situation where kind is asking for a temp directory... I can't

[2019-07-21 15:50] danderson opened #728 "Support a "bare" node type"
**What would you like to be added**:

In addition to the `control-plane` and `worker` node types, add a `bare` type that creates a "machine" that does not participate in the Kind k8s cluster, but is still included in the cluster's lifecycle (i.e. `kind delete cluster` destroys the bare node container).

**Why is this needed**:

I'm revisiting running MetalLB's end to end tests on kind, as Docker's

[2019-07-21 18:27] neolit123 commented on #724
"1" seems like the better option to me.
snap detection can happen in:
https://github.com/kubernetes-sigs/kind/blob/master/pkg/fs/fs.go#L31

[2019-07-21 20:58] BenTheElder commented on #724
Ah so, Docker installed via snap is listed under known issues and mentions `TMPDIR=$HOME` as an option that requires no modifications. https://kind.sigs.k8s.io/docs/user/known-issues/#docker-installed-with-snap

We don't need to use a temp directory to copy these in the first place and we should consider refactoring that, but in the meantime:

- 1\. Won't be reliable.
- 3\. Already has a standard

[2019-07-21 21:07] neolit123 commented on #724
i'd close this ticked as the issue is document in https://github.com/kubernetes-sigs/kind/blob/master/site/content/docs/user/known-issues.md#docker-installed-with-snap

and extend the issue template to let the users have a look at the list of known issues before reporting.

[2019-07-21 21:27] BenTheElder commented on #724
We should still prevent and / or detect this on failure, we could avoid the staging tempdir for this usage at least but for the node build we can't.

We could start on https://github.com/kubernetes-sigs/kind/issues/39 and detect this in the failure diagnostics and point to the docs automatically... (so it stays out of the "happy path"). I've still be discussing designs for that though...

[2019-07-21 21:29] jonstelly commented on #724
Ah, yep, setting TEMPDIR is super simple so I'll just set that up in my scripts... thanks.

And yeah, I had looked at the known issues but I was fixating on the error message and the way docker in snap is documented on the Known Issues page it didn't jump out at me.  Maybe it would be helpful to add some detail to the error message in this case, like below?  In the current form the error doesn't m

[2019-07-22 22:19] BenTheElder commented on #728
So I think the problem with this is that we'd need to be very flexible about specifying the "node" container options etc. and ignore kubernetes node specific fields (which we'll be getting more of shortly).

I'm rather hesitant of becoming a weird "docker-compose" especially as we backend to more node options (podman, ignite ... kata?) however:

If you're OK still _creating_ this container yoursel

[2019-07-22 22:21] BenTheElder commented on #728
That label isn't exactly a public detail at the moment, but it's hardly hidden and breaking it and the deletion behavior around it would be a compatibility change.

Short of possibly having a migration period to x-k8s.io or similar domain / namespace at some point I don't expect that to change.

[2019-07-22 22:32] aojea commented on #728
I think that `kinder` is doing something along those lines @danderson https://github.com/kubernetes/kubeadm/tree/master/kinder

[2019-07-22 22:54] BenTheElder commented on #728
@ajoea not quite, they're sometimes using some kind functionality to create kubernetes nodes that stop short of running kubeadm init etc., they're still kind node images running a nested container runtime etc., not "bare" nodes, but rather "partially provisioned" nodes.

Also note though that kinder is primarily meant for kubeadm development rather than consumption for other projects.

[2019-07-23 00:24] BenTheElder commented on #707
I think technically #726 fixed this, but ideally long term we will hopefully not need those workarounds in a future version of WSL2

[2019-07-23 00:24] #707 closed

[2019-07-23 00:27] BenTheElder commented on #577
I'm going to close this in favor of the upstream issue at https://github.com/solo-io/gloo/issues/730, especially given that we've gone about two months without any further details or activity.

I suspect the upstream comment is correct and technically this is a bug in neither, but rather a resources issue.

[2019-07-23 00:27] #577 closed

[2019-07-23 15:28] shaneutt opened #732 "Update client-go to v12.0.0"
**What should be cleaned up or changed**:

Currently if you want to include `kind` as a library in another tool it will hold your `client-go` version at `v11.0.0` by default. The latest release for `client-go` is now [v12.0.0](https://github.com/kubernetes/client-go/releases/tag/v12.0.0) and it would be helpful to update kind to this version.

**Why is this needed**:

This makes it a bit easier to

[2019-07-23 16:30] BenTheElder commented on #732
Relatedly please know that the library form is significantly less stable, @munnerz and I have been working on a plan to clear that up, expect future versions of the library to change quite a bit.

We export much more than we should.

[2019-07-23 19:15] BenTheElder opened #734 "Internal APIs should not be exposed"
**What happened**:

- The internal API version is both public and expected to be used when using kind as a library. Neither of these should be true.
- Basically all of our library code is unstable and importable. We're running into the same problem as Kubernetes here where people are depending on packages that are not intended for public consumption (silly example: the CLI spinner). We need to cla

[2019-07-23 23:05] shaneutt commented on #732
Thanks for the heads up @BenTheElder, currently I only have a lightweight integration. I will be cautious about going deeper with that integration. :+1:

[2019-07-24 03:28] BenTheElder opened #735 "kind should GC unused images"
TDLR:
- we need to turn off disk eviction because we cannot guarantee any particular portion of the host is free, or at the very least we need a very high eviction threshold
- independent image GC options are deprecated in favor of the disk eviction thresholds also triggering image GC in kubelet
- we _need_ to not GC images used for kubernetes components, as they may not be pullable again (as in s

[2019-07-25 00:10] howardjohn opened #736 "Error: failed to create cluster: failed to apply overlay network: exit status 126"
**What happened**:
`kind create cluster` fails with `Error: failed to create cluster: failed to apply overlay network: exit status 126`

Prow logs: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15812/integ-framework-k8s-presubmit-tests-master/3694

Exported kind logs: https://gcsweb.k8s.io/gcs/istio-prow/pr-logs/pull/istio_istio/15812/integ-framework-k8s-presubmit-tests-master

[2019-07-25 04:06] BenTheElder commented on #736
Which version of kind is this?

[2019-07-25 04:11] howardjohn commented on #736
This is 0.3.0, been meaning to update to 0.4 but haven't gotten around to it yet

[2019-07-25 15:28] aojea commented on #736
@howardjohn does it only failed once? https://prow.istio.io/job-history/istio-prow/pr-logs/directory/integ-framework-k8s-presubmit-tests-master

or there are more occurrences of the same problem

[2019-07-25 17:33] danderson commented on #728
I completely agree with wanting to avoid scope creep on kind, and that a `bare` node type increases the risk of that.

Using a label to tie my container(s) to the lifetime of the kind cluster is great, and will work just fine for me. As you said, my main concern was cleanup rather than creation.

If I (and others who find this bug) start relying on labels for lifecycle control, this effectively be

[2019-07-25 21:57] BenTheElder commented on #734
https://github.com/kubernetes-sigs/kind/pull/737 was a big fix for this

[2019-07-25 22:49] BenTheElder commented on #734
Next up: The public types package should contain _all_ of the types, no importing types from other packages. This is hostile to the library user (can't see the API types when looking at the docs without hopping to another file just to read one type), and couples the public API versions to types controlled by non-API packages.

[2019-07-26 07:57] wilmardo commented on #710
Followed up over at kubernetes/kubernetes#80243 and the PR with the fix #739

[2019-07-26 12:07] aojea commented on #710
@wilmardo can you post your iptables rules in the nodes `iptables-save` and your pods `kubectl get pods --all-namespaces -o wide` when it is failing?

[2019-07-30 05:22] gerardo commented on #706
Thanks for the explanation. I started trying to make this work inside a docker container.

I tried 2 different scenarios:

1. I installed docker and kind inside my container, and ran such container in privileged mode. Docker starts successfully, but kind dies trying to get the control plane up and running. I decided not to keep going down that path.

2. In this second scenario, I mounted the host'

[2019-07-30 06:12] BenTheElder commented on #706
1. is what we typically do and what kind itself used to do (containerd inside now but same idea)

Note that docker in docker require some special attention including:
- docker storage should be a volume, not the container filesystem
- For running kind / another layer nested, you should use the equivalent mounts in https://github.com/kubernetes-sigs/kind/issues/303 (which we can't bake into an imag

[2019-07-30 08:20] wilmardo commented on #710
@aojea Of course, just did a fresh deployment.

[code]

## Control-plane

[code]

## Kind-worker

[code]

[2019-07-30 08:39] aojea commented on #710
@wilmardo is still not working?
I can see that boths coredns pods are in the same node

kube-system   coredns-5c98db65d4-cx427                     1/1     Running   0          7m37s   10.244.0.2   kind-control-plane   <none>           <none>

 and the iptables rules DNAT the traffic to their internal ip addresses with probability 0.5

...

-A KUBE-SVC-TCOU7JCQXEZGVUNU -j KUBE-SEP-6E7XQMQ4RAYOWTTM

[2019-07-30 11:59] wilmardo commented on #710
Yes happens most of the time with a kubeadm deployment since CoreDNS gets started replicated before any other node has joined. So they start on the same node since that is the only option, since they are already scheduled when the next node joins. So they stay on one node until something triggers a reschedule.
Did that now by running `kubectl delete -n kube-system pods --selector k8s-app=kube-dns`

[2019-07-30 15:34] chuckha opened #742 "`list` swallows docker errors"
**What happened**:
My application eventually makes a call to `list` in nodes.go. However, the docker command is presumably returning an error because I see the message "failed to list nodes", coming from line 90 in this file.

https://github.com/kubernetes-sigs/kind/blob/master/pkg/cluster/nodes/nodes.go#L88

**What you expected to happen**:
I would expect stderr to get logged or perhaps wrapped u

[2019-07-30 19:04] aojea commented on #710
I still can't reproduce it, I have followed exactly the same steps, can it be because I`m using Linux?

[code]

[code]

[2019-07-31 06:08] BenTheElder commented on #732
We're still working on the library interface but it's actively coming along 😅

I beleive https://github.com/kubernetes-sigs/kind/pull/744 removed client-go from being tracked here.

[2019-07-31 06:08] #732 closed

[2019-07-31 07:42] lework opened #745 "Appears when using ceph of roook: map failed: (30) Read-only file system"
**What happened**:

Binding error occurs in pvc using ceph(rook)

[code]

**What you expected to happen**:

Pod started successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment:**

- kind version: `v0.4.0`
- Kubernetes version: `v1.15.0`
- Docker version:  `18.09.6`
- OS : `CentOS Linux 7 (Core)`
- kernel:  `5.1.11-

[2019-07-31 07:53] aojea commented on #745
well, that's really suspicious

[2019-07-31 08:12] aojea commented on #745
/assign

[2019-07-31 08:36] wilmardo commented on #710
Yes could be I suspect some incompatibility with WSL v1 and Docker for Windows. Will try to get a colleague to try and reproduce this :)

[2019-07-31 12:23] murdav opened #746 "proxy issue: any pod image can't be pulled"
I'm under the company PROXY and the env vars are correctly set, furthermore:

[code]

I installed the latest KinD version using:
`GO111MODULE="on" go get sigs.k8s.io/kind@master`
and created the cluster `kind create cluster --loglevel debug` without having issues `Cluster creation complete.` except for these lines:

[code]

Now when I launch:
`kubectl apply -f https://raw.githubusercontent.com/kub

[2019-07-31 15:23] aojea commented on #746
:thinking: I think that @BenTheElder fixed that issue with https://github.com/kubernetes-sigs/kind/pull/694

@murdav can you try the master version?

[2019-07-31 16:19] aojea commented on #745
@lework ceph in block mode doesn't seem to work inside kind, however cephfs works https://github.com/rook/rook/blob/master/Documentation/ceph-filesystem.md

Seems that in ceph block needs the sysfs to be writable , need to investigate more

[2019-07-31 17:46] BenTheElder commented on #745
We are very unlikely to make `/sys` writeable in the docker nodes. This is a requirement.

[2019-07-31 17:49] BenTheElder commented on #734
patch types were moved into the config types spec.

[2019-07-31 22:30] sb1975 opened #747 "clarify go version requirements"
# go get sigs.k8s.io/kind
package sigs.k8s.io/kustomize/v3/k8sdeps/kunstruct: cannot find package "sigs.k8s.io/kustomize/v3/k8sdeps/kunstruct" in any of:
        /usr/lib/golang/src/sigs.k8s.io/kustomize/v3/k8sdeps/kunstruct (from $GOROOT)
        /root/go/src/sigs.k8s.io/kustomize/v3/k8sdeps/kunstruct (from $GOPATH)
package sigs.k8s.io/kustomize/v3/k8sdeps/transformer: cannot find package "sigs.k

[2019-07-31 22:32] BenTheElder commented on #747
You need a supported go version. Go supports 1.11 and 1.12 for which this error will not happen https://golang.org/doc/devel/release.html

[2019-07-31 22:33] BenTheElder commented on #747
the alternative install directions cover how to install without having newer go on your host, we have a docker / make based installation that doesn't need go at all, and pre-built binaries https://kind.sigs.k8s.io/docs/user/quick-start/#installation

[2019-07-31 22:44] BenTheElder commented on #747
To elaborate: the issue is is not using go modules, which means the dependencies are not handled properly. [kustomize](https://github.com/kubernetes-sigs/kustomize) requires go [modules](https://github.com/golang/go/wiki/Modules) to version & use correctly, we depend on this package.

if you are on go 1.11+ then it's possible `GO111MODULE=on` was not set correctly.

[2019-08-01 01:36] lework commented on #745
Thank you for answering, I will try cephfs.

[2019-08-01 06:24] BenTheElder commented on #23
/remove-lifecycle stale

[2019-08-01 06:34] murdav commented on #746
I tried the master version:

Thanks.

[2019-08-01 11:50] aojea commented on #746
ups, my bad, sorry, seems I read to fast :sweat_smile:

@murdav can you create a file replacing the values your *_proxy variables in your nodes
[code]

and restart containerd `systemctl restart containerd`?

@BenTheElder this is what I refer in my comment https://github.com/kubernetes-sigs/kind/pull/694#issuecomment-509534110 , I think that somehow containerd is not using that env variables with t

[2019-08-01 14:35] murdav commented on #746
@aojea it works doing what you suggested on each node!

I can confirm this issue.

[2019-08-01 17:06] fspaniol commented on #110
Hi,

I'm trying to add a registry as insecure but it seems that my control-plane does not have the `docker` binary.. :(

This is what I'm executing:

[code]

[code]

Am I doing something wrong? :)

Cheers,
Fernando

[2019-08-01 17:33] BenTheElder commented on #110
@fspaniol the control plane switched to containerd since this issue was first open :sweat_smile:

[2019-08-01 17:49] BenTheElder commented on #746
I'm fairly certain we are not yet using those changes, as they are only in the base image and we need new node images with them. that will come with the next release and hopefully resolve this.

[2019-08-01 18:14] font commented on #110
Updated the title to be more generic. :smile:

[2019-08-01 19:54] fspaniol commented on #110
Ah haha, that explains it.

Btw, my use case was that I was trying to follow the tutorial from [kubebuilder](https://book.kubebuilder.io/quick-start.html) using kind and I was using a private registry to push my images and when a pod tried to fetch any image, it was getting the `x509` issue. The solution I found was to deploy a registry within kind and now every works fine :)

The guide can be fou

[2019-08-02 00:39] BenTheElder commented on #182
it's not clear to me that this is clearly feasible or that any similar tool works there.

it would be neat, but I don't think we have the time.

if anyone is interested in the future feel free to try again and report back / file a new issue

[2019-08-02 02:02] danderson commented on #728
I think this should be closed, as far as I'm concerned. The labeling approach is fine for my needs, and there's good reason to want to avoid the scope creep on kind. @BenTheElder anything else to add, or should I just close this?

[2019-08-02 02:46] tamalsaha opened #748 "Documentation request"
@BenTheElder , I wanted to open an issue to keep track of our twitter conversation: https://twitter.com/timothysc/status/1156937259020640256

**What would you like to be documented**:

- [ ] How does LB type service behave? Can my e2e tests running on host directly connect with a NodePort/LB type service inside KIND?

- [ ]  If my operator/webhook server running on host directly, can KIND's kube-a

[2019-08-02 16:44] BenTheElder commented on #728
SGTM :-)

I think the defacto API already exists for containers at least, we'd have to be careful changing that or otherwise not be able to clean up clusters from previous versions.

We probably will have that transition period to re-key them into the "less official" x-k8s.io namespace though (much as I don't particularly love that name, see the discussions around API review and guidance for unoff

[2019-08-02 16:44] #728 closed

[2019-08-02 16:50] BenTheElder commented on #253
No major updates on this just yet, still monitoring the cluster lifecycle work.
Freezing the issue for now as we're watching how this goes in the broader project while tackling other work for now.

[2019-08-02 16:55] BenTheElder commented on #110
@font thanks :-)

@fspaniol Thanks for the feedback, I appreciate it and I'm sure others will find those links very useful.

---

If anyone's interested in this issue, ideally I'd like to find a way to patch .toml files similar to kustomizing kubernetes yaml, that way we can just add the insecure registries we need on top of whatever existing config we have composably. I suspect people are typical

[2019-08-02 17:36] aojea commented on #695
@adibrastegarnia is this solved? Can we close it?

[2019-08-02 17:49] adibrastegarnia commented on #695
Yes. I will close it.

[2019-08-02 17:49] #695 closed

[2019-08-02 17:54] aojea commented on #197
Im publishing an unofficial image built using kind master and kubernetes master nightly

This is the image https://cloud.docker.com/repository/docker/aojea/kindnode/tags

This is the repo that kicks off the job in circle ci https://github.com/aojea/kind-images

Example of a successful job https://circleci.com/gh/aojea/kind-images/19

[2019-08-03 15:17] aojea commented on #188
@ZhengZhenyu the job is failing to compile, can you check with master https://github.com/theopenlab/openlab-zuul-jobs/blob/c14fd9c68bc529dcbed15930b6e30fffbc952b49/playbooks/kind-integration-test-arm64/run.yaml#L46?

[2019-08-03 23:15] WalkerGriggs opened #750 "`get kubeconfig-path` should warn or exit if no cluster with flags.Name exists"
**What would you like to be added**:

If no cluster with flags.Name exists, `get kubeconfig-path` should either print a warning or exit with a non-zero exit code.

**Why is this needed**:

Currently, when no name flag is provided, the command builds a new context using the default cluster name (kind) and returns that kubeconfig path. In the situation where only clusters with non-default names exis

[2019-08-04 01:51] BenTheElder commented on #750
The KUBECONFIG path doesn't depend on the cluster existing though, `kind get kubeconfig` should error, kubeconfig-path on the other hand won't because you can know it before creating the cluster. Or after to clean up the file (which kind won't delete)

[2019-08-04 01:54] BenTheElder commented on #750
Printing a warning might be OK in this case when we fix stdout vs stderr output (in progress) but I don't think we should exit error here.

[2019-08-04 02:58] WalkerGriggs commented on #594
Saw the 'help wanted' / 'good first issue' label and thought I'd pitch in. Changes in script tested with personal, private GCR.

Aside from updating the snippet to generate credentials on the host machine, is there anything else worth mentioning?

[2019-08-04 03:04] WalkerGriggs commented on #750
Exiting with error here doesn't make much sense, I agree. I'll set this enhancement aside for when stdout/err output have been fixed.

Thanks for considering it, @BenTheElder

[2019-08-04 04:33] BenTheElder commented on #750
Thanks, I'm actively working on fixing this / logging at the moment and
will keep this particular case in mind, we really messed up being
consistent about where / how we do output 😞

On Sat, Aug 3, 2019, 20:04 Walker <notifications@github.com> wrote:

[2019-08-05 09:55] jpds commented on #282
Another fix for this is to add your own user to the `docker` group.

[2019-08-05 10:03] tao12345666333 commented on #282
I am still thinking about how this should be written. I want to point out directly that it is a question of permissions.  #714

[2019-08-05 19:54] BenTheElder commented on #747
I filed https://github.com/kubernetes-sigs/kind/issues/747 to be clear on this

[2019-08-05 20:11] #747 closed

[2019-08-05 21:14] aojea commented on #748
Thanks, let me add some references, some of those questions are already documented or tracked in another issues

https://mauilion.dev/posts/kind-metallb/
https://kind.sigs.k8s.io/docs/user/quick-start/#mapping-ports-to-the-host-machine

https://github.com/kubernetes-sigs/kind/pull/725

https://github.com/kubernetes-sigs/kind/issues/398

https://kind.sigs.k8s.io/docs/user/quick-start/#enable-featur

[2019-08-05 21:21] aojea commented on #745
@lework please let us know if that worked ... and if we should close the issue :)

[2019-08-05 21:25] aojea commented on #622
@armab is ok to close?

[2019-08-05 21:26] aojea commented on #631
is this an issue with kind or with kubeadm?

[2019-08-05 21:28] aojea commented on #634
let´s close this, it should be part of the testplan deciding on these things

[2019-08-05 21:28] #634 closed

[2019-08-05 21:29] aojea commented on #620
@TheErk can we close this? is that link in the previous comment solving the issue?

[2019-08-05 21:31] aojea commented on #602
@nicks should we close this and follow up on #110 ?

[2019-08-05 21:32] aojea commented on #565
there are several issues about documentation, better consolidate them

[2019-08-05 21:32] #565 closed

[2019-08-05 22:09] BenTheElder commented on #594
Thank you!

Just anything you needed to know / you think would be helpful here. I'm not currently using this but I know some users trip over it and I'd like to make sure we keep this up to date / helpful 😅

[2019-08-05 22:10] BenTheElder commented on #594
https://github.com/kubernetes-sigs/kind/compare/master...WalkerGriggs:private-registry-docs looks great, please do send a PR!

[2019-08-05 23:23] BenTheElder commented on #631
good question :-)

kubeadm 1.11 cannot be patched at this point sadly, so unless we ban 1.11 from kind then kind needs to handle it either way.

[2019-08-05 23:41] TrentonAdams commented on #110
kind started using containerd and none of the solutions here work anymore, how do I go about adding an insecure registry now?

[2019-08-05 23:50] BenTheElder commented on #110
@TrentonAdams the guide mentioned in https://github.com/kubernetes-sigs/kind/issues/110#issuecomment-517433525 is one option for now.

[2019-08-05 23:56] armab commented on #622
@aojea It's not OK to close. Issue wasn't fixed in core and KinD didn't transition yet to provisioner that doesn't have limitations described.

I think it's both interest of community and KinD maintainers so the tool works by default as close as possible to native K8s configuration so users can run/test their deployments in automated CI manner and more like local environment.

[2019-08-06 00:02] neolit123 commented on #631
even if 1.11 was in the support skew we cannot backport `join --experimental-control-plane` to it, as it's a major feature.

i think kind should just fail if the primary control-plane image has 1.11 and the user fed more than one CP nodes in the kind config.

[2019-08-06 00:28] BenTheElder commented on #631
Er right, we need to detect and handle the version here in kind. My point
was that even if kind dropped support for 1.11 it's unlikely that 1.12
would see changes related to this, and for other versions we should be
switching the flag based on versions.

On Mon, Aug 5, 2019, 17:02 Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-08-06 00:28] BenTheElder commented on #631
/assign

On Mon, Aug 5, 2019, 17:28 Benjamin Elder <bentheelder@google.com> wrote:

[2019-08-06 02:03] ZhengZhenyu commented on #188
@aojea Sorry for the delay, checking

[2019-08-06 02:07] ZhengZhenyu commented on #188
@aojea the error seems to be:

INFO: Call stack for the definition of repository 'containerregistry' which is a http_archive (rule definition at /root/.cache/bazel/_bazel_root/e96b51b7d54f19bc30c74f61e708a712/external/bazel_tools/tools/build_defs/repo/http.bzl:237:16):
2019-08-05 18:15:47.172462 | ubuntu-xenial-arm64 |  - /root/.cache/bazel/_bazel_root/e96b51b7d54f19bc30c74f61e708a712/external/io_

[2019-08-06 03:13] TrentonAdams commented on #110
@BenTheElder Thanks.

[2019-08-06 06:23] TheErk commented on #620
I'll try the solution of the link today and come back here right away.

[2019-08-06 07:33] TheErk commented on #620
So the provided solution does not work for me because my current gitlab-ci config does not seem allow me to run `docker:dind` as a service (service is not starting) as done https://github.com/kind-ci/examples/blob/9021a580cbe505a5eaca98d9ab09c43e92adbe07/.gitlab-ci.yml#L6

We should nevertheless close this issue because this appear to be a gitlab ci config issue on my side and nothing else.

[2019-08-06 07:33] #620 closed

[2019-08-06 07:38] aojea commented on #188
:thinking: I can download this file https://github.com/google/containerregistry/archive/v0.0.34.tar.gz, however the message says the connect timed out

[2019-08-06 08:23] aojea commented on #188
@ZhengZhenyu the logs are showing a lot of errors related to bazel issues and I know that upstream is having a hard time everytime that bazel release a new version. https://logs.openlabtesting.org/logs/periodic-6/18/github.com/kubernetes-sigs/kind/master/kind-integration-test-arm64/d1a63fc/job-output.txt.gz

@ZhengZhenyu I can see what bazel version is used for the jobs, is it pinned to a specific

[2019-08-06 08:32] aojea commented on #622
I'm not sure that statement about that native K8s has a local provisioner is correct, actually, conformance testing doesn't need it and people may want to use other provisioners like NFS or Ceph.
Also, you can always install your preferred local provisioner, metric server, CNI plugin, ... once kind finish the installation is just adding an extra step in your CI.

However, seems that not having it

[2019-08-06 08:56] TheErk commented on #630
I did update my config with:
- kind version: v0.4.0
- Kubernetes version: v1.15.0

and follow: https://github.com/kind-ci/examples/blob/master/.gitlab-ci.yml
I still have issue as explained here:
https://github.com/kubernetes-sigs/kind/issues/620#issuecomment-518546154

I'll come back here when I find my solution. Since this may be very gitlab configuration specific, feel free to close this ticket

[2019-08-06 09:04] ZhengZhenyu commented on #188
@aojea yes, the bazel version is now pinned to 0.28.1 and it was pinned to 0.23, we upgraded it few weeks ago because envoy project required. could that be the problem?

[2019-08-06 09:16] aojea commented on #188
yeah, definitively, can we try with another version only for that job?

[2019-08-06 09:38] radu-matei commented on #303
For future reference, here's a working pod spec for running `kind` in a pod:
(The image used is based off `docker:dind` and adds Go 1.11 and `kind` - feel free to swap it for your own image).

(cc @BenTheElder - is this a sane pod spec for `kind`?)

That being said, there should also be documentation for:

- _why_ `kind` needs the volume mounts and what impact they have on the underlying node infr

[2019-08-06 09:40] ZhengZhenyu commented on #188
@aojea I will have to discuss with the team to see if we can have a unique worker for kind

[2019-08-06 10:16] aojea commented on #188
@ZhengZhenyu we can install our own version for the kind job https://docs.bazel.build/versions/master/install-ubuntu.html#install-with-installer-ubuntu , no need to have a unique worker

[2019-08-06 11:13] ZhengZhenyu commented on #188
@aojea yes, there is no arm64 release so we have to build from source which takes hours, so we pre-built it and put it in the image of the worker, I've checked with my team and maybe the old version is still there and I could just simply copy it to path to overwrite the newer version the first step in our kind job.

[2019-08-06 11:28] ZhengZhenyu commented on #188
@aojea Oops, checking from the server, the old version got deleted, so I have to rebuild it, this might take few hours, so I guess it could not be done during my office hours today.

[2019-08-06 13:24] aojea commented on #188
@ZhengZhenyu Please, check if this version works for you, this is the version I´m using on my local tests https://www.dropbox.com/s/0gygwih4256974k/bazel-0.26.1-aarch64?dl=0

[code]
[code]

[code]

[2019-08-06 21:23] BenTheElder commented on #630
SGTM, it would be very helpful to document there and post a link back to here then.

I'm hoping to direct more of the CI specific config etc. there, we're starting to link out to it in https://kind.sigs.k8s.io/docs/user/resources/#using-kind-in-ci

[2019-08-06 21:23] #630 closed

[2019-08-07 00:00] gerardo commented on #706
Hey @BenTheElder, I'd like to revisit the kind use case inside a container. I saw https://github.com/kubernetes-sigs/kind/issues/706 but I'm not quite sure I understand the required paths for making it work. Are you saying mounting `/lib/modules`and `/sys/fs/cgroup` from the host is a requirement? What if the host is a Mac?

Also, what's the path for docker storage? `/var/lib/docker` in its entire

[2019-08-07 00:09] BenTheElder commented on #706
The latter is a requirement if you're adding another layer on top of kind. The former is also useful.

There's no native docker on Mac, it will get those mounts from the host VM.

That's configurable. You're looking for the docker data root.

Wherever the container filesystems will be mounted cannot also be a container filesystem.

[2019-08-07 00:10] BenTheElder commented on #706
Not that aside from the modules which some Kubernetes related tooling will inspect, the rest of those are entirely about "nesting" containers and have no particular significance to kind.

[2019-08-07 02:25] TrentonAdams opened #758 "kind not properly supporting ingress-nginx"
kind not properly supporting ingress-nginx

Keep in mind this worked in kubeadm-dind

**What happened**:
I installed the ingress-nginx as indicated at https://kubernetes.github.io/ingress-nginx/deploy/ use the mandatory file and the "baremetal" file, but any requests to my app return it's home page, rather than proper sub-paths

**What you expected to happen**:
I expected to have sub-paths passed

[2019-08-07 03:12] ZhengZhenyu commented on #188
@aojea Hmm, are you sure? 0.26 seems not ok + kind build node-image --base-image kindest/base:latest --type=bazel --kube-root=/home/zuul/src/k8s.io/kubernetes
2019-08-07 03:04:48.421646 | ubuntu-xenial-arm64 | Starting local Bazel server and connecting to it...
2019-08-07 03:04:58.516265 | ubuntu-xenial-arm64 | Loading:
2019-08-07 03:04:58.527968 | ubuntu-xenial-arm64 | Loading: 0 packages loaded

[2019-08-07 03:17] ZhengZhenyu commented on #188
I'm building again for 0.24

[2019-08-07 03:57] TrentonAdams commented on #758
I apologize, this is not true, it does not work in kubeadm-dind either.  I don't know how I had it working.

[2019-08-07 03:57] #758 closed

[2019-08-07 03:58] BenTheElder commented on #758
FWIW ingress-nginx actually [uses kind for CI](https://github.com/kubernetes/ingress-nginx/tree/master/test/e2e), I'll dig into this a bit before reaching out to them if need be ...

[2019-08-07 03:59] BenTheElder commented on #758
Ah, ok. Good luck with that!

[2019-08-07 04:28] TrentonAdams commented on #758
I decided to install and use helm to get it running.  It then gave me instructions, and the proper ingress yaml to use.

For my application, this now means a proper load balancing of back-ends...
[code]

[2019-08-07 05:00] TrentonAdams commented on #758
So I got the ingress going on kind, but doing it via helm doesn't work at all.  it claims about not having the permissions.

Is this a misunderstanding on my part for not properly configuring kind, or should I file a bug regarding this?
[code]
Error: release my-ingress failed: namespaces "ingress" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "namespaces" in AP

[2019-08-07 05:41] tao12345666333 commented on #758
Maybe you need read https://kubernetes.io/docs/reference/access-authn-authz/authentication/  and https://helm.sh/docs/using_helm/#role-based-access-control

Your `helm` looks incorrectly configured.

[2019-08-07 06:04] TrentonAdams commented on #758
Oh, I didn't realize kind had authorization stuff enabled.  I've been using kubeadm-dind, so I never had an issue with it before. I suppose I need to investigate that a little.

[2019-08-07 15:40] howardjohn opened #759 "Potential resource leak"
**What happened**:
On July 10th, we started using kind in our prow cluster for Istio (see https://github.com/istio/test-infra/pull/1455). We have about 6 tests or so that use kind, and maybe run 40 tests a day, so I'd estimate we are creating roughly 250 kind clusters a day across 60 nodes.

Ever since July 10th, we have run into problems on our cluster. Almost immediately, we ran out of inotify w

[2019-08-07 16:13] aojea commented on #759
this issue remembers this other one https://github.com/kubernetes-sigs/kind/issues/421

[2019-08-07 16:17] howardjohn commented on #759
I did run into that while investigating, but it seems the conclusion was

By the way, if it is relevant, we never do `kind cluster delete`, we just do `kind create cluster` then run some test and exit.

[2019-08-07 16:37] aojea commented on #759
but ... then the old cluster containers keep running forever ... is it possible to add the `kind cluster delete` to your workflow once the tests finish and check if this solves the problem?

[2019-08-07 16:45] howardjohn commented on #759
But we run it in a pod, once the pod is removed shouldn't everything be cleaned up? Or maybe because we have

[code]

in our pod spec, so it never gets properly cleaned up.

I'll try adding the delete cluster to the end.

Does Kubernetes prow do this in their tests using kind? I am worried if the test crashes part way through we won't properly clean up

[2019-08-07 16:48] aojea commented on #759
@BenTheElder is the authority on this, but the tests that are running in the CI execute the `hack/ci/e2e.sh`, and it does have a cleanup function that delete the cluster on capturing the EXIT

https://github.com/kubernetes-sigs/kind/blob/991e45e7751b2038a2494efd95e1453bb4adc828/hack/ci/e2e.sh#L27

[2019-08-07 16:50] howardjohn commented on #759
Thank you! we will try that out

[2019-08-08 00:40] howardjohn commented on #759
Well, it seems resolved - hard to be 100% sure since its only been 8 hrs, but seems good. I feel pretty dumb trying to figure this out for a month or so when it was such a simple fix -- thanks for the help!!

[2019-08-08 00:40] #759 closed

[2019-08-08 00:45] BenTheElder commented on #759
The docker in docker runner / wrapper script we use in test-infra / prow.k8s.io also terminates all containers in an exit handler, amongst other things, redundantly to the cluster deletion we do in the kind specific scripts.

[2019-08-08 05:12] BenTheElder commented on #758
Ah yeah that'll do it. FWIW we're using kubeadm defaults for auth. I would expect recent clusters to have RBAC by default, kubeadm or otherwise, but this didn't even exist in earlier versions of Kubernetes 😅

[2019-08-08 06:03] TrentonAdams commented on #758
Odd, I never had a problem using helm with kubeadm-dind, perhaps they didn't include it by default.

[2019-08-08 12:41] ZhengZhenyu commented on #188
@aojea  Hi, sorry for the delay, I've tried serveral versions, and finally rolled back to 0.23.2 and manually tested(no log will be updated), you should be able to see the results after next periodic run.

[2019-08-08 16:14] cig0 opened #761 "How to enable RBAC in kind?"
Hi,

I know how to manage the RBAC authorization in a K8s cluster, like:

`$ kubectl start apiserver --authorization-mode=RBAC`

How can accomplish the same thing with kind?
Thanks in advance!

[2019-08-08 18:44] howardjohn commented on #303
Make sure you do `kind delete cluster`! See https://github.com/kubernetes-sigs/kind/issues/759

[2019-08-08 20:16] wreed4 commented on #710
I'm on linux and currently having this problem.  No dns resolution, but connecting via IP address works fine.

[2019-08-08 20:41] wreed4 commented on #710
I'm getting really sporadic results from nslookup
[code]
[code]
[code]

meanwhile, here's the logs from core-dns...
[code]
which confuses me because that seems an awful lot like they're not accepting requests
[code]

[2019-08-08 22:06] aojea commented on #761
cc @neolit123 , I think RBAC is enabled by default, isn´t it?

[2019-08-08 22:08] aojea commented on #736
ping @howardjohn :)

[2019-08-08 22:10] howardjohn commented on #736
Seems like its only happened once from an (incomplete) grep of some of our logs. We recently upgrade to 0.4 and fixed https://github.com/kubernetes-sigs/kind/issues/759 so this probably isn't relevant, kind has been pretty stable for us. I just moved almost all of our tests over to kind now and haven't ran into any problems :slightly_smiling_face:

Going to close this since I don't think it is rel

[2019-08-08 22:10] #736 closed

[2019-08-08 22:13] neolit123 commented on #761
hi, kind uses kubeadm for cluster creation and kubeadm adds `--authorization-mode=Node,RBAC` to the default flags of the kube-apiserver.

RBAC is already enabled for you.
for using RBAC see here:
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

/close

[2019-08-08 22:13] #761 closed

[2019-08-08 22:19] neolit123 commented on #746
/retitle proxy issue: any pod image can't be pulled

[2019-08-08 22:52] cig0 commented on #761
Thank you!

[2019-08-08 23:24] aojea commented on #188
@ZhengZhenyu you did it, now is building the cluster.
However, seems that the testgrid config has changed and I can´t find the dashboard to check the errors, will try to check tomorrow

[2019-08-09 01:48] nimakaviani opened #762 "Installing Istio fails when trying to match resources"
**What happened**:

I wonder if anyone has tried installing Istio on kind. I get the following errors when trying to install Istio 1.1.11:

[code]

Looking at this issue https://github.com/knative/serving/issues/2195 it appears to be due to a bug with the the earlier micro versions of K8s 1.11+.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to

[2019-08-09 06:10] BenTheElder commented on #762
kind by default runs v1.15.x

What is your kubectl version?

Have you looked at https://kind.sigs.k8s.io/docs/user/known-issues/ ?

[2019-08-09 06:11] tao12345666333 commented on #758
You can skip it by using Helm v3, or using Helm v2 with tiller run local (one hack way).

[2019-08-09 06:11] BenTheElder commented on #762
I don't think this is a bug in kind, I'm pretty sure this is an issue with how istio is being installed.

[2019-08-09 06:13] BenTheElder commented on #762
Did you skip a step installing CRDs before installing the rest? Those errors relate to those resource types not existing yet. Since they are istio specific a normal Kubernetes cluster generally won't ship them out of the box.

[2019-08-09 06:27] BenTheElder commented on #736
🎉

[2019-08-09 08:47] wilmardo commented on #710
@wreed4 Do you have log in the CoreDNS configmap?

[2019-08-09 15:28] adrianludwin opened #763 "Can't run KIND on ChromeOS Linux VM"
**What happened**: I tried to run `kind` (v0.4.0) on the Linux VM in Chrome OS 75.0.3770.144:

[code]

Based on the error and a quick look at the source code, I decided to try to run `kindest/node` manually, and got the following result:

[code]

I _suspect_ (but have not tried to confirm) that this comes from the following lines in `images/base/entrypoint`:

[code]

**What you expected to happen*

[2019-08-09 15:30] BenTheElder commented on #763
We need to do that remount.

There is also a previous bug for this. I don't think kind will work inside the chromeOS sandbox at the moment.

[2019-08-09 15:32] BenTheElder commented on #763
mount: /sys: permission denied.

Permission is denied because this command line is missing flags related to that (which kind will include).

If you run kind with --loglevel=debug you can see more detail including this command.

[2019-08-09 15:33] BenTheElder commented on #763
https://github.com/kubernetes-sigs/kind/issues/462

[2019-08-09 15:34] adrianludwin commented on #763
Thanks for the fast response, sorry for missing the other bug. Do we know
if this is the last remaining blocker for Chrome OS? And is there a bug
assigned to Chrome OS?

Sent from my phone

On Fri, 9 Aug 2019, 11:30 am Benjamin Elder, <notifications@github.com>
wrote:

[2019-08-09 15:37] BenTheElder commented on #763
We don't know what the blocker is yet, and I don't have access to a setup suitable for testing this. The existing bug doesn't have enough details either.

This may not even be considered a bug on their end. Kubernetes / the container runtimes need relatively elevated permissions to run at the moment, I suspect the sandbox is too secure :+)

[2019-08-09 16:08] adrianludwin commented on #763
Re #462: I did see that bug but I thought this was something different. My computer successfully got past the "preparing nodes" step but died on the next "Creating kubeadm config" step.

Can I provide any more details that would help with this? Agreed that there's a chance ChromeOS won't want to "fix" this but I'm motivated to push on it a bit :)

Here's the result of the debug logs:
[code]

I'll

[2019-08-09 16:09] adrianludwin commented on #763
Running the `docker run` command on its own, without `-d`, has the same result I got initially:

[code]

[2019-08-10 00:25] nimakaviani commented on #762
No, this snippet installs everything istio needs in any other kubernetes cluster I tried.

[code]

It is not with Istio only that I see the error, tried Knative too and similar error messages pop up. Only with kind as the cluster.

[code]

[2019-08-10 00:50] nimakaviani commented on #762
aside from the CRD issue, I wonder if anyone has tried installing Istio on Kind to check whether or not it works.

[2019-08-10 04:57] BenTheElder commented on #762
The istio project has CI running on kind..

[2019-08-10 04:59] BenTheElder commented on #762
What other clusters did you try?

Have you checked our known issues guide, is your kubectl too far off from the server version?

[2019-08-10 05:04] BenTheElder commented on #763
How was docker installed?
What other security mechanisms does this system have?
Can you do mounts in a container at all?
If you run the same thing but `-it --entrypoint=/bin/bash` can you do `mount -l` to list the mounts?

[2019-08-11 23:00] adrianludwin commented on #763
I followed the instructions for [Docker-on-Pixelbook](https://hackernoon.com/pixelbook-revisited-running-docker-containers-aa7c742a7dec) (basically `sudo apt-get install docker-ce`), using the Debian repo (not Ubuntu). I didn't need any of the stuff about a blacklisted syscall - it Just Worked for me when I installed it.

I have no idea. AFAIK it's stock ChromeOS but it's managed by my employer (G

[2019-08-12 15:43] nicks commented on #602
@aojea I think #110 is a prerequisite for what I'm asking for here, but isn't the complete story. But I also trust the KIND team on however you all want want to draw the boundaries around issue requests and/or judge them as dupes

[2019-08-12 17:30] aojea commented on #602
fair enough, let's keep this open then

[2019-08-12 20:32] nimakaviani commented on #762
what I noticed is that installing the CRDs fails first time around but if I try to redeploy after a little while it will successfully deploy. Basically similar to this comment https://github.com/knative/serving/issues/2195#issuecomment-448648434 from the issue I linked earlier.

I have tried GKE and IKS with the above installation instructions and I get Istio 1.1.11 without any problem.

my kubect

[2019-08-12 20:51] #594 closed

[2019-08-12 20:57] BenTheElder opened #765 "use service account instead of access token for private registry example"
https://github.com/kubernetes-sigs/kind/pull/756#discussion_r310884414

/cc @chemikadze

[2019-08-12 21:27] BenTheElder commented on #622
We _are_ using a native and built in (to kubernetes) storage driver here for the moment. this limitation is not one created by kind, and a custom storage class or alternative default storage class can be used.

This particular issue is essentially a duplicate of https://github.com/kubernetes-sigs/kind/issues/118, with the addition of desiring change in the Kubernetes built in storage driver.

I do

[2019-08-12 21:30] BenTheElder commented on #622
Please understand that we wholly intend to deliver a work around for this, but:

- From Kubernetes's POV, hostPath should require root, because hostPath is a privileged thing to give a pod access to. I don't think this is likely to change, but if it is, it will need to be tracked upstream.

- #118 already tracks alternative drivers with more context.

Given these, I am going to ask that we use #11

[2019-08-12 21:30] #622 closed

[2019-08-12 21:56] aojea commented on #118
Seems that's been worked https://github.com/rancher/local-path-provisioner/pull/24

[2019-08-12 23:03] mauilion opened #766 "Update docs.k8s.io/setup/learning-environment/minikube/"
**What would you like to be documented**:
We should update the docs on docs.k8s.io/setup/learning-environment/minikube/
to have a "kind" example.

**Why is this needed**:
kind may not yet be stable enough to provide for this but when it is we should document kind as a learning environment! With the capabilities around multinode I think it can be a more useful learning env than minikube in many way

[2019-08-13 08:03] aojea commented on #188
@ZhengZhenyu the e2e tests are running but is failing to upload the results because the script seems to need python > 3.6 but the node has python 3.5

[code]

The [encoding argument is not present in python 3.5](https://docs.python.org/3/library/subprocess.html#subprocess.run)

Is it possible to use python > 3.6?

[2019-08-13 10:06] ZhengZhenyu commented on #188
@aojea sure, I will try

[2019-08-13 16:27] prankul88 commented on #713
Closing since a PR has been created fixing this issue.

[2019-08-13 16:27] #713 closed

[2019-08-13 19:26] BenTheElder commented on #762
This part:
[code]
Is both installing CRDs and installing CRs based on them, simultaneously. This is a bad idea, and a race.

[2019-08-13 19:40] BenTheElder commented on #762
Installing istio from their latest docs works fine, which involves installing the CRDs seperately first:
https://istio.io/docs/setup/kubernetes/#downloading-the-release
then:
https://istio.io/docs/setup/kubernetes/install/kubernetes/

[code]

[2019-08-13 19:43] BenTheElder commented on #762
I then followed this with https://knative.dev/docs/install/knative-with-any-k8s/ which says:

And this worked fine (on the same kind cluster).

This is a problem with their install process. They should ensure that the CRDs are ready to serve before creating CRs from them.

The workaround in their docs does however seem to work.

[2019-08-13 20:22] nimakaviani commented on #762
Right so the installation instructions on Knative probably need to split the steps for installing the CRs and the CRDs too:

https://knative.dev/docs/install/Knative-with-any-k8s

But more importantly, the race issue seems to have been addressed before (see https://github.com/kubernetes/kubernetes/issues/62725 and the corresponding PR), so not sure if this is still a problem in the core of kuberne

[2019-08-13 21:31] BenTheElder commented on #762
kubernetes/kubernetes#62725 is about solving the race when you create one **shortly after** (emphasis mine), the problem here is _simultaneously_ creating them.

Think of a CRD = CustomResourceDefinition like a table schema in a relational database, and a CR = CustomResource instance as an entry in the matching table.

Creating both CRDs and CRs at the same time is then like creating tables while

[2019-08-13 21:42] aojea commented on #188
we hit another problem , seems the account is not longer valid

[code]

[2019-08-14 00:57] BenTheElder commented on #681
closing due to lack of follow up, I suspect go modules were not enabled.

[2019-08-14 00:57] #681 closed

[2019-08-14 04:17] rjshrjndrn commented on #762
@nimakaviani I created a local rancher, and install istio with that. Works fine for me.

[2019-08-14 04:25] rjshrjndrn opened #769 "Where to check the containers in node images?"
Hi,
Thank you for this wonderful tool.
One quick question.
I know, we don't have docker running in agent nodes. Is there any way to see the pods, means the actual containers?

Regards,
Rajesh

[2019-08-14 06:24] nimakaviani commented on #762
@rjshrjndrn which installation instructions did you use? The one I referenced or @BenTheEldsr ‘s or something else?

[2019-08-14 09:53] aojea commented on #188
@dims @ZhengZhenyu do you have an idea on what can be the problem with the service account? ^^

[2019-08-14 11:40] rjshrjndrn commented on #762
I didn't tried the helm installation.
1. Create cluster with Kind
2. Create rancher container and imported the cluster
3. From the app catalog, installed istio

[2019-08-14 15:32] BenTheElder commented on #769
Hi 🙂

I'm not certain in which way you mean so I'll list multiple:
- Pods in the cluster: `kubectl get pods --all-namespaces`
- Containers on a node: `docker exec node-name crictl ps`

[2019-08-14 16:44] meyerbro commented on #118
Hey @yasker, I'm having the same issue as @rimusz had... No PV gets created... Tried with 2 clusters (v1.14.1 and v1.13.5)... I created an issue there: https://github.com/rancher/local-path-provisioner/issues/39

[2019-08-14 19:28] BenTheElder commented on #303
That's pretty sane. As @howardjohn notes please make sure you clean up the top level containers in that pod (IE `kind delete cluster` in an exit trap or similar). DNS may also give you issues.

- /lib/modules is not strictly necessary, but a number of things want to probe these contents, and it's harmless to mount them. For clarity I would make this mount read-only. No impact.
- cgroups are mounte

[2019-08-14 19:30] cezarsa opened #771 "Pod stuck in Terminating if a configmap is mounted with subPath"
**What happened**:

When I create a pod which includes a configmap volume and if the volume mount uses a `subPath` it's not possible delete the Pod, it stays in `Terminating` forever.
This is a weird one and it only seems to happen on Mac, colleagues on Linux were unable to reproduce, so it's possibly a docker issue.

**What you expected to happen**:

I expected the Pod to be deleted after a delet

[2019-08-14 22:38] BenTheElder commented on #763
xref: https://bugs.chromium.org/p/chromium/issues/detail?id=878034

[2019-08-14 22:55] BenTheElder commented on #771
I can replicate this and see the error.

[2019-08-15 22:20] aojea commented on #771
Are there more logs associated? `journalctl | grep cmap`

What happens if you try to unmount it manually ?

[code]

[2019-08-15 22:24] BenTheElder commented on #771
I'm pretty sure I know what this is, just ran out of time to patch it yesterday and then today we've had some upstream things to patch :-)

There are more logs yes, but that's the relevant part. If you run umount manually you won't get a different result. This is a bug in kind.

[2019-08-15 23:04] aojea commented on #769
crictl has a nice documentation to debug issues https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/

[2019-08-15 23:05] #771 closed

[2019-08-15 23:22] BenTheElder commented on #771
This _should_ be fixed (and probably other things!) with the latest version, please let me know if you see this again. We'll be cutting a new release soon but need to check on some unrelated issues 😅

[2019-08-15 23:22] BenTheElder commented on #771
Also: Thanks for reporting this, and for the detailed report and minimal reproducer!

[2019-08-15 23:29] BenTheElder commented on #766
so minikube recently followed with [minikube.sigs.k8s.io](https://minikube.sigs.k8s.io) for docs, I think the plan going forward is to link out to upstream docs, we could probably link to our [quick-start page](https://kind.sigs.k8s.io/docs/user/quick-start/) once that is settled.

cc @zacharysarah

[2019-08-15 23:35] BenTheElder commented on #762
Going to close this since the current istio / knative docs do not have this issue. If you have more questions please re-open or file a new issue 😅

[2019-08-15 23:35] #762 closed

[2019-08-15 23:38] BenTheElder commented on #284
In general the problem is knowing what to override with. Ideally the host's DNS should be suitable, the only recurring case is that of sticking kind in a kubernetes pod from another cluster. In this case you can configure DNS on that pod.

It might be possible to create a wrapper script to detect the upstream DNS servers somehow and patch the dns config in the pod with this before running kind to

[2019-08-15 23:40] BenTheElder commented on #153
[changed my mind on frozen for this issue... but moving to backlog as it's not really clear that varying CRIs on the nodes matters for cases kind is suited to, and this will introduce additional complexity]

[2019-08-16 01:42] ZhengZhenyu commented on #188
@aojea Hi, sorry for the delay, we also had the similar problem in cloud-provider-openstack job, and my colleague checked yesterday, it turns out it is a wrong use of `subprocess`, the `stdin` should probably be deleted.

[2019-08-16 07:56] subokita opened #774 "KinD inside docker-machine"
Why does KinD spout out error like this:
`docker: Error response from daemon: cgroups: cannot find cgroup mount destination: unknown`
When it's run inside a docker-machine (e.g. after eval `$(docker-machine env)`)

Is it possible to run in after `eval $(docker-machine env)`, do I need to change some of the ENV values? Or it's simply impossible to do so.

[2019-08-16 08:50] #769 closed

[2019-08-16 19:06] BenTheElder commented on #774
Hi, I don't think docker-machine works, but can't confirm one way or the other at the moment. We've seen limited interest..
I test manually on docker desktop for macOS / Windows and in CI + manually with docker-ce (the open source Linux packages).

[2019-08-16 22:44] BenTheElder commented on #735
This one is tricky, how do we actually know when an image should be removed? If I have long running tests and I side-load the images, how do I ensure they don't get GCed midway through? How is this distinguished from repeatedly loading an app?

I'm thinking we could maybe specifically GC image layers that are not referenced by a current tag, but that may not be sufficient, especially for workflows

[2019-08-16 22:45] BenTheElder commented on #719
ref: https://github.com/kubernetes-sigs/kind/pull/729

[2019-08-16 22:48] BenTheElder commented on #410
AFAICT this is not possible. Linux containers on a linux "node" can run on windows in various ways, but a windows "node" container is not possible at the moment.

[2019-08-16 22:48] #410 closed

[2019-08-16 22:48] BenTheElder commented on #410
We will come back to this if / when it becomes possible

[2019-08-16 22:49] BenTheElder commented on #109
We considered it, there will be a logging shim of some sort that makes it possible to wire to your own logging backend, but we will probably not depend on klog in the kind CLI.

[2019-08-16 22:49] #109 closed

[2019-08-16 22:58] BenTheElder commented on #680
this is still incorrect, finally got a chance to look at this.
/assign
/lifecycle active

[2019-08-17 00:18] #680 closed

[2019-08-18 02:26] WalkerGriggs commented on #765
@BenTheElder I might as well take this one on, too, since I started us down this path.

I added Service Account documentation but left the access token snippet in as well -- gives people the option. Let me know what you think

[2019-08-18 18:25] #52 closed

[2019-08-19 15:37] aojea commented on #735
is this not a problem of kubernetes in general?
or is specific for kind?

[2019-08-19 16:00] aojea commented on #774
I' ve documented my experience with docker-machine here
https://github.com/kubernetes-sigs/kind/issues/377

I was only able to solve that problem rebooting the virtualbox VM used by docker :(

The conclusion was to use DockerDesktop , also docker is considering docker-machine legacy
https://github.com/kubernetes-sigs/kind/issues/377#issuecomment-489005588

[2019-08-19 16:48] BenTheElder commented on #735
Kubernetes has imageGC but it's tied to how much disk is left and not particularly sophisticated (basically evict pods when disk is low and evict images not used by pods). On a non-noisy non-shared host the cluster administrator sets a threshold and the disk is dedicated to Kubernetes.

With kind the disk is just the users host disk and isn't dedicated. Users boot with low disk all the time with k

[2019-08-19 16:50] BenTheElder commented on #735
This problem is specific to long lived kind clusters that load / pull lots of images.

[2019-08-19 17:47] aojea commented on #735
The seems the same problem that docker has :)

[code]

[2019-08-19 17:57] BenTheElder commented on #735
A subset of docker prune is basically what kubelet does.
The difference is the user manually triggers docker prune from the host.
With Kubernetes you expect kubelet to handle this, but for kind we have it
disabled.

On Mon, Aug 19, 2019, 10:47 Antonio Ojea <notifications@github.com> wrote:

[2019-08-20 16:13] WalkerGriggs commented on #735
With the image GC flag deprecated, it feels that the last option is probably the more reasonable. Thoughts on either of these solutions?

- `prune` can filter images by their unused age. Instead of a set time frame, could we prune images that have been unused for a time proportional to cluster's lifetime (older than a certain threshold of course)?

- Maybe this is a configurable feature, and leave

[2019-08-20 17:53] aojea commented on #112
/remove-lifecycle stale
This pops up from time to time in the channel

[2019-08-20 18:53] BenTheElder commented on #689
The node API is getting significantly overhauled in ~0.6, we'll plumb through the right info then.

The node struct is for runtime access and may not have the config, this should be handled at creation time, via plumbing through the subnets from config.

[2019-08-20 18:59] BenTheElder opened #781 "v0.5.0 release"
This release has been pushed back for a long time, however we made important fixes to node creation and `kind load docker-image`, which are now more thoroughly tested and appear to be complete and correct. It is past time to release.

- [x] Milestone issues completed or punted
- [x] Push new Kubernetes v1.15.x image
  - [x] make this the new default node image
- [x] Push new Kubernetes v1.14.x ima

[2019-08-20 19:02] BenTheElder commented on #781
`kindest/node:v1.15.3@sha256:27e388752544890482a86b90d8ac50fcfa63a2e8656a96ec5337b902ec8e5157` is pushed, https://github.com/kubernetes-sigs/kind/pull/782

[2019-08-20 19:29] BenTheElder commented on #781
pushed `kindest/node:v1.14.6@sha256:4d53072ec035d82a70e9d88972d0eb63846706a892438238b6b54a4531c33a9d`

[2019-08-20 19:40] BenTheElder commented on #781
pushed `kindest/node:v1.13.10@sha256:2f5f882a6d0527a2284d29042f3a6a07402e1699d792d0d5a9b9a48ef155fa2a`

[2019-08-20 19:58] BenTheElder commented on #781
pushed `kindest/node:v1.12.10@sha256:e43003c6714cc5a9ba7cf1137df3a3b52ada5c3f2c77f8c94a4d73c82b64f6f3`

[2019-08-20 20:06] BenTheElder commented on #781
`kindest/node:v1.11.10@sha256:bb22258625199ba5e47fb17a8a8a7601e536cd03456b42c1ee32672302b1f909`

[2019-08-20 21:26] BenTheElder commented on #781
PR to mark the release https://github.com/kubernetes-sigs/kind/pull/783

writing release notes currently.

[2019-08-20 22:05] BenTheElder commented on #781
https://github.com/kubernetes-sigs/kind/releases/tag/v0.5.0

[2019-08-20 22:05] #781 closed

[2019-08-21 04:31] snickerson-holon opened #787 "tiller permission errors"
I am getting a failed build, after what appears to be much success in builds.
This is running Arch Linux on a laptop, 32 G RAM and plenty of room.
I am lost, looking for a clue.
To my eye, it has something to do with the pull image, but why escapes me.

[code]

[2019-08-21 07:36] BenTheElder commented on #765
that looks great, thanks!

[2019-08-21 07:40] BenTheElder commented on #787
hi, what version of kind are you using / how did you install it?

that looks an awful lot like a bug we should have fixed in the latest release, it shouldn't actually need to pull `kube-apiserver`

[2019-08-21 17:19] sudermanjr opened #791 "v0.5.0 has no darwin build"
**What happened**:

The 0.5.0 release seems to be missing a darwin binary.  There is now a linux-arm binary (awesome), but no darwin.

[2019-08-21 17:21] BenTheElder commented on #791
/assign
/priority critical-urgent
/lifecycle active

[2019-08-21 17:53] sudermanjr commented on #791
Seems to be there now.  I'm trying it out.

[2019-08-21 17:55] BenTheElder commented on #791
this specifically is fixed, however we have a larger problem which I'm filing a more specific bug for.

[2019-08-21 17:56] sudermanjr commented on #791
👍

[2019-08-21 17:56] #791 closed

[2019-08-21 17:57] BenTheElder opened #792 "release process failures"
The following things are wrong with the release process:

- the cross build script used for releasing does not fail if one of the builds fails :warning:
- the cross build script is not in CI :warning:
- the kustomize version we are depending on does not build for windows :warning:
- the release scripts do not perform a clean before building :warning:

I've uploaded cleanly built binaries for the o

[2019-08-21 17:58] BenTheElder commented on #792
see also: https://github.com/kubernetes-sigs/kind/issues/791, https://github.com/kubernetes-sigs/kustomize/issues/1212, https://github.com/kubernetes-sigs/kustomize/pull/1374

[2019-08-21 17:58] BenTheElder commented on #791
https://github.com/kubernetes-sigs/kind/issues/792

[2019-08-21 17:58] BenTheElder commented on #791
sorry about that! working on this ... :man_facepalming:

[2019-08-21 18:04] sudermanjr commented on #791
No worries.  Thanks for the fast response!

[2019-08-21 18:05] sudermanjr commented on #792
Are these release issues also related to this error message I got when using one of the images from the v0.5.0 release?

[code]

If not, I will open another issue.

[2019-08-21 18:06] BenTheElder commented on #792
No that is not related.

[2019-08-21 18:11] sudermanjr opened #793 "v1.14.6 node image in v0.5.0 release is not available on Docker hub"
**What happened**:
[code]

**What you expected to happen**:

That image manifest (specifically mentioned in the v0.5.0 release), should be available to pull from Docker hub when creating a new cluster from this version of kind.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`): v0.

[2019-08-21 18:12] BenTheElder commented on #792
regarding the failure to exit non-zero on build failure: https://ss64.com/bash/wait.html

:man_facepalming:

[2019-08-21 18:15] sudermanjr commented on #793
This is extra confusing as the image appears to exist:

[code]

[2019-08-21 18:42] monopole commented on #792
releasing kustomize for windows at https://github.com/kubernetes-sigs/kustomize/releases is blocked by https://github.com/kubernetes-sigs/kustomize/issues/834.  We need a build and unit test run in the pre-commit.

[2019-08-21 18:46] BenTheElder commented on #792
@monopole what about just a cross build? We don't need windows machines or unit tests to ensure build works.

[2019-08-21 20:26] BenTheElder commented on #792
https://github.com/kubernetes-sigs/kind/pull/794 should:
- make the cross build included in presubmit
- fail the cross build if any job fails
- upgrade kustomize to HEAD (which is the windows patch commit)

Next we need to cut and tag a patch release.

[2019-08-21 20:48] BenTheElder commented on #792
https://github.com/kubernetes-sigs/kind/pull/795 marked the release, pushed the tag, adding notes and uploading binaries

[2019-08-21 20:55] BenTheElder commented on #792
https://github.com/kubernetes-sigs/kind/releases/tag/v0.5.1 is tagged now, will follow up to update the v0.5.0 release notes with a notice at the top

[2019-08-21 20:55] #792 closed

[2019-08-21 21:00] praseodym commented on #792
But also this:

Which means that the merged fix of doing `wait $(jobs -p)` will report the exit code of the slowest build.

Example:
[code]

[2019-08-21 21:14] BenTheElder commented on #792
Thanks @praseodym, @justinsb also pointed out via another channel that there's a race between the job starting and exiting.

We'll need a more robust fix for that script specifically :disappointed:

[2019-08-21 21:15] snickerson-holon commented on #787
Verified it was an older version. I just jumped the gun and assumed I ran the command incorrect.
Thanks for the reply.
Now I have a multi-kind cluster running, and trying to get helm/tiller to work.

[2019-08-21 21:15] BenTheElder commented on #793
now that #792 is more or less sorted
/assign
it looks like the correct hash is `sha256:464a43f5cf6ad442f100b0ca881a3acae37af069d5f96849c1d06ced2870888d`

I'm going to double check each of these...

[2019-08-21 21:17] BenTheElder commented on #793
the rest of them appear to work fine, specifically the v.14.6 image hash was wrong for some reason. I've updated it in the notes to `kindest/node:v1.14.6@sha256:464a43f5cf6ad442f100b0ca881a3acae37af069d5f96849c1d06ced2870888d`

[2019-08-21 21:21] BenTheElder commented on #793
I'm not sure how that happened (bad copy + paste into the release notes?) but I _think_ this is fixed now, please let me know if it is not!

[2019-08-21 21:21] #793 closed

[2019-08-21 21:22] BenTheElder commented on #787
kind runs with kubeadm defaults for the most part, possibly this is related to RBAC?

https://kubernetes.io/docs/reference/access-authn-authz/rbac/
https://github.com/helm/helm/blob/master/docs/rbac.md

[2019-08-21 21:35] snickerson-holon commented on #787
Thats what I thought, but out of the box I get errors, and I have tried the RBAC suggestions in the helm docs for roles and such, same outcome. I will look at the other link. Thanks again.

[2019-08-21 21:58] sudermanjr commented on #793
Yep, that worked.  Thanks!

[2019-08-22 00:14] BenTheElder commented on #792
follow up regarding `wait` https://github.com/kubernetes-sigs/kind/pull/798

[2019-08-22 15:25] barkbay opened #802 "Update kubeconfig when creating cluster"
**What would you like to be added**:

Would be neat that Kind automatically updates the `kubeconfig` of the user instead of creating a new one that should be imported manually.

Some things to consider:

## Patch and merge
One of the tricky part is that we have to patch the `kubeconfig` as it is provided by `kubeadm`:
1. host and port must be fixed in order to be used from an external host
2. if w

[2019-08-22 23:49] #765 closed

[2019-08-23 05:27] BenTheElder commented on #787
/retitle tiller permission errors

Can you share some more details of the setup and errors? I don't use tiller but someone might be able to help.

Also FWIW I would suggest considering using helm without tiller for better security.

[2019-08-23 09:09] fspaniol commented on #118
Has anyone been able to deploy NFS dynamic provisioning in KinD? When I try to follow the steps [here ](https://github.com/kubernetes-incubator/external-storage/tree/master/nfs#quickstart) I run into [this](https://github.com/kubernetes-incubator/external-storage/issues/1101) issue. It seems that NFS provisioning can't work on top of overlay, according to [this ](https://github.com/kubernetes-incu

[2019-08-23 09:12] aojea commented on #118
You need to run with a kernel +4.16 https://www.phoronix.com/scan.php?page=news_item&px=OverlayFS-NFS-Export-Linux-4.16

[2019-08-23 11:46] fspaniol commented on #118
@aojea I am running with kernel `4.18`:

[code]

[2019-08-23 11:54] aojea commented on #118
@fspaniol I was able to mount nfs volumes inside the pods manually, don't know about the NFS provisioner, sorry.
Can you try to first to mount and export a nfs volume manually?

[2019-08-23 13:56] snickerson-holon commented on #787
I found rbac manifests to get me going, looking thru how they work to better tweak them.
RBAC is not for the feint of heart.
Is Tillerless ready for prime time? If you have a link to a good walk thru much appreciated, I will start the DuckDuckGo search as well.
Thanks for the reply!

[2019-08-23 20:19] gagara opened #808 "NodePort service is not reachable outside cluster using extraPortMappings"
**What happened**:
NodePort service created in cluster is not reachable from outside cluster when using extraPortMappings config.

**What you expected to happen**:
Service should be accessible by configured port.

**How to reproduce it (as minimally and precisely as possible)**:
1. create kind cluster with extraPortMappings configuration
2. inside cluster create NodePort service with same port as

[2019-08-23 20:58] BenTheElder commented on #808
Hi, I think there's a bit of confusion about NodePorts.

The nodeport is on `30138` in this situation, which is not forwarded. `8080` is only on the ClusterIP (`10.96.230.243`) (which is a virtual IP reachable inside the cluster).

Instead, you can use a hostPort or, even use an ingress or similar to forward from a port to in-cluster traffic.

https://kind.sigs.k8s.io/docs/user/resources/#using-co

[2019-08-23 21:02] BenTheElder commented on #808
that is, `hello-node` is reachable at:

`10.96.230.243:8080` (in-cluster)
`192.168.64.2:30138` (`192.168.64.2` appears to be the node container IP, reachable from the host if not on macOS)

Since you are on Linux you if you want to use a NodePort you can skip the `extraPortMapping` and just use `${NODE_IP}:${NODE_PORT}` IE `92.168.64.2:30138`.

[2019-08-24 05:28] tao12345666333 commented on #345
/remove-lifecycle stale

[2019-08-24 13:15] gagara commented on #808
Thanks for explanation. Indeed 192.168.64.2:30138 works fine in my case. My bad. misunderstanding NodePort concepts. It would be nice to have in Quick start guide more detailed explanation and some e2e usecases where and how extraPortMappings feature can be used, because I still don't clearly understand how

but I'm too new to k8s, so will RTFM :)

[2019-08-24 15:57] tao12345666333 commented on #787
About tillerless you have at least two choices.

1. the easiest way, you can use Helm v3.

or

2. run tiller locally the you can just skip setup RBAC. (for Helm v2)

[2019-08-25 06:03] vrock28 opened #814 "kind create cluster fails on docker desktop for windows"
**What happened**:
I tried to create a kind cluster on Docker desktop for windows but then the creation failed

[code]

**What you expected to happen**:
The creation of a cluster to succeed
**How to reproduce it (as minimally and precisely as possible)**:
Try creating a kind cluster on windows containers via Docker desktop
**Anything else we need to know?**:
Nothing more.
**Environment:**

- kind

[2019-08-25 09:18] tao12345666333 commented on #814
Please see https://forums.docker.com/t/docker-for-windows-image-operating-system-linux-cannot-be-used-on-this-platform/28936/15 or https://github.com/docker/kitematic/issues/2847

You should check your Docker for Windows settings. Kind has not distributed Windows-based containers IIRC.

[2019-08-25 10:43] vrock28 commented on #814
Thanks for the update here. I finally got the cluster creation working by changing the Deamon to switch to Linux mode.

[code]

[2019-08-25 12:53] tao12345666333 commented on #814
Congratulations. Maybe we can close this issue.

Should we add this question to the `Know Issue` document? :thinking: @BenTheElder

/close

[2019-08-25 12:53] #814 closed

[2019-08-26 02:07] ZhengZhenyu commented on #188
@aojea Hi, seems the job successed once in 8.20 and I can see both results from testgrid and openlab:
https://logs.openlabtesting.org/logs/periodic-6/18/github.com/kubernetes-sigs/kind/master/kind-integration-test-arm64/4631b06/
https://k8s-testgrid.appspot.com/conformance-kind#kind,%20v1.14%20(dev,%20ARM64)
And the tests seems actually running for the first time

But then the job starts to fail a

[2019-08-26 02:10] ZhengZhenyu commented on #188
@aojea Hmm, seems there is something wrong setting up the env again and the tests did not run and thus nothing can be uploaded.

[2019-08-26 07:57] aojea commented on #188
@ZhengZhenyu the e2e.sh script changed at that time but don't know if one of those changes broke the openlab CI. Seems that the containers for the kubernetes components are not able to spawn, i.e the kubelet fails and there are no logs for the kubeapi-server , ....

https://github.com/kubernetes-sigs/kind/commit/97b044c5d1fe869af8d9e9052d1c218f590fd3c4#diff-d9fa0450190d60ba133fb92282a94725

I've s

[2019-08-26 11:32] Ilyes512 opened #817 "Pulling images from private repo using imagePullSecrets does not work"
**What happened**:
I have an image that needs to be pulled from a private repository. Before deploying my app I created a (correctly formatted) secret containing a `.dockerconfigjson` key with my registry credentials in json as it's value. In my deployment I point to the secret using `spec.template.spec.containers.imagePullSecrets`. I have also tried it by adding a default imagePullSecret to my se

[2019-08-26 17:15] Ilyes512 commented on #817
After testing out the above and successfully pull a private image from quay.io I can only conclude that it's has something todo with my private repository.

Using the below command inside the running kind-control-plane container leads to the same error:
[code]

[2019-08-26 17:15] #817 closed

[2019-08-27 07:50] aojea commented on #118
Also, I forget to mention that you have to install `apt install -y nfs-common ` on the kind nodes :sweat_smile:

[2019-08-27 13:00] Hendrik-H opened #820 "RHEL 7.6: cluster creation fails for Kubernetes < 1.14"
**What happened**:
I'm trying to create clusters using kind `0.5.1` and different node images, using the list from https://github.com/kubernetes-sigs/kind/releases/tag/v0.5.0, as there is none for `0.5.1`. This works fine for `kindest/node:v1.15.3@sha256:27e388752544890482a86b90d8ac50fcfa63a2e8656a96ec5337b902ec8e5157` and `kindest/node:v1.14.6@sha256:464a43f5cf6ad442f100b0ca881a3acae37af069d5f968

[2019-08-27 13:33] crossdot commented on #110
I've got an external insecure registry and deploying it within kind is not an option for me. Is there a way to bring it to work?

[2019-08-27 13:36] fspaniol commented on #110
Maybe load the images manually? `kind load docker-image`

[2019-08-27 19:00] BenTheElder commented on #118
we should track possibly installing those by default in another issue

On Tue, Aug 27, 2019 at 12:50 AM Antonio Ojea <notifications@github.com>
wrote:

[2019-08-27 19:54] fspaniol commented on #118
Hi,

I got NFS dynamic provisioning to work with basically:

- Install nfs-common in the node
- [Deploy nfs server](https://matthewpalmer.net/kubernetes-app-developer/articles/kubernetes-volumes-example-nfs-persistent-volume.html)
- [Use nfs-client-provisioner helm chart](https://github.com/helm/charts/tree/master/stable/nfs-client-provisioner)

I've also written this in more detail [here](https:/

[2019-08-28 07:01] aojea commented on #808
https://docs.docker.com/docker-for-mac/networking/#known-limitations-use-cases-and-workarounds

ports are mapped to localhost, in this example,

[code]

[2019-08-28 13:55] harshavardhanc opened #821 "Issue while creating kind cluster with workers"
I'm trying to create cluster in local(Arch linux) with single master node it is working fine, but if I try to create a cluster with workers getting the below error.

[code]
Below is my config file to create a cluster.
[code]

Please help me in fixing this issue.

[2019-08-28 15:10] aojea opened #822 "Cluster fail because of wrong extraPortMappings configuration"
**What happened**:

The cluster creation fails with the following error

[code]

**What you expected to happen**:

Kind should validate the configuration and throw an error

**How to reproduce it (as minimally and precisely as possible)**:

Create a cluster with the following configuration

[code]

**Anything else we need to know?**:

**Environment:**

- kind version: (use `kind version`):
- Kuber

[2019-08-28 17:58] aojea commented on #822
/assign @BenTheElder
Seems that you know how to solve this per the discussion in slack :)

[2019-08-28 20:46] BenTheElder opened #824 "build is broken against kubernetes master"
the build is broken on pulling images

this is because kubeadm now outputs warnings about config now (even with none specified...) and we're using both stdout & stderr when we should only use stdout

/assign
/priority critical-urgent

[2019-08-28 21:00] #824 closed, assigned to BenTheElder

[2019-08-28 22:24] Mike-S2 opened #826 "Deployed pod isn't LISTENing"
**What happened**:

Overview is that I created a kind cluster, then deployed nginx to a single worker.
Upon connected to the node, I see the nginx process running, yet, the OS of that container is not showing a LISTEN socket **internal** to the container/node/pod.

Duplication is roughly the following step.  Any output from files referenced or commands run is enclosed below it in the code block.

[2019-08-28 22:39] BenTheElder commented on #826
your nginx pod isn't using a hostport or host network so you shouldn't see it listening on the host interface.

[2019-08-28 22:42] Mike-S2 commented on #826
Shouldn't it be listening inside the node/pod/container?
I ran the 'ps' and 'ss' commands within the 'kind-worker' container and expected it would be listening regardless of the hostport/nodeport configuration.

[2019-08-28 22:44] Mike-S2 commented on #826
@BenTheElder, apologies for the kind/bug label... I think that was a default and I should have chose triage first... my bad.  I looked for a slack channel for kind, but wasn't sure if there was one separate from the main Kubernetes community.

[2019-08-28 22:52] BenTheElder commented on #826
no worries, just trying to keep the issue tracker in order :-)

so:

That's like the "node" / host for the pod. Without hostport or host network you won't see it listening there

You should see nginx listening on whatever port that process is listening on _inside the pod_ which is another container "inside" the `kind-worker` container. If you go inside the nginx container from there you should see

[2019-08-28 23:02] Mike-S2 commented on #826
Aha!  Okay, I am in way over my head.  Is there some Slack channel I can join for generally help.  I have read most of the kind wiki.  If you can point me somewhere, I would be grateful.

[2019-08-28 23:04] BenTheElder commented on #826
#kind in kubernetes.slack.com, it's actually in the README / the homepage :upside_down_face:

https://github.com/kubernetes-sigs/kind#community-discussion-contribution-and-support

[2019-08-28 23:04] BenTheElder commented on #826
http://slack.k8s.io/ to join the slack (also linked there) :sweat_smile:

[2019-08-28 23:05] Mike-S2 commented on #826
BTW, I did add a hostPort to the nginx.yaml, as shown below and still no LISTEN.
Thanks BenTheElder for your relentless help!

[code]

[2019-08-28 23:05] #826 closed

[2019-08-29 10:18] aojea commented on #822
/close
duplicate of #821

[2019-08-29 10:18] #822 closed

[2019-08-29 18:34] philips commented on #575
Hit this issue on a debian machine where I didn't have access to the docker socket.

[2019-08-30 15:31] BenTheElder commented on #575
/remove-lifecycle stale

Yep, error handling / reporting / logging is something I'm back at reshaping right now, it's subpar :(

We do at least have a note about the docker socket in the known issues guide now..

[2019-08-30 15:31] BenTheElder commented on #575
/assign
/lifecycle active

[2019-08-30 15:52] YiannisGkoufas opened #829 "Error: failed to load image: exit status 1"
**What happened**:

I try to load a custom image in the "multinode" kind cluster I just created and it fails.
See the following:

[code]
And the output:
[code]

**What you expected to happen**:

The docker image to be successfully loaded in the cluster.

**How to reproduce it (as minimally and precisely as possible)**:

Create the following file config.yaml
[code]
Create the cluster:
[code]
Try to

[2019-08-30 16:03] BenTheElder commented on #829
`kind load --loglevel trace docker-image my-custom-image`

should be:
`kind load --loglevel trace docker-image --name=multinode my-custom-image`

[2019-08-30 16:04] BenTheElder commented on #829
`--name` keys your cluster, if you don't use the default cluster name then you need to specify it for any cluster operations.

[2019-08-30 16:05] BenTheElder commented on #829
we should give a better error message here but we have broader tracking issues for that (and I'm working on that today, after bug triage etc... 😅 )

[2019-08-30 17:13] alejandrox1 commented on #748
/cc

[2019-08-30 17:21] BenTheElder commented on #110
+1 to side loading the images, it's the most robust and portable option for now.

Tracking https://github.com/containerd/containerd/pull/3574 for a better way to customize containerd config targeted for the next minor release.

[2019-08-30 17:35] YiannisGkoufas commented on #829
Ahhh apologies, didn't realize I had to specify the name when loading!
It works as expected with --name parameter
Maybe it should be mentioned in the documentation?

[2019-08-30 17:35] #829 closed

[2019-08-30 17:56] BenTheElder commented on #829
I agree, we should update the image loading documentation :sweat_smile:

[2019-08-30 20:00] rosera commented on #763
Hey, I am highly interested in getting this working on ChromeOS (I raised the original ticket reference https://bugs.chromium.org/p/chromium/issues/detail?id=878034). Thanks very much for the tips regarding debugging - very helpful.

I plan to investigate a bit more over the coming weekend. My thoughts at the moment relate to the container being restricted on the accessible ports available to Cros

[2019-08-30 20:45] BenTheElder commented on #763
Hi! :wave:

you can configure kind to use a particular port with `kind create cluster --config=config.yaml` and `config.yaml`:
[code]

That's a bit more of a blocker.

Each kind "node" docker container is `--privileged` in order to run containerd / pods on the inside, each kubelet needs its own container runtime. To run pods we need proc, cgroups, mounting ...

It _might_ be possible to hack up ki

[2019-08-31 22:37] BenTheElder commented on #262
we have other issue tracking improving the docs, and kubetest / kubetest2 hasn't really shaken out.

[2019-08-31 22:37] #262 closed

[2019-09-01 09:30] Xtigyro opened #830 "Mount Points from Dynamically Created PVC's Are Not Writeable by Non-Root Users"
**What happened**:

1. A `PVC` is provisioned.
2. It is dynamically bound to a `hostPath` volume by the KiND's provisioner.
3. A pod is created that mounts the `PVC`.
4. The process in the pod is running as `runAsUser` 65533 ("git-sync" user), with `fsGroup` 65533 too.
5. The process can not write to the `PVC` mount, since it is only writeable by `root` user.

Trying `mode` or `defaultMode` 0777 h

[2019-09-01 10:32] Xtigyro commented on #830
Is that actually part of `kind`? I couldn't find the relevant code in the `kind` repo.

[2019-09-01 16:13] BenTheElder commented on #830
This is an issue with the k8s.io/hostPath  provisioner built into Kubernetes. Unfortunately that is not going to change by design, so we'll need https://github.com/kubernetes-sigs/kind/issues/118.

For now if you're on AMD64 architecture, take a look at the workaround with rancher local in that thread.

See this previous issue for more details on the hostPath driver https://github.com/kubernetes-s

[2019-09-01 16:16] BenTheElder commented on #830
The hostPath volumes do indeed require root and will not chmod by design upstream in Kubernetes for security reasons. That won't change. What can change is the default driver in kind.

We'd love to ship something else and are tracking in #118

[2019-09-01 17:45] Xtigyro commented on #830
@BenTheElder Thank you very much for the nice and explanatory reply! Do you know why it works in `AWS EKS`?

[2019-09-01 17:46] Xtigyro commented on #830
@BenTheElder Thank you very much for the nice and explanatory reply! Do you know why it works in `AWS EKS`?

[2019-09-01 18:15] BenTheElder commented on #830
Yes that's it's 🙂

On EKS they are not using the hostPath storage drivers for the default storage (I assume, and instead the GP2 and EBS provisioner).

Cloud providers can just use a Kubernetes storage implementation that works against their existing cloud storage, for kind we can't really do that.

Unfortunately most of the local storage options have one of the following problems:
- not multi nod

[2019-09-02 10:30] bygui86 opened #831 "kind cluster stop and start"
Good morning guys,

Thank you for this amazing project.
I'm testing kind on my MacBookPro with 6 CPUs and 8gb RAM.

Once created the cluster, can I stop and start it again without deleting it? which is the command?
I found nothing on the doc.

I tried with `docker stop` and `docker start` commands: kind cluster container stops but it never starts again.

What am I doing wrong?

Thanks in advance!

[2019-09-02 13:01] neolit123 commented on #831
hi, i think you can pause the kind containers using docker pause:
- list the containers using `docker ps -a`
- call `docker pause` on them

cluster restart is tracked here:
https://github.com/kubernetes-sigs/kind/issues/148

please re-open if you have further questions.
thanks

/close

[2019-09-02 13:01] #831 closed

[2019-09-02 15:03] bygui86 commented on #831
Hi @neolit123, thanks for the fast reply!
I will test `docker pause` asap, but I have a question about this: will kind cluster survive to a docker daemon stop and start? for example after a complete laptop reboot?

[2019-09-02 15:05] neolit123 commented on #831
@bygui86 no, the linked issue #148 explains that the cluster will not reboot on docker daemon restart or OS restart. the are proposals on how to solve this, but it's tricky.

[2019-09-02 15:06] bygui86 commented on #831
Ok thanks! I'm reading the flow right now.
I will probably add a comment on the issue #148

[2019-09-02 15:13] bygui86 commented on #148
@tao12345666333 I think ephemeral clusters are good but not in 100% of use cases.
If you organise for example a workshop or a meetup, you would like to prepare everything in advance (some days before) and at the moment of the event, just spin up the cluster and that's it. Like I did many times with minikube.
Another example would be doing experiments. If I'm working for example with Calico, Cilium

[2019-09-02 15:41] tao12345666333 commented on #148
@bygui86 Yes, I understand this requirement very well.

In fact, I have done some work at #408 and #484 . It was available at the time, but it does not seem to be the best solution. (now it's a bit out of date)

I still focus my attention on the Docker network to find the optimal solution.

[2019-09-02 15:42] bygui86 commented on #148
Thanks for the effort guys!!

[2019-09-04 17:05] BenTheElder commented on #528
Small update: we've added golangci-lint with a number of extra linters enabled across the repo and fixed ~all of the failures.

[2019-09-04 20:21] Vaccano opened #837 "README.md: Getting Started on Windows"
**What would you like to be documented**:
Getting started on Windows

**Why is this needed**:
The current "Windows" download (in the "Assets" section of the release notes) is a file without an extension.  This leads to confusion on what you are supposed to do with it.

Additionally, the main page says to run `curl -Lo ./kind https://github.com/kubernetes-sigs/kind/releases/download/v0.5.1/kind-$(u

[2019-09-04 20:24] BenTheElder commented on #837
/cc @PatrickLang

[2019-09-04 20:27] BenTheElder commented on #837
actually we have windows instructions at:
https://kind.sigs.k8s.io/docs/user/quick-start/

we just need to do something about the README.md

tempted to just point install instructions to the docs site instead of maintaining them twice.

[2019-09-04 20:35] Vaccano opened #838 "Error Creating Cluster on Windows"
**What happened**:
Running `kind create cluster` (in PowerShell) gives an error:

Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.15.3) 🖼
[31mERRO[0m[14:30:39] docker: Error response from daemon: Windows does not support privileged mode.
[31mERRO[0m[14:30:39] See 'docker run --help'.
 ✗ Preparing nodes 📦
[31mERRO[0m[14:30:39] docker run error: exit status 125
Error: faile

[2019-09-04 20:43] BenTheElder commented on #838
you need linux containers, kind cannot create windows nodes (it's not feasible) but it can create liux nodes on windows

[2019-09-04 20:44] BenTheElder commented on #838
xref: https://github.com/kubernetes-sigs/kind/issues/410
https://github.com/kubernetes-sigs/kind/issues/814
cc @tao12345666333, we should clarify usage of linux containers in the docs

[2019-09-04 20:45] BenTheElder commented on #838
https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10-linux

(don't switch to windows containers, https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10#switch-to-windows-containers won't work)

[2019-09-04 20:50] Vaccano commented on #837
Yep, that would have worked for me.

Kind of sad that I missed the HUGE text saying to see the full documentation for more info.

Sorry for the bad docs request.

[2019-09-04 20:51] BenTheElder commented on #837
not at all, I think the README should be fixed to either include the windows details or point to that page and not include the linux shell snippet either. :sweat_smile:

[2019-09-04 21:00] Vaccano commented on #838
Once I switched to Linux Mode, it worked fine.

I mistook windows support to mean that it supported windows containers. (Instead of, that it runs on Windows for Linux containers.)

[2019-09-04 21:00] #838 closed

[2019-09-04 21:05] BenTheElder commented on #838
:tada:

Yeah, I don't think we call this out explicitly anywhere. We should be clear that limited windows support is _for the host_. Not sure where this should go (known issues maybe?)

[2019-09-04 21:54] Vaccano commented on #838
For me, it would have been helpful to see it in the "Why kind?" section of the readme.  It has an item that reads:

* kind supports Windows in addition to MacOS and Linux

I think I would have understood better if that had read:

* kind supports Linux containers on Windows in addition to MacOS and Linux

Or

* kind supports Windows in addition to MacOS and Linux (Linux Containers Only)

[2019-09-05 03:23] tao12345666333 commented on #838
OK. I will submit a PR later today to improve it.

Known issues may be the good choice. (Most people will go directly to see this content.)

In the "Why kind" section, a link may be added for "Windows" to explain how to use Linux Containers on Windows (in known issues).

[2019-09-06 10:11] phcollignon opened #842 "NetworkPolicy support"
Hello,
Is there any support for network policies in kind ?
(calico CNI plugin or any other network plugin with NetworkPolicy support ?)
Does kindnet support it ? is it the default network plugin ?
Thanks

[2019-09-06 11:53] aojea commented on #842
@phcollignon I think that some users reported in the channel that they had network policies working in kind using calico.
kindnet is very simple and doesn't have Network Policy support and is not really something in scope.
You can replace kindnet with any of the other CNI plugins, just use `DisableDefaultCNI: true` in your kind configuration and install your own plugin following their instructions

[2019-09-06 11:58] phcollignon commented on #842
Thanks, I'll give it a try.  And if I succeed I'll document it ..

[2019-09-06 14:48] vielmetti commented on #166
@BenTheElder Can you take a look and provide current status for this? I'd very much like to identify the list of dependencies to get this work complete, so that we can reasonably assess whether it has any chance to be ready for Kubecon or Rejekts, and if so assess that against all other things.

[2019-09-06 19:57] BenTheElder commented on #118
this looks pretty promising! https://github.com/kubernetes-csi/csi-driver-host-path/pull/88/files

[2019-09-06 19:57] BenTheElder commented on #118
(also: thanks for the writeup @fspaniol !)

[2019-09-06 19:59] BenTheElder commented on #830
hopeful re: https://github.com/kubernetes-sigs/kind/issues/118#issuecomment-528993520

[2019-09-06 20:05] msau42 commented on #118
The hostpath topology support still has the limitation that the provisioner (and plugin) still only runs on one node. More work is needed to be able to deploy the csi-provisioner as a daemonset (and if anyone is interested in helping with that, I would be glad to guide)

[2019-09-06 20:16] Xtigyro commented on #118
I can confirm that the `local-path` provisioner from Rancher has been working quite well on a multi-node kINd cluster for me.

[2019-09-06 20:17] Xtigyro commented on #830
@BenTheElder I can confirm that the local-path provisioner from Rancher has been working quite well on a multi-node kINd cluster for me.

[2019-09-06 20:50] abdennour commented on #452
any news about this feature ?

[2019-09-06 20:52] BenTheElder commented on #452
no, we've made it faster to create and delete clusters, work like this is on hold while we refactor how nodes are managed entirely

[2019-09-07 07:13] BenTheElder commented on #554
combining with #575

[2019-09-07 07:14] #554 closed

[2019-09-07 07:15] BenTheElder commented on #750
we've mostly fixed the stdout / stderr logging issue now, time to add a warning here
/assign
/lifecycle active

[2019-09-07 07:15] BenTheElder commented on #750
(we also have a `-q` / `--quiet` flag now)

[2019-09-07 07:17] BenTheElder commented on #23
this is more or less done now, we can make the logger a little nicer but we've improved a lot here

[2019-09-07 07:17] #23 closed

[2019-09-07 09:19] aojea opened #845 "Use memory storage for etcd"
**What would you like to be added**:

Configure etcd storage in memory to improve the performance

**Why is this needed**:

etcd causes a very high disk io, and this can cause performance issues, especially if there are several kind clusters running in the same system, because you end with a lot of process writing to disk causing latency and affecting the other applications using the same disk,

S

[2019-09-07 09:20] aojea commented on #845
/cc @BenTheElder @neolit123

[2019-09-07 11:39] neolit123 commented on #845
kubeadm passes `--data-dir=/var/lib/etcd` to etcd and mounts this directory using `hostPath`.
we can just try:
[code]

but this means kubeadm init / join commands need to:
1) use phases to skip / customize the "manifests" phase
or
2) deploy etcd, patch manifest, restart static pod

k/k master just moved to 3.3.15, while 1.15 uses an older version.
is this a regression? and IDLE cluster should not

[2019-09-07 16:40] BenTheElder commented on #845
Etcd is going to be writing all the constantly updated objects, no? (Eg node status)

It would be trivial to test kind with memory backed etcd by adjusting node creation, but I don't think you'd ever run a real cluster not on disk... 🤔

[2019-09-07 16:48] aojea commented on #845
yeah, data need to persist to disk to provide consistency

Absolutely, real clusters must use disk, this is only meant to be used for testing, my rationale is that hese k8s cluster are ephemeral, thus the etcd clusters don't need to "persist" data on disk

[2019-09-07 16:55] BenTheElder commented on #845
You can test this more or less with no changes by making a tmpfs on the host and configuring it to mount there on a control plane.

You could also edit the kind control plane creation process to put a tmpfs here on the node

We should experiment, but I think we do eventually want durable etcd for certain classes of testing..

[2019-09-07 22:08] BenTheElder commented on #845
Also worth pointing out:
- our CI is backed by SSD
- I'm not aware of any other cluster implementation not backing etcd with disk, including eg hack/local-up-cluster

[2019-09-07 22:19] aojea commented on #845
yeah, for k8s CI is not a big problem, but for users that run kind locally, it is. It took me a while to understand what was slowing down my system until I've found that my kind clusters were causing big latency in one of my disks.
I just want to test and document the differences :)

[2019-09-07 23:13] aojea commented on #845
ok, here is how to run etcd using memory storage for reference

1. Create the memory storaga

[code]

2. Mount it on the control nodes

[code]

[2019-09-08 18:17] BenTheElder commented on #462
this one is older, however we have more details here: https://github.com/kubernetes-sigs/kind/issues/763

de-duping 😬

[2019-09-08 18:17] #462 closed

[2019-09-08 18:20] BenTheElder commented on #745
any update?
/lifecycle stale

[2019-09-08 18:55] BenTheElder commented on #719
I think https://github.com/kubernetes-sigs/kind/pull/729 documented this (please correct me, I don't use zsh...)

[2019-09-08 18:55] #719 closed

[2019-09-08 19:57] BenTheElder commented on #787
https://helm.sh/docs/helm/#helm-template can work without tiller as well

I'm going to close this out for now, https://helm.sh/docs/using_helm/#role-based-access-control should cover RBAC, essentially all clusters should be created with RBAC for quite some time now. RBAC was stable in Kubernetes 1.8

If you have more questions, feel free to file another issue our jump into the #kind slack channel

[2019-09-08 19:57] #787 closed

[2019-09-09 06:56] Hendrik-H commented on #820
same result on RHEL 7.7

[2019-09-09 07:57] aojea commented on #820
@Hendrik-H have you tried using a newer version of docker?
from the logs seems you are using `Server Version: 17.05.0-ce`

[2019-09-09 07:59] Hendrik-H commented on #820
no, I can only test with the version that I get with RHEL

[2019-09-11 01:24] kfyharukz commented on #842
Related to the above discussion...

Calico can deploy only to use network policy  (i.e. [policy-only mode](https://docs.projectcalico.org/v3.8/getting-started/kubernetes/installation/other#content-main)).
 However, combining PTP with Calico has a problem.  Calico expects veth names of Pods are generated with the following algorithm:
[code]
We have been successfully using Calico NetworkPolicy with

[2019-09-11 02:26] tinyzimmer commented on #154
This is pretty old, but in case anyone is still paying attention - I'm pretty close to having this working where basically the global `--podman` switch uses podman instead.

I had to do something along the lines of what you are describing first, @BenTheElder, where I made a generic `Container` interface and different backends (e.g. docker,podman) just need to implement the various methods.

[code]

[2019-09-11 03:24] BenTheElder commented on #154
Yeah, sorry this has been drawn out. We're definitely doing this, things have settled a bit and now that I've landed some new debugging infrastructure and other major cleanups I'll be reviving this ...

That said: If you're just replacing `docker` with `podman` in all the commands that should be possible today without any changes to the binary:

[code]

We'd like to do something a little more comp

[2019-09-11 03:36] tinyzimmer commented on #154
I tried that at first and I couldn't get it to work actually, linux and windows. And I might have spoken too soon on my previous comment, as well. Podman...has its quirks still.

So far it was just simple things like format templates being a bit different, but then I ran into an issue with the node failing to start because it couldn't remount `/sys` - no matter what flags I tried. Running with `su

[2019-09-11 04:17] BenTheElder opened #850 "RFC: CLI UX Improvements"
Recently we landed some changes to revamp the logging / debugging experience and to ensure that status messages can be suppressed (`-q` / `--quiet`). However, I think kind still has plenty to improve on this front.

In particular I propose the following changes to improve the usability of `kind`, some of which may be slightly breaking:

## Drop `export KUBECONFIG=$(kind get kubeconfig-path)`

The

[2019-09-11 04:18] BenTheElder commented on #850
Most of these changes are actually pretty simple to implement, pending feedback I hope we can land these for `v0.6.0` and go ahead and land all of the CLI usage tweaks this release rather than repeatedly break it.

[2019-09-11 04:23] BenTheElder commented on #802
I put some more thought into this and looked around at all the feedback and usage I can find and I think perhaps we should both do this and make it the default mode.

More details in https://github.com/kubernetes-sigs/kind/issues/850 which cross references this and a few other issues.

[2019-09-11 04:23] BenTheElder commented on #113
https://github.com/kubernetes-sigs/kind/issues/850

[2019-09-11 04:24] BenTheElder commented on #112
see: https://github.com/kubernetes-sigs/kind/issues/850, proposing to solve this along with other changes

[2019-09-11 04:25] BenTheElder commented on #750
In https://github.com/kubernetes-sigs/kind/issues/850 I'm proposing to change how we manage `KUBECONFIG`

[2019-09-11 04:37] mauilion commented on #850
I am very much *1 on KIND_NAME idea I think maybe KIND_CLUSTER_NAME keeps us from conflicting with image name in the future.

A word of caution on the Drop Export idea we are going to constantly have conflicts on naming as folks delete old kind clusters and create new ones. The conflicts are across all three structs in the kubeconfig. User, cluster and context. Given that we may want to determine

[2019-09-11 04:45] BenTheElder commented on #850
I thought about this, but I think it should match the flag for both, so it would be `KIND_IMAGE` for `--image` if we choose to support this in the future. It's also shorter :^)

We should ensure that kind clusters only conflict with kind clusters with the same `--name`, we can patch the entries in kuebconfig to be keyed with strings that are specific to `kind`. EG my `~/.kube/config` with some GKE

[2019-09-11 09:31] fhaifler opened #851 "Helm: rabbitmq-ha deployment fails to discover k8s nodes"
**What happened**:
When deploying stable/rabbitmq-ha chart via helm the pod fails during startup with following error:
[code]

This seems like the the k8s node discovery is not working for some reason.

**What you expected to happen**:
RabbitMQ deployment started up correctly.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

rbac-config.yaml:
[code]

**Anything else we ne

[2019-09-11 11:36] neolit123 commented on #850
i have similar concerns to @mauilion about the export change.

if KUBECONFIG points to a non-kind cluster, `kind create cluster` shouldn't probably merge it's new KUBECONFIG into that?

how will the merge play with the fact that KUBECONFIG supports a list of paths. should the merge only happen in the first path?

if KUBECONFIG does not point to kind config or if empty, should a message about `expo

[2019-09-11 12:03] BenTheElder commented on #851
kind clusters have RBAC enabled (which is the default with kubeadm and most Kubernetes clusters for some time now), does this deployment have permission to get the nodes?

[2019-09-11 12:15] mauilion commented on #850
I'm okay with merging the two. There is another possibility that we could document for users worried about merge:

The KUBECONFIG env bar can take multiple paths and they will be merged (with the first kubeconfig "winning" and holding the active context selection. This first kubeconfig is also the only writeable one. The rest are readonly. If the user sets the var to

export KUBECONFIG=/path/to/ki

[2019-09-11 12:23] BenTheElder commented on #850
Why not? The other tools do. KUBECONFIG is designed to support multiple clusters.

Yes it should write to the first entry in the list.
Related: https://github.com/kubernetes/kops/issues/1000 https://github.com/kubernetes/kops/pull/1050

We need to print a message about the config being exported but the emptiness doesn't seem relevant?

We may create the file if it doesn't exist, and client-go spec

[2019-09-11 12:38] neolit123 commented on #750
when we added the feature we decided against that. think of `get kubeconfig-path` as a tool to form paths. if you want to check if a cluster exists use `get clusters`.

[2019-09-11 12:50] neolit123 commented on #850
during testing various things, my use case (which is certainly not that important), is that i create kubeadm node/cluster on the host and point KUBECONFIG to that. then from time to time i also create a kind cluster on the same host.

i'd consider the merge of the kind and kubeadm configs in such a case as undesired.
it will force me to first unset the KUBECONFIG.

a similar problem can happen if

[2019-09-11 13:00] fhaifler commented on #851
The deployment creates role, rolebinding and serviceaccount to access `endpoints` k8s resource. So the rules should be set up and ready to use. The same deployment works when deploying to GKE with RBAC enabled. I have compared RBAC related configuration between kind and GKE deployments and didn't notice any differences.

RBAC summary:
[code]

Moreover the strange thing is that the same deployment

[2019-09-11 14:22] boluisa opened #852 "Failed to apply overlay network issue with 1.16 Kubernetes built images"
**What happened**:

I built v1.16.0-rc.1 Kubernetes image and ran kind create and got the following result.
[code]
**What you expected to happen**:
create cluster successfully
**How to reproduce it (as minimally and precisely as possible)**:
build v1.16.0-rc.1 kubernetes  and run kind create using the resulting image from the build
**Anything else we need to know?**:
I see this a known issue but n

[2019-09-11 15:03] neolit123 commented on #852
hi, can you see more in the logs if you add `--loglevel=debug`?

[2019-09-11 15:15] phcollignon commented on #842
Thanks .. for advice.  I'll try it.  My main usage is Kubernetes for DEV on local laptop.
I was used to kubeadm-dind-cluster project (K8s docker in docker) which is retired project.  So I came to kind but I am wondering if it is a good option for local dev with all features (storage, networkpolicies, ...)
I want to avoid minikube because it's too heavy

[2019-09-11 15:24] aojea commented on #842
Kindnet is using the standard CNI plugins https://github.com/containernetworking/plugins

[2019-09-11 15:27] boluisa commented on #852
I got it to work with kind version v0.5.0

[2019-09-11 15:32] neolit123 commented on #852
missed this part. this kind version is too old for deploying 1.16.

thanks
/close

[2019-09-11 15:32] #852 closed

[2019-09-11 17:20] neolit123 commented on #850
bad wording.

no strong objections on my side, but would be interesting to get more feedback from kind users.

[2019-09-11 17:50] BenTheElder commented on #851
At most I'd expect some performance differences, but this is going to vary from machine to machine anyhow.

this error seems to be reported upstream often, it looks like it's not resilient to this sort of error, it's not uncommon that an API server may temporarily be unavailable even on production clusters...

https://github.com/rabbitmq/rabbitmq-peer-discovery-k8s/issues/29
https://github.com/rab

[2019-09-11 17:52] BenTheElder commented on #851
see also https://github.com/rabbitmq/rabbitmq-peer-discovery-k8s/issues/20

is it possible to get more debug info out of this process? also can you get the api server logs? `kind export logs` ... this seems more likely to be a rabbitmq chart issue of some sort.

[2019-09-11 17:57] BenTheElder commented on #842
Storage has a tracking issue and is a bit thorny, we're working with sig-storage upstream. It's possible to deploy something today, but multi-node local storage options for testing are pretty limited at the moment for the entire ecosystem, we aim to fix that. for single node the CSI local hostpath driver should work, or the rancher local storage system.

currently what we ship is roughly the same

[2019-09-11 19:32] BenTheElder commented on #176
this is done!

[2019-09-11 19:32] #176 closed

[2019-09-11 20:44] aojea commented on #851
@fhaifler it's working for me with the same docker version, as Ben is mentioning it should be interesting to upload the logs exported from the kind cluster

[2019-09-12 07:02] n-able-consulting commented on #118
dito msau42

[2019-09-13 06:30] aojea opened #858 "Kind "unofficial" basic usage examples"
**What would you like to be documented**:

- [ ] How to use network policies with kind
- [ ] How to map a k8s service using port mapping on Windows or Mac
- [ ] How to install a different CNI plugin
- [ ] How can I have dynamic storage
...

**Why is this needed**:

There are common scenarios and requests from users that should be documented so they don't have to understand all the internals needed

[2019-09-13 07:08] BenTheElder commented on #858
I would expect the rest of these to be official though

[2019-09-13 07:20] aojea commented on #858
yeah, that can be a biiig problem

agreed

[2019-09-13 07:20] #858 closed

[2019-09-13 08:15] aojea commented on #858
I'm starting to add some examples in my fork wiki, they can be used for reference
https://github.com/aojea/kind/wiki

[2019-09-13 11:56] fhaifler commented on #851
Heureka! I resolved the issue. Thanks to all for supporting me. When looking at the points from @Gsantomaggio I noticed that the internal DNS is going haywire and all outgoing network traffic is routed to single IP which then returns the 404 for everything. This seems to be caused by me having hostname of the host machine set to existing domain name and the outgoing traffic went instead of my host

[2019-09-13 13:34] aojea commented on #851
can you describe more in detail the issue and your setup?

what was your hostname and your `/etc/resolv.conf`?

[2019-09-13 13:42] Ciantic commented on #758
I'm using helm3 but I think it's not possible to use `stable/nginx-ingress` chart because it uses LoadBalancer which is not supported by the `kind`:

[code]

Notice that LoadBalancer is just pending, because it's not supported by `kind`.

Did someone get this working? I'm trying to make a proof of concept script running nginx ingress on kind.

[2019-09-13 17:47] TrentonAdams commented on #758
@Ciantic That's normal for LoadBalancer to not be supported, it's a cloud only feature.  Ingress controllers can do load balancing too, but LoadBalancer is reserved for cloud use.

https://kubernetes.io/docs/concepts/services-networking/

[2019-09-13 18:14] Ciantic commented on #758
@TrentonAdams Okay I know that. But how are we supposed to use

[code]

If it creates a LoadBalancer?

I tried to do switcheroo:

[code]

But it gives error:

[code]

I can however patcih it to ClusterIP if I remove the ports, but isn't the only option to make that LoadBalancer a NodePort to use nginx ingress with `kind`?

[2019-09-13 18:32] aledbf commented on #758
@Ciantic setting `--set controller.service.type=NodePort` (default is LoadBalancer)

[2019-09-13 19:19] Ciantic commented on #758
@aledbf thanks, that works.

For posterity, I'll post the whole working example (in Powershell):

[code]

kube-config.yaml
[code]

service.yaml
[code]

[2019-09-14 09:04] aojea commented on #851
seems the issue was resolved, please feel free to reopen if necessary
/close

[2019-09-14 09:04] #851 closed

[2019-09-15 13:35] Ilyes512 commented on #850
Looks good... as long as setting `KUBECONFIG` or `--kubeconfig` creates a new file if it doesn't exists (like you mentioned). 👍

[2019-09-15 17:56] szubersk opened #859 "kind doesn't work at all when icc == false in docker daemon configuration"
icc == false in dockerd configuration makes any 2+ nodes cluster configuration to fail to boot because of lack of communication between containers (kind attaches the default docker bridge network to all its containers which disallows any network traffic when icc == false). there are 2 way to go about it:

(1) make user set dockerd icc to true and restart the docker daemon (fishy and ugly)
(2) use

[2019-09-15 19:11] rajibmitra opened #860 "improve error messaging for create cluster when user can not run docker"
**What would you like to be added**:
improve error messaging for create cluster when user can not run docker.
**Why is this needed**:

I got this below error :

`$ kind create cluster --loglevel=debug
DEBU[00:34:37] Running: /usr/bin/docker [docker ps -q -a --no-trunc --filter label=io.k8s.sigs.kind.cluster --format {{.Names}}\t{{.Label "io.k8s.sigs.kind.cluster"}}]
Error: could not list clusters:

[2019-09-15 19:23] rajibmitra commented on #860
[code]

[2019-09-15 19:51] rajibmitra commented on #860
It was a permission issue , fixed in slack channel, closing this.

[2019-09-15 19:51] #860 closed

[2019-09-16 07:54] fhaifler commented on #851
The primary issue is indeed resolved. After fiddling a bit with the hostnames I have noticed that when you set your hostname to a domain with wildcard DNS record for subdomains (e.g. github.github.io) then the whole network routing from pods goes haywire. I don't know why, but the fix is easy (just set different hostname) so I don't know if the cause is worth following now.

[2019-09-16 13:15] aojea commented on #859
I don't know if this should be considered as an issue, from docker documentation if icc=false containers are not allowed to communicate, thus kind multinode can't work because of they need connectivity.

@szubersk if 1 works, what do you suggest? to document it as a known issue?

[2019-09-17 16:59] fabriziopandini opened #861 "RFE: use learner mode for joining etcd members"
Growing a local etcd cluster is a complex operation, and in the past, we already faced some issues like e.g. https://github.com/kubernetes-sigs/kind/issues/588

Now that the implementation of the etcd learner mode is progressing, we should start considering if to use it in kubeadm in order to make join --control-plane implementation more robust.

at a high level what we would like to achieve is:
-

[2019-09-17 16:59] fabriziopandini commented on #861
/close
wrong repo 🤣

[2019-09-17 16:59] #861 closed

[2019-09-18 14:09] szubersk commented on #859
This is an issue!

What icc does is it blocks communication between containers inside default bridge network (unless they are linked with link command). icc is set due to security reasons (compromising one of the containers doesn't mean the perpetrator has an access to all of the others, not necessarily belonging to the compromised application stack). Containers that are attached to other than def

[2019-09-18 16:37] BenTheElder commented on #859
I think Antonio just meant that disabling container to container communication of course does just that. Single node kind will work fine, but of course multi-node won't at the moment.

This issue requires that you both want multi node kind and opt to configure your dockerd to not allow container to container communication which is not the default.

Right, this is currently a limitation. Please fil

[2019-09-19 04:08] shaneutt commented on #732
When trying current master it seems that #744 didn't stop client-go from getting pulled in at `v11.0.0+incompatible` when kind is used as a library.

In case others run into this I've just been using a simple workaround in my `go.mod` with the `replace` verb e.g.:

[code]

[2019-09-19 08:25] 2-face opened #862 "[macOS] Docker Desktop - after restarting containers k8s cluster doesn't work"
**What happened**:
kind installed k8s cluster (v1.15.3) and after mac reboot or restarting containers k8s cluster does not work anymore.

**What you expected to happen**:
k8s cluster shall remain working

**How to reproduce it (as minimally and precisely as possible)**:
create a basic 3 node cluster (one controller and 2 workers)

**Anything else we need to know?**:
When cluster got created kind-c

[2019-09-19 08:41] aojea commented on #862
hi @2-face this is a known issue that is being tracked in https://github.com/kubernetes-sigs/kind/issues/148
short history is that it implies deep changes in kind that can be done right now, I think we can close this as duplicate and track everything in one issue only

[2019-09-19 09:49] 2-face commented on #862
Why deep changes? Fixed IP should be a part of `docker run` where kind could just pass a static IP.

[2019-09-19 18:44] BenTheElder commented on #732
thanks!

I admit i've not imported a recent version of kind into another project yet, I'm currently working on refining the library surface and usability more.

I think the replace is probably the right solution long term, it looks like we'll want to actually start using client go for https://github.com/kubernetes-sigs/kind/issues/850 in the future possibly...

[2019-09-22 17:45] akutz commented on #452
Hi @bentheelder,

I was just in the shower trying to devise an e2e test framework for CAPV, with Kind being, of course, a huge part of it. The framework would be one part vC Simulator and one part Kind. However, this falls down if we can’t add/remove nodes to a running Kind cluster. There’s still some basic testing we can do by preallocating the max number of nodes we know we’ll need, but this obv

[2019-09-23 07:02] aojea commented on #862
this implies adding IPAM to kind and keep status on disk, also to not allow docker to assign IP addresses to other containers that can conflict with the ones that kind provide to the nodes.
One approach tried in https://github.com/kubernetes-sigs/kind/issues/148 is creating individual bridges other than the default docker bridge to keep the nodes isolated, but it turned out that you have to deal w

[2019-09-23 11:38] matthyx opened #863 "Where are the 1.16 images?"
@BenTheElder do you have an automated (read CI) way of publishing new images of kindest/node when new binaries are released in k/k?

[2019-09-23 14:09] aojea commented on #863
Quoting Ben answer in slack https://kubernetes.slack.com/archives/CEKK1KTN2/p1568828531071900?thread_ts=1568823668.071300&cid=CEKK1KTN2

Temporarily there are "unofficial" images created nightly here https://github.com/kubernetes-sigs/kind/issues/197#issuecomment-517791203

[2019-09-23 14:20] matthyx commented on #863
Thanks @aojea this is exactly what I needed... and I didn't do my homework :-/
I think it's safe to close this one then.
/close

[2019-09-23 14:20] #863 closed

[2019-09-23 14:28] oneslideicywater opened #864 "Error: could not list clusters: failed to list nodes: exit status 1"
I create a VM to test kind with network setted by NAT.

after a VM restart,I notice a ip changed due to DHCP,and I get this error when I
type `kind create cluster`  in command line

[2019-09-23 16:11] BenTheElder commented on #863
Sadly not yet, there's another issue tracking automated publishing.

[2019-09-23 16:13] BenTheElder commented on #864
Can you give us a little more info about the environment?
If you increase the log level we can see what errored as well.

Also note that kind clusters do not survive host restarts currently, there's another issue tracking that problem.

[2019-09-23 17:57] BenTheElder commented on #862
yeah, sorry about this, please see https://github.com/kubernetes-sigs/kind/issues/148 for more details. we'll definitely fix this, but someone needs to look into dealing with the DNS and find a reasonable solution. I'm currently working on revamping the entirety of how we manage nodes internally.

closing as a duplicate.

[2019-09-23 17:57] #862 closed

[2019-09-23 22:11] tao12345666333 commented on #864
Has your Docker started?

[2019-09-24 05:19] tamalsaha opened #865 "Kind in GitHub Actions"
We are trying to use Kind to e2e test on GitHub actions. We need local storage privisioner to work in GitHub actions with Kind. We have been trying to use @radu-matei 's https://twitter.com/matei_radu/status/1165024478746894336 .

Has anyone sucessfully dynamically provisioned local storage on GitHub actions?

cc: @shudipta

[2019-09-24 05:28] shudipta commented on #865
[code]

[2019-09-24 05:32] radu-matei commented on #865
^^ Not sure what the action above is trying to accomplish, it seems like trying to build a regular Go project.

[2019-09-24 10:13] tamalsaha commented on #865
We have all the files in this demo project.
https://github.com/tamalsaha/github-action-demo

We are trying both the rancher local-path provisioner and @rimusz 's hostpath provisioner. For both of them, we changed the installer so that provisioner uses `/github/home` as the writable dir. ref:
https://help.github.com/en/articles/virtual-environments-for-github-actions#filesystems-on-github-hosted-ma

[2019-09-24 10:59] rimusz commented on #865
@tamalsaha just use the Rancher provisioner one :)

[2019-09-24 12:49] oneslideicywater commented on #864
@tahsinrahman yes,Docker isn't Runing,but @BenTheElder the cluster is not function properly,when I
restart docker and test the cluster with `kubectl cluster-info`,I have to delete the cluster and recreate another. by the way, how can increase the log level ?

[2019-09-24 13:34] mithunvikram opened #866 "Amazon ECR images are accessible in KIND?"
Im using Amazon ECR images for security purpose.When I deployed my helm charts in local it unable to pull the ECR images.(401 unauthorized).

[2019-09-24 15:19] BenTheElder commented on #866
You'll need to configure access to your private registry, the nodes have their own container runtime and don't inherent the host access.

Alternatively: You can pull each image to your host and side load them with `kind load docker-image`

https://kind.sigs.k8s.io/docs/user/private-registries/

[2019-09-24 16:45] tamalsaha commented on #865
We are going with Rancher provisioner. We are still struggling with getting the non-root user permission issue. Once (if?) we can get it working, we are open a docs pr.

[2019-09-25 06:45] izzatzr opened #867 "Using kind in server"
Is it suitable to use kind in production server ?
i've tried kind and really amazed about how it works . kind allows me to get k8s cluster in my local machine in easier way.

[2019-09-25 06:59] BenTheElder commented on #867
I'm very glad that it allows you to easily get a local cluster.

Kind is for testing Kubernetes or testing Kubernetes applications. It is not suitable for production usage.

In particular these clusters do not yet tolerate host restarts (see the tracking issue, there's a lengthy existing discussion) and there are various tradeoffs that make kind better for cheap ephemeral test clusters that are no

[2019-09-25 07:07] tao12345666333 commented on #864
About cluster restart, there are already additional issues for tracking. #148

`--loglevel string   logrus log level [panic, fatal, error, warning, info, debug, trace] (default "warning")`

[2019-09-25 07:22] thierryjacoel commented on #282
"PermissionDenied error when trying to list nodes. Is your user authorized to run docker?"

[2019-09-25 07:27] izzatzr commented on #867
hahaha ok , thanks for the answer sweat_smile

[2019-09-25 07:27] #867 closed

[2019-09-25 07:43] tao12345666333 commented on #282
Thanks.
But in fact there may be a lot of situations, such as no permissions, such as Docker does not start etc. And I think we don't need to add a lot of redundant code for these situations...

We have already written some instructions in the documentation,  although not all of them are covered. https://kind.sigs.k8s.io/docs/user/known-issues/#docker-permission-denied

[2019-09-25 09:14] mithunvikram commented on #866
I have fixed this using "imagePullSecrets".Thanks.

[2019-09-25 09:14] #866 closed

[2019-09-25 10:07] tamalsaha commented on #865
I am now able to run a Docker container with root and non-root user inside a KIND cluster on GitHub actions. But something is not as it should be, IMHO. Let me explain.

According to GitHub docs, the ubuntu-18.04 VMs has 14G SSD disk. https://help.github.com/en/articles/virtual-environments-for-github-actions#supported-virtual-environments-and-hardware-resources

I can see that in my build log.
ht

[2019-09-25 11:20] mithunvikram commented on #866
Fixed this issue using "imagePullSecrets".

[2019-09-25 11:51] aojea commented on #865
you can use extraMounts with kind for that

[code]

[2019-09-25 12:05] tamalsaha commented on #865
@aojea , where do I pass this yaml?

[2019-09-25 12:30] aojea commented on #865
is the kind config file you use to configure your cluster

[code]

[2019-09-25 12:55] neolit123 commented on #282
a CLI message can potentially link to the user docs / known issues too.

[2019-09-25 13:17] radu-matei commented on #865
^^ You can have this in your repo, and reference it in your GH Action:

[code]

[2019-09-25 16:17] tamalsaha commented on #865
It worked! https://github.com/tamalsaha/github-action-demo/commit/b1b93b230c913ca45b7246c0eb71e8adf37730d4/checks#step:6:242

[2019-09-25 17:37] BenTheElder commented on #866
Great! :-)

[2019-09-25 22:47] aojea commented on #865
/close

glad it worked

[2019-09-25 22:47] #865 closed

[2019-09-26 05:32] mithunvikram opened #869 "Port-forward problem"
Im trying to port-forward my pod

```kubectl port-forward camunda-79bddd6df4-ft5jx -n dev-201902 5010:6000```

But when trying to access in localhost it throws,

```E0926 10:48:40.346646   76692 portforward.go:331] an error occurred forwarding 5010 -> 6000: error forwarding port 6000 to pod 972bb77690ac0b73273e3fb10b8ee0d6f723737f58e4157c48eccfbfd1bdb8bf, uid : failed to execute portforward in net

[2019-09-26 07:42] tamalsaha opened #870 "Kind can't pull Docker images from Github's pkg registry"
I am using kind `v0.5.1` to pull Docker image from Github's new pkg registry. But this is failing. The exact same commands are working in minikube `v1.4.0`.

[code]

Now, I create the following pod.
[code]

If I describe the pod, I see the following error:

[code]

I followed the steps in https://github.com/kubernetes-sigs/kind/issues/817 and I get the same error:

[code]

So, the error is `406 No

[2019-09-26 07:43] tamalsaha commented on #870
`406` error code seems to be related to `Accept-` header.

This seems like a similar issue: https://github.com/sylabs/singularity/issues/868

[2019-09-26 13:36] aojea commented on #869
@mithunvikram that error typically happens when the pod doesn't have anything listen on that port.

Can you check that the pod `camunda-79bddd6df4-ft5jx` has something listening on port 6000?

[2019-09-26 14:18] shashank-g172 opened #871 "Different behavior when attempting to fetch kind binary"
**What happened**: I'm trying to create a docker image that can execute kind commands and create clusters on the host machine. I'm trying to do this in an automated way (without having to worry about having go on your path, or fetching the kind binary every time) via a maven project. Here's my expected sequence of events:

go get sigs.k8s.io/kind
(from the base directory) cd /src/sigs/k8s.io
go bu

[2019-09-26 15:43] BenTheElder commented on #871
both places we have install documentation cover this:
https://github.com/kubernetes-sigs/kind#installation-and-usage
https://kind.sigs.k8s.io/docs/user/quick-start/#installation

kind requires an official supported version of go https://golang.org/doc/devel/release.html#policy
kind is developed with go modules https://github.com/golang/go/wiki/Modules

go modules must be enabled when getting kind,

[2019-09-26 16:54] BenTheElder commented on #871
`make build` (also mentioned in the docs) .

I'd still recommend downloading the binary though, the builds are reproducible and statically linked so you can verify the binary before starting to use it in CI.

I think this is pretty well covered between the readme and the docs, so I'm going to close this now, but if we've missed something please re-open or file a new issue.

[2019-09-26 16:54] #871 closed

[2019-09-26 17:33] palade opened #873 "Connect to KIND created cluster from Java Kubernetes-API"
I would like to connect to a Kubernetes cluster created using KIND. I can connect to a Kubernetes cluster using kubeadm. The problem is the IP of the API Server, but I don't know how to change it. How can I remotely connect into a cluster created using KIND on a physical machine in the network, from a different physical machine in the same LAN?

[2019-09-26 17:37] BenTheElder commented on #873
We _really_ highly recommend you not expose kind clusters to the internet, they're intended for **local, ephemeral, test** clusters and as such are not designed to be long lived or have a particular mind for security.

If you _really_ want to do this you can set this in the config
[code]
However I really don't reccomend it. To create a production usage cluster shared across many machines there are

[2019-09-26 18:13] palade commented on #873
@BenTheElder I'm using this setup only in a local cluster for development of a Proof of Concept prototype. I added the rquired fields to the .yaml file, however it still has the same localhost ip address.
[code]

[2019-09-26 18:21] BenTheElder commented on #873
those fields are for kind, not for kubeadm

[2019-09-26 18:23] BenTheElder commented on #873
kind.sigs.k8s.io/v1alpha3
[code]

[2019-09-26 18:44] palade commented on #873
@BenTheElder Works like magic! Thank you!

[2019-09-26 18:55] BenTheElder commented on #873
Excellent. :+1:
/close

[2019-09-26 18:55] #873 closed

[2019-09-26 18:55] BenTheElder commented on #870
https://github.com/containerd/containerd/issues/3291

[2019-09-26 22:14] estroz opened #874 "`kubectl run` causes containerd error `content digest ... not found`"
**What happened**:
[code]
**What you expected to happen**:
Idempotent `kubectl run`.

**How to reproduce it (as minimally and precisely as possible)**:
See above, or https://github.com/containerd/containerd/issues/3401.

**Anything else we need to know?**:
This seems to be a bug in containerd that was fixed in https://github.com/containerd/containerd/issues/3401, and released in [v1.2.8](https://g

[2019-09-26 22:30] BenTheElder commented on #874
using `:latest` with `kind load ...` is usually a bug btw, we should consider detecting and warning on that.

https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

[2019-09-26 22:32] BenTheElder commented on #874
I intend to have us on container 1.2.9 or 1.3 for the next kind release.

yes, the problem is their binary releases are only linux/amd64, and the ubuntu / debian packages are not at the latest. we are using the latest packages until we have cross platform builds of arbitrarily new versions. @aojea was looking into this.

cc also @Random-Liu  ... can we get the upstream containerd releases to inclu

[2019-09-26 23:01] estroz commented on #874
@BenTheElder glad to hear you're on top of this.

Is it not feasible to cross-compile the containerd binary in a builder container as a pre-build step, then copy that binary into the base image? I'm likely missing some detail from your release process.

[2019-09-26 23:03] BenTheElder commented on #874
Roughly that's the plan, compiling and packaging it (eh with runc) is not as easy as you might, it's not a single pure Go binary, it's a few that need system c libraries etc.

[2019-09-26 23:04] BenTheElder commented on #874
We have our own cross compile of `ctr` (the client) on cloud build already (search the repo) but that was simpler. @aojea is currently working on the cross compile

[2019-09-26 23:47] tamalsaha commented on #870
@BenTheElder , it seems containerd just fixed this in master which will be part of their 1.13.0 release? Will kind be able to use that version or this fix needs to be ported back to containerd 1.2.x ?

[2019-09-27 02:23] BenTheElder commented on #874
this should get us on 1.2.9 https://github.com/kubernetes-sigs/kind/pull/875

[2019-09-27 02:32] BenTheElder commented on #870
We'd like to get on 1.3 or newer anyhow, but we need binaries for architectures besides amd64 ideally, the upstream containerd release tarballs are only linux/amd64 but, we nominally support ppc64le and arm / arm64 as well.

We're planning to get either upstream containerd releases to have tarballs for more platforms or start building our own release tarballs.

In the meantime we've been on Ubuntu

[2019-09-27 04:10] BenTheElder commented on #154
I have a pretty drastic refactor to put node creation / deletion / interaction behind interfaces ongoing in this branch: https://github.com/BenTheElder/kind/tree/nodes

[2019-09-27 05:39] BenTheElder commented on #734
"CRI"-ish types still need to be moved inline to the config versions. Waiting till after I land the bigger container interaction refactor...

[2019-09-27 06:36] BenTheElder commented on #742
there's significantly more details in errors now, if you run kind with `-v 1` (or any non-zero verbosity) it will dump the stack and command output (which is in the errors)

[2019-09-27 06:36] #742 closed

[2019-09-27 06:47] BenTheElder commented on #746
those changes should be in the current release, but I cannot confirm if they solve this issue or not.

[2019-09-27 08:07] cofyc commented on #746
I've tested `kindest/node:v1.15.3`. It works well.

[2019-09-27 10:53] palade commented on #873
With regards to this, I need to manually edit the apiServerAddress in the .kube to the desired one. After I run kind create cluster command the value of the field apiServerAddress is replaced by localhost. Is there a way to avoid this?

[2019-09-27 11:35] palade opened #877 "Configure capacity of the worker nodes"
Would be possible to set the capacity of the worker nodes when the cluster is created?

[2019-09-27 13:58] mithunvikram commented on #869
Hey @aojea .Yes.I found out.Thanks.

[2019-09-27 13:58] #869 closed

[2019-09-27 14:06] aojea commented on #877
can you elaborate a bit more?
what's your use case?

[2019-09-27 14:27] palade commented on #877
@aojea Doing some scheduler work and would like to consider the CPU and memory capacities of each node. I could use labels for this but was wondering if it is possible to do this when the cluster is setup? Also if labels is the only option, would be possible to tag each node with particular labels from the initialisation script?

[2019-09-27 14:28] aojea commented on #873
try `kind get kubeconfig --internal`

[2019-09-27 14:37] aojea commented on #877
well, that seems interesting.@BenTheElder what do you think?
Basically the worker nodes are docker containers, so we should be able to use docker resource constrains to limit them https://docs.docker.com/config/containers/resource_constraints/
However, I don't know how this will work with nested cgroups :thinking:

[2019-09-27 15:50] BenTheElder commented on #874
new node images should have containerd 1.2.9, we're also hopefully getting multi-arch releases upstream https://github.com/containerd/containerd/pull/3702

[2019-09-27 15:50] BenTheElder commented on #870
xref: https://github.com/containerd/containerd/pull/3702

[2019-09-27 15:51] BenTheElder commented on #110
xref: https://github.com/containerd/containerd/pull/3702 for being able to use upstream builds, we're up to 1.2.9 from newer ubuntu packaging but will likely need this or our own builds to get 1.3 in a reasonable time frame.

[2019-09-27 15:55] BenTheElder commented on #689
/lifecycle active
https://github.com/BenTheElder/kind/tree/nodes -- node API overhaul in progress, I will fix this in that patchset as the node creation is more streamlined and explicitly has access to this information

[2019-09-27 16:48] BenTheElder commented on #746
thanks @cofyc
tentatively closing, please re-open or file a new issue if you see this again!

[2019-09-27 16:48] #746 closed

[2019-09-27 17:25] fedepaol commented on #110
In case somebody is interested, I managed to get a (hacky) solution in kubevirt CI, with the registry as a docker container on the same level of kind nodes.

I get that by injecting the container address in the nodes and by setting the registry as insecure in the containerd configuration file.

PR here: https://github.com/kubevirt/kubevirtci/pull/159

[2019-09-27 20:46] yasker commented on #118
Just a heads up, local path provisioner has added arm support in v0.0.11 release. https://github.com/rancher/local-path-provisioner/releases/tag/v0.0.11

[2019-09-27 22:20] BenTheElder commented on #154
PR for that branch https://github.com/kubernetes-sigs/kind/pull/879

[2019-09-28 04:54] BenTheElder commented on #154
#879 is in, we're _most_ of the way to having this abstracted out for nodes, there's one or two code paths that still depend on specifically docker. I'm working on a follow up to eliminate the rest of those.

[2019-09-28 15:09] WalkerGriggs commented on #877
I might be wrong, but I don't think setting resource upper bounds will impact the current cgroup architecture. I do see performance issues with starving the node of resources, though.

I'm thinking about the UX side of things too; Docker resource constraints are pretty granular. Maybe we only expose some subset of the constraints, or maybe abstract them all together?

[2019-09-28 15:36] BenTheElder commented on #877
Feel free to try this out but IIRC this doesn't work.

Similarly if swap is enabled on the host memory limits won't work on your pods either.

[2019-09-28 15:38] BenTheElder commented on #877
I'm working on decoupling us from docker's command line, when we experiment again with support for ignite and other backends when that is complete, some of those can _actually_ limit things because while they are based around running container images they use VMs :+)

[2019-09-29 00:18] BenTheElder commented on #689
that overhaul mostly landed, and https://github.com/kubernetes-sigs/kind/pull/882 will fix this

[2019-09-29 03:29] #689 closed

[2019-09-30 02:11] howardjohn opened #884 ""failed to init node with kubeadm" when using new base image"
**What happened**:
`kind create cluster` fails with `Error: failed to create cluster: failed to init node with kubeadm: exit status 1`

**What you expected to happen**:
`kind create cluster` does not fail

**How to reproduce it (as minimally and precisely as possible)**:

Apply this pod to a kubernetes cluster should do it:

<details>

[code]
</details>

**Anything else we need to know?**:
We are

[2019-09-30 03:01] BenTheElder commented on #884
to be clear this is not a kind base image, this is the image you are running kind inside of (in a GKE pod?)

[2019-09-30 03:02] BenTheElder commented on #884
can you share the podspec / image?

is there a reason you are using vfs instead of overlay on an emptyDir or similar?

[2019-09-30 03:05] howardjohn commented on #884
Yes this is the image in gke, we are not using a special kind base image. The pod spec is in the issue (collapsed).

I'm not exactly sure why vfs is used.. I can try not using vfs

[2019-09-30 03:11] BenTheElder commented on #884
These are both normal on any cluster using kubeadm, these files simply haven't been written yet and kubelet etc. are crashlooping. It's part of the design of kuebadm

Sep 30 01:51:39 istio-testing-control-plane containerd[136]: time="2019-09-30T01:51:39.9078937

This looks like the actual issue and is likely due to switching to vfs (which docker [does not recommend for production use](https://docs

[2019-09-30 03:37] howardjohn commented on #884
Ok so the `/var/lib/docker` and turning off vfs fixes this. I think just the `/var/lib/docker` is the fix, removing vfs just seems like a good idea in general, but just removing that didn't seem to fix it.

I think this is because in the new image `/var/lib/docker` doesn't actually exist. I think this is due to some aggressive optimizations to the docker image size -- not sure if this will cause o

[2019-09-30 03:43] BenTheElder commented on #884
ACK, we probably had overlay on vfs on overlay(2) 😅

The directory / volume itself shouldn't affect the image size materially.

If it is declared as a `VOLUME` you should get ~ the equivalent without adding a emptyDir to the pod I think (?)

Thanks for the detailed issue!

[2019-09-30 06:32] cofyc opened #887 "node images for 1.16.x?"
**What would you like to be added**:

Publish pre-built node images for 1.16.x.

**Why is this needed**:

Test against Kubernetes 1.16.x with kind.

[2019-09-30 06:52] #884 closed

[2019-09-30 08:05] aojea commented on #887
this is a duplicate of https://github.com/kubernetes-sigs/kind/issues/863

[2019-09-30 08:11] cofyc commented on #887
Thanks! Hope automated image pushing tools can be rolled out soon.

[2019-09-30 08:11] #887 closed

[2019-09-30 09:18] cippaciong commented on #884
Hello, I'm not sure if the errors are related but I'm facing the same error message trying to create a cluster on my laptop.
I don't have any special configuration, I just installed kind 0.5.1 and tried to create a cluster with `kind create cluster`.
Here are the logs: [kind_logs.tar.gz](https://github.com/kubernetes-sigs/kind/files/3669879/kind_logs.tar.gz)
Please let me know if you need addition

[2019-09-30 13:38] nerokiryu opened #888 "Working with a private repo with certificates in kind"
Hi !
I've an issue with a connection to a company repo using certs. Please help, I've been on this issue since Friday.
**I want to download a docker image that is on a server (private repo) on my company network.**

My config is : A windows computer running a centos 7.7 VM and in that centos i run a 3 nodes kind cluster (1 control-plane ans 2 workers).
 I've had a token and an httpheaders in the .

[2019-09-30 14:42] aojea commented on #888
kind is not using docker inside the nodes, this seems a duplicate of #110

Seem there are 2 solutions in the thread, sideloading the images

https://github.com/kubernetes-sigs/kind/issues/110#issuecomment-536028439

or the one provided here https://github.com/kubernetes-sigs/kind/issues/110#issuecomment-536028439

[2019-09-30 14:43] BenTheElder commented on #884
@cippaciong please file a new support issue to track, it's unlikely to be related to what we discussed here.

Have you also checked https://kind.sigs.k8s.io/docs/user/known-issues/ ?

[2019-09-30 15:49] cippaciong opened #889 "Kind fails with error "failed to create cluster: failed to init node with kubeadm: exit status 1""
**What happened**:
Kind doesn't create a cluster when running `kind create cluster` but instead exits with error message:
[code]

**What you expected to happen**:
Kind creates the cluster

**How to reproduce it (as minimally and precisely as possible)**:
- Install kind
- Run `kind create cluster`
- Might be highly dependant on my environment and as such hard to reproduce

**Anything else we need t

[2019-09-30 15:51] cippaciong commented on #884
@BenTheElder Thanks, I checked the known issues and moved from `btrfs` to `overlay2` but the error persists. I opened a new issue #889

[2019-09-30 15:56] BenTheElder commented on #889
for the logs you posted I'm going to say https://kind.sigs.k8s.io/docs/user/known-issues/#docker-on-btrfs

are you sure you've managed to switch to overlay2? the backing filesystem cannot be btrfs, kubernetes and containerd/docker in docker don't work with this. something like ext4 + overlay.

however additionally:

do you have enough free ram?
from docker info:
[code]
kubeadm reccommends 2gb, how

[2019-09-30 16:00] BenTheElder commented on #888
+1 @aojea

that's a fun idea but I don't think this will work correctly, also be aware that kind in multi-control-plane mode needs to manipulate this directory.

Please see #110 for more details and existing discussion around this, as well as https://kind.sigs.k8s.io/docs/user/private-registries/

[2019-09-30 16:07] cippaciong commented on #889
Just to make sure I understand it correctly: setting `overlay2` in `/etc/docker/daemon.json` won't solve the issue if the underlying file system is `btrfs` right?
If that's the case then that's definitely the problem here since my root file system uses `btrfs`.

I would exclude a RAM problem since I have almost 4GB available.

[2019-09-30 16:10] BenTheElder commented on #889
I think if you check docker's logs it will continue using the btrfs driver (?)
I don't have any experience with this driver myself, but it has a number of known issues with docker-in-docker and kubernetes.

[2019-09-30 16:17] nerokiryu commented on #888
Thanks that solve my issue I will side load my images.

It does not solve the problem because the node does not trust this.

You can close this issue.

[2019-09-30 16:18] BenTheElder commented on #888
ack

[2019-09-30 16:18] #888 closed

[2019-09-30 18:41] zcc35357949 opened #890 "Creating Cluster failed in my dind container."
hi, I install go1.13+ in a dind container.And run `kind create cluster`, but it seem to be always failed.
I find in debug logs there are some errors not expected, such as:
[code]
I don't know kind how to validate container runtime,  my dockerd is running normally.
And I also can pull these images manually.

**docker info**
[code]

[kind.log](https://github.com/kubernetes-sigs/kind/files/3672736/ki

[2019-09-30 18:46] BenTheElder commented on #890
is /var/lib/docker a volume?

[2019-09-30 18:47] BenTheElder commented on #890
kind runs a container runtime inside each node container, we do use with docker in docker for CI ourselves but don't necessarily recommend doing that if you can avoid it

see #303, the same points apply to a single container as apply to kubernetes pods

[2019-09-30 19:03] mauilion opened #891 "installing calico requires a change to net.ipv4.conf.all.rp_filter"
**What happened**:
When deploying calico against kind I used the following kind config:
[code]
I then apply the latest calico manifest from: https://docs.projectcalico.org/latest/getting-started/kubernetes/installation/calico

This results in a crashlooping calico-node pod on each host with the following presented in the log:
[code]
This can be worked around by running the following:
[code]
adjust

[2019-09-30 20:49] aojea commented on #891
nice catch

[2019-09-30 22:44] mauilion commented on #891
write up on this by Alex as well I like his solution as well!

https://twitter.com/alexbrand/status/1178768251024760833?s=20

`kubectl -n kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true`

[2019-10-01 01:29] zcc35357949 commented on #890
I run `kind create cluster` in a physical machine which has installed docker with another root dir `/data/docker`, but get the same errors. How can I specify the docker root dir when I use kind?

[2019-10-01 01:44] BenTheElder commented on #890
you shouldn't need to.

can you give more info about `kind create cluster` on your physical machine? have you looked at https://kind.sigs.k8s.io/docs/user/known-issues/?

[2019-10-01 01:44] BenTheElder commented on #890
note that for docker-in-docker the data root must be a volume regardless. see the details in #303 for other docker in docker requirements.

[2019-10-01 02:01] zcc35357949 commented on #890
**docker info in my physical machine**
[code]
[kind.log](https://github.com/kubernetes-sigs/kind/files/3674064/kind.log)

[2019-10-01 02:11] BenTheElder commented on #890
that is from `2017-05-04`, any chance you can use a newer version of docker? I wouldn't be surprised if we're hitting a bug, we definitely aren't testing that far back.

[2019-10-01 05:38] BenTheElder commented on #891
/assign

[2019-10-01 09:00] aojea commented on #890
@zcc35357949 the kubelet is not running, you have to create the cluster with the `--retain` flag and check why is it failing

you can use `kind export logs` and upload a tarball with the folder with the logs if you want us to take a look

[2019-10-01 09:52] cippaciong commented on #889
I did a little bit of research yesterday and it looks like `overlay2` [doesn't support](https://docs.docker.com/storage/storagedriver/select-storage-driver/#supported-backing-filesystems) a `btrfs` backing filesystem, even though `docker info` showed that I was using `overlay2` and all my images were gone (as expected) and new images were created in `/var/lib/docker/overlay2`.

I decided to create

[2019-10-01 09:52] #889 closed

[2019-10-01 12:09] aojea commented on #877
docker resource constraints are working for me with swap, I'll send a PR implementing it
I have one node limited to 100M in this example

![image](https://user-images.githubusercontent.com/6450081/65960563-10663e80-e455-11e9-887f-4d72c2bc656f.png)

[2019-10-01 12:12] aojea commented on #877
/assign

[2019-10-01 12:53] monotek commented on #830
Just had the same problem with rabbitmq chart version 6.7.4.

Chart can be used anyway when "volumePermissions.enabled: true" is set. -> https://github.com/helm/charts/blob/master/stable/rabbitmq/values.yaml#L371

Whats weird to me is, that kind does not post any output and just times out (example: https://circleci.com/workflow-run/77844cea-87b3-4e84-95f9-7f34cf99a334). I had to ssh into the circl

[2019-10-01 14:06] aojea commented on #830
This is explained by Ben here https://github.com/kubernetes-sigs/kind/issues/830#issuecomment-526932268 , seems it's by design in kubernetes :man_shrugging:

The link shows that `kind` worked perfectly, it doesn't do anything else once the k8s cluster is deployed. It seems you have several steps in your config to install helm and some charts

you can add some checks using kubectl or helm status to

[2019-10-01 14:32] monotek commented on #830
Right, the output problem could also be an issue with the chart-testing tool...

[2019-10-01 15:02] BenTheElder commented on #877
I have one node limited to 100M in this example

That of course works but ... does it _actually_ limit everything on the node? Have you deployed a pod trying to use more? What does kubelet report?

[2019-10-01 16:24] aojea commented on #877
[code]
 from https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#specify-a-memory-request-and-a-memory-limit

I modify to use directly and try to use 1.5g memory:

[code]

the pod takes more than 4 mins to be created, it doesn't seem to be a hard limit, maybe we should tweak something on cgroups, but checking inside the node it really seems is limiting the memory

[cod

[2019-10-01 16:26] zcc35357949 commented on #890
I check the dind Dockerfile which I used, it has included `VOLUME /var/lib/docker` .
And I have exported the logs.
[kind_log.tar.gz](https://github.com/kubernetes-sigs/kind/files/3677539/kind_log.tar.gz)

[2019-10-01 16:30] aojea commented on #877
Looking at the kernel docs it seems that this is throttling https://www.kernel.org/doc/Documentation/cgroup-v1/blkio-controller.txt , check the block I/o stats

[code]
do we want this? or is the idea to fail if it overcommit?

[2019-10-01 16:43] aojea commented on #890
seems that is not able to load the components images
[code]
can you check inside the node if the images are there?

[code]

[2019-10-01 16:45] BenTheElder commented on #890
what volume driver are you using for docker in docker?

[2019-10-01 16:49] zcc35357949 commented on #890
Inside the node crictl images:
[code]

[2019-10-01 16:54] zcc35357949 commented on #890
dind container's inspect info:
[code]

[2019-10-01 17:33] zcc35357949 commented on #890
ps -ewf
[code]
docker-containerd config:
[code]

docker info:
[code]

[2019-10-01 17:34] BenTheElder commented on #890
it should probably not be using vfs.

[2019-10-01 17:51] #891 closed

[2019-10-01 17:55] BenTheElder commented on #891
thanks @mauilion !

[2019-10-01 20:08] aojea commented on #890
just curious, what are those minikube references inside that containter?

[2019-10-02 02:01] zcc35357949 commented on #890
It is a dind image which has been installed minikube, but I had deleted minikube cluster before using kind. And using a dind image without minikube I got the same result.

[2019-10-02 02:17] BenTheElder commented on #890
You probably need for docker in docker:
- the cgroup mount from the linked issue
- overlay instead of vfs

For the host, I would start to upgrading to a newer docker.

[2019-10-02 04:26] zcc35357949 commented on #890
I upgrading docker version to 18.06 in my physical machine, and change the storage driver to overlay2.Indeed kind create cluster successfully.
And testing kind in the dind container also passed.
Thanks a lot. @BenTheElder @aojea

[2019-10-02 04:26] #890 closed

[2019-10-02 04:28] BenTheElder commented on #890
Excellent!
This is helpful to know, thank you 😅

[2019-10-02 11:56] paol opened #904 "Creating cluster with 20 worker nodes fails (due to file descriptor exhaustion?)"
When trying to create a cluster with 20 worker nodes + 2 control plane nodes ([config yml](https://github.com/kubernetes-sigs/kind/files/3680872/kind-config-test20.yml.txt)
), the creation fails.

The closest clue to the problem seems to be that the kube-proxy pods in the worker nodes enter a crash loop with the following error:
[code]

There are also many lines of this error in the kube-apiserver

[2019-10-02 18:20] shashank-g172 commented on #871
Thank you very much @BenTheElder. Updating to go 1.13 worked.

[2019-10-02 18:53] shashank-g172 commented on #871
I think I spoke too soon. It worked the first couple of times I ran this experiment, but it started failing again even with the 1.13.1 version. I'm on a Debian 9 machine. Here's my output:

1184 [INFO] --- exec-maven-plugin:1.3.2:exec (get-version-number) @ get-kind-with-exec ---
go version go1.13.1 linux/amd64
2742 [INFO]
2743 [INFO] --- exec-maven-plugin:1.3.2:exec (get-kind) @ get-kind-with-exe

[2019-10-02 18:58] shashank-g172 opened #906 "Following up with Fetching Binary from Maven"
This is a follow up from [the issue which was previously closed](https://github.com/kubernetes-sigs/kind/issues/871)

I think I spoke too soon. It worked the first couple of times I ran this experiment, but it started failing again even with the 1.13.1 version. I'm on a Debian 9 machine. Here's my output:

1184 [INFO] --- exec-maven-plugin:1.3.2:exec (get-version-number) @ get-kind-with-exec ---
g

[2019-10-02 21:34] dlipovetsky opened #907 "use strict config parsing"
**What would you like to be added**:
When I pass a configuration file to kind, e.g., to define extra mounts for the containers, I would like some confirmation that it read and applied this configuration.

This is not output in the debug or trace-level logs.

**Why is this needed**:
The non-strict unmarshalling  ignores configuration malformed in a specific way (e.g. `extraMounts` field has a typo)

[2019-10-02 21:36] BenTheElder commented on #907
I plan to switch to strict marshaling O(soon).

[2019-10-02 21:38] dlipovetsky commented on #907
Strict marshaling would be... strictly better :smile:

[2019-10-03 06:15] BenTheElder commented on #904
this might (?) be inotify limits instead, which tend to be far to low to run dozens of kubelets etc.

20 nodes is a lot more than we typically see people start to try 😅

[2019-10-03 06:17] BenTheElder commented on #904
https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers is a pretty good page on increasing that

[2019-10-03 10:24] cmoulliard opened #915 "Command: kind get nodes / kind get kubeconfig reports "Error: unknown cluster "kind""
## Issue

The commands : `kind get nodes` or `kind get kubeconfig` outputs `Error: unknown cluster "kind"`
Version used:  v0.5.1

Commands issued
[code]

the docker ps is well started
[code]

[2019-10-03 10:41] paol commented on #904
It was inotify limits indeed! I already had fs.inotify.max_user_watches=524288 on the host, but it turns out that is not enough, it's also necessary to increase fs.inotify.max_user_instances.

With the following settings the 20 worker cluster starts up fine, if slowly :grin: (I/O is the killer, would it be possible somehow to share images between nodes instead of copying them N times?)
[code]

It

[2019-10-03 11:35] aojea commented on #915
you have to specify the cluster name, otherwise uses `kind` by default
[code]

try `kind get nodes --name "halkyon"` and it will work

[2019-10-03 11:37] aojea commented on #904
do you mind sending a PR with that @paol ?
:)

/help wanted

[2019-10-03 12:34] cmoulliard commented on #915
Then the message displayed should be `Error: No nodes found for the cluster - kind` instead of `Error: unknown cluster "kind"` for `kind get nodes`

[2019-10-03 12:39] cmoulliard opened #916 "connection to the server 127.0.0.1:59728 was refused - did you specify the right host or port?"
## Issue

When I create a cluster using version `v0.5.1` of kind, I can't access it even if the docker ps is running

[code]

## Info

Version of kind:`v0.5.1`
Machine: Macos + docker-machine

[2019-10-03 13:30] aojea commented on #915
errors messages can be improved for sure, in this case, kind is assuming that you are asking to list the nodes in a cluster named `"kind"` , thus the error `Error: unknown cluster "kind"`
Using `Error: No nodes found for the cluster - kind` can mean that there is currently a cluster named "kind" without nodes, that's not true.

Anyway, agree with you should use a more descriptive error message

[2019-10-03 13:46] aojea commented on #915
/assign
In master, we've lost the log error

[code]

[2019-10-03 14:15] BenTheElder commented on #904
I'm not sure what you mean, we aren't copying images?

[2019-10-03 14:17] BenTheElder commented on #916
kind is untested on docker machine, it is however tested on docker for Mac.

IIRC docker machine is no longer supported by docker.

[2019-10-03 14:50] paol commented on #904
If it's not the docker images that are being copied, then something is! Just starting the above mentioned 22 node cluster consumes over 20G of disk, before even loading my own images. The used space grows linearly with the number of nodes.

[2019-10-03 15:01] paol commented on #904
Just ran a little test, it's definitely the images: doing `kind load docker-image` consumes disk space exactly proportional to the number of nodes.

With the image I tested in fact it was about 2*image_size*nodes (image_size as reported by docker image inspect).

[2019-10-03 15:13] aojea commented on #904
This is expected, you are copying the images inside each node ... you can pass a list if you just want to keep the image only in certain nodes

can you do a `docker ps -s` and `sudo du -sh /var/lib/docker/containers/*`

[2019-10-03 15:17] BenTheElder commented on #904
ah, you didn't mention loading images before :-)

[2019-10-03 15:26] paol commented on #904
@BenTheElder But it also applies to the image used to run the node itself, right? I assume that's the reason that just starting the cluster causes so much disk I/O and space usage.

@aojea Yeah, that's what I assumed was happening, hence my comment that it would be nice if images could be shared.

Here's you go
[code]

[code]

[2019-10-03 15:28] BenTheElder commented on #904
Sort of. We preload them to the extent that we can, so it just needs to unpack them which is less I/O than a full load.

[2019-10-03 15:29] BenTheElder commented on #904
Images cannot be shared on disk currently, but a local registry is probably the best and reasonably viable option for the future.

We're working on things that will make that route easier.

[2019-10-03 15:32] paol commented on #904
I think this can be closed, thanks for the help guys.

[2019-10-03 15:32] #904 closed

[2019-10-03 17:45] BenTheElder commented on #915
not finding nodes is not an error if there are none ... we can improve the message printed though to something like `No nodes found for cluster "kind"` to stderr

compare to `kubectl get`.

`kind get kubeconfig` should absolutely error if it can't obtain the kubeconfig, which requires the control plane nodes.

[2019-10-03 17:49] aojea commented on #915
but ... what happens if the cluster doesn't exist or never existed? should try to list the nodes too?

[2019-10-03 17:51] BenTheElder commented on #915
yes. this is the same for checking if resources exist with kubectl.

we can't know if the cluster ever existed, and our internal "does this cluster exist" check is just listing nodes ...

[2019-10-03 18:38] aojea commented on #915
Ups, then I have to correct my comment here https://github.com/kubernetes-sigs/kind/issues/915#issuecomment-537946679 , I didn't get it that way

[2019-10-04 13:38] aojea commented on #915
/unassign

[2019-10-04 15:17] tao12345666333 commented on #592
/remove-lifecycle rotten

There is a lot of content in the documentation now. Maybe we should do something.

[2019-10-04 15:27] aojea commented on #845
/reopen per conversation in slack https://kubernetes.slack.com/archives/CEKK1KTN2/p1570202642295000?thread_ts=1570196798.288800&cid=CEKK1KTN2

I'd like to find a way to make this easier to configure, mainly for people that want to use kind in their laptops and not in CIs, etcd writing constantly to disk directly is no adding any benefit in this particular scenario

[2019-10-04 19:10] howardjohn opened #921 "Very infrequent "failed to load image: exit status 1" errors"
**What happened**:
We occasionally are seeing issues load kind images. From a rough grep I think this is impacting roughly 3% of our PRs. Note that each PR is running ~20 tests and load ~10 images, and maybe be rerun many times due to test failures or new commits, etc. So this number actually means `kind load` is likely only failing .003% of the time I guess?

**What you expected to happen**:

Ide

[2019-10-05 22:03] BenTheElder commented on #921
Retries is a good idea to explore, though ideally this doesn't fail :/

Logging is substantially more powerful in HEAD, `-v 1` or greater will result in a stack trace being logged on failure, along with the command output if the failure's cause is executing a command.

Have we experimented yet with combining the 10 images with `docker save ...` and then using `kind load image-archive` instead of `

[2019-10-05 22:35] howardjohn commented on #921
I will try the save every thing to one tar approach this week and see if
things improve. Thanks!

On Sat, Oct 5, 2019, 3:03 PM Benjamin Elder <notifications@github.com>
wrote:

[2019-10-05 23:03] #870 closed

[2019-10-06 03:31] BenTheElder commented on #906
it sounds like you don't have modules enabled. (that's the GO111MODULE=on)

since kind already requires docker, I would highly recommend considering the makefile that builds with everything set appropriately in a container. (`make install`)

[2019-10-06 05:04] danderson opened #923 "kind load docker-image doesn't work when adjunct containers are added to the cluster"
**What happened**:

In response to #728, I did as suggested and started tagging "adjunct" containers to my kind cluster with `io.k8s.sigs.kind.cluster=kind-cluster-name`, so that they would get cleaned up by `kind delete cluster` and simplify my E2E testing harness.

Unfortunately, this breaks `kind load docker-image`, because it tries to import the image on all containers having that label. Trunc

[2019-10-06 05:19] danderson commented on #923
To be clear, I suspect this is probably "wontfix, working as intended, please don't subvert kind's container labeling system". I'm opening this to check that this is the right outcome (I think it probably is), so that I can add an epilogue to #728 for anyone who finds that bug via a web search.

[2019-10-06 08:25] aojea commented on #923
You can specify a list of nodes to `kind load docker-image`

`      --nodes strings   comma separated list of nodes to load images into `

can this solve your problem?

[2019-10-06 14:06] AkihiroSuda commented on #863
any ETA for this?

[2019-10-06 16:40] BenTheElder commented on #923
https://github.com/kubernetes-sigs/kind/commit/67e13f83a83ce002d4dd6dab39ea6eaf2f9bb597

We have actually been selecting on roles for a few months now, however the logic is currently "if not external loadbalancer" rather than "if worker or control plane"

[2019-10-06 16:47] BenTheElder commented on #923
swapping that in https://github.com/kubernetes-sigs/kind/pull/924

[2019-10-06 16:53] BenTheElder commented on #863
Currently we publish pre-built node images when we're ready to cut a release of the CLI. We're not quite there being in the middle of a few important transitions in HEAD.

In the future this will change but we're chasing many priorities and don't have the secure first party infrastructure for building these. (see the automated publishing issue in the tracker).

We have also fairly recently a lot o

[2019-10-06 17:44] aojea commented on #863
https://github.com/kubernetes-sigs/kind/issues/197#issuecomment-517791203

[2019-10-06 17:55] BenTheElder commented on #923
I think this should be fixed in HEAD now by https://github.com/kubernetes-sigs/kind/pull/924 but I didn't actually check yet.

[2019-10-07 08:08] pooventhan opened #925 "Support for TeamCity CI"
Hi,

I've attempted to create kind cluster within team city agent (which runs on docker) with the following steps:
[code]

Upon executing, `kind create cluster --name=testcluster`, it stucks at ensuring node image kindest/node
[code]

Also did further check by pulling kindest/node image, which gives below error:
[code]
**Docker info:**
[code]

Appreciate if anyone can shed some light on this.

[2019-10-07 10:05] aojea commented on #925
it seems an issue with overlay2 in a containerized environment

https://stackoverflow.com/a/47800929

the github issue linked has a patch that was merged and fix the issue, don't know in which docker version though

[2019-10-07 13:34] aojea commented on #845
I think this will work

I was thinking more about this, and can't see the "durability" difference between using a folder inside the container or using a tmpfs volume for the etcd data dir, the data will  be available as long as the container is alive, no?

However, etcd writing to a tmpfs volume will be a big performance improvement, at a cost of less memory available, of course

[2019-10-07 14:11] neolit123 commented on #845
i'd be interested if this will prevent me from testing 3 CP setups with kind on my setup.
it doesn't have RAM for 4 CPs :)

[2019-10-07 14:25] BenTheElder commented on #845
It's NOT a folder inside the container, it's on a volume.

When we fix kind to survive host reboots (and we will) then this will break it again.

It also will consume more RAM of course.

[2019-10-07 14:47] aojea commented on #845
https://github.com/kubernetes-sigs/kind/blob/master/pkg/internal/cluster/providers/docker/provision.go#L164-L169

I see it now :man_facepalming:

[2019-10-07 16:22] howardjohn opened #926 "Documentation for inter-cluster direct pod to pod communication"
**What would you like to be documented**:

Capturing Slack conversation:
John Howard  19 hours ago
Is it possible to do something similar to "--enable-ip-alias" in GKE? This creates a "VPC-native cluster" which allows direct pod-pod communications by internal IP between two clusters. I am hoping to do the same on kind, since currently we have a test that does this on GKE (our last test not on kind

[2019-10-07 16:27] howardjohn opened #927 "`kind load image-archive` from stdin"
**What would you like to be added**:

Pass `-` as the argument for `load image-archive` to read from stdin

**Why is this needed**:

Its not *needed*, but it would allow us to do `docker save image1 image2 | kind load image-archive -` with no intermediate step.

I am not sure if this is more performant, a good idea, or feasible though

[2019-10-07 16:28] BenTheElder commented on #926
I want to point out first that doing this will require depending on some internal details that are otherwise swappable:

- The CNI / network daemon ("kindnetd") is responsible for pod routing, if we need to switch back to a third party maintained solution (eg calico) in the future, the routing will be different. CNI / Kubernetes do not define joining pod networks between clusters, I'm not sure wha

[2019-10-07 16:30] BenTheElder commented on #927
we can do this, but we'll need to hold at least part of it in memory and there are tradeoffs there..

you can do this in bash already with `kind load image-archive <(docker save image1 image2)`

https://en.wikipedia.org/wiki/Process_substitution

[2019-10-07 16:43] howardjohn commented on #927
Good point about process substitution, I forgot about that. I'll try that out in CI and see how it goes

Right now we are only using a single node

Given we can do this in bash this probably is very low priority or not needed at all -- feel free to close if you want

[2019-10-07 16:53] howardjohn opened #928 "Infrequent `failed to init node with kubeadm: exit status 1` on create cluster"
(maybe similar to https://github.com/kubernetes-sigs/kind/issues/921 - basically copy pasting that issue and changing a few words. We can consolidate if this is likely the same root cause)

**What happened**:

We occasionally are seeing issues setting up kind in CI. From a rough grep I think this is impacting roughly 1.5% of our PRs. Note that each PR is running ~20 tests and maybe be rerun many t

[2019-10-07 16:54] howardjohn commented on #927
Interesting:

our current approach, using load docker-image
[code]

Using image-archive
[code]

Will test again not using the process substitution

[2019-10-07 17:23] dlipovetsky commented on #284
I [mentioned this in slack](https://kubernetes.slack.com/archives/CEKK1KTN2/p1566004736094200) some time back, but this seems like a good place to leave a note.

When kind creates a node, it inherits the DNS configuration (`/etc/resolv.conf`) of the host. Changes to the host's configuration are not reflected on the kind node.

For example, if you start a kind cluster on your laptop, then switch to

[2019-10-07 17:48] BenTheElder commented on #925
this probably ought to be tracked against the kind-ci repo, kind has no special support for any particular CI innately.

[2019-10-07 17:51] BenTheElder commented on #928
I've been running around chasing other issues (also oncall for prow.k8s.io and a bunch of other infra currently...) but I have been looking into this intermittently as a possible issue in Kubernetes CI as well.

I currently suspect that `docker exec` is flaky, which is ... problematic. We have some possible options but none of them are super great.

A quick (and rather unfortunate) mitigation migh

[2019-10-07 17:52] BenTheElder commented on #907
I've got two PRs open for strict marshalling, just need to do a little more work to determine which route we go forward with.

[2019-10-07 17:53] #874 closed

[2019-10-07 17:55] BenTheElder commented on #916
lacking any other evidence, I'm going to dedupe this with the previously existing issue https://github.com/kubernetes-sigs/kind/issues/916

[2019-10-07 17:55] #916 closed

[2019-10-07 17:56] BenTheElder commented on #748
this seems to be the one remaining one. it will be some variant on https://kind.sigs.k8s.io/docs/user/quick-start/#enable-feature-gates-in-your-cluster

[2019-10-07 21:19] BenTheElder opened #929 "pickup containerd 1.3 backports"
we're already working on this, but opening an issue to track

TLDR: containerd has backported a runc upgrade to the release/1.3 branch for a CVE patch. We should get that built and upgrade kind to it.

related: https://github.com/kind-ci/containerd-nightlies/pull/4

[2019-10-07 21:21] BenTheElder commented on #929
spoke to @aojea about this issue, we're opting to NOT switch to containerd nightlies at HEAD just yet, however we will use a nightly from the release branch periodically in order to pick up backported fixes. (which should be more stable).

[2019-10-07 22:09] aojea commented on #927
different disks in CI? you can test the speed with `dd` to try to find out the bottleneck https://www.cyberciti.biz/faq/howto-linux-unix-test-disk-performance-with-dd-command/

[2019-10-07 23:34] BenTheElder commented on #929
we got the CI building these now, (thanks @aojea for helping sort this out) -- filed https://github.com/kubernetes-sigs/kind/pull/930

[2019-10-08 01:51] #929 closed

[2019-10-08 02:46] BenTheElder commented on #927
That is disappointing.

I think the next step performance wise is to compare to using a local registry, though I have doubts for the single node case...

Now that we've spun up containerd build infra and have kind on 1.3+ it should be easier to get a good option for local registries.

One more option is to consider tuning the CI to back kind memory, but that might be a bit expensive. I want to exp

[2019-10-08 02:46] BenTheElder commented on #927
ER to back kind with RAM instead of disk, by using a memory backed emptyDir.

[2019-10-08 03:37] BenTheElder commented on #485
https://github.com/kubernetes-sigs/kind/pull/932 + recent containerd build infra and upgrades should reduce the memory overhead per pod.

[2019-10-08 05:02] cofyc opened #933 "load images even if images exist in nodes"
**What would you like to be added**:

Able to overwrite images in nodes, e.g. `kind load docker-image --force <image>`.

**Why is this needed**:

Useful in building and testing images in local cluster started by the kind.

Workarounds:

- use different tag each time

[2019-10-08 05:09] BenTheElder commented on #933
we load images if the tags are different OR if the image digest is different.

why would we load an image if the tag and digest are the same?

[2019-10-08 05:10] BenTheElder commented on #933
what version are you using? https://github.com/kubernetes-sigs/kind/issues/680

[2019-10-08 05:18] cofyc commented on #933
it's better to check the image ID. I was using `kind version v0.5.0-alpha`. After upgrading to `0.5.1`, it works now!

[2019-10-08 05:18] cofyc commented on #933
Thanks!

[2019-10-08 05:18] #933 closed

[2019-10-08 05:20] BenTheElder commented on #933
phew, thanks! I was worried that bug came back 😅

[2019-10-08 05:29] BenTheElder commented on #745
no activity for months now...
please re-open or file a new issue if there is further follow up

[2019-10-08 05:29] #745 closed

[2019-10-08 06:00] BenTheElder commented on #863
`kindest/node:v1.16.1@sha256:fa06fad0f635401fc0822ae8ad4d81d2b79d8481fc3223c5f48b36d4369d6da6` will be the new temporary default for kind at HEAD, currently https://github.com/kubernetes-sigs/kind/commit/37030ed6aca63c577a7660e483ec42ab87c6f59a.

it has not been tested with other versions.

[2019-10-08 06:00] BenTheElder commented on #887
https://github.com/kubernetes-sigs/kind/issues/863#issuecomment-539348706

[2019-10-08 10:16] aojea commented on #926
This is simple routing, there is no problem creating clusters in different networks, just it needs to add a few routes more in the host and be careful with the iptables rules.

Regarding CNIs, the only problem is with the iptables rules they insert, kindnet is so simple that makes it perfect for this scenario.

So for so good, in order to make this work with current kind version you can create 2 c

[2019-10-08 15:53] howardjohn commented on #926
@aojea seems to work with some minor changes. In step 1 you mention

But then later reference `10.10.1.0/24`. I had to change this to either `10.10.0.0/24` or `10.10.1.0/16`. Am I doing something wrong there?

Here is my script:
[code]

[2019-10-08 16:09] aojea commented on #926
I didn't explain it correctly, podSubnet is splitted in smaller subnets assigned to each node, this is the value that you have to obtain.
You can obtain it from the cni confing in the node
[code]

or from the kubernetes API `node.Spec.PodCIDR}`

[2019-10-08 18:11] howardjohn commented on #926
@aojea thanks for that help, that seems to work! Here is my refined script:
[code]

[2019-10-09 11:07] aojea commented on #724
/close

I think that logging has improved a lot in newer versions thanks to Ben

[2019-10-09 11:07] #724 closed

[2019-10-09 18:28] shashank-g172 commented on #906
@BenTheElder , the last issue had a response where Go 1.13.1 would have modules enabled by default. Is that not true?

I tried enabling it with the -u flag as suggested in this document here: https://github.com/golang/go/wiki/Modules which led me to a different issue:

5732 [INFO] --- exec-maven-plugin:1.3.2:exec (get-kind) @ get-kind-with-exec ---
# sigs.k8s.io/kind/pkg/internal/util/kustomize
/d

[2019-10-09 20:07] BenTheElder commented on #906
when kind 1.13 came out it had modules "auto" by default which depends (previously it was slated to be "on") :(

`-u` does not enable modules, it enables updating dependencies, which you should not do.

[2019-10-09 20:07] BenTheElder commented on #906
https://github.com/golang/go/wiki/Modules#recent-changes covers `-u`

[2019-10-09 20:08] BenTheElder commented on #906
the correct commands are in https://kind.sigs.k8s.io/docs/user/quick-start/#installation

[2019-10-09 23:17] BenTheElder commented on #925
inability to pull a docker image is definitely a teamcity bug, I'm going to point this back to https://github.com/kind-ci/examples/issues/14, but also ask for input from the slack channel

[2019-10-09 23:17] #925 closed

[2019-10-10 00:31] BenTheElder commented on #928
Regarding the cgroups errors with https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17400/e2e-bookInfoTests-trustdomain_istio/1420 I think we've stopped encountering these on prow.k8s.io since some upgrades (to the cluster, to docker in the image, tuning the inotify watches, etc...), I'm not sure which change fixed it though. :disappointed:

[2019-10-10 15:52] ysmaoui commented on #746
I am still having this issue with   kind version v0.5.1  , as this version was submitted on August 21 and judging from the comments I guess the fix is still not released, right?

Any idea when can we get a kind release with the fix for this bug?

Thanks

[2019-10-10 16:11] BenTheElder commented on #746
the release is delayed on rounding out the set of mildly breaking changes we'll land to consolidate that to one release that requires migration, we're trying to finish those up and avoid future ones.

I expect maybe another week or two, depending ...

in the meantime `GO111MODULE=on go get sigs.k8s.io/kind@7842d72f04807a716247295130e0010660438ca5` should pin to the current commit.

HEAD works fine

[2019-10-11 01:58] tao12345666333 commented on #702
Another interesting project https://github.com/alexellis/inlets-operator#video-demo

It has some examples with kind.  https://github.com/alexellis/inlets-operator#run-the-go-binary-with-packetcom

[2019-10-11 01:58] tao12345666333 commented on #702
/remove-lifecycle stale

[2019-10-11 13:13] bjethwan commented on #891
It seems to be messing up DNS (I was following you TGIK 075)
And while everything is working fine with kind default cni.
Calico one is giving issues, when I used "kubectl -n kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true"

$ k exec -it nginxd-667bdf4c99-qsbrv -- bash
root@nginxd-667bdf4c99-qsbrv:/# curl google.com
curl: (6) Could not resolve host: google.com
root@nginxd-667bdf

[2019-10-11 15:49] BenTheElder commented on #891
new images set rp_filter so you won't have to do this anymore

[2019-10-11 16:33] aojea commented on #926
/close

Thanks for sharing

[2019-10-11 16:33] #926 closed

[2019-10-11 19:33] #523 closed

[2019-10-11 23:31] ksk4242 opened #941 "x509 error Unknown Authority"
I have been trying to create a KinD cluster with a master and 2 worker nodes.  However, when I go to load images into the cluster, the pods are created but they stay in the "Not Ready" status.  When I check the error that is where I find the x509 error "Unknown Authority."  So to try and remedy things I have created the certs as per the Kubernetes pages (at least I believe I have followed the step

[2019-10-11 23:35] BenTheElder commented on #941
There shouldn't be any certs involved in loading to the cluster. are you using `:latest` tags maybe?

https://kind.sigs.k8s.io/docs/user/quick-start/#loading-an-image-into-your-cluster

where are you seeing the x509 error, exactly?
what certs have you created?

if you provide more details about what you're trying to do, absolutely.

see also https://kind.sigs.k8s.io/docs/user/quick-start/#loading-

[2019-10-12 02:32] zcc35357949 commented on #941
I had trouble with this too. I want to pull the image from my private registry,such as harbor...
But pod can not come to ready with X509 error, although I have configured the registry self-signed cert in /etc/docker/certs.d/xxx.

Now I know that in fact kind's k8s nodes  use containerd  directly instead of dockerd, so the cert directory may not be loaded.

Is there any solution to config the regis

[2019-10-12 02:33] BenTheElder commented on #941
kind's nodes need to run their own container runtime in general, kubelet cannot share them, so they won't have host files.

the nodes are ~ubuntu, so you can `docker exec` to them and install certs https://askubuntu.com/questions/73287/how-do-i-install-a-root-certificate

[2019-10-12 03:30] zcc35357949 commented on #941
I copy my self-signed certificate to /usr/local/share/ca-certificates/ and use `update-ca-certificates` add it.
[code]
But it doesn't work.
[code]

[2019-10-12 06:48] aojea opened #942 "kind export logs sometimes doesn't export logs on all nodes on failure"
**What happened**:

When the tar command fails to export the logs in one node it seems that doesn't try to continue exporting the logs of the other nodes

**What you expected to happen**:

Obtain the logs on all nodes

**How to reproduce it (as minimally and precisely as possible)**:

There is several occurrences in the CI

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-co

[2019-10-12 06:53] aojea commented on #942
it seems that if some files were changed during backup, tar will exit with 1 afterward 🤔

[2019-10-12 07:11] aojea commented on #942
/assign

[2019-10-12 07:58] aojea opened #944 "kindnet panics sometimes on ip6tables-restore and iptables-restore"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_kind/943/pull-kind-conformance-parallel-ipv6/1182919191846457348/artifacts/logs/kind-worker2/pods/kube-system_kindnet-g248m_e664ffe1-a561-4897-8952-487625db3a1d/kindnet-cni/2.log

**Anything else we need

[2019-10-12 07:59] aojea commented on #944
/assign

[2019-10-12 11:30] ksk4242 commented on #941
I will give that a try as well!  Much like zcc35357949, i was trying to pull an image (from my Docker repo) with no luck.  I am also trying to run KinD in a Ubuntu 18.04 VirtualBox VM.  Here is an example I used from the Kubernetes site to execute my deployment:

apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
spec:
  containers:
  - name: myapp-container
    image: n

[2019-10-12 14:31] ksk4242 commented on #941
@BenTheElder That worked!!  I now have my containers running in my cluster...thank you very much!

[2019-10-12 16:33] aojea commented on #944
The lines are exactly the same as the ones created 1 minute before, however, this time fail to commit them

[code]

maybe a bug in iptables or in the kernel of that instance?

[2019-10-12 16:38] zcc35357949 commented on #941
Is your certificate self-signed?

[2019-10-12 17:18] aojea commented on #944
it's happening with ipv4 too

[code]

[2019-10-12 17:36] aojea commented on #944
Confirmed that is causing flakiness, these tests failed because of timeouts are having those panics

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-conformance-kind-ipv6/1182272891635372032

I'm starting to think that it can be a race condition or a conflict with others (kube-proxy, kubelet, ..)

[2019-10-12 17:56] aojea commented on #944
reproduced running the e2e test suite and this inside kindnet

[code]
test.tables contains a snapshot of the tables.

I think that the first step is something that Ben already mentioned several times, we are panicing too much in  kind, this iptables error is clearly recoverable since we run it in a loop

[2019-10-12 20:14] #942 closed

[2019-10-12 20:32] aojea commented on #921
The containerd file contains several errors about failing to load the images

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/17569/e2e-simpleTests_istio/1326/artifacts/kind/istio-testing-control-plane/containerd.log

[2019-10-12 20:36] howardjohn commented on #921
Seems plausible, I'll drop the parallelism a bit and see what happens.

[2019-10-12 21:02] aojea commented on #944
some logs that seems related in the kube-proxy logs

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/83711/pull-kubernetes-conformance-kind-ipv6/1182537871349780480/artifacts/logs/kind-worker2/containers/kube-proxy-bxz9q_kube-system_kube-proxy-ccd5328453516a1097b4abef9b00764ea0b67d51c7c135cf3e2f4b6d56f1de5d.log

[2019-10-13 00:01] #451 closed

[2019-10-13 22:06] jdolitsky opened #948 "Docker Hub tags for v1.15.4 and v1.14.7?"
Wondering if these versions can be built and pushed to [kindest/node](https://hub.docker.com/r/kindest/node/tags) repo on Docker Hub?

If there is somewhere in automation scripts to enable this please let me know and I can add.

[2019-10-13 22:42] aojea commented on #948
this is a duplicate of https://github.com/kubernetes-sigs/kind/issues/863#issuecomment-538765735 , please read the comment I linked to understanding current status

[2019-10-13 23:24] BenTheElder commented on #948
This is https://github.com/kubernetes-sigs/kind/issues/197. I will be working on this in Q4.

[2019-10-13 23:24] #948 closed

[2019-10-13 23:27] BenTheElder commented on #948
Also, the issue will be infra mainly rather than the scripts. The Kubernetes CI infra is not suitably secure for publishing images. We'll figure something out.

[2019-10-14 11:38] aojea commented on #944
hopefully this will reduce the flakiness https://testgrid.k8s.io/conformance-kind#kind%20(IPv6),%20master%20(dev)%20%5Bnon-serial%5D&width=5

[2019-10-14 13:16] jdolitsky commented on #948
ok thank you!

[2019-10-14 21:30] BenTheElder commented on #941
Excellent @ksk4242, sorry that's such a pain. I'm going to work on some more options for this soon... keep en eye on #602, the requirements should be ~similar.

[2019-10-14 21:45] BenTheElder commented on #837
this should be an easy one ... just copy the details from the getting started guide that match the command blob from linux.

IE the "on mac / linux" and "windows" part of https://kind.sigs.k8s.io/docs/user/quick-start/#installation should replace the bit that is currently POSIX specific:

https://github.com/kubernetes-sigs/kind#installation-and-usage